Repository uyuni-project/uyuni, changes with the owners that .github/CODEOWNERS names for each.
All owners: @uyuni-project/release-engineering, @uyuni-project/python, @uyuni-project/frontend, @uyuni-project/qe, @cbbayburt, @uyuni-project/java

.github/CODEOWNERS:

# CODEOWNERS info & syntax
# Lines starting with "#" are comments.
#
# Each line is a file pattern followed by one or more owners.
#
# Order is important; the last matching pattern takes the most
# precedence.
#
# Owners can be specified by email address or GitHub username
#
# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
#
# Patterns
#
# Whole repository
# * @global-owner
#
# Directory (without subdirectories)
# docs/* @tech_writer
#
# Directory (including subdirectories)
# apps/ @app_developer
#
# Adding a leading "/" to a pattern means the directory must
# be in the root of the repository.
#
# Empty Pattern -> no owner (@app_developer owns all of apps/ except apps/github)
# apps/ @app_developer
# apps/github

# Uyuni Code Owners

# Release Engineering
rel-eng/ @uyuni-project/release-engineering
tito.props @uyuni-project/release-engineering

# Cobbler
java/conf/cobbler/snippets/ @uyuni-project/python

# Python
*.py @uyuni-project/python
# This file only holds data, no Python code
mgr_bootstrap_data.py

# Frontend
web/ @uyuni-project/frontend
branding/ @uyuni-project/frontend
*.jsp @uyuni-project/frontend
*.jspf @uyuni-project/frontend
.github/workflows/automatic-frontend-lint-fix-pr.yml @uyuni-project/frontend
.github/workflows/frontend-dependency-audit.yml @uyuni-project/frontend
.github/workflows/frontend-lint.yml @uyuni-project/frontend
.github/workflows/javascript-build.yml @uyuni-project/frontend
.github/workflows/javascript-unit-tests.yml @uyuni-project/frontend
.github/workflows/typescript-compilation.yml @uyuni-project/frontend
.yarnrc @uyuni-project/frontend

# QE
testsuite/ @uyuni-project/qe
.github/Maintenance_Update.md @uyuni-project/qe
.github/workflows/rubocop.yml @uyuni-project/qe
.rubocop.yml @uyuni-project/qe

# mgr-libmod
susemanager-utils/mgr-libmod/ @cbbayburt

# Generic fallback for Java, apart from changelog files
java/ @uyuni-project/java
java/*.changes*

# Individual Java packages

# XMLRPC API
java/code/src/com/redhat/rhn/frontend/xmlrpc/ @uyuni-project/frontend

# HTTP API
java/code/src/com/suse/manager/api/ @uyuni-project/frontend

# Content Lifecycle Management
java/code/src/com/redhat/rhn/manager/contentmgmt/ @uyuni-project/frontend
java/code/src/com/suse/manager/webui/controllers/contentmanagement/ @uyuni-project/frontend
java/code/src/com/redhat/rhn/domain/contentmgmt/ @uyuni-project/frontend

# Maintenance Windows
java/code/src/com/suse/manager/model/maintenance/ @uyuni-project/frontend
java/code/src/com/suse/manager/webui/controllers/maintenance/ @uyuni-project/frontend
java/code/src/com/suse/manager/maintenance/ @uyuni-project/frontend
java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowDataJson.java @uyuni-project/frontend

# Minion Bootstrapping
java/code/src/com/suse/manager/webui/controllers/bootstrap/ @uyuni-project/frontend
java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java @uyuni-project/frontend
java/code/src/com/suse/manager/webui/utils/gson/BootstrapParameters.java @uyuni-project/frontend

# Notification Messages
java/code/src/com/redhat/rhn/domain/notification/ @uyuni-project/frontend
java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java @uyuni-project/frontend
java/code/src/com/suse/manager/webui/utils/gson/NotificationMessageJson.java @uyuni-project/frontend

# Websockets
java/code/src/com/suse/manager/webui/websocket/ @uyuni-project/frontend

configure podman timezone from host
  containers/server-systemd-services/uyuni-server.service
Owners: none

Initial implementation
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/core/intl/TODO.md
  web/html/src/core/intl/index.tsx
  web/html/src/package.json
  web/html/src/utils/translate.tsx
  web/html/src/yarn.lock
Owners: @uyuni-project/frontend

Update docs
  web/html/src/components/dialog/ActionConfirm.tsx
  web/html/src/core/intl/index.tsx
  web/html/src/utils/translate.tsx
Owners: @uyuni-project/frontend

drop traditional debian client code
  client/debian/DEBIAN-HOWTO
  client/debian/apt-spacewalk/50spacewalk
  client/debian/apt-spacewalk/LICENSE
  client/debian/apt-spacewalk/Makefile.python
  client/debian/apt-spacewalk/apt-spacewalk.spec
  client/debian/apt-spacewalk/packages.py
  client/debian/apt-spacewalk/post_invoke.py
  client/debian/apt-spacewalk/pre_invoke.py
  client/debian/apt-spacewalk/pylintrc
  client/debian/apt-spacewalk/spacewalk
  client/debian/apt-spacewalk/src/apt-spacewalk.changes
  client/debian/python-dmidecode/Stop-linking-with-libxml2mod.patch
  client/debian/python-dmidecode/python-dmidecode.spec
  client/debian/python-hwdata/python-hwdata.spec
Owners: @uyuni-project/python

drop susemanager-upgrade.sh
  susemanager/bin/susemanager-upgrade.sh
  susemanager/susemanager.changes.mcalmer.cleanup-sudo-config
Owners: none

drop spacewalk-setup-sudoers
  spacewalk/setup/Makefile.PL
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/bin/spacewalk-setup-sudoers
  spacewalk/setup/share/sudoers.clear
  spacewalk/setup/spacewalk-setup.changes.mcalmer.master
  spacewalk/setup/spacewalk-setup.spec
Owners: none

remove python2 artifacts
  spacewalk/admin/salt-secrets-config.py
  spacewalk/admin/spacewalk-admin.changes.mcalmer.spacewalk-admin-cleanup
  spacewalk/admin/spacewalk-admin.spec
Owners: @uyuni-project/python
