Repository uyuni-project/uyuni, changes with the owners that .github/CODEOWNERS names for each.
All owners: @release-engineering, @SchoolGuy, @uyuni-project/python, @uyuni-project/frontend, @uyuni-project/qe

Disallow deselecting mandatory child of current base channel
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection-rows.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/child-channel.tsx
Owners: @uyuni-project/frontend

Restructure channel state management
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-api.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-processor-transforms.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-processor.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection-transforms.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.test.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.worker.ts
Owners: @uyuni-project/frontend

Ensure rigid types in channel derivation
  web/html/src/components/virtual-list/VirtualList.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection-transforms.ts
Owners: @uyuni-project/frontend

Add route for React Virtual systems list
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
  susemanager-frontend/yarn.lock
  web/html/src/manager/systems/index.ts
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Add new query returning the list of all virtual systems
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/dto/VirtualSystemOverview.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualSystem.java
Owners: none

Disable checkboxes for non registered systems
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Fetch systems list from API and display them in table
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Add search field to filter by system name
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Append 'add to SSM' functionality
  java/code/src/com/suse/manager/webui/controllers/SsmController.java
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Allow checkboxes in table component to be disabled
  web/html/src/components/table/Table.tsx
  web/html/src/components/table/TableDataHandler.tsx
Owners: @uyuni-project/frontend

Expose all virtual systems via a REST API
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualSystem.java
Owners: none

Add download CSV button
  java/code/src/com/redhat/rhn/frontend/dto/SystemOverview.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/CSVDownloadController.java
  susemanager-frontend/yarn.lock
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Add changes in .change files
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Owners: @uyuni-project/frontend

Remove route to old virtual systems page
  java/code/src/com/redhat/rhn/frontend/action/systems/VirtualSystemSetupAction.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Owners: none

Virtual systems list now uses paged data
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

virtual-list.tsx cleanup
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/manager/systems/index.ts
  web/html/src/manager/systems/virtual-list.renderer.tsx
  web/html/src/manager/systems/virtual-list.tsx
  web/html/src/utils/data-providers/simple-data-provider.ts
Owners: @uyuni-project/frontend

Remove the legacy page code
  java/code/src/com/redhat/rhn/frontend/action/systems/VirtualSystemSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/test/VirtualSystemsListActionTest.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/taglibs/VirtualListDisplayTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/list/filters/VirtualSystemOverviewFilter.java
  java/code/src/com/redhat/rhn/frontend/taglibs/list/row/VirtualSystemsRowRenderer.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/systems/virtuallist.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Owners: @uyuni-project/frontend

TableDataHandler: fix selectAll support of isSelectableItem
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/utils/data-providers/simple-data-provider.ts
Owners: @uyuni-project/frontend

Merge table isSelectEnabled and selectable properties
  web/html/src/components/table/CustomDataHandler.tsx
  web/html/src/components/table/Table.tsx
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/manager/systems/virtual-list.tsx
  web/html/src/utils/data-providers/simple-data-provider.ts
Owners: @uyuni-project/frontend

Virtual Systems list: add links to vm system and channel
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Code cleanup
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/action/systems/VirtualSystemSetupAction.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/CSVDownloadController.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
Owners: none

Reactify SSM counter
  java/code/webapp/WEB-INF/includes/header.jsp
  web/html/src/manager/shared/websocket/useWebSocket.ts
  web/html/src/manager/systems/index.ts
  web/html/src/manager/systems/ssm/ssm-counter.renderer.tsx
  web/html/src/manager/systems/ssm/ssm-counter.tsx
Owners: @uyuni-project/frontend

More events handled by Notifications websocket
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/websocket/Notification.java
  web/html/src/manager/notifications/notifications.tsx
Owners: @uyuni-project/frontend

Help reusing DWRItemSelector logic
  java/code/src/com/redhat/rhn/frontend/taglibs/DWRItemSelector.java
Owners: none

virtual-list: use a REST API to change the SSM items
  java/code/src/com/redhat/rhn/manager/rhnset/RhnSetManager.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/SetController.java
  java/code/src/com/suse/manager/webui/controllers/SsmController.java
  java/code/src/com/suse/manager/webui/websocket/Notification.java
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

QA: Fix check comunnication with private network
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/twopence_init.rb
Owners: @uyuni-project/qe

BV terminals have no reason to be reachable by network
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Owners: @uyuni-project/qe

BV terminals have no reason to be reachable by network
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Owners: @uyuni-project/qe

BV terminals have no reason to be reachable by network
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Owners: @uyuni-project/qe

Translated using Weblate (Slovak)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
Owners: none

Activation Keys: Only show the warning for SUMA Default, when the default channel is selected
  web/html/src/manager/systems/activation-key/activation-key-channels.tsx
Owners: @uyuni-project/frontend

Remove unnecessary dependency
  proxy/proxy/spacewalk-proxy.changes
  proxy/proxy/spacewalk-proxy.spec
Owners: none

Ruby syntax error
  testsuite/features/support/twopence_init.rb
Owners: @uyuni-project/qe

Ruby syntax error
  testsuite/features/support/twopence_init.rb
Owners: @uyuni-project/qe

Remove unnecessary dependency
  proxy/proxy/spacewalk-proxy.changes
  proxy/proxy/spacewalk-proxy.spec
Owners: none

Add new query returning the list of all virtual systems
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/dto/VirtualSystemOverview.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualSystem.java
Owners: none

Add changes in .change files
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Owners: @uyuni-project/frontend

Add route for React Virtual systems list
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
  susemanager-frontend/yarn.lock
  web/html/src/manager/systems/index.ts
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Add download CSV button
  java/code/src/com/redhat/rhn/frontend/dto/SystemOverview.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/CSVDownloadController.java
  susemanager-frontend/yarn.lock
  web/html/src/manager/systems/virtual-list.tsx
Owners: @uyuni-project/frontend

Reactify SSM counter
  java/code/webapp/WEB-INF/includes/header.jsp
  web/html/src/manager/shared/websocket/useWebSocket.ts
  web/html/src/manager/systems/index.ts
  web/html/src/manager/systems/ssm/ssm-counter.renderer.tsx
  web/html/src/manager/systems/ssm/ssm-counter.tsx
Owners: @uyuni-project/frontend

.github/CODEOWNERS:

# CODEOWNERS info & syntax
# Lines starting with "#" are comments.
#
# Each line is a file pattern followed by one or more owners.
#
# Order is important; the last matching pattern takes the most
# precedence.
#
# Owners can be specified by email address or GitHub username
#
# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
#
# Patterns
#
# Whole repository
# * @global-owner
#
# Directory (without subdirectories)
# docs/* @tech_writer
#
# Directory (including subdirectories)
# apps/ @app_developer
#
# Adding a leading "/" to a pattern means the directory must
# be in the root of the repository.
#
# Empty Pattern -> no owner (@app_developer owns all of apps/ except apps/github)
# apps/ @app_developer
# apps/github

# Uyuni Code Owners

# Release Engineering
rel-eng/ @release-engineering
tito.props @release-engineering

# Cobbler
java/conf/cobbler/snippets/ @SchoolGuy

# Python
*.py @uyuni-project/python

# Frontend
web/ @uyuni-project/frontend
branding/ @uyuni-project/frontend
susemanager-frontend/ @uyuni-project/frontend
*.jsp @uyuni-project/frontend
*.jspf @uyuni-project/frontend
.github/workflows/javascript-build.yml @uyuni-project/frontend
.github/workflows/javascript-lint.yml @uyuni-project/frontend
.github/workflows/javascript-unit-tests.yml @uyuni-project/frontend
.github/workflows/typescript-compilation.yml @uyuni-project/frontend

# Testsuite
testsuite/ @uyuni-project/qe
