Repository uyuni-project/uyuni, changes with the owners that .github/CODEOWNERS names for each.
All owners: @release-engineering, @SchoolGuy, @uyuni-project/python, @uyuni-project/frontend, @uyuni-project/qe

.github/CODEOWNERS:

# CODEOWNERS info & syntax
# Lines starting with "#" are comments.
#
# Each line is a file pattern followed by one or more owners.
#
# Order is important; the last matching pattern takes the most
# precedence.
#
# Owners can be specified by email address or GitHub username
#
# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
#
# Patterns
#
# Whole repository
# * @global-owner
#
# Directory (without subdirectories)
# docs/* @tech_writer
#
# Directory (including subdirectories)
# apps/ @app_developer
#
# Adding a leading "/" to a pattern means the directory must
# be in the root of the repository.
#
# Empty Pattern -> no owner (@app_developer owns all of apps/ except apps/github)
# apps/ @app_developer
# apps/github

# Uyuni Code Owners

# Release Engineering
rel-eng/ @release-engineering
tito.props @release-engineering

# Cobbler
java/conf/cobbler/snippets/ @SchoolGuy

# Python
*.py @uyuni-project/python

# Frontend
web/ @uyuni-project/frontend
branding/ @uyuni-project/frontend
susemanager-frontend/ @uyuni-project/frontend
*.jsp @uyuni-project/frontend
*.jspf @uyuni-project/frontend
.github/workflows/javascript-build.yml @uyuni-project/frontend
.github/workflows/javascript-lint.yml @uyuni-project/frontend
.github/workflows/javascript-unit-tests.yml @uyuni-project/frontend
.github/workflows/typescript-compilation.yml @uyuni-project/frontend

# Testsuite
testsuite/ @uyuni-project/qe

Translated using Weblate (Slovak)
  web/po/sk.po
Owners: @uyuni-project/frontend

Translated using Weblate (Slovak)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
Owners: none

Add 4th nav level in ui theme
  branding/css/susemanager-theme.less
  branding/css/uyuni-theme.less
Owners: @uyuni-project/frontend

Add Changelog entry
  branding/spacewalk-branding.changes
Owners: @uyuni-project/frontend

Add Debian 11 to QA test suite
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/debian11_minion.feature
  testsuite/features/build_validation/init_clients/debian11_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_clients.yml
Owners: @uyuni-project/qe

Add Debian 11 to QA test suite
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/debian11_minion.feature
  testsuite/features/build_validation/init_clients/debian11_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_clients.yml
Owners: @uyuni-project/qe

Add greater equals matcher to package (nevra) filter
  java/code/src/com/redhat/rhn/domain/contentmgmt/FilterCriteria.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/PackageFilter.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/shared/business/filters.enum.ts
Owners: @uyuni-project/frontend

Add tests for new matcher types
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentFilterTest.java
Owners: none

Add additional matcher types
  java/code/src/com/redhat/rhn/domain/contentmgmt/FilterCriteria.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/PackageFilter.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/shared/business/filters.enum.ts
Owners: @uyuni-project/frontend

Add package name and arch check for new matchers
  java/code/src/com/redhat/rhn/domain/contentmgmt/PackageFilter.java
Owners: none

Add tests for debian versioning
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentFilterTest.java
Owners: none

Add frontend unit tests
  web/html/src/manager/content-management/shared/business/filters.enum.test.ts
  web/html/src/manager/content-management/shared/business/filters.enum.ts
Owners: @uyuni-project/frontend

QA: Disable IPv4 forwarding on branch formula
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
Owners: @uyuni-project/qe

update pgjdbc-ng lib in ivy
  java/buildconf/ivy/ivy-suse.xml
Owners: none

Code cleanup
  java/code/src/com/redhat/rhn/domain/server/ServerPath.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltSSHServiceTest.java
Owners: none

Removed mostly unused Optional
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/impl/MinionPendingRegistrationService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltServiceTest.java
Owners: none

Add support for custom SSH port for SSH minions
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/SSHMinionBootstrapperTest.java
  java/code/src/com/suse/manager/webui/services/impl/MinionPendingRegistrationService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltSSHServiceTest.java
  java/code/src/com/suse/utils/Opt.java
  java/code/src/com/suse/utils/test/OptTest.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/suseMinionInfo.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.4-to-susemanager-schema-4.3.5/001-add-ssh-port-minion.sql
  web/html/src/manager/systems/bootstrap/bootstrap-minions.tsx
  web/spacewalk-web.changes
Owners: @uyuni-project/frontend

update spy version as well
  java/buildconf/ivy/ivy-suse.xml
Owners: none

updateServerActionsPickedUp should update the action explict to PickedUp
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
Owners: none

Make sure pickup_time is not null when setting the status to picked up (bsc#1191444)
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
Owners: none

Update changelog for mgr-cfg
  client/tools/mgr-cfg/mgr-cfg.changes
Owners: none

Fix python selinux package name depending on build target (bsc#1193600)
  client/tools/mgr-cfg/mgr-cfg.spec
Owners: none

Update client/tools/mgr-cfg/mgr-cfg.spec
  client/tools/mgr-cfg/mgr-cfg.spec
Owners: none

Update client/tools/mgr-cfg/mgr-cfg.spec
  client/tools/mgr-cfg/mgr-cfg.spec
Owners: none

Fix incorrect required by mapping resolution
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection-transforms.test.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection-transforms.ts
Owners: @uyuni-project/frontend

Translated using Weblate (Slovak)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
Owners: none

Translated using Weblate (Slovak)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
Owners: none

Proxy: update the auth token with new channels
  backend/server/handlers/xmlrpc/up2date.py
  backend/spacewalk-backend.changes
  proxy/proxy/broker/rhnBroker.py
  proxy/proxy/spacewalk-proxy.changes
Owners: @uyuni-project/python

Add sha256 hash to generated venv-enabled-ARCH.txt
  susemanager/src/mgr-create-bootstrap-repo
Owners: none

Add changelog entry
  susemanager/susemanager.changes
Owners: none

require python macros for building
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/tools/mgr-custom-info/mgr-custom-info.changes
  client/tools/mgr-custom-info/mgr-custom-info.spec
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/mgr-osad.spec
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/mgr-virtualization.spec
  client/tools/spacewalk-client-cert/spacewalk-client-cert.changes
  client/tools/spacewalk-client-cert/spacewalk-client-cert.spec
  client/tools/spacewalk-oscap/spacewalk-oscap.changes
  client/tools/spacewalk-oscap/spacewalk-oscap.spec
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.changes
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.spec
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
  suseRegisterInfo/suseRegisterInfo.changes
  suseRegisterInfo/suseRegisterInfo.spec
  uyuni/common-libs/uyuni-common-libs.changes
  uyuni/common-libs/uyuni-common-libs.spec
Owners: none

require python macros for building
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Owners: none

don't consider empty action chains done (bsc#1191377)
  java/code/src/com/redhat/rhn/domain/action/ActionChain.java
  java/spacewalk-java.changes
Owners: none

Fix system-history report query (#16452)
  reporting/reports/data/system-history
  reporting/spacewalk-reports.changes
Owners: none

Fix traceback on handling sslerror (bsc#1187673) - 4.1 (#15527)
  proxy/proxy/rhnProxyAuth.py
  proxy/proxy/spacewalk-proxy.changes
Owners: @uyuni-project/python

Added parsing of the errata metadata to generate the link to the original vendor advisory.
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataDetailsSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ErrataDetailsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/errata/ErrataParserFactory.java
  java/code/src/com/suse/manager/errata/ErrataParsingException.java
  java/code/src/com/suse/manager/errata/SUSEErrataParser.java
  java/code/src/com/suse/manager/errata/VendorSpecificErrataParser.java
  java/code/src/com/suse/manager/errata/test/SUSEErrataParserTest.java
  java/code/webapp/WEB-INF/pages/errata/details.jsp
  java/spacewalk-java.changes
Owners: @uyuni-project/frontend

Add support for additional errata vendors
  java/code/src/com/suse/manager/errata/AbstractSimpleErrataParser.java
  java/code/src/com/suse/manager/errata/AlibabaErrataParser.java
  java/code/src/com/suse/manager/errata/AlmaLinuxErrataParser.java
  java/code/src/com/suse/manager/errata/AmazonErrataParser.java
  java/code/src/com/suse/manager/errata/ErrataParserFactory.java
  java/code/src/com/suse/manager/errata/OracleErrataParser.java
  java/code/src/com/suse/manager/errata/RedhatErrataParser.java
  java/code/src/com/suse/manager/errata/RockyLinuxErrataParser.java
  java/code/src/com/suse/manager/errata/SUSERESErrataParser.java
  java/code/src/com/suse/manager/errata/test/AlibabaErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/AlmaLinuxErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/AmazonErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/BaseErrataTestCase.java
  java/code/src/com/suse/manager/errata/test/OracleErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/RedhatErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/RockyLinuxErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/SUSEErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/SUSERESErrataParserTest.java
Owners: none

Fix system-history report query (#16453)
  reporting/reports/data/system-history
  reporting/spacewalk-reports.changes
Owners: none

Fix is suse spacewalk debug 4.1 (#16528)
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.changes
Owners: none

require python macros for building
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/tools/mgr-custom-info/mgr-custom-info.changes
  client/tools/mgr-custom-info/mgr-custom-info.spec
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/mgr-osad.spec
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/mgr-virtualization.spec
  client/tools/spacewalk-client-cert/spacewalk-client-cert.changes
  client/tools/spacewalk-client-cert/spacewalk-client-cert.spec
  client/tools/spacewalk-oscap/spacewalk-oscap.changes
  client/tools/spacewalk-oscap/spacewalk-oscap.spec
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.changes
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.spec
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
  suseRegisterInfo/suseRegisterInfo.changes
  suseRegisterInfo/suseRegisterInfo.spec
  uyuni/common-libs/uyuni-common-libs.changes
  uyuni/common-libs/uyuni-common-libs.spec
Owners: none
