Repository uyuni-project/uyuni, changes with the owners that .github/CODEOWNERS names for each.
All owners: @release-engineering, @SchoolGuy, @uyuni-project/python, @uyuni-project/frontend, @uyuni-project/qe

require python macros for building
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Owners: none

Revert "QA: Disable IPv4 forwarding on branch formula"
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
Owners: @uyuni-project/qe

Additional tests and commentary
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection-state.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection-transforms.test.ts
Owners: @uyuni-project/frontend

Fix problem with action chains in transactional systems
  susemanager-utils/susemanager-sls/src/modules/mgractionchains.py
Owners: @uyuni-project/python

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Owners: none

Remove hack about passing extra_filerefs in mgractionchains
  susemanager-utils/susemanager-sls/src/modules/mgractionchains.py
Owners: @uyuni-project/python

Removed wrong checkstyle suppressions and updated missing javadoc
  java/buildconf/checkstyle-suppressions.xml
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/xmlrpc/dto/SystemEventDetailsDto.java
Owners: none

require python macros for building
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Owners: none

require python macros for building
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Owners: none

BV: Allow all SSL Protocols in Proxy's Apache
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/step_definitions/command_steps.rb
Owners: @uyuni-project/qe

require python macros for building
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/tools/mgr-custom-info/mgr-custom-info.changes
  client/tools/mgr-custom-info/mgr-custom-info.spec
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/mgr-osad.spec
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/mgr-virtualization.spec
  client/tools/spacewalk-client-cert/spacewalk-client-cert.changes
  client/tools/spacewalk-client-cert/spacewalk-client-cert.spec
  client/tools/spacewalk-oscap/spacewalk-oscap.changes
  client/tools/spacewalk-oscap/spacewalk-oscap.spec
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.changes
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.spec
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
  suseRegisterInfo/suseRegisterInfo.changes
  suseRegisterInfo/suseRegisterInfo.spec
  uyuni/common-libs/uyuni-common-libs.changes
  uyuni/common-libs/uyuni-common-libs.spec
Owners: none

require python macros for building
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Owners: none

require python macros for building
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Owners: none

use a permanent config key for SSHMinionActionExecutor parallel threads
  java/conf/rhn_java.conf
Owners: none

update changelog
  java/spacewalk-java.changes
Owners: none

default reschedule time for reposync was 30 seconds
  java/code/src/com/redhat/rhn/taskomatic/task/RepoSyncTask.java
Owners: none

define default for parallel threads for SSHMinionActionExecutor
  java/code/src/com/redhat/rhn/taskomatic/task/SSHMinionActionExecutor.java
Owners: none

add documentation
  java/code/src/com/redhat/rhn/taskomatic/task/RhnJob.java
Owners: none

add migration for changed rhn.conf values
  spacewalk/config/spacewalk-config.changes
  spacewalk/config/spacewalk-config.spec
Owners: none

a single threaded task which is not running must be started
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
Owners: none

move common job config to methods on job.
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/AutoErrataTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/CVEServerChannels.java
  java/code/src/com/redhat/rhn/taskomatic/task/ChangeLogCleanUp.java
  java/code/src/com/redhat/rhn/taskomatic/task/ChannelRepodata.java
  java/code/src/com/redhat/rhn/taskomatic/task/ClearLogHistory.java
  java/code/src/com/redhat/rhn/taskomatic/task/CobblerSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/CompareConfigFilesTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/DailySummary.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataCacheTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataMailer.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataQueue.java
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/KickstartCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/KickstartFileSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/MgrSyncRefresh.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionCheckin.java
  java/code/src/com/redhat/rhn/taskomatic/task/ModularDataCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/NotificationsCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/PackageCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/RebootActionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/RepoSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/RhnJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/SSHMinionActionExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/SSHPush.java
  java/code/src/com/redhat/rhn/taskomatic/task/SandboxCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/SatSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/SessionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/SummaryPopulation.java
  java/code/src/com/redhat/rhn/taskomatic/task/SynchProbeState.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/UuidCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/gatherer/GathererJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/matcher/MatcherJob.java
Owners: none

require python macros for building
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Owners: none

require python macros for building
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/tools/mgr-custom-info/mgr-custom-info.changes
  client/tools/mgr-custom-info/mgr-custom-info.spec
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/mgr-osad.spec
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/mgr-virtualization.spec
  client/tools/spacewalk-client-cert/spacewalk-client-cert.changes
  client/tools/spacewalk-client-cert/spacewalk-client-cert.spec
  client/tools/spacewalk-oscap/spacewalk-oscap.changes
  client/tools/spacewalk-oscap/spacewalk-oscap.spec
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.changes
  client/tools/spacewalk-remote-utils/spacewalk-remote-utils.spec
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
  suseRegisterInfo/suseRegisterInfo.changes
  suseRegisterInfo/suseRegisterInfo.spec
  uyuni/common-libs/uyuni-common-libs.changes
  uyuni/common-libs/uyuni-common-libs.spec
Owners: none

require python macros for building
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Owners: none

Add changelog entry
  susemanager/susemanager.changes
Owners: none

Add sha256 hash to generated venv-enabled-ARCH.txt
  susemanager/src/mgr-create-bootstrap-repo
Owners: none

only consider actionchains from same minion as event for deletion (bsc#1189561)
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/spacewalk-java.changes
Owners: none

only consider actionchains from same minion as event for deletion (bsc#1189561)
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/spacewalk-java.changes
Owners: none

add task to create test report for unit tests
  java/manager-build.xml
Owners: none

schema changes to keep SCC registration status
  schema/spacewalk/common/tables/suseSCCRegCache.sql
  schema/spacewalk/postgres/triggers/suseSCCRegCache.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/150-suseSCCRegCache.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/151-suseSCCRegCache-trigger.sql
Owners: none

schema: new taskomatic job to forward registration to SCC
  schema/spacewalk/common/data/rhnTaskoBunch.sql
  schema/spacewalk/common/data/rhnTaskoSchedule.sql
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/152-add-forward-registration-task.sql
Owners: none

schema: add trigger to change registration required
  schema/spacewalk/postgres/triggers/rhnServer.sql
  schema/spacewalk/postgres/triggers/rhnVirtualInstanceInfo.sql
  schema/spacewalk/postgres/triggers/suseServerInstalledProduct.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/153-rhnServer-trigger.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/154-suseServerInstalledProduct-trigger.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/156-rhnVirtualInstanceInfo-trigger.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/157-rhnCpu-trigger.sql
Owners: none

add SCCRegCacheItem hibernate schema
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
  java/code/src/com/redhat/rhn/domain/scc/SCCRegCacheItem.java
Owners: none

implement ForwardRegistration taskomatic task
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
  java/code/src/com/suse/scc/model/SCCMinProductJson.java
  java/code/src/com/suse/scc/model/SCCRegisterSystemJson.java
Owners: none

specify error expire time and provide access in java
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  susemanager/rhn-conf/rhn_server_susemanager.conf
Owners: none

read error expire time from configuration
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
Owners: none

do not forward registrations when it is disabled
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
Owners: none

initialze new registered systems for forwarding registrations to SCC
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
  java/code/src/com/redhat/rhn/domain/scc/SCCRegCacheItem.java
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
Owners: none

add registration endpoints to sccclient
  java/code/src/com/suse/scc/client/SCCClient.java
  java/code/src/com/suse/scc/client/SCCFileClient.java
  java/code/src/com/suse/scc/client/SCCWebClient.java
  java/code/src/com/suse/scc/model/SCCRegisterSystemJson.java
  java/code/src/com/suse/scc/model/SCCSystemCredentialsJson.java
Owners: none

add registration logic
  java/code/src/com/redhat/rhn/domain/credentials/Credentials.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
Owners: none

.github/CODEOWNERS:

# CODEOWNERS info & syntax
# Lines starting with "#" are comments.
#
# Each line is a file pattern followed by one or more owners.
#
# Order is important; the last matching pattern takes the most
# precedence.
#
# Owners can be specified by email address or GitHub username
#
# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
#
# Patterns
#
# Whole repository
# * @global-owner
#
# Directory (without subdirectories)
# docs/* @tech_writer
#
# Directory (including subdirectories)
# apps/ @app_developer
#
# Adding a leading "/" to a pattern means the directory must
# be in the root of the repository.
#
# Empty Pattern -> no owner (@app_developer owns all of apps/ except apps/github)
# apps/ @app_developer
# apps/github

# Uyuni Code Owners

# Release Engineering
rel-eng/ @release-engineering
tito.props @release-engineering

# Cobbler
java/conf/cobbler/snippets/ @SchoolGuy

# Python
*.py @uyuni-project/python

# Frontend
web/ @uyuni-project/frontend
branding/ @uyuni-project/frontend
susemanager-frontend/ @uyuni-project/frontend
*.jsp @uyuni-project/frontend
*.jspf @uyuni-project/frontend
.github/workflows/javascript-build.yml @uyuni-project/frontend
.github/workflows/javascript-lint.yml @uyuni-project/frontend
.github/workflows/javascript-unit-tests.yml @uyuni-project/frontend
.github/workflows/typescript-compilation.yml @uyuni-project/frontend

# Testsuite
testsuite/ @uyuni-project/qe
