Repository uyuni-project/uyuni, changes with the owners that .github/CODEOWNERS names for each.
All owners: @release-engineering, @SchoolGuy, @uyuni-project/python, @uyuni-project/frontend, @uyuni-project/qe

Put lzma import on top of the file
  uyuni/common-libs/common/fileutils.py
Owners: @uyuni-project/python

Put accidentally removed UNIQUE back
  schema/spacewalk/postgres/tables/rhnPackageCapability_index.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.1-to-susemanager-schema-4.3.2/001-change-rhnPackageCapability-name-type.sql
Owners: none

Add zchunk recommends to uyuni-common-libs.spec
  uyuni/common-libs/uyuni-common-libs.spec
Owners: none

Move chema update file to the proper place
  schema/spacewalk/upgrade/susemanager-schema-4.3.4-to-susemanager-schema-4.3.5/100-change-rhnPackageCapability-name-type.sql
Owners: none

Added installation on Rocky Linux 8
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Owners: none

Remove exception, this argument is optional
  testsuite/features/support/lavanda.rb
Owners: @uyuni-project/qe

Fix virtual list link in testsuite
  testsuite/features/secondary/srv_menu.feature
Owners: @uyuni-project/qe

QA: Refactor how we handle interfaces in Lavanda nodes
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/support/xmlrpc_system.rb
Owners: @uyuni-project/qe

Clear broken websocket sessions before notifying them
  java/code/src/com/suse/manager/webui/websocket/Notification.java
Owners: none

Added installation on Rocky Linux 8
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Owners: none

Fix the test for yum_src plugin
  backend/satellite_tools/test/unit/test_yum_src.py
Owners: @uyuni-project/python

Report latest built package on rhnChannelNewestPackageView when duplicates (bsc#1193612)
  schema/spacewalk/common/views/rhnChannelNewestPackageView.sql
Owners: none

Check if squid.conf is available in proxy installer post
  proxy/installer/spacewalk-proxy-installer.spec
Owners: none

Update changelog for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Owners: none

Add missing semicolon to sql files
  schema/spacewalk/common/views/rhnChannelNewestPackageView.sql
  schema/spacewalk/upgrade/susemanager-schema-4.2.19-to-susemanager-schema-4.2.20/030-rhnChannelNewestPackageView-fix-duplicates.sql
Owners: none

Add schema migration file
  schema/spacewalk/upgrade/susemanager-schema-4.2.19-to-susemanager-schema-4.2.20/030-rhnChannelNewestPackageView-fix-duplicates.sql
Owners: none

Report latest built package on rhnChannelNewestPackageView when duplicates (bsc#1193612)
  schema/spacewalk/common/views/rhnChannelNewestPackageView.sql
Owners: none

Update changelog for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Owners: none

Add schema migration file
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/030-rhnChannelNewestPackageView-fix-duplicates.sql
Owners: none

Add missing semicolon to sql files
  schema/spacewalk/common/views/rhnChannelNewestPackageView.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.23-to-susemanager-schema-4.1.24/030-rhnChannelNewestPackageView-fix-duplicates.sql
Owners: none

fix detection of base channel selection box in SSM channel management page
  testsuite/features/step_definitions/navigation_steps.rb
Owners: @uyuni-project/qe

support for IPv6 addresses
  tftpsync/susemanager-tftpsync-recv/add.wsgi
  tftpsync/susemanager-tftpsync-recv/configure-tftpsync.sh
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
Owners: none

fix detection of base channel selection box in SSM channel management page
  testsuite/features/step_definitions/navigation_steps.rb
Owners: @uyuni-project/qe

support for IPv6 addresses
  tftpsync/susemanager-tftpsync-recv/add.wsgi
  tftpsync/susemanager-tftpsync-recv/configure-tftpsync.sh
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
Owners: none

Check if squid.conf is available in proxy installer post
  proxy/installer/spacewalk-proxy-installer.spec
Owners: none

Support mirrorlists by default
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
Owners: @uyuni-project/python

Translated using Weblate (Slovak)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
Owners: none

Aligned code with dnfbase
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
Owners: @uyuni-project/python

Removed obsolete workaround
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
Owners: @uyuni-project/python

Added changelog
  backend/spacewalk-backend.changes
Owners: none

Fix yum reposync plugin for Fedora 33 and 34 repos
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/spacewalk-backend.changes
  schema/spacewalk/common/tables/rhnPackageCapability.sql
  schema/spacewalk/postgres/tables/rhnPackageCapability_index.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.1-to-susemanager-schema-4.3.2/001-change-rhnPackageCapability-name-type.sql
  uyuni/common-libs/common/fileutils.py
  uyuni/common-libs/uyuni-common-libs.changes
Owners: @uyuni-project/python

Use escapes in replaces
  schema/spacewalk/postgres/tables/rhnPackageCapability_index.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.2-to-susemanager-schema-4.3.3/500-change-rhnPackageCapability-name-type.sql
Owners: none

Put accidentally removed UNIQUE back
  schema/spacewalk/postgres/tables/rhnPackageCapability_index.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.1-to-susemanager-schema-4.3.2/001-change-rhnPackageCapability-name-type.sql
Owners: none

Add zchunk recommends to uyuni-common-libs.spec
  uyuni/common-libs/uyuni-common-libs.spec
Owners: none

Move chema update file to the proper place
  schema/spacewalk/upgrade/susemanager-schema-4.3.4-to-susemanager-schema-4.3.5/100-change-rhnPackageCapability-name-type.sql
Owners: none

Put lzma import on top of the file
  uyuni/common-libs/common/fileutils.py
Owners: @uyuni-project/python

Fix the test for yum_src plugin
  backend/satellite_tools/test/unit/test_yum_src.py
Owners: @uyuni-project/python

Removed wrong checkstyle suppressions and updated missing javadoc
  java/buildconf/checkstyle-suppressions.xml
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/xmlrpc/dto/SystemEventDetailsDto.java
Owners: none

.github/CODEOWNERS:

# CODEOWNERS info & syntax
# Lines starting with "#" are comments.
#
# Each line is a file pattern followed by one or more owners.
#
# Order is important; the last matching pattern takes the most
# precedence.
#
# Owners can be specified by email address or GitHub username
#
# Teams can be specified as code owners as well. Teams should
# be identified in the format @org/team-name. Teams must have
# explicit write access to the repository.
#
# Patterns
#
# Whole repository
# * @global-owner
#
# Directory (without subdirectories)
# docs/* @tech_writer
#
# Directory (including subdirectories)
# apps/ @app_developer
#
# Adding a leading "/" to a pattern means the directory must
# be in the root of the repository.
#
# Empty Pattern -> no owner (@app_developer owns all of apps/ except apps/github)
# apps/ @app_developer
# apps/github

# Uyuni Code Owners

# Release Engineering
rel-eng/ @release-engineering
tito.props @release-engineering

# Cobbler
java/conf/cobbler/snippets/ @SchoolGuy

# Python
*.py @uyuni-project/python

# Frontend
web/ @uyuni-project/frontend
branding/ @uyuni-project/frontend
susemanager-frontend/ @uyuni-project/frontend
*.jsp @uyuni-project/frontend
*.jspf @uyuni-project/frontend
.github/workflows/javascript-build.yml @uyuni-project/frontend
.github/workflows/javascript-lint.yml @uyuni-project/frontend
.github/workflows/javascript-unit-tests.yml @uyuni-project/frontend
.github/workflows/typescript-compilation.yml @uyuni-project/frontend

# Testsuite
testsuite/ @uyuni-project/qe
