Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Revert "Manager bsc1010746 (#1873)"
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Revert "Manager bsc1010746 (#1871)"
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Manager bsc1010746 (#1874)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Move @scc_credentials tag to feature level
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: testing, secondary-features, ruby_rubocop

Migrate pillar and formula data on minion id change
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Branch ID field moved from PXE to branch network formula
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: testing, core-features, secondary-features, ruby_rubocop

Add initial unit test for mlstreamlib
  susemanager-utils/mgr-libmod/tests/test_libmodapi.py
Labels: none

Add unit test for meta is compressed
  susemanager-utils/mgr-libmod/tests/test_libmodapi.py
Labels: none

add unit test for enabling stream
  susemanager-utils/mgr-libmod/tests/test_libmodapi.py
Labels: none

Update doscstrings
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Add unit test for disable stream
  susemanager-utils/mgr-libmod/tests/test_libmodapi.py
Labels: none

Initialized to use tito.
  .tito/packages/.readme
  .tito/tito.props
Labels: none

Automatic commit of package [susemanager-sls] release [4.1.3-1].
  .tito/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Add initial commit to the version
  susemanager-utils/mgr-libmod/mgr-libmod.changes
Labels: none

Add initial version of spec
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Labels: none

Remove %files from spec
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Labels: none

Automatic commit of package [mgr-libmod] release [0.2-1].
  rel-eng/packages/mgr-libmod
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
  susemanager-utils/mgr-libmod/setup.py
Labels: none

Add license file
  susemanager-utils/mgr-libmod/LICENSE
Labels: none

Remove license
  susemanager-utils/mgr-libmod/LICENSE
Labels: none

Update Java license text template for 2020
  java/buildconf/LICENSE.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

Don't start configuring the proxy before it appeared
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
Labels: testing, core-features, ruby_rubocop

fix shebang for the main exec
  susemanager-utils/mgr-libmod/scripts/mgr-libmod
Labels: none

Update example documentation
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Add list of supported functions
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Add license file
  susemanager-utils/mgr-libmod/LICENSE
Labels: none

Update spec
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Labels: none

Add license to the spec
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Labels: none

Add initial version of spec
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Labels: none

Update input and response types
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

User pure STDIN for the input so the arguments may be used
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Add stream type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add YAML samples, update input requests
  susemanager-utils/mgr-libmod/data/list_modules.json
  susemanager-utils/mgr-libmod/data/list_packages.json
  susemanager-utils/mgr-libmod/data/module_packages.json
  susemanager-utils/mgr-libmod/data/sample-modules-2.yaml.gz
  susemanager-utils/mgr-libmod/data/sample-modules.yaml.gz
Labels: none

Add unit test for meta is compressed
  susemanager-utils/mgr-libmod/tests/test_libmodapi.py
Labels: none

Fix typo
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Fix typo
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Reorganise main lib class for the CLI app
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Add setup.py
  susemanager-utils/mgr-libmod/setup.py
Labels: none

Add license to the spec
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Labels: none

Add initial unit test for mlstreamlib
  susemanager-utils/mgr-libmod/tests/test_libmodapi.py
Labels: none

Automatic commit of package [mgr-libmod] release [0.2-1].
  rel-eng/packages/mgr-libmod
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
  susemanager-utils/mgr-libmod/setup.py
Labels: none
