Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Expose the bootstraping using SSH key in XMLRPC
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Use the Runner Calls to create/remove temporary SSH keys
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Address review comments
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrRunner.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add methods to SystemQuery
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adding a Yard Doc task in Rake for Living Documentation
  testsuite/Gemfile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

apidoc: convert String into string
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

package asciidoc apidoc
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

apidoc: standarize on 'boolean' as a type
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/MgrSyncProductDtoSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/OrgTrustOverviewSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/XccdfTestResultSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add apidoc build to manager-build.xml
  java/buildconf/ivy/ivy-suse.xml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

asciidoc apidoc: add styles to types
  java/buildconf/apidoc/asciidoc/macros.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

doclets: no need to render serializers 3 times
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Generate API docs in asciidoc format
  java/build.xml
  java/buildconf/apidoc/asciidoc/api_index_ftr.txt
  java/buildconf/apidoc/asciidoc/api_index_hdr.txt
  java/buildconf/apidoc/asciidoc/apiindex.txt
  java/buildconf/apidoc/asciidoc/faqs.txt
  java/buildconf/apidoc/asciidoc/handler.txt
  java/buildconf/apidoc/asciidoc/macros.txt
  java/buildconf/apidoc/asciidoc/scripts.txt
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add package redhat-rpm-config to bootstrap repo for RH and CentOS systems (bsc#1168069)
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

add package redhat-rpm-config to bootstrap repo for RH and CentOS systems (bsc#1168069)
  susemanager/susemanager.changes
Labels: susemanager_unittests

Add apidoc build to manager-build.xml
  java/buildconf/ivy/ivy-suse.xml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

asciidoc apidoc: add styles to types
  java/buildconf/apidoc/asciidoc/macros.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

Generate API docs in asciidoc format
  java/build.xml
  java/buildconf/apidoc/asciidoc/api_index_ftr.txt
  java/buildconf/apidoc/asciidoc/api_index_hdr.txt
  java/buildconf/apidoc/asciidoc/apiindex.txt
  java/buildconf/apidoc/asciidoc/faqs.txt
  java/buildconf/apidoc/asciidoc/handler.txt
  java/buildconf/apidoc/asciidoc/macros.txt
  java/buildconf/apidoc/asciidoc/scripts.txt
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

apidoc: convert String into string
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

package asciidoc apidoc
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

doclets: no need to render serializers 3 times
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

apidoc: standarize on 'boolean' as a type
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/MgrSyncProductDtoSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/OrgTrustOverviewSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/XccdfTestResultSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Updated list of branches
  testsuite/README.md
Labels: testing, ruby_rubocop

Updated list of branches
  testsuite/README.md
Labels: testing, ruby_rubocop

Updated list of branches
  testsuite/README.md
Labels: testing, ruby_rubocop

Updated list of branches
  testsuite/README.md
Labels: testing, ruby_rubocop

Adding a Yard Doc task in Rake for Living Documentation
  testsuite/Gemfile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

Adding a Yard Doc task in Rake for Living Documentation
  testsuite/Gemfile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

Refactoring the validation of a package installed
  testsuite/documentation/cucumber-steps.md
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_package.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/min_salt_software_states.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_centos_salt_install_package_and_patch.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/secondary/trad_cve_audit.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/lavanda.rb
Labels: testing, core-features, secondary-features, ruby_rubocop

Refactoring the validation of a package installed
  testsuite/documentation/cucumber-steps.md
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_package.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/min_salt_software_states.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_centos_salt_install_package_and_patch.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/secondary/trad_cve_audit.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/lavanda.rb
Labels: testing, core-features, secondary-features, ruby_rubocop

Revert "Adding a Yard Doc task in Rake for Living Documentation"
  testsuite/Gemfile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

Revert "Adding a Yard Doc task in Rake for Living Documentation"
  testsuite/Gemfile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

Revert "Living doc cucumber"
  testsuite/Gemfile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

Remove List apidoc doclet since it's not used and broken
  java/build.xml
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListWriter.java
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

reposync speedup: stream with bigger buffer
  uyuni/common-libs/common/rhn_pkg.py
Labels: none

reposync speedup: get sequence numbers in batches
  backend/server/importlib/backend.py
  backend/server/rhnSQL/sql_sequence.py
Labels: python3, backend_unittests_pgsql

Add support for psycopg's execute_many
  backend/server/rhnSQL/driver_postgresql.py
  backend/server/rhnSQL/sql_base.py
Labels: python3, backend_unittests_pgsql

doclets: move more writer properties to the base class
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Apidoc: add #product() macro
  java/build.xml
  java/buildconf/apidoc/asciidoc/api_index_hdr.txt
  java/buildconf/apidoc/asciidoc/faqs.txt
  java/buildconf/apidoc/docbook/api_index_hdr.txt
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageWriter.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/AdminMonitoringHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/sync/content/ContentSyncHandler.java
  java/manager-build.xml
  java/spacewalk-java.spec
Labels: java, API, monitoring, java_lint_checkstyle, java_pgsql_tests

Apidoc: one file per handler in the asciidoc
  java/buildconf/apidoc/asciidoc/apiindex.txt
  java/buildconf/apidoc/asciidoc/handler.txt
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
