Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

testsuite: fix minxen feature to pass on nested Xen
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

VM events: don't flag VM as stopped in live updates
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

virt: update tests to handle volume disks
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

VM create/edit: make cdrom path editable
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: ui, javascript_lint

Convert GuestProperties to a function component
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
Labels: ui, javascript_lint

virt: add volumes listbox for disks of volume type
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
Labels: ui, javascript_lint

testsuite: Test cdrom attach and volume selection
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Remove the disk type from the VM properties dialog
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  schema/spacewalk/common/tables/rhnActionVirtCreateDiskDetails.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/001-rhnActionVirtCreateDiskDetails-remove-type.sql
  susemanager-utils/susemanager-sls/salt/virt/create-vm.sls
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

testsuite: KVM restart the minion after applying entitlement
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

virt getDefinition: merge data from virt.get_xml and virt.vm_info
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/virt.guest.definition.xml
  java/code/src/com/suse/manager/virtualization/GuestDefinition.java
  java/code/src/com/suse/manager/virtualization/GuestDiskDef.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/VmInfoDiskJson.java
  java/code/src/com/suse/manager/virtualization/VmInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.vm.info.json
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

virt: handle cdrom devices as disks of file type
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
Labels: ui, javascript_lint

Test the virtualization host formula
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

VM editing dialog: split disk fields into one component per type
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFileFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
Labels: ui, javascript_lint

Set the disk volume name in query and state
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

VM properties dialog: convert disks fields into components
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
  web/html/src/manager/virtualization/guests/properties/guest-disks-panel.js
Labels: ui, javascript_lint

wip: support to create orgs
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
  susemanager-utils/susemanager-sls/src/_states/uyuni_users.py
Labels: none

Remove unused system group query 'errata_count'
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Include number of non-patch package updates to system group update counts (bsc#1170468)
  branding/java/code/src/com/redhat/rhn/branding/strings/StringResource_en_US.xml
  branding/spacewalk-branding.changes
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/code/webapp/WEB-INF/pages/common/fragments/systems/group_listdisplay.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/yourrhn/systemGroups.jsp
  java/code/webapp/WEB-INF/pages/groups/detail.jsp
  java/spacewalk-java.changes
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Fix the update status text in system group details page
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Only set the virtpoller beacon if the minion is a virtualhost
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGroupMembershipPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionVirtualizationPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionVirtualizationPillarGeneratorTest.java
  java/spacewalk-java.changes
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Fix VirtualGuestsControllerTest flakyness
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Only set the virtpoller beacon if the minion is a virtualhost
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGroupMembershipPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionVirtualizationPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionVirtualizationPillarGeneratorTest.java
  java/spacewalk-java.changes
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Fix VirtualGuestsControllerTest flakyness
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Flatten array of array messages passted to toastr to make the visible
  web/html/src/components/toastr/toastr.js
Labels: ui, javascript_lint

Org Trust: execution modules
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

fixup! Flatten array of array messages passted to toastr to make the visible
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Org State: absent
  susemanager-utils/susemanager-sls/src/_states/uyuni_users.py
Labels: none

update documentation
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
  susemanager-utils/susemanager-sls/src/_states/uyuni_users.py
Labels: none

Flatten array of array messages passed to toastr to make them visible (#2343)
  web/html/src/components/toastr/toastr.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

regenerate bootstrap repos for all archs and flush only at the beginning (bsc#1173154)
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

Verify packages index with best checksum algorithm
  backend/common/repo.py
  backend/common/test/test_repo.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

Remove test_get_pkg_index_raw_exception
  backend/common/test/test_repo.py
Labels: python3, backend_unittests_pgsql

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

add option --no-flush to overwrite config settings
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

regenerate bootstrap repos for all archs and flush only at the beginning (bsc#1173154)
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

add option --no-flush to overwrite config settings
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

Bump SUSE Manager version 4.1.0 and Uyuni version to 2020.07
  web/conf/rhn_web.conf
Labels: ui, javascript_lint
