Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Fix salt bootstrapping on SLE15 (bsc#1164563)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Use more specific exception so we don't catch everything
  java/code/src/com/suse/manager/reactor/utils/OptionalTypeAdapterFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update jar version
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

add option to minion config file, in order to disable salt mine
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Debian 9 and 10 onboarding successfully tested from the UI and scripts
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager/src/mgr_bootstrap_data.py
  utils/spacewalk-common-channels.ini
Labels: python3, susemanager_unittests

Add UI warning that picked times are in server timezone
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Chore: add changes file
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Look into group values when checking formula values
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Generate blackout pillar for CaaSP integration
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
Labels: java, java_lint_checkstyle, java_pgsql_tests

Show System locked warning only for regular minions.
  java/code/src/com/redhat/rhn/common/security/acl/Access.java
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

revert suma_minion pillar changes
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
Labels: none

Add dependency to system-lock-formula and update changelog
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

Feat: show 'locked' instead of blackout
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Fix: do not escape HTML: already done in ActionFormatter
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: rename methods and add inline comments
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Test: add JUnit tests
  java/code/src/com/redhat/rhn/domain/product/test/SUSEProductTestUtils.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.caasp.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Package locking and update whitelist
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Blackout warning message on system details pages
  java/code/src/com/redhat/rhn/common/security/acl/Access.java
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Enable salt-blackout formula for CaaSP minions
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fixes after rebase
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refresh pillar async when caasp product is detected
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/RefreshPillarEvent.java
  java/code/src/com/suse/manager/reactor/messaging/RefreshPillarEventAction.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Checkstyle fixes
  java/code/src/com/redhat/rhn/common/security/acl/Access.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Check for Salt blackout error message on event return
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rename formula to system-lock
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-java] release [4.0.30-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor recurring-event-picker
  web/html/src/components/recurring-event-picker.js
Labels: ui, javascript_lint

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

(bsc#1163538) validate the suseproductchannel table and update missing date when running mgr-sync refresh
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

(bsc#1163538) validate the suseproductchannel table and update missing date when running mgr-sync refresh
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

(bsc#1163538) validate the suseproductchannel table and update missing date when running mgr-sync refresh
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

test if activation key was removed
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

cleanup key grains from minion config
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
Labels: none

update changelog
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Mark scheduleName as mandatory in the UI
  web/html/src/components/recurring-event-picker.js
Labels: ui, javascript_lint

add option to minion config file, in order to disable salt mine
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Update java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Improve performance for 'States' view in SystemGroups detail view (bsc#1158752)
  java/code/src/com/redhat/rhn/domain/server/MinionIds.java
  java/code/src/com/redhat/rhn/domain/server/MinionServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Bump up the version of the bootstrap script
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
