Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Use saltutil states if available on the minion (bsc#1167556)
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
  susemanager-utils/susemanager-sls/salt/packages/init.sls
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/services/kiwi-image-server.sls
  susemanager-utils/susemanager-sls/salt/util/syncbeacons.sls
  susemanager-utils/susemanager-sls/salt/util/syncgrains.sls
  susemanager-utils/susemanager-sls/salt/util/syncmodules.sls
  susemanager-utils/susemanager-sls/salt/util/syncstates.sls
Labels: none

Use saltutil states if available on the minion (bsc#1167556)
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
  susemanager-utils/susemanager-sls/salt/packages/init.sls
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/services/kiwi-image-server.sls
  susemanager-utils/susemanager-sls/salt/util/syncbeacons.sls
  susemanager-utils/susemanager-sls/salt/util/syncgrains.sls
  susemanager-utils/susemanager-sls/salt/util/syncmodules.sls
  susemanager-utils/susemanager-sls/salt/util/syncstates.sls
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

set susemanager-branding as optional on susemanager
  susemanager/susemanager.spec
Labels: susemanager_unittests

bootstrap StatesAPI
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap MinionApi
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap FormulaController
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/FormulaController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

reduce direct references to SaltService.INSTANCE
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/websocket/RemoteMinionCommands.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove use of SaltServerActionService INSTANCE
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/VirtualizationEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

set susemanager-branding as optional on susemanager
  susemanager/susemanager.spec
Labels: susemanager_unittests

Update node_modules to address security alerts
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Revert "Upgrade acorn and minimist"
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Fix checkstyle
  susemanager-frontend/package.json
Labels: none

Fix checkstyle
  susemanager-frontend/package.json
Labels: none

Revert "Upgrade acorn and minimist"
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Update node_modules to address security alerts
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Prevent reactjs warnings
  web/html/src/manager/admin/setup/products/products-scc-dialog.js
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Print proper channel name in the channel list detail
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Use normal disabled checkbox instead of icon
  branding/css/susemanager-setup-wizard.less
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Drop channel sync status info in the product page
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Fix products page alternate row color
  branding/css/susemanager-setup-wizard.less
Labels: none

Fix checkstyle
  java/code/src/com/suse/manager/model/products/ChannelJson.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Link to the channel page from product if channel exists
  java/code/src/com/suse/manager/model/products/ChannelJson.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/spacewalk-java.changes
  web/html/src/manager/admin/setup/products/products.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Show separate info for syncing product channels and children
  branding/spacewalk-branding.changes
  web/html/src/manager/admin/setup/products/products.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Reintroduce button to schedule all channels product sync
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Better perfomance to get channel id if it exists
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extract and reuse the same code to generate icon sync status
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Drop channel sync status info in the product page
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Reintroduce button to schedule all channels product sync
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Fix checkstyle
  java/code/src/com/suse/manager/model/products/ChannelJson.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Link to the channel page from product if channel exists
  java/code/src/com/suse/manager/model/products/ChannelJson.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/spacewalk-java.changes
  web/html/src/manager/admin/setup/products/products.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Better perfomance to get channel id if it exists
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Print proper channel name in the channel list detail
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Use normal disabled checkbox instead of icon
  branding/css/susemanager-setup-wizard.less
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Show separate info for syncing product channels and children
  branding/spacewalk-branding.changes
  web/html/src/manager/admin/setup/products/products.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Prevent reactjs warnings
  web/html/src/manager/admin/setup/products/products-scc-dialog.js
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Fix products page alternate row color
  branding/css/susemanager-setup-wizard.less
Labels: none

Extract and reuse the same code to generate icon sync status
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Add notification messages filter by type
  web/html/src/manager/notifications/notification-messages.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint
