Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, spark-router, webui-templates, webui-controllers, salt-actions-implementations, salt-events-listener, data-model, old-ui, xmlrpc, testing, test-framework, core-features, build-validation-features, secondary-features, ci-pipelines, ruby_rubocop, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Update githug
  testsuite/features/support/env.rb
Labels: testing, test-framework, ruby_rubocop

Backport Cloud tag and remove cloud module for sles15sp2 and sp3 (#8232)
  testsuite/features/support/env.rb
Labels: testing, test-framework, ruby_rubocop

Call 'sync' command properly for uyuni-configfiles-sync
  spacewalk/admin/uyuni-update-config
Labels: none

QE: Don't reboot after bootstrapping the Proxy Host, as we don't use yet a transactional-server image
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
Labels: testing, build-validation-features, ruby_rubocop

Fix: skip python check when no files matched
  .github/workflows/python-checkstyle.yml
Labels: none

QE: Don't reboot after bootstrapping the Proxy Host, as we don't use yet a transactional-server image (#8422)
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
Labels: testing, build-validation-features, ruby_rubocop

QE: Add tests for additional salt migrations from traditional client (#23897)
  testsuite/features/secondary/trad_migrate_to_minion_bootstrap.feature
  testsuite/features/secondary/trad_migrate_to_minion_webui.feature
  testsuite/features/step_definitions/file_management_steps.rb
  testsuite/features/upload_files/bootstrap_trad_to_min.exp
  testsuite/run_sets/secondary.yml
Labels: testing, test-framework, secondary-features, ci-pipelines, ruby_rubocop

QE: If any, add Avahi hosts into the containerized proxy configuration
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, test-framework, build-validation-features, ruby_rubocop

QE: If any, add Avahi hosts into the containerized proxy configuration (#8429)
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, test-framework, build-validation-features, ruby_rubocop

QE: Add timeoutes for ISO image sync in BV
  testsuite/features/support/constants.rb
Labels: testing, test-framework, ruby_rubocop

QE: Wait for sync button to become available
  testsuite/features/build_validation/add_MU_repositories/add_maintenance_update_repositories.template
Labels: testing, build-validation-features, ruby_rubocop

Fix: skip python check when no files matched (#8426)
  .github/workflows/python-checkstyle.yml
Labels: none

QE: Fix patch installation for Rocky and Alma 9
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/support/env.rb
Labels: testing, test-framework, build-validation-features, ruby_rubocop

CLM: Improve Attach/Detach Filter UI
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/FilterResponse.java
  java/spacewalk-java.changes.welder.sort-clm-filters
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project-selection.tsx
  web/spacewalk-web.changes.welder.improve-create-new-filter-ui
Labels: java, ui, content-management, javascript_lint, java_lint_checkstyle, java_pgsql_tests

copy files since salt cant access symlinks (bsc#1220221)
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartableTree.java
  java/spacewalk-java.changes.kwalter.bsc1220221
Labels: java, data-model, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

# Development labels
java:
- changed-files:
  - any-glob-to-any-file:
    - java/*
    - java/**/*

ui:
- changed-files:
  - any-glob-to-any-file:
    - web/*
    - web/**/*

webapp:
- changed-files:
  - any-glob-to-any-file:
    - java/code/webapp/*
    - java/code/webapp/**/*

cobbler:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/org/cobbler/*
    - java/code/src/org/cobbler/**/*

documentation:
- changed-files:
  - any-glob-to-any-file:
    - documentation/*
    - documentation/**/*

proxy:
- changed-files:
  - any-glob-to-any-file:
    - proxy/*
    - proxy/**/*

API:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/redhat/rhn/frontend/*
    - java/code/src/com/redhat/rhn/frontend/**/*

Virtualization management:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/virtualization/*
    - java/code/src/com/suse/manager/virtualization/**/*

monitoring:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
    - java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
    - java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
    - java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*

python3:
- changed-files:
  - any-glob-to-any-file:
    - java/**/*.py
    - backend/**/*.py
    - client/**/*.py
    - susemanager/**/*.py
    - spacecmd/*
    - spacecmd/**/*

database:
- changed-files:
  - any-glob-to-any-file:
    - schema/spacewalk/*
    - schema/spacewalk/**/*

content-management:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
    - java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

spark-router:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/webui/Router.java

webui-templates:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/webui/templates/*
    - java/code/src/com/suse/manager/webui/templates/**/*

webui-controllers:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/webui/controller/*
    - java/code/src/com/suse/manager/webui/controller/**/*

salt-actions-implementations:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/webui/services/SaltServerActionService.java

salt-events-listener:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/suse/manager/reactor/SaltReactor.java

data-model:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/redhat/rhn/domain/*
    - java/code/src/com/redhat/rhn/domain/**/*

old-ui:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/redhat/rhn/frontend/*
    - java/code/src/com/redhat/rhn/frontend/**/*

xmlrpc:
- changed-files:
  - any-glob-to-any-file:
    - java/code/src/com/redhat/rhn/frontend/xmlrpc/*
    - java/code/src/com/redhat/rhn/frontend/xmlrpc/**/*

# QE labels
testing:
- changed-files:
  - any-glob-to-any-file:
    - testsuite/*
    - testsuite/**/*

test-framework:
- changed-files:
  - any-glob-to-any-file:
    - testsuite/features/support/*
    - testsuite/features/step_definitions/*

core-features:
- changed-files:
  - any-glob-to-any-file:
    - testsuite/features/core/*
    - testsuite/features/core/**/*

build-validation-features:
- changed-files:
  - any-glob-to-any-file:
    - testsuite/features/build_validation/*
    - testsuite/features/build_validation/**/*

secondary-features:
- changed-files:
  - any-glob-to-any-file:
    - testsuite/features/secondary/*
    - testsuite/features/secondary/**/*

ci-pipelines:
- changed-files:
  - any-glob-to-any-file:
    - testsuite/**/*.yml

ruby_rubocop:
- changed-files:
  - any-glob-to-any-file:
    - testsuite/*
    - testsuite/**/*

# Unit test labels
backend_unittests_pgsql:
- changed-files:
  - any-glob-to-any-file:
    - backend/*
    - backend/**/*

javascript_lint:
- changed-files:
  - any-glob-to-any-file:
    - web/*
    - web/**/*

java_lint_checkstyle:
- changed-files:
  - any-glob-to-any-file:
    - java/*
    - java/**/*

java_pgsql_tests:
- changed-files:
  - any-glob-to-any-file:
    - java/*
    - java/**/*

schema_migration_test_oracle:
- changed-files:
  - any-glob-to-any-file:
    - schema/spacewalk/*
    - schema/spacewalk/**/*

schema_migration_test_pgsql:
- changed-files:
  - any-glob-to-any-file:
    - schema/spacewalk/*
    - schema/spacewalk/**/*

susemanager_unittests:
- changed-files:
  - any-glob-to-any-file:
    - susemanager/*
    - susemanager/**/*
