Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

unify indentation
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix checkstyle
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/testing/ServerTestUtils.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/controllers/SaltSSHController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/FutureUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
Labels: java, API, Virtualization management, java_lint_checkstyle, java_pgsql_tests

remove unused unused parameter
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/testing/RhnBaseTestCase.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix javadoc
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix ApiHandler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix typo
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

use inheritDoc consistently
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove unused constructor
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix javadoc
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove unused code
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

throw descriptive error message when handler does not exist.
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

remove unused imports
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove now unused imports
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

rename handler factory methods and move mocking to test package
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/test/ApiHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/HandlerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/XmlRpcServletTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/XmlRpcTestUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-backend] release [4.1.6-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-certs-tools] release [4.1.6-1].
  rel-eng/packages/spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Automatic commit of package [spacewalk-client-tools] release [4.1.4-1].
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  rel-eng/packages/spacewalk-client-tools
Labels: none

Automatic commit of package [spacewalk-java] release [4.1.6-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-utils] release [4.1.7-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

Automatic commit of package [susemanager] release [4.1.7-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-sls] release [4.1.5-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Automatic commit of package [uyuni-common-libs] release [4.1.3-1].
  rel-eng/packages/uyuni-common-libs
  uyuni/common-libs/uyuni-common-libs.changes
  uyuni/common-libs/uyuni-common-libs.spec
Labels: none

Automatic commit of package [susemanager-schema] release [4.1.5-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Use utf8 encoding for files managed by fileutils.decompress_open (bsc#1158463)
  uyuni/common-libs/common/fileutils.py
Labels: none

Update changelog for uyuni-common-libs
  uyuni/common-libs/uyuni-common-libs.changes
Labels: none

extract salt operations into interface
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionCheckin.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageDeployedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/utils/SaltKeyUtils.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

extract failAfter to utility class
  java/code/src/com/suse/manager/webui/services/FutureUtils.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/websocket/RemoteMinionCommands.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace callAsync with specific methods
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace callSync with more specific methods
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refine getAllContainers
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap Virtual*Controller
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

fix compile error
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap remaining MessageAction classes
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageDeployedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove reflective handler instanciation to prepare for passing dependnecies to handlers
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/test/ApiHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/handler-manifest.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/HandlerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/MockHandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/XmlRpcServletTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/test-handler-manifest.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

bootstrap ImageBuildController
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/kubernetes/test/KubernetesManagerTest.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace callSync with more specific methods (part1)
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

bootstrap SystemController
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix copyright date
  java/code/src/com/suse/manager/webui/services/FutureUtils.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix checkstyle
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/testing/ServerTestUtils.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/controllers/SaltSSHController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/FutureUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
Labels: java, API, Virtualization management, java_lint_checkstyle, java_pgsql_tests

bootstrap NotificationMessageController
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
