Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Create the ServerAction after setting its parameters
  java/code/src/com/redhat/rhn/domain/action/ActionChainFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Prevent scheduling actions when there are empty maintenance windows
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Localization
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Minor: Pre-check the maint. windows radio button when displaying the maint. windows picker
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Add controller class
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows for action chains
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Fix details view not rendering
  web/html/src/manager/maintenance/maintenance-schedules-details.js
Labels: ui, javascript_lint

Create MenuTree item
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add controller to the Router
  java/code/src/com/suse/manager/webui/Router.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add ui for listing maintenance schedules
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: ui, javascript_lint

Add ui page for creating/editing schedules
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
Labels: ui, javascript_lint

Make 'Add Calendar' button instead of checkbox
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
  web/html/src/manager/maintenance/maintenance-schedules.js
Labels: ui, javascript_lint

Add maintenance schedule base class
  web/html/src/manager/maintenance/maintenance-schedules.js
Labels: ui, javascript_lint

Add maintenance schedules index
  web/html/src/manager/index.js
  web/html/src/manager/maintenance/index.js
Labels: ui, javascript_lint

Update MenuTree, add translation strings
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Rename maintenance-schedules.jade -> maintenance-windows.jade
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Get detailed schedule info
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add jade file
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-schedules.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Controller save method
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add deleting of schedules
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-schedules.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add Json class for maintenance schedules
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add details view for schedules
  web/html/src/manager/maintenance/maintenance-schedules-details.js
Labels: ui, javascript_lint

Add type to distinguish between calendar and schedule in UI
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add Calendar column in schedule list
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: ui, javascript_lint

Handle reschedule strategy
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Create links to calendar/schedule details in list
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add queries to get schedule/calendar objects
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Support refreshing calendars from url
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Rename MaintenanceScheduleJson -> MaintenanceWindowJson
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add requested changes
  branding/css/spacewalk-theme.less
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-api.js
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.css
  web/html/src/manager/maintenance/maintenance-windows.js
  web/spacewalk-web.changes
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Change webui to reflect controller changes
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Adapt controller class to handle schedules/calendars individually
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move styling to its own css file
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.css
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Display ical file in details, distinguish between schedule/calendar
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add localization to the controller
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix calendar data refresh
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Display upcoming maintenance windows in schedule details view
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Use the Table component for the details view
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: ui, javascript_lint

Fix: Remove empty box displayed in schedule list if no calendar assigned
  web/html/src/manager/maintenance/maintenance-windows-list.js
Labels: ui, javascript_lint

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
