Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Fix typo
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

Remove unnecessary whitespaces
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

Use RES bootstrap repository as failback repo when bootstrapping for CentOS (bsc#1173556)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

Fix detection of CentOS systems to properly set bootstrap repo (bsc#1173556)
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

Update changelog for spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Fix typo on comments and changelog
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

Fix typo
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Use more friendly message when switching from CentOS to RES bootstrap repo
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

Add SLES_ES case to calculate bootstrap repo on boostrap SLS
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

Automatic commit of package [spacewalk-certs-tools] release [4.1.10-1].
  rel-eng/packages/spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Automatic commit of package [spacewalk-java] release [4.1.15-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [susemanager-sls] release [4.1.11-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Fix JobReturnEventMessageActionTest failure
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

User channel manager module and state
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
  susemanager-utils/susemanager-sls/src/_states/uyuni_users.py
Labels: none

Update obs-maven-config for Leap 15.2
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make ContentSyncManagerTest more reliable
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use Junit from Leap for dev dependencies
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Fix JobReturnEventMessageActionTest failure
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/testing/JMockBaseTestCaseWithUser.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Avoid network.fqdns not found in 2016.11.10 ssh minions during HW refresh (bsc#1173169)
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Ensure we have trailing slash in FormulaFactory dirs
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix JobReturnEventMessageActionTest failure
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/testing/JMockBaseTestCaseWithUser.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Testsuite: Add missing anchors in some step regexs
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Add missing anchors in some step regexs
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Add missing anchors in some step regexs
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Update obs-maven-config for Leap 15.2
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix JobReturnEventMessageActionTest failure
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/testing/JMockBaseTestCaseWithUser.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Ensure we have trailing slash in FormulaFactory dirs
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use Junit from Leap for dev dependencies
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make ContentSyncManagerTest more reliable
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

introduce maintenance_mode_only flag in rhnActionType
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

register new hibernate schema classes
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Hibernate mapping for Maintenance Schedule
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/model/maintenance/MaintenanceCalendar.java
  java/code/src/com/suse/manager/model/maintenance/MaintenanceSchedule.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

MaintenanceSchedule XMLRPC functions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceCalendarSerializer.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceScheduleSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

schema upgrade: define suseMaintenanceSchedule
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/101-suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

unit tests: MaintenanceManager
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-exchange.ics
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: add maintenance_mode_only column to rhnActionType
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/100-rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

reference maintenance schedule from server
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/common/tables/tables.deps
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
