Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Add github workflow to check SLS content: no usage of module.run
  .github/config/file-content-checks.toml
  .github/workflows/salt-sls-files-checks.yml
Labels: none

Fix path to .github/config/file-content-checks.toml
  .github/workflows/salt-sls-files-checks.yml
Labels: none

Do not sync all custom Salt modules during registration
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove github actions for spacewalk repository
  .github/config/file-content-checks.toml
  .github/workflows/salt-sls-files-checks.yml
Labels: none

Cluster UI: return to overview page after scheduling actions
  java/code/src/com/suse/manager/webui/controllers/clusters/ClustersController.java
  java/code/src/com/suse/manager/webui/controllers/clusters/response/MessageResponse.java
  java/code/src/com/suse/manager/webui/controllers/clusters/templates/cluster.jade
  java/code/src/com/suse/manager/webui/controllers/clusters/templates/list.jade
  java/spacewalk-java.changes
  web/html/src/components/messages.js
  web/html/src/manager/clusters/cluster/cluster.js
  web/html/src/manager/clusters/join-cluster/join-cluster.js
  web/html/src/manager/clusters/list-clusters/list-clusters.js
  web/html/src/manager/clusters/remove-node/remove-node.js
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

RPM tests: check for 'module.run' only in SLS files
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Manager 4.0 bsc1169536 (#11480)
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

RPM tests: check for 'module.run' only in SLS files
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

RPM tests: check for 'module.run' only in SLS files
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Cluster UI: return to overview page after scheduling actions
  java/code/src/com/suse/manager/webui/controllers/clusters/ClustersController.java
  java/code/src/com/suse/manager/webui/controllers/clusters/response/MessageResponse.java
  java/code/src/com/suse/manager/webui/controllers/clusters/templates/cluster.jade
  java/code/src/com/suse/manager/webui/controllers/clusters/templates/list.jade
  java/spacewalk-java.changes
  web/html/src/components/messages.js
  web/html/src/manager/clusters/cluster/cluster.js
  web/html/src/manager/clusters/join-cluster/join-cluster.js
  web/html/src/manager/clusters/list-clusters/list-clusters.js
  web/html/src/manager/clusters/remove-node/remove-node.js
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add missing certs SLS files for Debian 10 and Ubuntu 20.04 (bsc#1173896)
  susemanager-utils/susemanager-sls/salt/certs/Debian10.sls
  susemanager-utils/susemanager-sls/salt/certs/Ubuntu20.sls
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Add missing certs SLS file for OpenSUSE Leap 15.2
  susemanager-utils/susemanager-sls/salt/certs/Leap15_2.sls
Labels: none

Update changelog for spacewalk-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Use uyuni-common-libs for bootstrap repositories (bsc#1173946)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Automatic commit of package [susemanager] release [4.0.25-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-sls] release [4.0.27-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Pass apidoc version while building the java package too
  java/build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Pass apidoc version while building the java package too
  java/build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Bump API version again
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Bump API version again
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

user channels Subscribable support
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
  susemanager-utils/susemanager-sls/src/_states/uyuni_users.py
Labels: none

Upgrade lodash to fix low severity vulnerabilities
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
Labels: ui, javascript_lint

Upgrade lodash to fix low severity vulnerabilities
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
Labels: ui, javascript_lint

Remove unused system group query 'errata_count'
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Include number of non-patch package updates to system group update counts (bsc#1170468)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  java/code/webapp/WEB-INF/pages/common/fragments/systems/group_listdisplay.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/yourrhn/systemGroups.jsp
  java/code/webapp/WEB-INF/pages/groups/detail.jsp
  java/spacewalk-java.changes
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Fix the update status text in system group details page
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Upgrade lodash to fix low severity vulnerabilities
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
Labels: ui, javascript_lint

Minor: Create list of calendar assignments directly, remove useless comment
  java/code/src/com/suse/manager/model/maintenance/CalendarFactory.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move route initiation of schedule/calendar controller to the Router
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Omit schedule/calendar prefixes in names where possible
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceCalendarJson.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
  web/html/src/manager/maintenance/details/calendar-details.js
  web/html/src/manager/maintenance/details/maintenance-windows-details.js
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/manager/maintenance/edit/calendar-edit.js
  web/html/src/manager/maintenance/edit/maintenance-windows-edit.js
  web/html/src/manager/maintenance/edit/schedule-edit.js
  web/html/src/manager/maintenance/list/calendar-list.js
  web/html/src/manager/maintenance/list/schedule-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Bug fixed, use file_extract() again
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Bug fixed, use file_extract() again
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Bug fixed, use file_extract() again
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Fix the update status text in system group details page
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Remove unused system group query 'errata_count'
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Include number of non-patch package updates to system group update counts (bsc#1170468)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  java/code/webapp/WEB-INF/pages/common/fragments/systems/group_listdisplay.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/yourrhn/systemGroups.jsp
  java/code/webapp/WEB-INF/pages/groups/detail.jsp
  java/spacewalk-java.changes
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Improve System Group page performance (bsc#1172839)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Dry code up, use faster elaborator query
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Dry code up, use faster elaborator query
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests
