Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

choose arch depending on the client
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_salt_install_package.feature
  testsuite/features/secondary/trad_action_chain.feature
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/constants.rb
Labels: testing, secondary-features, ruby_rubocop

Move component/util.js to component/utils/StatePersistedMixin.js
  web/html/src/components/data-handler.js
  web/html/src/components/table.js
  web/html/src/components/utils/StatePersistedMixin.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-messages.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-pins.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-subscriptions.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.js
Labels: ui, javascript_lint

Move Loading component into the new utils folder
  web/html/src/components/loading/loading.stories.js
  web/html/src/components/utils/Loading.js
  web/html/src/components/utils/Loading.stories.js
  web/html/src/manager/content-management/list-filters/filter-edit.js
  web/html/src/manager/content-management/shared/components/panels/build/build.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project-selection.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-edit.js
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.js
  web/html/src/manager/systems/activation-key/activation-key-channels.js
  web/html/src/manager/systems/activation-key/child-channels.js
  web/html/src/manager/virtualization/guests/console/guests-console.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
Labels: ui, javascript_lint

Move HelpIcon component into component/utils folder
  web/html/src/components/HelpIcon.js
  web/html/src/components/formulas/EditGroup.js
  web/html/src/components/formulas/FormulaComponentGenerator.js
  web/html/src/components/utils/HelpIcon.js
  web/html/src/components/utils/HelpIcon.stories.js
Labels: ui, javascript_lint

Extract help links into a utils/HelpLink component
  web/html/src/components/panels/TopPanel.js
  web/html/src/components/utils/HelpLink.js
  web/html/src/components/utils/HelpLink.stories.js
  web/html/src/manager/admin/config/monitoring-admin.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/admin/task-engine-status/taskotop.js
Labels: ui, javascript_lint

Align mgr-libmod version with the rest of the packages
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
Labels: none

Automatic commit of package [mgr-libmod] release [4.1.1-1].
  rel-eng/packages/mgr-libmod
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgr-libmod.spec
  susemanager-utils/mgr-libmod/setup.py
Labels: none

hide functions from XMLRPC API
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

hide function in system handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

remove code handling dropped tables
  backend/common/suseLib.py
  backend/server/handlers/xmlrpc/registration.py
  backend/server/rhnChannel.py
  backend/server/rhnServer/server_suse.py
  backend/server/rhnServer/server_wrapper.py
Labels: python3, backend_unittests_pgsql

schema update: drop tables suseDelServer, suseOSTarget and suseServer
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/001-drop-suseDelServer.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/002-drop-suseServer.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/003-drop-suseOSTarget.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Remove NCC Register Task
  java/code/src/com/redhat/rhn/taskomatic/task/NccRegisterTask.java
  schema/spacewalk/common/data/rhnTaskoBunch.sql
  schema/spacewalk/common/data/rhnTaskoSchedule.sql
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/004-drop-mgr-register-task.sql
  susemanager/src/mgr-register
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

drop tables suseDelServer, suseOSTarget and suseServer
  schema/spacewalk/common/data/suseOSTarget.sql
  schema/spacewalk/common/tables/suseDelServer.sql
  schema/spacewalk/common/tables/suseOSTarget.sql
  schema/spacewalk/common/tables/suseServer.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/oracle/triggers/suseOSTarget.sql
  schema/spacewalk/oracle/triggers/suseServer.sql
  schema/spacewalk/postgres/triggers/suseOSTarget.sql
  schema/spacewalk/postgres/triggers/suseServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

re-add force re-registration handling and delete old server when machine_id is duplicate
  backend/server/rhnServer/server_hardware.py
Labels: python3, backend_unittests_pgsql

remove mgr-register from Makefile and logrotate
  susemanager/etc/logrotate.d/susemanager-tools
  susemanager/src/Makefile
  susemanager/susemanager.spec
Labels: susemanager_unittests

update changelogs
  backend/spacewalk-backend.changes
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager/susemanager.changes
Labels: java, database, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Make AppStream filter pane full-width
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project.js
Labels: ui, javascript_lint

required changes applied ref: Debian9/10 poc #1917
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Report merge_subscriptions message in a readable way (bsc#1140332)
  web/html/src/manager/subscription-matching-messages.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Minor fix: gray out the subscriptions that are not active yet
  web/html/src/manager/subscription-matching-subscriptions.js
Labels: ui, javascript_lint

Fix checkstyle, Tests: add the subscriptions also in the output in tests
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/test/SubscriptionMatchProcessorTest.java
  java/code/src/com/suse/matcher/json/OutputJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Read the subscriptions from the output instead of input (bsc#1140332)
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/SubscriptionMatchProcessor.java
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/test/SubscriptionMatchProcessorTest.java
  java/code/src/com/suse/matcher/json/OutputJson.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add doc in method for generating group memebership pillar data for a minion (bsc#1158754)
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Keep current_members column updated when adding/removing servres to/from a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rewrite getEntitlements in Server class using streams (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add support managing pillar data for minions in multiple files (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove null checking when snapshot a server (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Unit test for adding servers to a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Do not check if data variable in SaltPillar might be null (bsc#1158754)
  java/code/src/com/suse/manager/webui/utils/SaltPillar.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update logs when unentitling a system (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/spacewalk-java.changes
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add entries in changelog files (bsc#1158754)
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt ServerGroupHandlerTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove getGroupTypeLabel method (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/EntitlementServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update method name for adding an entitlement to a server for more readability (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor getServerGroupByEntitlement method in Server class (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add method for retrieving serverIds and check the are available for a specific user (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Remove list conversion for servers collection of a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
