Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, spark-router, webui-templates, webui-controllers, salt-actions-implementations, salt-events-listener, data-model, old-ui, xmlrpc, testing, test-framework, core-features, build-validation-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*
spark-router:
- java/code/src/com/suse/manager/webui/Router.java
webui-templates:
- java/code/src/com/suse/manager/webui/templates/*
- java/code/src/com/suse/manager/webui/templates/**/*
webui-controllers:
- java/code/src/com/suse/manager/webui/controller/*
- java/code/src/com/suse/manager/webui/controller/**/*
salt-actions-implementations:
- java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
salt-events-listener:
- java/code/src/com/suse/manager/reactor/SaltReactor.java
data-model:
- java/code/src/com/redhat/rhn/domain/*
- java/code/src/com/redhat/rhn/domain/**/*
old-ui:
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
xmlrpc:
- java/code/src/com/redhat/rhn/frontend/xmlrpc/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
test-framework:
- testsuite/features/support/*
- testsuite/features/step_definitions/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
build-validation-features: 
- testsuite/features/build_validation/*
- testsuite/features/build_validation/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

update strings for translations in spacecmd
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
Labels: python3

check for directory existance
  susemanager/bin/pg-migrate-10-to-12.sh
Labels: susemanager_unittests

Enable Ubuntu 20.04 syncing in testsuite (#3429)
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, build-validation-features, ruby_rubocop

Enable Ubuntu 20.04 syncing in testsuite (#14335)
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, build-validation-features, ruby_rubocop

Enable Ubuntu 20.04 syncing in testsuite (#14336)
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, build-validation-features, ruby_rubocop

fix typo in serializer name
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
Labels: java, API, old-ui, xmlrpc, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Czech)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

update strings for translations in java/code/src/com/redhat/rhn/frontend/strings/java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Czech)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Korean)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Raise length limit for kernel options (#14357)
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartData.hbm.xml
  java/code/src/com/redhat/rhn/frontend/action/kickstart/KickstartTroubleshootingEditAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/kickstart/advanced/details.jspf
  java/code/webapp/WEB-INF/pages/kickstart/kickstartdetails.jsp
  java/code/webapp/WEB-INF/pages/kickstart/tree-form.jspf
  java/code/webapp/WEB-INF/pages/kickstart/troubleshooting.jsp
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnKSData.sql
  schema/spacewalk/common/tables/rhnKickstartableTree.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.0.24-to-susemanager-schema-4.0.25/001-increase-kernel-options-length.sql
Labels: java, webapp, API, database, data-model, old-ui, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Reposync fix manager 4.1 (bsc#1182197) (#14115)
  backend/satellite_tools/download.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

Reposync fix (bsc#1182197) (#3334)
  backend/satellite_tools/download.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

Reposync fix manager 4.0 (bsc#1182197) (#14116)
  backend/satellite_tools/download.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

Remove ubuntu 20 custom channels
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
Labels: testing, build-validation-features, ruby_rubocop

QA: Get rif of service_pack_migration tag, run it always
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

QA: Get rif of service_pack_migration tag, run it always (#14360)
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/secondary/allcli_action_chain.feature
Labels: testing, secondary-features, ruby_rubocop

QA: Get rif of service_pack_migration tag, run it always (#14359)
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

QA: Get rif of service_pack_migration tag, run it always (#3446)
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

Fix the possible issues with switching configuration components in repo plugins
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
Labels: python3, backend_unittests_pgsql

Add changelog entry
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Remove the feature from run_sets
  testsuite/run_sets/build_validation_add_custom_repositories.yml
Labels: testing, ci-pipelines, ruby_rubocop

Remove ubuntu 20 custom channels (#3445)
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/run_sets/build_validation_add_custom_repositories.yml
Labels: testing, build-validation-features, ci-pipelines, ruby_rubocop

Manager 4.1 bv ub20 (#14362)
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/run_sets/build_validation_add_custom_repositories.yml
Labels: testing, build-validation-features, ci-pipelines, ruby_rubocop

Remove ubuntu 20 custom channels (#14363)
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/run_sets/build_validation_add_custom_repositories.yml
Labels: testing, build-validation-features, ci-pipelines, ruby_rubocop

fix wrong word in python
  backend/server/action/errata.py
Labels: python3, backend_unittests_pgsql

Improve switching config component on exception handling (#3447)
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

fix wrong word in python
  backend/server/action/errata.py
Labels: python3, backend_unittests_pgsql

Add missing changelog entry for spacewalk-web
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Fix workaround to set proper product
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, test-framework, ruby_rubocop

Fix workaround to set proper product (#14366)
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, test-framework, ruby_rubocop

Fix workaround to set proper product
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, test-framework, ruby_rubocop

Fix workaround to set proper product (#14367)
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, test-framework, ruby_rubocop

QA: Get rid of sles12 sp5 from CI tests
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

QA: Get rid of sles12 sp5 from CI tests (#3452)
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

QA: Get rid of sles12 sp5 from CI tests (#3452) (#14368)
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

QA: Fix typo
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: testing, secondary-features, ruby_rubocop

QA: Get rid of sles12 sp5 from CI tests (#3452) (#14369)
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

Revert breaking PR and subsequent fix
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

Revert breaking PR and subsequent fix
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop
