Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Fix Eclipse import order
  java/conf/eclipse/.settings/org.eclipse.jdt.ui.prefs
  java/conf/eclipse/uyuni.importorder
Labels: java, java_lint_checkstyle, java_pgsql_tests

packageToKey: add unit test
  java/code/src/com/suse/manager/utils/test/SaltUtilsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: make comment agree with code
  java/code/src/com/redhat/rhn/domain/errata/impl/UnpublishedErrata.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

CLM speedup: reindex search on errata once per channel, not once per errata
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: rename method to new semantics
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: inline publish() and delete dead code
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog update
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: lookupByIdAndUser never returns null
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactoring: move analyzeChannelPackages to Factory
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: use proper Set constructor
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

CLM speedup: use cloneErrataFaster and avoid flushing
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

InstalledPackage: add toString()
  java/code/src/com/redhat/rhn/domain/server/InstalledPackage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bugfix: avoid mass deletion and re-insertion of InstalledPackages for Ubuntu minions
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: remove dead code
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: method rename to reflect code
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

CLM speedup: force ANALYZE of rhnChannelPackage after massive insertions
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: move method to ErrataManager
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: change parameter type to reflect implementation is mode-queries only
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: change parameter type to reflect implementation is mode-queries only
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

CLM speedup: disable autoflushing on more code
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: move notification setting inside of insertCacheForChannelErrata
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make mode queries aware of Hibernate's flush mode
  java/code/src/com/redhat/rhn/common/db/datasource/CachedStatement.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: insertCacheForChannelErrata: accept any Collection
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bugfix: unit test used incorrect user
  java/code/src/com/redhat/rhn/frontend/events/test/CloneErrataActionTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

refactoring: move adding errata to channel inside of insertCacheForChannelErrata
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refactoring: rename to reflect what code actually does
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

packageToKey: add unit test
  java/code/src/com/suse/manager/utils/test/SaltUtilsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bugfix: avoid mass deletion and re-insertion of InstalledPackages for Ubuntu minions
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

InstalledPackage: add toString()
  java/code/src/com/redhat/rhn/domain/server/InstalledPackage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

packageToKey: add unit test
  java/code/src/com/suse/manager/utils/test/SaltUtilsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Once again merge pull request #2201 from uyuni-project/faster-clm
  java/code/src/com/redhat/rhn/common/db/datasource/CachedStatement.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/domain/errata/impl/UnpublishedErrata.java
  java/code/src/com/redhat/rhn/frontend/events/test/CloneErrataActionTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactoring: move analyzeChannelPackages to Factory
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Once again merge pull request #2201 from uyuni-project/faster-clm
  java/code/src/com/redhat/rhn/common/db/datasource/CachedStatement.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/domain/errata/impl/UnpublishedErrata.java
  java/code/src/com/redhat/rhn/frontend/events/test/CloneErrataActionTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactoring: move analyzeChannelPackages to Factory
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

spacewalk-debug --no-report parameter can now be passed in any order
  backend/satellite_tools/spacewalk-debug
Labels: backend_unittests_pgsql

spacewalk-debug/supportconfig speedup fixes and --no-compression flag
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.changes
  susemanager-utils/supportutils-plugin-susemanager/supportconfig-sumalog
Labels: backend_unittests_pgsql

spacewalk-debug --no-report parameter can now be passed in any order
  backend/satellite_tools/spacewalk-debug
Labels: backend_unittests_pgsql

spacewalk-debug/supportconfig speedup fixes and --no-compression flag
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.changes
  susemanager-utils/supportutils-plugin-susemanager/supportconfig-sumalog
Labels: backend_unittests_pgsql

Wait for real that we change to client details page
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

Wait for real that we change to client details page
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop
