Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Backend: Prevent build/promote on Content Projects which have build/promote in progress
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix: Propagate the async flag correctly on Content Project promote
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Allow to re-promote an environment
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
Labels: ui, javascript_lint

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use 'UPDATE' to fail stale CLM tasks instead of iterating through them
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Frontend: Add comments to the code
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
Labels: ui, javascript_lint

CaaSP: pillar refresh not executed on sw profile update (bsc#1166061)
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/RefreshPillarEvent.java
  java/code/src/com/suse/manager/reactor/messaging/RefreshPillarEventAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
  java/spacewalk-java.changes
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Method for finding & cleaning stale Content Lifecycle targets
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Backend: Prevent build/promote on Content Projects which have build/promote in progress
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Clean stale Content Lifecycle targets on Tomcat startup
  java/code/src/com/redhat/rhn/manager/satellite/StartupTasksCommand.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Tests: Prevent build/promote on Content Projects which have build/promote in progress
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix: Propagate the async flag correctly on Content Project promote
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Tests: Complex scenario: Prevent build/promote on Content Projects which have build/promote in progress
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Frontend: Add comments to the code
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
Labels: ui, javascript_lint

Allow to re-promote an environment
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
Labels: ui, javascript_lint

Frontend: Prevent build/promote on Content Projects which have colliding build/promote in progress
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
Labels: ui, javascript_lint

Use 'UPDATE' to fail stale CLM tasks instead of iterating through them
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix diversions from upstream
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Feat: spacewalk-java depends on system-lock-formula
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

CaaSP: pillar refresh not executed on sw profile update (bsc#1166061)
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/RefreshPillarEvent.java
  java/code/src/com/suse/manager/reactor/messaging/RefreshPillarEventAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Style: clarify/adapt terms for system lock
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Style: change wording to adapt terms
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Chore: add changes
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Chore: add changes
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

CaaSP: pillar refresh not executed on sw profile update (bsc#1166061)
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/RefreshPillarEvent.java
  java/code/src/com/suse/manager/reactor/messaging/RefreshPillarEventAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Feat: spacewalk-java depends on system-lock-formula
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

Style: change wording to adapt terms
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Style: clarify/adapt terms for system lock
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-java] release [4.0.31-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add missing file for common lib
  backend/common/Makefile
Labels: backend_unittests_pgsql

extract salt operations into interface
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionCheckin.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageDeployedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/utils/SaltKeyUtils.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

replace callAsync with specific methods
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

extract failAfter to utility class
  java/code/src/com/suse/manager/webui/services/FutureUtils.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/websocket/RemoteMinionCommands.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

refine getAllContainers
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace callSync with more specific methods
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix few compat issues with Python3 at MultipartPostHandler
  tftpsync/susemanager-tftpsync/MultipartPostHandler.py
Labels: none

Update changelog for susemanager-tftpsync
  tftpsync/susemanager-tftpsync/susemanager-tftpsync.changes
Labels: none

Make wsgi script compatible with Python3 (bsc#1164111)
  tftpsync/susemanager-tftpsync-recv/add.wsgi
  tftpsync/susemanager-tftpsync-recv/delete.wsgi
Labels: none

Update changelog for susemanager-tftpsync-recv
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
Labels: none
