Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

add ical4j to ivy
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Helper Class for HTTP operations
  java/code/src/com/suse/manager/utils/HttpHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Misc: Fix javadoc
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Factory: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

register new hibernate schema classes
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

XMLRPC: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

reference maintenance schedule from server
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/common/tables/tables.deps
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Hibernate mapping for Maintenance Schedule
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/model/maintenance/MaintenanceCalendar.java
  java/code/src/com/suse/manager/model/maintenance/MaintenanceSchedule.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

define suseMaintenanceSchedule
  schema/spacewalk/common/tables/suseMaintenanceCalendar.sql
  schema/spacewalk/common/tables/suseMaintenanceSchedule.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/postgres/triggers/suseMaintenanceCalendar.sql
  schema/spacewalk/postgres/triggers/suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

MaintenanceSchedule XMLRPC functions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceCalendarSerializer.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceScheduleSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update Hibernate Schema for rhnActionType to add maintenance_mode_only flag
  java/code/src/com/redhat/rhn/domain/action/ActionType.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/ActionType.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: reference maintenance schedule from server
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/102-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

HibernateFactory.reload - no more need for unnecessary client casting
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: define suseMaintenanceSchedule
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/101-suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

unit tests: MaintenanceManager
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-exchange.ics
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement Cancel and Fail Reschedule Strategy
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/RescheduleException.java
  java/code/src/com/suse/manager/maintenance/RescheduleResult.java
  java/code/src/com/suse/manager/maintenance/RescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: add maintenance_mode_only column to rhnActionType
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/100-rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix timezone for tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle action chains
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle empty system id sets
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test: test action chains
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

configure api doc for new destination
  java/build.xml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

rename maintenancemodeOnly
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

check permissions in Manager class
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extract function for getting events at given time
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

createSchedule with maintenance calendar label
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Always rollback when no strategy succeeded
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde-2.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

install ical4j
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle reschedule strategy in xmlrpc functions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test for multi schedule change
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/README.md
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-multi-exchange-1.ics
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-multi-exchange-2.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

Let normal user list and lookup Maintenance Schedules and Calendar
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extract function for parsing calendar from string
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

ensure that entities do not exists when we want to create them new
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle reschedule case "Fail" and return detailed reschedule informations
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/RescheduleResult.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/RescheduleResultSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

remove not wanted single date
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

ical4j.properties
  java/code/src/ical4j.properties
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix Javadoc
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests
