Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

SCC responses with HTTP 403 instead of 404 as it is expected. This is a *workaround* to let mgr-sync work.
  backend/common/repo.py
Labels: python3, backend_unittests_pgsql

Split spacewalk-utils into two packages
  utils/apply_errata
  utils/cloneByDate.py
  utils/delete-old-systems-interactive
  utils/depsolver.py
  utils/migrate-system-profile
  utils/migrateSystemProfile.py
  utils/spacewalk-api
  utils/spacewalk-clone-by-date
  utils/spacewalk-common-channels
  utils/spacewalk-export
  utils/spacewalk-export-channels
  utils/spacewalk-final-archive
  utils/spacewalk-manage-snapshots
  utils/spacewalk-sync-setup
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
  utils/sw-ldap-user-sync
  utils/sw-system-snapshot
  utils/systemSnapshot.py
  utils/taskotop
Labels: none

Remove spacewalk-dump-schema, move spacewalk-common-channels and spacewalk-hostname-rename to main package
  utils/Makefile
  utils/spacewalk-dump-schema
  utils/spacewalk-utils.spec
Labels: none

add workaround for uptime overflow to spacewalk-update-status as well (bsc#1165921)
  client/rhel/spacewalk-client-tools/src/bin/spacewalk-update-status.py
Labels: python3

Missing changelog for spacewalk-config
  spacewalk/config/spacewalk-config.changes
Labels: none

add workaround for uptime overflow to spacewalk-update-status as well (bsc#1165921)
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
Labels: none

add workaround for uptime overflow to spacewalk-update-status as well (bsc#1165921)
  client/rhel/spacewalk-client-tools/src/bin/spacewalk-update-status.py
Labels: python3

add workaround for uptime overflow to spacewalk-update-status as well (bsc#1165921)
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
Labels: none

Add changelog entry for rhnlib
  client/rhel/rhnlib/rhnlib.changes
Labels: none

add workaround for uptime overflow to spacewalk-update-status as well (bsc#1165921)
  client/rhel/rhn-client-tools/src/bin/spacewalk-update-status.py
Labels: python3

add workaround for uptime overflow to spacewalk-update-status as well (bsc#1165921)
  client/rhel/rhn-client-tools/spacewalk-client-tools.changes
Labels: none

Doclets: add debug output to the writer
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove ivy targets from build.xml since those shouldn't be used
  java/build.xml
  java/buildconf/build-taskdefs.xml
  java/ivy.xml
  java/ivysettings.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

add warning to logfile when no SUSE Manager Subscription is available
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

show a warning when missing the SUSE Manager Tools Channel
  java/code/src/com/redhat/rhn/domain/channel/ChannelFamily.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/code/src/com/suse/manager/webui/templates/products/show.jade
  web/html/src/manager/admin/setup/products/products.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

unit test hasToolsChannelSubscription()
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/sccdata/organizations_orders2.json
  java/code/src/com/redhat/rhn/manager/content/test/sccdata/organizations_subscriptions2.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

show a warning when missing the SUSE Manager Tools Channel
  java/code/src/com/redhat/rhn/domain/channel/ChannelFamily.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/code/src/com/suse/manager/webui/templates/products/show.jade
  web/html/src/manager/admin/setup/products/products.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

add warning to logfile when no SUSE Manager Subscription is available
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test hasToolsChannelSubscription()
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/sccdata/organizations_orders2.json
  java/code/src/com/redhat/rhn/manager/content/test/sccdata/organizations_subscriptions2.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

Doclets: add debug output to the writer
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageWriter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove ivy targets from build.xml since those shouldn't be used
  java/build.xml
  java/buildconf/build-taskdefs.xml
  java/ivy.xml
  java/ivysettings.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix BigDecimalSerializer XML-RPC doc
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/BigDecimalSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Remove build.xml test-related targets
  java/build.xml
  java/buildconf/build-utils.xml
  java/code/internal/src/com/redhat/rhn/internal/junit/RhnCustomFormatter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add commons-lang for velocity
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove playpen-related code
  client/tools/mgr-cfg/test/test_upload.py
  java/build.xml
  java/code/playpen/src/com/redhat/rhn/playpen/TestClass.java
  java/code/playpen/src/com/redhat/rhn/playpen/TestClassTwo.java
  java/conf/eclipse/.checkstyle
  java/manager-build.xml
  java/spacewalk-java.spec
Labels: java, python3, java_lint_checkstyle, java_pgsql_tests

VirtManager: expose API to get a pool definition
  java/code/src/com/suse/manager/virtualization/PoolDefinition.java
  java/code/src/com/suse/manager/virtualization/PoolSource.java
  java/code/src/com/suse/manager/virtualization/PoolSourceAdapter.java
  java/code/src/com/suse/manager/virtualization/PoolSourceAuthentication.java
  java/code/src/com/suse/manager/virtualization/PoolSourceDevice.java
  java/code/src/com/suse/manager/virtualization/PoolTarget.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/virtualization/test/PoolDefinitionTest.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Expose REST API to provide the definition of a virtual storage pool.
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  web/html/src/manager/virtualization/pools/virtualization-pool-definition-api.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add virtual pool definition model
  java/code/src/com/suse/manager/virtualization/PoolDefinition.java
  java/code/src/com/suse/manager/virtualization/PoolSource.java
  java/code/src/com/suse/manager/virtualization/PoolSourceAdapter.java
  java/code/src/com/suse/manager/virtualization/PoolSourceAuthentication.java
  java/code/src/com/suse/manager/virtualization/PoolSourceDevice.java
  java/code/src/com/suse/manager/virtualization/PoolTarget.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Manager bsc1165921 (#1998)
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/src/bin/spacewalk-update-status.py
Labels: python3

Do not use deprecated Request.get_data (bsc#1164111)
  tftpsync/susemanager-tftpsync/MultipartPostHandler.py
Labels: none

Update changelog for susemanager-tftpsync
  tftpsync/susemanager-tftpsync/susemanager-tftpsync.changes
Labels: none

Verify checksums in deb repo Release and Packages files
  backend/common/repo.py
  backend/common/test/test_repo.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
  backend/test/docker-backend-common-tests.sh
  backend/test/docker-backend-pgsql-tests.sh
Labels: python3, backend_unittests_pgsql

Changed suffix -devel and update name entry
  utils/spacewalk-common-channels.ini
Labels: none

Clean stale Content Lifecycle targets on Tomcat startup
  java/code/src/com/redhat/rhn/manager/satellite/StartupTasksCommand.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Method for finding & cleaning stale Content Lifecycle targets
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Tests: Prevent build/promote on Content Projects which have build/promote in progress
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Frontend: Prevent build/promote on Content Projects which have colliding build/promote in progress
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
Labels: ui, javascript_lint

Tests: Complex scenario: Prevent build/promote on Content Projects which have build/promote in progress
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
