Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

salt return empty string for non-existent grains, in such cases return Optional.empty
  java/code/src/com/suse/manager/reactor/utils/OptionalTypeAdapterFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move caasp specific code to plugin
  java/code/plugins/caasp/src/main/java/META-INF/MANIFEST.MF
  java/code/plugins/caasp/src/main/java/com/suse/manager/caasp/CaaspMainMenu.java
  java/code/plugins/caasp/src/main/java/com/suse/manager/caasp/CaaspMessageBundle.java
  java/code/plugins/caasp/src/main/java/com/suse/manager/caasp/CaaspPackageProfileUpdate.java
  java/code/plugins/caasp/src/main/java/com/suse/manager/caasp/CaaspPlugin.java
  java/code/plugins/caasp/src/main/java/com/suse/manager/caasp/l10n/Messages_en_US.properties
  java/code/plugins/caasp/src/test/java/CaaspJobReturnEventMessageActionTest.java
  java/code/plugins/caasp/src/test/resources/log4j.properties
  java/code/plugins/caasp/src/test/resources/packages.profileupdate.caasp.json
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/log4j.properties
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

salt return empty string for non-existent grains, in such cases return Optional.empty
  java/code/src/com/suse/manager/reactor/utils/OptionalTypeAdapterFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

add bootstrap repo data for OES 2018 SP2 (bsc#1161862)
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

add bootstrap repo data for OES 2018 SP2 (bsc#1161862)
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

Use own API endpoint for recurring actions
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Use more specific exception so we don't catch everything
  java/code/src/com/suse/manager/reactor/utils/OptionalTypeAdapterFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make hibernate manager class non singleton
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove not needed pillar.example from SystemManagerTest
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/prometheus/pillar.example
Labels: java, java_lint_checkstyle, java_pgsql_tests

Finalize test for addServerToServerGroup()
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove not needed pillar.example from SystemManagerTest
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/prometheus/pillar.example
Labels: java, java_lint_checkstyle, java_pgsql_tests

Finalize test for addServerToServerGroup()
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Bump up the version of the bootstrap script
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

wip: hook the hibernate entities with the frontend controller
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/test/RecurringActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
  web/html/src/manager/state/recurring-states-edit.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix compilation of SystemManagerTest
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix compilation of SystemManagerTest
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Let CaaSP plugin lock minion
  java/code/plugins/caasp/src/main/java/com/suse/manager/caasp/CaaspPackageProfileUpdate.java
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/ActionType.hbm.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/ScheduleMetadata.java
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

allow custom fqdns values from grains bsc1155281
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/hardware.profileupdate.x86.custom.fqdns.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/HwProfileUpdateSlsResult.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

allow custom fqdns values from grains bsc1155281
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/hardware.profileupdate.x86.custom.fqdns.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/HwProfileUpdateSlsResult.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

wip: hook the hibernate entities with the frontend controller
  java/code/src/com/redhat/rhn/domain/recurringactions/GroupRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/MinionRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/OrgRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add option to minion config file, in order to disable salt mine
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Add missing python libraries to RES/RHEL/CentOS 8 bootstrap repos (bsc#1164875)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Uyuni Proxy is not shown as product - check if the link exists
  testsuite/features/core/proxy_register_as_minion_with_script.feature
Labels: testing, core-features, ruby_rubocop

Add missing python libraries to RES/RHEL/CentOS 8 bootstrap repos (bsc#1164875)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Disable modularity failsafe mechanism for RHEL 8 bootstrap repos (bsc#1164875)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/bootstrap.repo
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Disable modularity failsafe mechanism for RHEL 8 channels (bsc#1164875)
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rename RecurringAction.TYPE enum to Type
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

RecurringAction extends BaseDomainHelper
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  schema/spacewalk/common/tables/suseRecurringAction.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/010-schedule-recurring-actions.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

[wip] Make the recurring schedule work for minions again
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Utilize the cronExpr from RecurringAction
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cron expression to RecurringAction
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  schema/spacewalk/common/tables/suseRecurringAction.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/010-schedule-recurring-actions.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Make the Recurring Action create,read and update operations work for the Org and Server Group too
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Recurring Action name can't be null
  schema/spacewalk/common/tables/suseRecurringAction.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/010-schedule-recurring-actions.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Implement RecurringAction.getEntityId() to get the entity id for the frontend
  java/code/src/com/redhat/rhn/domain/recurringactions/GroupRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/MinionRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/OrgRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Let CaaSP plugin lock minion
  java/code/plugins/caasp/src/main/java/com/suse/manager/caasp/CaaspPackageProfileUpdate.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

POST instead of GET for lock/unlock link on the system overview page
  branding/css/susemanager-buttons.less
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

fixup! Let CaaSP plugin lock minion
  java/code/src/com/suse/manager/extensions/LocalizationExtensionPoint.java
  java/code/src/com/suse/manager/extensions/MenuExtensionPoint.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add missing python libraries to RES/RHEL/CentOS 8 bootstrap repos (bsc#1164875)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
