Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Add virtual pool delete action UI and cucumber test
  testsuite/features/secondary/minkvm_guests.feature
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, testing, secondary-features, javascript_lint, ruby_rubocop

Add cucumber step checking that a file doesn't exist on a machine
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Add virtual pool delete action UI and cucumber test
  testsuite/features/secondary/minkvm_guests.feature
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, testing, secondary-features, javascript_lint, ruby_rubocop

Add Salt implementation for virtual pool delete action
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-deleted.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add REST API to trigger virtual pool delete action
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualPoolDeleteActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add virtual pool delete action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolDeleteAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtPoolDelete.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/001-add_virt_pool_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/005-rhnActionVirtPoolDelete.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add virtual storage pool actions changelog entries
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/spacewalk-web.changes
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add virtual pool create action UI
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/pools/create.jade
  web/html/src/manager/virtualization/index.js
  web/html/src/manager/virtualization/pools/create/pools-create.js
  web/html/src/manager/virtualization/pools/create/pools-create.renderer.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/pool-properties.js
  web/html/src/manager/virtualization/pools/properties/fields-data.js
  web/html/src/manager/virtualization/pools/properties/fields-data.test.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add REST API to trigger virtual pool create action
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualPoolCreateActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cucumber step checking file permissions on a machine
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Add virtual pool create action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolCreateAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolCreateActionSource.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/test/VirtualizationActionsTest.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/test/VirtualizationPoolCreateActionSourceTest.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtPoolCreate.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/001-add_virt_pool_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/006-rhnActionVirtPoolCreate.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add cucumber test for virtual pool create action
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

Add special handling for pool creation notification
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add Salt implementation for virtual pool create action
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-create.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add virtual pool create action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolCreateAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolCreateActionSource.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/test/VirtualizationActionsTest.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/test/VirtualizationPoolCreateActionSourceTest.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtPoolCreate.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/001-add_virt_pool_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/006-rhnActionVirtPoolCreate.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add virtual pool create action UI
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/pools/create.jade
  web/html/src/manager/virtualization/index.js
  web/html/src/manager/virtualization/pools/create/pools-create.js
  web/html/src/manager/virtualization/pools/create/pools-create.renderer.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/pool-properties.js
  web/html/src/manager/virtualization/pools/properties/fields-data.js
  web/html/src/manager/virtualization/pools/properties/fields-data.test.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add REST API to trigger virtual pool create action
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualPoolCreateActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cucumber test for virtual pool create action
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

Add virtual storage pool actions changelog entries
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/spacewalk-web.changes
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add special handling for pool creation notification
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add Salt implementation for virtual pool create action
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-create.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cucumber step checking file permissions on a machine
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Add REST API to trigger virtual pool edit action
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Modify Salt virtual pool create action to also handle pool editing
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-create.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cucumber test for virtual pool edit action
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

Add virtual pool edit action UI
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/pools/edit.jade
  web/html/src/manager/virtualization/index.js
  web/html/src/manager/virtualization/pools/edit/pools-edit.js
  web/html/src/manager/virtualization/pools/edit/pools-edit.renderer.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add cucumber step to watch for a button to appear in a tree item
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Add virtual pool edit action UI
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/pools/edit.jade
  web/html/src/manager/virtualization/index.js
  web/html/src/manager/virtualization/pools/edit/pools-edit.js
  web/html/src/manager/virtualization/pools/edit/pools-edit.renderer.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add REST API to trigger virtual pool edit action
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add cucumber test for virtual pool edit action
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

Add cucumber step to watch for a button to appear in a tree item
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Modify Salt virtual pool create action to also handle pool editing
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-create.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

indenting
  java/code/src/com/redhat/rhn/domain/notification/NotificationMessage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

provide summary and description from java to UI
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFinished.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationData.java
  java/code/src/com/redhat/rhn/domain/notification/types/OnboardingFailed.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/utils/gson/NotificationMessageJson.java
  web/html/src/manager/notifications/notification-messages.js
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

create CreateBootstrapRepoFailed notification type
  java/code/src/com/redhat/rhn/domain/notification/NotificationMessage.java
  java/code/src/com/redhat/rhn/domain/notification/types/CreateBootstrapRepoFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationType.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

copyright year
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFinished.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationData.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationType.java
  java/code/src/com/redhat/rhn/domain/notification/types/OnboardingFailed.java
  java/code/src/com/suse/manager/webui/utils/gson/NotificationMessageJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

change notification data type to TEXT
  schema/spacewalk/common/tables/suseNotificationMessage.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/001-notificationMessage-data-text.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

store notifications from python
  susemanager/src/mgr-create-bootstrap-repo
  uyuni/common-libs/common/Makefile
  uyuni/common-libs/common/notificationUtils.py
  uyuni/common-libs/uyuni-common-libs.spec
Labels: susemanager_unittests

add new type to message
  web/html/src/manager/notifications/notification-messages.js
Labels: ui, javascript_lint

add strings
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests
