Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

ensure correct /etc/apache2/conf.d/susemanager-tftpsync-recv.conf after upgrade (bsc#1169535)
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
Labels: none

Testsuite: Remove workaround for bsc#1138952
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Remove workaround for bsc#1138952
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Remove workaround for bsc#1138952
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Remove workaround for bsc#1138952
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

At least on Ubuntu 16 + 18, ID is "ubuntu" not "Ubuntu" so adding the bs repo fails.
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

add changelog
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

remove headers
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

bugfix: correct number of processes in reposync
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

At least on Ubuntu 16 + 18, ID is "ubuntu" not "Ubuntu" so adding the bs repo fails. (#2180)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Add hint to edit formulas before applying state (bsc#1168805)
  web/html/src/manager/groups/formula/group-formula-selection.renderer.js
  web/html/src/manager/minion/formula/minion-formula-selection.renderer.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Manager bsc1169535 (#2178)
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.spec
Labels: none

In case of salt minion, there is no need to install any package. For traditionl system, only look for spacewalk-koan package for installation
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartData.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartScheduleCommand.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Replaced yum with dnf
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
Labels: python3, backend_unittests_pgsql

Switching bootstrapping packages to python3
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

bugfix: prevent traceback if element is None
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql

no not cache metadata of the bootstrap repositories (bsc#1171169)
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/installer/squid.conf
Labels: proxy

update changelog
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

no not cache metadata of the bootstrap repositories (bsc#1171169)
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/installer/squid.conf
Labels: proxy

update changelog
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

no not cache metadata of the bootstrap repositories (bsc#1171169)
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/installer/squid.conf
Labels: proxy

update changelog
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

migrate cobbler configs for ks_mirror -> distro_mirror rename (bsc#1169209)
  susemanager/bin/mgr-setup
  susemanager/bin/migrate-cobbler.sh
Labels: susemanager_unittests

migrate cobbler configs for ks_mirror -> distro_mirror rename (bsc#1169209)
  susemanager/susemanager.changes
Labels: susemanager_unittests

Add Ubuntu 20.04 channels for Uyuni
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Manager bsc1169209 (#2186)
  susemanager/bin/mgr-setup
  susemanager/bin/migrate-cobbler.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

reference maintenance schedule from server
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/common/tables/tables.deps
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

introduce maintenance_mode_only flag in rhnActionType
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

update Hibernate Schema for rhnActionType to add maintenance_mode_only flag
  java/code/src/com/redhat/rhn/domain/action/ActionType.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/ActionType.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

define suseMaintenanceSchedule
  schema/spacewalk/common/tables/suseMaintenanceCalendar.sql
  schema/spacewalk/common/tables/suseMaintenanceSchedule.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/postgres/triggers/suseMaintenanceCalendar.sql
  schema/spacewalk/postgres/triggers/suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

schema upgrade: define suseMaintenanceSchedule
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/101-suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

schema upgrade: reference maintenance schedule from server
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/102-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Make Timeouts configurable for HTTP Connections
  java/code/src/com/redhat/rhn/common/util/http/HttpClientAdapter.java
  java/conf/rhn_java.conf
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: add maintenance_mode_only column to rhnActionType
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/100-rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Hibernate mapping for Maintenance Schedule
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/model/maintenance/MaintenanceCalendar.java
  java/code/src/com/suse/manager/model/maintenance/MaintenanceSchedule.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

MaintenanceSchedule XMLRPC functions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceCalendarSerializer.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceScheduleSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

unit tests: MaintenanceManager
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-exchange.ics
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Helper Class for HTTP operations
  java/code/src/com/suse/manager/utils/HttpHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement Cancel and Fail Reschedule Strategy
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/RescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
