Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Split MaintenanceWindowJson into multiple objects
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceCalendarJson.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move handleRescheduleResult to the base controller
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use model as a state
  web/html/src/manager/maintenance/edit/calendar-edit.js
  web/html/src/manager/maintenance/edit/schedule-edit.js
Labels: ui, javascript_lint

Minor: Create list of calendar assignments directly, remove useless comment
  java/code/src/com/suse/manager/model/maintenance/CalendarFactory.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Split details component into schedule and calendar details
  web/html/src/manager/maintenance/calendar-details.js
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/schedule-details.js
Labels: ui, javascript_lint

Avoid n+1 queries when getting calendars
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/model/maintenance/CalendarFactory.java
  java/code/src/com/suse/manager/model/maintenance/test/CalendarFactoryTest.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceCalendarJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Split MaintenanceController into multiple Controller classes
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use a POJO projection instead of a tuple in getting calendar assignments
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/model/maintenance/CalendarAssignment.java
  java/code/src/com/suse/manager/model/maintenance/CalendarFactory.java
  java/code/src/com/suse/manager/model/maintenance/test/CalendarFactoryTest.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move route initiation of schedule/calendar controller to the Router
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move styling to susemanager-theme
  branding/css/spacewalk-theme.less
  branding/css/susemanager-theme.less
Labels: none

Apply styling to uyuni
  branding/css/uyuni-theme.less
Labels: none

Add loading indicator if calendar refresh in progress
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Make translation strings static, update code formating
  branding/css/susemanager-theme.less
  branding/css/uyuni-theme.less
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/manager/maintenance/edit/calendar-edit.js
  web/html/src/manager/maintenance/edit/maintenance-windows-edit.js
  web/html/src/manager/maintenance/edit/schedule-edit.js
  web/html/src/manager/maintenance/list/maintenance-windows-list.js
  web/html/src/manager/maintenance/list/schedule-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add prop types to components
  web/html/src/manager/maintenance/details/calendar-details.js
  web/html/src/manager/maintenance/details/maintenance-windows-details.js
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/manager/maintenance/edit/calendar-edit.js
  web/html/src/manager/maintenance/edit/maintenance-windows-edit.js
  web/html/src/manager/maintenance/edit/schedule-edit.js
  web/html/src/manager/maintenance/list/calendar-list.js
  web/html/src/manager/maintenance/list/maintenance-windows-list.js
  web/html/src/manager/maintenance/list/schedule-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Change execution order in the 'assignScheduleToSystemWithPendingActions' test
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add reschedule strategy parameter to the system assignment XMLRPC endpoint
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add option to cancel affected actions when assigning schedules to systems
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

API endpoints for assigning maintenance schedules to systems
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add maintenance schedule assignment page under 'Misc' tab to SSM
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
  java/code/src/com/suse/manager/webui/templates/ssm/schedules.jade
  java/code/webapp/WEB-INF/nav/ssm.xml
  java/code/webapp/WEB-INF/pages/ssm/ssmindex.jsp
  web/html/src/components/buttons.js
  web/html/src/components/dialog/DangerDialog.js
  web/html/src/core/spa/spa-renderer.js
  web/html/src/manager/maintenance/index.js
  web/html/src/manager/maintenance/shared/cancel-actions-dialog.js
  web/html/src/manager/maintenance/ssm/schedule-picker.js
  web/html/src/manager/maintenance/ssm/system-assignment.js
Labels: java, ui, webapp, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Show currently assigned maintenance schedule in system properties panel
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Add maintenance schedule form controls to system properties edit page
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/details.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Add system assignment tab to maintenance schedule details page
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  web/html/src/components/tab-container.js
  web/html/src/manager/maintenance/details/maintenance-windows-details.js
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Describe changes
  spacecmd/spacecmd.changes
Labels: python3

Temporary patch for escaping package name in functions which call do_package_search.
  spacecmd/src/spacecmd/package.py
Labels: python3

Renaming centos_minion.feature to centos_ssh_minion.feature was not complete
  testsuite/features/init_clients/centos_minion.feature
Labels: testing, ruby_rubocop

Renaming centos_minion.feature to centos_ssh_minion.feature was not complete
  testsuite/features/init_clients/centos_minion.feature
Labels: testing, ruby_rubocop

Renaming centos_minion.feature to centos_ssh_minion.feature was not complete
  testsuite/features/init_clients/centos_minion.feature
Labels: testing, ruby_rubocop

Rename the virtual guest actions to *VirtualizationGuest*
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionInterfaceDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionInterfaceDetails.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationDeleteGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationDestroyGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationRebootGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationResumeGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationSetMemoryGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationSetVcpusGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationShutdownGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationStartGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationSuspendGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/test/VirtualizationActionsTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/VirtualizationActionCommand.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Move the transaction in the AbstractLibvirtEngineMessage
  java/code/src/com/suse/manager/reactor/messaging/AbstractLibvirtEngineMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle virtual storage pool events
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/AbstractLibvirtEngineMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolLifecycleMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolRefreshMessage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Notify VM state changes to virt WebSocket
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/useVirtNotification.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

virt guests: trigger refresh only when getting a websocket event
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/guests/list/guests-list.renderer.js
  web/html/src/manager/virtualization/guests/virtualization-guests-list-refresh-api.js
Labels: ui, javascript_lint

VirtNotifications: move ID calculation to the action class
  java/code/src/com/redhat/rhn/domain/action/Action.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationPoolAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolCreateAction.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
  java/code/src/com/suse/manager/webui/websocket/WebSocketActionIdProvider.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

virt pools: trigger refresh only when getting a websocket event
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/list/pools-list.renderer.js
  web/html/src/manager/virtualization/pools/virtualization-pools-list-refresh-api.js
Labels: ui, javascript_lint

Update changelogs
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Refresh virtual storage pool after deleting a volume
  susemanager-utils/susemanager-sls/salt/virt/volume-deleted.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Bugfix: Do not render maintenance windows, when they are empty and display warning instead
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Bugfix: Pre-select action chains radio, when maintenance windows are empty
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  web/html/src/components/action-schedule.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Renaming centos_minion.feature to centos_ssh_minion.feature was not complete
  testsuite/features/init_clients/centos_minion.feature
Labels: testing, ruby_rubocop

Spread the data before sorting it, so that the props aren't modified
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint
