Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Fix default gray darkness
  branding/css/susemanager-variables.less
Labels: none

Automatic commit of package [spacewalk-backend] release [4.1.11-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-branding] release [4.1.6-1].
  branding/spacewalk-branding.changes
  branding/spacewalk-branding.spec
  rel-eng/packages/spacewalk-branding
Labels: none

Automatic commit of package [spacewalk-java] release [4.1.14-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-web] release [4.1.13-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Automatic commit of package [susemanager] release [4.1.16-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-schema] release [4.1.10-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [susemanager-sync-data] release [4.1.6-1].
  rel-eng/packages/susemanager-sync-data
  susemanager-sync-data/susemanager-sync-data.changes
  susemanager-sync-data/susemanager-sync-data.spec
Labels: none

Rename workflow file to rubocop.yml
  .github/workflows/rubocop.yml
Labels: none

Rename workflow and job to rubocop
  .github/workflows/rubocop.yml
Labels: none

Update to actions/checkout@v2
  .github/workflows/ruby-checkstyle.yml
Labels: none

Run RuboCop less often
  .github/workflows/ruby-checkstyle.yml
Labels: none

Remove RuboCop from the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Move changelog entry to the correct place for spacewalk-branding
  branding/spacewalk-branding.changes
Labels: none

Automatic commit of package [spacewalk-branding] release [4.1.7-1].
  branding/spacewalk-branding.changes
  branding/spacewalk-branding.spec
  rel-eng/packages/spacewalk-branding
Labels: none

Fix typo on spacewalk-branding license
  branding/spacewalk-branding.changes
  branding/spacewalk-branding.spec
Labels: none

Fix spacewalk-java jar symlinks on OpenSUSE Leap 15.2
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Fix spacewalk-java jar symlinks on OpenSUSE Leap 15.2
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Fix spacewalk-java jar symlinks on OpenSUSE Leap 15.2
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix spacewalk-java jar symlinks on OpenSUSE Leap 15.2
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Slovak)
  backend/po/sk.po
Labels: backend_unittests_pgsql

Check if minion is in maintenance mode when running recurring actions
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Run RuboCop less often
  .github/workflows/ruby-checkstyle.yml
Labels: none

Rename workflow and job to rubocop
  .github/workflows/rubocop.yml
Labels: none

Remove RuboCop from the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Rename workflow file to rubocop.yml
  .github/workflows/rubocop.yml
Labels: none

Update to actions/checkout@v2
  .github/workflows/ruby-checkstyle.yml
Labels: none

Make some jar symlinks product dependent
  java/build.xml
  java/buildconf/build-props-susemanager.xml
  java/buildconf/build-props-uyuni.xml
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Make some jar symlinks product dependent
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Make some jar symlinks product dependent
  java/buildconf/build-props-susemanager.xml
  java/buildconf/build-props-uyuni.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Make some jar symlinks product dependent
  java/build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Check if minion is in maintenance mode when running recurring actions
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Turn methods to static ones for consistency
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Move more hibernate-related methods to the MaintenanceFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract hibernate code from MaintenanceManager to MaintenanceFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Protected -> private in MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adjust comments
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert: Protected -> private in MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
