Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Display upcoming maintenance windows in schedule details view
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Don't execute caasp.prepare_node on the mgmt node when joining a node
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/metadata.yml
Labels: none

fixup! Don't execute caasp.prepare_node on the mgmt node when joining a node
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/uyuni-cluster-provider-caasp.changes
Labels: none

override scc release stage in addition to product type
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/suse/scc/model/SCCProductJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add test for release stage override
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/smallBase/product_tree.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

adjust test data to be in line with new constraints
  java/code/src/com/redhat/rhn/manager/content/test/data1/product_tree.json
  java/code/src/com/redhat/rhn/manager/content/test/product_tree.json
  java/code/src/com/redhat/rhn/manager/content/test/smallBase/product_tree.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

override scc release stage in addition to product type
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/suse/scc/model/SCCProductJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add test for release stage override
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/smallBase/product_tree.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

adjust test data to be in line with new constraints
  java/code/src/com/redhat/rhn/manager/content/test/data1/product_tree.json
  java/code/src/com/redhat/rhn/manager/content/test/product_tree.json
  java/code/src/com/redhat/rhn/manager/content/test/smallBase/product_tree.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

Support monitoring for Ubuntu 20.04 (bsc#1173120)
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-java] release [4.0.34-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [susemanager-tftpsync-recv] release [4.0.7-1].
  rel-eng/packages/susemanager-tftpsync-recv
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.spec
Labels: none

disable Beta product tree tag
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use the Table component for the details view
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: ui, javascript_lint

fixup! Module: organizations
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

Caasp: don't execute caasp.prepare_node on the management node when joining a node (#2334)
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/metadata.yml
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/uyuni-cluster-provider-caasp.changes
Labels: none

Virt console: compute the websocket location on browser side
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/console.jade
  java/spacewalk-java.changes
  web/html/src/manager/virtualization/guests/console/guests-console.js
  web/html/src/manager/virtualization/guests/console/guests-console.renderer.js
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Virt console: compute the websocket location on browser side
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/console.jade
  java/spacewalk-java.changes
  web/html/src/manager/virtualization/guests/console/guests-console.js
  web/html/src/manager/virtualization/guests/console/guests-console.renderer.js
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Virt console: compute the websocket location on browser side
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/console.jade
  java/spacewalk-java.changes
  web/html/src/manager/virtualization/guests/console/guests-console.js
  web/html/src/manager/virtualization/guests/console/guests-console.renderer.js
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

VM properties dialog: convert disks fields into components
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
  web/html/src/manager/virtualization/guests/properties/guest-disks-panel.js
Labels: ui, javascript_lint

virt: handle cdrom devices as disks of file type
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
Labels: ui, javascript_lint

Remove the disk type from the VM properties dialog
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  schema/spacewalk/common/tables/rhnActionVirtCreateDiskDetails.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/001-rhnActionVirtCreateDiskDetails-remove-type.sql
  susemanager-utils/susemanager-sls/salt/virt/create-vm.sls
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

virt: add volumes listbox for disks of volume type
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
Labels: ui, javascript_lint

virt: get pool capabilities in GuestProperties
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
Labels: ui, javascript_lint

VM editing dialog: split disk fields into one component per type
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFileFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
Labels: ui, javascript_lint

Convert GuestProperties to a function component
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
Labels: ui, javascript_lint

virt: add disk format field
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  schema/spacewalk/common/tables/rhnActionVirtCreateDiskDetails.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/002-rhnActionVirtCreateDiskDetails-add-fields.sql
  web/html/src/manager/virtualization/guests/properties/GuestDiskFileFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Set the disk volume name in query and state
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

testsuite: fix minxen feature to pass on nested Xen
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

VM create/edit: make cdrom path editable
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: ui, javascript_lint

virt getDefinition: merge data from virt.get_xml and virt.vm_info
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/virt.guest.definition.xml
  java/code/src/com/suse/manager/virtualization/GuestDefinition.java
  java/code/src/com/suse/manager/virtualization/GuestDiskDef.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/VmInfoDiskJson.java
  java/code/src/com/suse/manager/virtualization/VmInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.vm.info.json
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Timeout version of 'I wait until table row for "test-vm" contains button "Resume"'
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

VM events: don't flag VM as stopped in live updates
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelogs
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/spacewalk-web.changes
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

testsuite: KVM restart the minion after applying entitlement
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

virt: update tests to handle volume disks
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Test the virtualization host formula
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

testsuite: Test cdrom attach and volume selection
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop
