Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

add notification for failed State Apply
  java/code/src/com/redhat/rhn/domain/notification/NotificationMessage.java
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationType.java
  java/code/src/com/redhat/rhn/domain/notification/types/StateApplyFailed.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/utils/SaltUtils.java
  web/html/src/manager/notifications/notification-messages.js
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

disable ChannelSyncFinished and list new notification types
  java/conf/rhn_java.conf
Labels: java, java_lint_checkstyle, java_pgsql_tests

put strings into localized format strings to prevent number formating
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFinished.java
  java/code/src/com/redhat/rhn/domain/notification/types/StateApplyFailed.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

generate text description from description
  web/html/src/manager/notifications/notification-messages.js
Labels: ui, javascript_lint

UI Notifications: Add 'description' field to the notification JSON
  java/code/src/com/suse/manager/webui/utils/gson/NotificationMessageJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove textSummary - not needed anymore
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFinished.java
  java/code/src/com/redhat/rhn/domain/notification/types/CreateBootstrapRepoFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationData.java
  java/code/src/com/redhat/rhn/domain/notification/types/OnboardingFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/StateApplyFailed.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
  java/code/src/com/suse/manager/webui/utils/gson/NotificationMessageJson.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update changelog
  backend/spacewalk-backend.changes
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  uyuni/common-libs/uyuni-common-libs.changes
  web/spacewalk-web.changes
Labels: java, ui, database, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

move schema migration
  schema/spacewalk/upgrade/susemanager-schema-4.1.5-to-susemanager-schema-4.1.6/001-notificationMessage-data-text.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Backend: rename description into details
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFinished.java
  java/code/src/com/redhat/rhn/domain/notification/types/CreateBootstrapRepoFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationData.java
  java/code/src/com/redhat/rhn/domain/notification/types/OnboardingFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/StateApplyFailed.java
  java/code/src/com/suse/manager/webui/utils/gson/NotificationMessageJson.java
  uyuni/common-libs/common/notificationUtils.py
Labels: java, java_lint_checkstyle, java_pgsql_tests

Frontend: rename description into details
  web/html/src/manager/notifications/notification-messages.js
Labels: ui, javascript_lint

UI Notifications: Wrap the details link in the brackets
  web/html/src/manager/notifications/notification-messages.js
Labels: ui, javascript_lint

UI Notifications: Show notification 'description' in a popup
  web/html/src/manager/notifications/notification-messages.js
Labels: ui, javascript_lint

UI Notifications: Refactor: Rename description to summary
  web/html/src/manager/notifications/notification-messages.js
Labels: ui, javascript_lint

update changelog
  web/spacewalk-web.changes
Labels: ui, javascript_lint

allow to sort Notifications by type
  web/html/src/manager/notifications/notification-messages.js
Labels: ui, javascript_lint

run database schema upgrade on startup
  spacewalk/admin/spacewalk-startup-helper
Labels: none

try to restart database check to apply schema upgrade
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

change update message to reflect schema auto upgrade
  schema/spacewalk/update-messages.txt
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

reload systemd daemon on package install or update
  spacewalk/admin/spacewalk-admin.spec
Labels: none

update changelog
  spacewalk/admin/spacewalk-admin.changes
Labels: none

update changelog
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Update update-messages.txt
  schema/spacewalk/update-messages.txt
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

remove key grains only when file and grain exists (bsc#1167237)
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
Labels: none

update changelog
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Revert "Upgrade acorn and minimist"
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Edits per feedback
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Test minion Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Fix RecurringActionHandler XMLRPC doc
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Create new action for given entity
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add RecurringActionSerializer
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/RecurringActionSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Recurring Actions: Test for XMLRPC handler and Web controller
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/test/RecurringActionHandlerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/RecurringActionControllerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Recurring Actions XMLRPC: Small improvement in the docs
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/RecurringActionSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add requested changes
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Recurring Actions: Improve validation mechanism
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add list recurring action by id
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor fix: check for null when looking up for Org
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Recurring Actions: Forbid blank cron expression
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extract save method from create/update
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
