Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

check for extra_tags in cached package entries (bsc#1159184)
  backend/satellite_tools/satsync.py
Labels: python3, backend_unittests_pgsql

update changelog
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

SaltServerActionService: removed unused private method
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

VirtualPoolsController, even more generic action scheduling code
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add DataResult type to ActionManager.pendingActions()
  java/code/src/com/redhat/rhn/frontend/action/schedule/PendingActionsSetupAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/schedule/ScheduleHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/schedule/test/ScheduleHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Merge WebUI Json utility scheduling-related classes
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
  java/code/src/com/suse/manager/webui/utils/gson/ScheduledRequestJson.java
  java/code/src/com/suse/manager/webui/utils/gson/SsmScheduleChannelChangesJson.java
  java/code/src/com/suse/manager/webui/utils/gson/SubscribeChannelsJson.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualGuestsBaseActionJson.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualPoolBaseActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Testsuite: Add test for monitoring feature
  testsuite/features/secondary/min_centos_monitoring.feature
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: testing, secondary-features, ci-pipelines, ruby_rubocop

Testsuite: Add test for monitoring feature
  testsuite/features/secondary/min_centos_monitoring.feature
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: testing, secondary-features, ci-pipelines, ruby_rubocop

Testsuite: Add test for monitoring feature
  testsuite/features/secondary/min_centos_monitoring.feature
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: testing, secondary-features, ci-pipelines, ruby_rubocop

fix xmlrpc doc generation
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ShortSystemInfoSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [susemanager-branding-oss] release [4.1.2-1].
  rel-eng/packages/susemanager-branding-oss
  susemanager-branding-oss/susemanager-branding-oss.changes
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: none

Automatic commit of package [susemanager-nodejs-sdk-devel] release [4.1.3-1].
  rel-eng/packages/susemanager-nodejs-sdk-devel
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.spec
Labels: none

Automatic commit of package [susemanager-tftpsync] release [4.1.2-1].
  rel-eng/packages/susemanager-tftpsync
  tftpsync/susemanager-tftpsync/susemanager-tftpsync.changes
  tftpsync/susemanager-tftpsync/susemanager-tftpsync.spec
Labels: none

Automatic commit of package [susemanager-tftpsync-recv] release [4.1.2-1].
  rel-eng/packages/susemanager-tftpsync-recv
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.spec
Labels: none

Automatic commit of package [spacewalk] release [4.1.3-1].
  rel-eng/packages/spacewalk
  spacewalk/package/spacewalk.changes
  spacewalk/package/spacewalk.spec
Labels: none

Automatic commit of package [spacewalk-admin] release [4.1.4-1].
  rel-eng/packages/spacewalk-admin
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-admin.spec
Labels: none

Automatic commit of package [spacewalk-backend] release [4.1.7-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-branding] release [4.1.4-1].
  branding/spacewalk-branding.changes
  branding/spacewalk-branding.spec
  rel-eng/packages/spacewalk-branding
Labels: none

Automatic commit of package [spacewalk-certs-tools] release [4.1.7-1].
  rel-eng/packages/spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Automatic commit of package [spacewalk-java] release [4.1.7-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-proxy-installer] release [4.1.4-1].
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  rel-eng/packages/spacewalk-proxy-installer
Labels: proxy

Automatic commit of package [spacewalk-utils] release [4.1.8-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

Bump SUSE Manager version 4.1.0 Beta2 and Uyuni version to 2020.04
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

Automatic commit of package [spacewalk-web] release [4.1.8-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Automatic commit of package [susemanager] release [4.1.8-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-sls] release [4.1.6-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Automatic commit of package [uyuni-common-libs] release [4.1.4-1].
  rel-eng/packages/uyuni-common-libs
  uyuni/common-libs/uyuni-common-libs.changes
  uyuni/common-libs/uyuni-common-libs.spec
Labels: none

Add future migration paths from 3.2 and 4.0
  schema/spacewalk/upgrade/susemanager-schema-3.2.24-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.25-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.26-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.27-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.28-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.29-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.30-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-4.0.19-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.20-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.21-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.22-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.23-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.24-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.25-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.26-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.27-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.28-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.29-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.30-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.31-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.32-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.33-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.34-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.35-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.36-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.37-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.38-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.39-to-susemanager-schema-4.1.0/README
  schema/spacewalk/upgrade/susemanager-schema-4.0.40-to-susemanager-schema-4.1.0/README
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [susemanager-schema] release [4.1.6-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Add some more migration paths from future 3.2 version, to be aligned with 4.1
  schema/spacewalk/upgrade/susemanager-schema-3.2.24-to-susemanager-schema-4.0.0/susemanager-schema-3.2.23-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.25-to-susemanager-schema-4.0.0/susemanager-schema-3.2.23-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.26-to-susemanager-schema-4.0.0/susemanager-schema-3.2.23-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.27-to-susemanager-schema-4.0.0/susemanager-schema-3.2.23-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.28-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.29-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.30-to-susemanager-schema-4.0.0/.gitkeep
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

use 'changes' field if 'pchanges' field doesn't exist (#1737)
  java/code/src/com/suse/manager/webui/utils/salt/custom/FilesDiffResult.java
  java/code/src/com/suse/manager/webui/utils/salt/test/dummy_files_diff_res.json
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap script used for minion
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/bootstrap-general.exp
Labels: testing, secondary-features, ruby_rubocop

bootstrap script used for minion
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/bootstrap-general.exp
Labels: testing, secondary-features, ruby_rubocop

bootstrap script used for minion
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/bootstrap-general.exp
Labels: testing, secondary-features, ruby_rubocop

use 'changes' field if 'pchanges' field doesn't exist (#1737)
  java/code/src/com/suse/manager/webui/utils/salt/custom/FilesDiffResult.java
  java/code/src/com/suse/manager/webui/utils/salt/test/dummy_files_diff_res.json
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace applyState with more specific method
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/services/iface/RedhatProductInfo.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add VirtManager interface and removing method from SystemQuery
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/VirtualizationEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/test/HostBuilder.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitlementManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/iface/TestVirtManager.java
  java/code/src/com/suse/manager/webui/services/iface/VirtManager.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, API, Virtualization management, java_lint_checkstyle, java_pgsql_tests

remove setReactor
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix tests
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualNetsControllerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update copyright
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
