Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Add eos-icons 4.0.3 package
  branding/css/eos-icons/dist/css/eos-icons.css
  branding/css/eos-icons/dist/fonts/eos-icons.eot
  branding/css/eos-icons/dist/fonts/eos-icons.svg
  branding/css/eos-icons/dist/fonts/eos-icons.ttf
  branding/css/eos-icons/dist/fonts/eos-icons.woff
  branding/css/eos-icons/dist/fonts/eos-icons.woff2
  branding/css/eos-icons/dist/index.html
  branding/css/eos-icons/dist/js/eos-icons.json
  branding/css/eos-icons/dist/js/glyph-list.json
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Use eos-icons svg in the loading component
  branding/css/eos-icons/animated-svg/installing.svg
  branding/css/eos-icons/animated-svg/loading.svg
  web/html/src/components/utils/Loading.js
  web/html/src/components/utils/Loading.stories.js
Labels: ui, javascript_lint

[WIP] adapt basic components to use the new Icon component
  web/html/src/components/datetimepicker.js
  web/html/src/components/icon.js
Labels: ui, javascript_lint

Icon component for eos-icons set
  web/html/src/components/icon.js
  web/html/src/components/icontag.js
  web/html/src/components/systems.js
  web/html/src/components/utils/Loading.js
  web/html/src/manager/admin/config/monitoring-admin.js
Labels: ui, javascript_lint

Use the Loading component
  web/html/src/manager/images/image-view-overview.js
  web/html/src/manager/images/image-view.js
  web/html/src/manager/systems/activation-key/activation-key-channels.js
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.js
Labels: ui, javascript_lint

fix-yum-based-distros-repo_gpgcheck-state
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
Labels: none

extract createActionForServerAt into utils class
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Handle reschedule case "Fail" and return detailed reschedule informations
  java/code/src/com/suse/manager/xmlrpc/serializer/RescheduleResultSerializer.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! unit test: test action chains
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! extract createActionForServerAt into utils class
  java/code/src/com/suse/manager/maintenance/test/MaintenanceTestUtils.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

use defined return values for spacecmd methods so scripts can check for failure (bsc#1171687)
  spacecmd/src/bin/spacecmd
  spacecmd/src/spacecmd/shell.py
  spacecmd/src/spacecmd/system.py
Labels: python3

use defined return values for spacecmd methods so scripts can check for failure (bsc#1171687)
  spacecmd/spacecmd.changes
Labels: python3

fix spacecmd tests
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/group.py
Labels: python3

fix spacecmd tests
  spacecmd/src/spacecmd/group.py
Labels: python3

Automatic commit of package [spacewalk-backend] release [4.1.8-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-certs-tools] release [4.1.8-1].
  rel-eng/packages/spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Automatic commit of package [spacewalk-java] release [4.1.9-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-proxy-installer] release [4.1.5-1].
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  rel-eng/packages/spacewalk-proxy-installer
Labels: proxy

Automatic commit of package [spacewalk-utils] release [4.1.9-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

SUSE Manager 4.1 Beta4 and Uyuni 2020.05
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

Automatic commit of package [spacewalk-web] release [4.1.10-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Automatic commit of package [suseRegisterInfo] release [4.1.2-1].
  rel-eng/packages/suseRegisterInfo
  suseRegisterInfo/suseRegisterInfo.changes
  suseRegisterInfo/suseRegisterInfo.spec
Labels: none

Rubocop upgrade version of Ruby (2.5)
  .rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
Labels: testing, ci-pipelines, ruby_rubocop

Automatic commit of package [susemanager] release [4.1.12-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-nodejs-sdk-devel] release [4.1.4-1].
  rel-eng/packages/susemanager-nodejs-sdk-devel
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.spec
Labels: none

Automatic commit of package [susemanager-schema] release [4.1.7-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [susemanager-sls] release [4.1.7-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Automatic commit of package [susemanager-sync-data] release [4.1.4-1].
  rel-eng/packages/susemanager-sync-data
  susemanager-sync-data/susemanager-sync-data.changes
  susemanager-sync-data/susemanager-sync-data.spec
Labels: none

Automatic commit of package [susemanager-tftpsync-recv] release [4.1.3-1].
  rel-eng/packages/susemanager-tftpsync-recv
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.spec
Labels: none

Automatic commit of package [uyuni-common-libs] release [4.1.5-1].
  rel-eng/packages/uyuni-common-libs
  uyuni/common-libs/uyuni-common-libs.changes
  uyuni/common-libs/uyuni-common-libs.spec
Labels: none

Handle monitoring Formula when entitlement is added
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Handle monitoring cleanup on entitlement removal
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add throws clause for (unchecked) ValidatorException
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Stop throwing UnsupportedOperationException
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Throw exceptions from monitoring enablement / disablement
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Convert ValidatorException to ValidationException (for XMLRPC)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

missleading error messages changed
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop

misleading name changed to ubuntu ssh minion
  testsuite/features/secondary/min_ubuntu_salt_install_package.feature
Labels: testing, secondary-features, ruby_rubocop

use defined return values for spacecmd methods so scripts can check for failure (bsc#1171687)
  spacecmd/src/spacecmd/activationkey.py
  spacecmd/src/spacecmd/cryptokey.py
  spacecmd/src/spacecmd/custominfo.py
  spacecmd/src/spacecmd/distribution.py
  spacecmd/src/spacecmd/errata.py
  spacecmd/src/spacecmd/filepreservation.py
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/src/spacecmd/misc.py
  spacecmd/src/spacecmd/org.py
  spacecmd/src/spacecmd/package.py
  spacecmd/src/spacecmd/repo.py
  spacecmd/src/spacecmd/schedule.py
  spacecmd/src/spacecmd/snippet.py
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/src/spacecmd/user.py
Labels: python3

fix typo
  spacecmd/src/spacecmd/cryptokey.py
Labels: python3
