Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

configure api doc for new destination
  java/build.xml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle action chains
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix timezone for tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

implement rescheduling strategy for actions
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test for multi schedule change
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/README.md
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-multi-exchange-1.ics
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-multi-exchange-2.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

use full return type
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test: test action chains
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

rename maintenancemodeOnly
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Let normal user list and lookup Maintenance Schedules and Calendar
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

check permissions in Manager class
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

ical4j.properties
  java/code/src/ical4j.properties
Labels: java, java_lint_checkstyle, java_pgsql_tests

createSchedule with maintenance calendar label
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test: schedule state.apply with just channels
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Test computing upcoming windows from a calendar with multiple timezones
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerWindowsTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-google-multizones.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

extract createActionForServerAt into utils class
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceTestUtils.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Backend: Method for calculating upcoming maintenance windows
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
  java/code/src/com/redhat/rhn/frontend/struts/MaintenanceWindowHelper.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

JSP: Support for greying out date picker # Bitte geben Sie eine Commit-Beschreibung für Ihre Änderungen ein. Zeilen,
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/common/fragments/date-picker.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

throw new DownloadFaultException when calendar download failed
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/DownloadFaultException.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Only check actions with no pre-requisites when checking for maintenance mode
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove calendar needs possibility to cancel affected actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix unit test
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Allow to remove a calender from a schedule
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

JSP: Implement maintenance window picker
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Handle reschedule case "Fail" and return detailed reschedule informations
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/RescheduleResult.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/RescheduleResultSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Check for maintenance windows when scheduling actions
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor: Rename function
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Struts: Support reading maint. window date from the dynaForm
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Extract function for parsing calendar from string
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

forbid to change the unique identifier
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

allow channel change event to apply the new channel state
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Support checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix Javadoc
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix unit test: non-deterministic order at remove schedules solved
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use special method for maintenance window check
  java/code/src/com/redhat/rhn/domain/action/Action.java
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/rhnpackage/test/PackageActionTest.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix returning reschedule results
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extract function for getting events at given time
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

test remove calendar
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Test checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests
