Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Adjust the Maint. controller to use POJO instead of Triple for maint. windows
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix the javadoc, remove dangling comment
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adjust comments
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Get rid of smurf code in CalendarFactory and ScheduleFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/factory/CalendarFactory.java
  java/code/src/com/suse/manager/maintenance/factory/ScheduleFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

DB table for salt runner jobs
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/001-rhnActionSaltRunnerJob.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

orchestration states for removing cluster node
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/caasp/orch/removenodes.sls
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/metadata.yml
  susemanager-utils/susemanager-sls/salt/clusters/orch/joinnodes.sls
  susemanager-utils/susemanager-sls/salt/clusters/orch/removenodes.sls
Labels: none

handle runner return events
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/ActionSaltRunnerJob.java
  java/code/src/com/redhat/rhn/domain/action/ActionSaltRunnerJobKey.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/BaseSaltRunnerAction.java
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/suse/manager/clusters/test/ClusterFactoryTest.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/RunnerReturnEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/RunnerReturnEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/RunnerReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/runner.state.orchestrate.cluster.removenodes.json
  java/code/src/com/suse/manager/webui/controllers/clusters/ClustersController.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/RunnerResult.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/ExecResult.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/RunnerRemoveClusterNodeSlsResult.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

for the base channel use generated metadata
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

new comps type mediaproducts for media.1/products files
  schema/spacewalk/common/data/rhnCompsType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.20-to-susemanager-schema-4.0.21/001-new-comps-type.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

deliver media.1/products file when requested
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/channel/MediaProducts.java
  java/code/src/com/redhat/rhn/domain/channel/RepoMetadata.hbm.xml
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

download media.1/products when available and store it in DB
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

fix unit tests
  backend/satellite_tools/test/unit/test_reposync.py
Labels: python3, backend_unittests_pgsql

Update Comment
  backend/satellite_tools/repo_plugins/yum_src.py
Labels: python3, backend_unittests_pgsql

use cache dir from config
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update changelogs
  backend/spacewalk-backend.changes
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
Labels: java, database, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add extra line
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

Translated using Weblate (Japanese)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Japanese)
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ja.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Japanese)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Japanese)
  java/code/src/com/redhat/rhn/frontend/strings/nav/StringResource_ja.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Japanese)
  client/rhel/spacewalk-client-tools/po/ja.po
Labels: none

Fix suseChannelUserRoleView to use notGloballySubscribableChannels as the in the initial setup
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/001-fix_suseChannelUserRoleView.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

The change for the table virtual name itself was missing
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/001-fix_suseChannelUserRoleView.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

drop function in the public schema and create it in rhn_entitlement
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/002-entitle-server.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

create entitle_server in rhn_entitlements namespace
  schema/spacewalk/upgrade/susemanager-schema-4.0.10-to-susemanager-schema-4.0.11/061-entitle-server.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Idempotency check ignore tab and whitespaces
  susemanager-utils/testing/docker/scripts/schema_idempotency_test_pgsql.py
Labels: none

create entitle_server in rhn_entitlements namespace
  schema/spacewalk/upgrade/susemanager-schema-4.0.10-to-susemanager-schema-4.0.11/061-entitle-server.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

drop function in the public schema and create it in rhn_entitlement
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/002-entitle-server.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

The change for the table virtual name itself was missing
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/001-fix_suseChannelUserRoleView.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Idempotency check ignore tab and whitespaces
  susemanager-utils/testing/docker/scripts/schema_idempotency_test_pgsql.py
Labels: none

Change Uyuni testing docker images to Leap 15.2
  susemanager-utils/testing/docker/master/Makefile
  susemanager-utils/testing/docker/master/uyuni-master-base/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-base/susemanager-schema-4.0.1-1.2.noarch.rpm
  susemanager-utils/testing/docker/master/uyuni-master-base/susemanager-schema-4.1.8-1.2.uyuni.noarch.rpm
  susemanager-utils/testing/docker/master/uyuni-master-cobbler/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-gatherer/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-pgsql-4eclipse/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/add_packages.sh
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/setup-db-postgres.sh
  susemanager-utils/testing/docker/master/uyuni-master-root/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-root/add_repositories.sh
  susemanager-utils/testing/docker/master/uyuni-master-spacewalkkoan/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-push-to-obs/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-push-to-obs/add_repositories.sh
  susemanager-utils/testing/docker/scripts/init-pgsql-db4eclipse.sh
  susemanager-utils/testing/docker/scripts/reset_pgsql_database.sh
  susemanager-utils/testing/docker/scripts/schema_idempotency_test_pgsql.py
  susemanager-utils/testing/docker/scripts/schema_migration_test_pgsql-31to41.sh
Labels: none

Fix suseChannelUserRoleView to use notGloballySubscribableChannels as the in the initial setup
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/001-fix_suseChannelUserRoleView.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

introduce maintenance_mode_only flag in rhnActionType
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Hibernate mapping for Maintenance Schedule
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/model/maintenance/MaintenanceCalendar.java
  java/code/src/com/suse/manager/model/maintenance/MaintenanceSchedule.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: define suseMaintenanceSchedule
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/101-suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

define suseMaintenanceSchedule
  schema/spacewalk/common/tables/suseMaintenanceCalendar.sql
  schema/spacewalk/common/tables/suseMaintenanceSchedule.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/postgres/triggers/suseMaintenanceCalendar.sql
  schema/spacewalk/postgres/triggers/suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

schema upgrade: reference maintenance schedule from server
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/102-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

update Hibernate Schema for rhnActionType to add maintenance_mode_only flag
  java/code/src/com/redhat/rhn/domain/action/ActionType.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/ActionType.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: add maintenance_mode_only column to rhnActionType
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/100-rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

reference maintenance schedule from server
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/common/tables/tables.deps
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
