Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Temporarily disable CentOS reboots
  testsuite/features/secondary/allcli_reboot.feature
Labels: testing, secondary-features, ruby_rubocop

Temporarily disable CentOS reboots
  testsuite/features/secondary/allcli_reboot.feature
Labels: testing, secondary-features, ruby_rubocop

prevent race condition on metadata generation (bsc#1170197)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Endpoint for getting the combined formula data for servers
  java/code/src/com/redhat/rhn/domain/dto/FormulaData.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Endpoint for retrieving network info for a list of systems
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add entry in the change log file
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Endpoint for retrieving group information for systems with entitlement
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/dto/SystemGroupID.java
  java/code/src/com/redhat/rhn/domain/dto/SystemGroupsDTO.java
  java/code/src/com/redhat/rhn/domain/dto/SystemIDInfo.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SystemGroupsDTOSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/test/MinionActionManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

prevent race condition on metadata generation (bsc#1170197)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

prevent race condition on metadata generation (bsc#1170197)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix combined formula data test
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix on xmlrpc api doc for formula handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

temporary hack to pass accessible url check
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

temporary hack to pass accessible url check
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Auto select recommended and mandatory channels by default
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.js
Labels: ui, javascript_lint

Select and disable mandatory channels in ActivationKey (bsc#1162843)
  web/html/src/manager/systems/activation-key/child-channels.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Fetch channels mandatory dependencies in AK on loading
  web/html/src/manager/systems/activation-key/child-channels.js
Labels: ui, javascript_lint

Prevent 404 on a network requests with invalid ak id param
  web/html/src/manager/systems/activation-key/activation-key-channels-api.js
Labels: ui, javascript_lint

Bootstrap with ActivationKey channels only (bsc#1166516)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix imports order
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make sure all mandatory channels are added anyway
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Split base from child channels in system details view
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

No mandatory if no base product found
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix test expectation and move method to proper place
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

migrate cobbler configs for ks_mirror -> distro_mirror rename (bsc#1169209)
  susemanager/bin/mgr-setup
Labels: susemanager_unittests

migrate cobbler configs for ks_mirror -> distro_mirror rename (bsc#1169209)
  susemanager/susemanager.changes
Labels: susemanager_unittests

centos and oraclelinux product data
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/channel_families.json
Labels: none

Add virtual hosts to cucumber-steps.md
  testsuite/documentation/cucumber-steps.md
Labels: testing, ruby_rubocop

Fix NPE when getting the combined formula data of a system
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

run refresh only when repos are enabled
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Improve performance for 'States' view in SystemGroups detail view (bsc#1158752)
  java/code/src/com/redhat/rhn/domain/server/MinionIds.java
  java/code/src/com/redhat/rhn/domain/server/MinionServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

add changelog
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

run refresh only when repos are enabled
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Improve performance for 'States' view in SystemGroups detail view (bsc#1158752)
  java/code/src/com/redhat/rhn/domain/server/MinionIds.java
  java/code/src/com/redhat/rhn/domain/server/MinionServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Endpoint for retrieving group information for systems with entitlement
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/dto/SystemGroupID.java
  java/code/src/com/redhat/rhn/domain/dto/SystemGroupsDTO.java
  java/code/src/com/redhat/rhn/domain/dto/SystemIDInfo.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SystemGroupsDTOSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/test/MinionActionManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Endpoint for getting the combined formula data for servers
  java/code/src/com/redhat/rhn/domain/dto/FormulaData.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Endpoint for retrieving network info for a list of systems
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add entry in the change log file
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests
