Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Require python3-tornado only for SLE15/SLE15SP1/openSUSE Leap 15.1 (bsc#1169865)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Automatic commit of package [susemanager] release [4.1.11-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Port changes from master, including tagging
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: python3, susemanager_unittests

Require python3-M2Crypto for all SLE15 and openSUSE Leap 15.1 repositories
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Require python3-M2Crypto for all SLE15 and openSUSE Leap 15.1 repositories
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

hide message from log
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

register ChannelsChangedEventMessageAction in taskomatic again
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/redhat/rhn/testing/RhnBaseTestCase.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

checkstyle
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Port changes from master, including tagging
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: python3, susemanager_unittests

Require python3-tornado only for SLE15/SLE15SP1/openSUSE Leap 15.1 (bsc#1169865)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Require python3-tornado only for SLE15/SLE15SP1 (bsc#1169865)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Tool to check Uyuni versions before a release
  rel-eng/uyuni-check-version
Labels: none

Tool to check Uyuni versions before a release
  rel-eng/uyuni-check-version
Labels: none

Improve the link for creating doc issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

use default sender address from web namespace
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

update changelog
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Disable simplecov
  testsuite/Gemfile
  testsuite/documentation/software-components.md
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Disable simplecov
  testsuite/Gemfile
  testsuite/documentation/software-components.md
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Disable simplecov
  testsuite/Gemfile
  testsuite/documentation/software-components.md
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Disable simplecov
  testsuite/Gemfile
  testsuite/documentation/software-components.md
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Check that reposync works as expected
  testsuite/features/reposync/srv_check_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/reposync.yml
  testsuite/run_sets/virtualization.yml
Labels: testing, ci-pipelines, ruby_rubocop

Do not produce 500 errors with empty and UTF files (bsc#1167265)
  tftpsync/susemanager-tftpsync-recv/add.wsgi
Labels: none

Update changelog for susemanager-tftpsync-recv
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
Labels: none

Check that reposync works as expected
  testsuite/features/reposync/srv_check_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/reposync.yml
  testsuite/run_sets/virtualization.yml
Labels: testing, ci-pipelines, ruby_rubocop

Check that reposync works as expected
  testsuite/features/reposync/srv_check_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/reposync.yml
Labels: testing, ci-pipelines, ruby_rubocop

rebuild containers
  susemanager-utils/testing/docker/master/Makefile
Labels: none

Commenting out simplecov
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Commenting out simplecov
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Commenting out simplecov
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Commenting out simplecov
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop

Servicepack Migration: Remember Settings
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemHistoryEventAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/history_event.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Add logging output
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add suggested changes
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemHistoryEventAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/history_event.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Add changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk] release [4.0.5-1].
  rel-eng/packages/spacewalk
  spacewalk/package/spacewalk.changes
  spacewalk/package/spacewalk.spec
Labels: none

Add logging output
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add suggested changes
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemHistoryEventAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/history_event.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Servicepack Migration: Remember Settings
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemHistoryEventAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/history_event.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
