Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Add bootstrapping for Oracle Linux 6, 7 and 8
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/OEL6.sls
  susemanager-utils/susemanager-sls/salt/certs/OEL7.sls
  susemanager-utils/susemanager-sls/salt/certs/OEL8.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Can't refresh with no enabled repositories
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Can't refresh with no enabled repositories
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

testsuite - avoid misleading messages
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop

avoid mandatory proxy for bootstrap
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

handle centos urls that contain repo target in query string (bsc#1171996)
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-java] release [4.1.10-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Replace javascript lib toastr with react-toastify
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/components/toastr/toastr.css
  web/html/src/components/toastr/toastr.js
  web/html/src/manager/content-management/create-project/create-project.renderer.js
  web/html/src/manager/content-management/list-filters/list-filters.renderer.js
  web/html/src/manager/content-management/list-projects/list-projects.renderer.js
  web/html/src/manager/content-management/project/project.renderer.js
  web/html/src/manager/minion/packages/package-states.renderer.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Replace javascript lib toastr with react-toastify (#2243)
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/components/toastr/toastr.css
  web/html/src/components/toastr/toastr.js
  web/html/src/manager/content-management/create-project/create-project.renderer.js
  web/html/src/manager/content-management/list-filters/list-filters.renderer.js
  web/html/src/manager/content-management/list-projects/list-projects.renderer.js
  web/html/src/manager/content-management/project/project.renderer.js
  web/html/src/manager/minion/packages/package-states.renderer.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Additional dependencies and removal of Py3 backports
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

Make systemd services and timers enablement really quiet
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

Make systemd services and timers enablement really quiet
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

Make systemd services and timers enablement really quiet
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

Testsuite: fix URL in README
  testsuite/README.md
Labels: testing, ruby_rubocop

InstalledPackage: add toString()
  java/code/src/com/redhat/rhn/domain/server/InstalledPackage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bugfix: avoid mass deletion and re-insertion of InstalledPackages for Ubuntu minions
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Removed python-enum34 since this is also a backport
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

Add bootstrapping for Oracle Linux 6, 7 and 8
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/OEL6.sls
  susemanager-utils/susemanager-sls/salt/certs/OEL7.sls
  susemanager-utils/susemanager-sls/salt/certs/OEL8.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

handle GPG check flags different for yum/dnf (bsc#1171859)
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
Labels: none

update changelog
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

libpython-stdlib has to be Py3 too and python3-gnupg was missing
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

Changelog entry
  susemanager/susemanager.changes
Labels: susemanager_unittests

Feat: make Salt clusters.listnodes return the machine-id
  java/code/src/com/suse/manager/clusters/ClusterProviderParameters.java
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix: match parameters with the example
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Collect internal IPs from kubeapi and expose them on list_nodes
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Refactor code and add _join_return_dicts
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Implement CaaSP cluster upgrade procedure for upgrade_cluster method
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Fix indentation and upgrade procedure comments
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Update changelog for spacewalk-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Add missing header to ClusterProviderParameters.java file
  java/code/src/com/suse/manager/clusters/ClusterProviderParameters.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Do not crash if kubernetes python libs are not found
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Use kubectl instead of python kubernetes library
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

fix info text about package installation on channel change (bsc#1171684)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

add other missing translations
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Manager bsc1169536 (#2215)
  susemanager/bin/mgr-setup
  susemanager/bin/migrate-cobbler.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

Wait for real that we change to client details page
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

spacewalk-debug --no-report parameter can now be passed in any order
  backend/satellite_tools/spacewalk-debug
Labels: backend_unittests_pgsql

spacewalk-debug/supportconfig speedup fixes and --no-compression flag
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.changes
  susemanager-utils/supportutils-plugin-susemanager/supportconfig-sumalog
Labels: backend_unittests_pgsql

Remove useless rhn_eclipse_libraries.xml
  java/conf/eclipse/rhn_eclipse_libraries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
