Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Use HTTPS for Oracle repositories
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Describe changes
  spacecmd/spacecmd.changes
Labels: python3

Use HTTPS for Oracle repositories
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Validate CLM projects on build/promote with XMLRPC
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentFilterTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ModuleFilterTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentProjectValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ContentValidatorTestBase.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ContentValidationFaultException.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/test/ContentManagementHandlerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/list-filters/filter-form.js
Labels: java, ui, API, content-management, javascript_lint, java_lint_checkstyle, java_pgsql_tests

specify gpg key for RH systems in repo file
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
Labels: none

Ubuntu repo syncs are using http proxy
  backend/common/repo.py
  backend/satellite_tools/repo_plugins/deb_src.py
Labels: python3, backend_unittests_pgsql

trust customer gpg key when metadata signing is enabled
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

update changelog
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

specify gpg key for RH systems in repo file
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
Labels: none

trust customer gpg key when metadata signing is enabled
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

update changelog
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Adds changelog entry
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

add missing changes message supportconfig speedup
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes
Labels: none

add missing changes message supportconfig speedup
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes
Labels: none

update changelog
  web/spacewalk-web.changes
Labels: ui, javascript_lint

(bsc#1171251) sort activation keys on bootstrapping page
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ui, javascript_lint

update changelog
  web/spacewalk-web.changes
Labels: ui, javascript_lint

(bsc#1171251) sort activation keys on bootstrapping page
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ui, javascript_lint

(bsc#1171251) sort activation keys on bootstrapping page
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ui, javascript_lint

update changelog
  web/spacewalk-web.changes
Labels: ui, javascript_lint

fix permission issue with orgadmins on vhm refresh
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/suse/manager/webui/controllers/VirtualHostManagerController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix permission issue with orgadmins on vhm refresh
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/suse/manager/webui/controllers/VirtualHostManagerController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix permission issue with orgadmins on vhm refresh
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/suse/manager/webui/controllers/VirtualHostManagerController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make Timeouts configurable for HTTP Connections
  java/code/src/com/redhat/rhn/common/util/http/HttpClientAdapter.java
  java/conf/rhn_java.conf
Labels: java, java_lint_checkstyle, java_pgsql_tests

workaround race condition in DebReleaseWriterTest
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/test/DebReleaseWriterTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Switching bootstrapping packages to python3 for Ubuntu 18.04 (#2183)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

apply highstate when add-on system types should be applied to the on bootstrapping (bsc#1172190)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

apply highstate when add-on system types should be applied to the on bootstrapping (bsc#1172190)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

add missing changes message supportconfig speedup
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes
Labels: none

update changelog
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

fixing centos/oraclelinux 6-8
  susemanager-sync-data/additional_products.json
Labels: none

add Ubuntu 20.04 LTS
  susemanager-sync-data/additional_products.json
Labels: none

add Ubuntu 20.04
  susemanager-sync-data/additional_products.json
Labels: none

update changelog
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
