Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

fix unit tests
  backend/satellite_tools/test/unit/test_reposync.py
Labels: python3, backend_unittests_pgsql

download media.1/products when available and store it in DB
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

Update Comment
  backend/satellite_tools/repo_plugins/yum_src.py
Labels: python3, backend_unittests_pgsql

update changelogs
  backend/spacewalk-backend.changes
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
Labels: java, database, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

use cache dir from config
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

deliver media.1/products file when requested
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/channel/MediaProducts.java
  java/code/src/com/redhat/rhn/domain/channel/RepoMetadata.hbm.xml
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add extra line
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

for the base channel use generated metadata
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

new comps type mediaproducts for media.1/products files
  schema/spacewalk/common/data/rhnCompsType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.9-to-susemanager-schema-4.1.10/001-new-comps-type.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

All less/css files at the same parent folder
  branding/css/uyuni-login.less
  branding/css/uyuni-mixins.less
  branding/css/uyuni-theme.less
  branding/css/uyuni-typography.less
  branding/css/uyuni-variables.less
  branding/css/uyuni.less
  branding/spacewalk-branding.spec
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Squashing and refactoring redundant style code
  branding/css/spacewalk-error.less
  branding/css/spacewalk-responsive-rules.less
  branding/css/spacewalk-theme.less
  branding/css/spacewalk-variables.less
  branding/css/susemanager-buttons.less
  branding/css/susemanager-login.less
  branding/css/susemanager-mixins.less
  branding/css/susemanager-notifications.less
  branding/css/susemanager-responsive-rules.less
  branding/css/susemanager-setup-wizard.less
  branding/css/susemanager-theme.less
  branding/css/susemanager-variables.less
  branding/css/susemanager-visualization.less
  branding/css/susemanager.less
  branding/css/uyuni/uyuni-login.less
  branding/css/uyuni/uyuni-mixins.less
  branding/css/uyuni/uyuni-theme.less
  branding/css/uyuni/uyuni-variables.less
  branding/css/uyuni/uyuni.less
  branding/spacewalk-branding.spec
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Remove header product name in the login page
  web/html/src/manager/login/login-header.js
Labels: ui, javascript_lint

Get rid of tree_row table custom style
  branding/css/spacewalk-tables.less
  java/code/src/com/redhat/rhn/frontend/taglibs/list/row/VirtualSystemsRowRenderer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix input placeholder color
  branding/css/susemanager-theme.less
  branding/css/susemanager-variables.less
  branding/css/uyuni-theme.less
  branding/css/uyuni-variables.less
Labels: none

Fix legend colors
  branding/css/susemanager-variables.less
Labels: none

Fix default gray darkness
  branding/css/susemanager-variables.less
Labels: none

Reduce and squash redundant style code
  branding/css/fixes.less
  branding/css/notifications.less
  branding/css/responsive-rules.less
  branding/css/setup-wizard.less
  branding/css/susemanager-buttons.less
  branding/css/susemanager-responsive-rules.less
  branding/css/susemanager-tables.less
  branding/css/susemanager.less
  branding/css/tables.less
  branding/css/uyuni.less
  branding/css/visualization.less
Labels: none

Reorder less imports
  branding/css/susemanager-theme.less
  branding/css/susemanager.less
  branding/css/uyuni-theme.less
  branding/css/uyuni-typography.less
  branding/css/uyuni.less
Labels: none

Get rid of prefix
  branding/css/error.less
  branding/css/fixes.less
  branding/css/inputs.less
  branding/css/mixins.less
  branding/css/responsive-rules.less
  branding/css/susemanager.less
  branding/css/tables.less
  branding/css/theme.less
  branding/css/tools.less
  branding/css/uyuni.less
  branding/css/variables.less
Labels: none

Get rid of empty rules
  branding/css/theme.less
Labels: none

Checkstyle: replace '\t' with 2 spaces
  branding/css/error.less
  branding/css/fixes.less
  branding/css/inputs.less
  branding/css/mixins.less
  branding/css/responsive-rules.less
  branding/css/susemanager-mixins.less
  branding/css/tables.less
  branding/css/theme.less
  branding/css/uyuni-mixins.less
  branding/css/variables.less
Labels: none

Bugfix: wrong closing brackets
  branding/css/responsive-rules.less
Labels: none

Changelog
  branding/spacewalk-branding.changes
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

fix dryrun
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

fix dryrun
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

move directory only when it exists (bsc#1166806)
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

Bugfix: wrong closing brackets
  branding/css/responsive-rules.less
Labels: none

Remove header product name in the login page
  web/html/src/manager/login/login-header.js
Labels: ui, javascript_lint

Get rid of tree_row table custom style
  branding/css/spacewalk-tables.less
  java/code/src/com/redhat/rhn/frontend/taglibs/list/row/VirtualSystemsRowRenderer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix input placeholder color
  branding/css/susemanager-theme.less
  branding/css/susemanager-variables.less
  branding/css/uyuni-theme.less
  branding/css/uyuni-variables.less
Labels: none

Reorder less imports
  branding/css/susemanager-theme.less
  branding/css/susemanager.less
  branding/css/uyuni-theme.less
  branding/css/uyuni-typography.less
  branding/css/uyuni.less
Labels: none

Get rid of empty rules
  branding/css/theme.less
Labels: none

Reduce and squash redundant style code
  branding/css/fixes.less
  branding/css/notifications.less
  branding/css/responsive-rules.less
  branding/css/setup-wizard.less
  branding/css/susemanager-buttons.less
  branding/css/susemanager-responsive-rules.less
  branding/css/susemanager-tables.less
  branding/css/susemanager.less
  branding/css/tables.less
  branding/css/uyuni.less
  branding/css/visualization.less
Labels: none

Checkstyle: replace '\t' with 2 spaces
  branding/css/error.less
  branding/css/fixes.less
  branding/css/inputs.less
  branding/css/mixins.less
  branding/css/responsive-rules.less
  branding/css/susemanager-mixins.less
  branding/css/tables.less
  branding/css/theme.less
  branding/css/uyuni-mixins.less
  branding/css/variables.less
Labels: none

Fix legend colors
  branding/css/susemanager-variables.less
Labels: none

Squashing and refactoring redundant style code
  branding/css/spacewalk-error.less
  branding/css/spacewalk-responsive-rules.less
  branding/css/spacewalk-theme.less
  branding/css/spacewalk-variables.less
  branding/css/susemanager-buttons.less
  branding/css/susemanager-login.less
  branding/css/susemanager-mixins.less
  branding/css/susemanager-notifications.less
  branding/css/susemanager-responsive-rules.less
  branding/css/susemanager-setup-wizard.less
  branding/css/susemanager-theme.less
  branding/css/susemanager-variables.less
  branding/css/susemanager-visualization.less
  branding/css/susemanager.less
  branding/css/uyuni/uyuni-login.less
  branding/css/uyuni/uyuni-mixins.less
  branding/css/uyuni/uyuni-theme.less
  branding/css/uyuni/uyuni-variables.less
  branding/css/uyuni/uyuni.less
  branding/spacewalk-branding.spec
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Get rid of prefix
  branding/css/error.less
  branding/css/fixes.less
  branding/css/inputs.less
  branding/css/mixins.less
  branding/css/responsive-rules.less
  branding/css/susemanager.less
  branding/css/tables.less
  branding/css/theme.less
  branding/css/tools.less
  branding/css/uyuni.less
  branding/css/variables.less
Labels: none

Changelog
  branding/spacewalk-branding.changes
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

All less/css files at the same parent folder
  branding/css/uyuni-login.less
  branding/css/uyuni-mixins.less
  branding/css/uyuni-theme.less
  branding/css/uyuni-typography.less
  branding/css/uyuni-variables.less
  branding/css/uyuni.less
  branding/spacewalk-branding.spec
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
