Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Bugfix: Do not render maintenance windows, when they are empty and display warning instead
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Add maintenance schedule form controls to system properties edit page
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/details.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Adapt test to assign schedules to systems to use actual data
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Show currently assigned maintenance schedule in system properties panel
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

update changelogs
  branding/spacewalk-branding.changes
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Fix the event filtering in MULTI Schedules
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/test/IcalUtilsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move maintenance window related code to the end of the function
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Bugfix: Pre-select action chains radio, when maintenance windows are empty
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  web/html/src/components/action-schedule.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Don't fail rescheduling if list of affected actions is empty
  java/code/src/com/suse/manager/maintenance/rescheduling/FailRescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert calling saveMessages unconditionally
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Correctly pass error message from backend
  web/html/src/manager/maintenance/details/schedule-details.js
Labels: ui, javascript_lint

Add system assignment tab to maintenance schedule details page
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  web/html/src/components/tab-container.js
  web/html/src/manager/maintenance/details/maintenance-windows-details.js
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Set earliest to first maintenanceWindow item instead of Time.now()
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

testsuite should use SLE15SP2 JeOS as a retail kiwi image
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_40/config.xml
Labels: testing, ruby_rubocop

Translated using Weblate (Persian)
  backend/po/fa.po
Labels: backend_unittests_pgsql

Translated using Weblate (Slovak)
  backend/po/sk.po
Labels: backend_unittests_pgsql

Output something at least every now and then
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

Output something at least every now and then
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

remove schema migration directory (too early)
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.2.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-4.1.9-to-susemanager-schema-4.2.0/.gitkeep
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

start with idempotency test at the same version we initialize the DB with
  susemanager-utils/testing/automation/VERSION
Labels: none

Output something at least every now and then
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

Output something at least every now and then
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

Output something at least every now and then
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

define bootstrap repo data for SUSE Manager Proxies (bsc#1174470)
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

introduce optional flag and mark python3-uyuni-common-libs as optional
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

add format comment on top
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

define bootstrap repo data for SUSE Manager Proxies (bsc#1174470)
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

introduce optional flag and mark python3-uyuni-common-libs as optional
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

introduce optional flag and mark python3-uyuni-common-libs as optional
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

define bootstrap repo data for SUSE Manager Proxies (bsc#1174470)
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

strip SSL Certificate Common Name after 63 Characters (bsc#1173535)
  spacewalk/certs-tools/sslToolConfig.py
Labels: none

update changelog
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Translated using Weblate (Catalan)
  client/rhel/spacewalk-client-tools/po/ca.po
Labels: none

Translated using Weblate (Catalan)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Catalan)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Catalan)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Catalan)
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ca.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests
