Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Improve System Group page performance (bsc#1172839)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Bug fixed, use file_extract() again
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Improve System Group page performance (bsc#1172839)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Dry code up, use faster elaborator query
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

salt-minion is a valid package to register against suse manager/uyuni
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartScheduleCommand.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

install salt-minion when configured
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartFormatter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

salt-minion is a valid package to register against suse manager/uyuni
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartScheduleCommand.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

install salt-minion when configured
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartFormatter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Explain that twopence gem doesnt exist
  testsuite/Gemfile
  testsuite/documentation/software-components.md
Labels: testing, ruby_rubocop

salt-minion is a valid package to register against suse manager/uyuni
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartScheduleCommand.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

install salt-minion when configured
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartFormatter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Testsuite: Add missing anchors in some step regexs
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Adds basic functionality for gpg check
  backend/common/repo.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

Adapt unit tests to _has_valid_gpg_signature
  backend/common/test/unit-test/test_repo.py
Labels: python3, backend_unittests_pgsql

Add docker logout step
  susemanager-utils/susemanager-sls/salt/images/docker.sls
  susemanager-utils/susemanager-sls/salt/images/profileupdate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Add docker logout step
  susemanager-utils/susemanager-sls/salt/images/docker.sls
  susemanager-utils/susemanager-sls/salt/images/profileupdate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Require PyYAML version >= 5.1
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Require PyYAML version >= 5.1
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Avoid network.fqdns not found in 2016.11.10 ssh minions during HW refresh (bsc#1173169)
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Revert "Explain that twopence gem doesnt exist"
  testsuite/Gemfile
  testsuite/documentation/software-components.md
Labels: testing, ruby_rubocop

Revert "Explain that twopence gem doesnt exist"
  testsuite/Gemfile
  testsuite/documentation/software-components.md
Labels: testing, ruby_rubocop

Revert "Explain that twopence gem doesnt exist"
  testsuite/Gemfile
  testsuite/documentation/software-components.md
Labels: testing, ruby_rubocop

Revert "Explain that twopence gem doesnt exist"
  testsuite/Gemfile
  testsuite/documentation/software-components.md
Labels: testing, ruby_rubocop

Avoid network.fqdns not found in 2016.11.10 ssh minions during HW refresh (bsc#1173169)
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

temporarily disable gpgp check for deb channel
  testsuite/features/core/srv_channels_add.feature
Labels: testing, core-features, ruby_rubocop

Translated using Weblate (Portuguese (Brazil))
  backend/po/pt_BR.po
Labels: backend_unittests_pgsql

Translated using Weblate (Spanish)
  backend/po/es.po
Labels: backend_unittests_pgsql

temporarily disable gpgp check for deb channel
  testsuite/features/core/srv_channels_add.feature
Labels: testing, core-features, ruby_rubocop

Add a clocks sanity check
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, core-features, ruby_rubocop

Get FQDN to match SSL data instead of just a hostname (bsc#1141663) Resolve FQDN via network, fall-back to /etc/hosts on failure
  utils/spacewalk-clone-by-date
Labels: none

Find out complete FQDN
  utils/spacewalk-manage-channel-lifecycle
Labels: none

Update CL
  utils/spacewalk-utils.changes
Labels: none

Add CL message
  utils/spacewalk-utils.changes
Labels: none
