Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Tailor old format kwargs to newer syntax of module.run
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Do not make mgrcompat state module depending on state.single
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Add cases for Salt Neon on mgrcompat state module
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Fix unit tests for mgrcompat state module
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Fix remaining SLS files that directly call module.run
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/status.sls
Labels: none

Fix remaining reference to module.run on Java code
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
  java/code/src/com/suse/manager/webui/utils/SaltModuleRun.java
  java/code/src/com/suse/manager/webui/utils/SaltSystemReboot.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix mockery and test environment for mgrcompat
  susemanager-utils/susemanager-sls/src/tests/mockery.py
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Fix Java issues after last rebase with master branch
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/impl/MonitoringService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt remaining usage of module.run on Java and tests
  java/code/src/com/suse/manager/reactor/messaging/test/hardware.profileupdate.public_cloud.json
  java/code/src/com/suse/manager/reactor/messaging/test/hardware.profileupdate.x86.custom.fqdns.json
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.caasp-management.json
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.caasp-node.json
  java/code/src/com/suse/manager/webui/services/impl/test/monitoring/status.json
  java/code/src/com/suse/manager/webui/services/impl/test/monitoring/status_self_monitoring_restart.json
  java/code/src/com/suse/manager/webui/services/impl/test/monitoring/status_tasko_restart.json
Labels: java, monitoring, java_lint_checkstyle, java_pgsql_tests

Add syncAll call to RegisterMinionActionTest expectations
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix expectations for SaltActionChainGeneratorServiceTest
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Always make mgrcompat state module available
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Refactor checks for new syntax requirements across Salt versions
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Take care of possible kwargs parameters when tailoring to new syntax
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Minor fix on documentation
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Add debug logging to mgrcompat state module
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Update changelog for spacewalk-java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix issue with tailored kwargs to avoid workaround at Salt
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Do not enable new module.run syntax by default on minion configuration
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
Labels: none

Fix tests for mgrcompat
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Adapt SLS files to properly sync required states and modules
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/channels/disablelocalrepos.sls
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
Labels: none

Fix mgrcompat unit tests expectation after latest fixes
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Add testsuite scenarios to test mgrcompat with new module.run syntax
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Add min_salt_mgrcompat_state.feature to secondary run_sets
  testsuite/run_sets/secondary.yml
Labels: testing, ci-pipelines, ruby_rubocop

Fix missing requires to use mgrcompat instead of module
  susemanager-utils/susemanager-sls/salt/bootstrap/remove_traditional_stack.sls
  susemanager-utils/susemanager-sls/salt/images/kiwi-image-build.sls
Labels: none

Fix indentation and small issue on delete cleanup scenario
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Fix remaining references to module state instead of mgrcompat
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
  susemanager-utils/susemanager-sls/salt/channels/disablelocalrepos.sls
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/packages/init.sls
Labels: none

Add testsuite scenario where mgrcompat module in not synced
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Remove extra whitespaces from feature file
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Fix wrong include path to bootstrap/remove_traditional_stack.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/salt/ssh_bootstrap/init.sls
Labels: none

Fix some includes to avoid conflicts in some scenarios
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/remove_traditional_stack.sls
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/salt/ssh_bootstrap/init.sls
Labels: none

Do some alignment fixes to avoid rendering issues
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/salt/ssh_bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/util/syncstates.sls
Labels: none

Testsuite: ensure mgrcompat pycache file is removed
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Allow util.syncstates to run when mgrcompat is not yet synced
  susemanager-utils/susemanager-sls/salt/util/syncstates.sls
Labels: none

Add extra testsuite scenario to check syncstate works on outdated minions
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Sync custom states when at images.profileupdate
  susemanager-utils/susemanager-sls/salt/images/profileupdate.sls
Labels: none

Add missing step at mgrcompat testsuite scenario
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Sync custom states when at packages.profileupdate
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
Labels: none

Sync custom states when srvmonitoring.status
  susemanager-utils/susemanager-sls/salt/srvmonitoring/status.sls
Labels: none

Fail to build susemanager-sls if SLS contains contains module.run calls
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none
