Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Refactor when removing servers from serverGroup(bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/redhat/rhn/domain/server/EntitlementServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshot.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemDetailsEditActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemOverviewActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Change method signature to filter server ids with a particular feature (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt ImageInfoHandlerTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Improve performance when adding servers to serverGroups (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/General_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/utils/SaltPillar.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Revert change for testServerGroupMembers in ServerFactoryTest.java (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove extra if for checking if a server has a particular entitlement when removing entitlements (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change query name to filter system ids with a particular feature (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/General_queries.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update logs when unentitling a system (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update unit test for adding/remove servers to/from a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Call addOrRemoveSystems method in ServerGroupHandler with Long server ids in tests (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refine cleanup conditions on entitlement removal
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Test the conditions for monitoring cleanup
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
  java/code/src/com/redhat/rhn/manager/formula/test/prometheus-exporters-pillar.example
Labels: java, java_lint_checkstyle, java_pgsql_tests

Empty lines cleanup
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle and rewrite setter comments
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Consider Apache exporter when disabling monitoring
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix not empty files
  schema/spacewalk/upgrade/susemanager-schema-3.2.16-to-susemanager-schema-3.2.17/212-insert_package_nevra.sql
  schema/spacewalk/upgrade/susemanager-schema-3.2.16-to-susemanager-schema-3.2.17/217-insert_xccdf_benchmark.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.9-to-susemanager-schema-4.0.10/112-insert_package_nevra.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.9-to-susemanager-schema-4.0.10/117-insert_xccdf_benchmark.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

remove oracle from test tooling
  java/scripts/docker-testing-oracle.sh
  susemanager-utils/testing/automation/backend-unittest-oracle.sh
  susemanager-utils/testing/automation/java-unittests-oracle.sh
  susemanager-utils/testing/automation/schema-migration-test-oracle.sh
  susemanager-utils/testing/docker/scripts/build-schema.sh
  susemanager-utils/testing/docker/scripts/clear-db-answers-oracle.txt
  susemanager-utils/testing/docker/scripts/init-ora-db4eclipse.sh
  susemanager-utils/testing/docker/scripts/reset_oracle_database.sh
  susemanager-utils/testing/docker/scripts/schema_idempotency_test_pgsql.py
  susemanager-utils/testing/docker/scripts/schema_migration_test_oracle-31to41.sh
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove oracle subpackage from spacewalk
  spacewalk/package/spacewalk.spec
Labels: none

more oracle removals from schema package
  schema/spacewalk/README
  schema/spacewalk/blend
  schema/spacewalk/spacewalk-schema-upgrade
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

drop oracle from scripts
  schema/spacewalk/Makefile.schema
  schema/spacewalk/common/Makefile
  schema/spacewalk/schema-source-sanity-check.pl
  schema/spacewalk/spacewalk-oracle2postgresql
  schema/spacewalk/susemanager-schema.spec
  schema/spacewalk/upgrade/Makefile
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

remove oracle from susmanager tooling
  susemanager/bin/mgr-setup
  susemanager/bin/susemanager-oracle2postgres.sh
  susemanager/bin/susemanager-upgrade.sh
  susemanager/yast/susemanager_db.rb
Labels: susemanager_unittests

drop oracle from java code
  backend/satellite_tools/contentRemove.py
  backend/satellite_tools/rhn-charsets
  backend/satellite_tools/rhn-db-stats
  backend/satellite_tools/rhn-schema-stats
  backend/satellite_tools/satsync.py
  backend/satellite_tools/spacewalk-debug
  backend/server/importlib/backendOracle.py
  backend/server/rhnSQL/__init__.py
  backend/server/rhnSQL/const.py
  backend/server/rhnSQL/dbi.py
  backend/server/test/unit-test/rhnSQL/db_settings.ini
  backend/server/test/unit-test/rhnSQL/test_1.py
  backend/server/test/unit-test/rhnSQL/test_exceptions.py
  backend/server/test/unit-test/rhnSQL/test_lob.py
  backend/server/test/unit-test/rhnSQL/test_misc_functions.py
  backend/server/test/unit-test/rhnSQL/test_rhnActivationKey.py
  backend/server/test/unit-test/rhnSQL/test_rhnChannel.py
  backend/server/test/unit-test/rhnSQL/test_rhnServerGroup.py
  backend/server/test/unit-test/rhnSQL/test_server_registration.py
  java/Makefile.docker
  java/buildconf/test/rhn.conf.oracle-example
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/common/db/datasource/test/AdvDataSourceTest.java
  java/code/src/com/redhat/rhn/common/db/datasource/test/DataListTest.java
  java/code/src/com/redhat/rhn/common/db/datasource/test/DataSourceParserTest.java
  java/code/src/com/redhat/rhn/common/db/datasource/test/ModeFactoryTest.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/config_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/test_queries.xml
  java/code/src/com/redhat/rhn/common/hibernate/test/TestFactoryWrapperTest.java
  java/code/src/com/redhat/rhn/common/translation/SqlExceptionTranslator.java
  java/code/src/com/redhat/rhn/common/translation/test/ExceptionsWrapperTest.java
  java/code/src/com/redhat/rhn/domain/reactor/test/SaltEventFactoryTest.java
  java/code/src/com/redhat/rhn/manager/configuration/ConfigurationManager.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
Labels: java, python3, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests

Remove Oracle-only MessageQueueEventListener
  java/code/src/com/suse/manager/reactor/MessageQueueEventListener.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add DB backend suffix
  schema/spacewalk/upgrade/Makefile
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

join dblink migrations
  schema/spacewalk/upgrade/spacewalk-schema-1.6-to-spacewalk-schema-1.7/109-dblink.sql
  schema/spacewalk/upgrade/spacewalk-schema-1.6-to-spacewalk-schema-1.7/109-dblink.sql.postgresql.91
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

fix Makefiles
  schema/spacewalk/postgres/tables/Makefile
  schema/spacewalk/postgres/views/Makefile
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

remove oracle DB support from reporting
  reporting/spacewalk-report
Labels: none

drop oracle from spacewalk-backend
  backend/Makefile.backend
  backend/server/rhnSQL/Makefile
  backend/server/rhnSQL/driver_cx_Oracle.py
  backend/spacewalk-backend.spec
  backend/test/README
  backend/test/db_settings.ini
  backend/test/docker-backend-oracle-tests.sh
  backend/test/oracle-init.sh
  backend/test/runtests-oracle.py
Labels: python3, backend_unittests_pgsql

remove oracle db backend from supportutils plugin
  susemanager-utils/supportutils-plugin-susemanager/susemanager-connection-check.pl
Labels: none

update changelog
  backend/spacewalk-backend.changes
  java/spacewalk-java.changes
  reporting/spacewalk-reports.changes
  schema/spacewalk/susemanager-schema.changes
  spacewalk/package/spacewalk.changes
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes
  susemanager/susemanager.changes
Labels: java, database, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

fix comments
  schema/spacewalk/upgrade/spacewalk-schema-1.3-to-spacewalk-schema-1.4/022-rhn_entitlements.sql
  schema/spacewalk/upgrade/spacewalk-schema-1.5-to-spacewalk-schema-1.6/090-rhn_entitlements.sql
  schema/spacewalk/upgrade/spacewalk-schema-1.6-to-spacewalk-schema-1.7/002-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-1.6-to-spacewalk-schema-1.7/025-time-series-revamp-plsql.sql
  schema/spacewalk/upgrade/spacewalk-schema-1.7-to-spacewalk-schema-1.8/033-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.0-to-spacewalk-schema-2.1/010-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.0-to-spacewalk-schema-2.1/020-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.2-to-spacewalk-schema-2.3/016-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.3-to-spacewalk-schema-2.4/003-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.4-to-spacewalk-schema-2.5/113-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.4-to-spacewalk-schema-2.5/146-rhn_entitlements_pkb_update.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.4-to-spacewalk-schema-2.5/151-drop-provisioning-from-rhn_entitlements_pkb.sql
  schema/spacewalk/upgrade/spacewalk-schema-2.4-to-spacewalk-schema-2.5/160-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-1.7.57-to-susemanager-schema-2.1/4010-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-1.7.57-to-susemanager-schema-2.1/4020-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-1.7.57-to-susemanager-schema-2.1/4903-pxe-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-2.1.50.10-to-susemanager-schema-2.1.50.11/001-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-2.1.51-to-susemanager-schema-3.0/1016-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-2.1.51-to-susemanager-schema-3.0/2003-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-2.1.51-to-susemanager-schema-3.0/9013-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-2.1.51-to-susemanager-schema-3.0/9055-drop-provisioning-from-rhn_entitlements_pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-2.1.51-to-susemanager-schema-3.0/9095-rhn_entitlements.pkb.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Removed code to install apt-transport-https on debian 9 install
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

fix mgrcfg-client python3 breakage (bsc#1164309)
  backend/server/handlers/config/rhn_config_management.py
Labels: python3, backend_unittests_pgsql

fix mgrcfg-client python3 breakage (bsc#1164309)
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

fix mgrcfg-client python3 breakage (bsc#1164309)
  backend/server/handlers/config/rhn_config_management.py
Labels: python3, backend_unittests_pgsql

fix mgrcfg-client python3 breakage (bsc#1164309)
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Manager bsc1164309 (#1932)
  backend/server/handlers/config/rhn_config_management.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

Add OES 2018 SP2 product
  susemanager-sync-data/additional_products.json
Labels: none

rename RHEL8 Base
  susemanager-sync-data/additional_products.json
Labels: none
