Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

React component getting virt pool capabilities
  web/html/src/manager/virtualization/pools/virtualization-pools-capabilities-api.js
Labels: ui, javascript_lint

virt: update tests to handle volume disks
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Toggle virtpoller beacon when toggling the virtualization entitlement
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/VirtualizationEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/test/HostBuilder.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitlementManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionVirtualizationPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionVirtualizationPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/upload_files/susemanager-virtpoller.conf
Labels: java, API, Virtualization management, testing, secondary-features, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop

Add utility functions to flatten and unflatten a tree model for use with Form
  web/html/src/components/input/form-utils.js
  web/html/src/components/input/form-utils.test.js
Labels: ui, javascript_lint

Add REST API to expose the virtual pool capabilities
  java/code/src/com/suse/manager/virtualization/PoolCapabilitiesJson.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/test/TestVirtManager.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/virt.pool.caps.json
  java/code/src/com/suse/manager/webui/services/iface/VirtManager.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Test the virtualization host formula
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

VM events: don't flag VM as stopped in live updates
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove derived model state in Form component
  web/html/src/components/input/Form.js
  web/html/src/components/input/InputBase.js
  web/html/src/manager/virtualization/guests/console/guests-console.js
Labels: ui, javascript_lint

Update changelogs
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/spacewalk-web.changes
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Set the disk volume name in query and state
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Convert GuestProperties to a function component
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
Labels: ui, javascript_lint

virt: get pool capabilities in GuestProperties
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
Labels: ui, javascript_lint

Fix VirtualGuestsControllerTest flakyness
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

VM create: handle pool with no volume
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Timeout version of 'I wait until table row for "test-vm" contains button "Resume"'
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

virt: add disk format field
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  schema/spacewalk/common/tables/rhnActionVirtCreateDiskDetails.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.20-to-susemanager-schema-4.0.21/003-rhnActionVirtCreateDiskDetails-add-fields.sql
  web/html/src/manager/virtualization/guests/properties/GuestDiskFileFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Move refreshPillar from SystemQuery to SaltApi
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/testing/RhnBaseTestCase.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/FormulaController.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

VM properties dialog: convert disks fields into components
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
  web/html/src/manager/virtualization/guests/properties/guest-disks-panel.js
Labels: ui, javascript_lint

virt: handle cdrom devices as disks of file type
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
Labels: ui, javascript_lint

Only set the virtpoller beacon if the minion is a virtualhost
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGroupMembershipPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionVirtualizationPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionVirtualizationPillarGeneratorTest.java
  java/spacewalk-java.changes
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

virt getDefinition: merge data from virt.get_xml and virt.vm_info
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/virt.guest.definition.xml
  java/code/src/com/suse/manager/virtualization/GuestDefinition.java
  java/code/src/com/suse/manager/virtualization/GuestDiskDef.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/VmInfoDiskJson.java
  java/code/src/com/suse/manager/virtualization/VmInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.vm.info.json
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Extract getOrderedDevicesFromModel to FormMultiInput component file
  web/html/src/components/input/FormMultiInput.js
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/properties/guest-disks-panel.js
  web/html/src/manager/virtualization/guests/properties/guest-nics-panel.js
  web/html/src/manager/virtualization/guests/properties/guest-properties-utils.js
Labels: ui, javascript_lint

Fix broken jar symlinks (bsc#1174229)
  java/buildconf/build-props-susemanager.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Fix broken jar symlinks (bsc#1174229)
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix broken jar symlinks (bsc#1174229)
  java/buildconf/build-props-susemanager.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! Fix broken jar symlinks (bsc#1174229)
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Channels for Uyuni Proxy and Server for openSUSE Leap 15.2
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Data null means the sync never ran yet (bsc#1174357)
  java/code/src/com/redhat/rhn/domain/common/ManagerInfoFactory.java
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle salt libvirt_engine network events
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/AbstractLibvirtEngineMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineNetworkLifecycleMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineNetworkMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineNetworkMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Factorize some code in the virtualization controllers
  java/code/src/com/suse/manager/webui/controllers/virtualization/AbstractVirtualizationController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualPoolsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Prefix VM actions with guest- to ease code reusing
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationGuestAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make VirtualizationGuestActionApi component more generic
  web/html/src/manager/virtualization/SimpleActionApi.js
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
Labels: ui, javascript_lint

Factorize the Virtualization*ListRefreshApi components
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/nets/virtualization-nets-list-refresh-api.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/virtualization-list-refresh-api.js
Labels: ui, javascript_lint

Guests list page: don't use userPrefPageSize global
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/show.jade
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/guests/list/guests-list.renderer.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add virtual networks list UI
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/nets/show.jade
  java/code/webapp/WEB-INF/nav/system_detail.xml
  web/html/src/manager/virtualization/index.js
  web/html/src/manager/virtualization/nets/list/nets-list.js
  web/html/src/manager/virtualization/nets/list/nets-list.renderer.js
Labels: java, ui, webapp, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Extract the shareable parts from the virtual guests list page
  web/html/src/manager/virtualization/ListTab.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/list.utils.js
Labels: ui, javascript_lint

Update changelogs
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add cucumber step for virtual networks list
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

Add virtual network state change action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationNetworkAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationNetworkStateChangeAction.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtNetworkStateChange.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/003-add_virt_network_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/004-rhnActionVirtNetworkStateChange.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add Salt implementation for virtual network state change action
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/network-statechange.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests
