Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

GuardianActor: simplify reflection code
  java/code/src/com/suse/manager/tasks/actors/GuardianActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add infrastructure to do hash routing
  java/code/src/com/suse/manager/tasks/Actor.java
  java/code/src/com/suse/manager/tasks/Command.java
  java/code/src/com/suse/manager/tasks/actors/GuardianActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update init.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
Labels: none

ssh prompt changed - using compatible regexp with old and new prompt
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Enable Akka Clustering
  java/akka_worker/classes/log4j.properties
  java/akka_worker/start-worker.sh
  java/buildconf/ivy/ivy-suse.xml
  java/code/src/application.conf
  java/code/src/com/redhat/rhn/frontend/action/YourRhnAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/OverviewAction.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/tasks/Actor.java
  java/code/src/com/suse/manager/tasks/ActorManager.java
  java/code/src/com/suse/manager/tasks/Command.java
  java/code/src/com/suse/manager/tasks/RemoteActorManager.java
  java/code/src/com/suse/manager/tasks/actors/GuardianActor.java
  java/code/src/com/suse/manager/tasks/actors/HelloWorldActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Make MinionStartEvent remote
  java/code/src/com/suse/manager/tasks/actors/MinionStartEventActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

DeferredManagerActor: renames
  java/code/src/com/suse/manager/tasks/ActorManager.java
  java/code/src/com/suse/manager/tasks/actors/DeferringActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

DeferredManagerActor: make messages serializable
  java/code/src/com/suse/manager/tasks/Actor.java
  java/code/src/com/suse/manager/tasks/ActorManager.java
  java/code/src/com/suse/manager/tasks/actors/AlignSoftwareTargetActor.java
  java/code/src/com/suse/manager/tasks/actors/ApplyStatesActor.java
  java/code/src/com/suse/manager/tasks/actors/BatchStartedActor.java
  java/code/src/com/suse/manager/tasks/actors/ChannelsChangedActor.java
  java/code/src/com/suse/manager/tasks/actors/CloneErrataActor.java
  java/code/src/com/suse/manager/tasks/actors/DeferringActor.java
  java/code/src/com/suse/manager/tasks/actors/GuardianActor.java
  java/code/src/com/suse/manager/tasks/actors/HelloWorldActor.java
  java/code/src/com/suse/manager/tasks/actors/ImageDeployedActor.java
  java/code/src/com/suse/manager/tasks/actors/JobReturnActor.java
  java/code/src/com/suse/manager/tasks/actors/LibvirtEngineActor.java
  java/code/src/com/suse/manager/tasks/actors/MinionStartEventActor.java
  java/code/src/com/suse/manager/tasks/actors/NewCloneErrataActor.java
  java/code/src/com/suse/manager/tasks/actors/NewUserActor.java
  java/code/src/com/suse/manager/tasks/actors/PkgsetBeaconActor.java
  java/code/src/com/suse/manager/tasks/actors/RefreshGeneratedSaltFilesActor.java
  java/code/src/com/suse/manager/tasks/actors/RegisterMinionActor.java
  java/code/src/com/suse/manager/tasks/actors/RestartSatelliteActor.java
  java/code/src/com/suse/manager/tasks/actors/ScheduleRepoSyncActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmChangeBaseChannelSubscriptionsActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmChangeChannelSubscriptionsActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmConfigFilesActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmDeleteServersActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmErrataActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmInstallPackagesActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmPowerManagementActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmRemovePackagesActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmSystemRebootActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmUpgradePackagesActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmVerifyPackagesActor.java
  java/code/src/com/suse/manager/tasks/actors/SystemIdGenerateActor.java
  java/code/src/com/suse/manager/tasks/actors/TraceBackActor.java
  java/code/src/com/suse/manager/tasks/actors/UpdateErrataCacheActor.java
  java/code/src/com/suse/manager/tasks/actors/VirtpollerBeaconActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

workers with rondum port
  java/code/src/application.conf
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/tasks/RemoteActorManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change SUSE Manager version to 4.1.0 Beta1
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

Add schema migration path to 4.0.18 to 4.1.0
  schema/spacewalk/upgrade/susemanager-schema-4.0.18-to-susemanager-schema-4.1.0/README
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Changelog for patch colors icon
  branding/spacewalk-branding.changes
Labels: none

Changelog for patch colors icon
  branding/spacewalk-branding.changes
Labels: none

Automatic commit of package [dnf-plugin-spacewalk] release [4.1.2-1].
  client/rhel/dnf-plugin-spacewalk/dnf-plugin-spacewalk.changes
  client/rhel/dnf-plugin-spacewalk/dnf-plugin-spacewalk.spec
  rel-eng/packages/dnf-plugin-spacewalk
Labels: none

Automatic commit of package [spacecmd] release [4.1.3-1].
  rel-eng/packages/spacecmd
  spacecmd/setup.py
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
Labels: python3

Automatic commit of package [spacewalk-admin] release [4.1.3-1].
  rel-eng/packages/spacewalk-admin
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-admin.spec
Labels: none

Automatic commit of package [spacewalk-backend] release [4.1.4-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-branding] release [4.1.3-1].
  branding/spacewalk-branding.changes
  branding/spacewalk-branding.spec
  rel-eng/packages/spacewalk-branding
Labels: none

Automatic commit of package [spacewalk-certs-tools] release [4.1.4-1].
  rel-eng/packages/spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Automatic commit of package [spacewalk-client-tools] release [4.1.2-1].
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  rel-eng/packages/spacewalk-client-tools
Labels: none

Automatic commit of package [spacewalk-config] release [4.1.2-1].
  rel-eng/packages/spacewalk-config
  spacewalk/config/spacewalk-config.changes
  spacewalk/config/spacewalk-config.spec
Labels: none

Automatic commit of package [spacewalk-java] release [4.1.4-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

select packages with correct architecture in tests
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_salt_install_package.feature
  testsuite/features/secondary/trad_action_chain.feature
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

add extra step for uncheck with multiple columns
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Automatic commit of package [spacewalk-proxy-installer] release [4.1.3-1].
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  rel-eng/packages/spacewalk-proxy-installer
Labels: proxy

choose arch depending on the client
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_salt_install_package.feature
  testsuite/features/secondary/trad_action_chain.feature
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/constants.rb
Labels: testing, secondary-features, ruby_rubocop

Automatic commit of package [spacewalk-setup] release [4.1.3-1].
  rel-eng/packages/spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/setup/spacewalk-setup.spec
Labels: none

Automatic commit of package [spacewalk-utils] release [4.1.5-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

ssh prompt changed - using compatible regexp with old and new prompt
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

select packages with correct architecture in tests
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_salt_install_package.feature
  testsuite/features/secondary/trad_action_chain.feature
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

add extra step for uncheck with multiple columns
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

choose arch depending on the client
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_salt_install_package.feature
  testsuite/features/secondary/trad_action_chain.feature
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/constants.rb
Labels: testing, secondary-features, ruby_rubocop

Automatic commit of package [spacewalk-web] release [4.1.6-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Automatic commit of package [supportutils-plugin-susemanager-proxy] release [4.1.3-1].
  rel-eng/packages/supportutils-plugin-susemanager-proxy
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.changes
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.spec
Labels: none

Automatic commit of package [susemanager] release [4.1.3-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-schema] release [4.1.3-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [susemanager-sls] release [4.1.3-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

ssh prompt changed - using compatible regexp with old and new prompt
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

select packages with correct architecture in tests
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_salt_install_package.feature
  testsuite/features/secondary/trad_action_chain.feature
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

add extra step for uncheck with multiple columns
  testsuite/features/secondary/trad_lock_packages.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
