Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Minor improvement: Maint. window caption in action chains scheduler
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Controller save method
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle violations
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/struts/RhnAction.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add ui for listing maintenance schedules
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: ui, javascript_lint

Minor: Pre-check the maint. windows radio button when displaying the maint. windows picker
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Add controller class
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add maintenance schedules index
  web/html/src/manager/index.js
  web/html/src/manager/maintenance/index.js
Labels: ui, javascript_lint

Add ui page for creating/editing schedules
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
Labels: ui, javascript_lint

Use review suggestion for formatting instant
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Prevent scheduling actions when there are empty maintenance windows
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Add jade file
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-schedules.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add deleting of schedules
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-schedules.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add controller to the Router
  java/code/src/com/suse/manager/webui/Router.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add details view for schedules
  web/html/src/manager/maintenance/maintenance-schedules-details.js
Labels: ui, javascript_lint

Fix typos
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Create MenuTree item
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add type to distinguish between calendar and schedule in UI
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows in Actions [2/2]: Read schedule date from maintenance window picker
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/SsmScheduleXccdfConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/SsmScheduleXccdfSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/channel/ChannelDeployConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/GlobalRevisionDeployConfirmSubmit.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/LocalRevisionDeployAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/overview/TargetSystemsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/FileListConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/ConfigConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/EnableSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/ScheduleKickstartWizardAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/BaseSystemPackagesConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/LockPackageAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/SyncProfilesSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/SyncSystemsSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageInstallationAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageUpgradeAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageVerifyAction.java
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ErrataListConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ProvisioningRemoteCommand.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/RebootSystemConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/ScheduleXccdfAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemRebootAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/virtualization/ProvisionVirtualizationWizardAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix details view not rendering
  web/html/src/manager/maintenance/maintenance-schedules-details.js
Labels: ui, javascript_lint

Refactor: Create a POJO for passing maintenance window data to frontend
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceWindowData.java
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Support refreshing calendars from url
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add queries to get schedule/calendar objects
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Set state using setState in the React component
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Add localization to the controller
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Remove unnecessary check from action chains renderer
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Rename MaintenanceScheduleJson -> MaintenanceWindowJson
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add missing javadoc, fix checkstyle
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move styling to its own css file
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.css
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

ActionSchedule React component for MaintenanceWindows
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
  web/html/src/manager/state/highstate.js
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add UI warning when dealing with multiple maintenance schedules
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Display ical file in details, distinguish between schedule/calendar
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Make cluster UI maintenance-windows aware
  web/html/src/manager/clusters/join-cluster/join-cluster.js
  web/html/src/manager/clusters/remove-node/remove-node.js
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
Labels: ui, javascript_lint

Adjust the Maint. controller to use POJO instead of Triple for maint. windows
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Unify the Maintenance windows controllers
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Rename maintenance-schedules -> maintenance-windows
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
  web/html/src/manager/index.js
  web/html/src/manager/maintenance/index.js
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Use POJO for passing parameters from frontend
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowsParams.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix JS lint error
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
Labels: ui, javascript_lint

Use the Table component for the details view
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: ui, javascript_lint

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle reschedule strategy
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
