Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Install same version of rubocop as for SUSE Manager
  .github/workflows/ruby-checkstyle.yml
  testsuite/.rubocop_todo.yml
Labels: testing, ci-pipelines, ruby_rubocop

Install same version of rubocop as for SUSE Manager
  .github/workflows/ruby-checkstyle.yml
  testsuite/.rubocop_todo.yml
Labels: testing, ci-pipelines, ruby_rubocop

ActionSchedule React component for MaintenanceWindows
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
  web/html/src/manager/state/highstate.js
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add UI warning when dealing with multiple maintenance schedules
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Refactor: Create a POJO for passing maintenance window data to frontend
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceWindowData.java
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert "JSP: Support for greying out date picker"
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/common/fragments/date-picker.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Remove unnecessary check from action chains renderer
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Refactor: Extract rendering action scheduler fragments to separate functions
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Make image build UI maintenance-windows aware
  web/html/src/manager/images/image-build.js
Labels: ui, javascript_lint

Fix JS lint error
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
Labels: ui, javascript_lint

Use POJO for passing parameters from frontend
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowsParams.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Make cluster UI maintenance-windows aware
  web/html/src/manager/clusters/join-cluster/join-cluster.js
  web/html/src/manager/clusters/remove-node/remove-node.js
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
Labels: ui, javascript_lint

Fix system id computation in SSM channel assignment UI
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
Labels: ui, javascript_lint

Slighly improve the state assignment; Make the maint. window picker wider
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Adjustments in the JS scheduler
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Adjust the Maint. controller to use POJO instead of Triple for maint. windows
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Unify the Maintenance windows controllers
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Set state using setState in the React component
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Forgotten adjustments after reverting grey-out support for the scheduling options
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-admin] release [4.1.5-1].
  rel-eng/packages/spacewalk-admin
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-admin.spec
Labels: none

Automatic commit of package [spacewalk-backend] release [4.1.10-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-config] release [4.1.4-1].
  rel-eng/packages/spacewalk-config
  spacewalk/config/spacewalk-config.changes
  spacewalk/config/spacewalk-config.spec
Labels: none

Cucumber: fix salt-minion start/stop/restart for KVM and Xen
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Automatic commit of package [spacewalk-java] release [4.1.12-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-web] release [4.1.12-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Automatic commit of package [susemanager] release [4.1.15-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-schema] release [4.1.9-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [susemanager-sls] release [4.1.10-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Automatic commit of package [uyuni-cluster-provider-caasp] release [4.1.2-1].
  rel-eng/packages/uyuni-cluster-provider-caasp
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/uyuni-cluster-provider-caasp.changes
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/uyuni-cluster-provider-caasp.spec
Labels: none

Cucumber: fix salt-minion start/stop/restart for KVM and Xen
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Prevent deadlock on suseusernotification (bsc#1173073)
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Prevent deadlock on suseusernotification (bsc#1173073)
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Prevent deadlock on suseusernotification (bsc#1173073)
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert "Set state using setState in the React component"
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Automatic commit of package [spacewalk-java] release [4.1.13-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Prevent deadlock on suseusernotification (bsc#1173073)
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

state and module: organization trust
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
  susemanager-utils/susemanager-sls/src/_states/uyuni_users.py
Labels: none

Revert "Avoid a deadlock when changing channel assignments (bsc#918549)"
  schema/spacewalk/upgrade/susemanager-schema-3.2.23-to-susemanager-schema-3.2.24/001-avoid-deadlock-bsc1173073.sql.oracle
  schema/spacewalk/upgrade/susemanager-schema-3.2.23-to-susemanager-schema-3.2.24/001-avoid-deadlock-bsc1173073.sql.postgresql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Revert "Avoid a deadlock when deleting a server (bsc#969790)"
  schema/spacewalk/upgrade/susemanager-schema-3.2.23-to-susemanager-schema-3.2.24/002-avoid-deadlock-bsc1173073.sql.oracle
  schema/spacewalk/upgrade/susemanager-schema-3.2.23-to-susemanager-schema-3.2.24/002-avoid-deadlock-bsc1173073.sql.postgresql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql
