Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor getServerGroupByEntitlement method in Server class (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rewrite getAddOnEntitlements method in Server class with streams (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rewrite getEntitlements in Server class using streams (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rewrite hasEntitlement method in Server class using streams (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update logs when unentitling a system (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update logging in SystemManager for adding/removing entitlements to/from server (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change method signature for more clarity (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change paramater name for more clarity when entitling a server (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove getGroupTypeLabel method (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/EntitlementServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add doc in method for generating group memebership pillar data for a minion (bsc#1158754)
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add method for retrieving serverIds and check the are available for a specific user (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Unit test for adding servers to a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt test for snapshot a server to behave the way the flow behaves in production (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Call addOrRemoveSystems method in ServerGroupHandler with Long server ids in tests (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Update java doc for filterServerIdsWithFeature method (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Reflow line (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update unit test for adding/remove servers to/from a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Keep current_members column updated when adding/removing servres to/from a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add support managing pillar data for minions in multiple files (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt test for generating pillar files (bsc#1158754)
  java/code/src/com/suse/manager/webui/services/test/SaltStateGeneratorServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove unused imports (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

[WIP] Schedule Recurring Actions
  java/code/src/com/redhat/rhn/common/util/RecurringEventPicker.java
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApply.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/templates/groups/highstate.jade
  java/code/src/com/suse/manager/webui/templates/minion/recurring-states.jade
  java/code/src/com/suse/manager/webui/templates/ssm/highstate.jade
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
  java/code/webapp/WEB-INF/nav/system_detail.xml
  web/html/src/components/datetimepicker.js
  web/html/src/components/panels/InnerPanel.js
  web/html/src/components/recurring-event-picker.js
  web/html/src/manager/highstate/highstate.js
  web/html/src/manager/highstate/index.js
  web/html/src/manager/index.js
  web/html/src/manager/state/display-highstate.js
  web/html/src/manager/state/highstate.js
  web/html/src/manager/state/index.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

First working itaration of RecurringStateApply Job
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApply.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add database schema changes
  schema/spacewalk/common/data/rhnTaskoBunch.sql
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Add Schedule listing to groups, Schedule->Recurring Actions
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/src/com/suse/manager/webui/templates/groups/recurring-states.jade
  java/code/src/com/suse/manager/webui/templates/schedule/recurring-actions.jade
  java/code/src/com/suse/manager/webui/templates/ssm/recurring-states.jade
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
  java/code/webapp/WEB-INF/nav/ssm.xml
  java/code/webapp/WEB-INF/nav/system_group_detail.xml
  web/html/src/components/recurring-event-picker.js
  web/html/src/manager/state/display-highstate.js
  web/html/src/manager/state/highstate.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, webapp, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add hourly picker to schedule selection
  java/code/src/com/redhat/rhn/common/util/RecurringEventPicker.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  web/html/src/components/recurring-event-picker.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add option to disable schedules
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApply.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
  web/html/src/components/recurring-event-picker.js
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Filter data transfer on schedule listing
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor StatesAPI
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add details page
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/templates/groups/highstate.jade
  java/code/src/com/suse/manager/webui/templates/groups/recurring-states.jade
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Org Recurring-State-Scheduling
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/src/com/suse/manager/webui/templates/org/recurring-states.jade
  java/code/src/com/suse/manager/webui/templates/yourorg/recurring-states.jade
  java/code/webapp/WEB-INF/nav/org_tabs.xml
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Backend refactor
  java/code/src/com/redhat/rhn/common/util/RecurringEventPicker.java
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApply.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/src/com/suse/manager/webui/templates/groups/recurring-states.jade
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
  schema/spacewalk/common/data/rhnTaskoTask.sql
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add active toggler and skip next to schedule lists
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  web/html/src/components/recurring-event-picker.js
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add schema migration script
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/010-schedule-recurring-actions.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Add changelog
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  web/spacewalk-web.changes
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Fix checkstyle
  java/code/src/com/redhat/rhn/common/util/RecurringEventPicker.java
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor in snapshotServers method in SystemManager class (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt SystemDetailsEditActionTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemDetailsEditActionTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
