Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

update changelog
  java/spacewalk-java.changes
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/package/spacewalk.changes
  susemanager/susemanager.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests

show error on schema migration in progress
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_pt.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

set version to greatest allowed version
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add uyuni-check-database.service to target
  spacewalk/admin/spacewalk.target.SUSE
Labels: none

add database 10 to 12 migration script
  susemanager/bin/pg-migrate-10-to-12.sh
Labels: susemanager_unittests

for Leap 15.1 keep postgresql 10
  spacewalk/package/spacewalk.spec
Labels: none

check for delimiter as well when detecting current phase (bsc#1164771)
  utils/spacewalk-manage-channel-lifecycle
Labels: none

unit test: adapt test to test correct behavior
  utils/tests/test_spacewalk_manage_channel_lifecycle.py
Labels: none

update changelog
  utils/spacewalk-utils.changes
Labels: none

Make 'product' state module only available for minions with zypper >= 1.8.13 (bsc#1166699)
  susemanager-utils/susemanager-sls/salt/packages/init.sls
  susemanager-utils/susemanager-sls/src/states/product.py
  susemanager-utils/susemanager-sls/src/tests/mockery.py
  susemanager-utils/susemanager-sls/src/tests/test_state_product.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Remove unnecessary check for retail group membership
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix version check in spec
  spacewalk/package/spacewalk.spec
Labels: none

Remove unnecessary check for retail group membership
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Upgrade acorn and minimist
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Upgrade acorn and minimist
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Upgrade acorn and minimist
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Add cucumber steps to work with trees
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

Add virtual pool refresh action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationPoolAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolRefreshAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtPoolRefresh.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/001-add_virt_pool_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/002-rhnActionVirtPoolRefresh.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add virtual pool refresh action Salt implementation
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-refreshed.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle VirtNotifications for pool actions
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add REST API to trigger virtual pool refresh action
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualPoolBaseActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add actions status notification in virt storage pool list
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Add virtual pool refresh action UI and cucumber test
  testsuite/features/secondary/minkvm_guests.feature
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/virtualization-pools-action-api.js
Labels: ui, testing, secondary-features, javascript_lint, ruby_rubocop

Handle VirtNotifications for pool actions
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cucumber steps to work with trees
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

Add REST API to trigger virtual pool refresh action
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualPoolBaseActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add virtual pool refresh action Salt implementation
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-refreshed.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add virtual pool refresh action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationPoolAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolRefreshAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtPoolRefresh.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/001-add_virt_pool_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/002-rhnActionVirtPoolRefresh.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add actions status notification in virt storage pool list
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Add virtual pool refresh action UI and cucumber test
  testsuite/features/secondary/minkvm_guests.feature
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/virtualization-pools-action-api.js
Labels: ui, testing, secondary-features, javascript_lint, ruby_rubocop

Add changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Virtualization > Provisioning tab is traditional-only
  java/code/webapp/WEB-INF/nav/system_detail.xml
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Add changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor: Include the action name in RecurringAction.toString()
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Replace Asterisk with help icons
  web/html/src/components/picker/recurring-event-picker.css
  web/html/src/components/picker/recurring-event-picker.js
Labels: ui, javascript_lint

Extract RecurringAction validation to a public method
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Explicitly validate RecurringAction in Controller before saving
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Unify naming terminology in UI and urls
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/src/com/suse/manager/webui/templates/schedule/recurring-states.jade
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/code/webapp/WEB-INF/nav/system_group_detail.xml
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Validate empty action name
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor: Extract value to variable to improve readability and style
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests
