Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Get detailed schedule info
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change webui to reflect controller changes
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Create links to calendar/schedule details in list
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Rename MaintenanceScheduleJson -> MaintenanceWindowJson
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add missing javadoc, fix checkstyle
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move styling to its own css file
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.css
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Support refreshing calendars from url
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add queries to get schedule/calendar objects
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add type to distinguish between calendar and schedule in UI
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update MenuTree, add translation strings
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt controller class to handle schedules/calendars individually
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add requested changes
  branding/css/spacewalk-theme.less
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-api.js
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.css
  web/html/src/manager/maintenance/maintenance-windows.js
  web/spacewalk-web.changes
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Unify the Maintenance windows controllers
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Display upcoming maintenance windows in schedule details view
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Refactor: Move more hibernate-related methods to the MaintenanceFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix JS lint error
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
Labels: ui, javascript_lint

Make image build UI maintenance-windows aware
  web/html/src/manager/images/image-build.js
Labels: ui, javascript_lint

Refactor: Create a POJO for passing maintenance window data to frontend
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceWindowData.java
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

ActionSchedule React component for MaintenanceWindows
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
  web/html/src/manager/state/highstate.js
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix system id computation in SSM channel assignment UI
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
Labels: ui, javascript_lint

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove unnecessary check from action chains renderer
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Set state using setState in the React component
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Adjust the Maint. controller to use POJO instead of Triple for maint. windows
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use the Table component for the details view
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: ui, javascript_lint

Make cluster UI maintenance-windows aware
  web/html/src/manager/clusters/join-cluster/join-cluster.js
  web/html/src/manager/clusters/remove-node/remove-node.js
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
Labels: ui, javascript_lint

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract hibernate code from MaintenanceManager to MaintenanceFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use POJO for passing parameters from frontend
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowsParams.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Forgotten adjustments after reverting grey-out support for the scheduling options
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Protected -> private in MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Turn methods to static ones for consistency
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert "JSP: Support for greying out date picker"
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/common/fragments/date-picker.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Revert "Set state using setState in the React component"
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Fix: Remove empty box displayed in schedule list if no calendar assigned
  web/html/src/manager/maintenance/maintenance-windows-list.js
Labels: ui, javascript_lint

Refactor: Extract rendering action scheduler fragments to separate functions
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Adjustments in the JS scheduler
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Add UI warning when dealing with multiple maintenance schedules
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Check if minion is in maintenance mode when running recurring actions
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Slighly improve the state assignment; Make the maint. window picker wider
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint
