Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Fix on xmlrpc api doc for formula handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix combined formula data test
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix NPE when getting the combined formula data of a system
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Reference to new singleton constant
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add changelog
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

centos and oraclelinux product data
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/channel_families.json
Labels: none

temporary hack to pass accessible url check
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add SLE Live Patching (Z-Series) and SLES LTSS 12 SP3 ARM64
  susemanager-sync-data/channel_families.json
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

Endpoint for getting the combined formula data for servers
  java/code/src/com/redhat/rhn/domain/dto/FormulaData.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Endpoint for retrieving group information for systems with entitlement
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/dto/SystemGroupID.java
  java/code/src/com/redhat/rhn/domain/dto/SystemGroupsDTO.java
  java/code/src/com/redhat/rhn/domain/dto/SystemIDInfo.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SystemGroupsDTOSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/test/MinionActionManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix combined formula data test
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Reference to new singleton constant
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add entry in the change log file
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix on xmlrpc api doc for formula handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Endpoint for retrieving network info for a list of systems
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix NPE when getting the combined formula data of a system
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

show only enabled repos
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

check for enabled repos in XML output
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

check for enabled repos in XML output
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

show only enabled repos
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Fix xmlrpc api doc in system handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SystemGroupsDTOSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix xmlrpc api doc in system handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SystemGroupsDTOSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix api docs for formula handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix api docs for formula handler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaDataSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

migrate proxy list in cobbler settings (bsc#1169536)
  susemanager/bin/mgr-setup
  susemanager/bin/migrate-cobbler.sh
Labels: susemanager_unittests

migrate proxy list in cobbler settings (bsc#1169536)
  susemanager/susemanager.changes
Labels: susemanager_unittests

Upgrade to yarn 1.22.4
  .yarnrc
  susemanager-frontend/susemanager-nodejs-sdk-devel/build/yarn/yarn-1.14.0.js
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
Labels: none

Upgrade jquery - CVE-2020-11023
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Upgrade kind-of - CVE-2019-20149
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Upgrade jquery - CVE-2020-11023
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Upgrade kind-of - CVE-2019-20149
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Upgrade to yarn 1.22.4
  .yarnrc
  susemanager-frontend/susemanager-nodejs-sdk-devel/build/yarn/yarn-1.14.0.js
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
Labels: none

Update MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Ruby checkstyle GitHub Action
  .github/workflows/ruby-checkstyle.yml
  .rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
Labels: testing, ci-pipelines, ruby_rubocop

Fix rendering of formula with form components with non-string values
  web/html/src/components/formulas/FormulaComponentGenerator.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Fix saving image profile custom info values with XMLRPC (bsc#1171526)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/profile/ImageProfileHandler.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Increase checks on metadata API endpoints and returned instance id (bsc#1171491)
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
Labels: none

Increase logging in custom public clouds Salt module
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Fix Formula Form page not rendered because of javascript error (bsc#1171728)
  web/html/src/components/formulas/FormulaComponentGenerator.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint
