Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Add mechanism to send messages after transaction is closed
  java/code/src/com/redhat/rhn/common/hibernate/ConnectionManager.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/tasks/ActorManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

switch implementation of UpdateErrataCacheAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/UpdateErrataCacheAction.java
  java/code/src/com/redhat/rhn/frontend/events/UpdateErrataCacheEvent.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
  java/code/src/com/redhat/rhn/manager/system/BaseUpdateChannelCommand.java
  java/code/src/com/suse/manager/tasks/actors/UpdateErrataCacheActor.java
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Switch implementation of CloneErrataAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/CloneErrataAction.java
  java/code/src/com/redhat/rhn/frontend/events/CloneErrataEvent.java
  java/code/src/com/redhat/rhn/frontend/events/test/CloneErrataActionTest.java.todo
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/suse/manager/tasks/actors/CloneErrataActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add mechanism to handle Actor pooling/concurrency
  java/code/src/com/suse/manager/tasks/Actor.java
  java/code/src/com/suse/manager/tasks/actors/AlignSoftwareTargetActor.java
  java/code/src/com/suse/manager/tasks/actors/CloneErrataActor.java
  java/code/src/com/suse/manager/tasks/actors/GuardianActor.java
  java/code/src/com/suse/manager/tasks/actors/RestartSatelliteActor.java
  java/code/src/com/suse/manager/tasks/actors/TraceBackActor.java
  java/code/src/com/suse/manager/tasks/actors/UpdateErrataCacheActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

switch implementation of AlignSoftwareTargetAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/AlignSoftwareTargetAction.java
  java/code/src/com/redhat/rhn/frontend/events/AlignSoftwareTargetMsg.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/suse/manager/tasks/actors/AlignSoftwareTargetActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmRemovepackagesAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmRemovePackagesAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmRemovePackagesEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmRemovePackagesActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmChangeChannelSubscriptionsAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ssm/ChildChannelConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmChangeChannelSubscriptionsAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmChangeChannelSubscriptionsEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmChangeChannelSubscriptionsActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmChangeBaseChannelSubscriptionsAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ssm/BaseSubscribeAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmChangeBaseChannelSubscriptionsAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmChangeBaseChannelSubscriptionsEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmChangeBaseChannelSubscriptionsActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmVerifyPackagesAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageVerifyAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmVerifyPackagesAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmVerifyPackagesEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmVerifyPackagesActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

GuardianActor: improve robustness by check Actor type
  java/code/src/com/suse/manager/tasks/Actor.java
  java/code/src/com/suse/manager/tasks/actors/GuardianActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

switch implementation of NewUserAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/NewUserAction.java
  java/code/src/com/redhat/rhn/frontend/events/NewUserEvent.java
  java/code/src/com/redhat/rhn/manager/user/CreateUserCommand.java
  java/code/src/com/suse/manager/tasks/actors/NewUserActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of ScheduleRepoSyncAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/ScheduleRepoSyncAction.java
  java/code/src/com/redhat/rhn/frontend/events/ScheduleRepoSyncEvent.java
  java/code/src/com/redhat/rhn/manager/setup/ProductSyncManager.java
  java/code/src/com/suse/manager/tasks/actors/ScheduleRepoSyncActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of NewCloneErrataAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/events/NewCloneErrataAction.java
  java/code/src/com/redhat/rhn/frontend/events/NewCloneErrataEvent.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/suse/manager/tasks/actors/NewCloneErrataActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

remove unused abstract class
  java/code/src/com/redhat/rhn/frontend/events/SsmPackageEvent.java
  java/code/src/com/redhat/rhn/frontend/events/SsmPackagesAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmConfigFilesAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/channel/ChannelOverviewTasks.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/ConfigConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmConfigFilesAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmConfigFilesEvent.java
  java/code/src/com/redhat/rhn/manager/configuration/ConfigurationManager.java
  java/code/src/com/suse/manager/tasks/actors/SsmConfigFilesActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmUpgradePackagesAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageUpgradeAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmUpgradePackagesAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmUpgradePackagesEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmPackagesActor.java
  java/code/src/com/suse/manager/tasks/actors/SsmUpgradePackagesActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmInstallpackagesAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageInstallationAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmInstallPackagesAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmInstallPackagesEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmInstallPackagesActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmPowerManagementAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/PowerManagementOperationsAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmPowerManagementAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmPowerManagementEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmPowerManagementActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmDeleteServersAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SSMDeleteSystemsConfirm.java
  java/code/src/com/redhat/rhn/frontend/action/systems/duplicate/DuplicateSystemsDeleteSetupAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmDeleteServersAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmDeleteServersEvent.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/suse/manager/tasks/actors/SsmDeleteServersActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmRebootSystemAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/RebootSystemConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmSystemRebootAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmSystemRebootEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmSystemRebootActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

switch implementation of ChannelsChangedAction to akka
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/manager/ssm/SsmManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/UpdateBaseChannelCommand.java
  java/code/src/com/redhat/rhn/manager/system/UpdateChildChannelsCommand.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessage.java
  java/code/src/com/suse/manager/tasks/actors/ChannelsChangedActor.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

switch implementation of SsmErrataAction to akka
  java/code/src/com/redhat/rhn/frontend/action/ssm/ErrataListConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmErrataAction.java
  java/code/src/com/redhat/rhn/frontend/events/SsmErrataEvent.java
  java/code/src/com/suse/manager/tasks/actors/SsmErrataActor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch JobReturnEvent
  java/code/src/com/suse/manager/reactor/PGEventListener.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessage.java
  java/code/src/com/suse/manager/tasks/actors/JobReturnActor.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
  java/code/src/log4j.properties
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch MinionStarEvent
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventDatabaseMessage.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/test/MinionStartupActionTest.java.todo
  java/code/src/com/suse/manager/tasks/actors/MinionStartEventActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch LibvirtEngine
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/AbstractLibvirtEngineMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainMessage.java
  java/code/src/com/suse/manager/tasks/actors/LibvirtEngineActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch ApplyStates
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ApplyStatesEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/ApplyStatesEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/tasks/actors/ApplyStatesActor.java
  java/code/src/com/suse/manager/tasks/actors/ChannelsChangedActor.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use java.salt_event_thread_pool_size as the maximum number of Salt actors
  java/code/src/com/suse/manager/reactor/PGEventStream.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/tasks/actors/JobReturnActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add bootstrap data for SLE 15 SP2 products
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

Update mgr_bootstrap_data.py
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

Update mgr_bootstrap_data.py
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

Salt event handlers: switch beacon-related Message/Actions
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/RunnableEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/RunnableEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/VirtpollerBeaconEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/VirtpollerBeaconEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/RefreshGeneratedSaltFilesEventMessageActionTest.java.todo
  java/code/src/com/suse/manager/tasks/actors/PkgsetBeaconActor.java
  java/code/src/com/suse/manager/tasks/actors/VirtpollerBeaconActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch ImageDeployed
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageDeployedEventMessage.java
  java/code/src/com/suse/manager/tasks/actors/ImageDeployedActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch RefreshGeneratedSaltFiles
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/RefreshGeneratedSaltFilesEventMessage.java
  java/code/src/com/suse/manager/tasks/actors/RefreshGeneratedSaltFilesActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch RegisterMinionEvent
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessage.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java.todo
  java/code/src/com/suse/manager/tasks/actors/RegisterMinionActor.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/SSHMinionBootstrapperTest.java.todo
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch BatchStarted
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/BatchStartedEventMessage.java
  java/code/src/com/suse/manager/tasks/actors/BatchStartedActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Deferred actor to manage defer commands
  java/code/src/com/suse/manager/tasks/ActorManager.java
  java/code/src/com/suse/manager/tasks/actors/DeferredManagerActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Enable hash routing for Libvirt events
  java/code/src/com/suse/manager/tasks/actors/LibvirtEngineActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt event handlers: switch SystemIdGenerateEvent
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/tasks/actors/SystemIdGenerateActor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Drop MessageQueue
  java/code/src/com/redhat/rhn/common/messaging/ActionExecutor.java
  java/code/src/com/redhat/rhn/common/messaging/EventDatabaseMessage.java
  java/code/src/com/redhat/rhn/common/messaging/EventMessage.java
  java/code/src/com/redhat/rhn/common/messaging/MessageAction.java
  java/code/src/com/redhat/rhn/common/messaging/MessageDispatcher.java
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/common/messaging/MessageQueueThreadPool.java
  java/code/src/com/redhat/rhn/common/messaging/test/MessageQueueTest.java
  java/code/src/com/redhat/rhn/common/messaging/test/TestAction.java
  java/code/src/com/redhat/rhn/common/messaging/test/TestDBAction.java
  java/code/src/com/redhat/rhn/common/messaging/test/TestDBEventMessage.java
  java/code/src/com/redhat/rhn/common/messaging/test/TestEventMessage.java
  java/code/src/com/redhat/rhn/common/messaging/test/TestExceptionAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/user/test/CreateUserActionTest.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/testing/RhnBaseTestCase.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/PGEventListener.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
