Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

strip repos where all products were products are blacklisted
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

do not overwrite variable
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

fix missing channel values for spacewalk-common-channels
  utils/spacewalk-common-channels
Labels: none

update changelog
  utils/spacewalk-utils.changes
Labels: none

move vital proxy templates to a safe place outside of docu (bsc#1166284)
  proxy/installer/configure-proxy.sh
  proxy/installer/spacewalk-proxy-installer.spec
Labels: proxy

move vital proxy templates to a safe place outside of docu (bsc#1166284)
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

move vital proxy templates to a safe place outside of docu (bsc#1166284)
  proxy/installer/configure-proxy.sh
  proxy/installer/spacewalk-proxy-installer.spec
Labels: proxy

move vital proxy templates to a safe place outside of docu (bsc#1166284)
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

move vital proxy templates to a safe place outside of docu (bsc#1166284)
  proxy/installer/configure-proxy.sh
  proxy/installer/spacewalk-proxy-installer.spec
Labels: proxy

move vital proxy templates to a safe place outside of docu (bsc#1166284)
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

strip repos where all products were products are blacklisted
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

do not overwrite variable
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

update changelog
  utils/spacewalk-utils.changes
Labels: none

in uyuni remove products which require a tools channel subscription from PIDS list
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

fix missing channel values for spacewalk-common-channels
  utils/spacewalk-common-channels
Labels: none

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

Remove dead links
  README.md
Labels: none

Fix links for IRC and mailing lists
  README.md
Labels: none

extract salt operations into interface
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionCheckin.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageDeployedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/utils/SaltKeyUtils.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

Move all the routes initialization calls into the controllers
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/ActivationKeysController.java
  java/code/src/com/suse/manager/webui/controllers/CVEAuditController.java
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/manager/webui/controllers/FormulaCatalogController.java
  java/code/src/com/suse/manager/webui/controllers/FormulaController.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/controllers/ImageProfileController.java
  java/code/src/com/suse/manager/webui/controllers/ImageStoreController.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/code/src/com/suse/manager/webui/controllers/SsmController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/controllers/SubscriptionMatchingController.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/TaskoTop.java
  java/code/src/com/suse/manager/webui/controllers/VisualizationController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap ImageBuildController
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/kubernetes/test/KubernetesManagerTest.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

extract failAfter to utility class
  java/code/src/com/suse/manager/webui/services/FutureUtils.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/websocket/RemoteMinionCommands.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace callSync with more specific methods (part1)
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

refine getAllContainers
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace callSync with more specific methods
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

replace callAsync with specific methods
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap SaltSSHController
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/SaltSSHController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap SystemController
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap RefreshPillarEventAction
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/testing/RhnBaseTestCase.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/messaging/RunnableEventMessageAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

bootstrap NotificationMessageController
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove reflective handler instanciation to prepare for passing dependnecies to handlers
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/test/ApiHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/handler-manifest.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/HandlerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/MockHandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/XmlRpcServletTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/test-handler-manifest.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

fix compile error
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap remaining MessageAction classes
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageDeployedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

bootstrap Virtual*Controller
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

move SystemQuery to services.iface package
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionCheckin.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageDeployedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/ImageDeployedEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltKeyUtils.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/controllers/SaltSSHController.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

remove non existing methods
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

fix copyright date
  java/code/src/com/suse/manager/webui/services/FutureUtils.java
  java/code/src/com/suse/manager/webui/services/impl/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix tests
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/VirtualizationEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/test/HostBuilder.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/org/test/MigrationManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitlementManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
  java/code/src/com/redhat/rhn/testing/ServerTestUtils.java
  java/code/src/com/suse/manager/kubernetes/test/KubernetesManagerTest.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/ImageDeployedEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/SaltTestUtils.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

cleanup unused variable
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

rename saltService variables to systemQuery
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionCheckin.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/MinionCheckinTest.java
  java/code/src/com/suse/manager/kubernetes/KubernetesManager.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManager.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
Labels: java, Virtualization management, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
