Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

remove empty line
  java/code/src/com/suse/manager/webui/services/iface/RedhatProductInfo.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Pass SystemQuery instance to *MinionBootstrappers
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/test/ProxyHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/SatelliteHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/test/SatelliteHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/config/ServerConfigHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/config/test/ServerConfigHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/crash/CrashHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/snapshot/SnapshotHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/snapshot/test/SnapshotHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/external/test/UserExternalHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/test/MinionActionManagerTest.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

fix checkstyle
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/SatelliteHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/config/ServerConfigHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/crash/CrashHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/snapshot/SnapshotHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/test/TestVirtManager.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/iface/RedhatProductInfo.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, API, Virtualization management, java_lint_checkstyle, java_pgsql_tests

replace applyState with more specific method
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/services/iface/RedhatProductInfo.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add CLM project validation messages
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/Module.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdExceptionDataResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentProjectValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidationMessage.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularSourcesValidator.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolutionException.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/ProjectMessageResponse.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/ProjectResponse.java
  java/spacewalk-java.changes
  web/html/src/components/custom-objects.js
  web/html/src/components/messages.js
  web/html/src/components/messages.stories.js
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/panels/messages/messages.js
  web/html/src/manager/content-management/shared/type/project.type.js
  web/spacewalk-web.changes
Labels: java, ui, API, content-management, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Move validation messages into component panels
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/Module.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentProjectValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidationMessage.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularSourcesValidator.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/ProjectMessageResponse.java
  web/html/src/components/messages.js
  web/html/src/manager/content-management/project/project.css
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/messages/messages.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project.js
  web/html/src/manager/content-management/shared/components/panels/messages/messages.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-edit.js
  web/html/src/manager/content-management/shared/components/panels/sources/sources.js
  web/html/src/manager/content-management/shared/type/project.type.js
Labels: java, ui, content-management, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add content validation unit tests
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/test/ModuleTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ContentValidatorTestBase.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ModularDependencyValidatorTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ModularSourcesValidatorTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move validation messages into component panels
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/Module.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentProjectValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidationMessage.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularSourcesValidator.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/ProjectMessageResponse.java
  web/html/src/components/messages.js
  web/html/src/manager/content-management/project/project.css
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/messages/messages.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project.js
  web/html/src/manager/content-management/shared/components/panels/messages/messages.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-edit.js
  web/html/src/manager/content-management/shared/components/panels/sources/sources.js
  web/html/src/manager/content-management/shared/type/project.type.js
Labels: java, ui, content-management, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add CLM project validation messages
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/Module.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdExceptionDataResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentProjectValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidationMessage.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularSourcesValidator.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolutionException.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/ProjectMessageResponse.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/ProjectResponse.java
  java/spacewalk-java.changes
  web/html/src/components/custom-objects.js
  web/html/src/components/messages.js
  web/html/src/components/messages.stories.js
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/panels/messages/messages.js
  web/html/src/manager/content-management/shared/type/project.type.js
  web/spacewalk-web.changes
Labels: java, ui, API, content-management, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add content validation unit tests
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/test/ModuleTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ContentValidatorTestBase.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ModularDependencyValidatorTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ModularSourcesValidatorTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add error codes
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
Labels: none

Add error type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add pretty printer for JSON on serialisations
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Fix exception type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Return JSON on error
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Obtain error code from the exception
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Add exception types with error codes
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
Labels: none

Add error responses for assertions and random generic raises
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Replace general asserts with the error type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Turn off/on JSON pretty-printing
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Automatically obtain data from the exception object
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Remove unused var
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Add CL message
  susemanager-utils/mgr-libmod/mgr-libmod.changes
Labels: none

Add data container carrier through the exceptions
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add detailed exception handling
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add data container carrier through the exceptions
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add error codes
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
Labels: none

Obtain error code from the exception
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Automatically obtain data from the exception object
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add detailed exception handling
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add error type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Return JSON on error
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Replace general asserts with the error type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Add pretty printer for JSON on serialisations
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Remove unused var
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Add exception types with error codes
  susemanager-utils/mgr-libmod/mgrlibmod/mlerrcode.py
Labels: none

Add error responses for assertions and random generic raises
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Fix exception type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Turn off/on JSON pretty-printing
  susemanager-utils/mgr-libmod/mgrlibmod/mlapp.py
Labels: none

Add CL message
  susemanager-utils/mgr-libmod/mgr-libmod.changes
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
