Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Testsuite: complete a branch merge
  testsuite/features/init_clients/buildhost_bootstrap.feature
Labels: testing, ruby_rubocop

Remove lowercase character limit in image profile label
  web/html/src/manager/images/image-profile-edit.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Move to Gitter
  README.md
Labels: none

Remove lowercase character limit in image profile label
  web/html/src/manager/images/image-profile-edit.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Move to Gitter
  README.md
Labels: none

fix syntax error in XMLRPC docs
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

testsuite - move retail terminal to sle15sp2
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop

Switching bootstrapping packages to python3 for Ubuntu 18.04 (#11630)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Enable support for bootstrapping Ubuntu 20.04 LTS added from the Setup Wizard or mgr-sync
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Adds missing bsc number
  susemanager/susemanager.changes
Labels: susemanager_unittests

Enable support for bootstrapping Ubuntu 20.04 LTS added from the Setup Wizard or mgr-sync
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Enable support for bootstrapping Ubuntu 20.04 LTS added from the Setup Wizard or mgr-sync
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Fix software channel list coloring
  branding/css/susemanager-tables.less
  java/code/src/com/redhat/rhn/frontend/taglibs/UnpagedListDisplayTag.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix software channel list coloring
  branding/css/susemanager-tables.less
  java/code/src/com/redhat/rhn/frontend/taglibs/UnpagedListDisplayTag.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Allow spacewalk-repo-sync to sync empty DEB repositories
  backend/common/repo.py
Labels: python3, backend_unittests_pgsql

Update changelog for spacewalk-backend
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Pass primary minion ip to the salt runner
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrKiwiImageRunner.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/runners/kiwi-image-collect.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Salt returns 'retcode', not 'returncode'
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Avoid traceback with AssertionError: Failed to update row (bsc#1172558)
  java/code/src/com/redhat/rhn/domain/rhnset/RhnSetFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adds missing bsc number (#2288)
  susemanager/susemanager.changes
Labels: susemanager_unittests

Ubuntu repo syncs are using http proxy (#2278)
  backend/common/repo.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

support classes for RPC comunication
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

Module: user management
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

opensuse clients have not tar preinstalled
  testsuite/features/finishing/allcli_debug.feature
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/finishing.yml
  testsuite/run_sets/qam_finishing.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/sle-updates.yml
  testsuite/run_sets/virtualization.yml
Labels: testing, ci-pipelines, ruby_rubocop

opensuse clients have not tar preinstalled
  testsuite/features/finishing/allcli_debug.feature
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/finishing.yml
  testsuite/run_sets/qam_finishing.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/sle-updates.yml
  testsuite/run_sets/virtualization.yml
Labels: testing, ci-pipelines, ruby_rubocop

Avoid traceback with AssertionError: Failed to update row (bsc#1172558) (#2292)
  java/code/src/com/redhat/rhn/domain/rhnset/RhnSetFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

(bsc#1153234) speed up getAllChannels api call
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extend disabling of autoflushing to whole method
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

ProductsController.getMandatoryChannels: avoid needless flushing
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update provider name and add missing keyids
  schema/spacewalk/common/data/rhnPackageKey.sql
  schema/spacewalk/common/data/rhnPackageProvider.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/001-package-provider-changes.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Extend disabling of autoflushing to whole method
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

ProductsController.getMandatoryChannels: avoid needless flushing
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

(bsc#1153234) speed up getAllChannels api call
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Avoid traceback with AssertionError: Failed to update row (bsc#1172558)
  java/code/src/com/redhat/rhn/domain/rhnset/RhnSetFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

introduce maintenance_mode_only flag in rhnActionType
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Manager: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Misc: Fix naming of existing method
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
