Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Update changelog
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Compile additional less files
  branding/spacewalk-branding.spec
Labels: none

Compile additional less files
  branding/spacewalk-branding.spec
Labels: none

Automatic commit of package [uyuni-cluster-provider-caasp] release [4.1.1-1].
  rel-eng/packages/uyuni-cluster-provider-caasp
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp.changes
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp.spec
Labels: none

Automatic commit of package [caasp-management-node-formula] release [4.1.1-1].
  rel-eng/packages/caasp-management-node-formula
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-node-formula/caasp-management-node-formula.changes
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-node-formula/caasp-management-node-formula.spec
Labels: none

Automatic commit of package [caasp-management-settings-formula] release [4.1.1-1].
  rel-eng/packages/caasp-management-settings-formula
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-settings-formula/caasp-management-settings-formula.changes
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-settings-formula/caasp-management-settings-formula.spec
Labels: none

Fix class name
  branding/css/uyuni/uyuni-theme.less
Labels: none

Manager bsc1169550 (#2301)
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

Manager 4.0 bsc1169550 (#11661)
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

make ubuntu universe repo mandatory
  susemanager-sync-data/additional_products.json
Labels: none

Fix class name
  branding/css/uyuni/uyuni-theme.less
Labels: none

make ubuntu universe repo mandatory
  susemanager-sync-data/additional_products.json
Labels: none

Upgrade websocket-extensions - CVE-2020-766
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Upgrade websocket-extensions - CVE-2020-766
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

ErrataHandler.publish*: clarify documentation
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

ErrataHandler.listUnpublishedErrata: drop
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

ErrataHandler.getDetails: limit to published errata
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

rhn-clone-errata: drop
  scripts/clone-errata/README
  scripts/clone-errata/rhn-clone-errata.py
Labels: none

ErrataHandler.create: remove flag to create unpublished errata
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/test/ErrataHandlerTest.java
  java/scripts/api/channelsoftwaretests.py
Labels: java, API, python3, java_lint_checkstyle, java_pgsql_tests

ErrataHandler.listCves: fix documentation
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

ErrataHandler.setDetails: fix documentation
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

ErrataHandler: fix doc up
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

OvalServlet: do not return unpublished errata
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix JUnit tests after disabling of unpublished errata
  java/code/src/com/redhat/rhn/common/security/acl/test/ErrataAclHandlerTest.java
  java/code/src/com/redhat/rhn/domain/errata/test/ErrataFactoryTest.java
  java/code/src/com/redhat/rhn/domain/errata/test/ErrataTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/EditActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/NotifyActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/NotifySetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/test/ErrataHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Bugfix: prevent unpublished errata from being scheduled to apply
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog updated
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt JUnit tests
  java/code/src/com/redhat/rhn/frontend/action/errata/test/CloneConfirmActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/CloneConfirmSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/CreateActionTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Bugfix: fallback did not work in all cases
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Allow to create published patches in the UI
  java/code/src/com/redhat/rhn/frontend/action/errata/ChannelAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ChannelSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/CreateAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/CreateSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/CreateActionTest.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/errata/create.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Drop errata_is_published ACL
  java/code/src/com/redhat/rhn/common/security/acl/ErrataAclHandler.java
  java/code/src/com/redhat/rhn/common/security/acl/test/ErrataAclHandlerTest.java
  java/code/webapp/WEB-INF/nav/manage_errata.xml
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Remove unpublished errata from menu
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt Cucumber tests
  testsuite/features/secondary/srv_patches_page.feature
Labels: testing, secondary-features, ruby_rubocop

Clone patches as published in the UI
  java/code/src/com/redhat/rhn/frontend/action/errata/CloneConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/CloneConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/webapp/WEB-INF/pages/admin/errata/cloneconfirm.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Enable monitoring entitlement for s390x (bsc#1172627)
  schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.19-to-susemanager-schema-4.0.20/002-monitoring-enable-s390x.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Update changelog
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

only report real error, not result (bsc#1171687)
  spacecmd/src/bin/spacecmd
Labels: python3

only report real error, not result (bsc#1171687)
  spacecmd/spacecmd.changes
Labels: python3

Port translations
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Manager bsc1171687 (#2307)
  spacecmd/spacecmd.changes
  spacecmd/src/bin/spacecmd
Labels: python3

Manager 4.0 bsc1171687 (#11673)
  spacecmd/spacecmd.changes
  spacecmd/src/bin/spacecmd
Labels: python3

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
