Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Correctly set action to failed in case of Salt errors on execution (bsc#1169604)
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Correctly set action to failed in case of Salt errors on execution (bsc#1169604) (#2298)
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

update provider name and add missing keyids
  schema/spacewalk/common/data/rhnPackageKey.sql
  schema/spacewalk/common/data/rhnPackageProvider.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/001-package-provider-changes.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

update changelog
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fixed wrong lines in SHA256
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/test/DebReleaseWriterTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Module: system groups
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

WIP: states: user and system groups
  susemanager-utils/susemanager-sls/src/_states/uyuni_users.py
Labels: none

Module: organizations
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

increase xmlrpc api version
  java/conf/rhn_java.conf
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove gradient for section-toolbar
  branding/css/susemanager-theme.less
Labels: none

New branding style and menu adjustements
  branding/css/susemanager-login.less
  branding/css/susemanager-theme.less
  branding/css/susemanager-variables.less
  branding/img/susemanager/suse-logo-02.png
  branding/spacewalk-branding.changes
Labels: none

Remove text shadow from buttons
  branding/css/susemanager-buttons.less
Labels: none

Fix HelpIcon link size
  web/html/src/components/utils/HelpIcon.js
Labels: ui, javascript_lint

Fix big icon size (CVE Audit)
  branding/css/spacewalk-theme.less
Labels: none

Fix relative paths for Uyuni styles
  branding/css/uyuni/spacewalk-typography.less
  branding/css/uyuni/spacewalk-variables.less
  branding/css/uyuni/susemanager-fullscreen.less
  branding/css/uyuni/susemanager-login.less
Labels: none

Split themes for Uyuni and SUSE Manager
  branding/css/uyuni/spacewalk-error.less
  branding/css/uyuni/spacewalk-fixes.less
  branding/css/uyuni/spacewalk-inputs.less
  branding/css/uyuni/spacewalk-mixins.less
  branding/css/uyuni/spacewalk-responsive-rules.less
  branding/css/uyuni/spacewalk-tables.less
  branding/css/uyuni/spacewalk-theme.less
  branding/css/uyuni/spacewalk-tools.less
  branding/css/uyuni/spacewalk-typography.less
  branding/css/uyuni/spacewalk-variables.less
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/susemanager-buttons.less
  branding/css/uyuni/susemanager-fullscreen.less
  branding/css/uyuni/susemanager-login.less
  branding/css/uyuni/susemanager-mixins.less
  branding/css/uyuni/susemanager-notifications.less
  branding/css/uyuni/susemanager-responsive-rules.less
  branding/css/uyuni/susemanager-setup-wizard.less
  branding/css/uyuni/susemanager-sp-migration.css
  branding/css/uyuni/susemanager-tables.less
  branding/css/uyuni/susemanager-theme.less
  branding/css/uyuni/susemanager-variables.less
  branding/css/uyuni/susemanager-visualization.less
  branding/spacewalk-branding.changes
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/spacewalk-java.changes
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Make usage of a better method to check product name config param
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Remove SUSE Manager refs within Uyuni custom style
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/uyuni-login.less
  branding/css/uyuni/uyuni-theme.less
  branding/css/uyuni/uyuni-variables.less
Labels: none

Fix login page for theme split
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove and centralize redundant/shared style rules
  branding/css/uyuni/spacewalk-error.less
  branding/css/uyuni/spacewalk-fixes.less
  branding/css/uyuni/spacewalk-inputs.less
  branding/css/uyuni/spacewalk-mixins.less
  branding/css/uyuni/spacewalk-responsive-rules.less
  branding/css/uyuni/spacewalk-tables.less
  branding/css/uyuni/spacewalk-theme.less
  branding/css/uyuni/spacewalk-tools.less
  branding/css/uyuni/spacewalk-typography.less
  branding/css/uyuni/spacewalk-variables.less
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/susemanager-buttons.less
  branding/css/uyuni/susemanager-fullscreen.less
  branding/css/uyuni/susemanager-mixins.less
  branding/css/uyuni/susemanager-notifications.less
  branding/css/uyuni/susemanager-responsive-rules.less
  branding/css/uyuni/susemanager-setup-wizard.less
  branding/css/uyuni/susemanager-sp-migration.css
  branding/css/uyuni/susemanager-tables.less
  branding/css/uyuni/susemanager-visualization.less
Labels: none

Keep Uyuni on old fonts instead
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/uyuni-login.less
  branding/css/uyuni/uyuni-mixins.less
  branding/css/uyuni/uyuni-typography.less
  branding/css/uyuni/uyuni-variables.less
Labels: none

Adjust font titles properties
  branding/css/susemanager-theme.less
  branding/css/uyuni/uyuni-theme.less
Labels: none

Empty table text is not an headline
  branding/css/susemanager-theme.less
  branding/css/uyuni/uyuni-theme.less
  web/html/src/components/table/TableDataHandler.js
Labels: ui, javascript_lint

Fix relative paths for Uyuni styles
  branding/css/uyuni/spacewalk-typography.less
  branding/css/uyuni/spacewalk-variables.less
  branding/css/uyuni/susemanager-fullscreen.less
  branding/css/uyuni/susemanager-login.less
Labels: none

New branding style and menu adjustements
  branding/css/susemanager-login.less
  branding/css/susemanager-theme.less
  branding/css/susemanager-variables.less
  branding/img/susemanager/suse-logo-02.png
  branding/spacewalk-branding.changes
Labels: none

Fix HelpIcon link size
  web/html/src/components/utils/HelpIcon.js
Labels: ui, javascript_lint

Fix login page for theme split
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove and centralize redundant/shared style rules
  branding/css/uyuni/spacewalk-error.less
  branding/css/uyuni/spacewalk-fixes.less
  branding/css/uyuni/spacewalk-inputs.less
  branding/css/uyuni/spacewalk-mixins.less
  branding/css/uyuni/spacewalk-responsive-rules.less
  branding/css/uyuni/spacewalk-tables.less
  branding/css/uyuni/spacewalk-theme.less
  branding/css/uyuni/spacewalk-tools.less
  branding/css/uyuni/spacewalk-typography.less
  branding/css/uyuni/spacewalk-variables.less
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/susemanager-buttons.less
  branding/css/uyuni/susemanager-fullscreen.less
  branding/css/uyuni/susemanager-mixins.less
  branding/css/uyuni/susemanager-notifications.less
  branding/css/uyuni/susemanager-responsive-rules.less
  branding/css/uyuni/susemanager-setup-wizard.less
  branding/css/uyuni/susemanager-sp-migration.css
  branding/css/uyuni/susemanager-tables.less
  branding/css/uyuni/susemanager-visualization.less
Labels: none

Make usage of a better method to check product name config param
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Fix big icon size (CVE Audit)
  branding/css/spacewalk-theme.less
Labels: none

Keep Uyuni on old fonts instead
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/uyuni-login.less
  branding/css/uyuni/uyuni-mixins.less
  branding/css/uyuni/uyuni-typography.less
  branding/css/uyuni/uyuni-variables.less
Labels: none

Empty table text is not an headline
  branding/css/susemanager-theme.less
  branding/css/uyuni/uyuni-theme.less
  web/html/src/components/table/TableDataHandler.js
Labels: ui, javascript_lint

Remove SUSE Manager refs within Uyuni custom style
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/uyuni-login.less
  branding/css/uyuni/uyuni-theme.less
  branding/css/uyuni/uyuni-variables.less
Labels: none

Remove gradient for section-toolbar
  branding/css/susemanager-theme.less
Labels: none

Adjust font titles properties
  branding/css/susemanager-theme.less
  branding/css/uyuni/uyuni-theme.less
Labels: none

Remove text shadow from buttons
  branding/css/susemanager-buttons.less
Labels: none

Split themes for Uyuni and SUSE Manager
  branding/css/uyuni/spacewalk-error.less
  branding/css/uyuni/spacewalk-fixes.less
  branding/css/uyuni/spacewalk-inputs.less
  branding/css/uyuni/spacewalk-mixins.less
  branding/css/uyuni/spacewalk-responsive-rules.less
  branding/css/uyuni/spacewalk-tables.less
  branding/css/uyuni/spacewalk-theme.less
  branding/css/uyuni/spacewalk-tools.less
  branding/css/uyuni/spacewalk-typography.less
  branding/css/uyuni/spacewalk-variables.less
  branding/css/uyuni/spacewalk.less
  branding/css/uyuni/susemanager-buttons.less
  branding/css/uyuni/susemanager-fullscreen.less
  branding/css/uyuni/susemanager-login.less
  branding/css/uyuni/susemanager-mixins.less
  branding/css/uyuni/susemanager-notifications.less
  branding/css/uyuni/susemanager-responsive-rules.less
  branding/css/uyuni/susemanager-setup-wizard.less
  branding/css/uyuni/susemanager-sp-migration.css
  branding/css/uyuni/susemanager-tables.less
  branding/css/uyuni/susemanager-theme.less
  branding/css/uyuni/susemanager-variables.less
  branding/css/uyuni/susemanager-visualization.less
  branding/spacewalk-branding.changes
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/spacewalk-java.changes
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Feat: backend: add cluster_admin role
  java/code/src/com/redhat/rhn/domain/org/OrgFactory.java
  java/code/src/com/redhat/rhn/domain/role/RoleFactory.java
  java/code/src/com/redhat/rhn/domain/user/UserFactory.java
  java/code/src/com/redhat/rhn/frontend/action/user/test/UserEditSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
  schema/spacewalk/common/data/rhnUserGroupType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/500-cluster-rhnusergrouptype.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/501-cluster-rhn_user.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.7-to-susemanager-schema-4.1.8/502-cluster-create_new_org.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Feat: Salt: CaaSP cluster provider
  spacewalk/setup/salt/susemanager.conf
  susemanager-utils/cluster-providers/caasp/caasp/init_ssh_agent.sls
  susemanager-utils/cluster-providers/caasp/caasp/kill_ssh_agent.sls
  susemanager-utils/cluster-providers/caasp/caasp/prepare_node.sls
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-node-formula/caasp-management-node-formula.spec
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-node-formula/caasp-management-node/init.sls
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-node-formula/metadata/form.yml
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-node-formula/metadata/metadata.yml
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-settings-formula/caasp-management-settings-formula.spec
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-settings-formula/caasp-management-settings/init.sls
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-settings-formula/metadata/form.yml
  susemanager-utils/cluster-providers/caasp/formulas/caasp-management-settings-formula/metadata/metadata.yml
  susemanager-utils/cluster-providers/caasp/metadata/join_node.yml
  susemanager-utils/cluster-providers/caasp/metadata/metadata.yml
  susemanager-utils/cluster-providers/caasp/metadata/remove_node.yml
  susemanager-utils/cluster-providers/caasp/metadata/upgrade_cluster.yml
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp.changes
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp.spec
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/salt/clusters/addnode.sls
  susemanager-utils/susemanager-sls/salt/clusters/listnodes.sls
  susemanager-utils/susemanager-sls/salt/clusters/removenode.sls
  susemanager-utils/susemanager-sls/salt/clusters/upgradecluster.sls
  susemanager-utils/susemanager-sls/src/modules/ssh_agent.py
Labels: none
