Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

drop empty package susemanager-proxy
  rel-eng/packages/susemanager-proxy
  susemanager-proxy/Makefile
  susemanager-proxy/license.txt
  susemanager-proxy/susemanager-proxy.changes
  susemanager-proxy/susemanager-proxy.spec
Labels: none

susemanager-proxy was dropped
  susemanager-utils/supportutils-plugin-susemanager-proxy/susemanagerproxy
Labels: none

update changelog
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.changes
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Force to run util.synccustomall when triggering action chains on SSH minions
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
Labels: none

Do not workaround util.syncmodules for SSH minions (bsc#1162609)
  susemanager-utils/susemanager-sls/salt/util/syncmodules.sls
Labels: none

Add missing bsc reference to changelog
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Fix misalignment on actionchains.startssh and actionchains.resumessh
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
Labels: none

Fix misalignment on actionchains.startssh and actionchains.resumessh
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
Labels: none

Fix misalignment on actionchains.startssh and actionchains.resumessh
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
Labels: none

Fix misalignment on actionchains.startssh and actionchains.resumessh
  susemanager-utils/susemanager-sls/salt/actionchains/resumessh.sls
  susemanager-utils/susemanager-sls/salt/actionchains/startssh.sls
Labels: none

fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

obs-to-maven: correct specification of pgjdbc/spy
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

obs-to-maven: correct specification of pgjdbc/spy (#1901)
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove support for SUSEfirewall2 from proxy
  proxy/installer/configure-proxy.sh
  proxy/installer/spacewalk-proxy-installer.spec
Labels: proxy

remove unused and outdated yast firstboot file
  susemanager/susemanager.spec
  susemanager/yast/README
  susemanager/yast/firstboot-susemanager.xml
Labels: susemanager_unittests

remove SuSEfirewall2 setup
  susemanager/bin/mgr-setup
  susemanager/etc/sysconfig/SuSEfirewall2.d/services/suse-manager-server
  susemanager/susemanager.spec
Labels: susemanager_unittests

update changelog
  proxy/installer/spacewalk-proxy-installer.changes
  susemanager/susemanager.changes
  web/spacewalk-web.changes
Labels: ui, proxy, javascript_lint, susemanager_unittests

remove support for SuSEfirewall2
  web/etc/sysconfig/SuSEfirewall2.d/services/susemanager-database
  web/spacewalk-web.spec
Labels: ui, javascript_lint

1790638 - --nobase option was removed in version F22
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartFormatter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

1768822 - install latest available package
  client/rhel/dnf-plugin-spacewalk/actions/packages.py
Labels: python3

update changelog
  client/rhel/dnf-plugin-spacewalk/dnf-plugin-spacewalk.changes
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

removed commented line which breaks build
  client/rhel/rhnlib/rhnlib.spec
Labels: none

Move schema upgrade file to fit into the right schema version
  schema/spacewalk/upgrade/susemanager-schema-4.1.2-to-susemanager-schema-4.1.3/001-add-payg-to-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Move schema upgrade file to fit into the right schema version
  schema/spacewalk/upgrade/susemanager-schema-4.1.2-to-susemanager-schema-4.1.3/001-add-payg-to-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746) (#1899)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Revert "fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746) (#1899)"
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Revert "fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746) (#1899)" (#1904)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746) (#1905)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Revert "fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746) (#1905)"
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Revert "fix manpages for mgr-ssl-tool and mgr-bootstrap (bsc#1010746) (#1905)" (#1906)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/rhn-bootstrap.sgml
  spacewalk/certs-tools/rhn-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

fix build for renamed man pages
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-bootstrap.sgml
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/mgr-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

fix build for renamed man pages (#1907)
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-bootstrap.sgml
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage.sgml
  spacewalk/certs-tools/mgr-ssl-tool.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

fix --help output for mgr-ssl-tool and mgr-bootstrap (bsc#1010746)
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/sslToolCli.py
Labels: none

fix --help output for mgr-ssl-tool and mgr-bootstrap (bsc#1010746)
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Manager bsc1010746 (#1908)
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/sslToolCli.py
Labels: none

Add module stream filter type
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ErrataFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/FilterCriteria.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/Module.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ModuleFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/RepositoryNotModularException.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/list-filters/filter-form.js
  web/html/src/manager/content-management/list-filters/filter.utils.js
  web/html/src/manager/content-management/list-filters/filter.utils.test.js
  web/html/src/manager/content-management/shared/business/filters.enum.js
  web/html/src/manager/content-management/shared/type/filter.type.js
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Implement module filtering logic and dependency resolution
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProject.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ModuleFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/PackageFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ConflictingStreamsException.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ListPackagesResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/Module.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModuleInfo.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModuleNotFoundException.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulePackagesResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiRequest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/RepositoryNotModularException.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentFilterTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ModuleFilterTest.java
  java/code/src/com/redhat/rhn/domain/rhnpackage/Package.java
  java/code/src/com/redhat/rhn/domain/rhnpackage/PackageEvr.java
  java/code/src/com/redhat/rhn/domain/rhnpackage/test/PackageTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolutionException.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolver.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

Convert ContentManager into a non-static class for easier testing
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentFilterTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ModuleFilterTest.java
  java/code/src/com/redhat/rhn/frontend/events/AlignSoftwareTargetAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerChannelAlignmentTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ControllerApiUtils.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/EnvironmentApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/FilterApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectActionsApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectSourcesApiController.java
Labels: java, API, content-management, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
