Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

change channel family for 15 LTSS according to SCC data
  susemanager-sync-data/channel_families.json
Labels: none

Extract generation of minion pillar files
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/EditChannelAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/ActivationKeyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/BaseHandlerTestCase.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/testing/BaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/JMockBaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/RhnMockStrutsTestCase.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGroupMembershipPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionPillarManagerTest.java
  java/code/src/com/suse/manager/webui/services/test/SaltStateGeneratorServiceTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update changelog
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

Add OES 2018 SP2 product
  susemanager-sync-data/additional_products.json
Labels: none

rename RHEL8 Base
  susemanager-sync-data/additional_products.json
Labels: none

change channel family for 15 LTSS according to SCC data
  susemanager-sync-data/channel_families.json
Labels: none

update changelog
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

Add OES 2018 SP2 product
  susemanager-sync-data/additional_products.json
Labels: none

rename RHEL8 Base
  susemanager-sync-data/additional_products.json
Labels: none

change channel family for 15 LTSS according to SCC data
  susemanager-sync-data/channel_families.json
Labels: none

update changelog
  susemanager-sync-data/susemanager-sync-data.changes
Labels: none

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

provisioning is supported for Salt and Bootstrap entitled systems as well
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

provisioning is supported for Salt and Bootstrap entitled systems as well
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Testsuite: Workaround for spacewalk #9165
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/core.yml
Labels: testing, core-features, ci-pipelines, ruby_rubocop

Extract generation of minion pillar files
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/EditChannelAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/ActivationKeyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/BaseHandlerTestCase.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/testing/BaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/JMockBaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/RhnMockStrutsTestCase.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGroupMembershipPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionPillarManagerTest.java
  java/code/src/com/suse/manager/webui/services/test/SaltStateGeneratorServiceTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Testsuite: Workaround for spacewalk #9165
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/core.yml
Labels: testing, core-features, ci-pipelines, ruby_rubocop

Testsuite: Workaround for spacewalk #9165
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/core.yml
Labels: testing, core-features, ci-pipelines, ruby_rubocop

Testsuite: Workaround for spacewalk #9165
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/core.yml
Labels: testing, core-features, ci-pipelines, ruby_rubocop

forbid multiple activation keys for salt minions during bootstrap (bsc#1164452)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

forbid multiple activation keys for salt minions during bootstrap (bsc#1164452)
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

forbid multiple activation keys for salt minions during bootstrap (bsc#1164452)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

forbid multiple activation keys for salt minions during bootstrap (bsc#1164452)
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Manager bsc1164452 (#1935)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Adjust postgresql-jdbc version for ivy
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adjust postgresql-jdbc version for ivy
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix JarFinderTest unit tests for postgresql-jdbc-42.2.10
  java/code/src/com/redhat/rhn/common/finder/test/JarFinderTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add 'product' custom state module to handle installation of SUSE products at client side
  susemanager-utils/susemanager-sls/src/states/product.py
  susemanager-utils/susemanager-sls/src/tests/mockery.py
  susemanager-utils/susemanager-sls/src/tests/test_state_product.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Call 'product.all_installed' in 'packages' state (bsc#1157447)
  susemanager-utils/susemanager-sls/salt/packages/init.sls
  susemanager-utils/susemanager-sls/salt/util/synccustomall.sls
  susemanager-utils/susemanager-sls/salt/util/systeminfo.sls
Labels: none

Fix JarFinderTest unit tests for postgresql-jdbc-42.2.10
  java/code/src/com/redhat/rhn/common/finder/test/JarFinderTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add 'product' custom state module to handle installation of SUSE products at client side
  susemanager-utils/susemanager-sls/src/states/product.py
  susemanager-utils/susemanager-sls/src/tests/mockery.py
  susemanager-utils/susemanager-sls/src/tests/test_state_product.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Call 'product.all_installed' in 'packages' state (bsc#1157447)
  susemanager-utils/susemanager-sls/salt/packages/init.sls
  susemanager-utils/susemanager-sls/salt/util/synccustomall.sls
  susemanager-utils/susemanager-sls/salt/util/systeminfo.sls
Labels: none

Testsuite: Pacify rubocop
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

export/import extra_tags via ISS
  backend/satellite_tools/exporter/exportLib.py
  backend/satellite_tools/xmlSource.py
  backend/server/importlib/importLib.py
Labels: python3, backend_unittests_pgsql

skip products with empty channel family id
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql

increase array sice for new product values
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql

On an ISS Slave cleanup suseSCCRepositoryAuth table
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql

check if extra_tags are available
  backend/server/importlib/packageImport.py
Labels: python3, backend_unittests_pgsql

skip products with empty channel family id
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql
