Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, spark-router, webui-templates, webui-controllers, salt-actions-implementations, salt-events-listener, data-model, old-ui, xmlrpc, testing, test-framework, core-features, build-validation-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Revert breaking PR and subsequent fix
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

Revert breaking PR and subsequent fix
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, test-framework, secondary-features, ruby_rubocop

Add mgr-libmod unit tests for RHEL 8.3 support
  susemanager-utils/mgr-libmod/tests/data/all_modules_rhel.json
  susemanager-utils/mgr-libmod/tests/data/module_packages_rhel.json
  susemanager-utils/mgr-libmod/tests/data/perl_dependencies_rhel.json
  susemanager-utils/mgr-libmod/tests/data/sample-modules-rhel.yaml.gz
  susemanager-utils/mgr-libmod/tests/test_libmodapi.py
Labels: none

Support multiple stream versions in mgr-libmod (bsc#1183038)
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
  susemanager-utils/mgr-libmod/mgrlibmod/mlresolver.py
Labels: none

Remove duplicates when reporting enabled AppStream modules in CLM
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/spacewalk-java.changes
Labels: java, data-model, java_lint_checkstyle, java_pgsql_tests

typos: double spaces in string
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Remove duplicated spaces in string
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Add obs-project for creating build service projects for pull requests
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Get obs user and password from config file
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Only update the kickstart path in cobbler if necessary (bsc#1175216)
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerProfileSyncCommand.java
  java/code/src/com/redhat/rhn/taskomatic/task/CobblerSyncTask.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix syntax
  susemanager-utils/testing/automation/obs-project.py
Labels: none

fixup
  susemanager-utils/testing/automation/obs-project.py
Labels: none

fixup
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Slovak)
  web/po/sk.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

update strings for translations in java/code/src/com/redhat/rhn/frontend/strings/java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Slovak)
  web/po/sk.po
Labels: ui, javascript_lint

update strings for translations in web
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: ui, javascript_lint

get product name, default: SUSE Manager
  susemanager/bin/mgr-setup
Labels: susemanager_unittests

Debrand mgr-setup file - resolves #1354
  susemanager/bin/mgr-setup
Labels: susemanager_unittests

Translated using Weblate (Korean)
  spacecmd/po/ko.po
Labels: python3

removed double space in string
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Move Salt pkg environ settings to minion config file
  spacewalk/setup/salt/susemanager.conf
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
Labels: none

Fix changelog for spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Move Salt pkg environ settings to minion config file
  spacewalk/setup/salt/susemanager.conf
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
Labels: none

Fix changelog for spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Move Salt pkg environ settings to minion config file
  spacewalk/setup/salt/susemanager.conf
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
Labels: none

Fix changelog for spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Korean)
  spacecmd/po/ko.po
Labels: python3

add check for directory to pg-migrate-12-to-13.sh
  susemanager/bin/pg-migrate-12-to-13.sh
Labels: susemanager_unittests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

update strings for translations in java/code/src/com/redhat/rhn/frontend/strings/java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Add add subcomand to obs-project
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Fix default configfile for obs-project
  susemanager-utils/testing/automation/obs-project.py
Labels: none

add remove subcommand to obs-project
  susemanager-utils/testing/automation/obs-project.py
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*
spark-router:
- java/code/src/com/suse/manager/webui/Router.java
webui-templates:
- java/code/src/com/suse/manager/webui/templates/*
- java/code/src/com/suse/manager/webui/templates/**/*
webui-controllers:
- java/code/src/com/suse/manager/webui/controller/*
- java/code/src/com/suse/manager/webui/controller/**/*
salt-actions-implementations:
- java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
salt-events-listener:
- java/code/src/com/suse/manager/reactor/SaltReactor.java
data-model:
- java/code/src/com/redhat/rhn/domain/*
- java/code/src/com/redhat/rhn/domain/**/*
old-ui:
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
xmlrpc:
- java/code/src/com/redhat/rhn/frontend/xmlrpc/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
test-framework:
- testsuite/features/support/*
- testsuite/features/step_definitions/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
build-validation-features: 
- testsuite/features/build_validation/*
- testsuite/features/build_validation/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
