Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Struts: Support reading maint. window date from the dynaForm
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

JSP: Implement maintenance window picker
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Backend: Method for calculating upcoming maintenance windows
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
  java/code/src/com/redhat/rhn/frontend/struts/MaintenanceWindowHelper.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

JSP: Support for greying out date picker # Bitte geben Sie eine Commit-Beschreibung für Ihre Änderungen ein. Zeilen,
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/common/fragments/date-picker.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Struts: Refactor: USE_DATE -> SCHEDULE_TYPE field in the form
  java/code/src/com/redhat/rhn/common/util/DatePicker.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ErrataConfirmSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/test/SyncActionsTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/test/ErrataConfirmActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/test/ErrataConfirmSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/struts/ActionChainHelper.java
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
  java/code/src/com/redhat/rhn/frontend/struts/test/ActionChainHelperTest.java
  java/code/webapp/WEB-INF/pages/admin/errata/confirm.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/audit/scapcap-list.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/audit/schedule-xccdf.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/enablewidgets.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
  java/code/webapp/WEB-INF/pages/ssm/packageverifyschedule.jsp
  java/code/webapp/WEB-INF/pages/systems/errataconfirm.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Test computing upcoming windows from a calendar with multiple timezones
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerWindowsTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-google-multizones.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows for action chains
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Localization
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows in Actions [2/2]: Read schedule date from maintenance window picker
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/SsmScheduleXccdfConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/SsmScheduleXccdfSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/channel/ChannelDeployConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/GlobalRevisionDeployConfirmSubmit.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/LocalRevisionDeployAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/overview/TargetSystemsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/FileListConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/ConfigConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/EnableSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/ScheduleKickstartWizardAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/BaseSystemPackagesConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/LockPackageAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/SyncProfilesSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/SyncSystemsSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageInstallationAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageUpgradeAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageVerifyAction.java
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ErrataListConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ProvisioningRemoteCommand.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/RebootSystemConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/ScheduleXccdfAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemRebootAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/virtualization/ProvisionVirtualizationWizardAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows in Actions [1/2]: Populate the maintenance window picker
  java/code/src/com/redhat/rhn/frontend/action/MaintenanceWindowsAware.java
  java/code/src/com/redhat/rhn/frontend/action/channel/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/channel/ChannelDeployConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/GlobalRevisionDeployConfirmSetup.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/DeployFileConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/DiffFileConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/FileListConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/ConfigConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/EnableListAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/BaseSystemPackagesConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/InstallConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/RemoveConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/UpgradeConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/VerifyConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageInstallationAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageUpgradeAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageVerifyAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ErrataListConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ProvisioningRemoteCommand.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/RebootSystemConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemRebootAction.java
  java/code/src/com/redhat/rhn/frontend/struts/ActionChainHelper.java
  java/code/src/com/redhat/rhn/frontend/struts/RhnAction.java
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

reduce the listed patches to our dummy patches
  testsuite/features/secondary/trad_cve_id_new_syntax.feature
Labels: testing, secondary-features, ruby_rubocop

Revert file_extract to scp for spacewalk-debug.tar.bz2
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

reduce the listed patches to our dummy patches
  testsuite/features/secondary/trad_cve_id_new_syntax.feature
Labels: testing, secondary-features, ruby_rubocop

reduce the listed patches to our dummy patches
  testsuite/features/secondary/trad_cve_id_new_syntax.feature
Labels: testing, secondary-features, ruby_rubocop

Rubocop upgrade version of Ruby (2.5)
  .rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
Labels: testing, ci-pipelines, ruby_rubocop

Revert file_extract to scp for spacewalk-debug.tar.bz2
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

reduce the listed patches to our dummy patches
  testsuite/features/secondary/trad_cve_id_new_syntax.feature
Labels: testing, secondary-features, ruby_rubocop

rubocop
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Add missing certs SLS file for OpenSUSE Leap 15.2
  susemanager-utils/susemanager-sls/salt/certs/Leap15_2.sls
Labels: none

Update changelog for spacewalk-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Add missing certs SLS file for OpenSUSE Leap 15.2
  susemanager-utils/susemanager-sls/salt/certs/Leap15_2.sls
Labels: none

Update changelog for spacewalk-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

spacewalk-common-channels for openSUSE Leap 15.2 and SLE15SP2
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Revert file_extract to scp for spacewalk-debug.tar.bz2
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Revert file_extract to scp for spacewalk-debug.tar.bz2
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

spacewalk-common-channels for openSUSE Leap 15.2 and SLE15SP2
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Testsuite: Use a more reliable target host/IP
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Use a more reliable target host/IP
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Use a more reliable target host/IP
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Use a more reliable target host/IP
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Create the ServerAction after setting its parameters
  java/code/src/com/redhat/rhn/domain/action/ActionChainFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor improvement: Maint. window caption in action chains scheduler
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Use review suggestion for formatting instant
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Prevent scheduling actions when there are empty maintenance windows
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle violations
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/struts/RhnAction.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix typos
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Minor: Pre-check the maint. windows radio button when displaying the maint. windows picker
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Reload action chain editor, when dealing with maintenance windows
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
  web/html/javascript/actionchain.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Move uyuni-cluster-provider-caasp to its own folder
  rel-eng/packages/uyuni-cluster-provider-caasp
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/caasp/init_ssh_agent.sls
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/caasp/kill_ssh_agent.sls
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/caasp/prepare_node.sls
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/join_node.yml
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/metadata.yml
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/remove_node.yml
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/upgrade_cluster.yml
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/uyuni-cluster-provider-caasp.changes
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/uyuni-cluster-provider-caasp.spec
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
