Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Updating recurring actions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add listing actions by entity
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add RecurringActionHandler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Support deleting of actions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Recurring Actions XMLRPC: Return int instead of long as action identifier
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add RecurringActionHandler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add list recurring action by id
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Recurring Actions: Forbid blank cron expression
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Recurring Actions XMLRPC: Small improvement in the docs
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/RecurringActionSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Support deleting of actions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Minor fix: check for null when looking up for Org
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add RecurringActionSerializer
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/RecurringActionSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Recurring Actions XMLRPC: Return int instead of long as action identifier
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Updating recurring actions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Recurring Actions: Test for XMLRPC handler and Web controller
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/test/RecurringActionHandlerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/RecurringActionControllerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add listing actions by entity
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Extract save method from create/update
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add requested changes
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Recurring Actions: Improve validation mechanism
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix RecurringActionHandler XMLRPC doc
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Create new action for given entity
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Customize time picker step to work with multiple pickers
  testsuite/features/step_definitions/datepicker_steps.rb
  web/html/src/components/picker/recurring-event-picker.js
Labels: ui, testing, javascript_lint, ruby_rubocop

Add Recurring Actions to run_sets/secondary
  testsuite/run_sets/secondary.yml
Labels: testing, ci-pipelines, ruby_rubocop

Test list of all Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Test group Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Test admin-org Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Test yourorg Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Cleanup tasks
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Add step to click on schedules details/edit/delete buttons
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Do install python3 inside testing Docker image
  testsuite/features/profiles/Docker/add_packages.sh
Labels: testing, ruby_rubocop

Enable monitoring for RHEL 8 Salt clients
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Install python3 inside testing Docker images
  testsuite/features/profiles/Docker/authprofile/add_packages.sh
  testsuite/features/profiles/Docker/serverhost/add_packages.sh
Labels: testing, ruby_rubocop

Enable monitoring for RHEL 8 Salt clients (#2046)
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

PoC for Astra Linux Orel support
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/AstraLinuxCEorel.sls
  susemanager-utils/susemanager-sls/salt/certs/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

PoC for Astra Linux Orel support
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/AstraLinuxCEorel.sls
  susemanager-utils/susemanager-sls/salt/certs/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

update changelog
  susemanager-branding-oss/susemanager-branding-oss.changes
Labels: none

take license from skelcd package convert it to HTML
  susemanager-branding-oss/eula.html
  susemanager-branding-oss/license.txt
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: none

Fix checkstyle
  susemanager-frontend/package.json
Labels: none
