Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

WIP: remove setReactor
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Support Debian 9/10 as clients (#1917)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/Debian10.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
Labels: python3, susemanager_unittests

profiling
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ChannelAction.java
  java/code/src/com/redhat/rhn/frontend/events/CloneErrataAction.java
  java/code/src/com/redhat/rhn/manager/channel/test/ChannelManagerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/test/ErrataManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

CLM errata cloning optimization
  java/code/src/com/redhat/rhn/common/hibernate/ConnectionManager.java
  java/code/src/com/redhat/rhn/frontend/events/CloneErrataAction.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Enable monitoring for ppc64le and aarch64 (bsc#1166613)
  schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/002-monitoring-ppc64le-aarch64.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Update changelog for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Update changelog for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Enable monitoring for ppc64le and aarch64 (bsc#1166613)
  schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.18-to-susemanager-schema-4.0.19/002-monitoring-ppc64le-aarch64.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Enable monitoring for ppc64le and aarch64 (bsc#1166613)
  schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.4-to-susemanager-schema-4.1.5/002-monitoring-ppc64le-aarch64.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Update changelog for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix: typo
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Fix: typo
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Add flushing again
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use utf8 encoding for files managed by fileutils.decompress_open (bsc#1158463)
  backend/common/fileutils.py
Labels: python3, backend_unittests_pgsql

Update changelog for spacewalk-backend
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Move changelog entry for spacecmd's bsc#1155372 to the correct place
  spacecmd/spacecmd.changes
Labels: python3

[wip] batch notifications
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Errata_queries.xml
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/test/ErrataManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

[wip] batch "add cloned errata to channel" operation
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Errata_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add modularitylabel tag support
  uyuni/common-libs/common/rhn_rpm.py
Labels: none

Populate extra-tags (currently only modularitylabel)
  backend/server/importlib/headerSource.py
Labels: python3, backend_unittests_pgsql

move directory only when it exists
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

make interactive mode the default again
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

add a message for automatic mode
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

do not modify options in create_repo
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

move seperator line up
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

Rename Formula tab to Configuration
  web/html/src/manager/minion/formula/minion-formula-selection.renderer.js
  web/html/src/manager/minion/formula/minion-formula.renderer.js
Labels: ui, javascript_lint

update changelog
  web/spacewalk-web.changes
Labels: ui, javascript_lint

update changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

do not modify options in create_repo
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

move seperator line up
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

move directory only when it exists
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

make interactive mode the default again
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

add a message for automatic mode
  susemanager/src/mgr-create-bootstrap-repo
Labels: susemanager_unittests

Automatic commit of package [susemanager] release [4.1.6-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Fix typo
  backend/server/importlib/headerSource.py
Labels: python3, backend_unittests_pgsql

Fix hdr object has no .get method
  uyuni/common-libs/common/rhn_rpm.py
Labels: none

Added resumable downloads support for apt transport
  client/debian/apt-spacewalk/spacewalk
Labels: none

apt-spacewalk was alredy 1.0.15 but the spec was not updated
  client/debian/apt-spacewalk/apt-spacewalk.spec
Labels: none

Added resumable downloads support for apt transport
  client/debian/apt-spacewalk/spacewalk
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
