Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Automatic commit of package [spacewalk-web] release [4.1.3-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

New Channels for Uyuni Stable, unify those for devel
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

New Channels for Uyuni Stable, unify those for devel
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Automatic commit of package [spacewalk-utils] release [4.1.4-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

Process multiple streams update
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Remove comments
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Automatic commit of package [spacewalk-web] release [4.1.4-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Add Oracle Enterprise Linux 8 repositories to spacewalk-common-channels
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

new dracut-mgrbootstrap package for bare-metal image
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap-root.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/preregister
Labels: none

Automatic commit of package [dracut-mgrbootstrap] release [0.2-1].
  rel-eng/packages/dracut-mgrbootstrap
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
Labels: none

ensure unique machine-id
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
Labels: none

minimize process to steps which are really needed
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap-root.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/preregister
Labels: none

Get rid of unused run sets
  testsuite/run_sets/testsuite.yml
Labels: testing, ci-pipelines, ruby_rubocop

Get rid of unused run sets
  testsuite/run_sets/testsuite.yml
Labels: testing, ci-pipelines, ruby_rubocop

Automatic commit of package [dracut-mgrbootstrap] release [0.2-1].
  rel-eng/packages/dracut-mgrbootstrap
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
Labels: none

ensure unique machine-id
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
Labels: none

minimize process to steps which are really needed
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap-root.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/preregister
Labels: none

new dracut-mgrbootstrap package for bare-metal image
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap-root.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/preregister
Labels: none

ensure unique machine-id
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
Labels: none

new dracut-mgrbootstrap package for bare-metal image
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap-root.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/preregister
Labels: none

minimize process to steps which are really needed
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap-root.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/mgrbootstrap.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/preregister
Labels: none

Automatic commit of package [dracut-mgrbootstrap] release [0.2-1].
  rel-eng/packages/dracut-mgrbootstrap
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
Labels: none

Version 2020.01 and not 202001
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

Automatic commit of package [spacewalk-web] release [4.1.5-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Get rid of unused run sets
  testsuite/run_sets/testsuite.yml
  testsuite/run_sets/uyuni.yml
Labels: testing, ci-pipelines, ruby_rubocop

Spell "successfully" correctly
  client/rhel/spacewalk-client-tools/src/actions/README
  client/rhel/spacewalk-client-tools/src/actions/reboot.py
  client/rhel/spacewalk-client-tools/src/bin/rhn_check.py
  java/code/src/com/redhat/rhn/common/db/datasource/xml/config_queries.xml
  java/code/src/com/redhat/rhn/frontend/action/help/ForgotCredentialsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/LastDeployDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoQuartzHelper.java
  java/code/src/org/cobbler/CobblerObject.java
  scripts/channel-from-system/create-channel-from-system.pl
  spacewalk/setup/bin/spacewalk-setup-ipa-authentication
  spacewalk/setup/lib/Spacewalk/Setup.pm
  utils/spacewalk-hostname-rename
  web/html/src/manager/content-management/shared/components/panels/build/build.js
Labels: java, ui, cobbler, API, python3, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add error control to content lifecycle steps
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
Labels: testing, secondary-features, ruby_rubocop

support SLES as well as openSUSE distros
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
Labels: none

Add error control to content lifecycle steps
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
Labels: testing, secondary-features, ruby_rubocop

4.1.0 - detect release package to install in the initrd
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
Labels: none

support SLES as well as openSUSE distros
  susemanager-utils/dracut-mgrbootstrap/mgrbootstrap/module-setup.sh
Labels: none

4.1.0 - detect release package to install in the initrd
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
Labels: none

Automatic commit of package [dracut-mgrbootstrap] release [4.1.1-1].
  rel-eng/packages/dracut-mgrbootstrap
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.changes
  susemanager-utils/dracut-mgrbootstrap/dracut-mgrbootstrap.spec
Labels: none

Async salt-ssh actions, short transactions in ssh-push
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/frontend/events/TransactionHelper.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/threaded/TaskQueue.java
  java/code/src/com/suse/manager/utils/ExecutorsFactory.java
  java/code/src/com/suse/manager/utils/ThreadUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

fixup!
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/test/SSHPushWorkerSaltTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Spell "successfully" correctly
  client/rhel/spacewalk-client-tools/src/actions/README
  client/rhel/spacewalk-client-tools/src/actions/reboot.py
  client/rhel/spacewalk-client-tools/src/bin/rhn_check.py
  java/code/src/com/redhat/rhn/common/db/datasource/xml/config_queries.xml
  java/code/src/com/redhat/rhn/frontend/action/help/ForgotCredentialsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/LastDeployDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoQuartzHelper.java
  java/code/src/org/cobbler/CobblerObject.java
  scripts/channel-from-system/create-channel-from-system.pl
  spacewalk/setup/bin/spacewalk-setup-ipa-authentication
  spacewalk/setup/lib/Spacewalk/Setup.pm
  utils/spacewalk-hostname-rename
  web/html/src/manager/content-management/shared/components/panels/build/build.js
Labels: java, ui, cobbler, API, python3, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Spell "successfully" correctly
  client/debian/packages-already-in-debian/rhn-client-tools/src/actions/README
  client/debian/packages-already-in-debian/rhn-client-tools/src/actions/reboot.py
  client/rhel/rhn-client-tools/src/actions/README
  client/rhel/rhn-client-tools/src/bin/rhn_check.py
  java/code/src/com/redhat/rhn/common/db/datasource/xml/config_queries.xml
  java/code/src/com/redhat/rhn/frontend/action/help/ForgotCredentialsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/LastDeployDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoQuartzHelper.java
  java/code/src/org/cobbler/CobblerObject.java
  scripts/channel-from-system/create-channel-from-system.pl
  spacewalk/setup/bin/spacewalk-setup-ipa-authentication
  spacewalk/setup/lib/Spacewalk/Setup.pm
  utils/spacewalk-hostname-rename
Labels: java, cobbler, API, python3, java_lint_checkstyle, java_pgsql_tests

Don't check for tools when on Uyuni
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Get rid of unused run sets
  testsuite/run_sets/testsuite.yml
  testsuite/run_sets/uyuni.yml
Labels: testing, ci-pipelines, ruby_rubocop

Spell "successfully" correctly
  client/rhel/spacewalk-client-tools/src/actions/README
  client/rhel/spacewalk-client-tools/src/actions/reboot.py
  client/rhel/spacewalk-client-tools/src/bin/rhn_check.py
  java/code/src/com/redhat/rhn/common/db/datasource/xml/config_queries.xml
  java/code/src/com/redhat/rhn/frontend/action/help/ForgotCredentialsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/LastDeployDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoQuartzHelper.java
  java/code/src/org/cobbler/CobblerObject.java
  scripts/channel-from-system/create-channel-from-system.pl
  spacewalk/setup/bin/spacewalk-setup-ipa-authentication
  spacewalk/setup/lib/Spacewalk/Setup.pm
  utils/spacewalk-hostname-rename
  web/html/src/manager/content-management/shared/components/panels/build/build.js
Labels: java, ui, cobbler, API, python3, javascript_lint, java_lint_checkstyle, java_pgsql_tests
