Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Spread the data before sorting it, so that the props aren't modified
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Revert abusive backport
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop

Update changelogs
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Move the transaction in the AbstractLibvirtEngineMessage
  java/code/src/com/suse/manager/reactor/messaging/AbstractLibvirtEngineMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rename the virtual guest actions to *VirtualizationGuest*
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionInterfaceDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionInterfaceDetails.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationDeleteGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationDestroyGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationRebootGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationResumeGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationSetMemoryGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationSetVcpusGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationShutdownGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationStartGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationSuspendGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/test/VirtualizationActionsTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/VirtualizationActionCommand.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Handle virtual storage pool events
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/AbstractLibvirtEngineMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolLifecycleMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolMessage.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEnginePoolRefreshMessage.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

virt pools: trigger refresh only when getting a websocket event
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/list/pools-list.renderer.js
  web/html/src/manager/virtualization/pools/virtualization-pools-list-refresh-api.js
Labels: ui, javascript_lint

Refresh virtual storage pool after deleting a volume
  susemanager-utils/susemanager-sls/salt/virt/volume-deleted.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

virt guests: trigger refresh only when getting a websocket event
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/guests/list/guests-list.renderer.js
  web/html/src/manager/virtualization/guests/virtualization-guests-list-refresh-api.js
Labels: ui, javascript_lint

Notify VM state changes to virt WebSocket
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/useVirtNotification.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

VirtNotifications: move ID calculation to the action class
  java/code/src/com/redhat/rhn/domain/action/Action.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationPoolAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationPoolCreateAction.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
  java/code/src/com/suse/manager/webui/websocket/WebSocketActionIdProvider.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

reference maintenance schedule from server
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/common/tables/tables.deps
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

introduce maintenance_mode_only flag in rhnActionType
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

update Hibernate Schema for rhnActionType to add maintenance_mode_only flag
  java/code/src/com/redhat/rhn/domain/action/ActionType.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/ActionType.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: define suseMaintenanceSchedule
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/101-suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Hibernate mapping for Maintenance Schedule
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/model/maintenance/MaintenanceCalendar.java
  java/code/src/com/suse/manager/model/maintenance/MaintenanceSchedule.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

register new hibernate schema classes
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

schema upgrade: add maintenance_mode_only column to rhnActionType
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/100-rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

schema upgrade: reference maintenance schedule from server
  schema/spacewalk/upgrade/susemanager-schema-4.1.10-to-susemanager-schema-4.1.11/102-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

define suseMaintenanceSchedule
  schema/spacewalk/common/tables/suseMaintenanceCalendar.sql
  schema/spacewalk/common/tables/suseMaintenanceSchedule.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/postgres/triggers/suseMaintenanceCalendar.sql
  schema/spacewalk/postgres/triggers/suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Misc: Fix javadoc
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add ical4j to ivy
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Misc: Fix naming of existing method
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit tests: MaintenanceManager
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-exchange.ics
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

MaintenanceSchedule XMLRPC functions
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceCalendarSerializer.java
  java/code/src/com/suse/manager/xmlrpc/serializer/MaintenanceScheduleSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

HibernateFactory.reload - no more need for unnecessary client casting
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement Cancel and Fail Reschedule Strategy
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/RescheduleException.java
  java/code/src/com/suse/manager/maintenance/RescheduleResult.java
  java/code/src/com/suse/manager/maintenance/RescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Factory: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Helper Class for HTTP operations
  java/code/src/com/suse/manager/utils/HttpHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

XMLRPC: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Manager: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

install ical4j
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle empty system id sets
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle reschedule strategy in xmlrpc functions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde-2.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

Always rollback when no strategy succeeded
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

ensure that entities do not exists when we want to create them new
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove not wanted single date
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
