Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Remove debugging code
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Fixed Typo in CentOS 7 Software Collection
  utils/spacewalk-common-channels.ini
Labels: none

Missing changelog for spacewalk-utils
  utils/spacewalk-utils.changes
Labels: none

XMLRPC API: overload system.scheduleChangeChannels to target multiple systems (#1698)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

count only changes which are tagged with a sign
  web/html/src/manager/content-management/shared/components/panels/build/build.js
Labels: ui, javascript_lint

Fix tests of organization credentials
  testsuite/features/core/first_settings.feature
  testsuite/features/secondary/srv_organization_credentials.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, core-features, secondary-features, ruby_rubocop

Don't run SCC credentials test if they are set to empty strings
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop

Don't run SCC credentials test if they are set to empty strings
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop

Fix tests of organization credentials
  testsuite/features/core/first_settings.feature
  testsuite/features/secondary/srv_organization_credentials.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, core-features, secondary-features, ruby_rubocop

Remove apt-spacewalk and debian stuff (to be managed with salt)
  client/debian/DEBIAN-HOWTO
  client/debian/apt-spacewalk/50spacewalk
  client/debian/apt-spacewalk/LICENSE
  client/debian/apt-spacewalk/Makefile.python
  client/debian/apt-spacewalk/apt-spacewalk.spec
  client/debian/apt-spacewalk/packages.py
  client/debian/apt-spacewalk/post_invoke.py
  client/debian/apt-spacewalk/pre_invoke.py
  client/debian/apt-spacewalk/pylintrc
  client/debian/apt-spacewalk/spacewalk
  client/debian/apt-spacewalk/src/apt-spacewalk.changes
  client/debian/python-dmidecode/Stop-linking-with-libxml2mod.patch
  client/debian/python-dmidecode/python-dmidecode.spec
  client/debian/python-hwdata/python-hwdata.spec
  rel-eng/build-packages-for-obs.sh
  rel-eng/build-packages-local-obs.sh
  rel-eng/push-packages-to-obs.sh
  rel-eng/releasers.conf
  susemanager-utils/testing/automation/spacewalk-pylint.sh
Labels: python3

remove auditlog feature
  java/code/src/com/redhat/rhn/common/logging/AuditLog.java
  java/code/src/com/redhat/rhn/common/logging/AuditLogAppender.java
  java/code/src/com/redhat/rhn/common/logging/AuditLogException.java
  java/code/src/com/redhat/rhn/common/logging/AuditLogMessage.java
  java/code/src/com/redhat/rhn/common/logging/AuditLogMultipartRequest.java
  java/code/src/com/redhat/rhn/common/logging/AuditLogRequestProcessor.java
  java/code/src/com/redhat/rhn/common/logging/AuditLogUtil.java
  java/code/src/com/redhat/rhn/frontend/servlets/AuditLogFilter.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/LoggingInvocationProcessor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

add a helper sls file to update the minion config to make use of minion_start_grains
  susemanager-utils/susemanager-sls/salt/util/mgr_start_event_grains.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

get the machine-id grain from the start up event
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/MinionStartupGrains.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/utils/salt/MinionStartEvent.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove unused parameters
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix count of changes to build in CLM (bsc#1160940)
  web/html/src/manager/content-management/shared/components/panels/build/build.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

count only changes which are tagged with a sign
  web/html/src/manager/content-management/shared/components/panels/build/build.js
Labels: ui, javascript_lint

!fixup remove auditlog feature
  java/code/webapp/WEB-INF/web.xml
  java/conf/audit/auditlog-config.yaml
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Don't run SCC credentials test if they are set to empty strings
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop

Fix tests of organization credentials
  testsuite/features/core/first_settings.feature
  testsuite/features/secondary/srv_organization_credentials.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, core-features, secondary-features, ruby_rubocop

Fix tests of organization credentials
  testsuite/features/core/first_settings.feature
  testsuite/features/secondary/srv_organization_credentials.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, core-features, secondary-features, ruby_rubocop

Reduce number of global variables
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop

Set custom 'is_payg_instance' grain when instance is PAYG
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Add payg to rhnVirtualInstance DB schema
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.17-to-susemanager-schema-4.0.18/100-add-payg-to-virtualinstance.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Exclude PAYG instances when feeding the subscription matcher
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix VirtualInstance.getPayg to take care of possible NULL values
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Preserve 'payg' attribute when refreshing virtual instances
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove tabs and use spaces
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Set payg attribute when doing Hardware refresh
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelog for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Do not exclude systems without virtual instance
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use CHAR(1) instead BOOLEAN as DB column type
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.hbm.xml
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.17-to-susemanager-schema-4.0.18/100-add-payg-to-virtualinstance.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Update changelog for spacewalk-java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

jUnit: check that PAYG instances are not passed to the MatcherJson
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix broken schema migration file
  schema/spacewalk/upgrade/susemanager-schema-4.0.17-to-susemanager-schema-4.0.18/100-add-payg-to-virtualinstance.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix changelog entry for spacewalk-java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt jUnit test to take care of entitlements
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use primitive boolean for VirtualInstance payg attribute
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Only exclude products for PAYG instances and not the entitlements
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Set payg as NOT NULL attribute in the database
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.17-to-susemanager-schema-4.0.18/100-add-payg-to-virtualinstance.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql
