Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Extract generation of minion pillar files
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/EditChannelAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/ActivationKeyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/BaseHandlerTestCase.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/testing/BaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/JMockBaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/RhnMockStrutsTestCase.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGroupMembershipPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionPillarManagerTest.java
  java/code/src/com/suse/manager/webui/services/test/SaltStateGeneratorServiceTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

check if extra_tags are available
  backend/server/importlib/packageImport.py
Labels: python3, backend_unittests_pgsql

Make AppStream filter pane full-width (#1925)
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project.js
Labels: ui, javascript_lint

Move component/util.js to component/utils/StatePersistedMixin.js
  web/html/src/components/data-handler.js
  web/html/src/components/table.js
  web/html/src/components/utils/StatePersistedMixin.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-messages.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-pins.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-subscriptions.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.js
Labels: ui, javascript_lint

Extract help links into a utils/HelpLink component
  web/html/src/components/panels/TopPanel.js
  web/html/src/components/utils/HelpLink.js
  web/html/src/components/utils/HelpLink.stories.js
  web/html/src/manager/admin/config/monitoring-admin.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/admin/task-engine-status/taskotop.js
Labels: ui, javascript_lint

Move HelpIcon component into component/utils folder
  web/html/src/components/HelpIcon.js
  web/html/src/components/formulas/EditGroup.js
  web/html/src/components/formulas/FormulaComponentGenerator.js
  web/html/src/components/utils/HelpIcon.js
  web/html/src/components/utils/HelpIcon.stories.js
Labels: ui, javascript_lint

Move Loading component into the new utils folder
  web/html/src/components/loading/loading.stories.js
  web/html/src/components/utils/Loading.js
  web/html/src/components/utils/Loading.stories.js
  web/html/src/manager/content-management/list-filters/filter-edit.js
  web/html/src/manager/content-management/shared/components/panels/build/build.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project-selection.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-edit.js
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.js
  web/html/src/manager/systems/activation-key/activation-key-channels.js
  web/html/src/manager/systems/activation-key/child-channels.js
  web/html/src/manager/virtualization/guests/console/guests-console.js
  web/html/src/manager/virtualization/guests/edit/guests-edit.js
  web/html/src/manager/virtualization/guests/guest-properties.js
Labels: ui, javascript_lint

Fix checkstyle
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitlementManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGroupMembershipPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionPillarManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Improve performance when adding servers to serverGroups (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/General_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/utils/SaltPillar.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Use 'groups' hibernate mapped variable of Server clase to get entitlements instead of querying the DB every time (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/domain/token/ActivationKeyFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix identation in ServerGroup hibernate mappings file (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add entries in changelog files (bsc#1158754)
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move logic for adding entitlements to a server to java code (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshot.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactor for adding servers to serverGroup (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactor when removing servers from serverGroup(bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/redhat/rhn/domain/server/EntitlementServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshot.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemDetailsEditActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemOverviewActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt SystemDetailsEditActionTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemDetailsEditActionTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt ServerGroupHandlerTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactor getServerGroupForEntitleServer method (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Small refactor for setting a base entitlement to a server (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt SystemManagerTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt SystemEntitlementsSetupActionTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt ImageInfoHandlerTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt JobReturnEventMessageActionTest to the new behavior (bsc#1158754)
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change method signature to filter server ids with a particular feature (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change query name to filter system ids with a particular feature (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/General_queries.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Do not check if data variable in SaltPillar might be null (bsc#1158754)
  java/code/src/com/suse/manager/webui/utils/SaltPillar.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Reflow lines for readability (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Update method name for adding an entitlement to a server for more readability (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove null checking when snapshot a server (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor findCompatibleServerGroupForBaseEntitlement method (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/spacewalk-java.changes
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert change for testServerGroupMembers in ServerFactoryTest.java (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove list conversion for servers collection of a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactor in snapshotServers method in SystemManager class (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove extra if for checking if a server has a particular entitlement when removing entitlements (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests
