Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Fix lint issues
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix changelog entry for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Move payg attribute to rhnServer
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.17-to-susemanager-schema-4.0.18/100-add-payg-to-virtualinstance.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Clean up code and use standard names for parameters
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix java lint issues
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

debug formulas reintroduction
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Add CL message
  utils/spacewalk-utils.changes
Labels: none

debug formulas reintroduction
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Add CL message
  utils/spacewalk-utils.changes
Labels: none

Bugfix: attempt to purge SSM when it is empty (bsc#1155372)
  spacecmd/src/lib/system.py
Labels: python3

Add CL message for bsc#1155372
  spacecmd/spacecmd.changes
Labels: python3

Bugfix: attempt to purge SSM when it is empty (bsc#1155372)
  spacecmd/src/spacecmd/system.py
Labels: python3

Add CL message for bsc#1155372
  spacecmd/spacecmd.changes
Labels: python3

Bugfix: attempt to purge SSM when it is empty (bsc#1155372)
  spacecmd/src/spacecmd/system.py
Labels: python3

Add CL message for bsc#1155372
  spacecmd/spacecmd.changes
Labels: python3

Bugfix: attempt to purge SSM when it is empty (bsc#1155372)
  spacecmd/src/spacecmd/system.py
Labels: python3

Add CL message for bsc#1155372
  spacecmd/spacecmd.changes
Labels: python3

Testsuite: Fix install package scenario for ubuntu
  testsuite/features/secondary/min_ubuntu_salt_install_with_staging.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Stage all packages known to the stream, filter-out source packages
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Testuite: Port of SUSE/spacewalk#10618
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Testuite: Port of SUSE/spacewalk#10618
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Add missing schema migration from #10616
  schema/spacewalk/upgrade/susemanager-schema-4.0.17-to-susemanager-schema-4.0.18/100-add-payg-to-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix typo
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Remove restriction on streams in input type
  susemanager-utils/mgr-libmod/mgrlibmod/mltypes.py
Labels: none

Write error notification to the STDERR
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Refactor "api_provides" method
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Testuite: Port of SUSE/spacewalk#10618
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Fix interpolation string
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Fix interpolation string
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Fix interpolation string
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Fix interpolation string
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop

update units test & some more refactoring
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/utils/salt/Grains.java
  java/code/src/com/suse/manager/webui/utils/salt/MinionStartupGrains.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

use salt master as parent for minion based proxies (bsc#1162129)
  proxy/installer/configure-proxy.sh
Labels: proxy

use salt master as parent for minion based proxies (bsc#1162129)
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

Show all selected stream contexts
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Automatic commit of package [spacecmd] release [4.1.2-1].
  rel-eng/packages/spacecmd
  spacecmd/setup.py
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
Labels: python3

Automatic commit of package [spacewalk-backend] release [4.1.3-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-java] release [4.1.3-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-utils] release [4.1.3-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

Change Uyuni version to 202001
  web/conf/rhn_web.conf
Labels: ui, javascript_lint
