Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

update changelogs
  java/spacewalk-java.changes
  suseRegisterInfo/suseRegisterInfo.changes
  susemanager-sync-data/susemanager-sync-data.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix centos detection
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

update changelog
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

get oracle-release content if exists
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
Labels: none

update changelogs
  java/spacewalk-java.changes
  suseRegisterInfo/suseRegisterInfo.changes
  susemanager-sync-data/susemanager-sync-data.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

fix centos detection
  spacewalk/certs-tools/rhn_bootstrap_strings.py
Labels: none

parse oracle and centos release and return also RedHat like products
  suseRegisterInfo/suseRegister/info.py
  suseRegisterInfo/suseRegister/parse_release_info
Labels: none

parse and handle oracle-release file to detect OracleLinux
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/reactor/utils/RhelUtils.java
  java/code/src/com/suse/manager/reactor/utils/test/RhelUtilsTest.java
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_centos.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_oracle.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_res.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/iface/RedhatProductInfo.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/PkgProfileUpdateSlsResult.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

find SUSE Products for RedHat clones
  java/code/src/com/suse/manager/reactor/utils/RhelUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove versions from product identifier
  susemanager-sync-data/additional_products.json
Labels: none

fix redhat-release test
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
Labels: none

Get rid of useless function
  web/html/javascript/spacewalk-essentials.js
Labels: ui, javascript_lint

Gradually upgrade jQuery: migration up to latest 1.12.4
  web/html/javascript/rememberScroll.js
  web/html/javascript/spacewalk-essentials.js
  web/html/javascript/spacewalk-login.js
  web/html/javascript/susemanager-cve-audit.js
  web/html/javascript/susemanager-login.js
Labels: ui, javascript_lint

Consider height only if they are presents
  web/html/javascript/spacewalk-essentials.js
Labels: ui, javascript_lint

Reorder definitions and function usages to work properly
  web/html/javascript/spacewalk-essentials.js
Labels: ui, javascript_lint

Gradually upgrade jQuery: migration up to latest 3.5.1
  java/code/webapp/WEB-INF/pages/audit/auditsearch.jsp
  java/code/webapp/WEB-INF/pages/audit/auditview.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/channel/create-defaultperms.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/channel/create.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/repeat-task-picker.jspf
  web/html/javascript/actionchain.js
  web/html/javascript/rememberScroll.js
  web/html/javascript/spacewalk-datetimepicker.js
  web/html/javascript/spacewalk-essentials.js
  web/html/javascript/susemanager-cve-audit.js
  web/html/javascript/susemanager-setup-wizard-proxy-settings.js
  web/html/src/components/FormulaForm.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Leftovers of "replace `$` with `jQuery` explicitly"
  web/html/javascript/actionchain.js
  web/html/javascript/spacewalk-datetimepicker.js
  web/html/javascript/spacewalk-essentials.js
  web/html/javascript/spacewalk-pwstrength-handler.js
  web/html/src/components/FormulaForm.js
  web/html/src/components/combobox.js
  web/html/src/components/datetimepicker.js
  web/html/src/manager/delete-system.js
  web/html/src/manager/image-build.js
  web/html/src/manager/remote-commands.js
  web/html/src/utils/functions.js
  web/html/src/utils/network.js
Labels: ui, javascript_lint

Additional adjustments to jQuery deprecated patterns
  java/code/webapp/WEB-INF/pages/audit/scap/xccdfsearch.jsp
  java/code/webapp/WEB-INF/pages/errata/erratasearch.jsp
  web/html/javascript/actionchain.js
  web/html/javascript/susemanager-setup-wizard-proxy-settings.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Changelog jQuery upgrade
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

VM create: handle pool with no volume
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

VM create: handle pool with no volume
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Fix mgr-libmod output format
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Fix filter rule on module filter create/edit request (bsc#1174325)
  web/html/src/manager/content-management/list-filters/filter-form.js
  web/html/src/manager/content-management/list-filters/filter.utils.js
  web/html/src/manager/content-management/list-filters/filter.utils.test.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Fix mgr-libmod output format
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Fix filter rule on module filter create/edit request (bsc#1174325)
  web/html/src/manager/content-management/list-filters/filter-form.js
  web/html/src/manager/content-management/list-filters/filter.utils.js
  web/html/src/manager/content-management/list-filters/filter.utils.test.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Add docker logout step
  susemanager-utils/susemanager-sls/salt/images/docker.sls
  susemanager-utils/susemanager-sls/salt/images/profileupdate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Salt returns 'retcode', not 'returncode'
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Pass primary minion ip to the salt runner
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrKiwiImageRunner.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/runners/kiwi-image-collect.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove the disk type from the VM properties dialog
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  schema/spacewalk/common/tables/rhnActionVirtCreateDiskDetails.sql
  schema/spacewalk/upgrade/susemanager-schema-4.0.20-to-susemanager-schema-4.0.21/002-rhnActionVirtCreateDiskDetails-remove-type.sql
  susemanager-utils/susemanager-sls/salt/virt/create-vm.sls
  web/html/src/manager/virtualization/guests/create/guests-create.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add FormMultiInput component
  web/html/src/components/input/FormMultiInput.js
Labels: ui, javascript_lint

Guard FormContext uses in components
  web/html/src/components/input/Check.js
  web/html/src/components/input/DateTime.js
  web/html/src/components/input/InputBase.js
  web/html/src/components/input/Radio.js
  web/html/src/components/input/Select.js
  web/html/src/components/input/Text.js
Labels: ui, javascript_lint

Move Virtualization controllers and Json in their own packages
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestSetterActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsBaseActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualNetworkInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualStoragePoolInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.guest.allcaps.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.net.info.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.pool.caps.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.pool.info.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

virt: add volumes listbox for disks of volume type
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
Labels: ui, javascript_lint

Use ReactJS Context in Form component
  web/html/src/components/input/Check.js
  web/html/src/components/input/DateTime.js
  web/html/src/components/input/Form.js
  web/html/src/components/input/InputBase.js
  web/html/src/components/input/Radio.js
  web/html/src/components/input/Select.js
  web/html/src/components/input/Text.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Merge WebUI Json utility scheduling-related classes
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
  java/code/src/com/suse/manager/webui/utils/gson/ScheduledRequestJson.java
  java/code/src/com/suse/manager/webui/utils/gson/SsmScheduleChannelChangesJson.java
  java/code/src/com/suse/manager/webui/utils/gson/SubscribeChannelsJson.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualGuestsBaseActionJson.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualGuestsUpdateActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Convert input components to ES6 exports / imports
  web/html/src/components/datetimepicker.js
  web/html/src/components/input/Check.js
  web/html/src/components/input/DateTime.js
  web/html/src/components/input/Form.js
  web/html/src/components/input/FormGroup.js
  web/html/src/components/input/InputBase.js
  web/html/src/components/input/Label.js
  web/html/src/components/input/Password.js
  web/html/src/components/input/Radio.js
  web/html/src/components/input/Select.js
  web/html/src/components/input/Text.js
Labels: ui, javascript_lint

testsuite: fix minxen feature to pass on nested Xen
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Use FormMultiInput in the Virtual Guest properties form
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  web/html/src/manager/virtualization/guests/properties/guest-disks-panel.js
  web/html/src/manager/virtualization/guests/properties/guest-nics-panel.js
Labels: ui, testing, secondary-features, javascript_lint, ruby_rubocop

VM editing dialog: split disk fields into one component per type
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFileFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
Labels: ui, javascript_lint

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
