Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Show currently assigned maintenance schedule in system properties panel
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Add option to cancel affected actions when assigning schedules to systems
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

API endpoints for assigning maintenance schedules to systems
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add system assignment tab to maintenance schedule details page
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  web/html/src/components/tab-container.js
  web/html/src/manager/maintenance/details/maintenance-windows-details.js
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix the event filtering in MULTI Schedules
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/test/IcalUtilsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelogs
  branding/spacewalk-branding.changes
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Revert calling saveMessages unconditionally
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Bugfix: Pre-select action chains radio, when maintenance windows are empty
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  web/html/src/components/action-schedule.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Bugfix: Do not render maintenance windows, when they are empty and display warning instead
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Translated using Weblate (Slovak)
  backend/po/sk.po
Labels: backend_unittests_pgsql

Fix VirtualizationPoolsListRefreshApi rebase
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

testsuite: Run most of the time with centos/ubuntu normal minions
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/centos_ssh_minion.feature
  testsuite/features/init_clients/min_centos_salt.feature
  testsuite/features/init_clients/min_ubuntu_salt.feature
  testsuite/features/secondary/allcli_config_channel.feature
  testsuite/features/secondary/allcli_overview_systems_details.feature
  testsuite/features/secondary/allcli_reboot.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_system_group.feature
  testsuite/features/secondary/min_centos_monitoring.feature
  testsuite/features/secondary/min_centos_ssh.feature
  testsuite/features/secondary/min_ubuntu_salt_install_package.feature
  testsuite/features/secondary/min_ubuntu_ssh.feature
  testsuite/features/secondary/minssh_centos_salt_install_package_and_patch.feature
  testsuite/features/secondary/srv_group_union_intersection.feature
  testsuite/features/secondary/trad_centos_client.feature
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

Add warning for multiple group formulas
  web/html/src/components/FormulaForm.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Fix virt.network_state discriminator in data/rhnActionType.sql
  schema/spacewalk/common/data/rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix virt.network_state discriminator in data/rhnActionType.sql
  schema/spacewalk/common/data/rhnActionType.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix VirtualizationPoolsListRefreshApi rebase
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Move maintenance window related code to the end of the function
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Don't fail rescheduling if list of affected actions is empty
  java/code/src/com/suse/manager/maintenance/rescheduling/FailRescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Set default strategy to `Fail` if none is given
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

(bsc#1173982) Change system list header text to something better
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

set CPU and memory info for virtual instances (bsc#1170244)
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Correctly pass error message from backend
  web/html/src/manager/maintenance/details/schedule-details.js
Labels: ui, javascript_lint

unit test to check CPU and Memory of virt guests
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

set CPU and memory info for virtual instances (bsc#1170244)
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test to check CPU and Memory of virt guests
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

More VirtualGuestsController code cleanup
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add network start action UI
  web/html/src/manager/virtualization/nets/list/nets-list.js
Labels: ui, javascript_lint

Cucumber: add scenario testing network start action
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

cucumber: add virtual network delete test
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

Update changelogs
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/spacewalk-web.changes
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Update changelogs
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Change virt.network-state-change state to handle delete
  susemanager-utils/susemanager-sls/salt/virt/network-statechange.sls
Labels: none

Extract the shareable parts from the virtual guests list page
  web/html/src/manager/virtualization/ListTab.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/list.utils.js
Labels: ui, javascript_lint

Factorize some code in the virtualization controllers
  java/code/src/com/suse/manager/webui/controllers/virtualization/AbstractVirtualizationController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualPoolsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add REST API for virtual network stop action
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add Salt implementation for virtual network state change action
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/network-statechange.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add virtual network state change action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationNetworkAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationNetworkStateChangeAction.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtNetworkStateChange.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.11-to-susemanager-schema-4.1.12/001-add_virt_network_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.11-to-susemanager-schema-4.1.12/002-rhnActionVirtNetworkStateChange.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql
