Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

schema upgrade: reference maintenance schedule from server
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/102-rhnServer.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

define suseMaintenanceSchedule
  schema/spacewalk/common/tables/suseMaintenanceCalendar.sql
  schema/spacewalk/common/tables/suseMaintenanceSchedule.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/postgres/triggers/suseMaintenanceCalendar.sql
  schema/spacewalk/postgres/triggers/suseMaintenanceSchedule.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

update Hibernate Schema for rhnActionType to add maintenance_mode_only flag
  java/code/src/com/redhat/rhn/domain/action/ActionType.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/ActionType.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Helper Class for HTTP operations
  java/code/src/com/suse/manager/utils/HttpHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change Uyuni testing docker images to Leap 15.2
  susemanager-utils/testing/docker/master/Makefile
  susemanager-utils/testing/docker/master/uyuni-master-base/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-base/susemanager-schema-4.0.1-1.2.noarch.rpm
  susemanager-utils/testing/docker/master/uyuni-master-base/susemanager-schema-4.1.8-1.2.uyuni.noarch.rpm
  susemanager-utils/testing/docker/master/uyuni-master-cobbler/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-gatherer/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-pgsql-4eclipse/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/add_packages.sh
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/setup-db-postgres.sh
  susemanager-utils/testing/docker/master/uyuni-master-root/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-master-root/add_repositories.sh
  susemanager-utils/testing/docker/master/uyuni-master-spacewalkkoan/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-push-to-obs/Dockerfile
  susemanager-utils/testing/docker/master/uyuni-push-to-obs/add_repositories.sh
  susemanager-utils/testing/docker/scripts/init-pgsql-db4eclipse.sh
  susemanager-utils/testing/docker/scripts/reset_pgsql_database.sh
  susemanager-utils/testing/docker/scripts/schema_idempotency_test_pgsql.py
  susemanager-utils/testing/docker/scripts/schema_migration_test_pgsql-31to41.sh
Labels: none

add ical4j to ivy
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

rename maintenancemodeOnly
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Let normal user list and lookup Maintenance Schedules and Calendar
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

XMLRPC: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

check permissions in Manager class
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

ical4j.properties
  java/code/src/ical4j.properties
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test for multi schedule change
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/README.md
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-multi-exchange-1.ics
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-multi-exchange-2.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement Cancel and Fail Reschedule Strategy
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/RescheduleException.java
  java/code/src/com/suse/manager/maintenance/RescheduleResult.java
  java/code/src/com/suse/manager/maintenance/RescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle reschedule strategy in xmlrpc functions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

HibernateFactory.reload - no more need for unnecessary client casting
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

configure api doc for new destination
  java/build.xml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Misc: Fix javadoc
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde-2.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle empty system id sets
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

ensure that entities do not exists when we want to create them new
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test: test action chains
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove not wanted single date
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

install ical4j
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix timezone for tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Manager: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

createSchedule with maintenance calendar label
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Misc: Fix naming of existing method
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle action chains
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Factory: Assigning/retracting maintenance schedules to/from systems
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

implement rescheduling strategy for actions
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

use full return type
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Check for maintenance windows when scheduling actions
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use special method for maintenance window check
  java/code/src/com/redhat/rhn/domain/action/Action.java
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/rhnpackage/test/PackageActionTest.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Mock taskomatic called for scheduling actions in unit tests
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove calendar needs possibility to cancel affected actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Support checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Test checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix tests
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

extract createActionForServerAt into utils class
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceTestUtils.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests
