Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Automatic commit of package [susemanager] release [4.1.9-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Testsuite: Use the right repository
  testsuite/features/secondary/min_monitoring.feature
Labels: testing, secondary-features, ruby_rubocop

Require python3-M2Crypto for all SLE15 and openSUSE Leap 15.1 repositories
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Require python3-M2Crypto for all SLE15 and openSUSE Leap 15.1 repositories
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Automatic commit of package [susemanager] release [4.1.10-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Align with Yomi tests
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: testing, secondary-features, ruby_rubocop

Align with Yomi tests
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: testing, secondary-features, ruby_rubocop

Align with Yomi tests
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: testing, secondary-features, ruby_rubocop

Add dbus-1-glib to SLE12 to allow onboarding of AWS SLE12SP5 clients
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Add dbus-1-glib to SLE12 to allow onboarding of AWS SLE12SP5 clients
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Testsuite: Choose repo name according with the product
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Align with Yomi tests
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: testing, secondary-features, ruby_rubocop

Testsuite: Choose repo name according with the product
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Testsuite: Choose repo name according with the product
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, secondary-features, ruby_rubocop

refresh pillar data on the minion after generating new channel pillar data
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

move ChannelsChangedEventMessageAction registration to SaltReactor class
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

test assigning a child channel to a system
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/run_sets/secondary.yml
Labels: testing, secondary-features, ci-pipelines, ruby_rubocop

add missing Packages to OES2018 SP1 bootstrap data
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

upate changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

add missing Packages to OES2018 SP1 bootstrap data
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

upate changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

Refactor Formula Form component to make it reusable outside Formulas UI (#2102)
  web/html/src/components/FormulaForm.js
  web/html/src/components/formulas/FormulaComponentGenerator.js
  web/html/src/components/formulas/formula-form.css
Labels: ui, javascript_lint

apidoc: fix returntype javadoc comments
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/ActivationKeyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/chain/ActionChainHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/access/ChannelAccessHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/ConfigChannelHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/ImageInfoHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/KickstartHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/profile/ProfileHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/profile/software/SoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/profile/system/SystemDetailsHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/org/OrgHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/packages/PackagesHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringActionHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/sync/master/MasterHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/config/ServerConfigHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/crash/CrashHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/scap/SystemScapHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/external/UserExternalHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/virtualhostmanager/VirtualHostManagerHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

asciidoc apidoc: remove no end needed comments
  java/buildconf/apidoc/asciidoc/macros.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix ActionChainHandler.addScriptRun doc
  java/buildconf/apidoc/asciidoc/macros.txt
  java/code/src/com/redhat/rhn/frontend/xmlrpc/chain/ActionChainHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

asciidoc apidoc: output different IDs for all calls
  java/buildconf/apidoc/asciidoc/handler.txt
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiCall.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

asciidoc apidoc: add style to array_single type
  java/buildconf/apidoc/asciidoc/macros.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

asciidoc apidoc: remove the horizontal rules
  java/buildconf/apidoc/asciidoc/handler.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

asciidoc apidoc: flatten output
  java/buildconf/apidoc/asciidoc/apiindex.txt
  java/code/internal/src/com/redhat/rhn/internal/doclet/AsciidocWriter.java
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add virtual volume delete action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationVolumeAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtVolDelete.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.1.6-to-susemanager-schema-4.1.7/001-add_virt_pool_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.6-to-susemanager-schema-4.1.7/002-rhnActionVirtVolDelete.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add cucumber test for virtual volume delete action
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

ActionApi: allow modifying the template URL on the fly
  web/html/src/manager/virtualization/ActionApi.js
  web/html/src/manager/virtualization/guests/virtualization-guest-action-api.js
  web/html/src/manager/virtualization/pools/virtualization-pools-action-api.js
Labels: ui, javascript_lint

Add Salt implementation for virt volume delete action
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/volume-deleted.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle VirtNotifications for volume actions
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add volume delete button in the Web UI
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Move Virtualization controllers and Json in their own packages
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestSetterActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsBaseActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualNetworkInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualPoolBaseActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualPoolCreateActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualPoolDeleteActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualStoragePoolInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualStorageVolumeInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualVolumeBaseActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.guest.allcaps.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.net.info.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.pool.caps.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.pool.info.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.volume.info.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add REST API to trigger virtual volume delete action
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualVolumeBaseActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle volumes in VirtualizationPoolsActionApi component
  web/html/src/manager/virtualization/pools/pool-properties.js
  web/html/src/manager/virtualization/pools/virtualization-pools-action-api.js
Labels: ui, javascript_lint

Move Virtualization controllers and Json in their own packages
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestSetterActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsBaseActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualNetworkInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualPoolBaseActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualPoolCreateActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualPoolDeleteActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualStoragePoolInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualStorageVolumeInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualVolumeBaseActionJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.guest.allcaps.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.net.info.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.pool.caps.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.pool.info.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.volume.info.json
Labels: java, java_lint_checkstyle, java_pgsql_tests
