Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, spark-router, webui-templates, webui-controllers, salt-actions-implementations, salt-events-listener, data-model, old-ui, xmlrpc, testing, test-framework, core-features, build-validation-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Translated using Weblate (Italian)
  spacecmd/po/it.po
Labels: python3

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

update strings for translations in java/code/src/com/redhat/rhn/frontend/strings/java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

update strings for translations in web
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: ui, javascript_lint

QA: Support multiple Cucumber profiles (#3472)
  testsuite/Rakefile
  testsuite/documentation/guidelines.md
Labels: testing, ruby_rubocop

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  spacecmd/po/it.po
Labels: python3

Translated using Weblate (Korean)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

update strings for translations in java/code/src/com/redhat/rhn/frontend/strings/java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

update strings for translations in web
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: ui, javascript_lint

Add obs-project for creating build service projects for pull requests
  susemanager-utils/testing/automation/obs-project.py
Labels: none

add wait for build script
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

WIP: DO NOT MERGE ttest
  README.md
Labels: none

Add lock option in wait for build script
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

Add lock option in wait for build script
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

make lock by default in wait for build
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

Build only for openSUSE in the Pull Request testing
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Build only for SUSE distributions in the Pull Request testing
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Korean)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

update strings for translations in web
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: ui, javascript_lint

Add lock option in wait for build script
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

make lock by default in wait for build
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

Build only for openSUSE in the Pull Request testing
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Build only for SUSE distributions in the Pull Request testing
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

update strings for translations in web
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: ui, javascript_lint

Fix wait for build script: wait for project, not for individual packages
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*
spark-router:
- java/code/src/com/suse/manager/webui/Router.java
webui-templates:
- java/code/src/com/suse/manager/webui/templates/*
- java/code/src/com/suse/manager/webui/templates/**/*
webui-controllers:
- java/code/src/com/suse/manager/webui/controller/*
- java/code/src/com/suse/manager/webui/controller/**/*
salt-actions-implementations:
- java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
salt-events-listener:
- java/code/src/com/suse/manager/reactor/SaltReactor.java
data-model:
- java/code/src/com/redhat/rhn/domain/*
- java/code/src/com/redhat/rhn/domain/**/*
old-ui:
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
xmlrpc:
- java/code/src/com/redhat/rhn/frontend/xmlrpc/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
test-framework:
- testsuite/features/support/*
- testsuite/features/step_definitions/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
build-validation-features: 
- testsuite/features/build_validation/*
- testsuite/features/build_validation/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
