Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Testsuite: Fix a typo
  testsuite/documentation/guidelines.md
  testsuite/features/secondary/allcli_reboot.feature
Labels: testing, secondary-features, ruby_rubocop

update jar version
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement lookup RecurringAction based on other entity attributes
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringActionFactory.java
  java/code/src/com/redhat/rhn/domain/recurringactions/test/RecurringActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement getType for RecurringAction
  java/code/src/com/redhat/rhn/domain/recurringactions/GroupRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/MinionRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/OrgRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/test/RecurringActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

RecurringStateApplyJob: log with debug level, when action was skipped (previously info level was used)
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

HACK: Allow displaying messages from backend
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Fix rhnServerOverview migration
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/005-rhnServerOverview.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

DB index on suseRecurringAction.target_type column
  schema/spacewalk/common/tables/suseRecurringAction.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/010-schedule-recurring-actions.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix indentation to improve readability
  java/code/webapp/WEB-INF/pages/common/fragments/channel/channel_list_fragment.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_list_fragment.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_listdisplay.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Show proxy icon info in system list
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_list_fragment.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Add proper icon title text
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_list_fragment.jspf
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Fix rhnServerOverview migration
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/005-rhnServerOverview.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Add proxy flag to the rhnServerOverview database view and fetch it
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/005-rhnServerOverview.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Clean up controller code
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add the bug entry
  utils/spacewalk-utils.changes
Labels: none

add the bug entry for bsc1151583
  utils/spacewalk-utils.changes
Labels: none

add the bug entry for bsc1151583
  utils/spacewalk-utils.changes
Labels: none

Remove unused frontend code
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Add 'init.repo' kernel option to RHEL 8 kickstart tree (bsc#1163884)
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartInstallType.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/TreeCreateOperation.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/test/TreeCreateOperationTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Testsuite: Fix a typo
  testsuite/documentation/guidelines.md
  testsuite/features/secondary/allcli_reboot.feature
Labels: testing, secondary-features, ruby_rubocop

Testsuite: Fix a typo
  testsuite/documentation/guidelines.md
  testsuite/features/secondary/allcli_reboot.feature
Labels: testing, secondary-features, ruby_rubocop

Testsuite: Fix a typo
  testsuite/documentation/guidelines.md
  testsuite/features/secondary/allcli_reboot.feature
Labels: testing, secondary-features, ruby_rubocop

Add 'init.repo' kernel option to RHEL 8 kickstart tree (bsc#1163884)
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartInstallType.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/TreeCreateOperation.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/test/TreeCreateOperationTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add 'init.repo' kernel option to RHEL 8 kickstart tree (bsc#1163884)
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartInstallType.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/TreeCreateOperation.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/test/TreeCreateOperationTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Disable modularity failsafe mechanism for RHEL 8 bootstrap repos (bsc#1164875)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/bootstrap.repo
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Uyuni Proxy is not shown as product - other scripts
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
Labels: testing, core-features, ruby_rubocop

Uyuni Proxy is not shown as product - other scripts
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
Labels: testing, core-features, ruby_rubocop

Uyuni Proxy is not shown as product - other scripts
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
Labels: testing, core-features, ruby_rubocop

Uyuni Proxy is not shown as product - other scripts
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
Labels: testing, core-features, ruby_rubocop

Initialize recurring-event-picker
  web/html/src/components/recurring-event-picker.js
Labels: ui, javascript_lint

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

(bsc#1163538) validate the suseproductchannel table and update missing date when running mgr-sync refresh
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix first Custom Quartz format char not being able to be deleted
  web/html/src/components/recurring-event-picker.js
Labels: ui, javascript_lint

Add Recurring States translation strings
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Drop SSM support for Recurring Actions for now
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/templates/ssm/recurring-states.jade
  java/code/webapp/WEB-INF/nav/ssm.xml
  web/html/src/manager/state/recurring-states-edit.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Minor: extract create/lookup action to a standalone method for better readability
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Address TODOs
  java/code/src/com/redhat/rhn/domain/recurringactions/MinionRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringActionFactory.java
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix salt bootstrapping on SLE15 (bsc#1164563)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Fix test: Previously we expected an ordered list
  java/code/src/com/redhat/rhn/domain/recurringactions/test/RecurringActionFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor: address most annoying checkstyle issues in tests
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
