Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Set YAML loader to fix deprecation warnings
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Testsuite: Decouple the minion from the Docker/Kiwi build host
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

Testsuite: Decouple the minion from the Docker/Kiwi build host
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

Testsuite: Decouple the minion from the Docker/Kiwi build host
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

Testsuite: Decouple the minion from the Docker/Kiwi build host
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

Reformat 'list_modules' output object in mgr-libmod
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
Labels: none

Add an endpoint to Channels API to retrieve modular channels
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
  java/code/src/com/suse/manager/webui/utils/gson/ChannelsJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement 'list_modules' mgr-libmod call
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ListModulesResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModuleStreams.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiRequest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiResponse.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement module picker controls for CLM AppStream filters
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/ContentManagementApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/AppStreamsApiController.java
  java/spacewalk-java.changes
  web/html/src/components/input/Combo.js
  web/html/src/components/input/Combo.stories.js
  web/html/src/manager/content-management/list-filters/appstreams/appstreams.js
  web/html/src/manager/content-management/list-filters/appstreams/module-selector.js
  web/html/src/manager/content-management/list-filters/appstreams/select-input.js
  web/html/src/manager/content-management/list-filters/appstreams/text-input.js
  web/html/src/manager/content-management/list-filters/filter-form.js
  web/spacewalk-web.changes
Labels: java, ui, content-management, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Do not pass tailored URL for Zypper to urlgrabber (bsc#1171885)
  backend/satellite_tools/repo_plugins/yum_src.py
Labels: python3, backend_unittests_pgsql

Update changelog for spacewalk-backend
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Do not pass tailored URL for Zypper to urlgrabber (bsc#1171885)
  backend/satellite_tools/repo_plugins/yum_src.py
Labels: python3, backend_unittests_pgsql

Update changelog for spacewalk-backend
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

fix small typos
  tftpsync/susemanager-tftpsync/sync_post_tftpd_proxies.py
Labels: none

Add virtual hosts to cucumber-steps.md
  testsuite/documentation/cucumber-steps.md
Labels: testing, ruby_rubocop

Add SSM text to checkbox header on pages that have automagic ssm buttons
  branding/css/spacewalk-tables.less
  java/code/src/com/redhat/rhn/frontend/taglibs/list/SelectableColumnTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-list.tld
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_listdisplay.jspf
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Update changelog
  branding/spacewalk-branding.changes
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add SSM text to checkbox header on pages that have automagic ssm buttons
  branding/css/spacewalk-tables.less
  java/code/src/com/redhat/rhn/frontend/taglibs/list/SelectableColumnTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-list.tld
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_listdisplay.jspf
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Update changelog
  branding/spacewalk-branding.changes
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

extract createActionForServerAt into utils class
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix unit test: non-deterministic order at remove schedules solved
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fixup! unit test: test action chains
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

forbid to change the unique identifier
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove calendar needs possibility to cancel affected actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use special method for maintenance window check
  java/code/src/com/redhat/rhn/domain/action/Action.java
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/rhnpackage/test/PackageActionTest.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

throw new DownloadFaultException when calendar download failed
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/DownloadFaultException.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

test remove calendar
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix returning reschedule results
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Consider Product definitions for uyuni-check-version
  rel-eng/uyuni-check-version
Labels: none

Consider Product definitions for uyuni-check-version
  rel-eng/uyuni-check-version
Labels: none

Allow to remove a calender from a schedule
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Mock taskomatic called for scheduling actions in unit tests
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle centos urls that contain repo target in query string (bsc#1171996)
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert "Testsuite: Decouple the minion from the Docker/Kiwi build host"
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_docker_auth_registry.feature
  testsuite/features/secondary/min_docker_build_image.feature
  testsuite/features/secondary/min_osimage_build_image.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

Revert "Testsuite: Decouple the minion from the Docker/Kiwi build host"
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_docker_auth_registry.feature
  testsuite/features/secondary/min_docker_build_image.feature
  testsuite/features/secondary/min_osimage_build_image.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

Revert "Testsuite: Decouple the minion from the Docker/Kiwi build host"
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_docker_auth_registry.feature
  testsuite/features/secondary/min_docker_build_image.feature
  testsuite/features/secondary/min_osimage_build_image.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, core-features, secondary-features, ci-pipelines, ruby_rubocop

handle GPG check flags different for yum/dnf (bsc#1171859)
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
Labels: none

update changelog
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Testsuite: Reenable deleted steps before/after installing Docker
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Testsuite: Reenable deleted steps before/after installing Docker
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop
