Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Add debug logging to mgrcompat state module
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Add syncAll call to RegisterMinionActionTest expectations
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Take care of possible kwargs parameters when tailoring to new syntax
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Do some alignment fixes to avoid rendering issues
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/salt/ssh_bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/util/syncstates.sls
Labels: none

Update changelog for spacewalk-java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adding utf8 encoding to mgrcompat test file
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Fix wrong include path to bootstrap/remove_traditional_stack.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/salt/ssh_bootstrap/init.sls
Labels: none

Fix remaining reference to module.run on Java code
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
  java/code/src/com/suse/manager/webui/utils/SaltModuleRun.java
  java/code/src/com/suse/manager/webui/utils/SaltSystemReboot.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix Java issues after last rebase with master branch
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/impl/MonitoringService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix missing requires to use mgrcompat instead of module
  susemanager-utils/susemanager-sls/salt/bootstrap/remove_traditional_stack.sls
  susemanager-utils/susemanager-sls/salt/images/kiwi-image-build.sls
Labels: none

Adapt SLS files to properly sync required states and modules
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/channels/disablelocalrepos.sls
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
Labels: none

Add custom mgrcompat state module to determine module.run syntax
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Fix issue with tailored kwargs to avoid workaround at Salt
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Sync custom states when srvmonitoring.status
  susemanager-utils/susemanager-sls/salt/srvmonitoring/status.sls
Labels: none

Refactor checks for new syntax requirements across Salt versions
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Sync custom states when at packages.profileupdate
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
Labels: none

Add syncAll as expectation while registering a minion
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix tests for mgrcompat
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Sync all grains, state, modules and beacons during registration
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Do not enable new module.run syntax by default on minion configuration
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
Labels: none

Add testsuite scenario where mgrcompat module in not synced
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
Labels: testing, secondary-features, ruby_rubocop

Fix expectations for SaltActionChainGeneratorServiceTest
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Sync custom states when at images.profileupdate
  susemanager-utils/susemanager-sls/salt/images/profileupdate.sls
Labels: none

Fix unit tests for mgrcompat state module
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Take care of not expected returns from module execution
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Add missing __init__ file for custom states
  susemanager-utils/susemanager-sls/src/states/__init__.py
Labels: none

Add min_salt_mgrcompat_state.feature to secondary run_sets
  testsuite/run_sets/secondary.yml
Labels: testing, ci-pipelines, ruby_rubocop

Prevent error when no attributes passed to the execution module
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Enable newer syntax for module.run on minions while bootstrapping
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
Labels: none

Fix some includes to avoid conflicts in some scenarios
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/remove_traditional_stack.sls
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/salt/ssh_bootstrap/init.sls
Labels: none

Fix mgrcompat unit tests expectation after latest fixes
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Allow util.syncstates to run when mgrcompat is not yet synced
  susemanager-utils/susemanager-sls/salt/util/syncstates.sls
Labels: none

Add case for any future Salt release
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Fix remaining SLS files that directly call module.run
  susemanager-utils/susemanager-sls/salt/clusters/addnode.sls
  susemanager-utils/susemanager-sls/salt/clusters/createcluster.sls
  susemanager-utils/susemanager-sls/salt/clusters/listnodes.sls
  susemanager-utils/susemanager-sls/salt/clusters/removenode.sls
  susemanager-utils/susemanager-sls/salt/clusters/upgradecluster.sls
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/status.sls
  susemanager-utils/susemanager-sls/salt/virt/pool-refreshed.sls
  susemanager-utils/susemanager-sls/salt/virt/pool-statechange.sls
  susemanager-utils/susemanager-sls/salt/virt/volume-deleted.sls
Labels: none

Add github workflow to check SLS content: no usage of module.run
  .github/config/file-content-checks.toml
  .github/workflows/salt-sls-files-checks.yml
Labels: none

Update changelog for spacewalk-java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cases for Salt Neon on mgrcompat state module
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

Fix mockery and test environment for mgrcompat
  susemanager-utils/susemanager-sls/src/tests/mockery.py
  susemanager-utils/susemanager-sls/src/tests/test_state_mgrcompat.py
Labels: none

Minor fix on documentation
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
