Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Introduce MonitoringManager (iface and implementation)
  java/code/src/com/redhat/rhn/manager/formula/FormulaMonitoringManager.java
  java/code/src/com/suse/manager/webui/services/iface/MonitoringManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Re-introduce testIsMonitoringCleanupNeeded()
  java/code/src/com/redhat/rhn/manager/formula/FormulaMonitoringManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaMonitoringManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove now obsolete methods from FormulaManager
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use interface and remove local exception handling
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Bug when loading authentication from pillars
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

fix spacecmd unit tests for defined return values
  spacecmd/tests/test_activationkey.py
  spacecmd/tests/test_package.py
  spacecmd/tests/test_repo.py
  spacecmd/tests/test_snippet.py
Labels: python3

Pass MonitoringManager to the constructor of SystemEntitler
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/VirtualizationEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/test/HostBuilder.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitlementManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix import definitions
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelog for spacewalk-backend
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

wip: add documentation
  susemanager-utils/susemanager-sls/src/_modules/README.MD
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

refactor call strucuture
  susemanager-utils/susemanager-sls/src/_modules/README.MD
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users.py
Labels: none

original code from isbm
  susemanager-utils/susemanager-sls/Makefile.python
  susemanager-utils/susemanager-sls/src/_modules/README.MD
  susemanager-utils/susemanager-sls/src/_modules/uyuni_users_original.py
  susemanager-utils/susemanager-sls/src/_states/uyuni_users_original.py
  susemanager-utils/susemanager-sls/src/tests/test_uyuni_exec_mod.py
Labels: none

copy logfiles from all nodes to the controller
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

copy logfiles from all nodes to the controller
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

copy logfiles from all nodes to the controller
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

create /var/log/messages from journalctl
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

create /var/log/messages from journalctl
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

create /var/log/messages from journalctl
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

file_extract does not work, use classic scp
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

file_extract does not work, use classic scp
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

file_extract does not work, use classic scp
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

avoid proxy to be mandatory for boostrap
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

copy logfiles from all nodes to the controller
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

file_extract does not work, use classic scp
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

create /var/log/messages from journalctl
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop

Ruby checkstyle GitHub Action (#2212)
  .github/workflows/ruby-checkstyle.yml
  .rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
Labels: testing, ci-pipelines, ruby_rubocop

Set YAML loader to fix deprecation warnings
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Add throws clause for (unchecked) ValidatorException
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use interface and remove local exception handling
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Remove now obsolete methods from FormulaManager
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Stop throwing UnsupportedOperationException
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Re-introduce testIsMonitoringCleanupNeeded()
  java/code/src/com/redhat/rhn/manager/formula/FormulaMonitoringManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaMonitoringManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle monitoring cleanup on entitlement removal
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix import definitions
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Throw exceptions from monitoring enablement / disablement
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Introduce MonitoringManager (iface and implementation)
  java/code/src/com/redhat/rhn/manager/formula/FormulaMonitoringManager.java
  java/code/src/com/suse/manager/webui/services/iface/MonitoringManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle monitoring Formula when entitlement is added
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Convert ValidatorException to ValidationException (for XMLRPC)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Pass MonitoringManager to the constructor of SystemEntitler
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/VirtualizationEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/test/HostBuilder.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitlementManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

misleading name changed to ubuntu ssh minion
  testsuite/features/secondary/min_ubuntu_salt_install_package.feature
Labels: testing, secondary-features, ruby_rubocop
