Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

JSP: Implement maintenance window picker
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

forbid to change the unique identifier
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Struts: Refactor: USE_DATE -> SCHEDULE_TYPE field in the form
  java/code/src/com/redhat/rhn/common/util/DatePicker.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ErrataConfirmSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/test/SyncActionsTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/test/ErrataConfirmActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/test/ErrataConfirmSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/struts/ActionChainHelper.java
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
  java/code/src/com/redhat/rhn/frontend/struts/test/ActionChainHelperTest.java
  java/code/webapp/WEB-INF/pages/admin/errata/confirm.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/audit/scapcap-list.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/audit/schedule-xccdf.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/enablewidgets.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
  java/code/webapp/WEB-INF/pages/ssm/packageverifyschedule.jsp
  java/code/webapp/WEB-INF/pages/systems/errataconfirm.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

fix unit test
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle violations
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/struts/RhnAction.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Test computing upcoming windows from a calendar with multiple timezones
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerWindowsTest.java
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-google-multizones.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix Javadoc
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows in Actions [2/2]: Read schedule date from maintenance window picker
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/SsmScheduleXccdfConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/SsmScheduleXccdfSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/channel/ChannelDeployConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/GlobalRevisionDeployConfirmSubmit.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/LocalRevisionDeployAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/overview/TargetSystemsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/FileListConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/ConfigConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/EnableSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/ScheduleKickstartWizardAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/BaseSystemPackagesConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/LockPackageAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/SyncProfilesSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/profile/SyncSystemsSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageInstallationAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageUpgradeAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageVerifyAction.java
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ErrataListConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ProvisioningRemoteCommand.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/RebootSystemConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/ScheduleXccdfAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemRebootAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/virtualization/ProvisionVirtualizationWizardAction.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use review suggestion for formatting instant
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix typos
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Create the ServerAction after setting its parameters
  java/code/src/com/redhat/rhn/domain/action/ActionChainFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Only check actions with no pre-requisites when checking for maintenance mode
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle reschedule case "Fail" and return detailed reschedule informations
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/RescheduleResult.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/RescheduleResultSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Struts: Support reading maint. window date from the dynaForm
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

allow channel change event to apply the new channel state
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract exception-to-fault translation to a separate class
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ExceptionTranslator.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Extract function for getting events at given time
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extract function for parsing calendar from string
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Address review comments
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Localization
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Backend: Method for calculating upcoming maintenance windows
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
  java/code/src/com/redhat/rhn/frontend/struts/MaintenanceWindowHelper.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Reload action chain editor, when dealing with maintenance windows
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
  web/html/javascript/actionchain.js
Labels: java, ui, webapp, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Minor: Rename function
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test: schedule state.apply with just channels
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Allow to remove a calender from a schedule
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows for action chains
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainEditAction.java
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Don't make backend dependant on XMLRPC, handle the exception translation on XMLRPC side
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Struts: Support maintenance windows in Actions [1/2]: Populate the maintenance window picker
  java/code/src/com/redhat/rhn/frontend/action/MaintenanceWindowsAware.java
  java/code/src/com/redhat/rhn/frontend/action/channel/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/channel/ChannelDeployConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/GlobalRevisionDeployConfirmSetup.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/DeployFileConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/DiffFileConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/FileListConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/ConfigConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/EnableListAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/BaseSystemPackagesConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/InstallConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/RemoveConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/UpgradeConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/VerifyConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageInstallationAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageUpgradeAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/ssm/SchedulePackageVerifyAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ErrataListConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/ProvisioningRemoteCommand.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/RebootSystemConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemRebootAction.java
  java/code/src/com/redhat/rhn/frontend/struts/ActionChainHelper.java
  java/code/src/com/redhat/rhn/frontend/struts/RhnAction.java
  java/code/webapp/WEB-INF/struts-config.xml
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

fix unit test: non-deterministic order at remove schedules solved
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

throw new DownloadFaultException when calendar download failed
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/DownloadFaultException.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

JSP: Support for greying out date picker # Bitte geben Sie eine Commit-Beschreibung für Ihre Änderungen ein. Zeilen,
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/common/fragments/date-picker.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

test remove calendar
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix returning reschedule results
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Always rollback when no strategy succeeded
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Display ical file in details, distinguish between schedule/calendar
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Handle reschedule strategy
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix details view not rendering
  web/html/src/manager/maintenance/maintenance-schedules-details.js
Labels: ui, javascript_lint
