Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Backend: Manager test
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Frontend: Allow hiding date/time in the datetimepicker
  web/html/src/components/datetimepicker.js
Labels: ui, javascript_lint

Frontend: Components for Recurring Actions scheduling
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Frontend: Extract a component for displaying highstate
  web/html/src/manager/highstate/highstate.js
  web/html/src/manager/state/display-highstate.js
Labels: ui, javascript_lint

Frontend: String resources
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Frontend: Cron-expression picker for Recurring Actions
  web/html/src/components/recurring-event-picker.js
Labels: ui, javascript_lint

Frontend: Allow buttons on the left side of the InnerPanel
  web/html/src/components/panels/InnerPanel.js
Labels: ui, javascript_lint

Fix: 'Create' button does not show on empty group/org
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Frontend: Fix the components paths
  java/code/src/com/suse/manager/webui/templates/groups/highstate.jade
  java/code/src/com/suse/manager/webui/templates/minion/highstate.jade
  java/code/src/com/suse/manager/webui/templates/ssm/highstate.jade
  web/html/src/manager/highstate/index.js
  web/html/src/manager/index.js
  web/html/src/manager/state/highstate.js
  web/html/src/manager/state/index.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Frontend: Attach Recurring Actions pages to SUMA pages
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/webapp/WEB-INF/nav/org_tabs.xml
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/code/webapp/WEB-INF/nav/system_group_detail.xml
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Fix: When editing an action data is lost on reload
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Add hourly cron translation to the details
  web/html/src/manager/state/recurring-states-details.js
Labels: ui, javascript_lint

Changelog
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix: schedule Creation in highstate not working
  web/html/src/manager/state/highstate.js
Labels: ui, javascript_lint

Frontend: Integrate the Recurring State component in the Highstate component
  web/html/src/manager/highstate/highstate.js
Labels: ui, javascript_lint

Remove 'Reset fields' button
  web/html/src/manager/state/recurring-states-edit.js
Labels: ui, javascript_lint

Inject entityType instead of relying on the URLs
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/templates/groups/highstate.jade
  java/code/src/com/suse/manager/webui/templates/groups/recurring-states.jade
  java/code/src/com/suse/manager/webui/templates/minion/highstate.jade
  java/code/src/com/suse/manager/webui/templates/minion/recurring-states.jade
  java/code/src/com/suse/manager/webui/templates/org/recurring-states.jade
  java/code/src/com/suse/manager/webui/templates/ssm/highstate.jade
  java/code/src/com/suse/manager/webui/templates/yourorg/recurring-states.jade
  web/html/src/manager/state/highstate.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix wording on recurring state page
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Frontend: Use the 'success' flag of the backend response in the user action feedback
  web/html/src/manager/state/highstate.js
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Fix: List of all schedules only fetching data on reload
  java/code/src/com/suse/manager/webui/templates/schedule/recurring-actions.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Frontend: Human representation of MINION/GROUP/ORG in Recurring Actions list and details
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-list.js
Labels: ui, javascript_lint

Some cosmetic fixes
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Remove skip Next todos and commented code
  web/html/src/manager/state/recurring-states-details.js
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Fix text when updating/disabling state
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Fixed text and shows correctly if action is active/inactive
  web/html/src/manager/state/recurring-states-details.js
Labels: ui, javascript_lint

Remove unrelated comment
  web/html/src/manager/state/recurring-states-edit.js
Labels: ui, javascript_lint

Reduce the number of curly braces
  web/html/src/manager/state/recurring-states-edit.js
  web/html/src/manager/state/recurring-states-list.js
Labels: ui, javascript_lint

Removed addressed todo
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Add tooltip to the monthly picker that days are limited to 28
  web/html/src/components/recurring-event-picker.js
Labels: ui, javascript_lint

Add tooltip to the monthly picker that days are limited to 28
  web/html/src/components/recurring-event-picker.js
Labels: ui, javascript_lint

Remove unnecessary check in deleteSchedule
  web/html/src/manager/state/recurring-states.js
Labels: ui, javascript_lint

Update checkstyle to latest version
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/ivyconf.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix errors found with checkstyle update
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/domain/server/PinnedSubscriptionFactory.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/UnsubscribeConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/dto/BootstrapSystemOverview.java
  java/code/src/com/redhat/rhn/frontend/dto/SetupWizardProductDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/util/SerializerHelper.java
  java/code/src/com/redhat/rhn/manager/configuration/ConfigurationManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RepomdIndexWriter.java
  java/code/src/com/suse/manager/reactor/utils/ZonedDateTimeISOAdapter.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/services/SaltActionChainGeneratorService.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/MonitoringService.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
  java/code/src/com/suse/manager/webui/utils/salt/State.java
Labels: java, API, content-management, java_lint_checkstyle, java_pgsql_tests

update changelog
  spacewalk/setup/spacewalk-setup.changes
Labels: none

if AJP Connector does not exist, create it and set secretRequired to false
  spacewalk/setup/share/server.xml.xsl
Labels: none

VirtualizationPoolsListRefreshApi returns a Message rather than a string
  web/html/src/manager/virtualization/pools/virtualization-pools-list-refresh-api.js
Labels: ui, javascript_lint

Create an ActionApi out of virtualization-guest-action-api
  web/html/src/manager/virtualization/ActionApi.js
  web/html/src/manager/virtualization/guests/virtualization-guest-action-api.js
Labels: ui, javascript_lint

GuestPropertiesForm: remove validators messages out of state
  web/html/src/manager/virtualization/guests/properties/guest-properties-form.js
Labels: ui, javascript_lint

Create an ActionApi out of virtualization-guest-action-api
  web/html/src/manager/virtualization/ActionApi.js
  web/html/src/manager/virtualization/guests/virtualization-guest-action-api.js
Labels: ui, javascript_lint

GuestPropertiesForm: remove validators messages out of state
  web/html/src/manager/virtualization/guests/properties/guest-properties-form.js
Labels: ui, javascript_lint
