Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Fix identation in ServerGroup hibernate mappings file (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert change for testServerGroupMembers in ServerFactoryTest.java (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor in snapshotServers method in SystemManager class (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Improve performance when adding servers to serverGroups (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/General_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/utils/SaltPillar.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change method signature to filter server ids with a particular feature (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor when removing servers from serverGroup(bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/redhat/rhn/domain/server/EntitlementServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshot.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDetailsEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemDetailsEditActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemOverviewActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt test for generating pillar files (bsc#1158754)
  java/code/src/com/suse/manager/webui/services/test/SaltStateGeneratorServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor getServerGroupForEntitleServer method (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change paramater name for more clarity when entitling a server (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt SystemDetailsEditActionTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/test/SystemDetailsEditActionTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Rewrite hasEntitlement method in Server class using streams (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update unit test for adding/remove servers to/from a server group (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove extra if for checking if a server has a particular entitlement when removing entitlements (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change method signature for more clarity (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update java doc for filterServerIdsWithFeature method (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt SystemEntitlementsSetupActionTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Move logic for adding entitlements to a server to java code (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshot.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Update java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rewrite getAddOnEntitlements method in Server class with streams (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Small refactor for setting a base entitlement to a server (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt ImageInfoHandlerTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt SystemManagerTest to the new behavior (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update logging in SystemManager for adding/removing entitlements to/from server (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Call addOrRemoveSystems method in ServerGroupHandler with Long server ids in tests (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix checkstyle (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/SystemEntitlementsSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Remove unused imports (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Reflow line (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change query name to filter system ids with a particular feature (bsc#1158754)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/General_queries.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt test for snapshot a server to behave the way the flow behaves in production (bsc#1158754)
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use 'groups' hibernate mapped variable of Server clase to get entitlements instead of querying the DB every time (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/domain/token/ActivationKeyFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Reflow lines for readability (bsc#1158754)
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactor for adding servers to serverGroup (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Adapt JobReturnEventMessageActionTest to the new behavior (bsc#1158754)
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor findCompatibleServerGroupForBaseEntitlement method (bsc#1158754)
  java/code/src/com/redhat/rhn/domain/server/ServerGroupFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

increase array sice for new product values
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql

skip products with empty channel family id
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql

On an ISS Slave cleanup suseSCCRepositoryAuth table
  backend/server/importlib/backend.py
Labels: python3, backend_unittests_pgsql

export/import extra_tags via ISS
  backend/satellite_tools/exporter/exportLib.py
  backend/satellite_tools/xmlSource.py
  backend/server/importlib/importLib.py
Labels: python3, backend_unittests_pgsql
