Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Add docs issue template
  .github/ISSUE_TEMPLATE_DOCUMENTATION.md
Labels: none

Improve the link for creating doc issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

add doc issue template
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_DOCUMENTATION.md
Labels: none

Edits per feedback
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

edit doc repo in template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Mock activation key in tests
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Web UI: Add UI for bootstrapping with ssh private keys
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ui, javascript_lint

Remove unused constuctors
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: use a common constant for resetting bootstrap component state
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ui, javascript_lint

Adjust tests to BootstrapParameters usage
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/RegularMinionBootstrapperTest.java
  java/code/src/com/suse/manager/webui/utils/test/InputValidatorTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use the params in the XMLRPC
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapParameters.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Refactor: Use the BootstrapParameters directly in bootstrappers
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/utils/InputValidator.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add the auth method to BootstrapHostsJson, turn priv key/password to Strings
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

BootstrapParameters: constructors for usage for bootstrapping with pwd or key
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapParameters.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Sacrifice extreme corner case test
  java/code/src/com/suse/manager/webui/utils/test/InputValidatorTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Disallow bootstrapping with too long keys
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor: Break horribly long line into multiple lines
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ui, javascript_lint

Minor: Integer .toString() can't lead to empty string
  java/code/src/com/suse/manager/webui/utils/InputValidator.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Address comments
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ui, javascript_lint

Changelog
  java/spacewalk-java.changes
  web/spacewalk-web.changes
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Inject SystemQuery to the tests, adjust the JSON input mocking
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
  java/code/src/com/suse/manager/webui/utils/test/InputValidatorTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Complete the javadoc
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Pass custom timeout value to _skuba_call method
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Page description as normal text, no external link
  web/html/src/components/FormulaForm.js
  web/html/src/components/formula-selection.js
Labels: ui, javascript_lint

Page description as normal text, no external link
  web/html/src/components/FormulaForm.js
  web/html/src/components/formula-selection.js
Labels: ui, javascript_lint

reset to correct branch id to reach idempotency
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, secondary-features, ruby_rubocop

reset to correct branch id to reach idempotency
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, secondary-features, ruby_rubocop

reset to correct branch id to reach idempotency
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, secondary-features, ruby_rubocop

Require python3-tornado only for SLE15/SLE15SP1/openSUSE Leap 15.1 (bsc#1169865
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Introduce Zypper plugin to add extra HTTP headers on spacewalk-repo-sync
  backend/satellite_tools/spacewalk-extra-http-headers
Labels: backend_unittests_pgsql

Enable extra HTTP headers on spacewalk-repo-sync
  backend/satellite_tools/repo_plugins/yum_src.py
Labels: python3, backend_unittests_pgsql

Update changelog for spacewalk-backend
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Include reposync Zypper plugins in spacewalk-backend-tools package
  backend/satellite_tools/spacewalk-extra-http-headers
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql

register ChannelsChangedEventMessageAction in taskomatic again
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/redhat/rhn/testing/RhnBaseTestCase.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Add missing ulnauth module to spacewalk-backend-tools package
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql

Rename constant for better consistency
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/spacewalk-extra-http-headers
Labels: python3, backend_unittests_pgsql

checkstyle
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix small typos
  tftpsync/susemanager-tftpsync/sync_post_tftpd_proxies.py
Labels: none

Require python3-tornado only for SLE15/SLE15SP1/openSUSE Leap 15.1 (bsc#1169865
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

Require python3-tornado only for SLE15/SLE15SP1/openSUSE Leap 15.1 (bsc#1169865)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests
