Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

implement rescheduling strategy for actions
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

use full return type
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use special method for maintenance window check
  java/code/src/com/redhat/rhn/domain/action/Action.java
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/rhnpackage/test/PackageActionTest.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Minor: Rename function
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test: schedule state.apply with just channels
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

allow channel change event to apply the new channel state
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract exception-to-fault translation to a separate class
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ExceptionTranslator.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Address review comments
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

throw new DownloadFaultException when calendar download failed
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/DownloadFaultException.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove calendar needs possibility to cancel affected actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Support checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Test checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

forbid to change the unique identifier
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

extract createActionForServerAt into utils class
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceTestUtils.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Mock taskomatic called for scheduling actions in unit tests
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix unit test
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Allow to remove a calender from a schedule
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Don't make backend dependant on XMLRPC, handle the exception translation on XMLRPC side
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

fix returning reschedule results
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix tests
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Only check actions with no pre-requisites when checking for maintenance mode
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

test remove calendar
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix unit test: non-deterministic order at remove schedules solved
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Check for maintenance windows when scheduling actions
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Skip tagged scenarios if no SLE clients
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/support/env.rb
Labels: testing, core-features, ruby_rubocop

opensuse clients have not tar preinstalled
  testsuite/features/finishing/allcli_debug.feature
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/finishing.yml
  testsuite/run_sets/qam_finishing.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/sle-updates.yml
Labels: testing, ci-pipelines, ruby_rubocop

opensuse clients have not tar preinstalled
  testsuite/features/finishing/allcli_debug.feature
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/finishing.yml
  testsuite/run_sets/qam_finishing.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/sle-updates.yml
  testsuite/run_sets/virtualization.yml
Labels: testing, ci-pipelines, ruby_rubocop

add duplicate component line for 'repodata' in Debian Release files...
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/DebReleaseWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/test/DebReleaseWriterTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Skip tagged scenarios if no SLE clients
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/support/env.rb
Labels: testing, core-features, ruby_rubocop

New branding style and menu adjustements
  branding/css/susemanager-login.less
  branding/css/susemanager-theme.less
  branding/css/susemanager-variables.less
  branding/img/susemanager/suse-logo-02.png
  branding/spacewalk-branding.changes
Labels: none

Remove gradient for section-toolbar
  branding/css/susemanager-theme.less
Labels: none

testsuite - move retail terminal to sle15sp2
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop

Remove text shadow from buttons
  branding/css/susemanager-buttons.less
Labels: none

Fix HelpIcon link size
  web/html/src/components/utils/HelpIcon.js
Labels: ui, javascript_lint

Fix big icon size (CVE Audit)
  branding/css/spacewalk-theme.less
Labels: none

Fix checkstyle warnings
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Skip tagged scenarios if no SLE clients
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/support/env.rb
Labels: testing, core-features, ruby_rubocop

Skip tagged scenarios if no SLE clients
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/support/env.rb
Labels: testing, core-features, ruby_rubocop
