Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, spark-router, webui-templates, webui-controllers, salt-actions-implementations, salt-events-listener, data-model, old-ui, xmlrpc, testing, test-framework, core-features, build-validation-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*
spark-router:
- java/code/src/com/suse/manager/webui/Router.java
webui-templates:
- java/code/src/com/suse/manager/webui/templates/*
- java/code/src/com/suse/manager/webui/templates/**/*
webui-controllers:
- java/code/src/com/suse/manager/webui/controller/*
- java/code/src/com/suse/manager/webui/controller/**/*
salt-actions-implementations:
- java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
salt-events-listener:
- java/code/src/com/suse/manager/reactor/SaltReactor.java
data-model:
- java/code/src/com/redhat/rhn/domain/*
- java/code/src/com/redhat/rhn/domain/**/*
old-ui:
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
xmlrpc:
- java/code/src/com/redhat/rhn/frontend/xmlrpc/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
test-framework:
- testsuite/features/support/*
- testsuite/features/step_definitions/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
build-validation-features: 
- testsuite/features/build_validation/*
- testsuite/features/build_validation/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Implement remove subcommand for obs-project
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Fix add subcommand for obs-project
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Remove double space in strings
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

add interactive confirmation for obs-project remove
  susemanager-utils/testing/automation/obs-project.py
Labels: none

test commit
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Skip archs other than x86_64 for obs-project
  susemanager-utils/testing/automation/obs-project.py
Labels: none

Solve spacewalk-common-channel problems for Leap 15.2 aarch64
  utils/spacewalk-common-channels.ini
Labels: none

Translated using Weblate (Finnish)
  backend/po/fi.po
Labels: backend_unittests_pgsql

Translated using Weblate (Finnish)
  client/rhel/spacewalk-client-tools/po/fi.po
Labels: none

Translated using Weblate (Finnish)
  client/rhel/yum-rhn-plugin/po/fi.po
Labels: none

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Solve spacewalk-common-channel problems for Leap 15.2 aarch64
  utils/spacewalk-common-channels.ini
Labels: none

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

update strings for translations in web
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: ui, javascript_lint

add wait for build script
  susemanager-utils/testing/automation/wait-for-builds.sh
Labels: none

Translated using Weblate (Finnish)
  client/rhel/spacewalk-client-tools/po/fi.po
Labels: none

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/nav/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

update strings for translations in java/code/src/com/redhat/rhn/frontend/strings/java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

fix help message
  spacecmd/src/spacecmd/group.py
Labels: python3

add and remove config channels on groups
  spacecmd/src/spacecmd/group.py
Labels: python3

update changelog
  spacecmd/spacecmd.changes
Labels: python3

require missing package on SLE11 (bsc#1183959)
  client/rhel/rhnlib/rhnlib.spec
Labels: none

update changelog
  client/rhel/rhnlib/rhnlib.changes
Labels: none

Support for Amazon Linux 2
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  suseRegisterInfo/suseRegister/info.py
  suseRegisterInfo/suseRegisterInfo.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/Amazon2.sls
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

require missing package on SLE11 (bsc#1183959)
  client/rhel/rhnlib/rhnlib.spec
Labels: none

update changelog
  client/rhel/rhnlib/rhnlib.changes
Labels: none

QA: Support multiple Cucumber profiles
  testsuite/Rakefile
  testsuite/documentation/guidelines.md
Labels: testing, ruby_rubocop

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/nav/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  web/po/it.po
Labels: ui, javascript_lint

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests

Translated using Weblate (Italian)
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_it.xml
Labels: java, API, old-ui, java_lint_checkstyle, java_pgsql_tests
