Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Split the table.js into smaller files
  web/html/src/components/table/Column.js
  web/html/src/components/table/Header.js
  web/html/src/components/table/Highlight.js
  web/html/src/components/table/SearchField.js
  web/html/src/components/table/SearchPanel.js
  web/html/src/components/table/Table.js
  web/html/src/manager/admin/task-engine-status/taskotop.js
  web/html/src/manager/audit/cveaudit/cveaudit.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-messages.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-pins.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-subscriptions.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.js
  web/html/src/manager/content-management/list-filters/list-filters.js
  web/html/src/manager/content-management/list-projects/list-projects.js
  web/html/src/manager/images/image-profiles.js
  web/html/src/manager/images/image-stores.js
  web/html/src/manager/images/image-view-packages.js
  web/html/src/manager/images/image-view-patches.js
  web/html/src/manager/images/image-view.js
  web/html/src/manager/notifications/notification-messages.js
  web/html/src/manager/salt/formula-catalog/org-formula-catalog.js
  web/html/src/manager/salt/keys/key-management.js
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-details.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-list.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Add mistakenly removed additional filters to TableDataHandler
  web/html/src/components/table/CustomDataHandler.js
  web/html/src/components/table/TableDataHandler.js
Labels: ui, javascript_lint

CustomDiv don't set NaN as width
  web/html/src/components/custom-objects.js
Labels: ui, javascript_lint

Merge data-handler.js SearchField with the table one
  web/html/src/components/data-handler.js
  web/html/src/components/table/SearchField.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Remove duplicate Highlight component in data-handler.js
  web/html/src/components/data-handler.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/content-management/shared/components/panels/sources/channels/child-channels.js
  web/html/src/manager/content-management/shared/components/panels/sources/channels/group-channels.js
Labels: ui, javascript_lint

image-store.js: update data in componentDidMount()
  web/html/src/manager/images/image-stores.js
Labels: ui, javascript_lint

Reuse table's SearchPanel in DataHandler
  web/html/src/components/data-handler.js
Labels: ui, javascript_lint

Share code between DataHandler and Table components
  web/html/src/components/data-handler.js
  web/html/src/components/table/CustomDataHandler.js
  web/html/src/components/table/Table.js
  web/html/src/components/table/TableDataHandler.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Add mistakenly removed SearchField name property
  web/html/src/components/table/SearchField.js
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Strip null children in SearchPanel
  web/html/src/components/table/SearchPanel.js
Labels: ui, javascript_lint

Reuse table's SearchPanel in DataHandler
  web/html/src/components/data-handler.js
Labels: ui, javascript_lint

image-store.js: update data in componentDidMount()
  web/html/src/manager/images/image-stores.js
Labels: ui, javascript_lint

Document the table Column component
  web/html/src/components/table.js
Labels: ui, javascript_lint

Convert the StatePersistedMixin into a context
  web/html/src/components/data-handler.js
  web/html/src/components/table.js
  web/html/src/components/utils/StatePersistedContext.js
  web/html/src/components/utils/StatePersistedMixin.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-messages.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-pins.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-subscriptions.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.js
  web/html/src/manager/audit/subscription-matching/subscription-matching.js
Labels: ui, javascript_lint

Split the table.js into smaller files
  web/html/src/components/table/Column.js
  web/html/src/components/table/Header.js
  web/html/src/components/table/Highlight.js
  web/html/src/components/table/SearchField.js
  web/html/src/components/table/SearchPanel.js
  web/html/src/components/table/Table.js
  web/html/src/manager/admin/task-engine-status/taskotop.js
  web/html/src/manager/audit/cveaudit/cveaudit.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-messages.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-pins.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-subscriptions.js
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.js
  web/html/src/manager/content-management/list-filters/list-filters.js
  web/html/src/manager/content-management/list-projects/list-projects.js
  web/html/src/manager/images/image-profiles.js
  web/html/src/manager/images/image-stores.js
  web/html/src/manager/images/image-view-packages.js
  web/html/src/manager/images/image-view-patches.js
  web/html/src/manager/images/image-view.js
  web/html/src/manager/notifications/notification-messages.js
  web/html/src/manager/salt/formula-catalog/org-formula-catalog.js
  web/html/src/manager/salt/keys/key-management.js
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-details.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-list.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Strip null children in SearchPanel
  web/html/src/components/table/SearchPanel.js
Labels: ui, javascript_lint

Share code between DataHandler and Table components
  web/html/src/components/data-handler.js
  web/html/src/components/table/CustomDataHandler.js
  web/html/src/components/table/Table.js
  web/html/src/components/table/TableDataHandler.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

CustomDiv don't set NaN as width
  web/html/src/components/custom-objects.js
Labels: ui, javascript_lint

Merge data-handler.js SearchField with the table one
  web/html/src/components/data-handler.js
  web/html/src/components/table/SearchField.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Document table Highlight component
  web/html/src/components/table.js
Labels: ui, javascript_lint

Add mistakenly removed additional filters to TableDataHandler
  web/html/src/components/table/CustomDataHandler.js
  web/html/src/components/table/TableDataHandler.js
Labels: ui, javascript_lint

Add mistakenly removed SearchField name property
  web/html/src/components/table/SearchField.js
  web/html/src/manager/admin/setup/products/products.js
Labels: ui, javascript_lint

Remove duplicate Highlight component in data-handler.js
  web/html/src/components/data-handler.js
  web/html/src/manager/admin/setup/products/products.js
  web/html/src/manager/content-management/shared/components/panels/sources/channels/child-channels.js
  web/html/src/manager/content-management/shared/components/panels/sources/channels/group-channels.js
Labels: ui, javascript_lint

Document the table Header component
  web/html/src/components/table.js
Labels: ui, javascript_lint

Document the table SearchField component
  web/html/src/components/table.js
Labels: ui, javascript_lint

Document the table SearchPanel component
  web/html/src/components/table.js
Labels: ui, javascript_lint

Report create actions in VirtNotifications
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix VM create action name
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateAction.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Virt guests: add the domain name in the action name
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/system/VirtualizationActionCommand.java
  java/code/src/com/redhat/rhn/manager/system/test/VirtualizationActionCommandTest.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

VM lists: show a message for VM pending creation
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/spacewalk-web.changes
Labels: ui, javascript_lint

Create ActionStatus component
  web/html/src/components/action/ActionStatus.js
  web/html/src/components/action/ActionStatus.stories.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
Labels: ui, javascript_lint

Idempotent db migration
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/010-schedule-recurring-actions.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Extract virt notification websocket into a hook
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/useVirtNotification.js
Labels: ui, javascript_lint

Convert GuestsLists into a function component
  web/html/src/manager/virtualization/guests/list/guests-list.js
Labels: ui, javascript_lint

Set proper name for VM update action
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/system/VirtualizationActionCommand.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix: Use Create to add a schedule on listing all schedules
  web/html/src/manager/state/recurring-states-list.js
Labels: ui, javascript_lint

Virt guests: add the domain name in the action name
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/system/VirtualizationActionCommand.java
  java/code/src/com/redhat/rhn/manager/system/test/VirtualizationActionCommandTest.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Convert GuestsLists into a function component
  web/html/src/manager/virtualization/guests/list/guests-list.js
Labels: ui, javascript_lint

Report create actions in VirtNotifications
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix VM create action name
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateAction.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
