Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Cleanup MaintenanceWindows component
  web/html/src/manager/maintenance/edit/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Get rid of smurf code in CalendarFactory and ScheduleFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/factory/CalendarFactory.java
  java/code/src/com/suse/manager/maintenance/factory/ScheduleFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt Table component to skip rendering the header if none provided
  web/html/src/components/table/TableDataHandler.js
Labels: ui, javascript_lint

Fix the javadoc, remove dangling comment
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Fix typo
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Move the rescheduling-related code to a separate package
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/rescheduling/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleException.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleResult.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
  java/code/src/com/suse/manager/xmlrpc/serializer/RescheduleResultSerializer.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Turn getScheduleEventsAtDate into getCalendarEventsAtDate
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Also get rid of the useless 'Maintenance' word in the MaintenanceManager methods
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Correct indentation
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move MaintenanceController related code to its own package
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceWindowsParams.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Split details component into schedule and calendar details
  web/html/src/manager/maintenance/calendar-details.js
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/schedule-details.js
Labels: ui, javascript_lint

Move handleRescheduleResult to the base controller
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add loading indicator if calendar refresh in progress
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Remove unused method
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Split MaintenanceController into multiple Controller classes
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Initialize static field properly
  java/code/src/com/redhat/rhn/frontend/struts/MaintenanceWindowHelper.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Use schedule icon for maintence windows
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
Labels: ui, javascript_lint

Adjust comments
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Re-arrange the MaintenanceManager methods
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/factory/ScheduleFactory.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract Ical-related methods to a separate class
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/IcalUtilsTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Explicitly control the lifecycle of MaintenanceManager instances
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/struts/MaintenanceWindowHelper.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Display maintenance schedules used by systems in action chains
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/schedule/actionchainentries.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Split MaintenanceWindowJson into multiple objects
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceCalendarController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceCalendarJson.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Split the MaintenanceFactory to ScheduleFactory and CalendarFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/factory/CalendarFactory.java
  java/code/src/com/suse/manager/maintenance/factory/ScheduleFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove unused method
  java/code/src/com/suse/manager/maintenance/rescheduling/CancelRescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

RescheduleStrategyType class
  java/code/src/com/suse/manager/maintenance/rescheduling/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleStrategyType.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move list, edit and details related code to their own directories
  web/html/src/manager/maintenance/details/calendar-details.js
  web/html/src/manager/maintenance/details/maintenance-windows-details.js
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/manager/maintenance/edit/calendar-edit.js
  web/html/src/manager/maintenance/edit/maintenance-windows-edit.js
  web/html/src/manager/maintenance/edit/schedule-edit.js
  web/html/src/manager/maintenance/list/calendar-list.js
  web/html/src/manager/maintenance/list/maintenance-windows-list.js
  web/html/src/manager/maintenance/list/schedule-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Refactor: Better naming for methods
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Specify the result type of the JPQL queries to get rid of warnings
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringActionFactory.java
  java/code/src/com/suse/manager/model/maintenance/CalendarFactory.java
  java/code/src/com/suse/manager/model/maintenance/ScheduleFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Split list component into schedule and calendar list
  web/html/src/manager/maintenance/calendar-list.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/schedule-list.js
Labels: ui, javascript_lint

Move styling to susemanager-theme
  branding/css/spacewalk-theme.less
  branding/css/susemanager-theme.less
Labels: none

Revert: Protected -> private in MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move api to api directory
  web/html/src/manager/maintenance/api/maintenance-windows-api.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Refactor: Get rid of 'Maintenance' in the method names
  java/code/src/com/suse/manager/maintenance/MaintenanceFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Split edit component into schedule and calendar edit
  web/html/src/manager/maintenance/calendar-edit.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/schedule-edit.js
Labels: ui, javascript_lint

Refactor: Improve the mapping of string to RescheduleStrategy
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move the maintenance factories to model package
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/model/maintenance/CalendarFactory.java
  java/code/src/com/suse/manager/model/maintenance/ScheduleFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Apply styling to uyuni
  branding/css/uyuni-theme.less
Labels: none

API endpoints for assigning maintenance schedules to systems
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Change execution order in the 'assignScheduleToSystemWithPendingActions' test
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
