Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Revert the TaskomaticApi changes
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement permission checking for scheduling Recurring Actions via Taskomatic
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix tests
  java/code/src/com/redhat/rhn/domain/recurringactions/test/RecurringActionFactoryTest.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update jar version
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use more specific exception so we don't catch everything
  java/code/src/com/suse/manager/reactor/utils/OptionalTypeAdapterFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add option to minion config file, in order to disable salt mine
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: none

Bump version to 4.0.5
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

Add schema migrations from future versions 3.2.24, 3.2.25, 3.2.26 and 3.2.27
  schema/spacewalk/upgrade/susemanager-schema-3.2.24-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.25-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.26-to-susemanager-schema-4.0.0/.gitkeep
  schema/spacewalk/upgrade/susemanager-schema-3.2.27-to-susemanager-schema-4.0.0/.gitkeep
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [mgr-osad] release [4.0.11-1].
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/mgr-osad.spec
  rel-eng/packages/mgr-osad
Labels: none

Automatic commit of package [spacecmd] release [4.0.18-1].
  rel-eng/packages/spacecmd
  spacecmd/setup.py
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
Labels: python3

Automatic commit of package [spacewalk-admin] release [4.0.9-1].
  rel-eng/packages/spacewalk-admin
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-admin.spec
Labels: none

Automatic commit of package [spacewalk-backend] release [4.0.30-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-certs-tools] release [4.0.15-1].
  rel-eng/packages/spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Automatic commit of package [spacewalk-client-tools] release [4.0.12-1].
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  rel-eng/packages/spacewalk-client-tools
Labels: none

Automatic commit of package [spacewalk-java] release [4.0.29-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-search] release [4.0.9-1].
  rel-eng/packages/spacewalk-search
  search-server/spacewalk-search/spacewalk-search.changes
  search-server/spacewalk-search/spacewalk-search.spec
Labels: none

Automatic commit of package [spacewalk-setup] release [4.0.12-1].
  rel-eng/packages/spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/setup/spacewalk-setup.spec
Labels: none

Automatic commit of package [spacewalk-utils] release [4.0.16-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

Automatic commit of package [spacewalk-web] release [4.0.19-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Automatic commit of package [supportutils-plugin-susemanager-client] release [4.0.3-1].
  rel-eng/packages/supportutils-plugin-susemanager-client
  susemanager-utils/supportutils-plugin-susemanager-client/supportutils-plugin-susemanager-client.changes
  susemanager-utils/supportutils-plugin-susemanager-client/supportutils-plugin-susemanager-client.spec
Labels: none

Automatic commit of package [supportutils-plugin-susemanager-proxy] release [4.0.3-1].
  rel-eng/packages/supportutils-plugin-susemanager-proxy
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.changes
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.spec
Labels: none

Automatic commit of package [susemanager] release [4.0.22-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-nodejs-sdk-devel] release [1.0.13-1].
  rel-eng/packages/susemanager-nodejs-sdk-devel
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.spec
Labels: none

Automatic commit of package [susemanager-schema] release [4.0.18-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [susemanager-sls] release [4.0.24-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Automatic commit of package [susemanager-sync-data] release [4.0.16-1].
  rel-eng/packages/susemanager-sync-data
  susemanager-sync-data/susemanager-sync-data.changes
  susemanager-sync-data/susemanager-sync-data.spec
Labels: none

Add delete action to Factory
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringActionFactory.java
  java/code/src/com/redhat/rhn/domain/recurringactions/test/RecurringActionFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add function to unschedule/delete recurring actions
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/redhat/rhn/manager/recurringactions/test/RecurringActionManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add permission checking for unscheduling recurring actions to taskomatic
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Implement delete operation
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Display schedule creation date in schedule details page
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  java/code/src/com/suse/manager/webui/utils/gson/RecurringStateScheduleJson.java
  web/html/src/manager/state/recurring-states-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Implement hashCode & equals for RecurringAction subclasses
  java/code/src/com/redhat/rhn/domain/recurringactions/GroupRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/MinionRecurringAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/OrgRecurringAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove unused EnforcementDoclet
  java/build.xml
  java/code/internal/src/com/redhat/rhn/internal/doclet/EnforcementDoclet.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Updated the doclet to the new API
  java/build.xml
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/code/internal/src/com/redhat/rhn/internal/doclet/AbstractOption.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiCall.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/Handler.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/VelocityHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Updated the doclet to the new API
  java/build.xml
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/code/internal/src/com/redhat/rhn/internal/doclet/AbstractOption.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiCall.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ApiDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocBookWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/DocWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/Handler.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/HtmlWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/JSPWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/ListWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageDoclet.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/SinglePageWriter.java
  java/code/internal/src/com/redhat/rhn/internal/doclet/VelocityHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove unused EnforcementDoclet
  java/build.xml
  java/code/internal/src/com/redhat/rhn/internal/doclet/EnforcementDoclet.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix indentation to improve readability
  java/code/webapp/WEB-INF/pages/common/fragments/channel/channel_list_fragment.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_list_fragment.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_listdisplay.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Show proxy icon info in system list
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_list_fragment.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Add proxy flag to the rhnServerOverview database view and fetch it
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.1.3-to-susemanager-schema-4.1.4/005-rhnServerOverview.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Add proper icon title text
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_list_fragment.jspf
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
