Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Add jade file
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-schedules.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add ui page for creating/editing schedules
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
Labels: ui, javascript_lint

Display upcoming maintenance windows in schedule details view
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add deleting of schedules
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-schedules.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Rename maintenance-schedules.jade -> maintenance-windows.jade
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add Json class for maintenance schedules
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle reschedule strategy
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add maintenance schedules index
  web/html/src/manager/index.js
  web/html/src/manager/maintenance/index.js
Labels: ui, javascript_lint

Fix details view not rendering
  web/html/src/manager/maintenance/maintenance-schedules-details.js
Labels: ui, javascript_lint

Add requested changes
  branding/css/spacewalk-theme.less
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-api.js
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.css
  web/html/src/manager/maintenance/maintenance-windows.js
  web/spacewalk-web.changes
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Adapt controller class to handle schedules/calendars individually
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add type to distinguish between calendar and schedule in UI
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add controller class
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Change webui to reflect controller changes
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Add missing javadoc, fix checkstyle
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix: Remove empty box displayed in schedule list if no calendar assigned
  web/html/src/manager/maintenance/maintenance-windows-list.js
Labels: ui, javascript_lint

Add localization to the controller
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, API, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Make 'Add Calendar' button instead of checkbox
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
  web/html/src/manager/maintenance/maintenance-schedules.js
Labels: ui, javascript_lint

Add ui for listing maintenance schedules
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: ui, javascript_lint

Move styling to its own css file
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.css
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Create links to calendar/schedule details in list
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add queries to get schedule/calendar objects
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Display ical file in details, distinguish between schedule/calendar
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Add controller to the Router
  java/code/src/com/suse/manager/webui/Router.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add details view for schedules
  web/html/src/manager/maintenance/maintenance-schedules-details.js
Labels: ui, javascript_lint

Get detailed schedule info
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add maintenance schedule base class
  web/html/src/manager/maintenance/maintenance-schedules.js
Labels: ui, javascript_lint

Controller save method
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceScheduleJson.java
  web/html/src/manager/maintenance/maintenance-schedules-edit.js
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Update MenuTree, add translation strings
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Rename MaintenanceScheduleJson -> MaintenanceWindowJson
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/utils/gson/MaintenanceWindowJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Rename maintenance-schedules -> maintenance-windows
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
  web/html/src/manager/index.js
  web/html/src/manager/maintenance/index.js
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix calendar data refresh
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Add Calendar column in schedule list
  web/html/src/manager/maintenance/maintenance-schedules-list.js
Labels: ui, javascript_lint

Create MenuTree item
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use the Table component for the details view
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: ui, javascript_lint

Support refreshing calendars from url
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  web/html/src/manager/maintenance/maintenance-windows-details.js
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

virt: add disk format field
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  schema/spacewalk/common/tables/rhnActionVirtCreateDiskDetails.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/002-rhnActionVirtCreateDiskDetails-add-fields.sql
  web/html/src/manager/virtualization/guests/properties/GuestDiskFileFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskVolumeFields.js
  web/html/src/manager/virtualization/guests/properties/disk-utils.js
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Timeout version of 'I wait until table row for "test-vm" contains button "Resume"'
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop

virt: get pool capabilities in GuestProperties
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/guests/properties/GuestDiskFields.js
  web/html/src/manager/virtualization/guests/properties/GuestDisksPanel.js
Labels: ui, javascript_lint

Update changelogs
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/spacewalk-web.changes
Labels: java, ui, database, javascript_lint, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql
