Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*

Automatic commit of package [spacewalk-backend] release [4.0.31-1].
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  rel-eng/packages/spacewalk-backend
Labels: backend_unittests_pgsql

Automatic commit of package [spacewalk-certs-tools] release [4.0.16-1].
  rel-eng/packages/spacewalk-certs-tools
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
Labels: none

Automatic commit of package [spacewalk-client-tools] release [4.0.13-1].
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  rel-eng/packages/spacewalk-client-tools
Labels: none

Automatic commit of package [spacewalk-java] release [4.0.32-1].
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Automatic commit of package [spacewalk-proxy-installer] release [4.0.12-1].
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  rel-eng/packages/spacewalk-proxy-installer
Labels: proxy

Automatic commit of package [spacewalk-utils] release [4.0.17-1].
  rel-eng/packages/spacewalk-utils
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.spec
Labels: none

Bump version to 4.0.6
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

Automatic commit of package [spacewalk-web] release [4.0.20-1].
  rel-eng/packages/spacewalk-web
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

Automatic commit of package [susemanager] release [4.0.23-1].
  rel-eng/packages/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

Automatic commit of package [susemanager-nodejs-sdk-devel] release [1.0.14-1].
  rel-eng/packages/susemanager-nodejs-sdk-devel
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.spec
Labels: none

Automatic commit of package [susemanager-schema] release [4.0.19-1].
  rel-eng/packages/susemanager-schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Automatic commit of package [susemanager-sls] release [4.0.25-1].
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Automatic commit of package [susemanager-tftpsync] release [4.0.6-1].
  rel-eng/packages/susemanager-tftpsync
  tftpsync/susemanager-tftpsync/susemanager-tftpsync.changes
  tftpsync/susemanager-tftpsync/susemanager-tftpsync.spec
Labels: none

Automatic commit of package [susemanager-tftpsync-recv] release [4.0.6-1].
  rel-eng/packages/susemanager-tftpsync-recv
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.spec
Labels: none

Add hint to edit formulas before applying state
  web/html/src/manager/groups/formula/group-formula-selection.renderer.js
  web/html/src/manager/minion/formula/minion-formula-selection.renderer.js
Labels: ui, javascript_lint

reposync speedup: process more packages between commits
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

reposync speedup: stream with bigger buffer
  uyuni/common-libs/common/rhn_pkg.py
Labels: none

reposync speedup: avoid wrapper class
  backend/server/importlib/importLib.py
Labels: python3, backend_unittests_pgsql

reposync speedup: get sequence numbers in batches
  backend/server/importlib/backend.py
  backend/server/rhnSQL/sql_sequence.py
Labels: python3, backend_unittests_pgsql

Changelogs updated
  backend/spacewalk-backend.changes
  uyuni/common-libs/uyuni-common-libs.changes
Labels: backend_unittests_pgsql

Check that reposync works as expected
  testsuite/features/reposync/srv_check_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/reposync.yml
  testsuite/run_sets/virtualization.yml
Labels: testing, ci-pipelines, ruby_rubocop

change messages to point people to the SUSE support
  backend/satellite_tools/satsync.py
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
Labels: java, API, python3, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests

translate satellite_tools
  backend/po/Makefile
  backend/po/spacewalk-backend-server.pot
Labels: backend_unittests_pgsql

remove unused about messages
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

use default sender address from web namespace
  backend/satellite_tools/reposync.py
Labels: python3, backend_unittests_pgsql

update changelog
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

Do not produce 500 errors with empty and UTF files (bsc#1167265)
  tftpsync/susemanager-tftpsync-recv/add.wsgi
Labels: none

Update changelog for susemanager-tftpsync-recv
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
Labels: none

Avoid multiple base channels when onboarding minions (bsc#1167871)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Avoid multiple base channels when onboarding minions (bsc#1167871)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Avoid multiple base channels when onboarding minions (bsc#1167871)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Avoid multiple base channels when onboarding minions (bsc#1167871)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add the API end point to manage package state
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Remove the auto assigning product packages during channel assignment and bootstrapping
  java/code/src/com/redhat/rhn/domain/state/StateFactory.java
  java/code/src/com/redhat/rhn/domain/state/test/StateFactoryTest.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

add tests for new end point in API
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Return the generic list of packages
  java/code/src/com/redhat/rhn/domain/rhnpackage/PackageFactory.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/test/PackageManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

change log
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

updated the message because of we don't add product packages automatically in package state
  branding/java/code/src/com/redhat/rhn/branding/strings/StringResource_en_US.xml
Labels: none

API end point for listing the packagestate
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/PackageStateSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

suggested changes
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests
