Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Use the Table component for the details view
  web/html/src/manager/maintenance/maintenance-windows-details.js
Labels: ui, javascript_lint

Adjustments in the JS scheduler
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Change webui to reflect controller changes
  web/html/src/manager/maintenance/maintenance-windows-edit.js
  web/html/src/manager/maintenance/maintenance-windows-list.js
  web/html/src/manager/maintenance/maintenance-windows.js
Labels: ui, javascript_lint

Adapt controller class to handle schedules/calendars individually
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Check if minion is in maintenance mode when running recurring actions
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract rendering action scheduler fragments to separate functions
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Set state using setState in the React component
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Forgotten adjustments after reverting grey-out support for the scheduling options
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
Labels: java, webapp, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract hibernate code from MaintenanceManager to MaintenanceFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adjust the Maint. controller to use POJO instead of Triple for maint. windows
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Turn methods to static ones for consistency
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Unify the Maintenance windows controllers
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Fix system id computation in SSM channel assignment UI
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
Labels: ui, javascript_lint

Revert "Set state using setState in the React component"
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Slighly improve the state assignment; Make the maint. window picker wider
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Make cluster UI maintenance-windows aware
  web/html/src/manager/clusters/join-cluster/join-cluster.js
  web/html/src/manager/clusters/remove-node/remove-node.js
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
Labels: ui, javascript_lint

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Remove unnecessary check from action chains renderer
  web/html/src/components/action-schedule.js
Labels: ui, javascript_lint

Fix JS lint error
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
Labels: ui, javascript_lint

Add UI warning when dealing with multiple maintenance schedules
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowController.java
  web/html/src/components/action-schedule.js
Labels: java, ui, javascript_lint, java_lint_checkstyle, java_pgsql_tests

Revert "JSP: Support for greying out date picker"
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/common/fragments/date-picker.jsp
Labels: java, webapp, API, java_lint_checkstyle, java_pgsql_tests

Make image build UI maintenance-windows aware
  web/html/src/manager/images/image-build.js
Labels: ui, javascript_lint

Refactor: Also get rid of the useless 'Maintenance' word in the MaintenanceManager methods
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Move the rescheduling-related code to a separate package
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/rescheduling/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleException.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleResult.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/test/MaintenanceHandlerTest.java
  java/code/src/com/suse/manager/xmlrpc/serializer/RescheduleResultSerializer.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Turn getScheduleEventsAtDate into getCalendarEventsAtDate
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract Ical-related methods to a separate class
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/IcalUtilsTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Explicitly control the lifecycle of MaintenanceManager instances
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/struts/MaintenanceWindowHelper.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Remove unused method
  java/code/src/com/suse/manager/maintenance/rescheduling/CancelRescheduleStrategy.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Move more hibernate-related methods to the MaintenanceFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceFactory.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Revert: Protected -> private in MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Better naming for methods
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Split the MaintenanceFactory to ScheduleFactory and CalendarFactory
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/factory/CalendarFactory.java
  java/code/src/com/suse/manager/maintenance/factory/ScheduleFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adjust comments
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

RescheduleStrategyType class
  java/code/src/com/suse/manager/maintenance/rescheduling/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/FailRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/rescheduling/RescheduleStrategyType.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Correct indentation
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Protected -> private in MaintenanceManager
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Re-arrange the MaintenanceManager methods
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/factory/ScheduleFactory.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix the javadoc, remove dangling comment
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Improve the mapping of string to RescheduleStrategy
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
