Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Add Salt implementation for virt volume delete action
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/volume-deleted.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add volume delete button in the Web UI
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: ui, javascript_lint

Handle VirtNotifications for volume actions
  java/code/src/com/suse/manager/webui/websocket/VirtNotifications.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

ActionApi: allow modifying the template URL on the fly
  web/html/src/manager/virtualization/ActionApi.js
  web/html/src/manager/virtualization/guests/virtualization-guest-action-api.js
  web/html/src/manager/virtualization/pools/virtualization-pools-action-api.js
Labels: ui, javascript_lint

Add virtual volume delete action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/BaseVirtualizationVolumeAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionVirtVolDelete.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.1.6-to-susemanager-schema-4.1.7/001-add_virt_pool_actions_rhnActionType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.6-to-susemanager-schema-4.1.7/002-rhnActionVirtVolDelete.sql
Labels: java, API, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Handle volumes in VirtualizationPoolsActionApi component
  web/html/src/manager/virtualization/pools/pool-properties.js
  web/html/src/manager/virtualization/pools/virtualization-pools-action-api.js
Labels: ui, javascript_lint

Add REST API to trigger virtual volume delete action
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/utils/gson/VirtualVolumeBaseActionJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add cucumber test for virtual volume delete action
  testsuite/features/secondary/minkvm_guests.feature
Labels: testing, secondary-features, ruby_rubocop

Add mgrclusters meta custom module for Salt
  susemanager-utils/susemanager-sls/src/modules/mgrclusters.py
Labels: none

Add initial SLS states files for managing clusters
  susemanager-utils/susemanager-sls/salt/clusters/addnode.sls
  susemanager-utils/susemanager-sls/salt/clusters/listnodes.sls
  susemanager-utils/susemanager-sls/salt/clusters/removenode.sls
Labels: none

Add CaaSP Cluster Provider Management module for Salt
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Change format for custom Salt 'caasp.list_nodes' output
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Implement 'upgrade_cluster' method on CaaSP cluster manager
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Set default timeout to 20 minutes for Skuba commands
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Add SLS file for clusters.createcluster state
  susemanager-utils/susemanager-sls/salt/clusters/createcluster.sls
Labels: none

Sanizite values returned by skuba CLI
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Set SSH_AUTH_SOCK env if available for clusters SLS states
  susemanager-utils/susemanager-sls/salt/clusters/addnode.sls
  susemanager-utils/susemanager-sls/salt/clusters/listnodes.sls
  susemanager-utils/susemanager-sls/salt/clusters/removenode.sls
Labels: none

Take care of <none> values on skuba output
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Implement cluster creation methods for CaaSP cluster
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Fix salt.utils.path.which import in 2016.11 codebase
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Introduce 'upgrade_node' and optional parameters
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Add comments and fix identation
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Add gateway for mgrclusters.create_cluster module
  susemanager-utils/susemanager-sls/src/modules/mgrclusters.py
Labels: none

Add 'mgrclusters' and 'mgr_caasp_manager' Salt modules to spec file
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: none

Fix upgrade_cluster skuba commands args
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Cosmetic changes at method signature
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Pass 'cloud_provider' and 'strict_capability_defaults' to cluster_init
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

Make clusters SLS files to require util.syncmodules
  susemanager-utils/susemanager-sls/salt/clusters/addnode.sls
  susemanager-utils/susemanager-sls/salt/clusters/createcluster.sls
  susemanager-utils/susemanager-sls/salt/clusters/listnodes.sls
  susemanager-utils/susemanager-sls/salt/clusters/removenode.sls
Labels: none

Use unique state ids between different clusters states
  susemanager-utils/susemanager-sls/salt/clusters/addnode.sls
  susemanager-utils/susemanager-sls/salt/clusters/createcluster.sls
  susemanager-utils/susemanager-sls/salt/clusters/listnodes.sls
  susemanager-utils/susemanager-sls/salt/clusters/removenode.sls
Labels: none

Add missing upgradecluster.sls file
  susemanager-utils/susemanager-sls/salt/clusters/upgradecluster.sls
Labels: none

Rename some parameters to have better consistency
  susemanager-utils/susemanager-sls/src/modules/mgr_caasp_manager.py
Labels: none

hide message from log
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

add doc issue template
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE_DOCUMENTATION.md
Labels: none

Improve the link for creating doc issues
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Edits per feedback
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

edit doc repo in template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

Add docs issue template
  .github/ISSUE_TEMPLATE_DOCUMENTATION.md
Labels: none

Add the guidelines for the community contributors
  .github/PULL_REQUEST_TEMPLATE.md
Labels: none

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
