Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Add error control to content lifecycle steps
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Don't check for tools when on Uyuni
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

call saltutil.sync_all before calling highstate (bsc#1152673)
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  backend/spacewalk-backend.changes
  java/spacewalk-java.changes
Labels: java, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests

provide isUyuni function
  backend/common/rhnConfig.py
Labels: python3, backend_unittests_pgsql

point to new doc server and differentiate between SUSE Manager and Uyuni
  backend/server/rhnServer/server_hardware.py
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, python3, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests

provide isUyuni function
  backend/common/rhnConfig.py
Labels: python3, backend_unittests_pgsql

point to new doc server and differentiate between SUSE Manager and Uyuni
  backend/server/rhnServer/server_hardware.py
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, python3, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests

update changelog
  backend/spacewalk-backend.changes
  java/spacewalk-java.changes
Labels: java, backend_unittests_pgsql, java_lint_checkstyle, java_pgsql_tests

call saltutil.sync_all before calling highstate (bsc#1152673)
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

update changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move all the routes initialization calls into the controllers
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/ActivationKeysController.java
  java/code/src/com/suse/manager/webui/controllers/CVEAuditController.java
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/manager/webui/controllers/FormulaCatalogController.java
  java/code/src/com/suse/manager/webui/controllers/FormulaController.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/controllers/ImageProfileController.java
  java/code/src/com/suse/manager/webui/controllers/ImageStoreController.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/code/src/com/suse/manager/webui/controllers/SsmController.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/controllers/SubscriptionMatchingController.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/TaskoTop.java
  java/code/src/com/suse/manager/webui/controllers/VisualizationController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Different button on Uyuni
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: testing, secondary-features, ruby_rubocop

Different button on Uyuni
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: testing, secondary-features, ruby_rubocop

Remove tabs and use spaces
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelog for susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Preserve 'payg' attribute when refreshing virtual instances
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add payg to rhnVirtualInstance DB schema
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.1-to-susemanager-schema-4.1.2/100-add-payg-to-virtualinstance.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Set payg attribute when doing Hardware refresh
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Set custom 'is_payg_instance' grain when instance is PAYG
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
Labels: none

Fix VirtualInstance.getPayg to take care of possible NULL values
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Exclude PAYG instances when feeding the subscription matcher
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelog for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix broken schema migration file
  schema/spacewalk/upgrade/susemanager-schema-4.1.1-to-susemanager-schema-4.1.2/100-add-payg-to-virtualinstance.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Do not exclude systems without virtual instance
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Update changelog for spacewalk-java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Only exclude products for PAYG instances and not the entitlements
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adapt jUnit test to take care of entitlements
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

jUnit: check that PAYG instances are not passed to the MatcherJson
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Use CHAR(1) instead BOOLEAN as DB column type
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.hbm.xml
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.1-to-susemanager-schema-4.1.2/100-add-payg-to-virtualinstance.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Use primitive boolean for VirtualInstance payg attribute
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Set payg as NOT NULL attribute in the database
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.1-to-susemanager-schema-4.1.2/100-add-payg-to-virtualinstance.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Fix changelog entry for spacewalk-java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

Move payg attribute to rhnServer
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/common/tables/rhnVirtualInstance.sql
  schema/spacewalk/upgrade/susemanager-schema-4.1.1-to-susemanager-schema-4.1.2/100-add-payg-to-rhnServer.sql
Labels: java, database, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

Fix changelog entry for susemanager-schema
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

Clean up code and use standard names for parameters
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix java lint issues
  java/code/src/com/redhat/rhn/domain/server/Server.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix lint issues
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Manager bsc1162129 (#1844)
  proxy/installer/configure-proxy.sh
  proxy/installer/spacewalk-proxy-installer.changes
Labels: proxy

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
