Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

Update node_modules to address security alerts
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
Labels: none

Add python-singledispatch to SLE12+ and RES7 bootstrap repo
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

Add python-singledispatch to SLE12+ and RES7 bootstrap repo
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

Add missing cleanup of bind formula
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Cleanup tasks
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Test list of all Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Add step to click on schedules details/edit/delete buttons
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop

Test group Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Test minion Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Add Recurring Actions to run_sets/secondary
  testsuite/run_sets/secondary.yml
Labels: testing, ci-pipelines, ruby_rubocop

Test yourorg Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Test admin-org Recurring Actions
  testsuite/features/secondary/min_recurring_action.feature
Labels: testing, secondary-features, ruby_rubocop

Customize time picker step to work with multiple pickers
  testsuite/features/step_definitions/datepicker_steps.rb
  web/html/src/components/picker/recurring-event-picker.js
Labels: ui, testing, javascript_lint, ruby_rubocop

Use int instead of long for either Python 2 or 3
  client/rhel/spacewalk-client-tools/src/bin/rhn_check.py
Labels: python3

Update changelog for spacewalk-client-tools
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
Labels: none

Use int instead of long for either Python 2 or 3
  client/rhel/spacewalk-client-tools/src/bin/rhn_check.py
Labels: python3

Update changelog for spacewalk-client-tools
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
Labels: none

Use int instead of long for either Python 2 or 3
  client/rhel/rhn-client-tools/src/bin/rhn_check.py
Labels: python3

Update changelog for spacewalk-client-tools
  client/rhel/rhn-client-tools/spacewalk-client-tools.changes
Labels: none

do not build for uyuni on openSUSE
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: none

take license from skelcd package convert it to HTML
  susemanager-branding-oss/eula.html
  susemanager-branding-oss/license.txt
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: none

update changelog
  susemanager-branding-oss/susemanager-branding-oss.changes
Labels: none

do not build for uyuni on openSUSE
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: none

Update changelog for susemanager
  susemanager/susemanager.changes
Labels: susemanager_unittests

Update changelog for susemanager
  susemanager/susemanager.changes
Labels: susemanager_unittests

Add missing cleanup of bind formula
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Add bind option "empty-zones-enable no"
  testsuite/features/upload_files/massive-import-terminals.yml
Labels: testing, ci-pipelines, ruby_rubocop

Add bind option "empty-zones-enable no"
  testsuite/features/upload_files/massive-import-terminals.yml
Labels: testing, ci-pipelines, ruby_rubocop

Add missing cleanup of bind formula
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Add bind option "empty-zones-enable no"
  testsuite/features/upload_files/massive-import-terminals.yml
Labels: testing, ci-pipelines, ruby_rubocop

Fix virtual pool creation with devices
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-create.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add missing cleanup of bind formula
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Add bind option "empty-zones-enable no"
  testsuite/features/upload_files/massive-import-terminals.yml
Labels: testing, ci-pipelines, ruby_rubocop

Enhance wait in virtual pool creation test
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Virtual pool creation UI: fix pool type change
  web/html/src/manager/virtualization/pools/pool-properties.js
  web/html/src/manager/virtualization/pools/properties/fields-data.js
Labels: ui, javascript_lint

Do not build susemanager-branding-oss on SLE aarch64
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: none

Do not build susemanager-branding-oss on SLE aarch64
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: none

Enhance wait in virtual pool creation test
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, secondary-features, ruby_rubocop

Virtual pool creation UI: fix pool type change
  web/html/src/manager/virtualization/pools/pool-properties.js
  web/html/src/manager/virtualization/pools/properties/fields-data.js
Labels: ui, javascript_lint

Fix virtual pool creation with devices
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  susemanager-utils/susemanager-sls/salt/virt/pool-create.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
