Repository uyuni-project/uyuni, changes with the labels that .github/labeler.yml gives for each.
All labels: java, ui, webapp, cobbler, documentation, proxy, API, Virtualization management, monitoring, python3, database, content-management, testing, core-features, secondary-features, ci-pipelines, backend_unittests_pgsql, javascript_lint, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

createSchedule with maintenance calendar label
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Always rollback when no strategy succeeded
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

unit test: test action chains
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

install ical4j
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

use full return type
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

remove not wanted single date
  java/code/src/com/suse/manager/maintenance/test/testdata/maintenance-windows-kde.ics
Labels: java, java_lint_checkstyle, java_pgsql_tests

handle empty system id sets
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

configure api doc for new destination
  java/build.xml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

fix timezone for tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Handle reschedule case "Fail" and return detailed reschedule informations
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/maintenance/CancelRescheduleStrategy.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/RescheduleResult.java
  java/code/src/com/suse/manager/xmlrpc/maintenance/MaintenanceHandler.java
  java/code/src/com/suse/manager/xmlrpc/serializer/RescheduleResultSerializer.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Extract function for parsing calendar from string
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Fix Javadoc
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Extract function for getting events at given time
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Check for maintenance windows when scheduling actions
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Don't make backend dependant on XMLRPC, handle the exception translation on XMLRPC side
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Minor: Rename function
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Support checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Address review comments
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Checkstyle
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Test checking for maintenance windows when scheduling actions
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Refactor: Extract exception-to-fault translation to a separate class
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ExceptionTranslator.java
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Fix tests
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Only check actions with no pre-requisites when checking for maintenance mode
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Add separate client tools for Oracle (same URL as CentOS)
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Add separate client tools for Oracle (same URL as CentOS)
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: none

Fix for bsc#1171461 - Ubuntu shows removed packages
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
Labels: none

Make Oracle 8 Appstream channel a child of Oracle 8 channel
  utils/spacewalk-common-channels.ini
Labels: none

Revert "Merge pull request #2201 from uyuni-project/faster-clm"
  java/code/src/com/redhat/rhn/common/db/datasource/CachedStatement.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/domain/errata/impl/UnpublishedErrata.java
  java/code/src/com/redhat/rhn/frontend/events/test/CloneErrataActionTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Revert "Merge pull request #2201 from uyuni-project/faster-clm"
  java/code/src/com/redhat/rhn/common/db/datasource/CachedStatement.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/domain/errata/impl/UnpublishedErrata.java
  java/code/src/com/redhat/rhn/frontend/events/test/CloneErrataActionTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
  java/spacewalk-java.changes
Labels: java, API, java_lint_checkstyle, java_pgsql_tests

Make Oracle 8 Appstream channel a child of Oracle 8 channel
  utils/spacewalk-common-channels.ini
Labels: none

Fix tests
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

Adds changelog entrywq
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Fix for bsc#1171461 - Ubuntu shows removed packages
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
Labels: none

Adds changelog entrywq
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Fix for bsc#1171461 - Ubuntu shows removed packages (#11510)
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: none

Enable support for bootstrapping CentOS/Oracle Linux 6, 7 and 8 on Uyuni and SUSE Manager
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

use defined return values for spacecmd methods so scripts can check for failure (bsc#1171687)
  spacecmd/src/bin/spacecmd
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/group.py
  spacecmd/src/spacecmd/report.py
  spacecmd/src/spacecmd/scap.py
  spacecmd/src/spacecmd/shell.py
  spacecmd/src/spacecmd/ssm.py
  spacecmd/src/spacecmd/system.py
Labels: python3

use defined return values for spacecmd methods so scripts can check for failure (bsc#1171687)
  spacecmd/spacecmd.changes
Labels: python3

Avoid traceback when logging non-ascii characters on mgr-inter-sync (bsc#1170331)
  backend/satellite_tools/syncLib.py
Labels: python3, backend_unittests_pgsql

Enable support for bootstrapping CentOS/Oracle Linux 6, 7 and 8 on Uyuni and SUSE Manager
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

.github/labeler.yml:

#Dev Labels
java: 
- java/*
- java/**/*
ui: 
- web/*
- web/**/*
webapp: 
- java/code/webapp/*
- java/code/webapp/**/*
cobbler: 
- java/code/src/org/cobbler/*
- java/code/src/org/cobbler/**/*
documentation: 
- documentation/*
- documentation/**/*
proxy: 
- proxy/*
- proxy/**/*
API: 
- java/code/src/com/redhat/rhn/frontend/*
- java/code/src/com/redhat/rhn/frontend/**/*
Virtualization management: 
- java/code/src/com/suse/manager/virtualization/*
- java/code/src/com/suse/manager/virtualization/**/*
monitoring: 
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/*
- java/code/src/com/suse/manager/webui/services/impl/test/monitoring/**/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/*
- java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/**/*
python3: 
- java/**/*.py
- backend/**/*.py
- client/**/*.py
- susemanager/**/*.py
- spacecmd/*
- spacecmd/**/*
database: 
- schema/spacewalk/*
- schema/spacewalk/**/*
content-management: 
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/*
- java/code/src/com/suse/manager/webui/controllers/contentmanagement/**/*

#QA Labels
testing: 
- testsuite/*
- testsuite/**/*
core-features: 
- testsuite/features/core/*
- testsuite/features/core/**/*
secondary-features: 
- testsuite/features/secondary/*
- testsuite/features/secondary/**/*
ci-pipelines: 
- testsuite/**/*.yml

#Unit tests
backend_unittests_pgsql: 
- backend/*
- backend/**/*
javascript_lint: 
- web/*
- web/**/*
java_lint_checkstyle: 
- java/*
- java/**/*
java_pgsql_tests: 
- java/*
- java/**/*
ruby_rubocop: 
- testsuite/*
- testsuite/**/*
schema_migration_test_oracle: 
- schema/spacewalk/*
- schema/spacewalk/**/*
schema_migration_test_pgsql: 
- schema/spacewalk/*
- schema/spacewalk/**/*
susemanager_unittests: 
- susemanager/*
- susemanager/**/*
