Repository uyuni-project/uyuni, pull requests merged in 2019-05, with the labels that each got.

#1011 Apache configuration: cache vendors folder
  spacewalk/config/etc/httpd/conf.d/zz-spacewalk-www.conf
Labels: 4.0

#1017 Remove workaround for bsc#1132908
  testsuite/features/core_proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: 4.0

#985 More thorougly disable the Salt mine in util.mgr_mine_config_clean_up…
  susemanager-utils/susemanager-sls/salt/util/mgr_mine_config_clean_up.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: 4.0

#1020 ubuntu: spacewalk-repo-sync needs to handle the file:// scheme
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: 4.0, Ubuntu, bug, debian

#1000 Let softwarechannel_errata_sync fallback on vendor errata (bsc#1132914)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/test/ErrataHandlerTest.java
  java/spacewalk-java.changes
Labels: 4.0

#1022 Check bootstrap events in chronological order
  testsuite/features/step_definitions/salt_steps.rb
Labels: 4.0

#992 Support system groups with the prometheus-exporters-formula and monitoring entitlements
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/prometheus/pillar.example
  java/code/src/com/suse/manager/webui/controllers/FormulaController.java
  java/spacewalk-java.changes
Labels: 4.0

#1016 Fix SSM package upgrade list item selection (bsc#1133421)
  java/code/src/com/redhat/rhn/frontend/dto/SsmUpgradablePackageListItem.java
  java/spacewalk-java.changes
Labels: 4.0

#1023 Update link to documentation in server monitoring UI
  web/html/src/manager/admin/config/monitoring-admin.js
Labels: 4.0

#1019 Report Monitoring products to subscription matcher
  java/code/src/com/redhat/rhn/domain/product/test/SUSEProductTestUtils.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceManufacturer.java
  java/code/src/com/redhat/rhn/manager/content/test/sccdata_lifecycle_products/organizations_orders.json
  java/code/src/com/redhat/rhn/manager/content/test/sccdata_lifecycle_products/organizations_subscriptions.json
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/testing/ServerTestUtils.java
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
  java/code/src/com/suse/manager/matcher/MatcherRunner.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/webui/services/impl/MonitoringService.java
  java/spacewalk-java.changes
Labels: 4.0

#1006 Fix channel sync status logic in products page (bsc#1131721)
  java/code/src/com/redhat/rhn/manager/setup/ProductSyncManager.java
  java/spacewalk-java.changes
Labels: 4.0

#1025 More reliable KVM tests
  testsuite/features/step_definitions/command_steps.rb
Labels: 4.0

#948 Add support for Salt Formulas to be used with standalone Salt
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/spacewalk-java.changes
  spacewalk/setup/salt/susemanager.conf
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/setup/spacewalk-setup.spec
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
Labels: 4.0

#1028 Fix spacewalk-setup.spec syntax and make dirs readable
  spacewalk/setup/spacewalk-setup.spec
Labels: 4.0

#998 TESTSUITE: wait for all events to complete when rolling back action chain effects
  testsuite/documentation/cucumber-steps.md
  testsuite/features/min_action_chain.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: 4.x
