Repository uyuni-project/uyuni, pull requests merged in 2019-06, with the labels that each got.

#1052 testsuite: fix VM start detection
  testsuite/features/step_definitions/command_steps.rb
Labels: 4.0, ruby

#1064 Force PyJWT and numpy dependencies
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: 4.0

#999 Testsuite - store login information via cookies
  testsuite/documentation/cucumber-steps.md
Labels: 4.x

#1115 Fix: typo
  java/code/src/com/suse/manager/webui/controllers/SSOController.java
Labels: 4.x

#1087 Add a missing --yes for apt-get in boostrap script
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: 4.x, Ubuntu, debian

#1117 Adapt spacewalk-client-tools and mgr-daemon to rhnsd.timer
  client/rhel/mgr-daemon/mgr-daemon.changes
  client/rhel/mgr-daemon/mgr-daemon.spec
  client/rhel/spacewalk-client-tools/50-spacewalk-client.preset
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/rhel/spacewalk-client-tools/src/up2date_client/rhnreg.py
Labels: 4.0.1

#1076 Testsuite: move product test to non-idempotent section
  testsuite/run_sets/testsuite.yml
Labels: 4.0.1

#1075 Testsuite: fix accidentally broken step
  testsuite/features/step_definitions/centos_tradclient.rb
Labels: 4.0.1

#1111 Testsuite: Kill reposync task until we don't find any for 120 seconds
  testsuite/features/step_definitions/command_steps.rb
Labels: 4.0.1

#1055 Fix css for more space between close button and text.
  web/html/src/components/toastr/toastr.css
Labels: 4.0.1

#1057 XML-RPC API call for server monitoring
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/AdminMonitoringHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/test/AdminMonitoringHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/handler-manifest.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/MonitoringException.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/SatelliteHandler.java
  java/spacewalk-java.changes
Labels: 4.0.1

#1050 Add ubuntu channels to spacewalk-common-channels
  utils/spacewalk-common-channels
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: 4.0.1, to port 4.0

#1048 Added help links to Content Management pages.
  web/html/src/manager/content-management/list-filters/list-filters.js
  web/html/src/manager/content-management/list-projects/list-projects.js
  web/html/src/manager/content-management/project/project.js
Labels: 4.0.1

#1118 Fix mgr-virtualization remaining ugettext call
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/virtualization/support.py
Labels: 4.0.1

#1032 Explicitly mention in API docs that to preserve LF/CR, user needs to encode the data
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/ConfigChannelHandler.java
  java/spacewalk-java.changes
Labels: 4.x

#1062 Let 10 minutes for package list refresh to happen
  testsuite/features/step_definitions/centos_tradclient.rb
Labels: 4.0.1

#1039 Disable credentials delete button when credentials are being verified
  web/html/javascript/susemanager-setup-wizard-mirror-credentials.js
Labels: 4.0.1

#1104 Power off VM before deleting it
  susemanager-utils/susemanager-sls/salt/virt/deleted.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  testsuite/features/minkvm_guests.feature
  testsuite/features/minxen_guests.feature
Labels: 4.0.1

#1045 Master - big formula checkbox fix
  branding/css/susemanager-theme.less
  branding/spacewalk-branding.changes
  web/html/src/components/formulas/FormulaComponentGenerator.js
  web/spacewalk-web.changes
Labels: 4.0.1

#1021 Cucumber tests for the server monitoring UI
  testsuite/features/srv_monitoring.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/run_sets/testsuite.yml
Labels: 4.0.1

#1119 Leftover from cherrypicking
  testsuite/run_sets/testsuite.yml
Labels: 4.0.1

#1127 Fix Hibernate unit tests SQL error
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
Labels: 4.0.1

#1105 bsc#1134677 - Keep querystring on ListTag parent_url for actions that have the cid param
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelErrataAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelPackagesAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelSubscribedAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/TargetSystemsConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/AddCustomErrataAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/AddRedHatErrataAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesAddAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesCompareAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesCompareMergeAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesCompareMergeConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ConfirmErrataAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ErrataCloneAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ErrataRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ListErrataAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/PublishErrataAction.java
  java/spacewalk-java.changes
Labels: 4.0.1

#1122 Adapt "require" to latest version of gem
  testsuite/features/support/setup_browser.rb
Labels: 4.x

#967 Cucumber output: let it be generated in a JSON format as well
  testsuite/Rakefile
Labels: 4.x

#1007 Cucumber output: do not embed screenshots, save files instead
  testsuite/features/support/setup_browser.rb
Labels: 4.x

#1130 Simplify get_os_version usage
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/client_stack.rb
  testsuite/features/support/minion_checks.rb
Labels: 4.x

#1123 Adapt Docker and OS image idempotency steps to SLE 15
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
Labels: 4.x
