Repository uyuni-project/uyuni, pull requests merged in 2020-10, with the labels that each got.

#2688 Testsuite - move expect package installation to different feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
Labels: core-features

#2692 Run mgr-inter-sync including non-vendor channels
  java/code/src/com/redhat/rhn/taskomatic/task/MgrSyncRefresh.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2696 Only show the missing hypervisor error message on Salt systems
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  web/html/src/manager/virtualization/HypervisorCheck.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
Labels: ui

#2674 powermanagement xmlrpc api
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/PowerManagementOperationFailedException.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/powermanagement/PowerManagementHandler.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerPowerCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerPowerSettingsUpdateCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerUnregisteredPowerSettingsUpdateCommand.java
  java/spacewalk-java.changes
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_xmlrpc_power_management.feature
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/xmlrpc_powermanagement.rb
  testsuite/run_sets/secondary.yml
Labels: API, ci-pipelines, java, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, secondary-features, testing

#2702 Add missing tags
  testsuite/features/secondary/buildhost_osimage_build_image.feature
Labels: secondary-features

#2705 Add LTSS to SLE12SP1/2/3/4 (bsc#1177524)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2708 Fix: reinspecting a container image (bsc#1177092)
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2695 Prevent IntegrityError during mgr-inter-sync execution (bsc#1177235)
  backend/satellite_tools/xmlSource.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2428 virt pools: trigger refresh only when getting a websocket event
  web/html/src/manager/virtualization/guests/GuestProperties.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/list/pools-list.renderer.js
  web/html/src/manager/virtualization/pools/virtualization-pools-list-refresh-api.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2700 Bugfix: renaming autoinstall distro didn't change the name of the Cobbler distro (bsc#1175876)
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerDistroHelper.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2706 Disable flush
  susemanager/rhn-conf/rhn_server_susemanager.conf
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2713 Update to salt-netapi-client v0.18.0
  java/buildconf/ivy/ivy-suse.xml
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/utils/salt/Grains.java
  java/code/src/com/suse/manager/webui/utils/salt/MinionStartEvent.java
  java/code/src/com/suse/manager/webui/utils/salt/State.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/Openscap.java
Labels: Virtualization management

#2698 enable redfish by default
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/template/StringResource_sk.xml
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_power_management_redfish.feature
  testsuite/features/secondary/srv_xmlrpc_power_management.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/upload_files/Redfish-Mockup-Server/AUTHORS.md
  testsuite/features/upload_files/Redfish-Mockup-Server/CHANGELOG.md
  testsuite/features/upload_files/Redfish-Mockup-Server/LICENSE.md
  testsuite/features/upload_files/Redfish-Mockup-Server/README.md
  testsuite/features/upload_files/Redfish-Mockup-Server/redfishMockupServer.py
  testsuite/features/upload_files/Redfish-Mockup-Server/requirements.txt
  testsuite/features/upload_files/Redfish-Mockup-Server/rfSsdpServer.py
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, java, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, secondary-features, testing

#2722 Move srv_organization_credentials to core features
  testsuite/features/core/srv_organization_credentials.feature
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/run_sets/core.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, core-features, ruby_rubocop, testing

#2723 Master weblate
  backend/po/es.po
  backend/po/it.po
  backend/po/pt_BR.po
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/nav/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/template/StringResource_sk.xml
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
Labels: backend_unittests_pgsql, python3

#2726 Add Ubuntu 20.04 for QAM
  testsuite/features/qam/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/features/qam/init_clients/ubuntu2004_minion.feature
  testsuite/features/qam/init_clients/ubuntu2004_ssh_minion.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/qam_add_custom_repositories.yml
  testsuite/run_sets/qam_init_clients.yml
Labels: ci-pipelines, ruby_rubocop, testing

#2733 Separate executor for ssh minion actions to allow parallel execution (bsc#1173199)
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/redhat/rhn/taskomatic/task/SSHMinionActionExecutor.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnTaskoBunch.sql
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.2-to-susemanager-schema-4.2.3/200-minionSSHActionExecutor.sql
Labels: database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

#2716 Fix action chain resuming if patching salt-minion doesn't restart the service (bsc#1144447)
  java/code/src/com/suse/manager/webui/services/SaltActionChainGeneratorService.java
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
  java/code/src/com/suse/manager/webui/utils/SaltCmdScript.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/actionchains/force_restart_minion.sh
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2738 Enable ppc64le for CentOS7 and CentOS8
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#2337 Show cluster upgrade plan in the cluster upgrade UI
  java/code/src/com/suse/manager/clusters/ClusterManager.java
  java/code/src/com/suse/manager/clusters/ClusterProviderParameters.java
  java/code/src/com/suse/manager/clusters/test/ClusterManagerTest.java
  java/code/src/com/suse/manager/clusters/test/cluster.upgrade.success.json
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/webui/controllers/clusters/ClustersController.java
  java/code/src/com/suse/manager/webui/controllers/clusters/templates/upgrade.jade
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/TestSystemQuery.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/ClusterOperationsSlsResult.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/ClusterUpgradePlanSlsResult.java
  java/manager-build.xml
  java/spacewalk-java.changes
  susemanager-utils/cluster-providers/caasp/uyuni-cluster-provider-caasp/metadata/metadata.yml
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/html/src/manager/clusters/shared/api/use-clusters-api.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster-plan.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.renderer.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2746 QA: On bind formula we don't need dnssec settings anymore
  testsuite/features/core/proxy_branch_network.feature
Labels: core-features

#2744 Testsuite: Add test for salt minion ssh push via tunnel
  testsuite/documentation/cucumber-steps.md
  testsuite/features/core/srv_create_activationkey.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/trad_ssh_push.feature
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, core-features, ruby_rubocop, secondary-features, testing

#2727 Enforce to create bootstrap repo
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2751 Use @long_test tag for more long tests
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features

#2753 Path has changed on Ubuntu 20.04
  testsuite/features/secondary/min_ubuntu_openscap_audit.feature
Labels: secondary-features

#2749 Run nosetests for satellite_tools unit tests with verbose output
  backend/test/docker-backend-tools-tests.sh
Labels: backend_unittests_pgsql

#2757 Adapt Debian10 bootstrap repository definition for salt on Python 3
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2519 Re-adds ability to download from local mirrors
  backend/common/repo.py
  backend/common/test/unit-test/test_repo.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2771 New sanity check: HTTP proxy
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features

#2772 Salt autoinst advanced options
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/kickstart/schedule/advanced.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/kickstart/schedule/kernel-options.jspf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2770 Helper to create new DB migration file in right directory
  schema/spacewalk/Makefile
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#2781 QA: Make sure we stop salt-minion service on clean-up
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/minssh_bootstrap_xmlrpc.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: secondary-features

#2780 Improve token checking
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/log4j.properties
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests
