Repository uyuni-project/uyuni, pull requests merged in 2020-04, with the labels that each got.

#2100 Testsuite - traditional clients bootstrapped by script
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
  testsuite/features/init_clients/sle_client.feature
  testsuite/features/qam/init_clients/proxy.feature
  testsuite/features/qam/init_clients/sle11sp4_client.feature
  testsuite/features/qam/init_clients/sle12sp4_client.feature
  testsuite/features/qam/init_clients/sle15_client.feature
  testsuite/features/qam/init_clients/sle15sp1_client.feature
  testsuite/features/secondary/trad_baremetal_discovery.feature
  testsuite/features/secondary/trad_mgr_bootstrap.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/secondary/trad_ssh_push.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/bootstrap-traditional.exp
Labels: secondary-features

#2097 Fix sp migration without target product
  java/buildconf/ivy/obs-maven-config.yaml
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/distupgrade/DistUpgradeManager.java
  java/code/src/com/redhat/rhn/manager/distupgrade/test/DistUpgradeManagerTest.java
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-target.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1708 Bug 1163121: Fix the original-clone channel relationship for CLM channels
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/channel/ClonedChannel.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2107 Testsuite: Add test for monitoring feature
  testsuite/features/secondary/min_centos_monitoring.feature
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2064 Refactoring 3 uyuni
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/VirtualizationEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/test/HostBuilder.java
  java/code/src/com/redhat/rhn/domain/server/test/VirtualInstanceFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSubmitActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/test/ProxyHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/SatelliteHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/test/SatelliteHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/config/ServerConfigHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/config/test/ServerConfigHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/crash/CrashHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/snapshot/SnapshotHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/snapshot/test/SnapshotHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/external/test/UserExternalHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/test/MinionActionManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitlementManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/test/TestVirtManager.java
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/test/VirtualPoolsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/services/iface/RedhatProductInfo.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/iface/VirtManager.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
Labels: API

#2120 Protect against bad mirrors
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features

#2110 Add dbus-1-glib to SLE12 to allow onboarding of JeOS SLE12SP5 clients
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2119 Testsuite: Use the right repository
  testsuite/features/secondary/min_monitoring.feature
Labels: secondary-features

#2123 Align with Yomi tests
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features

#2116 refresh pillar data on the minion after generating new channel pillar data
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/spacewalk-java.changes
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, java, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, secondary-features, testing

#2127 Uyuni fix oes2018 bootstrap data
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2095 Bootstrap minions using an SSH private key via Web UI
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/RegularMinionBootstrapperTest.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/utils/InputValidator.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapParameters.java
  java/code/src/com/suse/manager/webui/utils/test/InputValidatorTest.java
  java/spacewalk-java.changes
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2118 Testuite - bootstrap script used for minion client
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/bootstrap-general.exp
Labels: secondary-features

#2132 Uyuni hide updatetag message
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2136 Add support for extra HTTP headers for "spacewalk-repo-sync" on RPM repos
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/spacewalk-extra-http-headers
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql

#2143 Fix email option reposync
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2154 Reposync speedup part 1
  backend/satellite_tools/reposync.py
  backend/server/importlib/backend.py
  backend/server/importlib/importLib.py
  backend/server/rhnSQL/sql_sequence.py
  backend/spacewalk-backend.changes
  uyuni/common-libs/common/rhn_pkg.py
  uyuni/common-libs/uyuni-common-libs.changes
Labels: backend_unittests_pgsql, python3

#2159 Use salt for registration in kickstart for selected install types
  backend/rhn-conf/rhn.conf
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartData.java
  java/code/src/com/redhat/rhn/domain/kickstart/test/KickstartDataTest.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/KickstartHelper.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/test/ScheduleKickstartWizardTest.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/tree/test/TreeActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/systems/virtualization/test/ProvisionVirtualizationWizardActionTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/channel/test/ChannelManagerTest.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartFormatter.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartScheduleCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/test/KickstartScheduleCommandTest.java
  java/code/src/com/redhat/rhn/manager/kickstart/test/ProvisionVirtualInstanceCommandTest.java
  java/code/src/com/redhat/rhn/testing/ChannelTestUtils.java
  java/conf/cobbler/snippets/redhat_register_using_salt
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: backend_unittests_pgsql, java, java_lint_checkstyle, java_pgsql_tests

#2157 Reposync speedup part 2
  backend/server/importlib/backend.py
  backend/server/importlib/backendOracle.py
  backend/server/rhnSQL/__init__.py
  backend/server/rhnSQL/driver_postgresql.py
  backend/server/rhnSQL/sql_base.py
  schema/spacewalk/postgres/tables/rhnPackageCapability_index.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.1.6-to-susemanager-schema-4.1.7/003-rhnpackagecapability-name-index.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#2151 Image management forms fixes
  java/code/src/com/redhat/rhn/domain/action/salt/build/ImageBuildAction.java
  java/code/src/com/redhat/rhn/domain/image/ImageProfile.java
  java/code/src/com/suse/manager/webui/controllers/ImageProfileController.java
  java/spacewalk-java.changes
  web/html/src/manager/images/image-build.js
  web/html/src/manager/images/image-profile-edit.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2161 Handle custom info values in image profiles
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/images/docker.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2164 Reposync speedup part 4
  backend/satellite_tools/reposync.py
  backend/server/importlib/backend.py
  backend/server/rhnSQL/__init__.py
  backend/server/rhnSQL/driver_postgresql.py
Labels: backend_unittests_pgsql, python3

#2165 Cucumber test for bootstrapping minion with SSH key
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/ssh_keypair/id_rsa_bootstrap-passphrase_linux
  testsuite/features/upload_files/ssh_keypair/id_rsa_bootstrap-passphrase_linux.pub
  testsuite/run_sets/secondary.yml
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2176 Update spacewalk-web.changes file
  web/spacewalk-web.changes
Labels: javascript_lint, ui
