Repository uyuni-project/uyuni, pull requests merged in 2020-06, with the labels that each got.

#2267 Rename a testsuite file
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/sle-updates.yml
Labels: ci-pipelines, ruby_rubocop, testing

#2255 Testsuite: fix URL in README
  testsuite/README.md
Labels: ruby_rubocop, testing

#2234 Manager bsc1171687
  spacecmd/spacecmd.changes
  spacecmd/src/bin/spacecmd
  spacecmd/src/spacecmd/activationkey.py
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/cryptokey.py
  spacecmd/src/spacecmd/custominfo.py
  spacecmd/src/spacecmd/distribution.py
  spacecmd/src/spacecmd/errata.py
  spacecmd/src/spacecmd/filepreservation.py
  spacecmd/src/spacecmd/group.py
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/src/spacecmd/misc.py
  spacecmd/src/spacecmd/org.py
  spacecmd/src/spacecmd/package.py
  spacecmd/src/spacecmd/repo.py
  spacecmd/src/spacecmd/report.py
  spacecmd/src/spacecmd/scap.py
  spacecmd/src/spacecmd/schedule.py
  spacecmd/src/spacecmd/shell.py
  spacecmd/src/spacecmd/snippet.py
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/src/spacecmd/ssm.py
  spacecmd/src/spacecmd/system.py
  spacecmd/src/spacecmd/user.py
  spacecmd/tests/test_activationkey.py
  spacecmd/tests/test_package.py
  spacecmd/tests/test_repo.py
  spacecmd/tests/test_snippet.py
Labels: python3

#2262 Validate CLM projects on build/promote with XMLRPC
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentFilterTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ModuleFilterTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentProjectValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ContentValidatorTestBase.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ContentValidationFaultException.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/test/ContentManagementHandlerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/list-filters/filter-form.js
Labels: API, content-management, java, java_lint_checkstyle, java_pgsql_tests

#2183 Switching bootstrapping packages to python3 for Ubuntu 18.04
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2271 Highstate on bootstrap with entitlements
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2270 Remove lowercase character limit in image profile label
  web/html/src/manager/images/image-profile-edit.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2206 Update Software Channel list coloring
  branding/css/susemanager-tables.less
  java/code/src/com/redhat/rhn/frontend/taglibs/UnpagedListDisplayTag.java
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests

#2288 Adds missing bsc number
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2278 Ubuntu repo syncs are using http proxy
  backend/common/repo.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2168 Pass primary minion ip to the salt runner
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrKiwiImageRunner.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/runners/kiwi-image-collect.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2289 Fix several problems with client logs acquisition
  testsuite/features/finishing/allcli_debug.feature
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/finishing/srv_susemanager_debug.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/finishing.yml
  testsuite/run_sets/qam_finishing.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/sle-updates.yml
  testsuite/run_sets/virtualization.yml
Labels: ci-pipelines, ruby_rubocop, testing

#2292 Avoid traceback with AssertionError: Failed to update row (bsc#1172558)
  java/code/src/com/redhat/rhn/domain/rhnset/RhnSetFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2298 Fix SSH action remaining in pending state on salt err (bsc#1169604)
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2297 Increase api version for 41
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2296 Drop unpublished errata functionality (API and commandline tools)
  java/code/src/com/redhat/rhn/common/security/acl/test/ErrataAclHandlerTest.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/domain/errata/test/ErrataFactoryTest.java
  java/code/src/com/redhat/rhn/domain/errata/test/ErrataTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ChannelActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/EditActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/NotifyActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/NotifySetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/test/ErrataHandlerTest.java
  java/scripts/api/channelsoftwaretests.py
  java/spacewalk-java.changes
  scripts/clone-errata/README
  scripts/clone-errata/rhn-clone-errata.py
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2280 Drop unpublished errata functionality (Web UI)
  java/code/src/com/redhat/rhn/common/security/acl/ErrataAclHandler.java
  java/code/src/com/redhat/rhn/common/security/acl/test/ErrataAclHandlerTest.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ChannelAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ChannelSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/CloneConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/CloneConfirmSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/CreateAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/CreateSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/CloneConfirmActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/CloneConfirmSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/CreateActionTest.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/webapp/WEB-INF/nav/manage_errata.xml
  java/code/webapp/WEB-INF/pages/admin/errata/cloneconfirm.jsp
  java/code/webapp/WEB-INF/pages/errata/create.jsp
  java/code/webapp/WEB-INF/struts-config.xml
  testsuite/features/secondary/srv_patches_page.feature
Labels: secondary-features, webapp

#1859 TESTSUITE: Add tests for content staging in Ubuntu minion
  testsuite/features/secondary/min_ubuntu_salt_install_with_staging.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2318 Fix bootstrap repo create without flush
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2316 Improve saltssh error parsing
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2333 Enable osimage_build_host for additional archs (bsc#1149101, bsc#1172076)
  java/code/src/com/redhat/rhn/domain/entitlement/test/OSImageBuildHostEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.1.8-to-susemanager-schema-4.1.9/001-osimage-build-host-enable-archs.sql
Labels: database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

#2329 Disable beta tag
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2339 Virt console: compute the websocket location on browser side
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/console.jade
  java/spacewalk-java.changes
  web/html/src/manager/virtualization/guests/console/guests-console.js
  web/html/src/manager/virtualization/guests/console/guests-console.renderer.js
  web/spacewalk-web.changes
Labels: Virtualization management, bug

#2328 Maintenance windows - action schedule react component
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceWindowData.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceController.java
  java/code/src/com/suse/manager/webui/controllers/MaintenanceWindowsParams.java
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/common/fragments/date-picker.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/maintenance-window-picker.jsp
  web/html/src/components/action-schedule.js
  web/html/src/manager/clusters/join-cluster/join-cluster.js
  web/html/src/manager/clusters/remove-node/remove-node.js
  web/html/src/manager/clusters/shared/ui/schedule-cluster-action.js
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.js
  web/html/src/manager/images/image-build.js
  web/html/src/manager/state/highstate.js
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.js
Labels: API

#2350 Cucumber: fix salt-minion start/stop/restart for KVM and Xen
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: bug, testing

#2345 Prevent deadlock on suseusernotification (bsc#1173073)
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1434 Add a workflow for running checkstyle
  .github/workflows/java-checkstyle.yml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2348 Fix Combobox dropdown list being cutoff
  branding/css/susemanager-theme.less
  branding/css/uyuni/uyuni-theme.less
  branding/spacewalk-branding.changes
Labels: merge-candidate

#2351 Fix recurring actions shown in Task Schedules UI
  java/code/src/com/redhat/rhn/frontend/action/tasko/ScheduleDetailAction.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate
