Repository uyuni-project/uyuni, pull requests merged in 2020-02, with the labels that each got.

#1779 Exclude base products from PAYG (Pay-As-You-Go) instances when feeding the subscription matcher
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
  java/code/src/com/suse/manager/matcher/test/MatcherJsonIOTest.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnServer.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.1.1-to-susemanager-schema-4.1.2/100-add-payg-to-rhnServer.sql
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

#1835 Migrate pillar and formula data on minion id change
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1643 Refine the conditions for cleanup on monitoring entitlement removal
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
  java/code/src/com/redhat/rhn/manager/formula/test/prometheus-exporters-pillar.example
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1913 Enable provisioning api for salt systems
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1661 CaaSP: enable minion blackout on minion onboarding
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/common/security/acl/Access.java
  java/code/src/com/redhat/rhn/domain/product/test/SUSEProductTestUtils.java
  java/code/src/com/redhat/rhn/frontend/events/RefreshPillarEvent.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
  java/code/src/com/suse/manager/reactor/messaging/RefreshPillarEventAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.caasp.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/templates/minion/minion-header.jade
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system-header.jspf
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests

#1833 Get the grains that we check on every startup from the start event
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/controllers/NotificationMessageController.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/utils/salt/Grains.java
  java/code/src/com/suse/manager/webui/utils/salt/MinionStartEvent.java
  java/code/src/com/suse/manager/webui/utils/salt/MinionStartupGrains.java
  java/spacewalk-java.changes
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
  susemanager-utils/susemanager-sls/salt/util/mgr_start_event_grains.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1616 allow custom fqdns values from grains (bsc#1155281)
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/hardware.profileupdate.x86.custom.fqdns.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/HwProfileUpdateSlsResult.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests
