Repository uyuni-project/uyuni, pull requests merged in 2020-08, with the labels that each got.

#2418 Warn user when multiple group formulas are active
  web/html/src/components/FormulaForm.js
  web/spacewalk-web.changes
Labels: formulas, javascript_lint, ui, usability

#2441 Reading pickle file in binary mode when error happens
  proxy/proxy/broker/rhnRepository.py
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy

#2273 Enable Nutanix AHV virtual host gatherer
  schema/spacewalk/common/data/rhnVirtualInstanceState.sql
  schema/spacewalk/common/data/rhnVirtualInstanceType.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.0-to-susemanager-schema-4.2.1/003-Add-new-states-and-types-for-virtual-instances.sql
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager.js
  web/spacewalk-web.changes
Labels: database, javascript_lint, schema_migration_test_oracle, schema_migration_test_pgsql, ui

#2399 Manager bsc1169780
  susemanager/bin/migrate-cobbler.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2475 Reset proxy path on registration
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2489 QAM testsuite - configure branch server
  testsuite/features/qam/init_clients/branch.feature
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/run_sets/qam_init_proxy.yml
Labels: ci-pipelines, ruby_rubocop, testing

#2492 Use of natural language for bullet style
  testsuite/features/secondary/srv_monitoring.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/constants.rb
Labels: secondary-features

#1259 Implement installer updates
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/product/MgrSyncChannelDto.java
  java/code/src/com/redhat/rhn/domain/scc/SCCRepository.java
  java/code/src/com/redhat/rhn/frontend/dto/SetupWizardProductDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/MgrSyncChannelDtoSerializer.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/MgrSyncProductDtoTest.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/TreeCreateOperation.java
  java/code/src/com/redhat/rhn/manager/setup/ProductSyncManager.java
  java/code/src/com/suse/manager/model/products/Channel.java
  java/code/src/com/suse/manager/model/products/test/ProductTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/scc/model/SCCRepositoryJson.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnChannel.sql
  schema/spacewalk/common/tables/suseSCCRepository.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.0-to-susemanager-schema-4.2.1/010-add-installer_updates-rhnChannel.sql
  schema/spacewalk/upgrade/susemanager-schema-4.2.0-to-susemanager-schema-4.2.1/011-add-installer_updates-suseSCCRepository.sql
  susemanager/src/mgr_sync/channel.py
  susemanager/src/mgr_sync/mgr_sync.py
  susemanager/src/test/fixtures/list_channels.data
  susemanager/src/test/fixtures/list_channels_simplified.data
  susemanager/src/test/fixtures/list_products.data
  susemanager/src/test/fixtures/list_products_simplified.data
  susemanager/susemanager.changes
Labels: API, database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

#2391 Enhance spacecmd with Service Pack migration operations
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/system.py
Labels: python3

#2499 Use spacewalk keyring for GPG checks on DEB repos (bsc#1175485)
  backend/common/repo.py
  backend/common/test/unit-test/test_repo.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2503 Take care of SCC auth tokens on DEB repos GPG checks (bsc#1175485)
  backend/common/repo.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2504 Clone installer update flag
  backend/satellite_tools/disk_dumper/dumper.py
  backend/satellite_tools/exporter/exportLib.py
  backend/satellite_tools/xmlSource.py
  backend/server/importlib/backend.py
  backend/server/importlib/backendOracle.py
  backend/server/importlib/importLib.py
  backend/spacewalk-backend.changes
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/manager/channel/CloneChannelCommand.java
Labels: backend_unittests_pgsql, python3

#2506 Fix: use quiet API method when using spacewalk-common-channels (bsc#1175529)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/spacewalk-java.changes
  utils/spacewalk-common-channels
  utils/spacewalk-utils.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2510 Fix autoyast full iso
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2522 Only regenerate bootstrap repositories when linking new packages (bsc#1174636)
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2518 Package and install translations
  java/build.xml
  susemanager/susemanager.spec
  web/po/Makefile
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, susemanager_unittests, ui

#2539 Fix the KVM and Xen tests to select NAT network
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/support/constants.rb
Labels: testing

#2512 Cucumber tests installer updates
  testsuite/features/reposync/srv_check_installer_updates.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/run_sets/reposync.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2543 Fix EntityExistsException on migration from traditional to salt minion via proxy
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests
