Repository uyuni-project/uyuni, pull requests merged in 2020-03, with the labels that each got.

#1976 Make "spacewalk-repo-sync" to always use the same centralized RPM database (bsc#1163468)
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

#1411 Reposync Release checksum verification mechnism
  backend/common/repo.py
  backend/common/test/test_repo.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
  backend/test/docker-backend-common-tests.sh
  backend/test/docker-backend-pgsql-tests.sh
Labels: 4.x, Ubuntu, backend_unittests_pgsql, python3

#1929 Clean stale Content Environment targets & Prevent users from trigerring Content Project build/promote when colliding operation is in progress
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/manager/satellite/StartupTasksCommand.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1917 Support Debian 9/10 as clients
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/Debian10.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
Labels: python3, susemanager_unittests

#1915 Basic Astra Linux CE "Orel" support
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/AstraLinuxCEorel.sls
  susemanager-utils/susemanager-sls/salt/certs/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#2026 XMLRPC API: add proxy.listProxyClients
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/test/ProxyHandlerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2051 Add missing cleanup of bind formula
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: secondary-features

#2072 1791111 - improve performance of cleanup-data-bunch
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Task_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2061 Fix: unable to be redirected to the IdP when SSO is enabled (bsc#1167667)
  java/code/src/com/suse/manager/webui/controllers/login/LoginController.java
  java/code/src/com/suse/manager/webui/controllers/test/LoginControllerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2073 New YAML file for sanity check
  testsuite/run_sets/core.yml
  testsuite/run_sets/sanity_check.yml
Labels: ci-pipelines, ruby_rubocop, testing

#2075 Manager bsc1168069
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2069 Bootstrap minions using an SSH private key via XMLRPC
  java/code/src/com/redhat/rhn/frontend/xmlrpc/LoggingInvocationProcessor.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
  java/code/src/com/suse/manager/webui/services/iface/SystemQuery.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrRunner.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
  java/code/src/com/suse/manager/webui/utils/SaltRoster.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapHostsJson.java
  java/code/src/com/suse/manager/webui/utils/gson/BootstrapParameters.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: API, java, java_lint_checkstyle, java_pgsql_tests

#2034 Refactoring the validation of a package installed
  testsuite/documentation/cucumber-steps.md
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_salt_install_package.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/min_salt_software_states.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_centos_salt_install_package_and_patch.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/secondary/trad_cve_audit.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/lavanda.rb
Labels: core-features, ruby_rubocop, secondary-features, testing

#2080 Adding a Yard Doc task in Rake for Living Documentation
  testsuite/Gemfile
  testsuite/Rakefile
Labels: ruby_rubocop, testing
