Repository uyuni-project/uyuni, pull requests merged in 2020-09, with the labels that each got.

#2511 Clarify action behind Repository button
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/channel/manage/channelrepos.jsp
  testsuite/features/core/srv_create_repository.feature
  testsuite/features/qam/add_custom_repositories/add_ceos6_repositories.feature
  testsuite/features/qam/add_custom_repositories/add_ceos7_repositories.feature
  testsuite/features/qam/add_custom_repositories/add_mu_repository.template
  testsuite/features/qam/add_custom_repositories/add_ubuntu1604_repositories.feature
  testsuite/features/qam/add_custom_repositories/add_ubuntu1804_repositories.feature
Labels: core-features

#2566 Use assigned proxy to detect salt client organization
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2502 Uyuni configuration states (users/orgs/groups)
  susemanager-utils/susemanager-sls/Makefile.python
  susemanager-utils/susemanager-sls/src/README.md
  susemanager-utils/susemanager-sls/src/doc/README.md
  susemanager-utils/susemanager-sls/src/doc/uyuni_config_execution_module_doc.txt
  susemanager-utils/susemanager-sls/src/doc/uyuni_config_state_module_doc.txt
  susemanager-utils/susemanager-sls/src/examples/ldap/pillar_ldap.yaml
  susemanager-utils/susemanager-sls/src/examples/ldap/pillar_orgs.yaml
  susemanager-utils/susemanager-sls/src/examples/ldap/uyuni_users_ldap.sls
  susemanager-utils/susemanager-sls/src/examples/uyuni_config_hardcode.sls
  susemanager-utils/susemanager-sls/src/modules/uyuni_config.py
  susemanager-utils/susemanager-sls/src/states/uyuni_config.py
  susemanager-utils/susemanager-sls/src/tests/mockery.py
  susemanager-utils/susemanager-sls/src/tests/test_module_uyuni_config.py
  susemanager-utils/susemanager-sls/src/tests/test_state_uyuni_config.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
  testsuite/features/secondary/srv_user_configuration_salt_states.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/upload_files/salt/setup_users_configuration.sls
  testsuite/features/upload_files/salt/teardown_users_configuration.sls
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2498 Pass the log level to matcher
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
  java/code/src/com/suse/manager/matcher/MatcherRunner.java
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/SubscriptionMatchProcessor.java
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/test/SubscriptionMatchProcessorTest.java
  java/code/src/com/suse/matcher/json/MatchJson.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2587 Unify openscap file name convention
  testsuite/features/secondary/min_centos_openscap_audit.feature
  testsuite/features/secondary/min_ubuntu_openscap_audit.feature
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2575 Fix strings, mostly old "Satellite" ocurrences
  backend/satellite_exporter/satexport.py
  backend/server/handlers/sat/auth.py
  backend/server/handlers/xmlrpc/proxy.py
  backend/spacewalk-backend.changes
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/spacewalk-java.changes
  susemanager/susemanager.changes
  susemanager/yast/susemanager_cert.rb
  susemanager/yast/susemanager_manager.rb
  susemanager/yast/susemanager_reqs.rb
Labels: backend_unittests_pgsql, java, java_lint_checkstyle, java_pgsql_tests, python3, susemanager_unittests

#2590 There's no /etc/sysconfig/cron on official images
  testsuite/features/secondary/trad_config_channel.feature
Labels: secondary-features

#2557 Force disable SPA for non-navigation links (bsc#1175512)
  java/code/src/com/redhat/rhn/frontend/taglibs/list/CSVTag.java
  java/spacewalk-java.changes
  web/html/src/core/spa/spa-engine.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2602 Fix JavaScript error caused by SPA navigation event with empty event field (bsc#1176503)
  web/html/src/core/spa/spa-engine.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2604 QA: Refresh the pillar data before retrieve values, after save the formula with changes
  testsuite/features/secondary/min_salt_formulas_advanced.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: secondary-features

#2605 Fix the jQuery selector in SP Migration page
  web/html/javascript/susemanager-sp-migration.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2626 Log exception trace on fatal Taskomatic startup error
  java/code/src/com/redhat/rhn/taskomatic/core/TaskomaticDaemon.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2549 DB schema extension for Debian10-Minions on cpuarch=aarch64,osarch=arm64, Issue #2548
  schema/spacewalk/common/data/rhnChannelArch.sql
  schema/spacewalk/common/data/rhnChannelPackageArchCompat.sql
  schema/spacewalk/common/data/rhnChildChannelArchCompat.sql
  schema/spacewalk/common/data/rhnCpuArch.sql
  schema/spacewalk/common/data/rhnPackageArch.sql
  schema/spacewalk/common/data/rhnPackageUpgradeArchCompat.sql
  schema/spacewalk/common/data/rhnServerArch.sql
  schema/spacewalk/common/data/rhnServerChannelArchCompat.sql
  schema/spacewalk/common/data/rhnServerPackageArchCompat.sql
  schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.1-to-susemanager-schema-4.2.2/120-arm64.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#2608 Uyuni installer updates optional
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/smallBase/product_tree.json
  java/code/src/com/redhat/rhn/manager/content/test/smallBase/productsUnscoped.json
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2589 Fix SPMigration after dry run if channel is cloned (bsc#1176307)
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2532 Server side pagination with maintenance schedule system list page
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/dto/SystemScheduleDto.java
  java/code/src/com/redhat/rhn/frontend/listview/PageControl.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
  java/code/src/com/suse/manager/webui/utils/PageControlHelper.java
  java/code/src/com/suse/manager/webui/utils/gson/PagedDataResultJson.java
  java/code/src/com/suse/manager/webui/utils/test/PageControlHelperTest.java
  java/spacewalk-java.changes
  web/html/src/components/table/Column.js
  web/html/src/components/table/SearchField.js
  web/html/src/components/table/Table.js
  web/html/src/components/table/TableDataHandler.js
  web/html/src/manager/maintenance/details/schedule-details.js
  web/html/src/utils/data-providers/async-data-provider.js
  web/html/src/utils/data-providers/index.js
  web/html/src/utils/data-providers/page-control.js
  web/html/src/utils/data-providers/page-control.test.js
  web/html/src/utils/data-providers/paged-data-endpoint.js
  web/html/src/utils/data-providers/paged-data-endpoint.test.js
  web/html/src/utils/data-providers/simple-data-provider.js
  web/html/src/utils/data-providers/simple-data-provider.test.js
  web/html/src/utils/data-providers/types.js
  web/spacewalk-web.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2611 Warn user about missing hypervisor or libvirt binding
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/test/TestVirtManager.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualPoolsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/code/src/com/suse/manager/webui/services/iface/VirtManager.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionVirtualizationPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/show.jade
  java/code/src/com/suse/manager/webui/templates/virtualization/nets/show.jade
  java/code/src/com/suse/manager/webui/templates/virtualization/pools/show.jade
  java/spacewalk-java.changes
  web/html/src/manager/virtualization/HypervisorCheck.js
  web/html/src/manager/virtualization/guests/list/guests-list.js
  web/html/src/manager/virtualization/guests/list/guests-list.renderer.js
  web/html/src/manager/virtualization/nets/list/nets-list.js
  web/html/src/manager/virtualization/nets/list/nets-list.renderer.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
  web/html/src/manager/virtualization/pools/list/pools-list.renderer.js
  web/spacewalk-web.changes
Labels: Virtualization management, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2603 Testsuite: Hide internal details from Cucumber
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/features/init_clients/min_centos_salt.feature
  testsuite/features/init_clients/min_ubuntu_salt.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_centos_ssh.feature
  testsuite/features/secondary/min_empty_system_profiles.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_ubuntu_ssh.feature
  testsuite/features/secondary/minssh_bootstrap_xmlrpc.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/secondary/srv_custom_system_info.feature
  testsuite/features/secondary/srv_menu.feature
  testsuite/features/secondary/trad_centos_client.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/support/commonlib.rb
Labels: secondary-features

#2636 Enable different languages for Uyuni and SUSE Manager
  java/conf/rhn_java.conf
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2618 Fix the links for downloading the binaries in the package details UI (bsc#1176603)
  java/code/webapp/WEB-INF/pages/rhnpackage/packagedetail.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2606 Fix link to documentation in Admin -> Manager Configuration -> Monitoring (bsc#1176172)
  web/html/src/manager/admin/config/monitoring-admin.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2641 Move srv_organization_credentials to reposync features
  testsuite/features/reposync/srv_organization_credentials.feature
  testsuite/run_sets/reposync.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, testing

#2644 Ubuntu bootstrap repo modify
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2637 Revisit the RH strings occurences
  backend/satellite_tools/satsync.py
  backend/server/handlers/applet/applet.py
  backend/server/handlers/xmlrpc/registration.py
  client/rhel/spacewalk-client-tools/src/bin/rhn_check.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel5/rhn_choose_server_gui.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel5/rhn_create_profile_gui.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel5/rhn_finish_gui.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel5/rhn_login_gui.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel5/rhn_provide_certificate_gui.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel5/rhn_review_gui.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel5/rhn_start_gui.py
  client/rhel/spacewalk-client-tools/src/firstboot-legacy-rhel6/rhn_login_gui.py
  client/rhel/spacewalk-client-tools/src/up2date_client/config.py
  client/rhel/spacewalk-client-tools/src/up2date_client/rhnreg_constants.py
  client/rhel/spacewalk-client-tools/src/up2date_client/rpcServer.py
  client/rhel/spacewalk-client-tools/src/up2date_client/tui.py
  client/rhel/spacewalk-client-tools/src/up2date_client/up2dateErrors.py
  client/rhel/yum-rhn-plugin/rhnplugin.py
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: backend_unittests_pgsql, python3

#2640 add message about schema upgrade running
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-service.systemd
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#2648 Fix usercreation
  java/code/src/com/redhat/rhn/frontend/action/user/CreateUserAction.java
  java/code/src/com/redhat/rhn/manager/user/CreateUserCommand.java
  java/code/webapp/WEB-INF/pages/user/create/usercreate.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2657 Revert "Move srv_organization_credentials to reposync features"
  testsuite/features/secondary/srv_organization_credentials.feature
  testsuite/run_sets/reposync.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2658 Fix logrotate config
  susemanager/etc/logrotate.d/susemanager-tools
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2538 Uyuni master sorted fix for spacecmd
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/activationkey.py
Labels: python3

#2650 Feat: add support for i18n of user-facing strings
  spacecmd/po/Makefile
  spacecmd/po/Makevars
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
  spacecmd/src/bin/spacecmd
  spacecmd/src/spacecmd/activationkey.py
  spacecmd/src/spacecmd/api.py
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/cryptokey.py
  spacecmd/src/spacecmd/custominfo.py
  spacecmd/src/spacecmd/distribution.py
  spacecmd/src/spacecmd/errata.py
  spacecmd/src/spacecmd/filepreservation.py
  spacecmd/src/spacecmd/group.py
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/src/spacecmd/misc.py
  spacecmd/src/spacecmd/org.py
  spacecmd/src/spacecmd/package.py
  spacecmd/src/spacecmd/repo.py
  spacecmd/src/spacecmd/report.py
  spacecmd/src/spacecmd/scap.py
  spacecmd/src/spacecmd/schedule.py
  spacecmd/src/spacecmd/shell.py
  spacecmd/src/spacecmd/snippet.py
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/src/spacecmd/ssm.py
  spacecmd/src/spacecmd/system.py
  spacecmd/src/spacecmd/user.py
  spacecmd/src/spacecmd/utils.py
Labels: python3

#2547 Python3 fixes for errata in spacecmd
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/errata.py
Labels: python3
