Repository uyuni-project/uyuni, pull requests merged in 2020-05, with the labels that each got.

#2186 Manager bsc1169209
  susemanager/bin/mgr-setup
  susemanager/bin/migrate-cobbler.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2184 Fix bootstrap repo md caching
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/installer/squid.conf
Labels: proxy

#2187 Feat: make automatic system locking for cluster node (CaaSP) user configurable + change CaaSP detection
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.caasp-management.json
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.caasp-node.json
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.caasp.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2182 Enable support for syncing and bootstrapping Ubuntu 20.04 LTS
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/Ubuntu20.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#2189 Fix rendering of formula with form components with non-string values
  web/html/src/components/formulas/FormulaComponentGenerator.js
  web/spacewalk-web.changes
Labels: bug, javascript_lint, ui

#2201 Content Lifecycle Management: speedup
  java/code/src/com/redhat/rhn/common/db/datasource/CachedStatement.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Channel_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/errata/AbstractErrata.java
  java/code/src/com/redhat/rhn/domain/errata/Errata.java
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/domain/errata/impl/UnpublishedErrata.java
  java/code/src/com/redhat/rhn/frontend/events/test/CloneErrataActionTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2218 Check for maintenance windows when scheduling actions
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/action/server/test/ServerActionTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ExceptionTranslator.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/maintenance/NotInMaintenanceModeException.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerScheduleActionsTest.java
  java/code/src/com/suse/manager/maintenance/test/MaintenanceManagerTest.java
Labels: API, java, java_lint_checkstyle, java_pgsql_tests

#2228 Enable support for bootstrapping CentOS/Oracle Linux 6, 7 and 8 on Uyuni and SUSE Manager
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#2212 Ruby checkstyle GitHub Action
  .github/workflows/ruby-checkstyle.yml
  .rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
Labels: ruby_rubocop, testing

#2239 Testsuite - misleading name changed to ubuntu ssh minion
  testsuite/features/secondary/min_ubuntu_salt_install_package.feature
Labels: secondary-features

#2198 Testsuite: Decouple the minion from the Docker/Kiwi build host
  testsuite/README.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/documentation/static-run.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/init_clients/sle_buildhost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/sle-updates.yml
Labels: ci-pipelines, core-features, ruby_rubocop, secondary-features, testing

#2192 CLM AppStream filters: module picker controls
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ListModulesResponse.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModuleStreams.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiRequest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApiResponse.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/ContentManagementApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/AppStreamsApiController.java
  java/code/src/com/suse/manager/webui/utils/gson/ChannelsJson.java
  java/spacewalk-java.changes
  susemanager-utils/mgr-libmod/mgr-libmod.changes
  susemanager-utils/mgr-libmod/mgrlibmod/mllib.py
  web/html/src/components/input/Combo.js
  web/html/src/components/input/Combo.stories.js
  web/html/src/manager/content-management/list-filters/appstreams/appstreams.js
  web/html/src/manager/content-management/list-filters/appstreams/module-selector.js
  web/html/src/manager/content-management/list-filters/appstreams/select-input.js
  web/html/src/manager/content-management/list-filters/appstreams/text-input.js
  web/html/src/manager/content-management/list-filters/filter-form.js
  web/spacewalk-web.changes
Labels: content-management, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2204 Add virtual hosts to cucumber-steps.md
  testsuite/documentation/cucumber-steps.md
Labels: docs, ruby_rubocop, testing

#2247 handle centos urls that contain repo target in query string (bsc#1171996)
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2243 Replace toastr javascript lib with react-toastify
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/components/toastr/toastr.css
  web/html/src/components/toastr/toastr.js
  web/html/src/manager/content-management/create-project/create-project.renderer.js
  web/html/src/manager/content-management/list-filters/list-filters.renderer.js
  web/html/src/manager/content-management/list-projects/list-projects.renderer.js
  web/html/src/manager/content-management/project/project.renderer.js
  web/html/src/manager/minion/packages/package-states.renderer.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#1744 Make systemd services and timers enablement really quiet
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2244 Prevent failure when syncing from RHEL CDN due extra params (bsc#1171885)
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

#2215 Manager bsc1169536
  susemanager/bin/mgr-setup
  susemanager/bin/migrate-cobbler.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2260 Fix channel change message
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2195 Uyuni issue 10893 supportconfig speedup
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.changes
  susemanager-utils/supportutils-plugin-susemanager/supportconfig-sumalog
Labels: backend_unittests_pgsql

#2208 fix nullpointer by handling base channels with no parent channel (bsc…
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests
