Repository uyuni-project/uyuni, pull requests merged in 2020-12, with the labels that each got.

#2925 susemanager: Enhanced SPEC file and also included RHEL8 logic.
  susemanager/Makefile.defs
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

#2900 Fix the activation key handling from kickstart profile (bsc#1178647)
  java/conf/cobbler/snippets/minion_script
  java/conf/cobbler/snippets/redhat_register_using_salt
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2947 Generalize the message for reactivation keys
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2961 Fix question mark explanations for Recurring States
  web/html/src/components/picker/recurring-event-picker.js
  web/html/src/manager/state/recurring-states-edit.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2957 spacewalk-schema: Changed to versioned Python2 in SPEC file.
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#2954 spacewalk-backend: Added RHEL8 build.
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql

#2968 Skip image store test if registry is not available
  testsuite/features/core/srv_docker.feature
Labels: core-features

#2953 spacewalk-java: Added RHEL build support. Simplified SPEC file.
  java/buildconf/build-props.xml
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2877 Fix py3 proxy package manager
  proxy/proxy/pm/rhn_package_manager.py
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy

#2789 Adds some logging to the DpkgRepo class
  backend/common/repo.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2980 spacewalk-java: SPEC file updates
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2965 Add lang attribute to html tags
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_bare.jsp
  java/code/webapp/WEB-INF/decorators/layout_c.jsp
  java/code/webapp/WEB-INF/decorators/layout_equals.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2997 Fix XML-RPC tests
  testsuite/features/secondary/srv_xmlrpc_activationkey.feature
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/xmlrpc_activationkey.rb
Labels: secondary-features

#2921 Fix file download links
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/taglibs/ToolbarTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/rhn-taglib.tld
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/files/header.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/files/manage_header.jspf
  java/code/webapp/WEB-INF/pages/configuration/files/diff.jsp
  java/spacewalk-java.changes
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/support/twopence_init.rb
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, secondary-features

#2994 Fix permission issue in Salt user group
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2996 Move dist upgrade allow vendor change sql to newer directory
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#3000 spacewalk-backend: SPEC file update Python3 build requirements/Source0
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql

#3010 susemanager-schema: Use versioned Python2 for RHEL8 and Fedora.
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#3009 spacewalk-java: Updated RHEL8 jars
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2952 Use sanitized repo label to build reposync repo cache path (bsc#1179410)
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/spacewalk-backend.changes
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/repo/RepoDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/repo/InvalidRepoLabelException.java
  java/code/src/com/redhat/rhn/manager/channel/repo/BaseRepoCommand.java
  java/code/src/com/redhat/rhn/manager/channel/test/BaseRepoCommandTest.java
  java/spacewalk-java.changes
Labels: backend_unittests_pgsql, java, java_lint_checkstyle, java_pgsql_tests

#3008 Fix "working directory" on cucumber tests that rely on downloaded files
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/support/env.rb
Labels: secondary-features

#3006 Removal of gzipstream
  backend/satellite_tools/connection.py
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  projects/python-gzipstream/LICENSE
  projects/python-gzipstream/Makefile
  projects/python-gzipstream/Makefile.python
  projects/python-gzipstream/PKG-INFO
  projects/python-gzipstream/gzipstream.py
  projects/python-gzipstream/html/abc.ABCMeta-class.html
  projects/python-gzipstream/html/api-objects.txt
  projects/python-gzipstream/html/class-tree.html
  projects/python-gzipstream/html/crarr.png
  projects/python-gzipstream/html/epydoc.css
  projects/python-gzipstream/html/epydoc.js
  projects/python-gzipstream/html/frames.html
  projects/python-gzipstream/html/gzipstream-module.html
  projects/python-gzipstream/html/gzipstream-pysrc.html
  projects/python-gzipstream/html/gzipstream.GzipStream-class.html
  projects/python-gzipstream/html/gzipstream.GzipStreamXL-class.html
  projects/python-gzipstream/html/gzipstream._StreamBuf-class.html
  projects/python-gzipstream/html/help.html
  projects/python-gzipstream/html/identifier-index.html
  projects/python-gzipstream/html/index.html
  projects/python-gzipstream/html/module-tree.html
  projects/python-gzipstream/html/redirect.html
  projects/python-gzipstream/html/toc-everything.html
  projects/python-gzipstream/html/toc-gzipstream-module.html
  projects/python-gzipstream/html/toc.html
  projects/python-gzipstream/pylintrc
  projects/python-gzipstream/python-gzipstream.changes
  projects/python-gzipstream/python-gzipstream.spec
  projects/python-gzipstream/setup.py
  projects/python-gzipstream/test/test-gzipstream-huge.py
  projects/python-gzipstream/test/test-gzipstream-xml.py
  rel-eng/comps/comps-spacewalk-server-fedora24.xml
  rel-eng/comps/comps-spacewalk-server-fedora25.xml
  rel-eng/comps/comps-spacewalk-server-fedora26.xml
  rel-eng/comps/comps-spacewalk-server-rhel6.xml
  rel-eng/comps/comps-spacewalk-server-rhel7.xml
  rel-eng/packages/python-gzipstream
  rel-eng/push-packages-to-fedora.sh
  susemanager-utils/testing/docker/master/uyuni-master-base/add_packages.sh
Labels: backend_unittests_pgsql, python3

#2892 Fix: don't translate spacecmd logging
  spacecmd/po/Makevars
  spacecmd/spacecmd.changes
  spacecmd/src/bin/spacecmd
  spacecmd/src/spacecmd/activationkey.py
  spacecmd/src/spacecmd/api.py
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/cryptokey.py
  spacecmd/src/spacecmd/custominfo.py
  spacecmd/src/spacecmd/distribution.py
  spacecmd/src/spacecmd/errata.py
  spacecmd/src/spacecmd/group.py
  spacecmd/src/spacecmd/i18n.py
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/src/spacecmd/misc.py
  spacecmd/src/spacecmd/org.py
  spacecmd/src/spacecmd/package.py
  spacecmd/src/spacecmd/repo.py
  spacecmd/src/spacecmd/report.py
  spacecmd/src/spacecmd/scap.py
  spacecmd/src/spacecmd/schedule.py
  spacecmd/src/spacecmd/shell.py
  spacecmd/src/spacecmd/snippet.py
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/src/spacecmd/ssm.py
  spacecmd/src/spacecmd/system.py
  spacecmd/src/spacecmd/user.py
  spacecmd/src/spacecmd/utils.py
Labels: python3

#2995 Allow to specify 'Revision' when updating 'init.sls' via CLI or API
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/ConfigChannelHandler.java
  java/spacewalk-java.changes
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/configchannel.py
  testsuite/features/secondary/min_state_config_channel.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: java, java_lint_checkstyle, java_pgsql_tests, python3, secondary-features

#3027 Allow to specify file contents when creating state channel via API
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/ConfigChannelHandler.java
  java/spacewalk-java.changes
  testsuite/features/secondary/min_config_state_channel_xmlrpc.feature
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/xmlrpc_configchannel.rb
Labels: java, java_lint_checkstyle, java_pgsql_tests, secondary-features

#3042 Add support to debug using a browser (skip headless mode)
  testsuite/Gemfile
  testsuite/documentation/static-run.md
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: ruby_rubocop, testing

#3037 Fix deb repo detection
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3046 Testsuite: Restore idempotency
  testsuite/features/secondary/minssh_salt_install_package.feature
Labels: secondary-features

#3034 Improve misleading UI message displayed on systems with modules activated
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/decorators/layout_c.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2998 fix reboot action race condition (bsc#1177031)
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3047 Improve extra key handling
  backend/server/importlib/backend.py
  backend/server/importlib/backendOracle.py
  backend/server/rhnServer/server_packages.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, database, schema_migration_test_oracle, schema_migration_test_pgsql
