Repository uyuni-project/uyuni, pull requests merged in 2020-11, with the labels that each got.

#2783 Remove hostname from /var/lib/salt/.ssh/known_hosts when deleting system (bsc#1176159)
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerMockTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
  java/code/src/com/suse/manager/webui/services/test/TestSaltApi.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/runners/mgrutil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2761 Maintain list of synced images in pillar
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/code/src/com/suse/manager/reactor/messaging/ImageSyncedEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/ImageSyncedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/ImageSyncedEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/test/SaltStateGeneratorServiceTest.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/ImageSyncedEvent.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/engines/mgr_events.py
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2790 ISS: Differentiate packages with same nevra but different checksum (bsc#1178195)
  backend/satellite_exporter/handlers/non_auth_dumper.py
  backend/satellite_tools/satsync.py
  backend/satellite_tools/xmlWireSource.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2774 Remove mentions of "Spacewalk" and "Satellite" from API docs
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/distchannel/DistChannelHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/KickstartHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/profile/ProfileHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/tree/KickstartTreeHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/org/OrgHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/packages/PackagesHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/packages/provider/PackagesProviderHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/SatelliteHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/satellite/test/SatelliteHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/sync/master/MasterHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/scap/SystemScapHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/external/UserExternalHandler.java
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests

#2776 CLM: fix XMLRPC docs and XMLRPC validation
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentPropertiesValidator.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ValidationException.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/EnvironmentApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/EnvironmentHandler.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/FilterApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/FilterHandler.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectActionsApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectActionsHandler.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectHandler.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ValidationUtils.java
  java/code/src/com/suse/manager/webui/utils/gson/ResultJson.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/shared/api/use-lifecycle-actions-api.js
Labels: API, content-management, java, java_lint_checkstyle, java_pgsql_tests

#2804 Fix repo url of AppStream in generated RHEL/Centos 8 kickstart file (bsc#1175739)
  java/code/src/com/redhat/rhn/domain/kickstart/RepoInfo.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2809 Fix truncate messages
  java/code/src/com/suse/manager/webui/websocket/RemoteMinionCommands.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2812 Fix: make spacecmd build on Debian
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
Labels: python3

#2815 Get mediaproducts for cloned channels
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2694 XMLRPC: Report architecture label in the list of installed packages
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2820 Fix sp migration on iss slave
  java/code/src/com/redhat/rhn/domain/product/test/SUSEProductTestUtils.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/distupgrade/test/DistUpgradeManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2817 Distinguish when creating config or config state channel
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/channel/propertybody.jspf
  java/code/webapp/WEB-INF/pages/configuration/channel/channelcreate.jsp
  testsuite/features/secondary/min_config_state_channel.feature
  testsuite/features/secondary/min_state_config_channel.feature
Labels: secondary-features

#2813 Improve supportutils plugins
  backend/satellite_tools/rhn-schema-stats
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.changes
  susemanager-utils/supportutils-plugin-susemanager-client/supportutils-plugin-susemanager-client.changes
  susemanager-utils/supportutils-plugin-susemanager-client/susemanagerclient
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.changes
  susemanager-utils/supportutils-plugin-susemanager-proxy/susemanagerproxy
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes
  susemanager-utils/supportutils-plugin-susemanager/susemanager
  susemanager-utils/supportutils-plugin-susemanager/susemanager-connection-check.pl
Labels: backend_unittests_pgsql

#2825 Uyunify missing translations
  backend/common/rhnException.py
  backend/satellite_tools/messages.py
  backend/satellite_tools/satsync.py
  backend/server/rhnChannel.py
  client/rhel/spacewalk-client-tools/rhn_register.desktop.in
  client/rhel/spacewalk-client-tools/src/up2date_client/rhnregGui.py
  spacecmd/src/spacecmd/api.py
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/src/spacecmd/package.py
Labels: backend_unittests_pgsql, python3

#2843 Port of changelog bsc entry (bsc#1178204)
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#2844 Change message "Minion is down" to be more accurate
  java/code/src/com/suse/manager/reactor/messaging/BatchStartedEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2830 Successfully manage and sync ULN repositories
  backend/common/suseLib.py
  backend/satellite_tools/repo_plugins/uln_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/spacewalk-uln-resolver
  backend/spacewalk-backend.changes
  java/code/src/com/redhat/rhn/manager/channel/repo/BaseRepoCommand.java
  java/code/src/com/redhat/rhn/manager/channel/test/BaseRepoCommandTest.java
  java/spacewalk-java.changes
Labels: backend_unittests_pgsql, java, java_lint_checkstyle, java_pgsql_tests, python3

#2847 Report resolved module dependencies on CLM project UI
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/Module.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModuleInfo.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ModularDependencyValidatorTest.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolutionResult.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolver.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/list-filters/list-filters.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2848 Testsuite: Use an xml available in the centos minion
  testsuite/features/secondary/min_centos_openscap_audit.feature
Labels: secondary-features

#2816 Added RHEL8 support
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: javascript_lint, ui

#2851 Update copyright to 2020
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  testsuite/features/secondary/srv_mainpage.feature
Labels: secondary-features

#2873 Testsuite: Fix srv_content_lifecycle tests
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features

#2879 Testsuite: scroll up to help Selenimum driver to find the button
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features

#2870 Sanity tests for new location of Docker profiles
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features

#2894 OpenSCAP packages are installed on CentOS too
  testsuite/features/secondary/min_centos_openscap_audit.feature
Labels: secondary-features

#2882 mgr-setup: Added RHEL/CentOS compatibility.
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

#2884 spacewalk-schema-upgrade: Don't fail on empty os-release line.
  schema/spacewalk/spacewalk-schema-upgrade
  schema/spacewalk/susemanager-schema.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#2862 Do not raise TypeError when changing base channel during trad registration (bsc#1178704)
  backend/server/rhnChannel.py
  backend/server/rhnServer/server_class.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2897 Allow specifying both name and label of new Content Environment (bsc#1176411)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-form.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-view.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment.utils.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2895 Testsuite: Few changes to match our name conventions
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/min_centos_salt_install_package_and_patch.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/trad_ssh_tunnel.feature
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#2912 Remove salt cleanup when unregistering
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/minssh_bootstrap_xmlrpc.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: secondary-features

#2918 Quote the proxy settings to be used by Zypper (bsc#1179087)
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

#2919 Testsuite: Use different user for testsuite HTTP proxy
  testsuite/features/core/first_settings.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features

#2869 Fix mandatory channels JS API to finish loading in case of error (bsc#1178839)
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/spacewalk-java.changes
  web/html/src/core/channels/api/use-mandatory-channels-api.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#2927 Fix incorrect password autocompletion on older Firefox
  java/code/webapp/WEB-INF/pages/admin/setup/mirror-credentials.jsp
  java/code/webapp/WEB-INF/pages/admin/setup/proxy-settings.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/user/edit_user_table_rows.jspf
  java/spacewalk-java.changes
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, susemanager_unittests, ui

#2876 Implement React unit testing
  susemanager-frontend/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/components/table/Table.test.js
  web/html/src/jest.config.js
  web/html/src/package.json
  web/html/src/utils/data-providers/paged-data-endpoint.test.js
  web/html/src/utils/test-utils/index.js
  web/html/src/utils/test-utils/setup.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#2898 Ignore docker network interfaces when reporting list of systems duplicated by IP address
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests
