Repository uyuni-project/uyuni, pull requests merged in 2020-01, with the labels that each got.

#1713 Formula ordering
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
  susemanager-utils/susemanager-sls/test/data/formula_order.json
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/bind/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/bind/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/branch-network/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/branch-network/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/cpu-mitigations/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/cpu-mitigations/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/dhcpd/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/dhcpd/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/grafana/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/grafana/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/image-synchronize/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/image-synchronize/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/locale/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/locale/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/prometheus-exporters/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/prometheus-exporters/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/prometheus/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/prometheus/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/pxe/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/pxe/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/saltboot/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/saltboot/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/tftpd/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/tftpd/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/virtualization-host/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/virtualization-host/metadata.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/vsftpd/form.yml
  susemanager-utils/susemanager-sls/test/data/formulas/metadata/vsftpd/metadata.yml
  susemanager-utils/susemanager-sls/test/data/group_formulas.json
  susemanager-utils/susemanager-sls/test/data/minion_formulas.json
  susemanager-utils/susemanager-sls/test/test_pillar_suma_minion.py
Labels: java, java_lint_checkstyle, java_pgsql_tests

#1829 Fix count of changes to build in CLM (bsc#1160940)
  web/html/src/manager/content-management/shared/components/panels/build/build.js
  web/spacewalk-web.changes
Labels: merge-candidate

#1832 Remove debugging code
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate

#1698 XMLRPC API: overload system.scheduleChangeChannels to target multiple systems
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#1831 count only changes which are tagged with a sign
  web/html/src/manager/content-management/shared/components/panels/build/build.js
Labels: merge-candidate

#1487 Fix for bsc#1153578 (FQDN issue)
  utils/spacewalk-utils.changes
Labels: 4.x, bug

#1845 Get rid of unused run sets
  testsuite/run_sets/testsuite.yml
  testsuite/run_sets/uyuni.yml
Labels: merge-candidate

#1850 Spell "successfully" correctly
  client/rhel/spacewalk-client-tools/src/actions/README
  client/rhel/spacewalk-client-tools/src/actions/reboot.py
  client/rhel/spacewalk-client-tools/src/bin/rhn_check.py
  java/code/src/com/redhat/rhn/common/db/datasource/xml/config_queries.xml
  java/code/src/com/redhat/rhn/frontend/action/help/ForgotCredentialsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/LastDeployDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoQuartzHelper.java
  java/code/src/org/cobbler/CobblerObject.java
  scripts/channel-from-system/create-channel-from-system.pl
  spacewalk/setup/bin/spacewalk-setup-ipa-authentication
  spacewalk/setup/lib/Spacewalk/Setup.pm
  utils/spacewalk-hostname-rename
  web/html/src/manager/content-management/shared/components/panels/build/build.js
Labels: merge-candidate

#1851 Add error control to content lifecycle steps
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
Labels: merge-candidate

#1853 Don't check for tools when on Uyuni
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate
