Repository uyuni-project/uyuni, pull requests merged in 2021-03, with the labels that each got.

#3316 improve fromdir with better mapping of URL to local files
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/MgrSyncUtils.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/MgrSyncUtilsTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#3338 Add SLE15 SP3 to BV
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
Labels: merge-candidate

#3174 Moved the code from core scc-tests
  testsuite/features/core/srv_organization_credentials.feature
  testsuite/features/secondary/srv_scc_user_credentials.feature
Labels: core-features, merge-candidate, secondary-features

#3339 QA: Clean up the sumaform repositories for proxy host
  testsuite/features/step_definitions/salt_steps.rb
Labels: merge-candidate

#3335 Homogenizes style in filter buttons, facilitating testability
  java/code/src/com/redhat/rhn/frontend/taglibs/ListDisplayTagBase.java
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#3333 [Port] Fix: Wrong renaming of a step
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate

#3337 QA: Fix the step to wait the channel sync.
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate

#3340 Fix: increase password length in the database (bsc#1182687)
  schema/spacewalk/common/tables/suseCredentials.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.8-to-susemanager-schema-4.2.9/100-password-length.sql
Labels: database, merge-candidate, schema_migration_test_oracle, schema_migration_test_pgsql

#3324 JS: stop using global validator
  java/code/src/com/suse/manager/webui/templates/content_management/edit-profile.jade
  java/code/src/com/suse/manager/webui/templates/schedule/maintenance-windows.jade
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/create.jade
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/edit.jade
  java/code/src/com/suse/manager/webui/templates/virtualization/pools/create.jade
  java/code/src/com/suse/manager/webui/templates/virtualization/pools/edit.jade
  java/spacewalk-java.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/components/validation.ts
  web/html/src/global.d.ts
  web/html/src/manager/maintenance/edit/calendar-edit.tsx
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, merge-candidate, ui

#3343 Reduce the number of queries used to obtain the list of channel
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesBaseAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3350 Opening RPM file in binary mode
  backend/satellite_tools/satsync.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#3356 QA: Avoid log out/log in on every scenario of kvm/xen tests
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
Labels: secondary-features

#3170 Allow setting system primary FQDN via WebUI or XMLRPC-API
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFQDN.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/ServerFQDN.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemHardwareAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/NoSuchFQDNException.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/webapp/WEB-INF/pages/systems/sdc/hardware.jsp
  java/code/webapp/WEB-INF/struts-config.xml
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnServerFQDN.sql
  schema/spacewalk/postgres/tables/rhnServerFQDN_index.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.8-to-susemanager-schema-4.2.9/701-rhn_server_fqdn.sql
  testsuite/features/secondary/min_salt_minion_details.feature
Labels: API, database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql, secondary-features, webapp

#3358 Feat: add logrotate conf for mgr-create-bootstrap-repo
  backend/common/rhnLog.py
  susemanager/etc/logrotate.d/susemanager-tools
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: backend_unittests_pgsql, python3, susemanager_unittests

#3361 QA: Hold the browser session and page between scenarios
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, secondary-features

#3370 Revert "QA: Hold the browser session and page between scenarios"
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, secondary-features

#3371 Revert "QA: Avoid log out/log in on every scenario of KVM/XEN tests (…
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
Labels: merge-candidate, secondary-features

#3367 Fix: python3 compat
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/misc.py
Labels: python3

#3357 fixing the run_sets yaml for srv_scc_user_credentials.feature
  testsuite/features/core/srv_organization_credentials.feature
  testsuite/features/secondary/srv_scc_user_credentials.feature
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, core-features, ruby_rubocop, secondary-features, testing

#3377 Fix CI cucumber tag
  testsuite/features/reposync/srv_wait_for_reposync.feature
Labels: merge-candidate

#3387 Virt network: add warning if Salt feature is missing
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/test/TestVirtManager.java
  java/code/src/com/suse/manager/virtualization/test/VirtManagerSaltTest.java
  java/code/src/com/suse/manager/virtualization/test/virt.features.json
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualNetsController.java
  java/code/src/com/suse/manager/webui/services/iface/VirtManager.java
  java/code/src/com/suse/manager/webui/templates/virtualization/nets/show.jade
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/src/grains/virt.py
  susemanager-utils/susemanager-sls/src/tests/mockery.py
  susemanager-utils/susemanager-sls/src/tests/test_grains_virt.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/html/src/manager/virtualization/ListTab.js
  web/html/src/manager/virtualization/nets/list/nets-list.js
  web/html/src/manager/virtualization/nets/list/nets-list.renderer.js
  web/spacewalk-web.changes
Labels: Virtualization management, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, salt, ui

#3388 Accessible better logging
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3344 Adding new labels
  .github/labeler.yml
Labels: merge-candidate

#3393 QA: Move Ubuntu common channels to custom_repos stage
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/srv_common_channels.feature
  testsuite/run_sets/build_validation_add_custom_repositories.yml
  testsuite/run_sets/build_validation_reposync.yml
Labels: build-validation-features, ci-pipelines, ruby_rubocop, testing

#3394 QA: Make sure that a package state is shown before continue
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/secondary/minssh_bootstrap_xmlrpc.feature
Labels: build-validation-features, secondary-features

#3396 QA: Filter by Non-Critical patches before select the first
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: build-validation-features

#3400 Testsuite - gpg key name for SLE11 corrected #14277
  testsuite/features/support/client_stack.rb
Labels: merge-candidate, test-framework

#3415 BV: refactor waits for reposync
  testsuite/features/build_validation/reposync/srv_wait_for_product_reposync.feature
  testsuite/features/reposync/srv_wait_for_reposync.feature
  testsuite/features/support/env.rb
  testsuite/run_sets/build_validation_reposync.yml
Labels: build-validation-features, ci-pipelines, ruby_rubocop, test-framework, testing

#3416 Bootstrap repositories must be generated sequentially
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/ceos6_client.feature
  testsuite/features/build_validation/init_clients/ceos6_minion.feature
  testsuite/features/build_validation/init_clients/ceos6_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_client.feature
  testsuite/features/build_validation/init_clients/ceos7_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos8_minion.feature
  testsuite/features/build_validation/init_clients/ceos8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ubuntu2004_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ubuntu2004_ssh_minion.feature
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/build_validation/init_clients/sle11sp4_client.feature
  testsuite/features/build_validation/init_clients/sle11sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_client.feature
  testsuite/features/build_validation/init_clients/sle12sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_client.feature
  testsuite/features/build_validation/init_clients/sle15_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_client.feature
  testsuite/features/build_validation/init_clients/sle15sp1_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_client.feature
  testsuite/features/build_validation/init_clients/sle15sp2_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_client.feature
  testsuite/features/build_validation/init_clients/sle15sp3_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_ssh_minion.feature
  testsuite/run_sets/build_validation_create_bootstrap_repositories.yml
Labels: build-validation-features

#3363 Log shell command output on failure when checking known_hosts file permissions
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/CommandExecutionException.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3414 delete scenario which delete product package from package state from other places
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/secondary/minssh_bootstrap_xmlrpc.feature
Labels: build-validation-features, secondary-features

#3418 Small fixes
  testsuite/features/build_validation/core/srv_add_configuration_channel_and_file.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/build_validation_core.yml
Labels: build-validation-features, ci-pipelines, ruby_rubocop, testing

#3420 BV: Add new run sets for waiting for reposyncs
  testsuite/features/build_validation/add_custom_repositories/add_ceos6_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_ceos7_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_maintenance_update_repository.template
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/srv_wait_for_custom_reposync.feature
  testsuite/run_sets/build_validation_add_activation_keys.yml
  testsuite/run_sets/build_validation_add_custom_repositories.yml
  testsuite/run_sets/build_validation_core.yml
  testsuite/run_sets/build_validation_create_bootstrap_repositories.yml
  testsuite/run_sets/build_validation_finishing.yml
  testsuite/run_sets/build_validation_init_clients.yml
  testsuite/run_sets/build_validation_init_proxy.yml
  testsuite/run_sets/build_validation_reposync.yml
  testsuite/run_sets/build_validation_smoke_tests.yml
  testsuite/run_sets/build_validation_wait_for_custom_reposync.yml
  testsuite/run_sets/build_validation_wait_for_product_reposync.yml
Labels: build-validation-features, ci-pipelines, ruby_rubocop, testing

#3427 Add new step clean up all bootstrap repositories on the server
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: build-validation-features, test-framework

#3426 Add bootstrap repository definition for SUSE Manager Proxy 4.2 (bsc#1183645)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#3425 BV: Fix an issue that not allow to select some systems because they are in second page of the list
  testsuite/features/build_validation/add_activation_keys/add_activation_key.template
  testsuite/features/build_validation/init_clients/ceos6_client.feature
  testsuite/features/build_validation/init_clients/ceos6_minion.feature
  testsuite/features/build_validation/init_clients/ceos6_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_client.feature
  testsuite/features/build_validation/init_clients/ceos7_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos8_minion.feature
  testsuite/features/build_validation/init_clients/ceos8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ubuntu2004_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ubuntu2004_ssh_minion.feature
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/build_validation/init_clients/sle11sp4_client.feature
  testsuite/features/build_validation/init_clients/sle11sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_client.feature
  testsuite/features/build_validation/init_clients/sle12sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_client.feature
  testsuite/features/build_validation/init_clients/sle15_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_client.feature
  testsuite/features/build_validation/init_clients/sle15sp1_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_client.feature
  testsuite/features/build_validation/init_clients/sle15sp2_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_client.feature
  testsuite/features/build_validation/init_clients/sle15sp3_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_ssh_minion.feature
  testsuite/features/build_validation/retail/deploy_sle11sp3_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle12sp4_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle15sp2_terminal.feature
  testsuite/features/build_validation/retail/sle11sp4_kiwi_image_buildhost.feature
  testsuite/features/build_validation/retail/sle12sp4_kiwi_image_buildhost.feature
  testsuite/features/build_validation/retail/sle15sp2_kiwi_image_buildhost.feature
  testsuite/features/core/srv_user_preferences.feature
  testsuite/run_sets/build_validation_core.yml
  testsuite/run_sets/core.yml
Labels: build-validation-features

#3422 Speedup system groups page
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemGroup_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3428 Testsuite: Drop some machine aliases mentions
  testsuite/features/support/constants.rb
Labels: test-framework

#3318 Move push_package feature from core to secondary
  testsuite/features/secondary/srv_push_package.feature
  testsuite/run_sets/core.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/secondary_parallelizable.yml
  testsuite/run_sets/sle-updates.yml
  testsuite/run_sets/virtualization.yml
Labels: ci-pipelines, merge-candidate, ruby_rubocop, secondary-features, test-framework, testing

#3433 Raise length limit for kernel options
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartData.hbm.xml
  java/code/src/com/redhat/rhn/frontend/action/kickstart/KickstartTroubleshootingEditAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/common/fragments/kickstart/advanced/details.jspf
  java/code/webapp/WEB-INF/pages/kickstart/kickstartdetails.jsp
  java/code/webapp/WEB-INF/pages/kickstart/tree-form.jspf
  java/code/webapp/WEB-INF/pages/kickstart/troubleshooting.jsp
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnActionVirtCreate.sql
  schema/spacewalk/common/tables/rhnKSData.sql
  schema/spacewalk/common/tables/rhnKickstartableTree.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.9-to-susemanager-schema-4.2.10/100-increase-kernel-options-length.sql
Labels: data-model, database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

#3419 Testsuite - adapt testsuite to select by react component
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, test-framework

#3366 Fix: Populate docker-registries on inspection (bsc#1178179)
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, salt-actions-implementations

#3402 enhance server group API with config channel and formula access methods
  java/code/src/com/redhat/rhn/domain/state/StateFactory.java
  java/code/src/com/redhat/rhn/domain/state/StateRevision.hbm.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/ConfigChannelHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/test/ConfigChannelHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/FormulaSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/ServerGroupHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/spacewalk-java.changes
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/group.py
Labels: data-model, java, java_lint_checkstyle, java_pgsql_tests, python3, xmlrpc

#3429 Enable Ubuntu 20.04 syncing in testsuite
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: build-validation-features

#3444 fix typo in serializer name
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
Labels: xmlrpc

#3334 Reposync fix (bsc#1182197)
  backend/satellite_tools/download.py
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#3445 Remove ubuntu 20 custom channels
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/run_sets/build_validation_add_custom_repositories.yml
Labels: build-validation-features, ci-pipelines, ruby_rubocop, testing

#3439 Testsuite - change of name for SLE12 key
  testsuite/features/support/client_stack.rb
Labels: test-framework

#3447 Improve switching config component on exception handling
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

#2782 Only update the kickstart path in cobbler if necessary (bsc#1175216)
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerProfileSyncCommand.java
  java/code/src/com/redhat/rhn/taskomatic/task/CobblerSyncTask.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3460 Debrand mgr-setup file
  susemanager/bin/mgr-setup
Labels: susemanager_unittests

#3472 QA: Support multiple Cucumber profiles
  testsuite/Rakefile
  testsuite/documentation/guidelines.md
Labels: ruby_rubocop, testing

#3480 QA: Get rif of service_pack_migration tag, run it always
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/trad_sp_migration.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: secondary-features, test-framework

#3481 QA: Cosmetical fix on Cobbler so we always use the same product version
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features, test-framework

#3469 Configchannel at group enhancements
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/group.py
Labels: python3

#1919 Support for Amazon Linux 2
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  suseRegisterInfo/suseRegister/info.py
  suseRegisterInfo/suseRegisterInfo.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/Amazon2.sls
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#3373 Cleanup deprecated xmlrpc methods
  client/rhel/spacewalk-client-tools/src/bin/spacewalk-channel.py
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/ActivationKeyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/test/ActivationKeyHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/ChannelHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/test/ErrataHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/KickstartHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/test/KickstartHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/sync/content/ContentSyncHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/test/UserHandlerTest.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/scripts/api/activationkeytests.py
  java/scripts/api/kickstarttests.py
  java/scripts/api/systemtests.py
  java/spacewalk-java.changes
  scripts/ncsu-rhntools/subscribeRHN.py
  utils/apply_errata
Labels: backend_unittests_pgsql, data-model, java, java_lint_checkstyle, java_pgsql_tests, python3, xmlrpc

#3093 Provide Custom Info as Pillar data
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/UpdateCustomDataAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/BaseHandlerTestCase.java
  java/code/src/com/redhat/rhn/manager/system/ServerGroupManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemUnentitler.java
  java/code/src/com/redhat/rhn/testing/BaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/JMockBaseTestCaseWithUser.java
  java/code/src/com/redhat/rhn/testing/RhnMockStrutsTestCase.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionCustomInfoPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionGroupMembershipPillarGeneratorTest.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionPillarManagerTest.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: data-model, java, java_lint_checkstyle, java_pgsql_tests, xmlrpc

#3494 Testsuite: Add regex anchors in step definitions
  testsuite/features/step_definitions/common_steps.rb
Labels: test-framework

#3487 Fix salt cleanup for proxy
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: build-validation-features, core-features, test-framework

#3493 QA: Fix selection of a snippet
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: secondary-features, test-framework

#3455 AlmaLinux8 as a supported client
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/AlmaLinux8.sls
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#3488 Add ubuntu 20, debian 9, 10 and disable centos 8
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/debian10_minion.feature
  testsuite/features/build_validation/init_clients/debian10_ssh_minion.feature
  testsuite/features/build_validation/init_clients/debian9_minion.feature
  testsuite/features/build_validation/init_clients/debian9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ceos8_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ceos8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2004_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2004_ssh_minion.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/run_sets/build_validation_init_clients.yml
Labels: build-validation-features, ci-pipelines, ruby_rubocop, test-framework, testing
