Repository uyuni-project/uyuni, pull requests merged in 2021-09, with the labels that each got.

#4183 Don't use libvirt API in virt grains
  susemanager-utils/susemanager-sls/src/grains/virt.py
  susemanager-utils/susemanager-sls/src/tests/test_grains_virt.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: salt

#4188 Remove client tools BETA channels from reposync
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#4189 Enhance base channel help message
  web/html/src/manager/systems/activation-key/activation-key-channels.tsx
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4193 Ansible ent for all archs
  schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.1-to-susemanager-schema-4.3.2/002-ansible-entitlement-for-all-archs.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#4187 Testsuite: Split a long scenario
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features, testing, ruby_rubocop

#4195 Adjust CLM filter that became a modal
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#4196 Ignore duplicates in 'pkg.installed' result when applying patches (bsc#1187572)
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/pkg_install.duplicates.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4133 spacewalk-java: Simplify Enterprise Linux servlet requirement
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4200 Testsuite: Split a scenario in two
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
Labels: secondary-features, testing, ruby_rubocop

#4134 Support syncing patches with advisory status 'pending'
  java/code/src/com/redhat/rhn/domain/errata/AdvisoryStatus.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnErrata.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.1-to-susemanager-schema-4.3.2/310-add-pending-advisory-status.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model

#4156 Add SLE 15 SAP Product ID to SLE15 bootstrap repositories
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#4203 Add missing string on XCCDF scan results (bsc#1190164)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#4206 Fix Cucumber selectors for datetime pickers
  testsuite/features/step_definitions/datepicker_steps.rb
  web/html/src/components/datetime/DateTimePicker.tsx
Labels: ui, javascript_lint, testing, ruby_rubocop, test-framework

#4202 Fix time zone mismatch in recurring events
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/components/panels/InnerPanel.tsx
  web/html/src/components/picker/recurring-event-picker.tsx
  web/html/src/components/table/Table.tsx
  web/html/src/manager/maintenance/list/schedule-list.tsx
  web/html/src/manager/state/highstate-summary.tsx
  web/html/src/manager/state/recurring-states-edit.tsx
  web/html/src/manager/state/recurring-states-list.tsx
  web/html/src/manager/state/recurring-states.tsx
Labels: ui, javascript_lint

#4207 Bump immer to 9.0.6
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4209 Fix incorrect changes location
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4210 Clean up lint
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
Labels: ui, javascript_lint

#4166 Cobbler setup fix
  backend/rhn-conf/rhn.conf
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/bin/spacewalk-setup-cobbler
  spacewalk/setup/spacewalk-setup.changes
Labels: backend_unittests_pgsql

#4225 virt guests: formatting the earliest field breaks now
  web/html/src/manager/virtualization/guests/create/guests-create.tsx
  web/html/src/manager/virtualization/guests/edit/guests-edit.tsx
  web/html/src/utils/functions.ts
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#3978 QA: Refactor test framework to get rid of Rubocop exceptions
  .github/workflows/rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
  testsuite/.travis.yml
  testsuite/Gemfile
  testsuite/Rakefile
  testsuite/features/step_definitions/centos_tradclient.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/datepicker_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/lock_packages_on_client.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/security_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/capybara_nodeelement_ext.rb
  testsuite/features/support/client_stack.rb
  testsuite/features/support/cobbler_test.rb
  testsuite/features/support/common_lib.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/custom_formatter.rb
  testsuite/features/support/env.rb
  testsuite/features/support/hooks.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/navigation_lib.rb
  testsuite/features/support/pretty_formatter.rb
  testsuite/features/support/pretty_formatter_extended.rb
  testsuite/features/support/retail_lib.rb
  testsuite/features/support/time.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/support/xmlrpc/xmlrpc_actionchain.rb
  testsuite/features/support/xmlrpc/xmlrpc_activationkey.rb
  testsuite/features/support/xmlrpc/xmlrpc_api.rb
  testsuite/features/support/xmlrpc/xmlrpc_audit.rb
  testsuite/features/support/xmlrpc/xmlrpc_channel.rb
  testsuite/features/support/xmlrpc/xmlrpc_configchannel.rb
  testsuite/features/support/xmlrpc/xmlrpc_image.rb
  testsuite/features/support/xmlrpc/xmlrpc_powermanagement.rb
  testsuite/features/support/xmlrpc/xmlrpc_repository.rb
  testsuite/features/support/xmlrpc/xmlrpc_schedule.rb
  testsuite/features/support/xmlrpc/xmlrpc_system.rb
  testsuite/features/support/xmlrpc/xmlrpc_test.rb
  testsuite/features/support/xmlrpc/xmlrpc_user.rb
  testsuite/features/support/xmlrpctest.rb
  testsuite/tools/check_duplicata.scenario.rb
  testsuite/unit-tests/README.md
  testsuite/unit-tests/feature_names.rb
Labels: testing, ruby_rubocop, test-framework

#4238 Fix a library dependency issue with repeat_until_timeout
  testsuite/features/support/client_stack.rb
  testsuite/features/support/common_lib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/timeout_lib.rb
Labels: testing, ruby_rubocop, test-framework

#4239 Revert "Fix a library dependency issue with repeat_until_timeout"
  testsuite/features/support/client_stack.rb
  testsuite/features/support/common_lib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/timeout_lib.rb
Labels: testing, ruby_rubocop, test-framework

#4240 Revert "QA: Refactor test framework to get rid of Rubocop exceptions"
  .github/workflows/rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
  testsuite/.travis.yml
  testsuite/Gemfile
  testsuite/Rakefile
  testsuite/features/step_definitions/centos_tradclient.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/datepicker_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/lock_packages_on_client.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/security_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/capybara_nodeelement_ext.rb
  testsuite/features/support/client_stack.rb
  testsuite/features/support/cobbler_test.rb
  testsuite/features/support/common_lib.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/custom_formatter.rb
  testsuite/features/support/env.rb
  testsuite/features/support/hooks.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/navigation_lib.rb
  testsuite/features/support/pretty_formatter.rb
  testsuite/features/support/pretty_formatter_extended.rb
  testsuite/features/support/retail_lib.rb
  testsuite/features/support/time.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/support/xmlrpc/xmlrpc_test.rb
  testsuite/features/support/xmlrpc_actionchain.rb
  testsuite/features/support/xmlrpc_activationkey.rb
  testsuite/features/support/xmlrpc_api.rb
  testsuite/features/support/xmlrpc_channel.rb
  testsuite/features/support/xmlrpc_configchannel.rb
  testsuite/features/support/xmlrpc_cve_search.rb
  testsuite/features/support/xmlrpc_image.rb
  testsuite/features/support/xmlrpc_powermanagement.rb
  testsuite/features/support/xmlrpc_repository.rb
  testsuite/features/support/xmlrpc_schedule.rb
  testsuite/features/support/xmlrpc_system.rb
  testsuite/features/support/xmlrpc_user.rb
  testsuite/features/support/xmlrpctest.rb
  testsuite/unit-tests/README.md
  testsuite/unit-tests/check_duplicata.scenario.rb
  testsuite/unit-tests/feature_names.rb
Labels: testing, ruby_rubocop, test-framework

#4214 configchannel_updatefile handles directory properly
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/configchannel.py
Labels: python3

#4222 API call to accept Salt keys
  java/code/src/com/redhat/rhn/frontend/xmlrpc/saltkey/SaltKeyHandler.java
  java/code/src/com/suse/manager/utils/SaltKeyUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#4217 Fix ise package action details
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnActionPackageDetails.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.2-to-susemanager-schema-4.3.3/400-rhnactionpackagedetails-idx.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#4226 adding aarch64 products
  java/spacewalk-java.changes
  susemanager-sync-data/additional_products.json
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4097 spacewalk-proxy: Always pass pylint checks
  proxy/proxy/spacewalk-proxy.spec
Labels: proxy

#4250 Add aarch64 bootstrap repos for CentOS clones and openSUSE Leap 15.3 for SUSE Manager
  java/spacewalk-java.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests

#4228 Align tls protocols for proxy
  java/code/src/com/redhat/rhn/common/util/http/HttpClientAdapter.java
  java/spacewalk-java.changes
  proxy/installer/configure-proxy.sh
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/proxy/httpd-conf/spacewalk-proxy.conf
  proxy/proxy/spacewalk-proxy.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, proxy

#4246 Removed unused translation keys
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#4253 fix duplicate post section is spec
  proxy/installer/spacewalk-proxy-installer.spec
Labels: proxy

#4254 Sanitize cached filename for custom SSL certs used by reposync (bsc#1190751)
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

#4230 Update kernel live patch version on minion startup (bsc#1190276)
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/minion.startup.applied.state.response.json
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.livepatching.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/SystemInfo.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/util/systeminfo.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4256 Fix 'Type' input in CLM source edit form (bsc#1190820)
  web/html/src/manager/content-management/shared/components/panels/sources/sources.tsx
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4257 Ansible 'flush_cache' flag for Playbook execution (bsc#1190405)
  java/code/src/com/redhat/rhn/domain/action/salt/PlaybookActionDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/salt/PlaybookActionDetails.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/AnsibleHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/test/AnsibleHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionChainManager.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionChainManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/AnsibleManager.java
  java/code/src/com/redhat/rhn/manager/system/test/AnsibleManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/AnsibleController.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/utils/gson/AnsiblePlaybookExecutionJson.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnActionPlaybook.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.2-to-susemanager-schema-4.3.3/100-playbook-action-flushcache-flag.sql
  susemanager-utils/susemanager-sls/salt/ansible/runplaybook.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/html/src/manager/minion/ansible/schedule-playbook.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, salt-actions-implementations, data-model, xmlrpc, old-ui

#4251 Fix ISE in product migration if base product is missing
  java/code/src/com/redhat/rhn/domain/product/SUSEProductSet.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#4216 Update documentation and linting for datetimes usage
  web/html/src/.eslintrc.js
  web/html/src/components/datetime/DateTimePicker.stories.js
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/eslint-local-rules/no-raw-date.js
  web/html/src/manager/maintenance/calendar/web-calendar.test.tsx
  web/html/src/manager/maintenance/calendar/web-calendar.tsx
  web/html/src/utils/datetime/README.md
  web/html/src/utils/datetime/localizedMoment.ts
Labels: ui, javascript_lint

#4263 Add checksums to repository metadata filenames (bsc#1188315)
  java/code/src/com/redhat/rhn/taskomatic/task/RhnQueueJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RepomdIndexWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/test/RpmRepositoryWriterTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4266 download metadata files with checksums for the traditional stack
  backend/server/rhnRepository.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

#4224 Introduce a banner in the login page when the available disk space reported by diskcheck is low
  backend/satellite_tools/spacewalk-diskcheck
  backend/spacewalk-backend.changes
  java/code/src/com/suse/manager/utils/DiskCheckHelper.java
  java/code/src/com/suse/manager/utils/DiskCheckSeverity.java
  java/code/src/com/suse/manager/utils/test/DiskCheckHelperTest.java
  java/code/src/com/suse/manager/webui/controllers/login/LoginController.java
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
  java/spacewalk-java.changes
  web/html/src/manager/login/login.renderer.tsx
  web/html/src/manager/login/login.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, backend_unittests_pgsql, ui, javascript_lint

#4270 Last build date column in CLM project list
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ContentProjectSerializer.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappersTest.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/ProjectPropertiesResponse.java
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/list-projects/list-projects.tsx
  web/html/src/utils/functions.ts
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, content-management, xmlrpc, old-ui

#4267 Fix unwanted CLM filter edit modal opening (bsc#1190867)
  web/html/src/manager/content-management/list-filters/filter-edit.tsx
  web/spacewalk-web.changes
Labels: ui, javascript_lint
