Repository uyuni-project/uyuni, pull requests merged in 2021-01, with the labels that each got.

#3065 Fixed RHEL setup routine.
  projects/perl-Satcon/bin/satcon-deploy-tree.pl
  projects/perl-Satcon/perl-Satcon.changes
  spacewalk/admin/rhn-config-satellite.pl
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/setup/bin/spacewalk-make-mount-points
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
  susemanager/susemanager.spec
  uyuni/base/uyuni-base.changes
  uyuni/base/uyuni-base.spec
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: javascript_lint, susemanager_unittests, ui

#3081 spacecmd: support multiple package names on "package_details" command
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/package.py
  spacecmd/tests/test_package.py
Labels: python3

#3066 Aligned to stock Java 11
  java/buildconf/build-props.xml
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  spacewalk/setup/share/tomcat.java_opts
  spacewalk/setup/share/tomcat.java_opts.suse
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/setup/spacewalk-setup.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3063 Cleanup tomcat versions
  java/build.xml
  java/buildconf/build-props-tomcat.xml
  java/buildconf/build-props-tomcat5.xml
  java/buildconf/build-props-tomcat6.xml
  java/buildconf/build-props-tomcat8.xml
  java/conf/default/rhn_hibernate.conf
  java/conf/default/rhn_org_quartz.conf
  java/conf/rhn-tomcat5.xml
  java/conf/rhn-tomcat8.xml
  java/manager-build.xml
  java/scripts/unittest.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3057 Python3 port for blend tool
  schema/spacewalk/blend
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#3058 Fix for pycurl.error handling and traceback on missing mail config
  backend/common/rhnMail.py
  backend/common/suseLib.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#2718 Fix spacecmd with no parameters produces a traceback on SLE 11 SP4 (bsc#1176823)
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/schedule.py
Labels: python3

#3099 CLM: Mark required inputs in the 'Environment Lifecycle' form
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-form.js
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#3100 Fix sorting/display of content lifecycle lists and cluster tables
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/ContentManagementViewsController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/templates/list-filters.jade
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/templates/list-projects.jade
  java/spacewalk-java.changes
  web/html/src/manager/clusters/list-clusters/list-clusters.js
  web/html/src/manager/clusters/shared/ui/select-server.js
  web/html/src/manager/content-management/list-filters/list-filters.js
  web/html/src/manager/content-management/list-projects/list-projects.js
  web/spacewalk-web.changes
Labels: content-management, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#3073 Remove redundant nodejs requirement
  web/spacewalk-web.spec
Labels: javascript_lint, ui

#3108 replace custom vercmp function with PackageEvr.compareTo
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/frontend/dto/PackageListItem.java
  java/code/src/com/redhat/rhn/frontend/dto/PackageMetadata.java
  java/code/src/com/redhat/rhn/manager/profile/ProfileManager.java
  java/code/src/com/redhat/rhn/manager/profile/test/ProfileManagerTest.java
  java/spacewalk-java.changes
Labels: API

#3090 Testsuite: Add test for service pack migration
  testsuite/documentation/cucumber-steps.md
  testsuite/features/init_clients/min_sp_migration.feature
  testsuite/features/init_clients/minssh_sp_migration.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/init_clients.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3094 Truncate author name in the changelog
  backend/server/importlib/packageImport.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

#3126 Fix: CVE audit results for affected and patched entries (bsc#1180893)
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/audit/test/CVEAuditManagerTest.java
  java/code/src/com/redhat/rhn/testing/ErrataTestUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3048 Server side field-level validations infrastructure (and usage on CLM)
  java/code/src/com/redhat/rhn/common/validator/ValidatorResult.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentPropertiesValidator.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/EnvironmentApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/FilterApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ValidationUtils.java
  java/code/src/com/suse/manager/webui/utils/gson/ResultJson.java
  java/spacewalk-java.changes
  web/html/src/components/input/Form.js
  web/html/src/components/input/InputBase.js
  web/html/src/components/panels/CreatorPanel.js
  web/html/src/manager/content-management/create-project/create-project.js
  web/html/src/manager/content-management/list-filters/appstreams/select-input.js
  web/html/src/manager/content-management/list-filters/filter-edit.js
  web/html/src/manager/content-management/list-filters/filter-form.js
  web/html/src/manager/content-management/project/project.js
  web/html/src/manager/content-management/shared/api/use-lifecycle-actions-api.js
  web/html/src/manager/content-management/shared/components/panels/build/build.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-form.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project.js
  web/html/src/manager/content-management/shared/components/panels/promote/promote.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-create.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-edit.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-form.js
  web/html/src/manager/content-management/shared/components/panels/sources/sources.js
Labels: content-management, java, java_lint_checkstyle, java_pgsql_tests

#3136 reposync: Add yum_dnf_src plugin.
  backend/satellite_tools/repo_plugins/Makefile
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql, python3

#3121 Changing xpath for "promote" button in common_steps
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features

#3137 Update CentOS6 URLs to use vault.centos.org
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.4-to-susemanager-schema-4.2.5/900-centos6-vault.sql
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#3142 Fix: login gets an ISE when SSO is enabled (bsc#1181048)
  java/code/src/com/suse/manager/webui/controllers/SSOController.java
  java/code/src/com/suse/manager/webui/controllers/login/LoginController.java
  java/code/src/com/suse/manager/webui/controllers/test/LoginControllerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#2745 Fix modular data handling for cloned channels
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/channel/RepoMetadata.hbm.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/manager/channel/CloneChannelCommand.java
  java/code/src/com/redhat/rhn/manager/channel/test/CloneChannelCommandTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/ModularDataCleanup.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
  schema/spacewalk/upgrade/susemanager-schema-4.2.2-to-susemanager-schema-4.2.3/210-channel-modular-data-cleaunp-job.sql
  utils/spacewalk-manage-channel-lifecycle
  utils/spacewalk-utils.changes
Labels: backend_unittests_pgsql, java, java_lint_checkstyle, java_pgsql_tests, python3

#2943 Upgrade spacewalk package to postgresql13
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
  schema/spacewalk/spacewalk-schema-upgrade
  spacewalk/admin/spacewalk-startup-helper
  spacewalk/package/spacewalk.changes
  spacewalk/package/spacewalk.spec
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/postgresql.conf
  susemanager/bin/pg-migrate-12-to-13.sh
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

#3154 Display absolute timestamps for configuration files
  java/code/src/com/redhat/rhn/frontend/action/configuration/files/FileDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/ConfigRevisionDto.java
  java/code/webapp/WEB-INF/pages/common/fragments/configuration/files/details.jspf
  java/code/webapp/WEB-INF/pages/configuration/files/comparerevision.jsp
  java/code/webapp/WEB-INF/pages/configuration/files/manage.jsp
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests

#3143 Updated 'node' requirements.
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: javascript_lint, ui

#3149 Fixed Kickstart and URLGrabber error handling.
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#3161 Testsuite: Use the right client for this feature
  testsuite/features/secondary/min_centos_openscap_audit.feature
Labels: secondary-features

#3168 Add id to selectedBaseChannel Select for testability
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.js
Labels: test-suite, ui

#3071 Support both QAM and Build Validations
  testsuite/Rakefile
  testsuite/documentation/guidelines.md
  testsuite/features/build_validation/add_activation_keys/add_activation_key.template
  testsuite/features/build_validation/add_custom_repositories/add_ceos6_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_ceos7_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_maintenance_update_repository.template
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu1604_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu1804_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_ubuntu2004_repositories.feature
  testsuite/features/build_validation/init_clients/ceos6_client.feature
  testsuite/features/build_validation/init_clients/ceos6_minion.feature
  testsuite/features/build_validation/init_clients/ceos6_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_client.feature
  testsuite/features/build_validation/init_clients/ceos7_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos8_minion.feature
  testsuite/features/build_validation/init_clients/ceos8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ubuntu2004_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ubuntu2004_ssh_minion.feature
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/build_validation/init_clients/sle11sp4_client.feature
  testsuite/features/build_validation/init_clients/sle11sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_client.feature
  testsuite/features/build_validation/init_clients/sle12sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_client.feature
  testsuite/features/build_validation/init_clients/sle15_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_client.feature
  testsuite/features/build_validation/init_clients/sle15sp1_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_client.feature
  testsuite/features/build_validation/init_clients/sle15sp2_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_common_channels.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/build_validation/srv_add_configuration_channel_and_file.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_add_activation_keys.yml
  testsuite/run_sets/build_validation_add_custom_repositories.yml
  testsuite/run_sets/build_validation_core.yml
  testsuite/run_sets/build_validation_finishing.yml
  testsuite/run_sets/build_validation_init_clients.yml
  testsuite/run_sets/build_validation_init_proxy.yml
  testsuite/run_sets/build_validation_reposync.yml
  testsuite/run_sets/build_validation_smoke_tests.yml
  testsuite/run_sets/qam_add_custom_repositories.yml
  testsuite/run_sets/qam_init_clients.yml
Labels: ruby_rubocop, testing

#3158 Upgrade spacewalk package to postgresql13
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
  java/spacewalk-java.changes
  schema/spacewalk/spacewalk-schema-upgrade
  schema/spacewalk/susemanager-schema.changes
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-startup-helper
  spacewalk/package/spacewalk.changes
  spacewalk/package/spacewalk.spec
  susemanager-utils/testing/docker/master/uyuni-master-pgsql/postgresql.conf
  susemanager/bin/pg-migrate-12-to-13.sh
  susemanager/susemanager.changes
Labels: database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql, susemanager_unittests

#3173 fix query using old EVR_T constructor (bsc#1181422)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3098 Open raw output in new tab for ScriptRunAction
  java/code/src/com/redhat/rhn/domain/action/script/ScriptRunAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3178 zypper ref before reinstalling traditional stack packages
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
Labels: secondary-features
