Repository uyuni-project/uyuni, pull requests merged in 2021-08, with the labels that each got.

#4071 QA: Parametrize timeouts from env. variables
  testsuite/features/support/env.rb
Labels: ruby_rubocop, test-framework, testing

#4076 Create sle 12 sp5 bootstrap repos
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
Labels: build-validation-features, ruby_rubocop, testing

#4070 warn inside overview page in SLE Micro (bsc#1188551)
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/ServerConstants.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/spacewalk-java.changes
Labels: API, data-model, java, java_lint_checkstyle, java_pgsql_tests, old-ui

#4086 Fix web-calendar js unit tests
  web/html/src/manager/maintenance/calendar/web-calendar.test.tsx
Labels: javascript_lint, merge-candidate, ui

#4089 spacewalk-proxy: Adapted SPEC file to install on Enterprise Linux
  proxy/proxy/spacewalk-proxy.changes
  proxy/proxy/spacewalk-proxy.spec
Labels: merge-candidate, proxy

#4085 Fix cleanup always being executed on delete system (bsc#1189011)
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/spacewalk-java.changes
  web/html/src/manager/systems/delete-system.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, merge-candidate, ui

#4095 Revert imports order breaking proxy by PR#4029
  proxy/proxy/apacheHandler.py
  proxy/proxy/apacheServer.py
  proxy/proxy/rhnAuthCacheClient.py
Labels: proxy

#4100 cucumber tests KVM and Xen fixes
  java/code/src/com/suse/manager/virtualization/GuestOsDef.java
  susemanager-utils/susemanager-sls/salt/virt/update-vm.sls
Labels: Virtualization management, java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4103 Properly handle virtual networks without bridge
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualNetworkInfoJson.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4072 Add migration to fix wrongly assigned entitlements
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.0-to-susemanager-schema-4.3.1/300-fix-entitlements.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate

#4098 Mark SSH minion actions when they're picked up (bsc#1188505)
  java/code/src/com/redhat/rhn/taskomatic/task/SSHMinionActionExecutor.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4111 Uyuni tftp script multiple ip on server
  testsuite/features/step_definitions/command_steps.rb
  tftpsync/susemanager-tftpsync-recv/configure-tftpsync.sh
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.spec
Labels: testing, ruby_rubocop, test-framework

#4120 Tell the user to use the new PG migration script
  susemanager/bin/server-migrator.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#4055 add tests for the iss v2 tool
  testsuite/features/secondary/srv_handle_channels_with_ISS_v2.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#4121 increase timeout for build image with authenticated registry
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
Labels: secondary-features, testing, ruby_rubocop

#4112 Avoid being stuck by confirmation question
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4083 Spacewalk CMD: Remove whoami from the exclude login regex (bsc#1188977)
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/shell.py
  spacecmd/tests/test_misc.py
  spacecmd/tests/test_shell.py
Labels: python3

#4090 Clean up followup TODOs
  web/html/src/components/buttons.tsx
  web/html/src/components/dialog/LegacyDialog.tsx
  web/html/src/components/dialog/ModalButton.tsx
  web/html/src/components/input/DateTime.stories.tsx
  web/html/src/components/input/Form.tsx
  web/html/src/components/input/FormMultiInput.stories.tsx
  web/html/src/components/input/Password.stories.tsx
  web/html/src/components/input/Radio.stories.tsx
  web/html/src/components/input/Select.stories.tsx
  web/html/src/components/input/Text.stories.tsx
  web/html/src/components/input/form.stories.tsx
  web/html/src/manager/state/recurring-states-details.tsx
  web/html/src/manager/state/recurring-states-list.tsx
  web/html/src/manager/state/recurring-states-utils.tsx
Labels: ui, javascript_lint

#4009 Use 'deploy.port' option on rsync step in Ant targets
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4115 Link to live patching filter from a system
  .vscode/settings.json
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/ContentManagementViewsController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/templates/list-filters.jade
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
  java/spacewalk-java.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/.eslintrc.js
  web/html/src/components/input/Select.stories.tsx
  web/html/src/components/input/Select.tsx
  web/html/src/manager/content-management/list-filters/filter-edit.tsx
  web/html/src/manager/content-management/list-filters/filter-form.tsx
  web/html/src/manager/content-management/list-filters/list-filters.renderer.tsx
  web/html/src/manager/content-management/list-filters/list-filters.tsx
  web/html/src/manager/content-management/list-filters/templates/live-patching.tsx
  web/html/src/manager/content-management/shared/type/filter.type.ts
  web/html/src/utils/functions.ts
  web/html/src/utils/url.test.ts
  web/html/src/utils/url.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, content-management, webapp, old-ui

#4104 Allow passing a date limit for "schedule_deletearchived" on spacecmd (bsc#1181223)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/schedule/ScheduleHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/schedule/test/ScheduleHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/spacewalk-java.changes
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/schedule.py
  spacecmd/tests/test_schedule.py
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#4129 Add `yarn all`
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
  web/html/src/package.json
Labels: ui, javascript_lint

#4135 Make the node IP visible in sanity check
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4060 Application Streams tab for modular channels
  java/code/src/com/redhat/rhn/frontend/action/channel/AppStreamFilter.java
  java/code/src/com/redhat/rhn/frontend/action/channel/AppStreamsAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/nav/StringResource_en_US.xml
  java/code/webapp/WEB-INF/nav/channel_detail.xml
  java/code/webapp/WEB-INF/pages/channel/appstreams.jsp
  java/code/webapp/WEB-INF/pages/channel/channeldetail.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/channel/appstream_header.jspf
  java/code/webapp/WEB-INF/struts-config.xml
  java/spacewalk-java.changes
  scripts/sitemap.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, old-ui

#4136 Wait until dialog box to create new CLM filter is fully loaded
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
Labels: testing, ruby_rubocop, build-validation-features

#4137 Fix API doc for system.monitoring.listEndpoints
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/monitoring/SystemMonitoringHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#4132 Separate more cleanly BV and CI test suites
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/core/srv_first_settings.feature
  testsuite/features/build_validation/core/srv_user_preferences.feature
  testsuite/features/build_validation/finishing/allcli_debug.feature
  testsuite/features/build_validation/finishing/srv_debug.feature
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/core/srv_first_settings.feature
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_core.yml
  testsuite/run_sets/build_validation_create_bootstrap_repositories.yml
  testsuite/run_sets/build_validation_finishing.yml
  testsuite/run_sets/core.yml
  testsuite/run_sets/refhost.yml
  testsuite/run_sets/sle-updates.yml
  testsuite/run_sets/virtualization.yml
Labels: core-features, ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#4145 Fix non-unique scenario name
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#4149 Do not log XMLRPC FaultExceptions as errors (bsc#1188853)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/LoggingInvocationProcessor.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#4144 Add a link to OS image store dir in image list page
  java/code/src/com/redhat/rhn/domain/image/OSImageStoreUtils.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/templates/content_management/view.jade
  java/spacewalk-java.changes
  web/html/src/manager/images/image-view.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, data-model, webui-templates

#4147 Appstreams filter template
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/contentmgmt/FilterTemplateManager.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/FilterApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/request/FilterRequest.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/list-filters/filter.utils.ts
  web/html/src/manager/content-management/list-filters/templates/app-streams.tsx
  web/html/src/manager/content-management/list-filters/templates/index.tsx
  web/html/src/manager/content-management/list-filters/templates/live-patching.tsx
  web/html/src/manager/content-management/shared/api/use-lifecycle-actions-api.ts
  web/html/src/manager/content-management/shared/type/filter.type.ts
  web/html/src/utils/hooks.test.tsx
  web/html/src/utils/hooks.ts
  web/html/src/utils/network.ts
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, content-management, old-ui

#4151 QA: Replace sshcmd calls by TwoPence implementation of run
  testsuite/Gemfile
  testsuite/documentation/pitfalls.md
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/env.rb
  testsuite/features/support/ssh.rb
Labels: testing, ruby_rubocop, test-framework

#4153 QA: Use a bigger buffer size when calling mgr-sync with twopence
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/lavanda.rb
Labels: testing, ruby_rubocop, test-framework

#4155 Fix several issues in BV retail tests for Head
  testsuite/features/build_validation/retail/build_sle11_kiwi_image.feature
  testsuite/features/build_validation/retail/build_sle12_kiwi_image.feature
  testsuite/features/build_validation/retail/build_sle15_kiwi_image.feature
  testsuite/features/build_validation/retail/deploy_sle11_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle12_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle15_terminal.feature
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/constants.rb
  testsuite/run_sets/build_validation_retail.yml
  testsuite/run_sets/build_validation_retail_sle11.yml
  testsuite/run_sets/build_validation_retail_sle12.yml
  testsuite/run_sets/build_validation_retail_sle15.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#4096 Don't capitalize acronym strings
  web/html/src/utils/functions.test.ts
  web/html/src/utils/functions.ts
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4157 Fix JSon null comparison when parsing virtual network infos
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualNetworkInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualNetsControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/virt.net.info.json
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4087 susemanager: Package 'snapper' is now optional
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

#4160 QA: Refactor run command to use keyword parameters
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/lock_packages_on_client.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/support/client_stack.rb
  testsuite/features/support/cobbler_test.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/upload_files/Redfish-Mockup-Server/rfSsdpServer.py
Labels: testing, ruby_rubocop, test-framework

#4148 Show AppStream just for modular channel
  java/code/src/com/redhat/rhn/common/security/acl/Access.java
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/webapp/WEB-INF/nav/channel_detail.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#4177 Abort db migration if data_directory is set in postgresql configuration
  susemanager/bin/pg-migrate-x-to-y.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests
