Repository uyuni-project/uyuni, pull requests merged in 2021-12, with the labels that each got.

#4519 Fix reboot problem
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/secondary/srv_handle_channels_with_ISS_v2.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/support/client_stack.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#4324 reposync replaces arch variables in mirrorlist
  backend/HACKING
  backend/satellite_tools/repo_plugins/deb_src.py
  backend/satellite_tools/repo_plugins/uln_src.py
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
  backend/satellite_tools/repo_plugins/yum_src.py
  backend/satellite_tools/reposync.py
  backend/satellite_tools/test/unit/README
  backend/satellite_tools/test/unit/test_reposync.py
  backend/satellite_tools/test/unit/test_uln.py
  backend/satellite_tools/test/unit/test_yum_src.py
  backend/spacewalk-backend.changes
  backend/test/docker-backend-common-tests.sh
  backend/test/docker-backend-pgsql-tests.sh
  backend/test/docker-backend-tools-tests.sh
Labels: python3, backend_unittests_pgsql

#4530 Testsuite: Add new POS Kiwi profile to be used by Uyuni testsuite
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/config.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/root/etc/multipath.conf
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/root/etc/sysconfig/bootloader
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/install-local-bootloader.service
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/config.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/root/etc/multipath.conf
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/root/etc/sysconfig/bootloader
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/install-local-bootloader.service
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/config.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/root/etc/multipath.conf
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/root/etc/sysconfig/bootloader
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/install-local-bootloader.service
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#4393 spacewalk-setup: Support cobbler 3.2.0+
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/setup/spacewalk-setup.spec
Labels: merge-candidate

#4535 Testuite: Do not enable Salt bundle for PXE minion bootstrap script
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4479 add bugnumber to changelog
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, merge-candidate

#4542 Fix typos in bug template
  .github/ISSUE_TEMPLATE/ISSUE_TEMPLATE-Bug.md
Labels: merge-candidate

#4537 do not build python 2 package for SLE15
  client/rhel/rhnlib/rhnlib.changes
  client/rhel/rhnlib/rhnlib.spec
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/tools/mgr-cfg/mgr-cfg.changes
  client/tools/mgr-cfg/mgr-cfg.spec
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/mgr-osad.spec
  client/tools/mgr-push/mgr-push.changes
  client/tools/mgr-push/mgr-push.spec
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/mgr-virtualization.spec
  client/tools/spacewalk-koan/spacewalk-koan.changes
  client/tools/spacewalk-koan/spacewalk-koan.spec
  client/tools/spacewalk-oscap/spacewalk-oscap.changes
  client/tools/spacewalk-oscap/spacewalk-oscap.spec
  suseRegisterInfo/suseRegisterInfo.changes
  suseRegisterInfo/suseRegisterInfo.spec
Labels: merge-candidate

#4182 Add-Debian-11-to-QA-testsuit
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/debian11_minion.feature
  testsuite/features/build_validation/init_clients/debian11_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_clients.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#4425 Wait product migration
  testsuite/features/init_clients/sle_minion.feature
Labels: merge-candidate, testing, ruby_rubocop

#4532 Wait for page to be loaded in KVM tests
  testsuite/features/secondary/minkvm_guests.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#4547 postgresql-jdbc needs ongres-scram dependencies
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4550 fix typo
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4418 Use an 'allow' filter for kernel packages with live patching filter templates (bsc#1191460)
  java/code/src/com/redhat/rhn/manager/contentmgmt/FilterTemplateManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4313 UI and API call for changing proxy
  java/code/src/com/redhat/rhn/domain/action/salt/ApplyStatesActionDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/salt/ApplyStatesActionDetails.java
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/reactor/messaging/ApplyStatesEventMessage.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/templates/minion/proxy.jade
  java/code/src/com/suse/manager/webui/templates/ssm/proxy.jade
  java/code/src/com/suse/manager/webui/utils/gson/ServerSetProxyJson.java
  java/code/webapp/WEB-INF/nav/ssm.xml
  java/code/webapp/WEB-INF/pages/ssm/ssmindex.jsp
  java/code/webapp/WEB-INF/pages/systems/sdc/connection.jsp
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnActionApplyStates.sql
  schema/spacewalk/common/tables/rhnServerPath.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.4-to-susemanager-schema-4.3.5/010-apply-states.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.4-to-susemanager-schema-4.3.5/020-server-path-idx.sql
  susemanager-utils/susemanager-sls/salt/bootstrap/set_proxy.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/html/src/manager/systems/index.ts
  web/html/src/manager/systems/proxy.renderer.tsx
  web/html/src/manager/systems/proxy.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, merge-candidate, webapp, salt-actions-implementations, data-model, xmlrpc, old-ui, webui-templates

#4553 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#4556 QA: Disable IPv4 forwarding on branch formula
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
Labels: core-features, merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#4554 Indentation for 4th level navigation element
  branding/css/susemanager-theme.less
  branding/css/uyuni-theme.less
  branding/spacewalk-branding.changes
Labels: merge-candidate

#4548 Proxy: update the cached channels when handling listChannels
  backend/server/handlers/xmlrpc/up2date.py
  backend/spacewalk-backend.changes
  proxy/proxy/broker/rhnBroker.py
  proxy/proxy/spacewalk-proxy.changes
Labels: python3, proxy, backend_unittests_pgsql, merge-candidate

#4540 Allow configuring SSH port when bootstrapping SSH-only minions
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/ServerPath.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/utils/RegularMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/SSHMinionBootstrapperTest.java
  java/code/src/com/suse/manager/webui/services/impl/MinionPendingRegistrationService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltSSHServiceTest.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltServiceTest.java
  java/code/src/com/suse/utils/Opt.java
  java/code/src/com/suse/utils/test/OptTest.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/suseMinionInfo.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.4-to-susemanager-schema-4.3.5/001-add-ssh-port-minion.sql
  web/html/src/manager/systems/bootstrap/bootstrap-minions.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, merge-candidate, data-model

#4233 Add additional matchers to package (nevra) filter
  java/code/src/com/redhat/rhn/domain/contentmgmt/FilterCriteria.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/PackageFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentFilterTest.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/shared/business/filters.enum.test.ts
  web/html/src/manager/content-management/shared/business/filters.enum.ts
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, merge-candidate, data-model

#4412 BugFix: make sure pickup_time is not null when setting the status to picked up
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, salt-actions-implementations, data-model

#4426 don't consider empty action chains done (bsc#1191377)
  java/code/src/com/redhat/rhn/domain/action/ActionChain.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#4431 Grandfather old date constructor uses
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/components/input/DateTime.stories.tsx
  web/html/src/core/spa/spa-engine.tsx
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/html/src/manager/virtualization/guests/console/guests-console.tsx
  web/html/src/manager/visualization/ui/components.ts
  web/html/src/utils/functions.ts
  web/html/src/utils/test-utils/timer.ts
Labels: ui, javascript_lint, merge-candidate

#4486 Configure logs destination for salt-broker
  proxy/proxy/salt-broker/broker
  proxy/proxy/salt-broker/salt-broker
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy, merge-candidate

#4505 Drop old and stale logic
  proxy/installer/configure-proxy.sh
Labels: proxy, merge-candidate

#4518 Fix of system-history report query
  reporting/reports/data/system-history
  reporting/spacewalk-reports.changes
Labels: merge-candidate

#4531 Get rid of cluster tests
  testsuite/config/cucumber.yml
  testsuite/features/secondary/srv_user_configuration_salt_states.feature
Labels: merge-candidate, secondary-features, ci-pipelines, testing, ruby_rubocop

#4565 Revert "QA: Disable IPv4 forwarding on branch formula"
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
Labels: core-features, merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#4354 Include link to vendor security advisory
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataDetailsSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/test/ErrataDetailsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/suse/manager/errata/AbstractSimpleErrataParser.java
  java/code/src/com/suse/manager/errata/AlibabaErrataParser.java
  java/code/src/com/suse/manager/errata/AlmaLinuxErrataParser.java
  java/code/src/com/suse/manager/errata/AmazonErrataParser.java
  java/code/src/com/suse/manager/errata/ErrataParserFactory.java
  java/code/src/com/suse/manager/errata/ErrataParsingException.java
  java/code/src/com/suse/manager/errata/OracleErrataParser.java
  java/code/src/com/suse/manager/errata/RedhatErrataParser.java
  java/code/src/com/suse/manager/errata/RockyLinuxErrataParser.java
  java/code/src/com/suse/manager/errata/SUSEErrataParser.java
  java/code/src/com/suse/manager/errata/SUSERESErrataParser.java
  java/code/src/com/suse/manager/errata/VendorSpecificErrataParser.java
  java/code/src/com/suse/manager/errata/test/AlibabaErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/AlmaLinuxErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/AmazonErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/BaseErrataTestCase.java
  java/code/src/com/suse/manager/errata/test/OracleErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/RedhatErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/RockyLinuxErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/SUSEErrataParserTest.java
  java/code/src/com/suse/manager/errata/test/SUSERESErrataParserTest.java
  java/code/webapp/WEB-INF/pages/errata/details.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, webapp, old-ui

#4397 Make bootstrap script to use bash when called with different interpreter (bsc#1191656)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: merge-candidate

#4407 Fix problem installing/removing packages using action chains in transactional systems
  susemanager-utils/susemanager-sls/src/modules/mgractionchains.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: merge-candidate

#4455 Increase "max_event_size" value for the Salt master (bsc#1191340)
  spacewalk/setup/salt/susemanager.conf
  spacewalk/setup/spacewalk-setup.changes
Labels: merge-candidate

#4489 use a permanent config key for SSHMinionActionExecutor parallel threads
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/AutoErrataTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/CVEServerChannels.java
  java/code/src/com/redhat/rhn/taskomatic/task/ChangeLogCleanUp.java
  java/code/src/com/redhat/rhn/taskomatic/task/ChannelRepodata.java
  java/code/src/com/redhat/rhn/taskomatic/task/ClearLogHistory.java
  java/code/src/com/redhat/rhn/taskomatic/task/CobblerSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/CompareConfigFilesTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/DailySummary.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataCacheTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataMailer.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataQueue.java
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/KickstartCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/KickstartFileSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/MgrSyncRefresh.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionCheckin.java
  java/code/src/com/redhat/rhn/taskomatic/task/ModularDataCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/NotificationsCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/PackageCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/RebootActionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringStateApplyJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/RepoSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/RhnJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/SSHMinionActionExecutor.java
  java/code/src/com/redhat/rhn/taskomatic/task/SSHPush.java
  java/code/src/com/redhat/rhn/taskomatic/task/SandboxCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/SatSyncTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/SessionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/SummaryPopulation.java
  java/code/src/com/redhat/rhn/taskomatic/task/SynchProbeState.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/UuidCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/gatherer/GathererJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/matcher/MatcherJob.java
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
  spacewalk/config/spacewalk-config.changes
  spacewalk/config/spacewalk-config.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4549 Fix force_restart_minion error on old systems with no sed -E
  susemanager-utils/susemanager-sls/salt/actionchains/force_restart_minion.sh
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: merge-candidate

#4539 only consider actionchains from same minion as event for deletion (bsc#1189561)
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4480 spacewalk-proxy: remove unnecessary dependencies to Squid
  proxy/proxy/spacewalk-proxy.changes
  proxy/proxy/spacewalk-proxy.spec
Labels: proxy, merge-candidate

#4566 QA: Disable IPv4 forwarding on branch formula
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/twopence_init.rb
Labels: core-features, merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#4567 BV terminals have no reason to be reachable by network
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4570 BV: Allow all SSL Protocols in Proxy's Apache
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#4571 add task to create test report for unit tests
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4574 QA: We are wronly using eth0 in some steps
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/core/allcli_sanity.feature
Labels: core-features, testing, ruby_rubocop, build-validation-features

#4586 Check if squid.conf is available in proxy installer post
  proxy/installer/spacewalk-proxy-installer.spec
Labels: proxy, merge-candidate

#4396 Removed wrong checkstyle suppressions and updated missing javadoc
  java/buildconf/checkstyle-suppressions.xml
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/xmlrpc/dto/SystemEventDetailsDto.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4406 Remove mgr_bootstrap_data's code owner
  .github/CODEOWNERS
Labels: merge-candidate

#4429 Change copyright according to offical docs
  spacewalk/setup/doc/conf.py
Labels: merge-candidate

#4498 pg-migrate: check latest postgresql??-server package
  susemanager/bin/pg-migrate-x-to-y.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests, merge-candidate

#4578 Generalised repo2solv usage
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4585 Added installation on Rocky Linux 8
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests, merge-candidate

#4401 Differentiate prod migration in CVE audit
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/audit/PatchStatus.java
  java/code/src/com/redhat/rhn/manager/audit/test/CVEAuditManagerTest.java
  java/spacewalk-java.changes
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, merge-candidate

#4278 Add expand/collapse all button and search box for Formulas
  web/html/src/components/FormulaForm.tsx
  web/html/src/components/formulas/EditGroup.tsx
  web/html/src/components/formulas/FormulaComponentGenerator.tsx
  web/html/src/components/formulas/Group.tsx
  web/html/src/components/formulas/SectionToggle.tsx
  web/spacewalk-web.changes
Labels: ui, javascript_lint, merge-candidate

#4572 Activation Keys: Only show the warning for SUMA Default, when the default channel is selected
  web/html/src/manager/systems/activation-key/activation-key-channels.tsx
Labels: ui, javascript_lint, merge-candidate

#4591 Revert "Merge pull request #4278"
  web/html/src/components/FormulaForm.tsx
  web/html/src/components/formulas/EditGroup.tsx
  web/html/src/components/formulas/FormulaComponentGenerator.tsx
  web/html/src/components/formulas/Group.tsx
  web/html/src/components/formulas/SectionToggle.tsx
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4573 Fixes for Changing proxy PR
  web/html/src/manager/systems/proxy.tsx
Labels: ui, javascript_lint, merge-candidate

#4597 Fix test_module_sumautil
  susemanager-utils/susemanager-sls/src/tests/test_module_sumautil.py
Labels: merge-candidate

#4603 Fix stripping module metadata when cloning channels in CLM (bsc#1193008)
  java/code/src/com/redhat/rhn/manager/channel/CloneChannelCommand.java
  java/code/src/com/redhat/rhn/manager/channel/test/CloneChannelCommandTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4506 package locking XMLRPC API
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/domain/rhnpackage/PackageFactory.java
  java/code/src/com/redhat/rhn/domain/rhnpackage/Package_satellite.hbm.xml
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/LockPackageAction.java
  java/code/src/com/redhat/rhn/frontend/dto/PackageListItem.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
  java/code/src/com/redhat/rhn/manager/user/UserManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, data-model, xmlrpc, old-ui

#4582 QA: Add tests for details overview page
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/secondary/allcli_overview_systems_details.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#4580 QA: Fix ADDRESSES hash keys
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/lavanda.rb
Labels: core-features, merge-candidate, testing, ruby_rubocop, test-framework

#4609 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  web/po/sk.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#4617 Make page size usage more consistent
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/core/user-preferences/index.ts
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/admin/task-engine-status/taskotop.tsx
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-messages.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-pins.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-subscriptions.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.tsx
  web/html/src/manager/content-management/list-filters/list-filters.tsx
  web/html/src/manager/content-management/list-projects/list-projects.tsx
  web/html/src/manager/images/image-profiles.tsx
  web/html/src/manager/images/image-stores.tsx
  web/html/src/manager/images/image-view-packages.tsx
  web/html/src/manager/images/image-view-patches.tsx
  web/html/src/manager/images/image-view.tsx
  web/html/src/manager/maintenance/list/calendar-list.tsx
  web/html/src/manager/maintenance/list/schedule-list.tsx
  web/html/src/manager/notifications/notification-messages.tsx
  web/html/src/manager/salt/formula-catalog/org-formula-catalog.tsx
  web/html/src/manager/salt/keys/key-management.tsx
  web/html/src/manager/state/recurring-states-list.tsx
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/html/src/manager/systems/virtual-list.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-details.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-list.tsx
Labels: ui, javascript_lint

#4601 Remove constructor context binding
  web/html/src/components/buttons.tsx
  web/html/src/components/config-channels.tsx
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/components/fields.tsx
  web/html/src/components/formula-selection.tsx
  web/html/src/components/formulas/EditGroup.tsx
  web/html/src/components/formulas/PasswordInput.tsx
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/html/src/manager/images/image-build.tsx
  web/html/src/manager/images/image-import.tsx
  web/html/src/manager/images/image-profile-edit.tsx
  web/html/src/manager/images/image-profiles.tsx
  web/html/src/manager/images/image-store-edit.tsx
  web/html/src/manager/images/image-stores.tsx
  web/html/src/manager/images/image-view-patches.tsx
  web/html/src/manager/images/image-view.tsx
  web/html/src/manager/salt/cmd/remote-commands.tsx
  web/html/src/manager/salt/keys/key-management.tsx
  web/html/src/manager/state/recurring-states.tsx
  web/html/src/manager/systems/bootstrap/bootstrap-minions.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-details.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-edit.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager.tsx
Labels: ui, javascript_lint

#4611 add string ovalfiles
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui
