Repository uyuni-project/uyuni, pull requests merged in 2021-04, with the labels that each got.

#3510 Fix docs link in my organization configuration (bsc#1184286)
  java/code/webapp/WEB-INF/pages/multiorg/configuration.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#3512 Testsuite: Fix idempotency in the cobbler test
  testsuite/features/step_definitions/common_steps.rb
Labels: ruby_rubocop, test-framework, testing

#3511 Fix condition in mgr-setup to prevent noise messages during setup
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

#3514 Package all python grains
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: salt

#3515 Change steps with new mirror hostname
  testsuite/features/build_validation/add_custom_repositories/add_ceos6_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_ceos7_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
Labels: build-validation-features, ruby_rubocop, testing

#3509 assign right res base product for version >=8 (bsc#1184005)
  java/code/src/com/suse/manager/reactor/utils/RhelUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3518 QA: Refactor of select steps
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/screenshots/Detach_systems_from_Schedules.png
Labels: ruby_rubocop, test-framework, testing

#3522 Add a retail tag, the feature is a dependency for buildhost_osimage_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
Labels: ruby_rubocop, secondary-features, testing

#3501 Add aarch64 for CentOS7/8, Oracle7/8, Amazon Linux2 and Alibaba Linux 2
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#3526 Disable centos 8 from run_sets
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3528 QA: Fix typo in select step
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/screenshots/Detach_systems_from_Schedules.png
Labels: ruby_rubocop, test-framework, testing

#3530 QA: Fix "has react select" field and value
  testsuite/features/step_definitions/navigation_steps.rb
Labels: ruby_rubocop, test-framework, testing

#3531 QA: KVM/XEN tests authorize always as admin
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
Labels: ruby_rubocop, secondary-features, testing

#3532 Skip Install patch for 15sp3
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/support/env.rb
Labels: build-validation-features, ruby_rubocop, test-framework, testing

#3516 Add openSUSE Leap 15.3
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#3368 add dependencies with versions for packages
  backend/rhn-conf/rhn_server_xmlrpc.conf
  backend/spacewalk-backend.changes
  backend/tito.props
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  java/tito.props
  schema/spacewalk/spacewalk-schema-upgrade
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-startup-helper
Labels: backend_unittests_pgsql, database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

#3485 Remove SSL download from push package
  testsuite/features/secondary/srv_push_package.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features, test-framework, testing

#3537 QA: Assure that we don't have cookies in some scenarios
  testsuite/features/secondary/srv_mainpage.feature
  testsuite/features/secondary/srv_security.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3517 Bugfix: Check if the directory exists prior to modular data cleanup
  java/code/src/com/redhat/rhn/taskomatic/task/ModularDataCleanup.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3539 QA: Rename min_state_config_channel to min_config_state_channel_subscriptions
  testsuite/features/secondary/min_config_state_channel_subscriptions.feature
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#3541 add missing test execution min_config_state_channel_xmlrpc.feature
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3524 Automatically start networks and pools when starting / creating a VM
  susemanager-utils/susemanager-sls/salt/virt/create-vm.sls
  susemanager-utils/susemanager-sls/salt/virt/statechange.sls
  susemanager-utils/susemanager-sls/src/states/virt_utils.py
  susemanager-utils/susemanager-sls/src/tests/test_state_virt_utils.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: salt

#3533 QA: Capybara hold the web browser session
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/env.rb
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3544 Supportconfig: Fix the IS_SUSE variable reading
  backend/satellite_tools/spacewalk-debug
Labels: backend_unittests_pgsql

#3550 virt_utils state: remove libvirt import
  susemanager-utils/susemanager-sls/src/states/virt_utils.py
Labels: salt

#3551 QA: Prevent a flaky tests on KVM/XEN scenarios
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3395 Testsuite: Test the Retracted Patches feature
  testsuite/config/cucumber.yml
  testsuite/features/secondary/min_retracted_patches.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, test-framework, testing

#3482 Highstate summary page
  branding/css/susemanager-mixins.less
  branding/css/uyuni-mixins.less
  branding/spacewalk-branding.changes
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.java
  java/code/src/com/redhat/rhn/manager/configuration/SaltConfigurable.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/StateSourceService.java
  java/code/src/com/suse/manager/webui/services/test/StateSourceServiceTest.java
  java/code/src/com/suse/manager/webui/utils/gson/StateSourceDto.java
  java/spacewalk-java.changes
  web/html/src/jest.config.js
  web/html/src/manager/state/display-highstate.tsx
  web/html/src/manager/state/highstate-summary.test.tsx
  web/html/src/manager/state/highstate-summary.tsx
  web/html/src/utils/test-utils/forms.js
  web/html/src/utils/test-utils/forms.ts
  web/html/src/utils/test-utils/index.ts
  web/html/src/utils/test-utils/mock.tsx
  web/html/src/utils/test-utils/setup.js
  web/html/src/utils/test-utils/setup.ts
  web/html/src/utils/test-utils/timer.js
  web/html/src/utils/test-utils/timer.ts
  web/spacewalk-web.changes
Labels: data-model, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui

#3556 Checksum problem with autoinstall
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartableTree.java
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/test/CobblerCommandTest.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/TreeCreateOperation.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/test/TreeCreateOperationTest.java
  java/spacewalk-java.changes
Labels: API, data-model, java, java_lint_checkstyle, java_pgsql_tests, old-ui

#3557 Adapt tests for new Highstate page
  java/code/src/com/suse/manager/webui/services/test/StateSourceServiceTest.java
  testsuite/features/secondary/min_salt_software_states.feature
  testsuite/features/secondary/min_salt_user_states.feature
Labels: java, java_lint_checkstyle, java_pgsql_tests, ruby_rubocop, secondary-features, testing

#3564 Testsuite: Make sure package is installed on/removed from client in retracted patches tests
  testsuite/features/secondary/min_retracted_patches.feature
Labels: ruby_rubocop, secondary-features, testing

#3573 Testsuite - delete empty bootstrap profiles
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/upload_files/massive-import-terminals.yml
Labels: ci-pipelines, core-features, ruby_rubocop, test-framework, testing

#3575 Revert "Testsuite - delete empty bootstrap profiles"
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/upload_files/massive-import-terminals.yml
Labels: ci-pipelines, core-features, ruby_rubocop, test-framework, testing

#3581 Testsuite: Fix test for retracted patches
  testsuite/features/secondary/min_retracted_patches.feature
Labels: ruby_rubocop, secondary-features, testing

#3580 Ansible playbook execute action
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/salt/PlaybookAction.java
  java/code/src/com/redhat/rhn/domain/action/salt/PlaybookActionDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/salt/PlaybookActionDetails.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/AnsibleHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/test/AnsibleHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionChainManager.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionChainManagerTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/common/tables/rhnActionPlaybook.sql
  schema/spacewalk/upgrade/susemanager-schema-4.2.9-to-susemanager-schema-4.2.10/351-rhn_entitlements.pkb.sql
  schema/spacewalk/upgrade/susemanager-schema-4.2.9-to-susemanager-schema-4.2.10/370-create-rhnActionPlaybook.sql
  schema/spacewalk/upgrade/susemanager-schema-4.2.9-to-susemanager-schema-4.2.10/371-insert-action-ansible-playbook.sql
Labels: API, data-model, database, java, java_lint_checkstyle, java_pgsql_tests, old-ui, salt-actions-implementations, schema_migration_test_oracle, schema_migration_test_pgsql, xmlrpc

#3596 Lower case fqdn comparation when calculating minion connection path
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/spacewalk-java.changes
Labels: data-model, java, java_lint_checkstyle, java_pgsql_tests

#3579 Correct expected text for product sync
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: build-validation-features, ruby_rubocop, testing

#3600 Testsuite: inspect the zypper rotated log as well
  testsuite/features/step_definitions/command_steps.rb
Labels: ruby_rubocop, test-framework, testing

#3597 QA: Support Cucumber tags as environment variable
  testsuite/Rakefile
Labels: ruby_rubocop, testing

#3605 Testsuite: Minor tweak in a step definition
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/secondary/min_salt_install_package.feature
  testsuite/features/secondary/trad_inst_package_and_patch.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3607 [Ansible] Add some initial cucumber tests
  testsuite/config/cucumber.yml
  testsuite/features/secondary/min_ansible_control_node.feature
  testsuite/features/secondary/minssh_ansible_control_node.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/ansible/playbooks/example_playbook1_ping.yml
  testsuite/features/upload_files/ansible/playbooks/example_playbook2_orion_dummy/example_file.txt
  testsuite/features/upload_files/ansible/playbooks/example_playbook2_orion_dummy/example_playbook2_orion_dummy.yml
  testsuite/features/upload_files/ansible/playbooks/example_playbook2_orion_dummy/hosts
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, test-framework, testing

#3608 Revert "QA: Support Cucumber tags as environment variable (#3597)"
  testsuite/Rakefile
Labels: ruby_rubocop, testing

#3614 Revert "Revert "QA: Support Cucumber tags as environment variable (#3597)""
  testsuite/Rakefile
Labels: ruby_rubocop, testing

#3611 Fix deprecation in systemd files
  backend/cdn_tools/cdn-sync
  backend/satellite_tools/mgr-update-pkg-extra-tags
  backend/satellite_tools/satellite-sync
  backend/satellite_tools/spacewalk-remove-channel
  backend/satellite_tools/spacewalk-repo-sync
  backend/satellite_tools/update-packages
  backend/spacewalk-backend.changes
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/osa-dispatcher-selinux/osa-dispatcher.fc
  client/tools/mgr-osad/osa-dispatcher.service
  client/tools/mgr-osad/osad.service
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/SyncRepositoriesAction.java
  java/spacewalk-java.changes
  proxy/installer/jabberd/c2s.xml
  proxy/installer/jabberd/sm.xml
  proxy/installer/spacewalk-proxy-installer.changes
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-service.systemd
  spacewalk/admin/spacewalk-wait-for-tomcat.service
  spacewalk/admin/spacewalk-wait-for-tomcat.service.SUSE
  spacewalk/spacewalk-setup-postgresql/bin/spacewalk-setup-postgresql
  spacewalk/spacewalk-setup-postgresql/spacewalk-setup-postgresql.changes
  susemanager-utils/testing/docker/master/uyuni-master-cobbler/cobbler_web.conf
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: API, backend_unittests_pgsql, java, java_lint_checkstyle, java_pgsql_tests, old-ui, proxy, susemanager_unittests

#3616 Update changelog with retracted patches changes
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#3404 Migrate `manager/systems`
  web/html/src/.eslintrc.js
  web/html/src/TYPESCRIPT_MIGRATION.md
  web/html/src/components/action-schedule.tsx
  web/html/src/components/input/Form.tsx
  web/html/src/core/channels/api/mandatory-channels-api.ts
  web/html/src/global.d.ts
  web/html/src/lib.es5.d.ts
  web/html/src/manager/systems/activation-key/activation-key-channels-api.tsx
  web/html/src/manager/systems/activation-key/activation-key-channels.js
  web/html/src/manager/systems/activation-key/activation-key-channels.renderer.js
  web/html/src/manager/systems/activation-key/activation-key-channels.renderer.tsx
  web/html/src/manager/systems/activation-key/activation-key-channels.tsx
  web/html/src/manager/systems/activation-key/child-channels.js
  web/html/src/manager/systems/activation-key/child-channels.tsx
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
  web/html/src/manager/systems/bootstrap/bootstrap-minions.tsx
  web/html/src/manager/systems/delete-system-confirm.js
  web/html/src/manager/systems/delete-system-confirm.tsx
  web/html/src/manager/systems/delete-system.js
  web/html/src/manager/systems/delete-system.tsx
  web/html/src/manager/systems/duplicate-systems-compare-delete.js
  web/html/src/manager/systems/duplicate-systems-compare-delete.tsx
  web/html/src/manager/systems/index.js
  web/html/src/manager/systems/index.ts
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.js
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.js
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.renderer.js
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.renderer.tsx
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-details.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-details.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-edit.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-edit.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-list.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-list.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager.js
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager.tsx
  web/html/src/tsconfig.json
Labels: javascript_lint, ui

#3332 Migrate `manager/groups`
  web/html/src/components/FormulaForm.tsx
  web/html/src/manager/groups/config-channels/group-config-channels.js
  web/html/src/manager/groups/config-channels/group-config-channels.tsx
  web/html/src/manager/groups/formula/group-formula-selection.renderer.js
  web/html/src/manager/groups/formula/group-formula-selection.renderer.tsx
  web/html/src/manager/groups/formula/group-formula.renderer.js
  web/html/src/manager/groups/formula/group-formula.renderer.tsx
  web/html/src/manager/groups/index.js
  web/html/src/manager/groups/index.ts
Labels: javascript_lint, ui

#3613 Fix ReactSelect options placement in modal dialogs (bsc#1183997)
  web/html/src/components/input/Select.tsx
  web/html/src/utils/test-utils/index.ts
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#3618 QA: Use the correct tags expressions for Cucumber 2.0.0
  testsuite/Rakefile
Labels: ruby_rubocop, testing

#3619 Oes2018 sp3 bootstrap data
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#3588 Remove Activation key from system details page
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/webapp/WEB-INF/pages/systems/sdc/overview.jsp
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, old-ui, webapp

#3627 Testsuite: Fix trad_centos_client.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: ruby_rubocop, test-framework, testing

#3625 Exclude minions from the systems list for locally-managed/sandbox files during copy To operation.
  java/code/src/com/redhat/rhn/common/db/datasource/xml/config_queries.xml
  java/code/src/com/redhat/rhn/manager/configuration/test/ConfigurationManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3628 Prettify the symlink for jboss-logging
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3630 Correct the macro to check for opensuse ("is_opensuse")
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3635 Revert "Testsuite: Fix trad_centos_client.feature"
  testsuite/features/step_definitions/command_steps.rb
Labels: ruby_rubocop, test-framework, testing

#3638 Testsuite: Follow a UI change
  testsuite/features/secondary/min_bootstrap_script.feature
Labels: ruby_rubocop, secondary-features, testing

#3612 Update CLM filter list
  web/html/src/components/table/SearchField.test.tsx
  web/html/src/components/table/SearchField.tsx
  web/html/src/components/table/SearchPanel.tsx
  web/html/src/components/table/Table.tsx
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/manager/content-management/list-filters/list-filters.tsx
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project.js
  web/html/src/manager/content-management/shared/type/filter.type.ts
  web/html/src/utils/data.test.js
  web/html/src/utils/data.ts
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#3644 Remove the smdba tests from the finishing set for Pull Requests e2e
  testsuite/run_sets/finishing_pr.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3622 Remove 127.0.0.1 from ACL name localhost
  proxy/installer/squid.conf
  proxy/proxy-docs/spacewalk-proxy-docs.changes
  proxy/proxy-docs/squid.conf.sample
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy

#3639 QA: Fix OpenScap issue in CentOS minion
  testsuite/features/secondary/min_centos_openscap_audit.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
  testsuite/features/secondary/min_ubuntu_openscap_audit.feature
  testsuite/features/secondary/trad_centos_client.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3649 Resolve input control conflicts
  web/html/src/components/table/SearchField.tsx
  web/html/src/components/table/SearchPanel.tsx
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/admin/task-engine-status/taskotop.tsx
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-subscriptions.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.tsx
  web/html/src/manager/images/image-profiles.tsx
  web/html/src/manager/images/image-stores.tsx
  web/html/src/manager/images/image-view-packages.tsx
  web/html/src/manager/images/image-view-patches.tsx
  web/html/src/manager/images/image-view.tsx
  web/html/src/manager/maintenance/details/schedule-details.tsx
  web/html/src/manager/notifications/notification-messages.tsx
  web/html/src/manager/salt/keys/key-management.tsx
  web/html/src/manager/virtualization/ListTab.js
  web/html/src/manager/virtualization/pools/list/pools-list.js
Labels: javascript_lint, ui

#3656 Add test coverage for control conflict changes
  web/html/src/components/table/SearchField.test.tsx
  web/html/src/components/table/Table.test.js
  web/html/src/utils/test-utils/index.ts
Labels: javascript_lint, ui

#3655 Remove warnings in suma bsc 1175369
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/installer/squid.conf
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy

#3657 QA: Moving build host feature to secondary_parallelizable.yml
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, testing

#3587 Move autoinstall files upload from sumaform to spacewalk project
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/autoinstall/cobbler/fedora12/initrd.img
  testsuite/features/upload_files/autoinstall/cobbler/fedora12/vmlinuz
  testsuite/features/upload_files/autoinstall/cobbler/mock/empty.xml
  testsuite/features/upload_files/autoinstall/cobbler/sles15sp2/initrd
  testsuite/features/upload_files/autoinstall/cobbler/sles15sp2/linux
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3661 Testsuite: Overview page doesn't show the activation key
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
Labels: ruby_rubocop, secondary-features, testing

#3664 Backport #3662 and tagging to master
  client/rhel/dnf-plugin-spacewalk/actions/errata.py
  client/rhel/dnf-plugin-spacewalk/dnf-plugin-spacewalk.changes
  client/rhel/dnf-plugin-spacewalk/dnf-plugin-spacewalk.spec
  client/rhel/yum-rhn-plugin/actions/errata.py
  client/rhel/yum-rhn-plugin/yum-rhn-plugin.changes
  client/rhel/yum-rhn-plugin/yum-rhn-plugin.spec
  rel-eng/packages/dnf-plugin-spacewalk
  rel-eng/packages/yum-rhn-plugin
Labels: python3

#3665 SLE11 SP4 can't bootstrap without python-xml
  testsuite/features/build_validation/init_clients/sle11sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
Labels: build-validation-features, ruby_rubocop, testing

#3658 Support Amazon Linux mirror list URLs
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/spacewalk-java.changes
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/susemanager-sync-data.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3666 QA: Remove workround on Ubuntu GPG Check
  testsuite/features/core/srv_channels_add.feature
  testsuite/features/core/srv_create_repository.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: core-features, ruby_rubocop, test-framework, testing

#3654 QA: Fix flaky tests waiting for a pick-up of an event of a page without ajax
  testsuite/features/step_definitions/navigation_steps.rb
Labels: ruby_rubocop, test-framework, testing

#3667 QA: Remove workaround for bug bsc#1181847
  testsuite/features/build_validation/init_clients/ceos6_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_ssh_minion.feature
  testsuite/features/build_validation/init_clients/debian10_ssh_minion.feature
  testsuite/features/build_validation/init_clients/debian9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ceos8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2004_ssh_minion.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: build-validation-features, ruby_rubocop, test-framework, testing

#3668 Ansible: Add missing cucumber tests and fix issue on SLS
  susemanager-utils/susemanager-sls/salt/ansible/runplaybook.sls
  testsuite/features/secondary/min_ansible_control_node.feature
  testsuite/features/secondary/minssh_ansible_control_node.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/upload_files/ansible/playbooks/orion_dummy/file.txt
  testsuite/features/upload_files/ansible/playbooks/orion_dummy/hosts
  testsuite/features/upload_files/ansible/playbooks/orion_dummy/playbook_orion_dummy.yml
  testsuite/features/upload_files/ansible/playbooks/playbook_ping.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, test-framework, testing

#3671 Fix xmlrpc doc
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/AnsibleHandler.java
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, old-ui, xmlrpc
