Repository uyuni-project/uyuni, pull requests merged in 2021-07, with the labels that each got.

#3861 Add reverse resolution sanity check
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, ruby_rubocop, test-framework, testing

#3873 Check the reposync went smoothly
  testsuite/features/build_validation/reposync/srv_wait_for_product_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: build-validation-features, ruby_rubocop, test-framework, testing

#3878 spacecmd needs python 3.6
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
Labels: build-validation-features, ruby_rubocop, testing

#3879 Add SLE12SP5 to init clients run list
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3917 not update Kickstart session when download after session is complete …
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, old-ui

#3816 Testsuite: More robust client IP extraction
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/twopence_init.rb
Labels: ruby_rubocop, test-framework, testing

#3820 Testsuite: Speed up a slow step
  testsuite/features/step_definitions/common_steps.rb
Labels: ruby_rubocop, test-framework, testing

#3901 Fix snippet rhel disable repos
  java/conf/cobbler/snippets/redhat_register_using_salt
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3909 Regen sls files when chaning machine
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/SaltConstants.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3767 Enable parallel building of `susemanager-nodejs-sdk-devel` and `spacewalk-web`
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/setup.sh
  susemanager-frontend/yarn.lock
  susemanager-utils/testing/automation/push-to-obs.sh
  web/html/src/.storybook/config.js
  web/html/src/build.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/setup.sh
Labels: javascript_lint, run-e2e-tests, ui

#3852 QA: Change CentOS OpenSCAP profile
  testsuite/features/secondary/min_centos_openscap_audit.feature
  testsuite/features/secondary/trad_centos_client.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3872 QA: Upgrade initial ssh/minion from 15sp1 to 15sp2
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: ruby_rubocop, test-framework, testing

#3931 Reduce the time to
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/env.rb
Labels: ruby_rubocop, test-framework, testing

#3937 Add some delay after SP migration before scheduling package refresh action (bsc#1187963)
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3934 Move subscription rpm upload from sumaform to testsuite
  testsuite/features/secondary/srv_push_package.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/unset_package/subscription-tools-1.0-0.noarch.rpm
Labels: ruby_rubocop, secondary-features, test-framework, test-suite, testing

#3794 Bugged search in formula catalog
  web/html/src/manager/salt/formula-catalog/org-formula-catalog.tsx
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#3797 Deprecate `StatePersistedContext`
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/components/utils/StatePersistedContext.ts
  web/html/src/manager/audit/subscription-matching/subscription-matching.tsx
Labels: javascript_lint, ui

#3829 Deprecate `objectDefaultValueHandler`
  web/html/src/core/utils/objects.ts
  web/html/src/manager/content-management/shared/business/states.enum.ts
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-view.tsx
Labels: javascript_lint, ui

#3838 Remove unused imports
  susemanager-frontend/yarn.lock
  web/html/src/core/channels/api/mandatory-channels-api.ts
  web/html/src/manager/state/recurring-states-list.tsx
  web/html/src/manager/systems/delete-system.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-details.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-edit.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager-list.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager.tsx
  web/html/src/utils/test-utils/mock.tsx
Labels: javascript_lint, ui

#3839 Fix misc lint warnings
  web/html/src/.eslintrc.js
  web/html/src/components/input/FormMultiInput.tsx
  web/html/src/components/input/Range.stories.js
  web/html/src/components/input/Range.test.tsx
  web/html/src/components/links.tsx
  web/html/src/components/pagination.tsx
  web/html/src/core/channels/utils/channels-dependencies.utils.ts
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/html/src/manager/groups/formula/group-formula-selection.renderer.tsx
  web/html/src/manager/maintenance/ssm/schedule-picker.tsx
  web/html/src/manager/minion/formula/minion-formula-selection.renderer.tsx
  web/html/src/manager/minion/packages/package-states.tsx
  web/html/src/manager/salt/cmd/remote-commands.tsx
  web/html/src/manager/salt/formula-catalog/org-formula-catalog.tsx
  web/html/src/manager/virtualization/nets/properties/fields-data.ts
  web/html/src/manager/visualization/data-tree.ts
Labels: javascript_lint, ui

#3951 Rollback incorrect data-tree fix
  web/html/src/manager/visualization/data-tree.ts
Labels: javascript_lint, ui

#3871 Ansible replace raw json call
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/test/AnsibleHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/AnsibleManager.java
  java/code/src/com/redhat/rhn/manager/system/test/AnsibleManagerTest.java
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, old-ui, xmlrpc

#3949 Revert acceptance tests pr optimization scc
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/env.rb
Labels: ruby_rubocop, test-framework, testing

#3853 Add linter rule for no raw Date usage
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
  web/html/src/.eslintrc.js
  web/html/src/eslint-local-rules/README.md
  web/html/src/eslint-local-rules/index.js
  web/html/src/eslint-local-rules/no-raw-date.js
Labels: javascript_lint, ui

#3955 Fix a typo so mgr-create-bootstrap-script can exit gracefully when interrupted!
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#3864 Retracted patches spacecmd
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/PackageSerializer.java
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/errata.py
  spacecmd/src/spacecmd/misc.py
  spacecmd/src/spacecmd/package.py
  spacecmd/src/spacecmd/utils.py
  spacecmd/tests/test_errata.py
  spacecmd/tests/test_package.py
  spacecmd/tests/test_utils.py
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, old-ui, python3, xmlrpc

#3954 Remove beta tag from client tools reposync
  testsuite/features/reposync/srv_sync_products.feature
Labels: ruby_rubocop, testing

#3947 Move client scenario to right feature
  testsuite/features/finishing/allcli_debug.feature
  testsuite/features/finishing/srv_debug.feature
Labels: ruby_rubocop, testing

#3956 Mock libvirt in test_module_virt_utils.py
  susemanager-utils/susemanager-sls/src/tests/test_module_virt_utils.py
Labels: salt

#3914 openscap: allow passing extra parameters to XCCDF scans on minions
  java/code/src/com/redhat/rhn/domain/action/scap/ScapAction.java
  java/code/src/com/redhat/rhn/domain/action/scap/ScapActionDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/scap/ScapActionDetails.java
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/BaseSsmScheduleXccdfAction.java
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/SsmScheduleXccdfConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/audit/ssm/validation/scheduleXccdfForm.xsd
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/ScheduleXccdfAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/validation/scheduleXccdfForm.xsd
  java/code/src/com/redhat/rhn/frontend/dto/XccdfTestResultDto.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/XccdfTestResultDtoSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/XccdfTestResultSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/scap/SystemScapHandler.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/manager/audit/ScapManager.java
  java/code/src/com/redhat/rhn/manager/audit/scap/TestResultDiffer.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/webapp/WEB-INF/pages/common/fragments/audit/schedule-xccdf.jspf
  java/code/webapp/WEB-INF/pages/systems/details/audit/xccdfdetails.jsp
  java/code/webapp/WEB-INF/struts-config.xml
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnActionScap.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.0-to-susemanager-schema-4.3.1/0001-rhnActionScap-add-ovalfiles-attribute.sql
  susemanager-utils/susemanager-sls/salt/scap/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: API, data-model, database, java, java_lint_checkstyle, java_pgsql_tests, old-ui, salt-actions-implementations, schema_migration_test_oracle, schema_migration_test_pgsql, webapp, xmlrpc

#3905 Add support for Kiwi options
  java/code/src/com/redhat/rhn/domain/image/KiwiProfile.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/profile/ImageProfileHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/profile/test/ImageProfileHandlerTest.java
  java/code/src/com/suse/manager/webui/controllers/ImageProfileController.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/utils/gson/ImageProfileCreateRequest.java
  java/code/src/com/suse/manager/webui/utils/gson/ImageProfileJson.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/suseKiwiProfile.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.0-to-susemanager-schema-4.3.1/004-suseKiwiProfile.sql
  susemanager-utils/susemanager-sls/salt/images/kiwi-image-build.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/html/src/manager/images/image-profile-edit.tsx
  web/spacewalk-web.changes
Labels: API, data-model, database, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, old-ui, salt-actions-implementations, schema_migration_test_oracle, schema_migration_test_pgsql, ui, xmlrpc

#3966 Add 'test mode' option to Ansible playbook execution
  java/code/src/com/redhat/rhn/domain/action/salt/PlaybookActionDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/salt/PlaybookActionDetails.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/AnsibleHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/ansible/test/AnsibleHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionChainManager.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionChainManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/AnsibleManager.java
  java/code/src/com/redhat/rhn/manager/system/test/AnsibleManagerTest.java
  java/code/src/com/suse/manager/webui/controllers/AnsibleController.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/utils/gson/AnsiblePlaybookExecutionJson.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnActionPlaybook.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.0-to-susemanager-schema-4.3.1/100-playbook-action-testmode.sql
  susemanager-utils/susemanager-sls/salt/ansible/runplaybook.sls
  web/html/src/manager/minion/ansible/schedule-playbook.tsx
  web/spacewalk-web.changes
Labels: API, data-model, database, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, old-ui, salt-actions-implementations, schema_migration_test_oracle, schema_migration_test_pgsql, ui, xmlrpc

#3946 Fixed minrate/timeout configuration for dnf plugin.
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, python3

#3898 Add sanity checks when migrating database and infere values from system
  susemanager/bin/pg-migrate-10-to-13.sh
  susemanager/bin/pg-migrate-12-to-13.sh
  susemanager/bin/pg-migrate-x-to-y.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#3828 Fix unstable frontend build validation
  web/html/src/build.js
Labels: javascript_lint, ui

#3968 Add both centos 8 ISOs for syncing
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
Labels: build-validation-features, ruby_rubocop, testing

#3976 Make 200-rename-service-pack-migration.sql truely idempotent
  schema/spacewalk/upgrade/susemanager-schema-4.2.10-to-susemanager-schema-4.2.11/200-rename-service-pack-migration.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#3920 Fix reposync issues on broken RPMs (bsc#1186650)
  backend/server/importlib/headerSource.py
  backend/spacewalk-backend.changes
  uyuni/common-libs/common/checksum.py
  uyuni/common-libs/common/rhn_rpm.py
  uyuni/common-libs/uyuni-common-libs.changes
Labels: backend_unittests_pgsql, python3

#3681 Basic support for Rocky Linux 8
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/Rocky8.sls
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#3985 Stop using client name aliases
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/min_centos_ssh.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/min_ubuntu_ssh.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/secondary/trad_ssh_tunnel.feature
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/twopence_init.rb
Labels: ruby_rubocop, secondary-features, test-framework, testing

#3895 Add salt bundle bootstrapping support and Raspbian 10 and 9
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  susemanager-utils/susemanager-sls/salt/actionchains/force_restart_minion.sh
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/certs/Raspbian10.sls
  susemanager-utils/susemanager-sls/salt/certs/Raspbian9.sls
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_disable_fqdns_grain.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_mine_config_clean_up.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_start_event_grains.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_switch_to_venv_minion.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#3992 Testsuite: Complete a port
  testsuite/features/build_validation/retail/deploy_sle11sp3_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle12sp4_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle15sp2_terminal.feature
  testsuite/features/build_validation/retail/sle11sp4_kiwi_image_buildhost.feature
  testsuite/features/build_validation/retail/sle12sp4_kiwi_image_buildhost.feature
  testsuite/features/build_validation/retail/sle15sp2_kiwi_image_buildhost.feature
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/features/init_clients/min_centos_salt.feature
  testsuite/features/init_clients/min_ubuntu_salt.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/allcli_config_channel.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_xmlrpc.feature
  testsuite/features/secondary/min_centos_ssh.feature
  testsuite/features/secondary/min_retracted_patches.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_ubuntu_ssh.feature
  testsuite/features/secondary/minssh_bootstrap_xmlrpc.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/secondary/srv_custom_system_info.feature
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_power_management_redfish.feature
  testsuite/features/secondary/srv_test_maintenance_windows.feature
  testsuite/features/secondary/trad_centos_client.feature
Labels: build-validation-features, ruby_rubocop, secondary-features, testing

#3881 Add test for PXE boot via Cobbler
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, ruby_rubocop, secondary-features, test-framework, testing

#3970 Build Uyuni on RHEL/Fedora (not SUSE Manager)
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql

#3989 Add Beijing timezone to selectable timezones (bsc#1188193)
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/user/test/UserManagerTest.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnTimezone.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.0-to-susemanager-schema-4.3.1/002-new-timezones.sql
Labels: API, database, java, java_lint_checkstyle, java_pgsql_tests, old-ui, schema_migration_test_oracle, schema_migration_test_pgsql

#3998 Improve the error management for the PostgreSQL migration script (bsc#1188297)
  susemanager/bin/pg-migrate-x-to-y.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#4002 Bugfix: Prevent "no session" hibernate error on deleting server
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/SaltActionChainGeneratorService.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarManager.java
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#3977 Readable error when "mgr-sync add channel" is called with a no-existing label (bsc#1173143)
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4004 Add missing link props
  web/html/src/components/links.tsx
Labels: javascript_lint, ui

#4012 Testsuite: Catch cobbler test failures earlier
  testsuite/features/step_definitions/command_steps.rb
Labels: ruby_rubocop, test-framework, testing

#4006 Fix Storybook Typescript build
  web/html/src/.storybook/config.js
  web/html/src/components/action/ActionStatus.stories.tsx
  web/html/src/components/dialog/dialog.stories.tsx
  web/html/src/components/input/Check.stories.tsx
  web/html/src/components/input/DateTime.stories.tsx
  web/html/src/components/input/FormMultiInput.stories.tsx
  web/html/src/components/input/Password.stories.tsx
  web/html/src/components/input/Radio.stories.tsx
  web/html/src/components/input/Range.stories.tsx
  web/html/src/components/input/Select.stories.tsx
  web/html/src/components/input/Text.stories.tsx
  web/html/src/components/input/form.stories.tsx
  web/html/src/components/messages.stories.tsx
  web/html/src/components/panels/panels.stories.tsx
  web/html/src/components/tree/tree.stories.tsx
  web/html/src/components/utils/HelpIcon.stories.tsx
  web/html/src/components/utils/HelpLink.stories.tsx
  web/html/src/components/utils/Loading.stories.tsx
  web/html/src/manager/content-management/list-filters/filter.utils.ts
Labels: javascript_lint, ui

#4007 spacecmd: add 'schedule_deletearchived' to bulk delete archived actions (bsc#1181223)
  java/code/src/com/redhat/rhn/domain/product/SUSEProductUpgrade.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/spacewalk-java.changes
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/schedule.py
  spacecmd/tests/test_schedule.py
Labels: data-model, java, java_lint_checkstyle, java_pgsql_tests, python3

#4008 Move IP matching over to a package
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/src/manager/virtualization/nets/properties/utils.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
Labels: javascript_lint, ui

#4015 Fix updating primary net interface on hardware refresh (bsc#1188400)
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3979 Upload vCenter.json file from testsuite to server
  testsuite/features/secondary/srv_virtual_host_manager.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/upload_files/virtualization/vCenter.json
Labels: ruby_rubocop, secondary-features, test-framework, test-suite, testing

#3986 Convert rhnactionvirtcreate data into one details column
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionDiskDetails.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionInterfaceDetails.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateActionInterfaceDetails.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/VirtualizationCreateGuestAction.java
  java/code/src/com/redhat/rhn/domain/action/virtualization/test/VirtualizationActionsTest.java
  java/code/src/com/suse/manager/virtualization/GuestCreateDetails.java
  java/code/src/com/suse/manager/virtualization/VirtualizationActionHelper.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnActionVirtCreate.sql
  schema/spacewalk/common/tables/rhnActionVirtCreateDiskDetails.sql
  schema/spacewalk/common/tables/rhnActionVirtCreateInterfaceDetails.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.0-to-susemanager-schema-4.3.1/200-rhnactionvirtcreate-refactoring.sql
Labels: Virtualization management, data-model, database, java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations, schema_migration_test_oracle, schema_migration_test_pgsql

#4018 Let react be happy with unique children keys
  web/html/src/manager/images/image-profile-edit.tsx
Labels: javascript_lint, ui

#4020 Handle possibly null HostInfo in virtual guests page
  web/html/src/manager/virtualization/guests/list/guests-list.renderer.tsx
  web/html/src/manager/virtualization/guests/list/guests-list.tsx
  web/spacewalk-web.changes
Labels: javascript_lint, ui

#4021 QA: Fix typo in a step definition
  testsuite/features/step_definitions/command_steps.rb
Labels: ruby_rubocop, test-framework, testing

#4022 Revert 'We have 2 BETA channels in HEAD'
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: ruby_rubocop, secondary-features, testing

#3993 Fix entitlement update during system transfer
  java/code/src/com/redhat/rhn/manager/org/MigrationManager.java
  java/code/src/com/redhat/rhn/manager/org/test/MigrationManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4034 Fix NPE in HardwareMapper
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4032 Ensure XMLRPC returns "issue_date" in ISO format when listing erratas (bsc#1188260)
  java/code/src/com/redhat/rhn/frontend/dto/ErrataOverview.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ErrataOverviewSerializer.java
  java/spacewalk-java.changes
Labels: API, java, java_lint_checkstyle, java_pgsql_tests, old-ui, xmlrpc

#4049 Use the right image for the spacecmd tests
  spacecmd/Makefile.python
  spacecmd/Makefile.spacecmd
  susemanager-utils/testing/automation/spacecmd-unittest.sh
Labels: python3

#4043 Wait until file is created by cobbler
  testsuite/features/secondary/srv_distro_cobbler.feature
Labels: ruby_rubocop, secondary-features, testing

#3443 check for directory existance
  susemanager/bin/pg-migrate-10-to-12.sh
  susemanager/bin/pg-migrate-12-to-13.sh
Labels: susemanager_unittests

#4050 Revert "check for directory existance"
  susemanager/bin/pg-migrate-10-to-12.sh
  susemanager/bin/pg-migrate-12-to-13.sh
Labels: susemanager_unittests

#4040 Move D3 over to package
  java/code/src/com/suse/manager/webui/templates/visualization/hierarchy.jade
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/javascript/d3.js
  web/html/src/global.d.ts
  web/html/src/manager/visualization/data-processing/preprocessing.ts
  web/html/src/manager/visualization/data-tree.ts
  web/html/src/manager/visualization/hierarchy.tsx
  web/html/src/manager/visualization/ui/components.ts
  web/html/src/manager/visualization/utils.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, ui, webui-templates

#4038 Fix regex linter issues
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/child-channels.tsx
  web/html/src/manager/maintenance/maintenance-windows.tsx
  web/html/src/manager/state/recurring-states.tsx
  web/html/src/manager/systems/virtualhostmanager/virtualhostmanager.tsx
Labels: javascript_lint, ui

#4053 Number of sources reduced in CLM for centos8
  .github/reviewers.yml
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
Labels: build-validation-features, ruby_rubocop, testing

#3974 Use correct API endpoint in spacecmd list_proxies
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/misc.py
  spacecmd/tests/test_misc.py
Labels: python3

#4048 Fix traceback on handling sslerror (bsc#1187673)
  proxy/proxy/rhnProxyAuth.py
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy

#3975 Use virt-tuner when creating VMs
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/VirtualizationActionHelper.java
  java/code/src/com/suse/manager/virtualization/test/TestVirtManager.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/gson/VirtualGuestsUpdateActionJson.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/iface/VirtManager.java
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/create.jade
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/virt/create-vm.sls
  susemanager-utils/susemanager-sls/src/modules/virt_utils.py
  susemanager-utils/susemanager-sls/src/tests/test_module_virt_utils.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  web/html/src/manager/virtualization/guests/GuestProperties.tsx
  web/html/src/manager/virtualization/guests/create/guests-create.tsx
  web/html/src/manager/virtualization/guests/edit/guests-edit.tsx
  web/html/src/manager/virtualization/guests/properties/templates.ts
  web/spacewalk-web.changes
Labels: Virtualization management, java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, salt-actions-implementations, ui, webui-templates

#4025 QA: Replace sshcmd calls by TwoPence implementation of run
  testsuite/Gemfile
  testsuite/documentation/pitfalls.md
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/env.rb
  testsuite/features/support/ssh.rb
Labels: ruby_rubocop, test-framework, testing

#4057 QA: Click on delete profile in a modal dialog
  testsuite/features/secondary/min_salt_minions_page.feature
Labels: ruby_rubocop, secondary-features, testing

#4031 Proxy: Add second refresh pattern for repodata
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/squid.conf
Labels: proxy

#4056 Force a one-time VACUUM ANALYZE
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.15-to-susemanager-schema-4.2.16/300-vacuum-analyze.sql
Labels: database, schema_migration_test_oracle, schema_migration_test_pgsql

#4059 Refresh the package page until hostname appears
  testsuite/features/secondary/min_retracted_patches.feature
Labels: ruby_rubocop, secondary-features, testing

#4062 Revert "QA: Replace sshcmd calls by TwoPence implementation of run"
  testsuite/Gemfile
  testsuite/documentation/pitfalls.md
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/env.rb
  testsuite/features/support/ssh.rb
Labels: ruby_rubocop, test-framework, testing

#4058 Fix SCC system forwarding (bsc#1188900)
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
  java/code/src/com/suse/scc/SCCSystemRegistrationManager.java
  java/code/src/com/suse/scc/model/SCCMinProductJson.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4067 VM creation dialog: fix rebase error
  java/code/src/com/suse/manager/webui/templates/virtualization/guests/create.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests, webui-templates

#4054 Add react unit tests to web-calendar
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
  web/html/src/manager/maintenance/calendar/web-calendar.test.tsx
  web/html/src/manager/maintenance/calendar/web-calendar.tsx
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
Labels: javascript_lint, ui

#4068 Kiwi profiles: Use 4.2 tools on 4.0 and 4.1
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_40/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_41/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_40/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_41/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_40/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_41/config.xml
Labels: ruby_rubocop, testing

#4069 Align scenario names between branches
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
Labels: build-validation-features, ruby_rubocop, testing
