Repository uyuni-project/uyuni, pull requests merged in 2021-02, with the labels that each got.

#3189 Testsuite: Combine SP migration scenarios inside client registration
  testsuite/features/init_clients/min_sp_migration.feature
  testsuite/features/init_clients/minssh_sp_migration.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/env.rb
  testsuite/run_sets/init_clients.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3176 QAM: Implementing remote command for traditional client
  testsuite/Rakefile
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: ruby_rubocop, testing

#3179 QAM: Fix srv_sync_all_products call in yaml
  testsuite/run_sets/build_validation_add_custom_repositories.yml
  testsuite/run_sets/build_validation_reposync.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3187 Add SLE 15 SP3
  testsuite/features/build_validation/init_clients/sle15sp3_client.feature
  testsuite/features/build_validation/init_clients/sle15sp3_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3175 Make the core features lighter - activation keys
  testsuite/features/core/srv_create_activationkey.feature
  testsuite/features/init_clients/min_centos_salt.feature
  testsuite/features/init_clients/min_ubuntu_salt.feature
  testsuite/features/init_clients/sle_client.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/secondary/srv_manage_activationkey.feature
  testsuite/features/secondary/trad_baremetal_discovery.feature
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/secondary/trad_ssh_tunnel.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, core-features, ruby_rubocop, secondary-features, testing

#3092 spacecmd: Fix package details duplicated results
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/package.py
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/tests/test_package.py
Labels: python3

#3097 spacecmd: Document "advanced search" on package commands that support it
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/package.py
Labels: python3

#3199 Fix system pkg listing
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/manager/rhnpackage/test/PackageManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3211 We test virtualization host enablement elsewhere
  testsuite/features/core/srv_create_activationkey.feature
Labels: core-features

#3197 Detect debian products
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/README.md
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.debian.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3204 [Port] QAM: Disable add_ubuntu2004_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/disabled/add_ubuntu2004_repositories.feature
  testsuite/run_sets/build_validation_add_custom_repositories.yml
Labels: ci-pipelines, ruby_rubocop, testing

#3206 Scap for minions in ssm
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnServerGroupTypeFeature.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.6-to-susemanager-schema-4.2.7/100-enable-audit-for-salt.sql
Labels: database, java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_oracle, schema_migration_test_pgsql

#3145 Add origin server hostname to Salt pillar data (bsc#1180439)
  java/code/src/com/suse/manager/webui/controllers/utils/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/RegularMinionBootstrapperTest.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/SSHMinionBootstrapperTest.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionPillarManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3225 Ensure new files are synced just after writing them (bsc#1175660)
  java/code/src/com/redhat/rhn/common/util/FileUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3231 update license year
  java/buildconf/LICENSE.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

#3004 Update translations workflow
  .github/workflows/changelog_checker.yml
  .github/workflows/update_translations.yml
  scripts/translation/update-all-translation-strings.sh
Labels: merge-candidate

#3212 Fix a couple of spelling mistakes in monitoring-admin.js
  web/html/src/manager/admin/config/monitoring-admin.tsx
Labels: merge-candidate

#3244 Migrate `components/action`
  web/html/src/components/action/ActionStatus.js
  web/html/src/components/action/ActionStatus.tsx
Labels: merge-candidate

#3259 Add python3-dbus-python and dependencies to SLE15 bootstrap repos (bsc#1182071)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: merge-candidate

#3254 Run the translation update automation only on the Uyuni repository (not in forks)
  .github/workflows/update_translations.yml
Labels: merge-candidate

#3243 Importing GPG keys manually on SSH minion could be a workaround
  testsuite/features/build_validation/init_clients/ceos6_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos7_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ceos8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/disabled/ubuntu2004_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1604_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu1804_ssh_minion.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate

#3251 Various test suite debugging helpers
  testsuite/features/step_definitions/xmlrpc_common.rb
Labels: merge-candidate

#3262 We have 2 BETA channels in HEAD
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: merge-candidate

#3261 add bootstrap data for SLE 15 SP3 products
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#3264 More debugging information
  testsuite/features/step_definitions/xmlrpc_common.rb
Labels: merge-candidate

#3287 fix type mapping
  backend/server/handlers/xmlrpc/queue.py
Labels: merge-candidate

#3283 eslint: Unexpected string concatenation of literals (no-useless-concat)
  web/html/src/manager/images/image-import.tsx
Labels: merge-candidate

#3276 Require the next rhnlib version that will come after #3250 is merged
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/tools/mgr-osad/mgr-osad.spec
  proxy/proxy/spacewalk-proxy.spec
Labels: merge-candidate, proxy

#3279 optimize package install query
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#3278 Cherry-pick migration doc update
  web/html/src/TYPESCRIPT_MIGRATION.md
Labels: merge-candidate

#3241 Usage of "edit" icon on Content Lifecycle Management
  web/html/src/components/panels/CreatorPanel.js
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-lifecycle.js
  web/html/src/manager/content-management/shared/components/panels/properties/properties-edit.js
  web/spacewalk-web.changes
Labels: javascript_lint, merge-candidate, ui

#3195 Increase default request timeout (and more...)
  java/code/webapp/WEB-INF/decorators/layout_c.jsp
  java/code/webapp/WEB-INF/includes/header.jsp
  java/spacewalk-java.changes
  web/conf/rhn_web.conf
  web/html/src/components/toastr/toastr.tsx
  web/html/src/core/spa/spa-engine.tsx
  web/html/src/manager/shared/menu/menu.js
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, javascript_lint, merge-candidate, ui

#3265 Do not apply layout decorator in head requests
  java/code/src/com/suse/sitemesh/mapper/HeadMethodDecoratorMapper.java
  java/code/webapp/WEB-INF/sitemesh.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, webapp

#3292 Fix spec file
  proxy/proxy-html/spacewalk-proxy-html.spec
Labels: merge-candidate

#3290 Add python3-distro to bootstrap repo definitions
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: merge-candidate, python3, susemanager_unittests

#3289 QAM: Fix the deploy of config files, selecting the system
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate

#3256 Migrate `components/hooks`
  web/html/src/components/hooks/forms/useInputValue.js
  web/html/src/components/hooks/forms/useInputValue.ts
Labels: merge-candidate

#3267 Add Typescript support to the po makefile
  web/po/Makefile
Labels: javascript_lint, merge-candidate, ui

#3232 Cleanup sessions via SQL query instead of SQL function
  java/buildconf/test/rhn.conf.postgresql-example
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Task_queries.xml
  java/code/src/com/redhat/rhn/taskomatic/task/SessionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/SessionCleanupTest.java
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
  schema/spacewalk/postgres/procs/procs.deps
  schema/spacewalk/postgres/procs/pxt_session_cleanup.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.7-to-susemanager-schema-4.2.8/801-drop-pxt_session_cleanup.sql
Labels: database, java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, schema_migration_test_oracle, schema_migration_test_pgsql

#3227 Filter by package state name
  testsuite/features/build_validation/init_clients/sle11sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/secondary/minssh_bootstrap_xmlrpc.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, secondary-features

#3298 Fix metadata steps
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/client_stack.rb
Labels: merge-candidate

#3301 Even more debug info
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate

#3177 QAM - initial retail features support
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/build_validation/retail/build_sle11sp3_kiwi_image.feature
  testsuite/features/build_validation/retail/build_sle12sp4_kiwi_image.feature
  testsuite/features/build_validation/retail/build_sle15sp2_kiwi_image.feature
  testsuite/features/build_validation/retail/configure_saltboot_formula.feature
  testsuite/features/build_validation/retail/deploy_sle11sp3_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle12sp4_terminal.feature
  testsuite/features/build_validation/retail/deploy_sle15sp2_terminal.feature
  testsuite/features/build_validation/retail/sle11sp4_kiwi_image_buildhost.feature
  testsuite/features/build_validation/retail/sle12sp4_kiwi_image_buildhost.feature
  testsuite/features/build_validation/retail/sle15sp2_kiwi_image_buildhost.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/twopence_init.rb
Labels: merge-candidate, test-suite

#3253 VM Autoinstallation: don't create re-activation key
  java/code/src/com/redhat/rhn/frontend/events/test/SsmPowerManagementActionTest.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerPowerSettingsUpdateCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerSystemCreateCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerVirtualSystemCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/test/CobblerPowerCommandTest.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/spacewalk-java.changes
Labels: Virtualization management, java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#3269 VM memory display fix
  backend/server/rhnVirtualization.py
  backend/spacewalk-backend.changes
  java/code/src/com/redhat/rhn/common/db/datasource/xml/System_queries.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstance.java
  java/code/src/com/redhat/rhn/domain/server/VirtualInstanceInfo.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/VirtualInstanceInfo.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/code/src/com/suse/manager/reactor/messaging/LibvirtEngineDomainLifecycleMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/LibvirtEngineDomainLifecycleMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/virtualization/VirtManagerSalt.java
  java/code/src/com/suse/manager/virtualization/test/VirtManagerSaltTest.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/rhnVirtualInstanceInfo.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.7-to-susemanager-schema-4.2.8/001-rename-memory-size.sql
  web/html/src/manager/virtualization/guests/list/guests-list.js
Labels: Virtualization management, backend_unittests_pgsql, database, java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, python3, schema_migration_test_oracle, schema_migration_test_pgsql

#3282 eslint: The href attribute requires a valid value to be accessible (anchor-is-valid)
  branding/css/tables.less
  web/html/src/.eslintrc.js
  web/html/src/components/dialog/ModalLink.tsx
  web/html/src/components/panels/CreatorPanel.tsx
  web/html/src/components/table/Header.tsx
  web/html/src/components/table/SearchPanel.tsx
  web/html/src/manager/clusters/cluster/cluster-overview.tsx
  web/html/src/manager/content-management/list-filters/appstreams/appstreams.js
  web/html/src/manager/content-management/list-filters/filter-edit.tsx
Labels: merge-candidate

#2992 disable password validation on user creation with empty password and pam enabled. (bsc#1179579)
  java/code/src/com/redhat/rhn/frontend/action/user/CreateUserAction.java
  java/code/src/com/redhat/rhn/manager/user/CreateUserCommand.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#3297 Master modernize proxy homepage
  proxy/proxy-html/spacewalk-proxy-html.spec
Labels: merge-candidate, proxy

#3299 Uyuni 404 500 pages optimization
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/decorators.xml
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/errors/404.jsp
  java/code/webapp/errors/500.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, webapp

#3300 Filtered systems and packages
  testsuite/documentation/cucumber-steps.md
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/secondary/trad_cve_audit.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, ruby_rubocop, secondary-features, testing

#3305 Revert added debug output
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate

#3304 testsuite: use the latest tftpboot-installation package
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, test-suite

#3306 Testsuite - fix of package refresh by spacecmd
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, test-suite

#3309 href was changed to a button
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate

#3311 more links changed to buttons
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/trad_cve_audit.feature
Labels: secondary-features

#3313 XMLRPC does not know Long and comparing long with int result into errors
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
Labels: merge-candidate

#3291 Speed up susemanager-nodejs-sdk-devel RPM build
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.spec
  web/spacewalk-web.spec
Labels: javascript_lint, merge-candidate, ui

#3302 Remove unused variables in frontend code
  web/html/src/components/datetimepicker.tsx
  web/html/src/components/formulas/FormulaComponentGenerator.tsx
Labels: merge-candidate

#3323 Fix bugged checkbox in formula-selection
  web/html/src/components/formula-selection.tsx
Labels: merge-candidate

#3327 Replace CRLF in ssh priv key when bootstrapping (bsc#1182685)
  web/html/src/manager/systems/bootstrap/bootstrap-minions.js
  web/spacewalk-web.changes
Labels: merge-candidate

#3213 Open repomd files as binary (bsc#1173893)
  backend/server/repomd/view.py
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql, merge-candidate

#3310 Testsuite: Ensure we get the lastest Salt after SP migration
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: merge-candidate

#3314 Add reactivation key support to bootstrap script
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: merge-candidate

#3325 Fix: provide migration for rhnActionImageBuild
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.2.7-to-susemanager-schema-4.2.8/500-rhnbuild-version.sql
Labels: database, merge-candidate, schema_migration_test_oracle, schema_migration_test_pgsql
