Repository uyuni-project/uyuni, pull requests merged in 2022-09, with the labels that each got.

#5866 Detect Amazon EC2 instances
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnVirtualInstanceType.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.0-to-susemanager-schema-4.4.1/300-rhnVirtualInstanceType.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#5876 QE: Fix reposync issue in core
  testsuite/features/core/srv_create_repository.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework

#5846 QE: Adjusting small API errors
  testsuite/features/support/namespaces/activationkey.rb
  testsuite/features/support/namespaces/api.rb
  testsuite/features/support/xmlrpc_client.rb
Labels: testing, ruby_rubocop, test-framework

#5879 QE: Fix core reposync with channel label
  testsuite/features/core/srv_create_repository.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework

#5873 Synchronize code between branches (6)
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/minssh_ansible_control_node.feature
  testsuite/features/secondary/srv_cobbler_buildiso.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_distro_cobbler.feature
  testsuite/features/secondary/srv_mainpage.feature
  testsuite/features/secondary/srv_menu_filter.feature
  testsuite/features/secondary/srv_payg_ssh_connection.feature
  testsuite/features/secondary/srv_reportdb.feature
  testsuite/features/secondary/srv_security.feature
  testsuite/features/secondary/srv_users.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#5881 QE: Fix reposync fix
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5865 Add python3-apipkg & python3-iniconfig to mgr_bootstrap_data.py
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#5887 Use sumaform as single source of truth for beta tools
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5891 Fix mirror accessible URL for NVIDIA and openSUSE channels (bsc#1201753)
  java/code/src/com/redhat/rhn/manager/content/MgrSyncUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5895 Do not use same SP for SLES and SLED
  testsuite/features/reposync/srv_enable_sync_products.feature
Labels: testing, ruby_rubocop

#5871 QE: Update test suite documentation
  testsuite/README.md
  testsuite/documentation/api.md
  testsuite/documentation/code-coverage.md
  testsuite/documentation/container-build-image.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/idempotency.md
  testsuite/documentation/optional.md
  testsuite/documentation/pitfalls.md
  testsuite/documentation/software-components.md
  testsuite/documentation/static-run.md
Labels: testing, ruby_rubocop

#5888 Fixed pagination for completed/failed systems in action details
  java/code/src/com/redhat/rhn/frontend/action/schedule/CompletedSystemsAction.java
  java/code/src/com/redhat/rhn/frontend/action/schedule/FailedSystemsAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#5899 Tools for SLED are shared with SLES, we must not kill their reposync
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#5896 Upgrade `moment-timezone`
  web/html/src/package.json
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#5791 Remove legacy cluster_admin user group
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.0-tosusemanager-schema-4.4.1/001-remove-cluster_admin.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#5904 For Head and Uyuni, use an endpoint in NUE
  testsuite/features/upload_files/pkg_endpoint.sls
Labels: testing, ruby_rubocop

#5901 QE: Wait for "Hosted Virtual Systems" text in KVM feature
  testsuite/features/secondary/minkvm_guests.feature
Labels: secondary-features, testing, ruby_rubocop

#5905 Support Pay-as-you-go new CA location for SLES15SP4 and higher
  java/code/src/com/redhat/rhn/taskomatic/task/payg/script/payg_extract_repo_data.py
  java/spacewalk-java.changes
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests

#5907 add oes2023
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/susemanager-sync-data.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#5908 QE: Rescue from detached element
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5910 Fix folder name of cluster admin removal schema upgrade script
  schema/spacewalk/upgrade/susemanager-schema-4.4.0-to-susemanager-schema-4.4.1/001-remove-cluster_admin.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#5909 QE: Adding more log to be able to debug enabled channels
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5770 Use mgrnet.dns_fqdns module
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/HwProfileUpdateSlsResult.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5868 Fix out of memory error when building a CLM project
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5839 Added orphan removal to pillars mapping
  java/code/src/com/redhat/rhn/domain/server/ServerGroup.hbm.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#5915 QE: Improving reliability of KVM/XEN tests
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#5922 Use package download endpoint in NUE for HEAD and Uyuni
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
Labels: secondary-features, testing, ruby_rubocop

#5928 Disable sanity check for ftp custom download point
  testsuite/features/core/allcli_sanity.feature
Labels: core-features, testing, ruby_rubocop

#5931 QE: Printing node OS in twopence_init.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#5934 QE: Fix for https://github.com/SUSE/salt-formulas/pull/179
  testsuite/features/secondary/min_salt_formulas.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#5933 mark some bootstrap repo packages as optional
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#5941 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  web/po/cs.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#5930 Make package download endpoint optional and configurable
  testsuite/documentation/optional.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/upload_files/pkg_endpoint.sls
Labels: core-features, secondary-features, testing, ruby_rubocop, test-framework

#5690 Adding scenario to check on taskomatic logs.
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5938 properly handle salt function name array check
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#5919 QE: Removing ruby code indicated as unused
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5943 Checking /var/log/messages for OOM errors
  testsuite/features/finishing/srv_debug.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5948 QE: Replace wait for the channel to start sync by wait the channel has been fully sync.
  testsuite/features/core/srv_create_repository.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework

#5950 QE: Customizing the time we wait until a event is picked up
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#5969 Use correct event label
  testsuite/features/secondary/minkvm_guests.feature
Labels: secondary-features, testing, ruby_rubocop

#5970 QE: Remove a check for Uyuni proxy product in our system details
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
Labels: core-features, testing, ruby_rubocop

#5942 QE: Replacing get_os_version occurences
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/client_stack.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#5963 Fix NPE in getDnsFqdns()
  java/code/src/com/suse/manager/webui/utils/salt/custom/HwProfileUpdateSlsResult.java
  java/code/src/com/suse/manager/webui/utils/salt/test/HwProfileUpdateSlsResultTest.java
  java/code/src/com/suse/manager/webui/utils/salt/test/hw_profile_update_res.json
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5973 Fixing OOM detection
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5974 Translation update - Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#5979 Use DEFAULT_TIMEOUT for Cobbler tests
  testsuite/features/support/cobbler_test.rb
Labels: testing, ruby_rubocop, test-framework

#5982 Cobbler's get_item_resolved_value has not token
  java/code/src/org/cobbler/CobblerObject.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, cobbler

#5985 QE: Disabling XEN test coverage, in preparation to completely remove them
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, testing, ruby_rubocop

#5981 wait until remote command was really executed
  testsuite/features/secondary/min_timezone.feature
Labels: secondary-features, testing, ruby_rubocop

#5987 QE: Refactor of negative tests to don't collide with other tests
  testsuite/features/secondary/min_bootstrap_negative.feature
Labels: secondary-features, testing, ruby_rubocop

#5997 Synchronize code between branches (7)
  testsuite/documentation/container-build-image.md
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/idempotency.md
  testsuite/documentation/optional.md
  testsuite/documentation/pitfalls.md
  testsuite/documentation/software-components.md
  testsuite/documentation/static-run.md
Labels: testing, ruby_rubocop

#5990 QE: Changing the only moving piece in our CT to update Ubuntu version
  testsuite/features/secondary/min_deblike_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop
