Repository uyuni-project/uyuni, pull requests merged in 2022-03, with the labels that each got.

#4728 Fix reposync update notice formatting and date parsing (bsc#1194447)
  backend/satellite_tools/reposync.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

#4848 QA: Update year in our MIT-LICENSE
  testsuite/LICENSE
Labels: testing, ruby_rubocop

#4929 add bsc to changelog entry
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4935 QA: Increase timeout for PXE boot minion
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features, testing, ruby_rubocop

#4870 Avoid throwing exceptions within a finally block
  java/code/src/com/redhat/rhn/common/hibernate/AbstractConnectionManager.java
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/common/hibernate/ReportDbHibernateFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4939 Add SLES15SP4 and SUMA Proxy 4.3 to bootstrap repo definitions
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#4942 update ivy config as c3p0 was updated
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4944 Revert "Add SLES15SP4 and SUMA Proxy 4.3 to bootstrap repo definitions (#4939)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#4945 Add SLES15SP4 and SUMA Proxy 4.3 to bootstrap repo definitions (#4939)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#4933 TESTSUITE Failing Scenario: Install package in the future and check for staging
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/min_ubuntu_salt_install_with_staging.feature
Labels: bug, secondary-features, testing, ruby_rubocop, test-suite

#4749 Spacecmd bootstrap
  java/code/src/com/suse/manager/webui/controllers/utils/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
  java/spacewalk-java.changes
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/api.py
  spacecmd/src/spacecmd/system.py
  spacecmd/tests/test_system.py
  susemanager-utils/susemanager-sls/modules/runners/mgrutil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4845 cleanup server architecture detection and improve error handling
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4955 Set RHEL cert folder for reportdb if default folder does not exist
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

#4956 fix setup certificate path in setup
  susemanager/bin/mgr-setup
Labels: susemanager_unittests

#4960 Finding empty profiles by mac address must be case insentitive
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4953 Reposync: fix to ensure configured http proxy is used
  backend/satellite_tools/download.py
  backend/satellite_tools/test/unit/test_download.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

#4967 unproxy action before casting (bsc#1195772)
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4964 QA: Add hostname and reverse lookup time sanity check
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4969 spacewalk-java: Avoid empty file list
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4971 Translated using Weblate (German)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#4976 Fix typo in xmlrpc doc
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/DeltaImageInfoHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#4978 Don't use log4j.properties in apidocs generation
  java/build.xml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4989 Fix schema migration
  schema/spacewalk/upgrade/susemanager-schema-4.3.8-to-susemanager-schema-4.3.9/310-suseImageInfo.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.8-to-susemanager-schema-4.3.9/320-suseImageRepoDigest.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.8-to-susemanager-schema-4.3.9/330-suseImageFile.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.8-to-susemanager-schema-4.3.9/340-suseImageOverview.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.8-to-susemanager-schema-4.3.9/350-suseDeltaImageInfo.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#4949 Deprecate Typescript migration tools and documentation
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
  web/html/src/TYPESCRIPT_MIGRATION.md
  web/html/src/build/migrate-ts/args.js
  web/html/src/build/migrate-ts/index.js
  web/html/src/package.json
Labels: ui, javascript_lint

#5011 Remove exception and leave stdout only
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#5026 QA: Try/Catch page.reset when browser has not opened windows
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5027 Fix exception when image store is deleted before image
  java/code/src/com/redhat/rhn/domain/image/ImageInfoFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#5053 Backport #5024 and tagging to master
  java/code/src/com/redhat/rhn/frontend/xmlrpc/formula/FormulaHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/monitoring/SystemMonitoringHandler.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#5019 Add missing location fields to system table in report db
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemReport_queries.xml
  java/spacewalk-java.changes
  schema/reportdb/common/tables/System.sql
  schema/reportdb/upgrade/uyuni-reportdb-schema-4.3.2-to-uyuni-reportdb-schema-4.3.3/001-add-system-location.sql
  schema/reportdb/uyuni-reportdb-schema.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4810 Add new feature testing the timezone
  testsuite/features/secondary/min_timezone.feature
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#4995 Expose release notes of the proxy on the proxy
  proxy/proxy-html/spacewalk-proxy-html.changes
  proxy/proxy-html/suse_proxy/index.html
  proxy/proxy-html/uyuni_proxy/index.html
  proxy/proxy/httpd-conf/spacewalk-proxy.conf
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy, merge-candidate

#5036 auto generate better password
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb
  spacewalk/uyuni-setup-reportdb/uyuni-setup-reportdb.changes
Labels: merge-candidate

#5001 use public API
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/test/ProxyHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, xmlrpc, old-ui

#4843 Fix NPE when accessing cancelled action via system history
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemHistoryEventAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#5032 QA: Lock Capybara and Cucumber gem version
  testsuite/Gemfile
Labels: testing, ruby_rubocop

#5079 uyuni iss test export config
  testsuite/features/secondary/srv_handle_config_channels_with_ISS_v2.feature
  testsuite/features/secondary/srv_handle_software_channels_with_ISS_v2.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#5048 update last checkin only if job is successful
  java/code/src/com/redhat/rhn/taskomatic/task/sshpush/SSHPushWorkerSalt.java
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#5082 Add proxy_fqdn to proxy config for TFTP container
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5015 Testsuite: Fix os image name
  testsuite/features/step_definitions/retail_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5080 Hide private methods in XMLRPC handlers
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#5086 When measuring time taken, do not count ssh
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4849 Add pg migration script from version 13 to 14
  susemanager/bin/pg-migrate-13-to-14.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#5081 HW refresh stuck
  java/code/src/com/suse/manager/webui/utils/salt/custom/HwProfileUpdateSlsResult.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5094 Correct base channel for openSUSE 15.3 ARM
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#5068 QE: Add tests for ReportDB
  testsuite/Gemfile
  testsuite/config/cucumber.yml
  testsuite/features/secondary/srv_reportdb.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/upload_files/create_user_reportdb.exp
  testsuite/features/upload_files/delete_user_reportdb.exp
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#5095 Use new base channel as key
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#5098 Do not count time for SSH
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5100 Fix popup message on deploy conf files for BV 4.3
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#5102 QE: Fix uptime tests
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4715 Optimize adding new product functions (bsc#1193707)
  java/code/src/com/redhat/rhn/manager/setup/ProductSyncManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5107 hibernate: set a non-singleton ehcache
  java/buildconf/test/rhn.conf.postgresql-example
  java/conf/default/rhn_hibernate.conf
  java/conf/default/rhn_reporting_hibernate.conf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5119 Backport fixes from Uyuni 2022.03 and SUSE Manager 4.3 Beta2
  rel-eng/packages/susemanager
  rel-eng/packages/susemanager-sls
  susemanager-utils/susemanager-sls/salt-ssh/preflight.sh
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: python3, susemanager_unittests

#5103 Update frontend audit logic, upgrade `minimist`
  .github/dependabot.yml
  .github/workflows/frontend-dependency-audit.yml
  web/html/src/build.js
  web/html/src/build/fill-spec-file.js
  web/html/src/package.json
  web/html/src/yarn.lock
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4966 Script to find repository URLs from a MI number
  testsuite/ext-tools/maintenance_crawler.rb
Labels: testing, ruby_rubocop
