Repository uyuni-project/uyuni, pull requests merged in 2022-08, with the labels that each got.

#1660 Using a new user per feature (Mandatory for parallel tests)
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
  testsuite/features/secondary/min_salt_user_states.feature
  testsuite/features/secondary/srv_power_management_api.feature
  testsuite/features/secondary/trad_cve_audit.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#5741 Revert "Using a new user per feature (Mandatory for parallel tests)"
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
  testsuite/features/secondary/min_salt_user_states.feature
  testsuite/features/secondary/srv_power_management_api.feature
  testsuite/features/secondary/trad_cve_audit.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/env.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#5748 authenticated registry uses path prefix cucutest/
  testsuite/features/profiles/Docker/authprofile/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/authprofile/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/authprofile/Dockerfile
Labels: testing, ruby_rubocop

#5749 use FTP server in minima-mirror for download endpoint test
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
  testsuite/features/upload_files/pkg_endpoint.sls
Labels: secondary-features, testing, ruby_rubocop

#5753 Fix for httpd container failing to build
  containers/proxy-httpd-image/remove_unused.sh
Labels: bug, containers

#5754 The PXE boot minion is now SLE 15 SP4
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#5758 Remove obsolete XML tags from cobbler profile
  testsuite/features/upload_files/sle-15-sp4-autoyast.xml
Labels: merge-candidate, testing, ruby_rubocop

#5742 force new report_db_sslrootcert if previous default is set
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-admin.spec
Labels: ready

#5719 remove python tornado from bootstrap repo
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests, ready

#5729 fix taskomatic task remain in progress
  java/code/src/com/redhat/rhn/taskomatic/task/threaded/TaskQueue.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5694 add onlyRelevant argument to addErrataUpdate API
  java/code/src/com/redhat/rhn/frontend/xmlrpc/chain/ActionChainHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/action/ActionChainManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui, ready

#5745 QE: Move SP migraton to build validation
  testsuite/features/build_validation/migration/sle15sp3_minion.feature
  testsuite/features/build_validation/migration/sle15sp3_ssh_minion.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/run_sets/build_validation_migration.yml
Labels: ci-pipelines, testing, ruby_rubocop, build-validation-features

#5763 QE: Replace CentOS8 with Rocky 8 in BV
  testsuite/features/build_validation/add_custom_repositories/add_rocky8_repositories.feature
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/rocky8_minion.feature
  testsuite/features/build_validation/init_clients/rocky8_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#5769 Update expected state after disabling monitoring
  testsuite/features/secondary/srv_monitoring.feature
Labels: secondary-features, testing, ruby_rubocop

#5633 Switch to using pg_roles instead of pg_authid
  schema/reportdb/postgres/end.sql
  schema/reportdb/uyuni-reportdb-schema.changes
  schema/spacewalk/postgres/end.sql
  schema/spacewalk/susemanager-schema.changes
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate

#5778 fix race condition when syncing channels
  testsuite/features/core/srv_channels_add.feature
Labels: core-features, testing, ruby_rubocop

#5782 wait for reposync been finished
  testsuite/features/core/srv_create_repository.feature
Labels: core-features, testing, ruby_rubocop

#5780 QE: Fix maintenance crawler script header
  testsuite/ext-tools/maintenance_crawler.rb
Labels: testing, ruby_rubocop

#5571 Update `web` readme
  web/README
  web/README.md
Labels: ui, javascript_lint

#5510 Lint before production build
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#5776 flush directory also when called for a specific label (bsc#1200573)
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#5792 QE: Fixup for replacing CentOS8 with Rocky8 in BV
  testsuite/run_sets/build_validation_add_common_channels.yml
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop

#5793 QE: BV: Fix mounting URL for Rocky 8
  testsuite/features/build_validation/add_custom_repositories/add_rocky8_repositories.feature
Labels: testing, ruby_rubocop, build-validation-features

#5768 Fix Dependabot alerts and spacewalk-web packaging
  web/html/src/package.json
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/setup.sh
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#5806 Add Dependabot updates for GitHub Actions
  .github/dependabot.yml
Labels: GitHub Actions

#5801 Remove obsolete sysv init script
  susemanager/etc/init.d/susemanager
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

#5798 Fixing needed base channels in constants.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#5819 QE: BV: Fix service name mismatch on Deblike
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#5822 create bootstrap repository data for Ubuntu 22.04 Vendor Channels
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: python3, susemanager_unittests

#5824 QE: workflows when workflow definitions change
  .github/workflows/rubocop.yml
Labels: github_actions

#5827 Check reformatting in Cobbler
  testsuite/features/build_validation/retail/sle12sp5_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_deploy.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/upload_files/reboot-pxeboot.exp
Labels: secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#5562 Update package dependencies
  .github/workflows/java-checkstyle.yml
  java/buildconf/build-props.xml
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  search-server/spacewalk-search/buildconf/build-props.xml
  search-server/spacewalk-search/buildconf/obs-maven-config.yaml
  search-server/spacewalk-search/ivy.xml
  search-server/spacewalk-search/spacewalk-search.changes
  search-server/spacewalk-search/spacewalk-search.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5767 Fix migration of image actions (bsc#1202272)
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.0-to-susemanager-schema-4.4.1/200-fix-rhnActionImage-null.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#5832 Enabling and disabling repositories before and after locale formula test
  testsuite/features/secondary/min_salt_formulas.feature
Labels: secondary-features, testing, ruby_rubocop

#5840 Improve Proxy FQDN hint message
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/proxy.py
  web/html/src/manager/proxy/container-config.tsx
Labels: python3, ui, javascript_lint

#5843 Include "openssh-server" to be installed by SLE15SP4 autoyast profile
  testsuite/features/upload_files/sle-15-sp4-autoyast.xml
Labels: testing, ruby_rubocop

#5845 renew the cached token when requested channel is not authorized
  proxy/proxy/broker/rhnBroker.py
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy

#5716 Generate new token for each channel (bsc#1201220)
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#5533 Process date values in spacecmd api calls (bsc#1198903)
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/utils.py
  spacecmd/tests/test_api.py
Labels: python3

#5848 QE: Fix test typo
  testsuite/features/secondary/min_salt_formulas.feature
Labels: secondary-features, testing, ruby_rubocop

#5849 Synchronize code between branches
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework

#5852 prefer glassfish-activation-api and simplify specfile
  java/buildconf/build-props.xml
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5853 jakarta-activation not required in SUSE
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5554 Clean up unused test code
  web/html/src/components/toastr/toastr.tsx
Labels: ui, javascript_lint

#5856 Calculate dependencies between cloned channels of vendor channels (bsc#1201626)
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#5857 Additional dependencies
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5858 Synchronize code between branches (2)
  testsuite/documentation/optional.md
Labels: testing, ruby_rubocop

#5859 Synchronize code between branches (3)
  testsuite/features/core/srv_create_repository.feature
  testsuite/features/core/srv_disable_local_repos_off.feature
Labels: core-features, testing, ruby_rubocop

#5775 Fix state apply test mode result parsing
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/state.apply.with.test.json
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5862 QE: Add activation key to sle_minion
  testsuite/features/init_clients/sle_minion.feature
Labels: testing, ruby_rubocop

#5861 remove server-migrator.sh from SUSE Manager installations
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: susemanager_unittests

#5724 containerized broker logs
  containers/proxy-helm/proxy-helm.changes
  containers/proxy-helm/templates/config.yaml
  containers/proxy-httpd-image/Dockerfile
  containers/proxy-httpd-image/conf/mod_log_config.conf
  containers/proxy-httpd-image/proxy-httpd-image.changes
  containers/proxy-httpd-image/uyuni-configure.py
  proxy/proxy/apacheServer.py
  proxy/proxy/spacewalk-proxy.changes
  python/spacewalk/common/rhnLog.py
  python/spacewalk/spacewalk-backend.changes
Labels: proxy, containers

#5643 Add option to use a remote PostgreSQL DB
  python/spacewalk/satellite_tools/spacewalk-debug
  schema/spacewalk/spacewalk-sql
  spacewalk/config/var/lib/rhn/rhn-satellite-prep/etc/rhn/rhn.conf
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/lib/Spacewalk/Setup.pm
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb-user
  spacewalk/uyuni-setup-reportdb/uyuni-setup-reportdb.changes
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#5869 QE: Fix source package syncing
  testsuite/features/core/srv_create_repository.feature
Labels: core-features, testing, ruby_rubocop

#5870 Synchronize code between branches (5)
  testsuite/features/secondary/min_ansible_control_node.feature
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
  testsuite/features/secondary/min_salt_formulas.feature
  testsuite/features/secondary/min_salt_install_package.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/min_salt_lock_packages.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop
