Repository uyuni-project/uyuni, pull requests merged in 2022-02, with the labels that each got.

#4744 QA: Reinforce the cleanup of min_salt_install_package.feature
  testsuite/features/secondary/min_salt_install_package.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#4741 QA: Wait for minion registration in the cleanup of min_ssh_tunnel
  testsuite/features/secondary/min_ssh_tunnel.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#4740 QA: Get rid of long_tests tag
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#4760 add ongres-scram to ivy dependencies
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4711 Filter actions to cancel by selected servers
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4692 Improve token validation logs
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4588 Fixed mirror link usage for dnf
  backend/satellite_tools/repo_plugins/__init__.py
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
Labels: python3, backend_unittests_pgsql

#4605 Install product by default after a channel is subscribed
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/UpdateBaseChannelCommand.java
  java/code/src/com/redhat/rhn/manager/system/UpdateChildChannelsCommand.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessage.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/code/webapp/WEB-INF/pages/channel/ssm/basesub.jsp
  java/code/webapp/WEB-INF/pages/channel/ssm/channelssub.jsp
  java/code/webapp/WEB-INF/pages/channel/ssm/childsubs.jsp
  java/code/webapp/WEB-INF/pages/systems/sdc/channels.jsp
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/channels/init.sls
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, webapp, salt-actions-implementations, old-ui

#3932 QA: Upgrade test framework dependencies
  testsuite/Gemfile
  testsuite/Rakefile
  testsuite/config/cucumber.yml
  testsuite/documentation/guidelines.md
  testsuite/features/secondary/trad_migrate_to_minion.feature
  testsuite/features/secondary/trad_migrate_to_sshminion.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/xmlrpc_common.rb
  testsuite/features/support/client_stack.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/time.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/support/xmlrpc_api.rb
  testsuite/index.js
  testsuite/unit-tests/check_duplicata.scenario.rb
  testsuite/unit-tests/feature_names.rb
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#4767 Finish separation of private network
  .github/reviewers.yml
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4768 Realign with other branches
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4770 QA: Strip a text containing the amount of items
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#4776 Restart squid so proxy.example.org is recognized
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#4779 hibernate was updated to 5.3.25
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4781 QA: Fail the scenario if the Ajax Timeout raises
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#4782 cobbler should work without such horrible hacks
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#4771 Remove avahi hacks for Cobbler and Retail
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/upload_files/stop-avahi-pxeboot.exp
Labels: secondary-features, testing, ruby_rubocop, test-framework

#4785 QA: Fix typo checking for existence of an image
  testsuite/features/step_definitions/retail_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4720 spacecmd: fix interactive mode for "system_applyerrata" and "errata_apply" commands (bsc#1194363)
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/errata.py
  spacecmd/src/spacecmd/system.py
  spacecmd/tests/test_errata.py
Labels: python3

#4787 wait for onboarding completed before cleaning up again
  testsuite/features/secondary/min_bootstrap_reactivation.feature
Labels: secondary-features, testing, ruby_rubocop

#4786 QA: Fix the case of having a one line in the salt event logs
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4789 Test Jest performance throttling
  web/html/src/jest.config.js
  web/html/src/package.json
Labels: ui, javascript_lint

#4777 Remove verbose token log
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4655 Cleanup of motd msg after uninstall
  susemanager/susemanager.spec
Labels: susemanager_unittests, merge-candidate

#4698 uyuni-base: minor improvements
  uyuni/base/uyuni-base.spec
Labels: merge-candidate

#4676 Upgrade Webpack
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/manager-build.xml
  spacewalk/config/etc/httpd/conf.d/zz-spacewalk-www.conf
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
  web/html/src/build/webpack.config.js
  web/html/src/package.json
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#4797 Longer reposync inactivity delay
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4399 Add support for formulas configuration in spacecmd group backup
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/group.py
  spacecmd/tests/test_group.py
Labels: python3

#4792 correct sonar errors
  java/code/src/com/redhat/rhn/domain/scc/SCCRepository.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygAuthDataExtractor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#4731 Fix stack overflow when building a CLM project from modular sources (bsc#1194990)
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4798 Backport for bsc#1194990 to master
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4733 add ubuntu errata data and install handling
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/errata/CveFactory.java
  java/code/src/com/redhat/rhn/domain/server/MinionServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/MinionSummary.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/Binary.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/Entry.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/PackageInfo.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/Release.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataInfo.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataManager.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UrlData.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/Urls.java
  java/code/src/com/redhat/rhn/taskomatic/task/RepoSyncTask.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnPackageArch.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.6-to-susemanager-schema-4.3.7/050-add-additional-packagearchs.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, salt-actions-implementations, data-model

#4799 Add javascript licenses back into the bundle
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#4803 QA: Wait until the SCC delete user modal dialog is not shown
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4457 Make use of the Uyuni DB roster for Salt SSH calls
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/suseMinionInfo.sql
  schema/spacewalk/postgres/triggers/suseMinionInfo.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.7-to-susemanager-schema-4.3.8/001-add-suseMinionInfo-created-modified.sql
  spacewalk/admin/salt-secrets-config.py
  spacewalk/admin/spacewalk-admin.changes
  susemanager-utils/susemanager-sls/modules/roster/uyuni.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager-utils/susemanager-sls/susemanager-sls.spec
  susemanager/src/Makefile
  susemanager/src/mgr-salt-ssh
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#4178 Fix deprecation warnings
  susemanager-utils/susemanager-sls/src/modules/sumautil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: merge-candidate

#4807 Fix `susemanager-web-libs` references
  web/html/src/build/fill-spec-file.js
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#4796 DownloadController log: add bugnumber (bsc#1195666)
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4811 Add provides and obsoletes for `susemanager-web-libs`
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#4809 Fix the virtualization list for foreign systems
  java/code/src/com/suse/manager/virtualization/HostInfo.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/test/VirtualGuestsControllerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, Virtualization management

#4814 QA: Wait until I see wrong encoded packages in the list
  testsuite/features/core/srv_create_repository.feature
Labels: core-features, testing, ruby_rubocop

#4714 HUB-ISS: XML-RPC endpoint to restore config channel files on disk
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/ConfigChannelHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/test/ConfigChannelHandlerTest.java
  java/code/src/com/redhat/rhn/testing/ConfigTestUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#4836 QA: Refactor to don't require pxeboot_minion deployed to have a pxeboot_image defined
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/support/twopence_init.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4840 Restore salt CNAME alias
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#4829 Added OracleLinux into accepted distributions
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests

#4844 Add logging to uptime to debug edge case
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4841 Various Retail fixes
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/retail_steps.rb
Labels: core-features, secondary-features, testing, ruby_rubocop, test-framework

#4847 QA: Clear a field before fill in with text
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4852 Revert "query elaborator when listing packages to install"
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/manager/rhnpackage/test/PackageManagerRetractedTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4862 QA: Wait until the proxy it's shown in the page
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#4865 Beta Client Tools are now extension of client tools
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#4846 Account for non deterministic ipv6 address
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4873 Client Tools in the Product Wizard exists not on Uyuni
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4875 QA: Head will contain for now BV 4.3 tests, until we have Manager-4.3 branch in Spacewalk
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#4876 Use SCC for openSUSE instead of common channels
  testsuite/features/build_validation/add_custom_repositories/srv_common_channels.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#4883 QA: fixup for CentOS 7 migration test
  testsuite/run_sets/secondary.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop, test-suite

#4888 QA: Rename spacewalk feature tests
  testsuite/features/secondary/trad_spacewalk_channel.feature
  testsuite/run_sets/secondary_parallelizable.yml
Labels: merge-candidate, secondary-features, ci-pipelines, testing, ruby_rubocop

#4889 QA: fixup migration from trad client to minion
  testsuite/features/secondary/trad_deleted_migrate_to_minion.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#4892 QA: Wait until Prometheus services are active
  testsuite/features/secondary/min_centos_monitoring.feature
  testsuite/features/secondary/min_monitoring.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#4894 QA: Temporarily disable new migrations
  testsuite/run_sets/secondary.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop

#4896 QA: Raise exception again in AfterStep, instead of failing the scenario
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4898 QA: BV - Common channels in a different stage, so it runs before custom channels
  testsuite/run_sets/build_validation_add_common_channels.yml
  testsuite/run_sets/build_validation_add_custom_repositories.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop

#4901 QA: BV click on Build button on CLM without check number of channels
  testsuite/features/build_validation/add_custom_repositories/add_ceos8_repositories.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#4828 Provide link for CVEs
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/taglibs/IconTag.java
  java/code/src/com/suse/manager/webui/controllers/CVEAuditController.java
  java/spacewalk-java.changes
  web/html/src/components/icontag.tsx
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, merge-candidate, old-ui

#4884 add schedule_type=date to lock/unlock schedule page
  java/code/webapp/WEB-INF/pages/systems/details/packages/lockpkgs.jsp
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, webapp

#4739 Add large data set support to CLM channel selection
  branding/css/modal.less
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-frontend/yarn.lock
  web/html/javascript/frontend-log.js
  web/html/src/components/input/Select.tsx
  web/html/src/components/table/Highlight.tsx
  web/html/src/components/virtual-list/VirtualList.tsx
  web/html/src/components/virtual-list/index.ts
  web/html/src/core/channels/api/use-channels-tree-api.ts
  web/html/src/core/channels/api/use-mandatory-channels-api.ts
  web/html/src/core/channels/type/channels.type.ts
  web/html/src/core/channels/utils/channels-dependencies.utils.ts
  web/html/src/core/channels/utils/channels-state.utils.ts
  web/html/src/core/log/index.ts
  web/html/src/manager/content-management/project/project.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/base-channel.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-api-transforms.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-api.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-filters-state.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-filters.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-processor-transforms.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-processor.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.css
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.state.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.utils.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/child-channel.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/child-channels.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/empty-child.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/group-channels.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/recommended-toggle.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/sources.tsx
  web/html/src/manager/index.ts
  web/html/src/manager/systems/activation-key/activation-key-channels-api.tsx
  web/html/src/manager/systems/activation-key/activation-key-channels.tsx
  web/html/src/manager/systems/activation-key/child-channels.tsx
  web/html/src/utils/idle-callback.ts
  web/html/src/utils/index.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#4904 handle npe when packages are null
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4906 Rebase the changes from Cedric from IntellJ autofixes
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4909 QA: Comment out ping command in core stage
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4839 Add store info to Equals and hash methods to fix CVE audit process (b…
  java/code/src/com/redhat/rhn/domain/image/ImageInfo.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#4899 Migrate Loggerhead to Typescript, enforce use over console
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
  susemanager-frontend/yarn.lock
  web/html/javascript/loggerhead.js
  web/html/src/.eslintrc.js
  web/html/src/.storybook/preview-head.html
  web/html/src/build.js
  web/html/src/components/action-schedule.tsx
  web/html/src/components/formulas/FormulaComponentGenerator.tsx
  web/html/src/components/input/Select.tsx
  web/html/src/components/ranking-table.tsx
  web/html/src/core/log/index.ts
  web/html/src/core/log/loggerhead.ts
  web/html/src/core/spa/spa-engine.tsx
  web/html/src/core/spa/spa-renderer.ts
  web/html/src/global.d.ts
  web/html/src/manager/admin/list-payg/list-payg.renderer.tsx
  web/html/src/manager/admin/payg/payg.renderer.tsx
  web/html/src/manager/content-management/list-filters/list-filters.renderer.tsx
  web/html/src/manager/content-management/list-projects/list-projects.renderer.tsx
  web/html/src/manager/content-management/project/project.renderer.tsx
  web/html/src/manager/login/login.tsx
  web/html/src/manager/notifications/notifications.tsx
  web/html/src/manager/salt/cmd/remote-commands.tsx
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/html/src/utils/network.ts
  web/html/src/utils/test-utils/setup/index.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#4912 Sbluhm startup issues
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4772 Updated path for RHEL
  spacewalk/certs-tools/mgr_ssl_cert_setup.py
Labels: merge-candidate

#4868 Update ca certificates
  backend/rhn-conf/rhn.conf
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygUpdateHostsTask.java
  java/spacewalk-java.changes
  spacewalk/admin/rhn-deploy-ca-cert.pl
  spacewalk/admin/salt-secrets-config.py
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/certs-tools/mgr_ssl_cert_setup.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/update-ca-cert-trust.sh
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb
  spacewalk/uyuni-setup-reportdb/uyuni-setup-reportdb.changes
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, backend_unittests_pgsql, susemanager_unittests, merge-candidate

#4880 Allow building on Fedora COPR
  client/rhel/mgr-daemon/mgr-daemon.changes
  client/rhel/mgr-daemon/mgr-daemon.spec
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  client/tools/mgr-cfg/mgr-cfg.changes
  client/tools/mgr-cfg/mgr-cfg.spec
  client/tools/mgr-osad/mgr-osad.changes
  client/tools/mgr-osad/mgr-osad.spec
  client/tools/mgr-push/mgr-push.changes
  client/tools/mgr-push/mgr-push.spec
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/mgr-virtualization.spec
  client/tools/spacewalk-client-cert/spacewalk-client-cert.changes
  client/tools/spacewalk-client-cert/spacewalk-client-cert.spec
  client/tools/spacewalk-koan/spacewalk-koan.changes
  client/tools/spacewalk-koan/spacewalk-koan.spec
  client/tools/spacewalk-oscap/spacewalk-oscap.changes
  client/tools/spacewalk-oscap/spacewalk-oscap.spec
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  projects/ssl-cert-check/spacewalk-ssl-cert-check.changes
  projects/ssl-cert-check/spacewalk-ssl-cert-check.spec
  schema/reportdb/uyuni-reportdb-schema.changes
  schema/reportdb/uyuni-reportdb-schema.spec
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.spec
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate

#4860 Supportconfig spacewalk-debug: report task schedule values
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.changes
Labels: backend_unittests_pgsql

#4286 [WIP] Add 'create first user' functionality to xmlrpc API and spacecmd
  java/code/src/com/redhat/rhn/frontend/xmlrpc/org/OrgHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/org/test/OrgHandlerTest.java
  java/spacewalk-java.changes
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/misc.py
  spacecmd/src/spacecmd/org.py
  spacecmd/src/spacecmd/shell.py
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, xmlrpc, old-ui

#4752 Fix disappearing metadata key files after channel change (bsc#1192822)
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/DebRepositoryWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RepositoryWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/test/RpmRepositoryWriterTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#4838 Comment out faulty JS tests until fixed
  web/html/src/utils/data-providers/paged-data-endpoint.test.ts
  web/html/src/utils/functions.test.ts
Labels: ui, javascript_lint, merge-candidate

#4915 Fix newly uncovered SonarQube errors
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/kickstart/FilePreservationListsCommand.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/code/src/com/suse/manager/gatherer/GathererRunner.java
  java/code/src/com/suse/pam/Pam.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui
