Repository uyuni-project/uyuni, pull requests merged in 2022-11, with the labels that each got.

#6085 weblate Master
  client/rhel/spacewalk-client-tools/po/mk.po
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: python3, ui, javascript_lint, needs-translation

#6055 QE: Add sync of custom channels for Rocky 8
  testsuite/features/reposync/srv_add_rocky8_repositories.feature
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/secondary/min_rhlike_remote_command.feature
  testsuite/features/secondary/min_rhlike_ssh.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/run_sets/reposync.yml
  utils/spacewalk-common-channels.ini
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#6093 Remove 'SSM' column text where not applicable (bsc#1203588)
  java/code/webapp/WEB-INF/pages/common/fragments/systems/system_listdisplay.jspf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#6095 Add no-arg constructor to MigrateSystemsAction (bsc#1204651)
  java/code/src/com/redhat/rhn/frontend/action/ssm/MigrateSystemsAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#6046 Fix salt event queue (bsc#1203532)
  java/code/src/com/redhat/rhn/domain/reactor/SaltEvent.hbm.xml
  java/code/src/com/suse/manager/reactor/PGEventStream.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6100 Fix debugging utilities
  web/html/javascript/login.js
  web/html/src/core/debug/index.ts
Labels: ui, javascript_lint, needs-translation

#6097 Scc default repositories
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#6096 Fix log vulnerabilities reported by sonarcloud
  java/code/src/com/redhat/rhn/common/conf/Config.java
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
  java/code/src/com/redhat/rhn/common/util/FileUtils.java
  java/code/src/com/redhat/rhn/domain/server/virtualhostmanager/VirtualHostManagerFactory.java
  java/code/src/com/redhat/rhn/frontend/action/audit/AuditMachineAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ssm/BaseSubscribeAction.java
  java/code/src/com/redhat/rhn/frontend/action/common/TinyUrlAction.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/KickstartHelper.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/RenderKickstartFileAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/ScapDownloadAction.java
  java/code/src/com/redhat/rhn/frontend/action/user/AdminUserEditAction.java
  java/code/src/com/redhat/rhn/frontend/servlets/DumpFilter.java
  java/code/src/com/redhat/rhn/manager/audit/scap/file/ScapResultFile.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/utils/SaltKeyUtils.java
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/manager/webui/controllers/FrontendLogController.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/virtualization/VirtualGuestsController.java
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, old-ui

#6102 Temporarily disable checking on the welcome message
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6104 Fix maintenance calendar creation test via url
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6066 Fix number of file handles for deleted files is growing continuously in SUMA 4.3.1
  java/code/src/com/redhat/rhn/taskomatic/task/RhnJavaJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/RhnQueueJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/RhnJavaJobTest.java
  java/spacewalk-java.changes
Labels: bug, java, java_lint_checkstyle, java_pgsql_tests

#6101 Add missing label wrappers
  java/code/webapp/WEB-INF/pages/common/fragments/user/preferences.jspf
  web/html/src/branding/css/base/checkbox.less
  web/html/src/branding/css/susemanager/susemanager-theme.less
  web/html/src/branding/css/uyuni.less
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, needs-translation

#6110 bash variable is set to string "False" convert it to boolean
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#6089 Re-calculate salt event queue numbers on restart
  java/code/src/com/redhat/rhn/domain/reactor/SaltEvent.hbm.xml
  java/code/src/com/redhat/rhn/domain/reactor/SaltEventFactory.java
  java/code/src/com/redhat/rhn/domain/reactor/test/SaltEventFactoryTest.java
  java/code/src/com/suse/manager/reactor/PGEventStream.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6086 Optimize action chain processing on job return event (bsc#1203532)
  java/code/src/com/redhat/rhn/domain/action/ActionChain.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/ActionChainFactory.java
  java/code/src/com/redhat/rhn/domain/action/test/ActionChainFactoryTest.java
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#5903 Add stack trace to the logs when taskomatic fails to start
  java/code/src/com/redhat/rhn/taskomatic/core/TaskomaticDaemon.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6115 QE: Remove XEN test coverage
  testsuite/documentation/cucumber-steps.md
  testsuite/documentation/guidelines.md
  testsuite/documentation/optional.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minxen_guests.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/virtualization.yml
Labels: core-features, secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#6112 Don't call printStackTrace in production code, use logger instead
  java/code/src/com/redhat/rhn/common/messaging/ActionExecutor.java
  java/code/src/com/redhat/rhn/common/messaging/SmtpMail.java
  java/code/src/com/redhat/rhn/common/util/MethodUtil.java
  java/code/src/com/redhat/rhn/domain/channel/AccessTokenFactory.java
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/BaseAddFilesAction.java
  java/code/src/com/redhat/rhn/frontend/action/user/ResetPasswordSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/dto/SystemSearchResult.java
  java/code/src/com/redhat/rhn/frontend/taglibs/ToolbarTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/helpers/ListViewHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/manager/audit/scap/file/ScapResultFile.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoXmlRpcInvoker.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/ChannelRepodataWorker.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui

#6111 move empty CLM Project test to first feature creating a project
  testsuite/features/reposync/srv_add_rocky8_repositories.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: secondary-features, testing, ruby_rubocop

#6070 Install needed deps on Ubuntu 18.04 (bsc#1204517)
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: Ubuntu

#6120 fix syntax in bootstrap repo data
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

#5945 RHEL9 java enablement
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnKSInstallType.sql
  schema/spacewalk/common/data/rhnKickstartTimezone.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/300-rhnKSInstallType.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/301-rhnKickstartTimezome.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model

#6122 fix client tools product name after rename
  testsuite/features/reposync/srv_sync_channels.feature
Labels: testing, ruby_rubocop

#5772 Action Chain: reboot on transactional update minions
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/MinionSummary.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/suse/manager/webui/services/SaltActionChainGeneratorService.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/src/modules/mgractionchains.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations, data-model

#6076 QE: Add tests for distribution channel mapping
  testsuite/features/secondary/srv_dist_channel_mapping.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#6083 Improves schedule product migration in spacecmd
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/system.py
Labels: python3, needs-translation

#6130 Fix reboot migration files
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/400-add-reboot-need-column-to-suseMinionInfo.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/401-replace-update-system-overview.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#6124 Correct RuboCop error from navigation steps
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6138 QE: Fix rubocop error raised by redundant interpolation
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6140 Enable source package syncing for the whole feature
  testsuite/features/core/srv_create_repository.feature
Labels: core-features, testing, ruby_rubocop

#6117 Pillar migration fix
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6151 Bump openSUSE to 15.4
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6144 Do not execute actions on minion that are not in pending status
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/test/ActionFactoryTest.java
  java/code/src/com/redhat/rhn/domain/server/MinionServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/MinionSummary.java
  java/code/src/com/redhat/rhn/domain/server/test/MinionServerFactoryTest.java
  java/code/src/com/redhat/rhn/manager/action/MinionActionManager.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations, data-model

#6141 Format results for package and errata actions similar to state apply actions
  java/code/src/com/redhat/rhn/domain/action/ActionFormatter.java
  java/code/src/com/redhat/rhn/domain/action/salt/ApplyStatesAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6148 Hardening suggestion: permissions for
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6159 Remove useless code in PackageManager
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6161 Fix jackson-databind version in ivy config
  java/buildconf/ivy/ivy-suse.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6164 Adding an option in /etc/fstab to resolve mounting conflicts
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6146 Fixed traditional stack warning message to be displayed only when the system has enterprise entitlement
  java/code/src/com/redhat/rhn/frontend/servlets/SystemDetailsMessageFilter.java
  java/code/src/com/redhat/rhn/frontend/servlets/test/SystemDetailsMessageFilterTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#6166 QE: Fix checking for empty CLM in CLM test
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: secondary-features, testing, ruby_rubocop

#6175 Master weblate
  client/rhel/spacewalk-client-tools/po/mk.po
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_mk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
  web/po/sk.po
  web/po/zh_CN.po
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#6155 make automatic channel selection for cloned channels configurable
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6125 Increase cron_expr varchar length in suseRecurringAction table
  schema/spacewalk/common/tables/suseRecurringAction.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.2-to-susemanager-schema-4.4.3/001-varchar-length-suseRecurringAction.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#6180 Fix AutoYaST spelling
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, needs-translation

#6127 QE: Add automated test for Task Engine Status
  testsuite/features/secondary/srv_task_status_engine.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#6185 Disable the EL 9 products for now
  testsuite/features/build_validation/add_custom_repositories/add_rocky9_repositories.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/run_sets/build_validation_add_common_channels.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#6192 QE: Add test to run cobbler sync via WebUI
  testsuite/features/secondary/srv_cobbler_sync.feature
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#6198 QE: Split sanity checks to distinguish between products
  testsuite/features/secondary/srv_task_status_engine.feature
Labels: secondary-features, testing, ruby_rubocop

#6202 Waiting for apt-get to finish after checking install
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6168 check for null for install size
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/DebPackageWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/test/DebPackageWriterTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#6205 Don't use random strings in tests where we have unique constraints
  java/code/src/com/redhat/rhn/domain/errata/test/ErrataFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#5654 Properly handling of Debian packages in rhnpush
  .github/workflows/mgrpush-unit-tests.yml
  client/tools/mgr-push/Makefile.python
  client/tools/mgr-push/Makefile.rhnpush
  client/tools/mgr-push/bin/rhnpush
  client/tools/mgr-push/mgr-push.changes
  client/tools/mgr-push/mgr-push.spec
  client/tools/mgr-push/pytest.ini
  client/tools/mgr-push/src/rhnpush/__init__.py
  client/tools/mgr-push/src/rhnpush/archive.py
  client/tools/mgr-push/src/rhnpush/connection.py
  client/tools/mgr-push/src/rhnpush/rhnpush_cache.py
  client/tools/mgr-push/src/rhnpush/rhnpush_config.py
  client/tools/mgr-push/src/rhnpush/rhnpush_confmanager.py
  client/tools/mgr-push/src/rhnpush/rhnpush_main.py
  client/tools/mgr-push/src/rhnpush/rhnpush_v2.py
  client/tools/mgr-push/src/rhnpush/rpm2mpm.py
  client/tools/mgr-push/src/rhnpush/uploadLib.py
  client/tools/mgr-push/src/rhnpush/utils.py
  client/tools/mgr-push/test/test_RhnpushCache.py
  client/tools/mgr-push/test/test_RhnpushConfig.py
  client/tools/mgr-push/test/test_Utils.py
  client/tools/mgr-push/test/test_archive.py
  client/tools/mgr-push/test/test_uploadclass.py
  python/uyuni/common/rhn_deb.py
  susemanager-utils/testing/automation/mgr-push-unittest.sh
Labels: python3

#6162 Fix contents of certificates show up on web UI logs
  java/code/src/com/suse/manager/api/LoggingInvocationProcessor.java
  java/code/src/com/suse/manager/reactor/messaging/test/SaltTestUtils.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltServiceTest.java
  java/code/src/com/suse/manager/webui/services/impl/test/service/ssh_cert_check.json
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt

#6221 Revert "Properly handling of Debian packages in rhnpush"
  .github/workflows/mgrpush-unit-tests.yml
  client/tools/mgr-push/Makefile.python
  client/tools/mgr-push/Makefile.rhnpush
  client/tools/mgr-push/__init__.py
  client/tools/mgr-push/archive.py
  client/tools/mgr-push/connection.py
  client/tools/mgr-push/mgr-push.changes
  client/tools/mgr-push/mgr-push.spec
  client/tools/mgr-push/pytest.ini
  client/tools/mgr-push/rhnpush
  client/tools/mgr-push/rhnpush_cache.py
  client/tools/mgr-push/rhnpush_config.py
  client/tools/mgr-push/rhnpush_confmanager.py
  client/tools/mgr-push/rhnpush_main.py
  client/tools/mgr-push/rhnpush_v2.py
  client/tools/mgr-push/rpm2mpm.py
  client/tools/mgr-push/test/testRhnpushCache.py
  client/tools/mgr-push/test/testRhnpushConfig.py
  client/tools/mgr-push/test/testUtils.py
  client/tools/mgr-push/test/test_archive.py
  client/tools/mgr-push/test/test_uploadclass.py
  client/tools/mgr-push/uploadLib.py
  client/tools/mgr-push/utils.py
  python/uyuni/common/rhn_deb.py
  susemanager-utils/testing/automation/mgr-push-unittest.sh
Labels: python3

#6210 Honor user page size preference in new system list pages
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/templates/systems/all-list.jade
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, webui-templates, needs-translation

#6212 Remove RHEL < 6 code in ChannelManager
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/channel/EusReleaseComparator.java
  java/code/src/com/redhat/rhn/manager/channel/test/ChannelManagerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6227 Fixed minor leftover
  testsuite/features/build_validation/core/allcli_sanity.feature
Labels: testing, ruby_rubocop, build-validation-features

#6235 Changing omitted test channel name for RH like client
  testsuite/features/secondary/min_rhlike_salt_install_package_and_patch.feature
Labels: secondary-features, testing, ruby_rubocop
