Repository uyuni-project/uyuni, pull requests merged in 2022-01, with the labels that each got.

#4627 Drop `spacewalk-login.js`
  web/html/javascript/spacewalk-essentials.js
  web/html/javascript/spacewalk-login.js
Labels: ui, javascript_lint

#4525 Add restart_feature to testsuite
  testsuite/features/secondary/srv_restart.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#4634 Use global instance holder from JSP actions
  java/code/src/com/redhat/rhn/GlobalInstanceHolder.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDeleteConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemMigrateAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#4632 fix: Uptime in details overview page
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4615 Followup fix of sumautil module and test
  susemanager-utils/susemanager-sls/src/modules/sumautil.py
  susemanager-utils/susemanager-sls/src/tests/test_module_sumautil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: merge-candidate

#4607 Take bootstrap destination folder from config file
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#4612 Fix header search focus, migrate header search out of jsp
  branding/css/buttons.less
  branding/css/susemanager-dark.less
  branding/css/susemanager-light.less
  branding/css/susemanager-theme.less
  branding/css/uyuni-theme.less
  branding/css/uyuni.less
  java/code/webapp/WEB-INF/includes/header.jsp
  web/html/src/manager/header/index.ts
  web/html/src/manager/header/search/focus-group.tsx
  web/html/src/manager/header/search/search.renderer.tsx
  web/html/src/manager/header/search/search.tsx
  web/html/src/manager/index.ts
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#4630 Correct sanity check on cucumber tests without secondary network
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#4606 Avoid using RPM tags when filtering modular packages in CLM (bsc#1192487)
  java/code/src/com/redhat/rhn/domain/contentmgmt/FilterCriteria.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/PackageFilter.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolver.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
  java/spacewalk-java.changes
  uyuni/common-libs/common/rhn_rpm.py
  uyuni/common-libs/uyuni-common-libs.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#4635 No console log in production
  web/html/src/.eslintrc.js
  web/html/src/.eslintrc.production.js
  web/html/src/build/.eslintrc.js
  web/html/src/components/action-schedule.tsx
  web/html/src/components/formulas/FormulaComponentGenerator.tsx
  web/html/src/components/utils/HashRouter.tsx
  web/html/src/manager/admin/config/monitoring-admin.tsx
  web/html/src/manager/clusters/add-cluster/add-cluster.renderer.tsx
  web/html/src/manager/clusters/add-cluster/finish-add.tsx
  web/html/src/manager/clusters/cluster/cluster.renderer.tsx
  web/html/src/manager/clusters/join-cluster/join-cluster.renderer.tsx
  web/html/src/manager/clusters/list-clusters/list-clusters.renderer.tsx
  web/html/src/manager/clusters/remove-node/remove-node.renderer.tsx
  web/html/src/manager/clusters/upgrade-cluster/upgrade-cluster.renderer.tsx
  web/html/src/manager/content-management/list-filters/list-filters.renderer.tsx
  web/html/src/manager/content-management/list-projects/list-projects.renderer.tsx
  web/html/src/manager/content-management/project/project.renderer.tsx
  web/html/src/manager/images/image-import.tsx
  web/html/src/manager/minion/packages/package-states.tsx
  web/html/src/manager/minion/packages/use-package-states.api.tsx
  web/html/src/manager/notifications/notifications.tsx
  web/html/src/manager/organizations/config-channels/org-config-channels.tsx
  web/html/src/manager/salt/cmd/remote-commands.tsx
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/html/src/manager/visualization/ui/components.ts
  web/html/src/package.json
  web/html/src/utils/network.ts
  web/html/src/utils/test-utils/.eslintrc.js
Labels: ui, javascript_lint

#4636 Don't send empty objects with GET requests
  web/html/src/utils/network.ts
  web/spacewalk-web.changes
Labels: ui, javascript_lint

#4639 Do not route anymore for private network
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/upload_files/01-netcfg.yaml
Labels: core-features, testing, ruby_rubocop, test-framework, build-validation-features

#4644 Master weblate translation update
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/nav/StringResource_uk.xml
  web/po/sk.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#4649 spacewalk-backend: Removed static links
  backend/satellite_tools/mgr-sign-metadata-ctl
  backend/satellite_tools/spacewalk-debug
  backend/spacewalk-backend.spec
Labels: backend_unittests_pgsql

#4650 Replaced static tftpboot folder creation
  susemanager/susemanager.spec
Labels: susemanager_unittests

#4645 spacewalk-java: Dynamic /srv folder
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4620 Fix cfg_component in setup_repo of yum_dnf_src
  backend/satellite_tools/repo_plugins/yum_dnf_src.py
Labels: python3, backend_unittests_pgsql

#4653 fix: Uptime in details overview page II
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4656 Fix header padding bug
  branding/css/buttons.less
  web/html/src/manager/header/search/search.tsx
Labels: ui, javascript_lint

#4604 Fix issues to work with latest "urlgrabber" version 4.1.0
  backend/satellite_tools/download.py
  backend/spacewalk-backend.changes
  backend/spacewalk-backend.spec
Labels: python3, backend_unittests_pgsql, merge-candidate

#4631 server migrator to 15.4
  spacewalk/package/spacewalk.spec
  susemanager/bin/server-migrator.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#4658 Print more clear errors for spacewalk-remove-channel (bsc#1190564)
  backend/satellite_tools/contentRemove.py
  backend/spacewalk-backend.changes
Labels: python3, backend_unittests_pgsql

#4633 Fix lock secondary test
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4668 Fix restart text
  testsuite/features/secondary/srv_restart.feature
Labels: secondary-features, testing, ruby_rubocop

#4678 Realign with the other branches
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4638 Make it more obvious that we are using log4j12
  java/spacewalk-java.spec
  search-server/spacewalk-search/spacewalk-search.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#4680 Add definition for Debian 11 minion tags
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#4683 workaround for bug 1192195 - change zypp conf to install docs
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework

#4677 Drop IE detection hacks
  web/html/javascript/channel_tree.js
  web/html/javascript/tree.js
Labels: ui, javascript_lint

#4693 Add missing changelogs
  proxy/installer/spacewalk-proxy-installer.changes
  search-server/spacewalk-search/spacewalk-search.changes
  susemanager-branding-oss/susemanager-branding-oss.changes
  susemanager-frontend/susemanager-nodejs-sdk-devel/susemanager-nodejs-sdk-devel.changes
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.changes
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes
Labels: proxy

#4691 Force tftp to use proxy instead of server
  testsuite/features/upload_files/sle-15-sp2-autoyast.xml
Labels: merge-candidate, testing, ruby_rubocop

#4701 Revert server migrator to 15.4
  susemanager/bin/server-migrator.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#4705 Revert "Force tftp to use proxy instead of server"
  testsuite/features/upload_files/sle-15-sp2-autoyast.xml
Labels: testing, ruby_rubocop

#4706 Pass variable via UI
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
Labels: secondary-features, testing, ruby_rubocop

#4709 Some MUs have a different URL prefix
  testsuite/features/support/commonlib.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4712 Don't tune SSL before the proxy is configured
  testsuite/features/build_validation/init_clients/proxy.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#4713 Fix uptime display tests to follow moment.js library rules
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-suite, test-framework, build-validation-features

#4718 Fix IPv6 in details page
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4724 Allow link-local fe80: ipv6 addresses
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4719 Add 11 hours to rounded days
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#4674 Refactor product cucumber names
  testsuite/features/core/proxy_register_as_minion_with_gui.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/core/proxy_register_as_trad_with_script.feature
  testsuite/features/secondary/srv_mainpage.feature
  testsuite/features/secondary/srv_users.feature
  testsuite/features/secondary/trad_baremetal_discovery.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: core-features, secondary-features, testing, ruby_rubocop, test-framework

#4734 Test IPv6 address based on importance
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#4751 Call event.unpack correctly
  susemanager-utils/susemanager-sls/modules/engines/mgr_events.py
Labels: merge-candidate
