Repository uyuni-project/uyuni, pull requests merged in 2022-07, with the labels that each got.

#5475 Move cert deps from proxy-broker to proxy package
  proxy/proxy/spacewalk-proxy.changes
  proxy/proxy/spacewalk-proxy.spec
Labels: proxy, merge-candidate

#5442 Fix notification message on system properties update to ensure style consistency
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#5462 Fix Internal Server Error when URI contains invalid sysid
  java/code/src/com/redhat/rhn/common/security/acl/Access.java
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5498 Fix refresh action confirmation message when no system is selected
  java/code/src/com/redhat/rhn/frontend/action/systems/SSMUpdateHardwareProfileConfirm.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SSMUpdateSoftwareProfileConfirm.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#5503 CVE audit installed successor
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/audit/test/CVEAuditManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5544 Fixed badge color
  web/html/src/branding/css/susemanager/variables.less
  web/html/src/branding/css/uyuni/variables.less
Labels: ui, javascript_lint, merge-candidate

#5558 compare authorityKeyIdentifier with CAs subjectKeyIdentifier
  spacewalk/certs-tools/mgr_ssl_cert_setup.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: merge-candidate

#5619 display messages to restart services after certificate change
  spacewalk/certs-tools/mgr_ssl_cert_setup.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes
Labels: merge-candidate

#5528 Show reboot alert message on all system detail pages (SLE Micro system)
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/src/com/redhat/rhn/frontend/servlets/TransactionalUpdateRebootMessageFilter.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#5625 QE: Enable temporarily disabled features again
  testsuite/run_sets/secondary.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop

#5629 Add missing SLES 15 SP4 client tools repositories to spacewalk-common-channels.ini
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: merge-candidate

#5635 Revert "QE: Enable temporarily disabled features again"
  testsuite/run_sets/secondary.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop

#5483 Hide authentication data in PAYG UI (bsc#1199679)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/PaygSshDataSerializer.java
  java/code/src/com/suse/manager/admin/PaygAdminManager.java
  java/code/src/com/suse/manager/webui/controllers/admin/beans/PaygProperties.java
  java/code/src/com/suse/manager/webui/controllers/admin/handlers/test/PaygApiControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/admin/mappers/PaygResponseMappers.java
  java/code/src/com/suse/manager/xmlrpc/admin/test/AdminPaygHandlerTest.java
  java/spacewalk-java.changes
  testsuite/features/secondary/srv_payg_ssh_connection.feature
  web/html/src/manager/admin/create-payg/create-payg.tsx
  web/html/src/manager/admin/payg-shared/sshData/payg-ssh-data-edit.tsx
  web/html/src/manager/admin/payg-shared/sshData/payg-ssh-data-form.tsx
  web/html/src/manager/admin/payg-shared/sshData/payg-ssh-data-view.tsx
  web/html/src/manager/admin/payg/payg.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, merge-candidate, secondary-features, testing, ruby_rubocop, xmlrpc, old-ui

#5518 Fix download CSV links
  java/code/src/com/redhat/rhn/common/db/datasource/CachedStatement.java
  java/code/src/com/redhat/rhn/common/db/datasource/SelectMode.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5546 Fixed date format on scheduler related messages
  java/code/src/com/redhat/rhn/frontend/action/ssm/ProvisioningRemoteCommand.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemRemoteCommandAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#5555 Fixed FormulaForm component
  web/html/src/components/FormulaForm.tsx
Labels: ui, javascript_lint, merge-candidate

#5636 Bugfix: tftpd listen on udp (bsc#1200968)
  containers/proxy-systemd-services/uyuni-proxy-pod.service
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.changes
Labels: merge-candidate

#5609 AlmaLinux 9, Oracle Linux 9, Red Hat Enterprise Linux 9
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests, merge-candidate

#5644 Import formula values as int rather than doubles when migrating
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/suse/manager/webui/controllers/FormulaController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#5622 Prepare push-to-obs for MFA
  susemanager-utils/testing/automation/push-to-obs.sh
  susemanager-utils/testing/docker/scripts/push-to-obs.sh
Labels: merge-candidate

#5655 Fix typo for the AlmaLinux9 x86_64 bootstrap repository
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

#5653 log4j migration search server fix
  search-server/spacewalk-search/build.xml
  search-server/spacewalk-search/buildconf/build-props.xml
Labels: bug, merge-candidate

#5598 Fixed unexpected unauthorized when using HTTP API
  java/code/src/com/redhat/rhn/manager/session/SessionManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5657 search: set the JAVA_LIBDIR variable before imports use it
  search-server/spacewalk-search/build.xml
Labels: merge-candidate

#5581 Move ImageSync pillars to database
  java/code/src/com/redhat/rhn/domain/image/ImageInfoFactory.java
  java/code/src/com/redhat/rhn/domain/server/Pillar.java
  java/code/src/com/suse/manager/reactor/messaging/test/ImageSyncedEventMessageActionTest.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/test/SaltStateGeneratorServiceTest.java
  java/spacewalk-java.changes
  schema/spacewalk/postgres/triggers/suseImageInfo.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.3.12-to-susemanager-schema-4.3.13/110-suseImageInfo_del_pillar.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate, data-model

#5651 Detect more sed errors when editing repositories
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5592 addErrataUpdate API for multiple servers
  java/code/src/com/redhat/rhn/frontend/xmlrpc/chain/ActionChainHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/chain/test/ActionChainHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/ActionChainManager.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionChainManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, xmlrpc, old-ui

#5666 add bugnumbers to changelogs
  java/spacewalk-java.changes
  schema/spacewalk/susemanager-schema.changes
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate

#5596 Mirror the complete pub folder in containerized proxy
  containers/proxy-httpd-image/proxy-httpd-image.changes
  containers/proxy-httpd-image/uyuni-configure.py
Labels: merge-candidate

#5668 The SSH public key is also required for OBS MFA
  susemanager-utils/testing/automation/push-to-obs.sh
Labels: merge-candidate

#5328 QE: Fix the removed prefixes when we generate the custom repo names
  testsuite/features/support/commonlib.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5564 Introduced logging in the HTTP API
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcLoggingInvocationProcessor.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/test/XmlRpcLoggingInvocationProcessorTest.java
  java/code/src/com/suse/manager/api/HttpApiLoggingInvocationProcessor.java
  java/code/src/com/suse/manager/api/HttpApiRegistry.java
  java/code/src/com/suse/manager/api/LoggingInvocationProcessor.java
  java/code/src/com/suse/manager/api/test/HttpApiLoggingInvocationProcessorTest.java
  java/code/src/log4j2.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, xmlrpc, old-ui

#5599 Fix typo and ordering of HTTP API example scripts
  java/buildconf/apidoc/asciidoc/scripts.txt
  java/buildconf/apidoc/docbook/scripts.txt
  java/buildconf/apidoc/html/scripts.txt
  java/buildconf/apidoc/jsp/scripts.txt
  java/buildconf/apidoc/singlepage/scripts.txt
  java/manager-build.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5614 Fixed missing "options" in args, for spacecmd/src/spacecmd/system.py
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/system.py
Labels: python3, merge-candidate

#5623 Changed the logout method to POST on HTTP API
  java/code/src/com/suse/manager/api/HttpApiRegistry.java
  java/code/src/com/suse/manager/api/test/HttpApiRegistryTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5603 Update ivy config for google-gson-2.8.9
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5691 Fix: Wrong file name in run_sets .yaml file
  testsuite/run_sets/build_validation_retail_sle15.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop

#5659 Adapting cucumber tests relative to the About link in 4.3 mainpage
  testsuite/features/secondary/srv_mainpage.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#5692 Using session id parameter as String when communicating with the search server
  java/code/src/com/redhat/rhn/frontend/action/audit/scap/XccdfSearchHelper.java
  java/code/src/com/redhat/rhn/frontend/action/channel/PackageSearchHelper.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataSearchAction.java
  java/spacewalk-java.changes
  search-server/spacewalk-search/spacewalk-search.changes
  search-server/spacewalk-search/src/java/com/redhat/satellite/search/rpc/handlers/DatabaseHandler.java
  search-server/spacewalk-search/src/java/com/redhat/satellite/search/rpc/handlers/IndexHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#5699 Changed logout method to use post
  testsuite/features/support/http_client.rb
Labels: testing, ruby_rubocop, test-framework

#5700 QE: Using official 15.4 base images in our Docker Profiles
  testsuite/features/profiles/Docker/authprofile/Dockerfile
  testsuite/features/profiles/Docker/serverhost/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/authprofile/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/serverhost/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/authprofile/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/serverhost/Dockerfile
Labels: merge-candidate, testing, ruby_rubocop

#5683 QE: Wait until all valid channels has been synced in CI
  testsuite/features/reposync/srv_wait_for_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#5702 Change time format
  testsuite/features/secondary/min_timezone.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#5584 QE: Fixup for checking open/closed ports
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5708 QE: Log when we wait to finish a sync. of a channel
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5709 QE: Use solv file to wait until a channel is sync
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5711 QE: Raise an exception when the wait for reposync processes timed out
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5712 Fix for ISS v2 test issue
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5720 Wait for solv instead of products.xml and add some logs to timeout loops
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework
