Repository uyuni-project/uyuni, pull requests merged in 2022-06, with the labels that each got.

#5560 Remove `nodejs-packaging` as a build requirement
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#5536 Testsuite docs: fix language markup
  testsuite/documentation/software-components.md
Labels: merge-candidate, testing, ruby_rubocop

#5398 QE: Add system presence tags for init client features
  testsuite/features/init_clients/sle_client.feature
  testsuite/features/init_clients/sle_minion.feature
Labels: merge-candidate, testing, ruby_rubocop

#5575 QE: Fixup for #5566 for open/closed ports
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5570 bootstrap repo: set optional package
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests, merge-candidate

#5499 deprecation warning for spacewalk-clone-by-date (#5497)
  utils/spacewalk-clone-by-date
  utils/spacewalk-clone-by-date.sgml
  utils/spacewalk-utils.changes
Labels: merge-candidate

#5576 QE: Use the same timeout for XML-RPC and HTTP
  testsuite/features/support/http_client.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5586 Fix creation of activation key for openSUSE 15.3 ARM
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5588 pg-migrate-x-to-y.sh migration without creating backup use -f option
  susemanager/bin/pg-migrate-x-to-y.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests, merge-candidate

#5591 Back to 12 SP4 as SP5 conflicts with later tests
  testsuite/features/reposync/srv_sync_channels.feature
Labels: testing, ruby_rubocop

#5593 We don't want to mirror SLE 12 SP3
  testsuite/features/reposync/srv_sync_channels.feature
Labels: testing, ruby_rubocop

#5509 Remove files accidentally added with HTTP API
  java/complex_get_params
  java/handlers
  java/return_types
  java/signature_list
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5488 Improve CLM channel cloning performance (bsc#1199523)
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5492 Do not mingle with generic step
  testsuite/features/secondary/srv_advanced_search.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#5559 Update junit5 jar files to their latest versions
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5613 Fix dynamic step syntax
  testsuite/features/step_definitions/retail_steps.rb
Labels: testing, ruby_rubocop, test-framework
