Repository uyuni-project/uyuni, pull requests merged in 2022-12, with the labels that each got.

#6234 Fix ssm keyword parsing for scap scheduling in spacecmd
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/scap.py
Labels: python3, needs-translation

#6249 QE: Temporary stop/start tftp service until spacewalk-proxy handle it
  testsuite/features/build_validation/containerization/proxy_as_pod_basic_tests.feature
  testsuite/features/core/proxy_register_as_pod.feature
  testsuite/features/secondary/proxy_as_pod_basic_tests.feature
Labels: core-features, secondary-features, testing, ruby_rubocop, build-validation-features

#6257 QE: Fix broken call to a step definition
  testsuite/features/secondary/srv_handle_config_channels_with_ISS_v2.feature
  testsuite/features/secondary/srv_handle_software_channels_with_ISS_v2.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#5512 send notifications as email
  java/code/src/com/redhat/rhn/domain/notification/NotificationMessage.java
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/code/src/com/redhat/rhn/domain/user/test/UserFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/events/test/NewUserEventTest.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoXmlRpcHandler.java
  java/code/src/com/redhat/rhn/testing/UserTestUtils.java
  java/spacewalk-java.changes
  python/uyuni/common/notificationUtils.py
  python/uyuni/uyuni-common-libs.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, old-ui

#6261 QE: Login/Logout from API in order to enable the use of API calls during the steps
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_baremetal_discovery.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_deblike_ssh.feature
  testsuite/features/secondary/min_move_from_and_to_proxy.feature
  testsuite/features/secondary/min_rhlike_ssh.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/minssh_bootstrap_api.feature
  testsuite/features/secondary/minssh_move_from_and_to_proxy.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features, testing, ruby_rubocop

#6253 Fix "Feature:Bootstrap a SSH-managed Red Hat-like minion" fails with server error
  java/code/src/com/suse/manager/reactor/utils/test/RhelUtilsTest.java
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_alibaba.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_almalinux.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_amazon.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_centos.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_centos_res.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_oracle.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_res.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_rhel.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_rockylinux.json
  java/code/src/com/suse/manager/reactor/utils/test/dummy_packages_redhatprodinfo_sll.json
  java/code/src/com/suse/manager/webui/utils/salt/custom/PkgProfileUpdateSlsResult.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: bug, java, java_lint_checkstyle, java_pgsql_tests, salt, test-suite

#6243 QE: Move virthost init from secondary to core
  testsuite/features/init_clients/min_virthost.feature
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/run_sets/init_clients.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#6274 Fix environment variable name
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#6276 QE: Fix mistakes login/logout from API Handler
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/secondary/allcli_config_channel.feature
  testsuite/features/secondary/allcli_overview_systems_details.feature
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/secondary/min_empty_system_profiles.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_bootstrap_api.feature
Labels: secondary-features, testing, ruby_rubocop, build-validation-features

#6275 jabberd service was removed
  testsuite/features/build_validation/containerization/proxy_as_pod_basic_tests.feature
  testsuite/features/core/proxy_register_as_pod.feature
  testsuite/features/secondary/proxy_as_pod_basic_tests.feature
Labels: core-features, secondary-features, testing, ruby_rubocop, build-validation-features

#6012 Migrate dependencies out of `susemanager-frontend-libs`
  java/code/src/com/suse/manager/webui/templates/groups/custom.jade
  java/code/src/com/suse/manager/webui/templates/minion/ansible-path-content.jade
  java/code/src/com/suse/manager/webui/templates/minion/custom.jade
  java/code/src/com/suse/manager/webui/templates/org/custom.jade
  java/code/src/com/suse/manager/webui/templates/yourorg/custom.jade
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/code/webapp/WEB-INF/pages/admin/multiorg/orgcreate.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/editarea.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/editareaYaml.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/user/edit_user_table_rows.jspf
  java/code/webapp/WEB-INF/pages/kickstart/cobbler/snippetview.jsp
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
  java/code/webapp/WEB-INF/pages/user/create/usercreate.jsp
  java/spacewalk-java.changes
  web/html/src/branding/css/uyuni/theme.less
  web/html/src/build/webpack.config.js
  web/html/src/package.json
  web/html/src/styleguide/template.js
  web/html/src/yarn.lock
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, webui-templates, needs-translation

#6258 Update the API doc and check if filter already exists
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#6282 Avoid conflict between CLM projects of same name
  testsuite/features/build_validation/add_custom_repositories/add_rocky8_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_rocky9_repositories.feature
Labels: testing, ruby_rubocop, build-validation-features

#6284 Avoid conflict between CLM projects of same label
  testsuite/features/build_validation/add_custom_repositories/add_rocky8_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_rocky9_repositories.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6290 Fix Rocky 9 bootstrap repo
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6288 Remove duplicate debug information
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#6296 Fix activation key for Rocky 9
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6300 Use SSH key for SSH minion
  testsuite/features/secondary/min_ssh_tunnel.feature
Labels: secondary-features, testing, ruby_rubocop

#6295 Fix sonarcloud issues in servlets
  java/code/src/com/redhat/rhn/domain/errata/ErrataFactory.java
  java/code/src/com/redhat/rhn/frontend/security/RedirectServlet.java
  java/code/src/com/redhat/rhn/frontend/servlets/OvalServlet.java
  java/code/src/com/redhat/rhn/frontend/servlets/ResourceReloadServlet.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui

#6301 Testsuite: Correct features to have them be idempotent
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/proxy_as_pod_basic_tests.feature
Labels: secondary-features, testing, ruby_rubocop

#6303 Testsuite: Remove extra login
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6310 correct changelog entry for default port
  spacecmd/spacecmd.changes
Labels: python3

#6313 QE: Advanced search, using name instead of label to find checkboxes
  testsuite/features/secondary/srv_advanced_search.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6315 Fix sql script idempotency for rhnServerOverview
  schema/spacewalk/upgrade/susemanager-schema-4.3.9-to-susemanager-schema-4.3.10/006-update-rhnServerOverview.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/002-rhnServerOverview-bools.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#6322 QE: Refactor get_system_name
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#6319 First create custom channel, then filter
  testsuite/features/build_validation/add_custom_repositories/add_maintenance_update_repository.template
  testsuite/features/build_validation/add_custom_repositories/add_rocky8_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_rocky9_repositories.feature
  testsuite/features/reposync/srv_add_rocky8_repositories.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
  testsuite/features/support/constants.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#6323 QE: Waiting for some web elements to be loaded
  testsuite/features/secondary/min_config_state_channel_subscriptions.feature
Labels: secondary-features, testing, ruby_rubocop

#6352 Limit changelog data in generated metadata to 20 entries. SUSE/spacewalk#19711
  java/conf/rhn_java.conf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6353 Fix addition of custom channels to activation key
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#6354 The order of the bootstrap events can be random
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6355 extract the csrf token from the windows variable if not available as element
  web/html/src/core/log/index.ts
  web/spacewalk-web.changes
Labels: ui, javascript_lint, merge-candidate

#6371 Update logrotate configurations
  java/conf/logrotate/gatherer
  java/conf/logrotate/rhn_web_api
  java/spacewalk-java.changes
  proxy/proxy/logrotate/rhn-proxy-broker
  proxy/proxy/logrotate/rhn-proxy-redirect
  proxy/proxy/spacewalk-proxy.changes
  python/spacewalk/logrotate/spacewalk-backend-app
  python/spacewalk/logrotate/spacewalk-backend-applet
  python/spacewalk/logrotate/spacewalk-backend-cdn
  python/spacewalk/logrotate/spacewalk-backend-config-files
  python/spacewalk/logrotate/spacewalk-backend-config-files-tool
  python/spacewalk/logrotate/spacewalk-backend-iss
  python/spacewalk/logrotate/spacewalk-backend-iss-export
  python/spacewalk/logrotate/spacewalk-backend-package-push-server
  python/spacewalk/logrotate/spacewalk-backend-server
  python/spacewalk/logrotate/spacewalk-backend-tools
  python/spacewalk/logrotate/spacewalk-backend-xmlrpc
  python/spacewalk/spacewalk-backend.changes
  search-server/spacewalk-search/spacewalk-search.changes
  search-server/spacewalk-search/src/config/etc/logrotate.d/rhn-search
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, proxy

#6373 QE: Additional screenshot in Advanced Search tests to debug a flaky test
  testsuite/features/secondary/srv_advanced_search.feature
Labels: secondary-features, testing, ruby_rubocop

#6376 QE: Workaround for 1206586 (Ubuntu 22.04 OpenScap support)
  testsuite/features/secondary/min_deblike_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#6170 QE: Add smoke tests for Grafana in BV
  testsuite/Rakefile
  testsuite/documentation/cucumber-steps.md
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/monitoring_server.feature
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_monitoring.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#6347 Add rhel 9 tag to BV
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/rhel9_minion.feature
  testsuite/features/build_validation/init_clients/rhel9_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#6380 QE: Fix a rename of SCC channel for Containers sles12 sp4
  testsuite/features/reposync/srv_sync_channels.feature
Labels: testing, ruby_rubocop

#6383 Fix RuboCop issues introduces with #6347
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6381 fix check of channel label
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6384 Rename the channel SLE-Module-Containers12-Updates
  testsuite/features/reposync/srv_sync_channels.feature
Labels: testing, ruby_rubocop

#6389 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_mk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#6398 QE: Ignore rocky subversion for reposync
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6399 QE: Replace occurences of '-SP' in OS version before conversion to float
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6400 QE: Fix clicking on clear step in testsuite
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/allcli_config_channel.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_baremetal_discovery.feature
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/secondary/min_salt_formulas.feature
  testsuite/features/secondary/srv_clone_channel_npn.feature
  testsuite/features/secondary/srv_group_union_intersection.feature
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_power_management_redfish.feature
Labels: secondary-features, testing, ruby_rubocop

#6402 QE: Fix navigation to pxeboot system's page
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features, testing, ruby_rubocop

#6403 QE: Temporarily disable Rocky 8 reposync
  testsuite/run_sets/reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6406 QE: Revert changes to clicking on Clear step, except the fixed feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/allcli_config_channel.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/secondary/min_salt_formulas.feature
  testsuite/features/secondary/srv_clone_channel_npn.feature
  testsuite/features/secondary/srv_group_union_intersection.feature
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_power_management_redfish.feature
Labels: secondary-features, testing, ruby_rubocop

#6407 assign correct list to request
  java/code/src/com/redhat/rhn/frontend/action/configuration/channel/ChannelDeployConfirmAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#6408 Properly filter for physical systems
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests
