Repository uyuni-project/uyuni, pull requests merged in 2022-05, with the labels that each got.

#5334 Use new parameter names
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/support/namespaces/actionchain.rb
  testsuite/features/support/namespaces/configchannel.rb
  testsuite/features/support/namespaces/image.rb
  testsuite/features/support/namespaces/schedule.rb
  testsuite/features/support/namespaces/system.rb
  testsuite/features/support/namespaces/user.rb
Labels: testing, ruby_rubocop, test-framework

#5329 Deploy the formula so all fields are shown
  testsuite/features/build_validation/init_clients/proxy.feature
Labels: testing, ruby_rubocop, build-validation-features

#5339 Typo in parameter name
  testsuite/features/support/namespaces/system.rb
Labels: merge-candidate, testing, ruby_rubocop

#5340 move reportdb schema docs in en subdirectory and add item at About as well
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5336 prevent NPE when queueRun is not set due to errors
  java/code/src/com/redhat/rhn/taskomatic/task/threaded/TaskQueue.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5331 Fix ubuntu errata package version selection
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#5345 QE: Fix the smoke tests template at deploy configuration scenario
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#5338 Use container_images_path macro for proxy container images
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.changes
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.spec
Labels: merge-candidate

#5335 Minor Spec updates
  java/spacewalk-java.spec
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#5349 Cosmetic fix for the default email used at rhn_web.conf
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

#5352 Declare /manager directory as safe for nodejs tests
  susemanager-utils/testing/docker/scripts/push-to-obs.sh
  web/html/src/scripts/docker-javascript-lint.sh
Labels: ui, javascript_lint

#5357 fix contains check for salt function name array
  java/code/src/com/suse/manager/utils/SaltUtils.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5366 Add SLE 15 SP4 to Build Validation
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/sle15sp4_client.feature
  testsuite/features/build_validation/init_clients/sle15sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp4_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_clients.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#5365 QE: Prometheus formula must be tested only in SUSE Systems
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#5374 Update velocity-engine to 2.3
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5388 Use registry.opensuse.org/uyuni namespace for proxy containers
  containers/proxy-systemd-services/uyuni-proxy-services.config
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.changes
Labels: merge-candidate

#5391 [4.3 RC1] Remove the port from the proxy path given to preflight script
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5392 Backport #5391 and tagging to master
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5393 QE: Update the Docker profiles in CI to use SLES15 images
  testsuite/features/profiles/Docker/Dockerfile
  testsuite/features/profiles/Docker/add_packages.sh
  testsuite/features/profiles/Docker/authprofile/Dockerfile
  testsuite/features/profiles/Docker/authprofile/add_packages.sh
  testsuite/features/profiles/Docker/authprofile/sles12sp4.repo
  testsuite/features/profiles/Docker/authprofile/sles15sp4.repo
  testsuite/features/profiles/Docker/serverhost/Dockerfile
  testsuite/features/profiles/Docker/serverhost/add_packages.sh
  testsuite/features/profiles/Docker/serverhost/sles12sp4.repo
  testsuite/features/profiles/Docker/serverhost/sles15sp4.repo
  testsuite/features/profiles/Docker/sles12sp4.repo
  testsuite/features/profiles/Docker/sles15sp2.repo
Labels: testing, ruby_rubocop

#5386 Fix CLM sources modal
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#5342 clarify schema upgrade check message
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-service.systemd
Labels: merge-candidate

#5346 fix link to schedule page
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataConfirmSetupAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#5410 Fix ACL rules for config diff download for SLS files (bsc#1198914)
  java/code/webapp/WEB-INF/struts-config.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#5368 update server needed cache after adding Ubuntu Errata
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataManager.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#5416 Regenerated "internal_prv" and "internal_nue" with "make" command
  testsuite/features/profiles/internal_nue/Docker/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/add_packages.sh
  testsuite/features/profiles/internal_nue/Docker/authprofile/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/authprofile/add_packages.sh
  testsuite/features/profiles/internal_nue/Docker/authprofile/sles12sp4.repo
  testsuite/features/profiles/internal_nue/Docker/authprofile/sles15sp4.repo
  testsuite/features/profiles/internal_nue/Docker/serverhost/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/serverhost/add_packages.sh
  testsuite/features/profiles/internal_nue/Docker/serverhost/sles12sp4.repo
  testsuite/features/profiles/internal_nue/Docker/serverhost/sles15sp4.repo
  testsuite/features/profiles/internal_nue/Docker/sles12sp4.repo
  testsuite/features/profiles/internal_nue/Docker/sles15sp2.repo
  testsuite/features/profiles/internal_prv/Docker/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/add_packages.sh
  testsuite/features/profiles/internal_prv/Docker/authprofile/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/authprofile/add_packages.sh
  testsuite/features/profiles/internal_prv/Docker/authprofile/sles12sp4.repo
  testsuite/features/profiles/internal_prv/Docker/authprofile/sles15sp4.repo
  testsuite/features/profiles/internal_prv/Docker/serverhost/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/serverhost/add_packages.sh
  testsuite/features/profiles/internal_prv/Docker/serverhost/sles12sp4.repo
  testsuite/features/profiles/internal_prv/Docker/serverhost/sles15sp4.repo
  testsuite/features/profiles/internal_prv/Docker/sles12sp4.repo
  testsuite/features/profiles/internal_prv/Docker/sles15sp2.repo
Labels: testing, ruby_rubocop

#5415 Do not use beta for the product tag for SUSE Manager 4.3
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5414 payg taskomatic task for updating certificates (#17783)
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygUpdateHostsTask.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5305 XMLRPC API ContentManagement createAppStreamFilters
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#5417 fix NoSuchElementException when pkg install date is missing
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5421 Wait for inspect action before checking image packages
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/step_definitions/docker_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#5307 Add a way to ignore known issues in audits
  web/html/src/.auditignore.js
  web/html/src/build/audit.js
  web/html/src/package.json
Labels: ui, javascript_lint

#5427 Improved error messages for audit ignore
  web/html/src/build/audit.js
Labels: ui, javascript_lint

#5429 Add Basesystem repo
  testsuite/features/profiles/Docker/serverhost/Dockerfile
  testsuite/features/profiles/Docker/serverhost/sles15sp4-base.repo
  testsuite/features/profiles/internal_nue/Docker/serverhost/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/serverhost/sles15sp4-base.repo
  testsuite/features/profiles/internal_prv/Docker/serverhost/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/serverhost/sles15sp4-base.repo
Labels: testing, ruby_rubocop

#5434 HTTP API: Handle cases where there is an error code, but no error message
  testsuite/features/support/http_client.rb
Labels: testing, ruby_rubocop, test-framework

#5433 don't try to remove known_hosts entry if hostname is null
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5436 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#5443 Add RHEL 7 and 8 bootstrap repositories for Uyuni
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#5438 Fix issue removing duplicated packages names in the same action (bsc#1198686)
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/packages/pkgremove.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#5432 Bump SUSE Manager and Uyuni versions
  containers/proxy-httpd-image/proxy-httpd-image.changes
  containers/proxy-salt-broker-image/proxy-salt-broker-image.changes
  containers/proxy-squid-image/proxy-squid-image.changes
  containers/proxy-ssh-image/proxy-ssh-image.changes
  containers/proxy-tftpd-image/proxy-tftpd-image.changes
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

#5437 Update copyright year
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#5439 add SLED 12 SP3 bootstrap repo definition
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#5449 Add channel to sync for SLE 15 SP4
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#5435 provisioning thought proxy should use proxy for self_update (bsc#1199036)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerSystemCreateCommand.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#5454 change default theme to susemanager-light for SUSE Manager
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#5455 the copyright year has changed in 4.3
  testsuite/features/secondary/srv_mainpage.feature
Labels: secondary-features, testing, ruby_rubocop

#5451 Set profile tag has no-mandatory in XCCDF result (bsc#1194262)
  java/code/src/com/redhat/rhn/manager/audit/scap/xml/BenchmarkResume.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5445 Add openSUSE Leap 15.4 bootstrap repositories
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#5450 Fix VM changes on traditional virtual hosts
  client/tools/mgr-virtualization/mgr-virtualization.changes
  client/tools/mgr-virtualization/virtualization/poller.py
  python/spacewalk/server/rhnVirtualization.py
  python/spacewalk/spacewalk-backend.changes
Labels: python3

#5463 Use basesystem repo
  testsuite/features/profiles/Docker/authprofile/sles15sp2.repo
  testsuite/features/profiles/Docker/serverhost/sles15sp2.repo
  testsuite/features/profiles/Docker/sles15sp2.repo
  testsuite/features/profiles/internal_nue/Docker/authprofile/sles15sp2.repo
  testsuite/features/profiles/internal_nue/Docker/serverhost/sles15sp2.repo
  testsuite/features/profiles/internal_nue/Docker/sles15sp2.repo
  testsuite/features/profiles/internal_prv/Docker/authprofile/sles15sp2.repo
  testsuite/features/profiles/internal_prv/Docker/serverhost/sles15sp2.repo
  testsuite/features/profiles/internal_prv/Docker/sles15sp2.repo
Labels: testing, ruby_rubocop

#5426 Exits mgr-sync if properties are duplicated in conf files (bsc#1182742)
  susemanager/src/mgr-sync
  susemanager/src/mgr_sync/config.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#5465 add examples for HTTP over JSON API
  java/buildconf/apidoc/asciidoc/scripts.txt
  java/buildconf/apidoc/docbook/scripts.txt
  java/buildconf/apidoc/html/scripts.txt
  java/buildconf/apidoc/jsp/scripts.txt
  java/buildconf/apidoc/singlepage/scripts.txt
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5470 Fixed duplication of XccdScanResult table by retrieving the ident_id
  java/code/src/com/redhat/rhn/common/db/datasource/xml/ScapReport_queries.xml
  java/spacewalk-java.changes
  java/tito.props
  schema/reportdb/common/tables/XccdScanResult.sql
  schema/reportdb/postgres/docs/tables/XccdScanResult.pre
  schema/reportdb/upgrade/uyuni-reportdb-schema-4.3.4-to-uyuni-reportdb-schema-4.3.5/001-fix-scan-result-duplication.sql
  schema/reportdb/uyuni-reportdb-schema.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5502 Server migrator 15 4
  spacewalk/package/spacewalk.spec
  susemanager/bin/server-migrator.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#5508 Split the branch server preparation from proxy preparation
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/build_validation/retail/proxy_branch_network.feature
  testsuite/run_sets/build_validation_retail_proxy.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop, build-validation-features

#5517 spacewalk-java: Set Cobbler 3.2.1 as exact requirement
  java/spacewalk-java.changes
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5511 QE: Show details on errors in bootstrapping
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework
