Repository uyuni-project/uyuni, pull requests merged in 2022-10, with the labels that each got.

#6009 QE: Refactor how we enable/disable Ubuntu universe repo
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#5875 QE: Add validation for rotate log file name
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#6015 QE: Fix remaining traditional client test code
  testsuite/.rubocop_todo.yml
  testsuite/features/secondary/allcli_config_channel.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#6016 QE: Fix another remaining issue from trad stack removal
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/allcli_software_channels.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#6034 Use more vague IPv6 prefix
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#5994 Refactor command result printing (bsc#1203283)
  spacecmd/spacecmd.changes
  spacecmd/src/bin/spacecmd
  spacecmd/src/spacecmd/activationkey.py
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/src/spacecmd/proxy.py
  spacecmd/src/spacecmd/shell.py
  spacecmd/tests/test_activationkey.py
  spacecmd/tests/test_configchannel.py
  spacecmd/tests/test_shell.py
Labels: python3, needs-translation

#6035 Remove test for uptime from BV
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#5422 Added a property to avoid automatic cleaning before each ant compilation
  java/buildconf/manager-developer-build.properties.example
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6040 Remove Channel.getPackage() deprecation
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6039 consider all matched methods as fallback for xmlrpc (bsc#1203633)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#6042 Using NetworkManager for Rocky 8 minion
  testsuite/features/step_definitions/retail_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6044 delay hardware refresh action to avoid missing channels (bsc#1204208)
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6043 QE: Fixups for Rocky 8
  testsuite/features/reposync/srv_add_rocky8_repositories.feature
  testsuite/features/reposync/srv_sync_channels.feature
Labels: testing, ruby_rubocop

#5972 Upgrade Bootstrap to the latest minor version
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/spacewalk-java.changes
  web/html/src/branding/css/susemanager-fullscreen.less
  web/html/src/branding/css/susemanager/variables.less
  web/html/src/branding/css/uyuni/variables.less
  web/html/src/build/webpack.config.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project-selection.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-filters.tsx
  web/html/src/package.json
  web/html/src/styleguide/template.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, needs-translation

#6047 QE: Remove manual Rocky 8 custom channel sync
  testsuite/features/reposync/srv_add_rocky8_repositories.feature
Labels: testing, ruby_rubocop

#6048 Revert "Upgrade Bootstrap to the latest minor version (#5972)"
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/spacewalk-java.changes
  web/html/src/branding/css/susemanager-fullscreen.less
  web/html/src/branding/css/susemanager/variables.less
  web/html/src/branding/css/uyuni/variables.less
  web/html/src/build/webpack.config.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project-selection.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-filters.tsx
  web/html/src/package.json
  web/html/src/styleguide/template.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, needs-translation

#6049 Add channel availability check for product migration (bsc#1200296)
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6008 QE: Cobbler system record trigger step updating
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#6011 QE: Splitting image build check into two steps
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/step_definitions/docker_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#5914 QE: Hostname rename testing
  testsuite/features/build_validation/core/srv_user_preferences.feature
  testsuite/features/core/srv_user_preferences.feature
  testsuite/features/secondary/srv_rename_hostname.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/run_sets/secondary.yml
Labels: core-features, secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#6061 update strings for translations in spacecmd
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
Labels: python3, needs-translation

#6063 QE: Temporarily disabled srv_add_rocky8_repositories
  testsuite/run_sets/reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop

#5984 snakeyaml version update to 1.31
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6062 Rename 'Amazon EC2/KVM' to 'Amazon EC2/Nitro' and improve the detection (bsc#1203685)
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnVirtualInstanceType.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/100-rhnVirtualInstanceType-Nitro.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#6052 Upgrade Bootstrap
  .github/workflows/javascript-build.yml
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/spacewalk-java.changes
  web/html/src/branding/css/susemanager-fullscreen.less
  web/html/src/branding/css/susemanager/variables.less
  web/html/src/branding/css/uyuni/variables.less
  web/html/src/build/webpack.config.js
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project-selection.tsx
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-filters.tsx
  web/html/src/package.json
  web/html/src/styleguide/template.js
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, needs-translation

#6068 Add legacy datetime id to stories for testing
  web/html/src/components/datetime/DateTimePicker.stories.md
Labels: ui, javascript_lint

#6071 Refresh pillar data for the assigned systems when a CLM channel is built (bsc#1200169)
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6067 Aws cutomization rebase
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/core/proxy_register_as_minion_with_script.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_docker_api.feature
  testsuite/features/secondary/srv_virtual_host_manager.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: core-features, secondary-features, testing, ruby_rubocop, test-framework

#6072 Call test-coverage-report in ant test-pr target
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6073 fix bootstrap data typo
  susemanager/src/mgr_bootstrap_data.py
Labels: python3, susemanager_unittests

#6074 Fix issues on upgrading Amazon EC2 related schema
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.0-to-susemanager-schema-4.4.1/300-rhnVirtualInstanceType.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle
