Repository uyuni-project/uyuni, pull requests merged in 2023-06, with the labels that each got.

#7075 Add form labels to Login fields
  web/html/src/manager/login/uyuni/login.tsx
Labels: ui, javascript_lint, needs-translation

#7051 Fix low contrast texts in Login page
  web/html/src/branding/css/uyuni/legacy-variables.less
  web/html/src/branding/css/uyuni/login.less
Labels: ui, javascript_lint, needs-translation

#7077 QE: Fix deletion of images
  testsuite/features/secondary/buildhost_docker_build_image.feature
Labels: secondary-features, testing, ruby_rubocop

#7078 Refactoring the step to cleanup salt minion left-overs
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7081 Fix missing client tools in Leap json script
  testsuite/ext-tools/maintenance_json_generator.py
Labels: testing, ruby_rubocop

#7080 Ci refactor
  .github/workflows/acceptance_tests_common.yml
  .github/workflows/acceptance_tests_secondary.yml
  .github/workflows/acceptance_tests_secondary_parallel.yml
  testsuite/features/github_validation/core/create_repository.feature
  testsuite/features/github_validation/core/first_settings.feature
  testsuite/features/github_validation/init_clients/min_deblike_salt.feature
  testsuite/features/github_validation/init_clients/min_rhlike_salt.feature
  testsuite/features/github_validation/init_clients/sle_minion.feature
  testsuite/features/github_validation/init_clients/sle_ssh_minion.feature
  testsuite/podman_runner/11_run_core_tests.sh
  testsuite/podman_runner/16_run_init_clients_tests.sh
  testsuite/run_sets/container_init_clients.yml
  testsuite/run_sets/github_validation/github_validation_core.yml
  testsuite/run_sets/github_validation/github_validation_init_clients.yml
  testsuite/run_sets/github_validation/github_validation_proxy.yml
Labels: ci-pipelines, testing, ruby_rubocop

#7076 Correctly handle result_folder variable when calling index.js
  testsuite/Rakefile
Labels: testing, ruby_rubocop

#7085 Remove warning not applying to BV
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#7082 QE: Add step to wait for salt jobs to finish on buildhost as part of cleanup
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
Labels: secondary-features, testing, ruby_rubocop

#7090 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_mk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_mk.xml
  python/spacewalk/po/mk.po
  spacecmd/po/it.po
  web/po/it.po
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#7089 Fix Squid "refresh_pattern" for "venv-enabled-*.txt" files (bsc#1211956)
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/installer/squid.conf
Labels: proxy

#7088 Use newest "venv-salt-minion" version available to generate the "venv-enabled-*.txt" files (bsc#1211958)
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#7093 Fix counting channels
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/srv_cobbler_buildiso.feature
  testsuite/features/secondary/srv_cobbler_distro.feature
  testsuite/features/secondary/srv_cobbler_profile.feature
Labels: secondary-features, testing, ruby_rubocop

#7094 give cobbler a second to come up
  testsuite/features/step_definitions/cobbler_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7096 QE: Use webUI steps for accessing system in retail
  testsuite/features/build_validation/retail/sle12sp5_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_deploy.feature
Labels: testing, ruby_rubocop, build-validation-features

#6876 Remove the diff column from the scap results page
  java/code/webapp/WEB-INF/pages/common/fragments/audit/scap-list-columns.jspf
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#7105 Testsuite: Update expected copyright date from 2022 to 2023
  testsuite/features/secondary/srv_mainpage.feature
Labels: secondary-features, testing, ruby_rubocop

#7040 QE: Feature dependency documentation - second round
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_config_state_channel.feature
  testsuite/features/secondary/min_docker_api.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/secondary/srv_change_password.feature
  testsuite/features/secondary/srv_rename_hostname.feature
Labels: secondary-features, testing, ruby_rubocop

#7102 Stay consistent with the Create/Refresh buttons order
  web/html/src/manager/images/image-profiles.tsx
  web/html/src/manager/images/image-stores.tsx
  web/spacewalk-web.changes
Labels: ui, javascript_lint, needs-translation

#7110 Use the CONTAINER_RUNTIME value for @skip_if_container check
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#7112 Separate github validation and server container skip flags
  testsuite/features/secondary/allcli_reboot.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_ansible_control_node.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_bootstrap_negative.feature
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/secondary/min_config_state_channel.feature
  testsuite/features/secondary/min_config_state_channel_subscriptions.feature
  testsuite/features/secondary/min_deblike_monitoring.feature
  testsuite/features/secondary/min_deblike_openscap_audit.feature
  testsuite/features/secondary/min_deblike_remote_command.feature
  testsuite/features/secondary/min_deblike_salt_install_package.feature
  testsuite/features/secondary/min_deblike_salt_install_with_staging.feature
  testsuite/features/secondary/min_deblike_ssh.feature
  testsuite/features/secondary/min_docker_api.feature
  testsuite/features/secondary/min_monitoring.feature
  testsuite/features/secondary/min_recurring_action.feature
  testsuite/features/secondary/min_rhlike_monitoring.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_remote_command.feature
  testsuite/features/secondary/min_rhlike_salt_install_package_and_patch.feature
  testsuite/features/secondary/min_rhlike_ssh.feature
  testsuite/features/secondary/min_salt_formulas.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
  testsuite/features/secondary/min_salt_pkgset_beacon.feature
  testsuite/features/secondary/min_salt_software_states.feature
  testsuite/features/secondary/min_salt_user_states.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/min_timezone.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/minssh_ansible_control_node.feature
  testsuite/features/secondary/minssh_bootstrap_api.feature
  testsuite/features/secondary/minssh_salt_install_package.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/secondary/srv_cobbler_buildiso.feature
  testsuite/features/secondary/srv_cobbler_distro.feature
  testsuite/features/secondary/srv_cobbler_profile.feature
  testsuite/features/secondary/srv_cobbler_sync.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/features/secondary/srv_monitoring.feature
  testsuite/features/secondary/srv_notifications.feature
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_power_management_api.feature
  testsuite/features/secondary/srv_power_management_redfish.feature
  testsuite/features/secondary/srv_rename_hostname.feature
  testsuite/features/secondary/srv_restart.feature
  testsuite/features/secondary/srv_scc_user_credentials.feature
  testsuite/features/secondary/srv_virtual_host_manager.feature
  testsuite/features/support/env.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7111 Use the CA certificate in the /etc/pki to generate buildhost RPM
  spacewalk/certs-tools/mgr-package-rpm-certificate-osimage
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.spec
  susemanager/bin/mgr-setup
Labels: susemanager_unittests

#6923 Datetime tooltips do not show timestamps
  java/code/src/com/redhat/rhn/frontend/taglibs/FormatDateTag.java
  java/code/src/com/suse/manager/webui/utils/UserPreferenceUtils.java
  web/html/javascript/spacewalk-essentials.js
  web/html/src/components/datetime/DateTime.tsx
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/components/datetime/FromNow.stories.md
  web/html/src/components/datetime/FromNow.test.tsx
  web/html/src/components/datetime/FromNow.tsx
  web/html/src/components/datetime/timeProps.test.ts
  web/html/src/components/datetime/timeProps.ts
  web/html/src/core/log/loggerhead.ts
  web/html/src/global.d.ts
  web/html/src/jest.config.js
  web/html/src/manager/legacy/FormatDateTag.tsx
  web/html/src/manager/legacy/index.ts
  web/html/src/styleguide/setup.js
  web/html/src/utils/datetime/localizedMoment.test.ts
  web/html/src/utils/datetime/localizedMoment.ts
  web/html/src/utils/test-utils/setup/index.ts
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#7119 Add SLE 15 SP 5 and openSUSE 15.5
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/opensuse155arm_minion.feature
  testsuite/features/build_validation/init_clients/opensuse155arm_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#7120 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#7121 Testsuite: Enhance hostname rename test feature
  testsuite/features/secondary/srv_rename_hostname.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7127 Testsuite: Wait for cobblerd to have restarted at the end of cleanup step
  testsuite/features/step_definitions/cobbler_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7064 Disable jinja processing for the roster file
  java/code/src/com/suse/manager/webui/utils/SaltRoster.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7136 More complete run_set
  testsuite/run_sets/build_validation/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop

#7138 Adjust ivy configuration after tomcat update
  java/buildconf/ivy/ivy-suse.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7144 QE: Add missing channels for 15.5 minions
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#7147 QE: Adapt grafana tests to the new grafana version
  testsuite/features/build_validation/init_clients/monitoring_server.feature
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#7148 Release DB connection in RHN Message Dispatcher thread
  java/code/src/com/redhat/rhn/common/messaging/MessageDispatcher.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7145 Testsuite: Move bootstrap features in regular secondary stage
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#7149 Improve handling of websocket exceptions
  java/code/src/com/suse/manager/webui/websocket/Notification.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7152 Testsuite: Replace deprecated references to rhlike minion in feature
  testsuite/features/secondary/allcli_action_chain.feature
Labels: secondary-features, testing, ruby_rubocop

#7153 Remove sle15, opensuse153, add opensuse155, fix slemicro
  testsuite/ext-tools/maintenance_json_generator.py
Labels: testing, ruby_rubocop

#7155 Increase timeout after restart of service
  testsuite/features/step_definitions/cobbler_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7159 catch yaml exceptions and report which metadata file is wrong
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#7150 Testsuite: Core feature dependency
  testsuite/features/core/srv_channels_add.feature
  testsuite/features/core/srv_create_activationkey.feature
  testsuite/features/core/srv_create_repository.feature
  testsuite/features/core/srv_docker.feature
  testsuite/features/core/srv_first_settings.feature
  testsuite/features/core/srv_organization_credentials.feature
  testsuite/features/core/srv_osimage.feature
Labels: core-features, testing, ruby_rubocop

#7162 Testsuite: Wait for end of full onboarding process
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/secondary/min_salt_minions_page.feature
Labels: secondary-features, testing, ruby_rubocop

#7169 CI: do not update podman
  .github/workflows/acceptance_tests_common.yml
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7172 add bug number to changelog
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7176 Don't log generated SSL certificate and key.
  java/code/src/com/redhat/rhn/common/util/FileUtils.java
  java/code/src/com/suse/manager/ssl/SSLCertManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7177 Remove logging tiny url parameters
  java/code/src/com/redhat/rhn/frontend/action/common/TinyUrlAction.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#7175 Remove Debian 9 leftovers
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#7170 Uyuni-2023.04: Update jetty-util to version 9.4.51
  java/buildconf/ivy/ivy-suse.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7180 [2023.04] CVE 2023 22644
  java/code/src/com/redhat/rhn/common/security/SessionSwap.java
  java/code/src/com/redhat/rhn/common/util/FileUtils.java
  java/code/src/com/redhat/rhn/frontend/action/common/TinyUrlAction.java
  java/code/src/com/redhat/rhn/frontend/action/renderers/setupwizard/MirrorCredentialsRenderer.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerDistroCreateCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerLoginCommand.java
  java/code/src/com/redhat/rhn/manager/session/SessionManager.java
  java/code/src/com/suse/manager/ssl/SSLCertManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#7188 fix session information leak
  java/code/src/com/redhat/rhn/frontend/action/kickstart/KickstartHelper.java
  java/code/src/org/cobbler/CobblerConnection.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, cobbler

#7191 Revert "Testsuite: Move bootstrap features in regular secondary stage"
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#7193 Allow both CentOS and Rocky on all branches
  testsuite/features/step_definitions/retail_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7194 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_mk.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#7190 show reasons for state apply errors in UI
  java/code/src/com/redhat/rhn/domain/action/salt/ApplyStatesAction.java
  java/spacewalk-java.changes.mcalmer.Manager-4.3-show-parse-error-reason
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#7197 Add missing Salt 3006.0 deps to bootstrap repos
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.agraul.fix-salt-3006-bootstrap-deps
Labels: python3, susemanager_unittests

#7209 Filter out modules properly with 'none' matcher (bsc#1212770)
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolver.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/spacewalk-java.changes.cbbayburt.disable-modularity
Labels: java, java_lint_checkstyle, java_pgsql_tests
