Repository uyuni-project/uyuni, pull requests merged in 2023-02, with the labels that each got.

#6561 QE: Wait until the credentials are valid
  testsuite/features/core/srv_organization_credentials.feature
  testsuite/features/step_definitions/common_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework

#6567 Fix Rubocop 0.83.0 version in our Gemfile
  testsuite/Gemfile
Labels: testing, ruby_rubocop

#6570 Create repos with SHA256 instead of SHA1
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#6575 Translation update
  client/rhel/spacewalk-client-tools/po/mk.po
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_mk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  python/spacewalk/po/mk.po
  web/po/sk.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#6445 Fix failing to delete CLM environment without error
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/test/ContentProjectFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/EnvironmentApiController.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, content-management, data-model, old-ui, needs-translation

#6515 New UI to manage installation/uninstallation of PTFs
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/common/security/acl/Access.java
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelFactoryTest.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/action/SetLabels.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/PackageListSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/test/PackageListSetupTest.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/test/PackageManagerPtfTest.java
  java/code/src/com/redhat/rhn/testing/PackageTestUtils.java
  java/code/src/com/redhat/rhn/testing/RhnMockHttpServletResponse.java
  java/code/src/com/suse/manager/virtualization/VirtualizationActionHelper.java
  java/code/src/com/suse/manager/webui/controllers/ImageBuildController.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/SetController.java
  java/code/src/com/suse/manager/webui/controllers/SsmController.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/test/SetControllerTest.java
  java/code/src/com/suse/manager/webui/templates/minion/ptf-install.jade
  java/code/src/com/suse/manager/webui/templates/minion/ptf-list-remove.jade
  java/code/src/com/suse/manager/webui/templates/minion/ptf-overview.jade
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
  java/code/src/com/suse/manager/webui/utils/gson/PackageActionJson.java
  java/code/src/com/suse/manager/webui/utils/gson/PagedDataResultJson.java
  java/code/src/com/suse/manager/webui/utils/test/MinionActionUtilsTest.java
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/spacewalk-java.changes
  scripts/sitemap.txt
  web/html/src/components/package/PackageListActionScheduler.tsx
  web/html/src/manager/minion/index.ts
  web/html/src/manager/minion/ptf/ptf-column-definition.tsx
  web/html/src/manager/minion/ptf/ptf-install.renderer.tsx
  web/html/src/manager/minion/ptf/ptf-list-remove.renderer.tsx
  web/html/src/manager/minion/ptf/ptf-overview.renderer.tsx
  web/html/src/manager/state/highstate.tsx
  web/html/src/utils/translate.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, Virtualization management, ui, javascript_lint, webapp, data-model, old-ui, webui-templates, needs-translation

#6324 Support SLE Micro migration (bsc#1205011)
  susemanager-utils/susemanager-sls/salt/distupgrade/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: ready

#6531 fix postgres user check
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb
  spacewalk/uyuni-setup-reportdb/uyuni-setup-reportdb.changes
Labels: ready

#6582 Clarified build requirements
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  proxy/proxy/spacewalk-proxy.spec
  python/spacewalk/spacewalk-backend.spec
  schema/spacewalk/susemanager-schema.spec
  spacecmd/spacecmd.spec
  spacewalk/certs-tools/spacewalk-certs-tools.spec
  susemanager/susemanager.spec
  utils/spacewalk-utils.spec
Labels: python3, proxy, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, needs-translation

#6586 Fix the taskomatic log handling
  java/code/src/com/redhat/rhn/taskomatic/LogUtils.java
  java/code/src/com/redhat/rhn/taskomatic/task/ChannelRepodata.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataCacheTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/ErrataQueue.java
  java/code/src/com/redhat/rhn/taskomatic/task/HubReportDbUpdateTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/RhnJavaJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/RhnQueueJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/SSHPush.java
  java/code/src/com/redhat/rhn/taskomatic/task/SystemOverviewUpdateQueue.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/RhnJavaJobTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5723 QE: Add SLE Micro 5.3 and 5.2 tests to BV test suite
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/slemicro52_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6024 Add speed measure plugin for Webpack
  web/html/src/build/webpack.config.js
  web/html/src/package.json
  web/html/src/yarn.lock
Labels: ui, javascript_lint, needs-translation

#6597 Testsuite: fix undefined workaround step
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6590 Testsuite: Shortening xccdf result link
  testsuite/features/secondary/min_deblike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#6439 take common channel naming into account for auto selection
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelFactoryTest.java
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6472 QE: Split file management and setup steps into new `file_management_steps.rb` and `setup_steps.rb` files
  testsuite/.rubocop_todo.yml
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/file_management_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#6593 Add clear error message for Ace editor
  web/html/src/components/ace-editor.tsx
Labels: ui, javascript_lint

#6598 Removed wrong quotes
  web/html/src/manager/state/highstate.tsx
Labels: ui, javascript_lint

#6579 Specify the required cobbler version at a single place: patterns
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  python/spacewalk/spacewalk-backend.changes
  python/spacewalk/spacewalk-backend.spec
  spacewalk/package/spacewalk.changes
  spacewalk/package/spacewalk.spec
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/setup/spacewalk-setup.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6603 Testsuite: Restore SCC credentials step
  testsuite/features/step_definitions/setup_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6535 Add basic sanity checking to package.json
  web/html/src/build/check-package.mjs
  web/html/src/package.json
  web/html/src/yarn.lock
Labels: ui, javascript_lint

#6578 Fix spacecmd output for softwarechannel diffs (bsc#1207352)
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/tests/test_softwarechannel.py
Labels: python3, needs-translation

#6607 QE: Revert reposync error checking to old behavior
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6129 Change to new Rocky Linux Advisory page
  java/code/src/com/suse/manager/errata/RockyLinuxErrataParser.java
  java/code/src/com/suse/manager/errata/test/RockyLinuxErrataParserTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6580 Avoid using env labels containing dots in modal IDs in CLM (bsc#1207838)
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/mappers/ResponseMappers.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/response/EnvironmentResponse.java
  java/spacewalk-java.changes
  web/html/src/manager/content-management/shared/components/panels/environment-lifecycle/environment-view.tsx
  web/html/src/manager/content-management/shared/components/panels/promote/promote.tsx
  web/html/src/manager/content-management/shared/type/project.type.ts
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, content-management

#6520 Avoid unnecessary debug messages from proxy backend (bsc#1207490)
  proxy/proxy/apacheHandler.py
  proxy/proxy/apacheServer.py
  proxy/proxy/broker/rhnBroker.py
  proxy/proxy/rhnShared.py
  proxy/proxy/spacewalk-proxy.changes
Labels: proxy

#6600 QE: Split off cobbler steps in cobbler_steps.rb
  testsuite/.rubocop_todo.yml
  testsuite/features/step_definitions/cobbler_steps.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6612 Correct name for Rocky 8 custom channel from CLM
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#6613 Name of CLM results differs according to branch
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#6490 QE: Adjust server salt error detection
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/upload_files/salt_event_parser.py
Labels: testing, ruby_rubocop, test-framework

#6594 handle ubuntu advisory ids with USN prefix (bsc#1207883)
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6550 openSUSE Leap Micro 5.3 and openSUSE MicroOS as clients
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerConstants.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt-ssh/preflight.sh
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, data-model

#6616 Revert "QE: Workaround for 1206586 (Ubuntu 22.04 OpenScap support)"
  testsuite/features/secondary/min_deblike_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#6532 Add support to add optional channels in webUI
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/spacewalk-java.changes
  web/html/src/manager/admin/setup/products/products.tsx
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#6620 Add openSUSE Leap 15.5 support
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: python3, susemanager_unittests

#6618 Testsuite: Change the way buttons are found in content lifecycle feature
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6611 Remove the /var/log/rhn/tasko/* files
  java/code/src/com/redhat/rhn/frontend/dto/SetupWizardProductDto.java
  java/code/src/com/redhat/rhn/manager/setup/ProductSyncManager.java
  java/code/src/com/redhat/rhn/taskomatic/LogUtils.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoFactory.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoJob.java
  java/code/src/com/redhat/rhn/taskomatic/TaskoXmlRpcHandler.java
  java/code/src/com/redhat/rhn/taskomatic/domain/TaskoRun.java
  java/code/src/com/redhat/rhn/taskomatic/serializer/TaskoRunSerializer.java
  java/code/src/com/redhat/rhn/taskomatic/task/RhnJavaJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/RhnQueueJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/RhnJavaJobTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#6625 Remove the /var/log/rhn/tasko/* files: DB changes
  java/code/src/com/redhat/rhn/taskomatic/domain/TaskoRun.hbm.xml
  schema/spacewalk/common/tables/rhnTaskoRun.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.4-to-susemanager-schema-4.4.5/020-taskorun-paths-removal.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#6602 Taskomatic memory improvements
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataManager.java
  java/spacewalk-java.changes
Labels: Ubuntu, java, java_lint_checkstyle, java_pgsql_tests, data-model

#6537 Handle taskomatic failures during action creation
  java/code/src/com/redhat/rhn/manager/action/ActionChainManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6333 Fix the doc link for proxy config
  web/html/src/manager/proxy/container-config.tsx
Labels: ui, javascript_lint

#6632 get uptime with package profile update
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/packages.profileupdate.livepatching.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/PkgProfileUpdateSlsResult.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6634 report subscription warnings via notification only on mondays
  java/code/src/com/redhat/rhn/taskomatic/task/DailySummary.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6629 Added missing make build requirements
  client/tools/mgr-cfg/mgr-cfg.spec
  client/tools/mgr-push/mgr-push.spec
  client/tools/mgr-virtualization/mgr-virtualization.spec
  client/tools/spacewalk-koan/spacewalk-koan.spec
  client/tools/spacewalk-oscap/spacewalk-oscap.spec
  python/rhn/rhnlib.spec
  schema/reportdb/uyuni-reportdb-schema.spec
  suseRegisterInfo/suseRegisterInfo.spec
  web/spacewalk-web.spec
Labels: ui, javascript_lint, needs-translation

#6644 QE: fix the reboot through webUI steps
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6652 QE: Wait 5 seconds when checking if a checkbox is marked
  testsuite/features/init_clients/allcli_update_activationkeys.feature
  testsuite/features/step_definitions/setup_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6576 PoC: Push code coverage from each feature into a Redis DB
  .github/scripts/test_covering_pr.js
  .github/workflows/test-covering-pr.yml
  testsuite/Gemfile
  testsuite/features/support/code_coverage.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework
