Repository uyuni-project/uyuni, pull requests merged in 2023-11, with the labels that each got.

#7803 Bump WebUI version
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.deneb-alpha.Bump_WebUI_Version
Labels: ui, javascript_lint

#7807 CI: Fix minima configuration in server dev docker file
  testsuite/dockerfiles/server-all-in-one-dev/minima.yaml
Labels: testing, ruby_rubocop

#7825 QE: Add a new if statement to catch empty repositories while we are waiting for a channel to be synchronized
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7842 QE: Fix the step to extract log files from active nodes
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7833 GH validation client logs
  .github/workflows/acceptance_tests_common.yml
  testsuite/podman_runner/19_get_server_logs.sh
  testsuite/podman_runner/20_get_client_logs.sh
Labels: testing, ruby_rubocop

#7841 QE: Debug log for channel_is_synced method
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7845 Install tar package in GH containers so we can collect logs later
  testsuite/dockerfiles/opensuse-minion/Dockerfile
  testsuite/dockerfiles/rocky-minion/Dockerfile
  testsuite/dockerfiles/ubuntu-minion/Dockerfile
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7847 QE: Skip the 'wait to be synched' of empty channels
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#7848 Refactor collecting salt grains output
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7798 QE: Fix the channel label to compare in CVE Audit test
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/secondary/srv_activationkey_api.feature
  testsuite/features/step_definitions/api_common.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7860 QE: CVE Audit SLE Minion test, use the right test channel
  testsuite/features/secondary/min_cve_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#7862 QE: Don't include a repository on the Test Base channel
  testsuite/features/github_validation/core/create_repository.feature
  testsuite/features/reposync/srv_create_fake_repositories.feature
  testsuite/features/reposync/srv_sync_fake_channels.feature
Labels: testing, ruby_rubocop

#7865 QE: Rename Fake Base Channel and Fake Child Channel to fix ambiguity issues
  testsuite/features/github_validation/init_clients/sle_minion.feature
  testsuite/features/github_validation/init_clients/sle_ssh_minion.feature
  testsuite/features/init_clients/min_rhlike_salt.feature
  testsuite/features/reposync/srv_create_fake_channels.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/min_recurring_action.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_ssh.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_delete_channel_from_ui.feature
  testsuite/features/secondary/srv_dist_channel_mapping.feature
  testsuite/features/secondary/srv_manage_channels_page.feature
  testsuite/features/secondary/srv_patches_page.feature
  testsuite/features/secondary/srv_push_package.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/constants.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7850 QE: Cucumber step definitions shouldn't contain other than step definitions
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/datepicker_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/retail.rb
Labels: testing, ruby_rubocop, test-framework

#7854 QE: Improve our raise exception avoiding a Rubocop warning
  testsuite/.rubocop.yml
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/cobbler_steps.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
  testsuite/features/step_definitions/datepicker_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/file_management_steps.rb
  testsuite/features/step_definitions/lock_packages_on_client.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/vm_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/http_client.rb
  testsuite/features/support/kubernetes.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/namespaces/system.rb
  testsuite/features/support/twopence_env.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#7822 Enforce minimum build version for apache-commons-io
  java/spacewalk-java.changes.sbluhm.apache-commons-io
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7784 Have patch available for upgrade in a control scenario
  testsuite/features/secondary/proxy_as_pod_basic_tests.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7808 Revert cobbler changes
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
Labels: secondary-features, testing, ruby_rubocop

#7793 Prevent losing Remote Command action result if returned JSON cannot be parsed
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes.meaksh.master-fix-traceback-remote-commands
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7741 Fix "uuid" search in "spacecmd" by adding "uuid" as system search result attribute (bsc#1216380)
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemSearchHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SystemSearchResultSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/spacewalk-java.changes.meaksh.master-fix-search-by-uuid
  search-server/spacewalk-search/spacewalk-search.changes.meaksh.master-fix-search-by-uuid
  search-server/spacewalk-search/src/java/com/redhat/satellite/search/index/IndexManager.java
  search-server/spacewalk-search/src/java/com/redhat/satellite/search/index/Result.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#7794 Address high rating sonar bugs and vunerabilities
  java/code/src/com/redhat/rhn/manager/audit/AuditManager.java
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/utils/gson/ProxyContainerConfigJson.java
  java/spacewalk-java.changes.rjpmestre.address-high-rating-sonar-bugs_and_vunerabilities
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7767 Enhance hardware data sent to SCC by memory
  java/code/src/com/suse/scc/SCCSystemRegistration.java
  java/spacewalk-java.changes.rjpmestre.enhance-hardware-data-sent-to-scc-by-memory
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7873 fix SLE-Micro PAYG detection
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygAuthDataExtractor.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/script/detect_os.sh
  java/spacewalk-java.changes.mc.Manager-4.3-sle-micro-payg-os-detection
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7880 add bug number to changelog
  susemanager/susemanager.changes
Labels: susemanager_unittests

#7882 QE: Add constants.rb and api_test.rb dependencies for commonlib
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7878 Improve web client logging
  java/code/src/com/suse/scc/client/SCCWebClient.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7885 addressing high rating sonar issues
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/manager/webui/utils/gson/ProxyContainerConfigJson.java
  java/spacewalk-java.changes.rjpmestre.address-high-rating-sonar-bugs-and-vunerabilities-2
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7890 remove static rolled back by a different PR
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7892 QE: Fix child channels synchronization
  testsuite/features/reposync/srv_create_fake_channels.feature
  testsuite/features/reposync/srv_create_fake_repositories.feature
  testsuite/features/reposync/srv_sync_fake_channels.feature
  testsuite/features/secondary/srv_channel_api.feature
Labels: secondary-features, testing, ruby_rubocop

#7893 Convert time to integer before using
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7898 QE: Don't sync test-base-channel as it doesnt contains any repo
  testsuite/features/reposync/srv_sync_fake_channels.feature
Labels: testing, ruby_rubocop

#7896 Prevent NPE when applying states in test mode
  java/code/src/com/suse/manager/reactor/utils/ValueMap.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/SystemInfo.java
  java/spacewalk-java.changes.parlt.fix-npe-test-mode
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7906 disable test repo after usage
  testsuite/features/secondary/min_recurring_action.feature
Labels: secondary-features, testing, ruby_rubocop

#7843 add required steps about activation keys
  testsuite/run_sets/reference_reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop

#7909 Fix NPE when creating PXE config for an unmanaged profile
  java/code/src/com/redhat/rhn/frontend/action/kickstart/ScheduleKickstartWizardAction.java
  java/spacewalk-java.changes.welder.bsc1217223
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#7911 QE: Clear SSM as pre-requisite for channel subscription tests
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
Labels: secondary-features, testing, ruby_rubocop

#7651 Master - move all package files from /srv
  branding/spacewalk-branding.changes.mbussolotto.refactoring_srv
  branding/spacewalk-branding.spec
  java/build.xml
  java/code/src/com/redhat/rhn/common/localization/LocalizationService.java
  java/code/src/com/redhat/rhn/frontend/action/help/EulaAction.java
  java/manager-build.xml
  java/spacewalk-java.changes.mbussolotto.refactoring_srv
  java/spacewalk-java.spec
  python/spacewalk/spacewalk-backend.changes.mbussolotto.refactoring_srv
  python/spacewalk/spacewalk-backend.spec
  selinux/spacewalk-selinux/spacewalk-selinux-enable
  selinux/spacewalk-selinux/spacewalk-selinux.changes.mbussolotto.refactoring_srv
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.mbussolotto.refactoring_srv
  spacewalk/config/etc/httpd/conf.d/z-public.conf
  spacewalk/config/etc/httpd/conf.d/zz-spacewalk-www.conf
  spacewalk/config/spacewalk-config.changes.mbussolotto.refactoring_srv
  spacewalk/config/spacewalk-config.spec
  spacewalk/setup/lib/Spacewalk/Setup.pm
  spacewalk/setup/share/add_appbase.xml.xsl
  spacewalk/setup/share/mod_ssl.conf.vhost.7
  spacewalk/setup/share/vhost-nossl.conf
  spacewalk/setup/spacewalk-setup.changes.mbussolotto.refactoring_srv
  spacewalk/setup/spacewalk-setup.spec
  susemanager-branding-oss/susemanager-branding-oss.changes.mbussolotto.refactoring_srv
  susemanager-branding-oss/susemanager-branding-oss.spec
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes.mbussolotto.refactoring_srv
  susemanager-utils/supportutils-plugin-susemanager/susemanager
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mbussolotto.refactoring_srv
  susemanager-utils/susemanager-sls/susemanager-sls.spec
  susemanager/empty-repo.conf
  susemanager/susemanager.changes.mbussolotto.refactoring_srv
  susemanager/susemanager.spec
  testsuite/features/support/constants.rb
  web/html/Makefile
  web/spacewalk-web.changes.mbussolotto.refactoring_srv
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, susemanager_unittests, ui, javascript_lint, testing, ruby_rubocop, test-framework, old-ui, needs-translation

#7789 update ivy version of jetty-util
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7919 QE: Fix the rescue of a wrong API call
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/support/http_client.rb
Labels: testing, ruby_rubocop, test-framework

#7921 Fix susemanager-branding-oss and spacewalk-web rpm
  susemanager-branding-oss/susemanager-branding-oss.changes.mbussolotto.branding_oss_build_fix
  susemanager-branding-oss/susemanager-branding-oss.spec
  web/spacewalk-web.changes.mbussolotto.el9_package
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#7829 Support for Amazon Linux 2023
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes.juliogonzalez.amazonlinux2023
  schema/spacewalk/common/data/rhnPackageKey.sql
  schema/spacewalk/susemanager-schema.changes.juliogonzalez.amazonlinux2023
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/100-gpg-amazonlinux2023.sql
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.juliogonzalez.amazonlinux2023
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes.juliogonzalez.amazonlinux2023
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model, needs-translation

#7931 GH Validation: Change the hardcoded IP for download.opensuse.org
  testsuite/podman_runner/07_start_server.sh
Labels: testing, ruby_rubocop

#7932 gh actions: fix directories
  testsuite/podman_runner/09_build_server_code.sh
Labels: testing, ruby_rubocop

#7933 gh-actions: do not set the download.opensuse.org nor other hosts
  testsuite/podman_runner/07_start_server.sh
Labels: testing, ruby_rubocop

#7930 GH Validation: Cache Ruby gems for the controller inside the container image
  testsuite/dockerfiles/controller-dev/Dockerfile
Labels: testing, ruby_rubocop

#7923 Ensure correct snakeyaml version is required
  java/spacewalk-java.changes.mackdk.enforce-snakeyaml-version
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7738 Fix persisting the Cobbler UID in the database via XML-RPC createSystemRecord (bsc#1207532)
  java/Makefile.docker
  java/buildconf/ivy/ivy-suse.xml
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartData.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerSystemCreateCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/test/CobblerSystemCreateCommandTest.java
  java/code/src/org/cobbler/CobblerConnection.java
  java/code/src/org/cobbler/CobblerObject.java
  java/code/src/org/cobbler/test/MockConnection.java
  java/spacewalk-java.changes.ycedres.fix-xml-rpc-createSystemRecord
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui, cobbler

#7861 Fix conversion to string if branchid is numeric in PXEEvent
  java/code/src/com/suse/manager/saltboot/PXEEvent.java
  java/code/src/com/suse/manager/saltboot/test/PXEEventTest.java
  java/spacewalk-java.changes.oholecek.pxe_event_branchid_fix
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7914 Move scripts added after tagging to next version
  schema/spacewalk/susemanager-schema.changes.witek.fix_4.4.7_migration
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/001-improve-ubuntu-errata-processing.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/002-add-serverneededcache-index.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/203-add-changelogdata-index.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/300-add-qrtz-missing-table.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#7927 Followup to move all package files from /srv for Enterprise Linux compatibililty
  branding/spacewalk-branding.changes.sbluhm.refactoring_srv
  branding/spacewalk-branding.spec
  java/build.xml
  java/spacewalk-java.changes.sbluhm.refactoring_srv
  java/spacewalk-java.spec
  python/spacewalk/spacewalk-backend.changes.sbluhm.refactoring_srv
  python/spacewalk/spacewalk-backend.spec
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.sbluhm.refactoring_srv
  spacewalk/config/spacewalk-config.changes.sbluhm.refactoring_srv
  spacewalk/config/spacewalk-config.spec
  susemanager-branding-oss/susemanager-branding-oss.changes.sbluhm.refactoring_srv
  susemanager-branding-oss/susemanager-branding-oss.spec
  susemanager-utils/susemanager-sls/susemanager-sls.changes.sbluhm.refactoring_srv
  susemanager-utils/susemanager-sls/susemanager-sls.spec
  susemanager/susemanager.changes.sbluhm.refactoring_srv
  susemanager/susemanager.spec
  web/spacewalk-web.changes.sbluhm.refactoring_srv
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, ui, javascript_lint

#7947 QE: Fix system name for virtualization tests, as VM is not twopence node
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7953 QE: Remove `maintenance_json_generator.py`
  testsuite/ext-tools/maintenance_json_generator.py
Labels: testing, ruby_rubocop

#7950 Bug 1216657 - Playbook name shown as `{name}` instead of actual name
  web/html/src/manager/minion/ansible/schedule-playbook.tsx
  web/spacewalk-web.changes.mikeletux.22929
Labels: ui, javascript_lint, needs-translation

#7955 Fix get_system_name for unknown systems
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7925 QE: Fix ISO mounting step and add SHA256 checksum verification
  testsuite/features/build_validation/add_non_MU_repositories/centos7_minion_add_iso.feature
  testsuite/features/build_validation/add_non_MU_repositories/rocky8_minion_add_iso_and_build_clm.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/file_management.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#7956 QE: Move files related functions to their own Ruby file
  testsuite/features/support/commonlib.rb
  testsuite/features/support/file_management.rb
Labels: testing, ruby_rubocop, test-framework

#7984 QE: Move the disable of Scheduled reposync task
  testsuite/run_sets/build_validation/build_validation_reposync.yml
  testsuite/run_sets/build_validation/build_validation_wait_for_product_reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop

#7987 Prevent installation of packages with same name in a single action
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/spacewalk-java.changes.mbussolotto.name_id
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7992 Use exact parent channel names
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#7995 Add support for z/VM guests
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/sle15sp3s390_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3s390_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/run_sets/build_validation/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#7991 PAYG better visible feedback when the server is not compliant
  java/code/src/com/redhat/rhn/domain/notification/NotificationMessage.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationType.java
  java/code/src/com/redhat/rhn/domain/notification/types/PaygNotCompliantWarning.java
  java/code/src/com/redhat/rhn/frontend/action/YourRhnAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/template/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/taskomatic/task/DailySummary.java
  java/spacewalk-java.changes.mikeletux.warning-message-payg-non-compliant
  web/html/src/manager/notifications/notification-messages.tsx
  web/spacewalk-web.changes.mikeletux.23079
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, data-model, old-ui, needs-translation

#7796 Fix validation of lists with empty defaults in formulas (bsc#1216555)
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/redhat/rhn/manager/formula/test/dhcpd-formula-data.json
  java/code/src/com/redhat/rhn/manager/formula/test/dhcpd-formula-form.json
  java/spacewalk-java.changes.cbbayburt.bsc1216555
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7852 Raspberry Pi OS 12 support
  schema/spacewalk/common/data/rhnChannelArch.sql
  schema/spacewalk/susemanager-schema.changes.raul.raspbian
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/120-armhf.sql
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.raul.raspbian
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.raul.raspbian
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.raul.raspbian
  utils/spacewalk-common-channels
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes.raul.raspbian
Labels: python3, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, needs-translation
