Repository uyuni-project/uyuni, pull requests merged in 2023-12, with the labels that each got.

#8001 DB upgrade fix from 4.3: rhnTaskQueue now has an id
  schema/spacewalk/susemanager-schema.changes.cbosdonnat.43-upgrade-fix
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/003-system_checkin_threshold.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#7814 Fix filter ID comparison when attaching filters to a CLM project (bsc#1215949)
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/FilterApiController.java
  java/spacewalk-java.changes.cbbayburt.bsc1215949
Labels: java, java_lint_checkstyle, java_pgsql_tests, content-management

#7856 QE: Bump up Rubocop version and fix offenses
  .github/workflows/rubocop.yml
  testsuite/.rubocop.yml
  testsuite/.rubocop_todo.yml
  testsuite/Gemfile
  testsuite/Rakefile
  testsuite/ext-tools/collect_and_tag_flaky_tests.rb
  testsuite/ext-tools/maintenance_crawler.rb
  testsuite/features/reposync/srv_sync_fake_channels.feature
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/cobbler_steps.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
  testsuite/features/step_definitions/datepicker_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/file_management_steps.rb
  testsuite/features/step_definitions/lock_packages_on_client.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/security_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
  testsuite/features/step_definitions/vm_steps.rb
  testsuite/features/support/api_test.rb
  testsuite/features/support/cobbler_test.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/file_management.rb
  testsuite/features/support/http_client.rb
  testsuite/features/support/kubernetes.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/namespaces/activationkey.rb
  testsuite/features/support/namespaces/configchannel.rb
  testsuite/features/support/namespaces/image.rb
  testsuite/features/support/namespaces/kickstart.rb
  testsuite/features/support/namespaces/system.rb
  testsuite/features/support/pretty_formatter.rb
  testsuite/features/support/retail.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/support/xmlrpc_client.rb
Labels: testing, ruby_rubocop, test-framework

#8004 CI: retry ivy build if it fails
  testsuite/podman_runner/09_build_server_code.sh
Labels: testing, ruby_rubocop

#8010 uyunictl has been renamed into mgrctl
  containers/doc/README.md
  java/manager-build.xml
  testsuite/features/support/lavanda.rb
  testsuite/features/support/twopence_init.rb
Labels: java, java_lint_checkstyle, java_pgsql_tests, testing, ruby_rubocop, test-framework

#7996 Address sonar reliability bug
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationSystemDataAcquisitor.java
  java/spacewalk-java.changes.rjpmestre.address-sonar-reliability-bug-scc-system-registration-system-data-acquisitor
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8015 Partial revert of 1491df55f68c
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8017 We do build tests on SLE 15 SP4 even on Uyuni branch
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
Labels: secondary-features, testing, ruby_rubocop

#8019 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/template/StringResource_sk.xml
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8021 Install tftpboot for SLES 15 SP4 on all products
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8023 Fix unit test - remove duplicate packages just during installation
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/spacewalk-java.changes.mbussolotto.dup
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7958 Removed unused and deprecated/removed platform.dist import
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.sbluhm.removedist
  client/rhel/spacewalk-client-tools/src/up2date_client/up2dateErrors.py
Labels: python3, needs-translation

#7905 Improved the paginated queries for syncing the reporting database
  java/code/src/com/redhat/rhn/common/db/datasource/xml/ChannelReport_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/GeneralReport_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/ScapReport_queries.xml
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemReport_queries.xml
  java/code/src/com/redhat/rhn/taskomatic/task/ReportDBHelper.java
  java/code/src/com/redhat/rhn/taskomatic/task/ReportDbUpdateTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/ReportDbUpdateTaskTest.java
  java/spacewalk-java.changes.mackdk.improve-pagination-reportdb
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8035 improve PAYG connection setup
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygUpdateHostsTask.java
  java/spacewalk-java.changes.mc.Manager-4.3-payg-connection-improvments
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8014 QE: fix uptime validation test
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6573 Bash completion for spacewalk tools
  susemanager/bash-completion/Makefile
  susemanager/bash-completion/README.md
  susemanager/bash-completion/completions/_common.bash
  susemanager/bash-completion/completions/mgr-create-bootstrap-repo.bash
  susemanager/bash-completion/completions/mgr-sync.bash
  susemanager/bash-completion/completions/spacewalk-common-channels.bash
  susemanager/bash-completion/completions/spacewalk-remove-channel.bash
  susemanager/bash-completion/completions/spacewalk-repo-sync.bash
  susemanager/susemanager.changes.cbbayburt.bash-completion
  susemanager/susemanager.spec
Labels: susemanager_unittests

#8038 Sanitize request URLs for the 404 template (bsc#1216754)
  java/code/src/com/suse/manager/webui/Router.java
  java/spacewalk-java.changes.cbbayburt.bsc1216754
  web/html/src/manager/errors/not-found.tsx
  web/spacewalk-web.changes.cbbayburt.bsc1216754
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, spark-router

#7895 Fix single apostrophe curly interpolation bug, add linting rule to detect it
  web/html/src/.eslintrc.js
  web/html/src/components/package/PackageListActionScheduler.tsx
  web/html/src/eslint-local-rules/index.js
  web/html/src/eslint-local-rules/intl-apostrophe-curly.js
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/images/image-view-overview.tsx
  web/html/src/manager/images/image-view.tsx
  web/html/src/manager/maintenance/edit/calendar-edit.tsx
  web/html/src/manager/state/highstate.tsx
Labels: ui, javascript_lint, needs-translation

#7778 Added new subscription-matcher message
  web/html/src/manager/audit/subscription-matching/subscription-matching-messages.tsx
  web/spacewalk-web.changes.mackdk.add-new-subscription-matcher-message
Labels: ui, javascript_lint, needs-translation

#7701 Drop Select2
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/schedule-options.jspf
  java/spacewalk-java.changes.eth.select2
  testsuite/features/reposync/reference_srv_sync_products_extra.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/srv_dist_channel_mapping.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  web/html/javascript/schedule-options.js
  web/html/src/branding/css/base/visualization.less
  web/html/src/branding/css/susemanager/components/inputs.less
  web/html/src/build/webpack.config.js
  web/html/src/components/action-schedule.tsx
  web/html/src/components/combobox.tsx
  web/html/src/components/input/Form.tsx
  web/html/src/components/picker/recurring-event-picker.tsx
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/index.ts
  web/html/src/manager/maintenance/edit/schedule-edit.tsx
  web/html/src/manager/minion/ansible/schedule-playbook.tsx
  web/html/src/manager/notifications/notification-messages.tsx
  web/html/src/manager/schedule-options/action-chain-picker.renderer.tsx
  web/html/src/manager/schedule-options/action-chain-picker.tsx
  web/html/src/manager/schedule-options/index.ts
  web/html/src/manager/visualization/data-tree.ts
  web/html/src/manager/visualization/hierarchy.tsx
  web/html/src/manager/visualization/ui/components.ts
  web/html/src/package.json
  web/html/src/styleguide/template.js
  web/html/src/utils/datetime/localizedMoment.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.select2
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, secondary-features, testing, ruby_rubocop, webapp, test-framework, needs-translation

#8043 Remove duplicates and reorder containers module
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8046 Add changelogs after makefiles cleanup
  projects/ssl-cert-check/spacewalk-ssl-cert-check.changes.cbosdonnat.cleanup
  proxy/installer/spacewalk-proxy-installer.changes.cbosdonnat.cleanup
  proxy/proxy-docs/spacewalk-proxy-docs.changes.cbosdonnat.cleanup
  proxy/proxy-html/spacewalk-proxy-html.changes.cbosdonnat.cleanup
  proxy/proxy/spacewalk-proxy.changes.cbosdonnat.cleanup
  schema/reportdb/uyuni-reportdb-schema.changes.cbosdonnat.cleanup
Labels: proxy

#8045 Revert adding unique index for changelogdata table
  schema/spacewalk/common/tables/rhnPackageChangeLogData.sql
  schema/spacewalk/susemanager-schema.changes.witek.fix_4.4.7_migration
  schema/spacewalk/susemanager-schema.changes.witek.revert-changelogdata-index
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/203-add-changelogdata-index.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.8-to-susemanager-schema-4.4.9/204-revert-changelogdata-index.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8051 Bump version in web/conf/rhn_web.conf and add missing migration paths
  schema/reportdb/upgrade/uyuni-reportdb-schema-4.4.5-to-uyuni-reportdb-schema-4.4.6/.gitkeep
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.raul.update_rhnwebversion_check_migrationpaths
Labels: ui, javascript_lint, needs-translation

#8054 Revert PR 8042
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/reference_srv_check_reposync.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_recurring_action.feature
  testsuite/features/secondary/proxy_as_pod_basic_tests.feature
  testsuite/features/support/constants.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#8058 QE: Improve collect and tag
  testsuite/ext-tools/collect_and_tag_flaky_tests.rb
Labels: merge-candidate, testing, ruby_rubocop

#8061 Improve payg detection
  susemanager-utils/susemanager-sls/salt/packages/init.sls
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mc.Manager-4.3-improve-payg-detection
Labels: merge-candidate

#8050 monitor the salt queue handling the results
  java/code/src/com/suse/manager/metrics/PrometheusExporter.java
  java/code/src/com/suse/manager/metrics/ThreadPoolListCollector.java
  java/code/src/com/suse/manager/reactor/PGEventStream.java
  java/spacewalk-java.changes.mc.monitor-salt_queue
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8068 Fix missing action chain schedule initial value
  web/html/src/manager/schedule-options/action-chain-picker.tsx
  web/spacewalk-web.changes.eth.select-interop
Labels: ui, javascript_lint

#8026 Add option to disable remote commands from web UI
  java/buildconf/test/rhn.conf.postgresql-example
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/suse/manager/webui/controllers/MinionController.java
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/webapp/WEB-INF/nav/ssm.xml
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/code/webapp/WEB-INF/struts-config.xml
  java/conf/rhn_java.conf
  java/spacewalk-java.changes.parlt.remote-command-restriction
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, xmlrpc, old-ui

#8073 fix exception when removing a debian package (bsc#1216781)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/domain/rhnpackage/PackageBreaks.java
  java/code/src/com/redhat/rhn/domain/rhnpackage/PackageSupplements.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
  java/spacewalk-java.changes.mc.Manager-4.3-fix-removing-deb-packages
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#8072 QE: Try a more fine grain search when looking for a system
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8066 spacecmd: use localhost without ssl when running on the server
  spacecmd/spacecmd.changes.cbosdonnat.localhost-nossl
  spacecmd/src/bin/spacecmd
Labels: python3

#8088 QE: Workaround to navigate to the KVM Host, as the API call fails due to SSL issues
  testsuite/features/secondary/srv_rename_hostname.feature
Labels: secondary-features, testing, ruby_rubocop

#8067 backport BV stability improvement
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features
