Repository uyuni-project/uyuni, pull requests merged in 2023-10, with the labels that each got.

#7590 Fix owner after smdba execution in the DB migration script (bsc#1214746)
  susemanager/bin/pg-migrate-x-to-y.sh
  susemanager/susemanager.changes.vzhestkov.fix-owner-after-smdba
Labels: susemanager_unittests

#7559 Update SCC REST call to register systems in bulk
  java/code/src/com/suse/scc/SCCSystemId.java
  java/code/src/com/suse/scc/SCCSystemRegistration.java
  java/code/src/com/suse/scc/SCCSystemRegistrationManager.java
  java/code/src/com/suse/scc/client/SCCClient.java
  java/code/src/com/suse/scc/client/SCCFileClient.java
  java/code/src/com/suse/scc/client/SCCWebClient.java
  java/code/src/com/suse/scc/model/SCCOrganizationSystemsUpdateResponse.java
  java/code/src/com/suse/scc/test/SCCSystemRegistrationManagerTest.java
  java/code/src/com/suse/scc/test/SCCSystemRegistrationTest.java
  java/spacewalk-java.changes.rjpmestre.bulk-scc-system-register
Labels: java, java_lint_checkstyle, java_pgsql_tests, ready

#7552 Do not warn about missing Client Tools Channel subscription
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/spacewalk-java.changes.mackdk.remove-warning-in-payg-scenario
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7621 Make navigation steps use 24-hour time, not 12-hour time
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7604 Fix podman sql scripts selection
  testsuite/podman_runner/run_db_migrations.sh
Labels: testing, ruby_rubocop

#7625 Improve datetimepicker time input
  web/html/src/components/datetime/DateTimePicker.test.tsx
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/utils/datetime/localizedMoment.test.ts
  web/html/src/utils/datetime/localizedMoment.ts
  web/spacewalk-web.changes.eth.date-improve
Labels: ui, javascript_lint, needs-translation

#7634 Take user prefered list size into account in systems lists pages
  java/code/src/com/suse/manager/webui/templates/systems/all-list.jade
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
  java/spacewalk-java.changes.cbosdo.page-size
  web/html/src/manager/systems/all-list.renderer.tsx
  web/html/src/manager/systems/all-list.tsx
  web/html/src/manager/systems/virtual-list.renderer.tsx
  web/html/src/manager/systems/virtual-list.tsx
  web/spacewalk-web.changes.cbosdo.page-size
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webui-templates, needs-translation

#7503 Simplify and modernize password generation logic
  web/html/src/utils/functions.ts
  web/spacewalk-web.changes.eth.update-generator
Labels: ui, javascript_lint

#7623 add oes2023.4 support (bsc#1215514)
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/susemanager-sync-data.changes.kwalter.bsc1215514
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.kwalter.bsc1215514
Labels: python3, susemanager_unittests, needs-translation

#7598 Make `Loggerhead` log include error logs from third-party code
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/spacewalk-java.changes.eth.network-debug
  web/html/src/build/webpack.config.js
  web/html/src/core/log/loggerhead.ts
  web/spacewalk-web.changes.eth.network-debug
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#7572 Sync GPG properties on each build in CLM (bsc#1213689)
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/spacewalk-java.changes.cbbayburt.bsc1213689
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7519 Change list endpoints in saltkey namespace to accept GET requests instead of POST (bsc#1214463)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/saltkey/SaltKeyHandler.java
  java/spacewalk-java.changes.cbbayburt.bsc1214463
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#7608 Respect user email preferences when sending 'user creation' emails (bsc#1214553)
  java/code/src/com/redhat/rhn/frontend/events/NewUserAction.java
  java/code/src/com/redhat/rhn/frontend/events/NewUserEvent.java
  java/code/src/com/redhat/rhn/manager/user/CreateUserCommand.java
  java/spacewalk-java.changes.cbbayburt.bsc1214553
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#7415 Token cleanup process improvements (bsc#1213376)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Task_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/AccessToken.java
  java/code/src/com/redhat/rhn/domain/channel/AccessTokenChangeException.java
  java/code/src/com/redhat/rhn/domain/channel/AccessTokenFactory.java
  java/code/src/com/redhat/rhn/domain/channel/test/AccessTokenFactoryTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/TaskConstants.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/manager/webui/controllers/test/DownloadControllerTest.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/spacewalk-java.changes.rmateus.m43_token_clean_up
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#7605 Fix SLES 15 for SAP entries in mgr-create-bootstrap-repo (bsc#1215120)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.rjpmestre.bsc1215120
Labels: python3, susemanager_unittests

#7655 fix token check of image build repositories
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7657 fix notification messages email content
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/spacewalk-java.changes.mc.Manager-4.3-fix-notification-email-content
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#7658 Skip sync SLE channels in github actions
  testsuite/features/core/srv_create_activationkey.feature
  testsuite/features/init_clients/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_sync_fake_channels.feature
Labels: core-features, testing, ruby_rubocop

#6995 Fix problematic regular expressions reported by SonarCloud
  java/code/src/com/redhat/rhn/common/security/acl/Acl.java
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartData.java
  java/code/src/com/redhat/rhn/frontend/action/CSVDownloadAction.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/PowerManagementAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/powermanagement/PowerManagementHandler.java
  java/code/src/com/redhat/rhn/manager/configuration/ConfigurationValidation.java
  java/code/src/com/suse/manager/reactor/utils/RhelUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, salt-actions-implementations, data-model, xmlrpc, old-ui

#7662 Update Webpack
  web/html/src/package.json
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.webpack-bump
Labels: ui, javascript_lint

#7647 testsuite: update reposync to leap 15.5
  testsuite/features/reposync/reference_srv_check_reposync.feature
  testsuite/features/reposync/reference_srv_sync_products_extra.feature
Labels: testing, ruby_rubocop

#7669 Handle spaces in /ks/dist/ file names bsc#1213680
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/spacewalk-java.changes.nadvornik.filespaces
  spacewalk/config/etc/httpd/conf.d/zz-spacewalk-www.conf
  spacewalk/config/spacewalk-config.changes.nadvornik.filespaces
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#7676 Fix the hostname-rename test
  testsuite/features/secondary/srv_rename_hostname.feature
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7680 QE: Fix `update_ca()` for hostname rename tests
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7683 Remove uyuni-build-keys dependency from susemanager rpm
  susemanager/susemanager.changes.mbussolotto.remove_uyuni-build-keys
  susemanager/susemanager.spec
Labels: susemanager_unittests

#7688 fix opensuse channel names
  testsuite/features/reposync/reference_srv_check_reposync.feature
Labels: testing, ruby_rubocop

#7687 Fix alignement, reenable disabled code
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#7692 limit command output to important lines
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7694 backport sync public cloud module
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#7695 backport catch request_timeout
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#7696 Move server rename to finishing stage
  testsuite/run_sets/finishing.yml
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, testing, ruby_rubocop

#7703 Add missing button classes
  java/code/webapp/WEB-INF/pages/kickstart/ssm/schedule.jsp
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#7705 QE: fix SLE Micro client tools sync in Uyuni BV
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#7706 Add missing constants for Debian 12
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#7709 Fix recurring action test
  testsuite/features/secondary/min_recurring_action.feature
Labels: secondary-features, testing, ruby_rubocop

#7712 QE: Remove Uyuni client tools sync from reference reposync
  testsuite/features/reposync/reference_srv_sync_products_extra.feature
Labels: testing, ruby_rubocop

#7711 Fix token validation for shared (public) child channels
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/spacewalk-java.changes.parlt.Manager-4.3-fix-child-channel-sharing
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#7713 Update tomcat jars to version greater than 9.0.75
  java/buildconf/ivy/ivy-suse.xml
  java/spacewalk-java.changes.mbussolotto.tomcat_rev
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7672 fix FQDN machine name mapping on proxy configuration
  java/code/src/com/redhat/rhn/common/util/FileUtils.java
  java/code/src/com/suse/manager/ssl/SSLCertData.java
  java/code/src/com/suse/manager/ssl/test/SSLCertDataTest.java
  java/code/src/com/suse/manager/webui/controllers/ProxyController.java
  java/code/src/com/suse/manager/webui/utils/gson/ProxyContainerConfigJson.java
  java/spacewalk-java.changes.rjpmestre.fix_proxy_config_fqdn_mapping
  web/html/src/manager/proxy/container-config.tsx
  web/spacewalk-web.changes.rjpmestre.fix_proxy_config_fqdn_mapping
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#7728 Add changelogs for translations in spacewalk-client-tools and spacecmd
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.raul.changelogs_spacewalk-client-tools_spacecmd
  spacecmd/spacecmd.changes.raul.changelogs_spacewalk-client-tools_spacecmd
Labels: python3, needs-translation

#7733 Fix Debian 12 bootstrap test
  testsuite/features/build_validation/init_clients/debian12_minion.feature
  testsuite/features/build_validation/init_clients/debian12_ssh_minion.feature
Labels: testing, ruby_rubocop, build-validation-features

#7748 Test patches on all clients excepted Debian
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#7750 Enable repository to have glibc-locale available
  testsuite/features/secondary/min_salt_formulas.feature
Labels: secondary-features, testing, ruby_rubocop

#7607 add index on rhnserverneededcache server/errata id to speed up certain queries (bsc#1211912)
  schema/spacewalk/common/tables/rhnServerNeededCache.sql
  schema/spacewalk/susemanager-schema.changes.kwalter.serverneededcache-index
  schema/spacewalk/upgrade/susemanager-schema-4.4.6-to-susemanager-schema-4.4.7/002-add-serverneededcache-index.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#7740 QE: Fix GH validation core stage
  testsuite/features/reposync/srv_create_fake_channels.feature
  testsuite/features/reposync/srv_create_fake_repositories.feature
  testsuite/features/reposync/srv_sync_fake_channels.feature
  testsuite/podman_runner/11_run_core_tests.sh
  testsuite/podman_runner/16_run_init_clients_tests.sh
  testsuite/podman_runner/17_run_secondary_tests.sh
  testsuite/podman_runner/18_run_secondary_parallelizable_tests.sh
  testsuite/podman_runner/18_run_secondary_parallelizable_tests_subset.sh
  testsuite/run_sets/github_validation/github_validation_core.yml
Labels: ci-pipelines, testing, ruby_rubocop

#7758 QE: Fix the channel to check on the CVE Audit test
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/step_definitions/api_common.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7759 We check the restart of the host, not of the SUMA server
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7736 QE: Fixup for server hostname rename test
  testsuite/features/secondary/srv_rename_hostname.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/commonlib.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7754 QE: Improve KVM test
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7756 QE: Fix switch from sha256 to sha512
  testsuite/features/secondary/min_check_patches_install.feature
  testsuite/features/secondary/srv_check_channels_page.feature
Labels: secondary-features, testing, ruby_rubocop

#7531 Extend unique index for rhnpackagechangelogdata table
  python/spacewalk/satellite_tools/reposync.py
  python/spacewalk/server/importlib/backend.py
  python/spacewalk/server/importlib/packageImport.py
  python/spacewalk/spacewalk-backend.changes.witek.add-unique-index
  schema/spacewalk/common/tables/rhnPackageChangeLogData.sql
  schema/spacewalk/postgres/start.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.6-to-susemanager-schema-4.4.7/203-add-changelogdata-index.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#7761 A reboot is not needed to deploy a file in /etc on a SLE micro
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#7763 Reboot SLE micros through the web UI
  testsuite/features/build_validation/init_clients/slemicro51_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_minion.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6890 Adding CLM collection to spacewalk-debug
  python/spacewalk/satellite_tools/spacewalk-debug
  python/spacewalk/spacewalk-backend.changes.slsnow.spacewalk-debug-clm
Labels: community

#7716 Fix "system.provisionSystem" xmlrpc endpoint to calculate kickstart host properly (bsc#1215209)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/RhnXmlRpcServer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/XmlRpcServlet.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/spacewalk-java.changes.meaksh.Manager-4.3-fix-xmlrpc-provision-server-endpoint
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#7774 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#7775 Fix creating unique index
  schema/spacewalk/common/tables/rhnPackageChangeLogData.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.6-to-susemanager-schema-4.4.7/203-add-changelogdata-index.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#7780 Fix changelog message and remove wrong file
  java/spacewalk-java.changes.meaksh.Manager-4.3-fix-xmlrpc-provision-server-endpoint
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7779 Bing back dropped use for proxy method
  java/code/src/com/redhat/rhn/common/util/http/HttpClientAdapter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7783 Install/remove the correct tftp package depending on uyuni / susemanag…
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
Labels: secondary-features, testing, ruby_rubocop

#7785 Update enabled software channels number
  testsuite/features/secondary/min_change_software_channel.feature
Labels: secondary-features, testing, ruby_rubocop

#7787 Use the full debian base channel name to avoid Ambiguous match
  testsuite/features/secondary/srv_dist_channel_mapping.feature
Labels: secondary-features, testing, ruby_rubocop

#7790 Add changelog entry for susemanager-schema package
  schema/spacewalk/susemanager-schema.changes.witek.add_unique_index
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#7791 do not assign Fake-RPM-Terminal-Channel to activation key when channel was not created
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#7615 Update package source to meet tito requirement
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.stefan.titofix
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.spec
  java/spacewalk-java.changes.stefan.titofix
  java/spacewalk-java.spec
  projects/ssl-cert-check/spacewalk-ssl-cert-check.changes.stefan.titofix
  projects/ssl-cert-check/spacewalk-ssl-cert-check.spec
  python/spacewalk/spacewalk-backend.changes.stefan.titofix
  python/spacewalk/spacewalk-backend.spec
  schema/reportdb/uyuni-reportdb-schema.changes.stefan.titofix
  schema/reportdb/uyuni-reportdb-schema.spec
  schema/spacewalk/susemanager-schema.changes.stefan.titofix
  schema/spacewalk/susemanager-schema.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#7648 Testsuite: update test containers to leap 15.5
  testsuite/dockerfiles/controller-dev/Dockerfile
  testsuite/dockerfiles/opensuse-minion/Dockerfile
  testsuite/dockerfiles/server-all-in-one/Dockerfile
Labels: testing, ruby_rubocop

#7614 Disallow Google GSON 2.10 or higher due to removed methods
  java/spacewalk-java.changes.sbluhm.googlegson
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7749 CI: also sync deb repos
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
  testsuite/dockerfiles/server-all-in-one-dev/minima.yaml
Labels: testing, ruby_rubocop
