Repository uyuni-project/uyuni, pull requests merged in 2023-01, with the labels that each got.

#6143 Uyuni sle micro client tools
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: susemanager_unittests

#6415 QE: Wait until the custom channel has been synchronized
  testsuite/features/init_clients/srv_check_reposync.feature
Labels: testing, ruby_rubocop

#6222 Add metrics about managed systems
  java/buildconf/build-props.xml
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/code/src/com/redhat/rhn/common/hibernate/AbstractConnectionManager.java
  java/code/src/com/redhat/rhn/common/hibernate/ConnectionManager.java
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/metrics/PrometheusExporter.java
  java/code/src/com/suse/manager/metrics/SystemsCollector.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6416 Fix ise activation key create
  java/code/src/com/redhat/rhn/frontend/action/token/ActivationKeyDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/spacewalk-java.changes
  testsuite/features/core/srv_create_activationkey.feature
  testsuite/features/init_clients/allcli_update_activationkeys.feature
  testsuite/features/init_clients/min_virthost.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/srv_manage_activationkey.feature
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.tsx
  web/html/src/manager/minion/ansible/ansible-control-node.test.tsx
  web/html/src/manager/minion/ansible/ansible-control-node.tsx
  web/html/src/manager/minion/ansible/ansible-path-content.tsx
  web/html/src/manager/systems/activation-key/activation-key-channels.tsx
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, core-features, secondary-features, testing, ruby_rubocop, old-ui, needs-translation

#6419 use visit with relative URL to stay logged-in
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6421 Remove last 4.1 leftovers
  testsuite/README.md
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_41/config.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_41/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_41/images.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_41/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_41/config.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_41/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_41/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_41/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_41/config.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_41/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_41/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_41/root/etc/systemd/system/image-deployed.service
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/step_definitions/retail_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6423 QE: Add logs to SCC product listing command
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6395 Remove SLES15SP0
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/sle15_minion.feature
  testsuite/features/build_validation/init_clients/sle15_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6428 QE: Add step to clean search index before doing first search
  testsuite/features/secondary/srv_advanced_search.feature
Labels: secondary-features, testing, ruby_rubocop

#6411 Fix name for "autoinstall" snippets after Cobbler 3.3.3
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartFormatter.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6433 re-try sanity check
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6321 Rename monitoring enablement
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/spacewalk-java.changes
  schema/spacewalk/common/data/rhnServerGroupType.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.2-to-susemanager-schema-4.4.3/100-rename_monitoring_entitlement.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, old-ui, needs-translation

#6437 Revert "QE: Temporarily disable Rocky 8 reposync"
  testsuite/run_sets/reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6426 Add activation key in feature
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_salt_minions_page.feature
Labels: secondary-features, testing, ruby_rubocop

#6240 Allow using a container image from a different registry path
  containers/proxy-helm/proxy-helm.changes
  containers/proxy-helm/templates/_helpers.tpl
  containers/proxy-helm/templates/deployment.yaml
  containers/proxy-helm/values.yaml
  containers/proxy-systemd-services/proxy.sh
  containers/proxy-systemd-services/uyuni-proxy-httpd.service
  containers/proxy-systemd-services/uyuni-proxy-salt-broker.service
  containers/proxy-systemd-services/uyuni-proxy-services.config
  containers/proxy-systemd-services/uyuni-proxy-squid.service
  containers/proxy-systemd-services/uyuni-proxy-ssh.service
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.changes
  containers/proxy-systemd-services/uyuni-proxy-tftpd.service
Labels: containers

#6379 Fix CVE Audit ignoring errata in parent channels if patch in successor exists
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/audit/test/CVEAuditManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6425 Trigger package refresh when a new live-patch is installed (bsc#1206249)
  java/code/src/com/suse/manager/reactor/messaging/test/pkg_install.live_patch.json
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/utils/test/SaltUtilsTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#5362 Testsuite: fixes for retail test
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: core-features, secondary-features, testing, ruby_rubocop

#6422 New test suite for testing a SLE update: cleanup
  testsuite/run_sets/sle-updates.yml
  testsuite/run_sets/virtualization.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6444 Remove python3-simplejson dependency
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
Labels: python3

#6446 Finish removing sle15sp0
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6443 Testsuite: Add a check for enabled channels
  testsuite/features/init_clients/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#6440 Fix modular channel check during system update via XMLRPC (bsc#1206613)
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui

#6442 Testsuite: Cleanup content lifecycle feature to remove created channels
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: secondary-features, testing, ruby_rubocop

#6449 QE: Increase timeout for downloading ISOs
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6451 QE: Update copyright headers and add missing one
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/core/proxy_branch_network.feature
  testsuite/features/core/srv_create_activationkey.feature
  testsuite/features/init_clients/allcli_update_activationkeys.feature
  testsuite/features/init_clients/min_virthost.feature
  testsuite/features/init_clients/srv_check_reposync.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_reactivation.feature
  testsuite/features/secondary/min_salt_mgrcompat_state.feature
  testsuite/features/secondary/min_salt_minions_page.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/secondary/srv_advanced_search.feature
  testsuite/features/secondary/srv_manage_activationkey.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/security_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
Labels: core-features, secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#6452 Add python-dateutil dependency
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.spec
Labels: python3

#6435 Testsuite: Deprecate injected repos in features
  testsuite/features/secondary/min_ansible_control_node.feature
  testsuite/features/secondary/min_deblike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
  testsuite/features/secondary/minssh_ansible_control_node.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6457 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/frontend/strings/template/StringResource_sk.xml
  python/spacewalk/po/mk.po
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#6458 QE: Rename openSCAP test results
  testsuite/features/secondary/min_deblike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#6454 Improve logs when _mgractionchains.conf and *sls are missing
  java/code/src/com/suse/manager/webui/services/SaltActionChainGeneratorService.java
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/src/modules/mgractionchains.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6453 Add Doc headers in all the Class and Module methods
  testsuite/features/support/api_test.rb
  testsuite/features/support/cobbler_test.rb
  testsuite/features/support/custom_formatter.rb
  testsuite/features/support/http_client.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/namespaces/actionchain.rb
  testsuite/features/support/namespaces/activationkey.rb
  testsuite/features/support/namespaces/api.rb
  testsuite/features/support/namespaces/audit.rb
  testsuite/features/support/namespaces/channel.rb
  testsuite/features/support/namespaces/configchannel.rb
  testsuite/features/support/namespaces/image.rb
  testsuite/features/support/namespaces/kickstart.rb
  testsuite/features/support/namespaces/schedule.rb
  testsuite/features/support/namespaces/system.rb
  testsuite/features/support/namespaces/user.rb
  testsuite/features/support/pretty_formatter.rb
  testsuite/features/support/xmlrpc_client.rb
Labels: testing, ruby_rubocop, test-framework

#6470 Testsuite: CLP cleanup fix
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: secondary-features, testing, ruby_rubocop

#6462 detect if RHEL target is really connected to the CDN (bsc#1206861)
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes
Labels: susemanager_unittests

#6469 Add `mgr_server_is_uyuni` minion pillar item
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/test/MinionPillarManagerTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6455 QE: Add an error detection on the product catalog page
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6468 Remove unused private fields
  java/code/src/com/redhat/rhn/GlobalInstanceHolder.java
  java/code/src/com/redhat/rhn/common/db/ResetPasswordFactory.java
  java/code/src/com/redhat/rhn/common/messaging/MessageQueue.java
  java/code/src/com/redhat/rhn/common/util/RecurringEventPicker.java
  java/code/src/com/redhat/rhn/domain/action/salt/build/ImageBuildActionFormatter.java
  java/code/src/com/redhat/rhn/domain/action/salt/inspect/ImageInspectActionFormatter.java
  java/code/src/com/redhat/rhn/domain/common/ManagerInfoFactory.java
  java/code/src/com/redhat/rhn/domain/common/SatConfigFactory.java
  java/code/src/com/redhat/rhn/domain/product/SUSEProductSet.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/AddRedHatErrataAction.java
  java/code/src/com/redhat/rhn/frontend/taglibs/FormatDateTag.java
  java/code/src/com/redhat/rhn/frontend/taglibs/list/DataSetManipulator.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/org/OrgHandler.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/errata/cache/ErrataCacheManager.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/errata/ErrataQueueWorker.java
  java/code/src/com/redhat/rhn/testing/RhnBaseTestCase.java
  java/code/src/com/redhat/rhn/webapp/RhnServletListener.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/SystemIdGenerateEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/MinionActionCleanupTest.java
  java/code/src/com/suse/manager/webui/controllers/maintenance/MaintenanceScheduleController.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/utils/MinionActionUtils.java
  java/code/src/com/suse/manager/webui/utils/test/MinionActionUtilsTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui

#6482 QE: Add small checker to CVE audit scenario
  testsuite/features/secondary/min_cve_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#6487 Add Oracle and Alma in BV (#20010)
  testsuite/features/build_validation/add_custom_repositories/add_alma9_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_oracle9_repositories.feature
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/alma9_minion.feature
  testsuite/features/build_validation/init_clients/alma9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/oracle9_minion.feature
  testsuite/features/build_validation/init_clients/oracle9_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#6456 QE: Add summary headers to step definition files
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/datepicker_steps.rb
  testsuite/features/step_definitions/docker_steps.rb
  testsuite/features/step_definitions/lock_packages_on_client.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/step_definitions/security_steps.rb
  testsuite/features/step_definitions/smdba_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6484 Fix reconnection of postgres event stream
  java/code/src/com/suse/manager/reactor/PGEventStream.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6495 spacewalk-commonn-channels for SUSE Liberty Linux
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/support/constants.rb
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes
Labels: testing, ruby_rubocop, test-framework

#6492 Include 'gpg' states and files as "ssh_extra_filerefs" to avoid issues on action chains for SSH minions
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6481 Prevent api parameters parsing as dates if not in ISO-8601 (bsc#1205759)
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/utils.py
Labels: python3

#6501 QE: Add further tests to grafana on BV
  testsuite/features/build_validation/init_clients/monitoring_server.feature
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, grafana, test-framework, build-validation-features

#6491 QE: Retracted patches: Remove Clear button click
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/allcli_config_channel.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/min_baremetal_discovery.feature
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/secondary/min_move_from_and_to_proxy.feature
  testsuite/features/secondary/min_retracted_patches.feature
  testsuite/features/secondary/min_salt_formulas.feature
  testsuite/features/secondary/srv_clone_channel_npn.feature
  testsuite/features/secondary/srv_group_union_intersection.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_power_management_redfish.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6485 Add 'none' matcher for CLM module filters (bsc#1206817)
  java/buildconf/LICENSE.txt
  java/code/src/com/redhat/rhn/domain/contentmgmt/FilterCriteria.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModularityDisabledException.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ModularDependencyValidator.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ContentValidatorTestBase.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/test/ModularDependencyValidatorTest.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/contentmgmt/ContentManagementHandler.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolver.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/FilterApiController.java
  java/spacewalk-java.changes
  schema/spacewalk/common/tables/suseContentFilter.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.3-to-susemanager-schema-4.4.4/100-suseContentFilter-null-values.sql
  web/html/src/manager/content-management/list-filters/appstreams/appstreams.test.tsx
  web/html/src/manager/content-management/list-filters/appstreams/appstreams.tsx
  web/html/src/manager/content-management/list-filters/filter-form.tsx
  web/html/src/manager/content-management/shared/business/filters.enum.test.ts
  web/html/src/manager/content-management/shared/business/filters.enum.ts
  web/spacewalk-web.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, content-management, data-model, xmlrpc, old-ui, needs-translation

#6506 Add Alma and Oracle CLM to run_set
  testsuite/run_sets/build_validation_add_common_channels.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6507 Remove @Nonnnull annotations as those don't build at packaging time
  java/code/src/com/redhat/rhn/domain/channel/ReleaseChannelMap.java
  java/code/src/com/redhat/rhn/domain/org/usergroup/ExtGroup.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6508 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_mk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#6471 Use a profile coming from scap-security-guide
  testsuite/features/secondary/min_salt_openscap_audit.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6504 Fix uyuni-proxy shell script not packaged
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.changes
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.spec
  containers/proxy-systemd-services/uyuni-proxy.sh
Labels: containers

#6514 Testsuite: Select 'matcher' value when adding AppStream filters in CLM
  testsuite/features/build_validation/add_custom_repositories/add_rocky8_repositories.feature
  testsuite/features/build_validation/add_custom_repositories/add_rocky9_repositories.feature
  testsuite/features/reposync/srv_add_rocky8_repositories.feature
Labels: testing, ruby_rubocop, build-validation-features

#6523 QE: Add right product name to Grafana dashboards
  testsuite/features/build_validation/init_clients/monitoring_server.feature
Labels: testing, ruby_rubocop, build-validation-features

#6526 QE: Improve hostname/FQDN check in `twopence.rb`
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#6536 action chains: recognize transactional_update.reboot as a reboot action
  java/code/src/com/suse/manager/webui/services/SaltActionChainGeneratorService.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#6510 Fix constants for RHEL 9
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6527 QE: Reduced the timeout in some steps
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6516 If after 3min we still have some corrupted JSON report, we delete it and continue
  testsuite/Rakefile
Labels: testing, ruby_rubocop
