Repository uyuni-project/uyuni, pull requests merged in 2023-09, with the labels that each got.

#7346 Print the command that is running in Setup.pm to ease debugging
  spacewalk/setup/lib/Spacewalk/Setup.pm
  spacewalk/setup/spacewalk-setup.changes.mbussolotto.improve_debug_setup
Labels: server-container-porting

#7362 keep aligned TZ and /etc/localtime
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes.mbussolotto.timezone
Labels: susemanager_unittests, needs-translation, server-container-porting

#7365 testsuite: do not install or remove formula if in container
  testsuite/features/init_clients/proxy_branch_network.feature
  testsuite/features/secondary/allcli_system_group.feature
  testsuite/features/secondary/min_salt_formulas.feature
  testsuite/features/secondary/srv_user_configuration_salt_states.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-suite, test-framework, server-container-porting

#7490 Master Translation update
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#7491 fix X-Instance-Identifier header send when doing a product refresh at Cloud RMT Server
  java/code/src/com/redhat/rhn/taskomatic/task/payg/script/payg_extract_repo_data.py
  java/spacewalk-java.changes.mc.Manager-4.3-fix-instance-identifier-header-payg
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests

#7495 Fix activation keys update
  testsuite/features/init_clients/allcli_update_activationkeys.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7497 Follow our conventions for step names
  testsuite/documentation/cucumber-steps.md
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/secondary/min_project_lotus.feature
  testsuite/features/secondary/srv_change_task_schedule.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/features/secondary/srv_users.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7324 Add missing translation wrappers for Salt formula catalog
  web/html/src/manager/salt/formula-catalog/org-formula-catalog.tsx
  web/spacewalk-web.changes.eth.translate-salt
Labels: ui, javascript_lint, needs-translation

#7492 Log mirror path
  java/code/src/com/redhat/rhn/manager/content/MgrSyncUtils.java
  java/code/src/log4j2.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7501 QE: Create buildhost activation key
  testsuite/features/core/srv_create_activationkey.feature
  testsuite/features/init_clients/allcli_update_activationkeys.feature
  testsuite/features/init_clients/buildhost_bootstrap.feature
Labels: core-features, testing, ruby_rubocop

#7507 Fix recurring state execution not using correct order
  java/code/src/com/redhat/rhn/taskomatic/task/RecurringActionJob.java
  java/spacewalk-java.changes.parlt.fix-recurring-state-ordering
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7505 replace ant tasks kubectl usage by uyunictl
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7516 QE: Update test suite for using Leap 15.4
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_ansible_control_node.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/minssh_ansible_control_node.feature
  testsuite/features/secondary/minssh_bootstrap_api.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_dist_channel_mapping.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/features/secondary/srv_manage_activationkey.feature
  testsuite/features/secondary/srv_task_status_engine.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7520 QE: more test suite adjustment for Leap 15.4
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#7340 remove client_config_update
  spacewalk/certs-tools/Makefile.certs
  spacewalk/certs-tools/client_config_update.py
  spacewalk/certs-tools/mgr-bootstrap.sgml
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.mbussolotto.remove_client_config_update
  spacewalk/certs-tools/spacewalk-certs-tools.spec
  spacewalk/certs-tools/spacewalk-ssh-push-init
Labels: server-container-porting

#7357 Enforce Setup: improve host and FQDN handling
  spacewalk/certs-tools/rhn_bootstrap.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.mbussolotto.read_hostname_from_conf
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/bin/spacewalk-setup-cobbler
  spacewalk/setup/spacewalk-setup.changes.mbussolotto.cobbler_fqdn
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb
  spacewalk/uyuni-setup-reportdb/uyuni-setup-reportdb.changes.mbussolotto.setup_host
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes.mbussolotto.read_hostname
Labels: susemanager_unittests, server-container-porting

#7405 Update dependencies for Leap 15.5
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7471 Update uyuni testsuite features to leap 15.5
  testsuite/features/init_clients/allcli_update_activationkeys.feature
  testsuite/features/init_clients/proxy_register_as_minion_with_gui.feature
  testsuite/features/init_clients/proxy_register_as_minion_with_script.feature
  testsuite/features/profiles/cloud_aws/Docker/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/Dockerfile
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/srv_dist_channel_mapping.feature
  testsuite/features/step_definitions/vm_steps.rb
  testsuite/features/support/constants.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7538 Fix leap_15_5 common_channel in testsuite
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#7544 Add missing changelog for bsc#1204270
  java/spacewalk-java.changes.parlt.ignore-mandatory-channel-results
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7546 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  web/po/sk.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#7548 Migrate testsuite to 15.5
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_activationkey.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
  testsuite/features/secondary/minssh_bootstrap_api.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_dist_channel_mapping.feature
  testsuite/features/secondary/srv_manage_activationkey.feature
Labels: secondary-features, testing, ruby_rubocop

#7550 Fix tests to check for 15.5 and not 15.4
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_dist_channel_mapping.feature
Labels: secondary-features, testing, ruby_rubocop

#7522 Remove all tasks for the processed system in the system update
  java/code/src/com/redhat/rhn/domain/task/TaskFactory.java
  java/code/src/com/redhat/rhn/taskomatic/task/systems/SystemsOverviewUpdateWorker.java
  java/spacewalk-java.changes.cbosdo.system-update-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model, ready

#7512 Notify users when updates are available to the Uyuni server
  java/code/src/com/redhat/rhn/domain/notification/NotificationMessage.java
  java/code/src/com/redhat/rhn/domain/notification/types/NotificationType.java
  java/code/src/com/redhat/rhn/domain/notification/types/UpdateAvailable.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/UpdateAvailableTest.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/taskomatic/task/DailySummary.java
  java/conf/rhn_java.conf
  java/spacewalk-java.changes.mseidl.update-notification
  web/html/src/manager/notifications/notification-messages.tsx
  web/spacewalk-web.changes.mseidl.update-notification
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, data-model, old-ui, needs-translation

#7551 Use call() instead of run() to maintain Python 3.4 compatibility
  java/code/src/com/redhat/rhn/taskomatic/task/payg/script/payg_extract_repo_data.py
  java/spacewalk-java.changes.mackdk.4.3-fix-credential-extraction-sles-12
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests

#7106 Fix label and display error in home page
  java/code/webapp/WEB-INF/includes/header.jsp
  web/html/src/manager/notifications/notifications.tsx
  web/html/src/manager/shared/menu/menu.tsx
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, needs-translation

#7558 Also wait for JeOS firstboot dialog to stop VM
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/step_definitions/vm_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7536 Migrate from Leap 15.4 to 15.5
  susemanager/bin/server-migrator.sh
  susemanager/susemanager.changes.mbussolotto.server-migrator
Labels: susemanager_unittests, needs-translation

#7569 QE: Fix event history check by shortening event name
  testsuite/features/init_clients/proxy_branch_network.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features, testing, ruby_rubocop

#7579 Run the updates based on the installed version
  testsuite/podman_runner/07_manager_setup.sh
  testsuite/podman_runner/run_db_migrations.sh
Labels: testing, ruby_rubocop

#7581 No fixed delay until proxy gets responsive again
  testsuite/features/init_clients/proxy_branch_network.feature
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework

#7592 fix RHUI support for RHEL 7 clients
  java/code/src/com/redhat/rhn/taskomatic/task/payg/script/rhui7_extract_repo_data.py
  java/code/src/com/redhat/rhn/taskomatic/task/payg/script/rhui_extract_repo_data.py
  java/spacewalk-java.changes.mc.Manager-4.3-fix-RHUI7
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests

#7599 upload artifacts in github actions for debugging
  .github/workflows/acceptance_tests_common.yml
  .github/workflows/acceptance_tests_secondary.yml
  .github/workflows/acceptance_tests_secondary_parallel.yml
  testsuite/podman_runner/19_get_server_logs.sh
Labels: testing, ruby_rubocop

#7600 Handle PKCS8 format for server keys in setup script
  spacewalk/certs-tools/mgr_ssl_cert_setup.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.cbosdo.pkcs8-key
Labels: ready

#7587 Add JAVA_OPTS option for rhn-search
  search-server/spacewalk-search/spacewalk-search.changes.cbosdo.search_javaopts
  search-server/spacewalk-search/src/config/rhn-search
  search-server/spacewalk-search/src/config/search/rhn_search_daemon.conf
Labels: ready

#7586 testsuite: fix container proxy test cleanup
  testsuite/features/secondary/proxy_as_pod_basic_tests.feature
Labels: secondary-features, testing, ruby_rubocop, ready

#7601 QE: Disable Advanced Search tests for Uyuni
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, testing, ruby_rubocop

#7611 Fix datetimepicker erroneously updating the date field (bsc#1210253, bsc#1215820)
  web/html/src/branding/css/susemanager/components/buttons.less
  web/html/src/branding/css/uyuni/buttons.less
  web/html/src/components/datetime/DateTimePicker.test.tsx
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/utils/test-utils/mock.tsx
  web/html/src/utils/test-utils/screen.ts
  web/spacewalk-web.changes.eth.Manager-4.3-MU-4.3.8-bsc-1215820
Labels: ui, javascript_lint

#7606 alternative to copy system package updates to reportdb
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemReport_queries.xml
  java/code/src/com/redhat/rhn/taskomatic/task/ReportDbUpdateTask.java
  java/spacewalk-java.changes.mc.Manager-4.3-alt-reportdb-copy-sys_pkg_updates
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7556 Fix NoClassDefFoundError when opening notifications
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/frontend/events/BaseMailAction.java
  java/spacewalk-java.changes.houssemnasri.fix-notification-error
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, old-ui
