Repository uyuni-project/uyuni, pull requests merged in 2023-03, with the labels that each got.

#6671 Remove Debian 9 unsupported client
  testsuite/ext-tools/maintenance_json_generator.py
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/debian9_minion.feature
  testsuite/features/build_validation/init_clients/debian9_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/twopence_init.rb
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#6680 QE: fix BV SLE Micro product sync
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#6639 QE: Enable buildhost options in Activation Key for buildhost minion
  testsuite/features/build_validation/retail/sle12sp5_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle15sp4_buildhost_build_kiwi_image.feature
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/support/namespaces/activationkey.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6659 do sleep calculation as long
  java/code/src/com/redhat/rhn/taskomatic/task/SystemProfileRefreshTask.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#6658 Replace apache group to root for Enterprise Linux
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes
Labels: susemanager_unittests, merge-candidate

#6672 Enable selective loading of stylesheets for Bootstrap upgrade
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#6405 Testsuite: Remove unused channels
  testsuite/features/reposync/srv_enable_sync_products.feature
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6509 HTTP API: Allow single-value lists in query strings (bsc#1207297)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/suse/manager/api/RouteFactory.java
  java/code/src/com/suse/manager/api/test/RouteFactoryTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#6648 Make API method 'systemgroup.listSystemsMinimal' read-only (bsc#1208550)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#6683 Teststuite: Wait for expected channels to be checked before checking other channels
  testsuite/features/init_clients/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#6465 Deprecate jQuery datepicker and integrate `react-datepicker`
  testsuite/features/step_definitions/datepicker_steps.rb
  web/html/src/branding/css/susemanager/components/date-time-picker.less
  web/html/src/branding/css/susemanager/susemanager-theme.less
  web/html/src/branding/css/susemanager/variables.less
  web/html/src/branding/css/uyuni.less
  web/html/src/branding/css/uyuni/variables.less
  web/html/src/components/datetime/DEPRECATED_DateTimePicker.tsx
  web/html/src/components/datetime/DateTimePicker.stories.md
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/components/input/DateTime.tsx
  web/html/src/package.json
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes
Labels: ui, javascript_lint, testing, ruby_rubocop, test-framework, needs-translation

#6643 Add python3 XML-RPC datetime example
  java/buildconf/apidoc/asciidoc/scripts.txt
  java/buildconf/apidoc/docbook/scripts.txt
  java/buildconf/apidoc/html/scripts.txt
  java/buildconf/apidoc/jsp/scripts.txt
  java/buildconf/apidoc/singlepage/scripts.txt
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6636 Hide the install option for RHEL9 kickstart installs
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartOptionsCommand.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6596 Fix UI bugs in susemanager-light and susemanager-dark theme
  web/html/src/branding/css/base/theme.less
  web/html/src/branding/css/susemanager/components/tables.less
  web/html/src/components/table/SearchField.tsx
  web/html/src/components/table/SearchPanel.tsx
  web/spacewalk-web.changes
Labels: ui, javascript_lint, needs-translation

#6479 Add new rake namespace to support parallel BV pipeline
  testsuite/Rakefile
  testsuite/features/build_validation/add_custom_repositories/add_maintenance_update_repositories.template
  testsuite/features/build_validation/create_bootstrap_repositories/create_bootstrap_repository.template
Labels: testing, ruby_rubocop, build-validation-features

#6655 Fix "configure-tftpsync.sh" to not remove "webdir_whitelist" list values from Cobbler settings (bsc#1207063)
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/step_definitions/cobbler_steps.rb
  tftpsync/susemanager-tftpsync/configure-tftpsync.sh
  tftpsync/susemanager-tftpsync/susemanager-tftpsync.changes
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6654 Fix cobbler system entries for retail terminals - bsc#1208661
  java/code/src/com/suse/manager/saltboot/PXEEvent.java
  java/code/src/com/suse/manager/saltboot/SaltbootUtils.java
  java/code/src/com/suse/manager/saltboot/test/PXEEventTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6697 Add server monitoring support
  testsuite/Rakefile
Labels: testing, ruby_rubocop

#6673 Save scheduler user when creating Errata actions manually
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionManagerTest.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6701 Remove non-salt-bundle packages from repositories for SLE12, CentOS7 and clones
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#6664 Tune the postgresql configuration after copying the old config.
  susemanager/bin/pg-migrate-x-to-y.sh
  susemanager/susemanager.changes
Labels: susemanager_unittests

#6708 Bootstrap SLE micro clients
  testsuite/run_sets/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6707 CI: Correct the channels to sync
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6711 Fix SLE Micro init clients in BV
  testsuite/features/build_validation/init_clients/slemicro52_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_minion.feature
Labels: testing, ruby_rubocop, build-validation-features

#6716 spacecmd: show packages before removing them (bsc#1207830)
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/package.py
  spacecmd/tests/test_package.py
Labels: python3, needs-translation

#6717 QE: Refactor smoke test template for SLE Micro
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6719 weblate translation update
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#6713 Testsuite: tftpboot-installation cleanup
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6721 QE: Add monitoring ports to firewall for oracle minions
  testsuite/.rubocop_todo.yml
  testsuite/features/build_validation/init_clients/oracle9_minion.feature
  testsuite/features/build_validation/init_clients/oracle9_ssh_minion.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#6726 Fix testing of SLL 9
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#6730 Testsuite: Correct name of called feature
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6733 CLM feature: Remove separation between SUMA and Uyuni
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: secondary-features, testing, ruby_rubocop

#6720 fix not showing details
  spacecmd/spacecmd.changes
  spacecmd/src/spacecmd/activationkey.py
  spacecmd/tests/test_activationkey.py
Labels: python3, needs-translation

#6735 QE: Add ports to firewall for monitoring on liberty linux
  testsuite/features/build_validation/init_clients/liberty9_minion.feature
  testsuite/features/build_validation/init_clients/liberty9_ssh_minion.feature
Labels: testing, ruby_rubocop, build-validation-features

#6630 Filter modular packages using release strings (bsc#1207814)
  java/code/src/com/redhat/rhn/common/security/acl/test/AccessTest.java
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/Channel.java
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/domain/channel/Modules.java
  java/code/src/com/redhat/rhn/domain/channel/RepoMetadata.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/RepoMetadata.java
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelFactoryTest.java
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelTest.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ModularPackageFilter.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/modulemd/ModulemdApi.java
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/channel/CloneChannelCommand.java
  java/code/src/com/redhat/rhn/manager/channel/test/CloneChannelCommandTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/DependencyResolver.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/ContentManagerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/DependencyResolverTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/test/MockModulemdApi.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/manager/webui/controllers/test/DownloadControllerTest.java
  java/spacewalk-java.changes
  python/spacewalk/satellite_tools/reposync.py
  python/spacewalk/spacewalk-backend.changes
  schema/spacewalk/common/tables/rhnChannelComps.sql
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.5-to-susemanager-schema-4.4.6/001-rhnChannelComps-revert_drop_uidx.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model, xmlrpc, old-ui

#6727 Update download option from chrome to fix salt_action feature
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#6736 Fix rendering of notifications page with subscription warnings (bsc#1209259)
  java/code/src/com/redhat/rhn/domain/notification/types/SubscriptionWarning.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/SubscriptionWarningTest.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#6739 QE: Remove leftover traditional client code
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#6742 Refactor Java notification synchronize to avoid dead locks (bsc#1209369)
  java/code/src/com/suse/manager/webui/websocket/Notification.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6749 QE: Include 4.2 in the list of products that use salt-bundle
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#6712 Refactor common repositories
  testsuite/Rakefile
  testsuite/features/build_validation/add_MU_repositories/add_maintenance_update_repositories.template
  testsuite/features/build_validation/add_non_MU_repositories/alma9_minion_build_clm.feature
  testsuite/features/build_validation/add_non_MU_repositories/centos7_minion_add_iso.feature
  testsuite/features/build_validation/add_non_MU_repositories/liberty9_minion_build_clm.feature
  testsuite/features/build_validation/add_non_MU_repositories/oracle9_minion_build_clm.feature
  testsuite/features/build_validation/add_non_MU_repositories/rocky8_minion_add_iso_and_build_clm.feature
  testsuite/features/build_validation/add_non_MU_repositories/rocky9_minion_build_clm.feature
  testsuite/features/build_validation/add_non_MU_repositories/srv_wait_for_custom_reposync.feature
  testsuite/features/build_validation/add_non_MU_repositories/ubuntu1804_minion_add_common_repositories.feature
  testsuite/features/build_validation/core/srv_prepare_rh_like_clm_filters.feature
  testsuite/run_sets/build_validation_add_MU_repositories.yml
  testsuite/run_sets/build_validation_add_common_channels.yml
  testsuite/run_sets/build_validation_add_non_MU_channels.yml
  testsuite/run_sets/build_validation_core.yml
  testsuite/run_sets/build_validation_wait_for_custom_reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop, build-validation-features

#6702 CI: Acceptance tests at PR: add build containers task
  .github/workflows/build_containers.yml
  testsuite/dockerfiles/controller-dev/Dockerfile
  testsuite/dockerfiles/opensuse-minion/Dockerfile
  testsuite/dockerfiles/rocky-minion/Dockerfile
  testsuite/dockerfiles/rocky-minion/test_repo_rpm_pool.repo
  testsuite/dockerfiles/rocky-minion/uyuni-tools-pool.repo
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
  testsuite/dockerfiles/server-all-in-one-dev/minima.yaml
  testsuite/dockerfiles/server-all-in-one-dev/uyuni-tools-gpg-pubkey-0d20833e.key
  testsuite/dockerfiles/server-all-in-one/Dockerfile
  testsuite/dockerfiles/server-all-in-one/setup_env.sh
  testsuite/dockerfiles/ubuntu-minion/Dockerfile
Labels: testing, ruby_rubocop

#6715 support multiple gpgkey urls for a channel
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/data1/product_tree.json
  java/code/src/com/redhat/rhn/manager/content/test/smallBase/product_tree.json
  java/spacewalk-java.changes
  susemanager-utils/susemanager-sls/salt/channels/gpg-keys.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6759 Backport #6756 and tagging to master
  java/code/src/com/suse/manager/api/LoggingInvocationProcessor.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6761 change jar versions in ivy configuration file
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6771 Update report outdated system query to de-duplicate errata id's
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemReport_queries.xml
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests

#6773 Fix deleting custom info pillar (bsc#1209253)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionCustomInfoPillarGenerator.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionPillarFileManager.java
  java/spacewalk-java.changes
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#6777 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#6786 QE: Update used channel for distro creation through API
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#6783 Fix update of sql function create_new_org
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/upgrade/susemanager-schema-4.4.5-to-susemanager-schema-4.4.6/002-update-function-create_new_org.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#6789 Add support to BV parallel non MU specific run set
  testsuite/Rakefile
  testsuite/run_sets/build_validation_add_non_MU_channels.yml
  testsuite/run_sets/build_validation_add_non_MU_repositories/build_validation_alma9_minion_build_clm.yml
  testsuite/run_sets/build_validation_add_non_MU_repositories/build_validation_centos7_minion_add_iso.yml
  testsuite/run_sets/build_validation_add_non_MU_repositories/build_validation_liberty9_minion_build_clm.yml
  testsuite/run_sets/build_validation_add_non_MU_repositories/build_validation_oracle9_minion_build_clm.yml
  testsuite/run_sets/build_validation_add_non_MU_repositories/build_validation_rocky8_minion_add_iso_and_build_clm.yml
  testsuite/run_sets/build_validation_add_non_MU_repositories/build_validation_rocky9_minion_build_clm.yml
  testsuite/run_sets/build_validation_add_non_MU_repositories/build_validation_ubuntu1804_minion_add_common_repositories.yml
Labels: ci-pipelines, testing, ruby_rubocop

#6792 Make python3-ordered-set optional for the bootstrap repo
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
Labels: python3, susemanager_unittests

#6790 Stop core run set if any feature fail
  testsuite/Rakefile
Labels: testing, ruby_rubocop

#6518 QE: Cobbler log parsing improvement
  testsuite/features/secondary/minkvm_guests.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/srv_cobbler_buildiso.feature
  testsuite/features/secondary/srv_cobbler_distro.feature
  testsuite/features/secondary/srv_cobbler_profile.feature
  testsuite/features/secondary/srv_cobbler_sync.feature
  testsuite/features/secondary/srv_power_management.feature
  testsuite/features/secondary/srv_power_management_redfish.feature
  testsuite/features/step_definitions/cobbler_steps.rb
  testsuite/features/support/cobbler_test.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#6802 QE: Fix cobbler log step not finding file
  testsuite/features/step_definitions/cobbler_steps.rb
Labels: testing, ruby_rubocop, test-framework

#6689 Clarify that we use maintenance incident numbers
  testsuite/ext-tools/maintenance_json_generator.py
Labels: testing, ruby_rubocop

#6804 Add product in proxy repos for maintenance json script
  testsuite/ext-tools/maintenance_json_generator.py
Labels: testing, ruby_rubocop

#6805 Load only rhn.jar in Jacoco
  testsuite/features/support/code_coverage.rb
Labels: testing, ruby_rubocop, test-framework
