Repository uyuni-project/uyuni, pull requests merged in 2024-02, with the labels that each got.

#8244 QE: Change regex to extract permissions for ReportDB user
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8224 Don't change the /etc/motd at the end of the setup
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes.cbosdonnat.no-motd
Labels: susemanager_unittests

#8254 Testsuite: remove /etc/motd contents from the server
  testsuite/features/support/twopence_init.rb
Labels: testing, ruby_rubocop, test-framework

#8251 Finish reverting 7c75c1356dab
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8153 QE: refactor verification of a system's subscribed channels
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/namespaces/channel.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8266 Add org/createFirst to unauthenticated HTTP API paths
  java/code/src/com/suse/manager/api/HttpApiRegistry.java
  java/spacewalk-java.changes.cbosdonnat.api-auth-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8275 Add missing s390 constants
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8279 QE: Fix Grafana dashboard scenario in BV tests
  testsuite/features/build_validation/init_clients/monitoring_server.feature
Labels: testing, ruby_rubocop, build-validation-features

#8278 require latest schema versions
  java/spacewalk-java.changes.mc.adapt-required-versions-50-1
  java/tito.props
  python/spacewalk/spacewalk-backend.changes.mc.adapt-required-versions-50-1
  python/spacewalk/tito.props
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8282 Wait until "No data" appears on Grafana page
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#8285 Configuration files: give the confirmation page time to appear
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#8287 QE: remove unused step definitions
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8289 testsuite: fix configure-tftpsync.sh path
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8290 Add missing changelogs
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.deneb-alpha.fix_missing_changelogs
  spacecmd/spacecmd.changes.deneb-alpha.fix_missing_changelogs
Labels: python3

#8291 Bump the WebUI version to 5.0.0 Beta1
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.deneb-alpha.webversion_bump
Labels: ui, javascript_lint

#8292 Wait for retail network and for build host entitlement
  testsuite/features/build_validation/retail/proxy_branch_network.feature
  testsuite/features/build_validation/retail/sle12sp5_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle15sp4_buildhost_build_kiwi_image.feature
Labels: testing, ruby_rubocop, build-validation-features

#8293 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_cs.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8294 add debian 12 bootstrap data
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mc.add-debian12-bootstrap-data
Labels: python3, susemanager_unittests

#8295 Wait for first event on Retail terminal
  testsuite/features/build_validation/retail/sle12sp5_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_deploy.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
Labels: secondary-features, testing, ruby_rubocop, build-validation-features

#8281 Opt to iterate through the list items for the 'leap15.5-x86_64' Uyuni product, avoiding manual input
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/reference_srv_sync_products_extra.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8302 CI, Testsuite: fix redis-client version
  testsuite/Gemfile
Labels: testing, ruby_rubocop

#8304 QE: Fix proxy Uyuni client tools
  testsuite/features/init_clients/proxy_register_as_minion_with_gui.feature
  testsuite/features/init_clients/proxy_register_as_minion_with_script.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#8318 move mgr ssh key to salt home
  java/code/src/com/redhat/rhn/frontend/action/systems/entitlements/test/SystemEntitlementsSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/test/ImageInfoHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/entitling/SystemEntitler.java
  java/code/src/com/redhat/rhn/manager/system/entitling/test/SystemEntitlementManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/webui/controllers/SaltSSHController.java
  java/code/src/com/suse/manager/webui/controllers/bootstrap/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/bootstrap/SSHMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/AbstractMinionBootstrapperTestBase.java
  java/code/src/com/suse/manager/webui/controllers/utils/test/RegularMinionBootstrapperTest.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrRunner.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltSSHServiceTest.java
  java/code/src/com/suse/manager/webui/services/impl/test/SaltServiceTest.java
  java/code/src/com/suse/manager/webui/services/test/TestSaltApi.java
  java/manager-build.xml
  java/spacewalk-java.changes.mc.Manager-4.3-MU-4.3.11-fix-ssh-keygen-on-bootstrap
  java/spacewalk-java.changes.mc.Manager-4.3-fix-proxy-sshkeys
  java/spacewalk-java.changes.mikeletux.move-mgr-ssh-key-to-salt-home
  java/spacewalk-java.spec
  susemanager-utils/susemanager-sls/modules/roster/uyuni.py
  susemanager-utils/susemanager-sls/modules/runners/kiwi-image-collect.py
  susemanager-utils/susemanager-sls/modules/runners/mgrutil.py
  susemanager-utils/susemanager-sls/salt/util/mgr_rotate_saltssh_key.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mikeletux.move-mgr-ssh-key-to-salt-home
  susemanager-utils/susemanager-sls/susemanager-sls.spec
  susemanager/src/mgr-salt-ssh
  susemanager/susemanager.changes.mikeletux.move-mgr-ssh-key-to-salt-home
  testsuite/podman_runner/07_start_server.sh
  testsuite/podman_runner/09_build_server_code.sh
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, susemanager_unittests, testing, ruby_rubocop, xmlrpc, old-ui

#8321 Bump web.version.uyuni to 2024.02 in web/conf/rhn_web.conf
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.raul.uyuni_webversion_bump_2024.02
Labels: ui, javascript_lint

#8303 QE: sumaform cleanup and reboot after bootstrap for SLE Micro 5.X minions
  testsuite/features/build_validation/init_clients/slemicro51_minion.feature
  testsuite/features/build_validation/init_clients/slemicro51_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro55_minion.feature
  testsuite/features/build_validation/init_clients/slemicro55_ssh_minion.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8317 QE: Fix proxy tag in BV retail tests
  testsuite/features/build_validation/retail/sle12sp5_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle12sp5_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle12sp5_terminal_prepare.feature
  testsuite/features/build_validation/retail/sle15sp4_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_prepare.feature
Labels: testing, ruby_rubocop, build-validation-features

#8327 QE: Fix Uyuni Proxy channel selection
  testsuite/features/init_clients/proxy_register_as_minion_with_gui.feature
  testsuite/features/init_clients/proxy_register_as_minion_with_script.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8325 QE: Fix proxy tag in BV retail tests
  testsuite/features/build_validation/retail/sle12sp5_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle12sp5_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle12sp5_terminal_prepare.feature
  testsuite/features/build_validation/retail/sle15sp4_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_prepare.feature
Labels: testing, ruby_rubocop, build-validation-features

#8324 QE: Adapt BV test suite for 5.0
  testsuite/features/build_validation/add_non_MU_repositories/centos7_minion_add_iso.feature
  testsuite/features/build_validation/add_non_MU_repositories/rocky8_minion_add_iso_and_build_clm.feature
  testsuite/features/build_validation/init_clients/ubuntu2204_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2204_ssh_minion.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/file_management.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8283 QE: Adapt BV test suite for 5.0
  testsuite/features/build_validation/add_non_MU_repositories/centos7_minion_add_iso.feature
  testsuite/features/build_validation/add_non_MU_repositories/rocky8_minion_add_iso_and_build_clm.feature
  testsuite/features/build_validation/init_clients/ubuntu2204_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2204_ssh_minion.feature
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/file_management.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8265 fix virtual systems listing filters
  java/code/src/com/redhat/rhn/common/ExceptionMessage.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/test/SystemsControllerTest.java
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
  java/code/src/com/suse/utils/Predicates.java
  java/code/src/com/suse/utils/test/PredicatesTest.java
  java/spacewalk-java.changes.rjpmestre.fix-virtual-systems-filters
  web/html/src/manager/systems/list-filter.tsx
  web/html/src/manager/systems/virtual-list.renderer.tsx
  web/html/src/manager/systems/virtual-list.tsx
  web/spacewalk-web.changes.rjpmestre.fix-virtual-systems-filters
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webui-templates, needs-translation

#8255 Use LTSS channel for 15 SP4
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8284 Fix typo in 'Deploy Files' page
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/profile/ProfileManager.java
  java/scripts/spelling/ignored_en.txt
  java/spacewalk-java.changes.pinvernizzi.frontend-typo-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, needs-translation

#8357 move 001-oval-add-tables.sql script to new upgrade folder - add missing size in rhnServer CVE column
  schema/spacewalk/susemanager-schema.changes.mbussolotto.fix_cpe_column
  schema/spacewalk/upgrade/susemanager-schema-5.0.5-to-susemanager-schema-5.0.6/001-oval-add-tables.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8353 Fix lists of channels to sync - Uyuni
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8332 QE: add systems errata API testing feature
  testsuite/features/secondary/srv_errata_api.feature
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/support/http_client.rb
  testsuite/features/support/namespaces/system.rb
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#8359 Fix lists of channels to sync - CI
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8361 More reposync timeout fixes
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8351 We need SLE-Module-Containers on the Pod Proxy VM
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8362 Commit salt event removal in case of process failure (bsc#1218931)
  java/code/src/com/suse/manager/reactor/PGEventStream.java
  java/spacewalk-java.changes.rmateus.m43-pgeventlistener-error-handling
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8363 More reposync fixes
  testsuite/ext-tools/collect_and_tag_flaky_tests.rb
  testsuite/ext-tools/gather_timings.py
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8368 Have one less iteration in waits
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8312 fix memory size extraction in virtual instances
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationSystemDataAcquisitor.java
  java/code/src/com/suse/scc/test/registration/SCCSystemRegistrationSystemDataAcquisitorTest.java
  java/spacewalk-java.changes.rjpmestre.fix-memory-size-extraction-virtual-instances
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8354 Do not enable devel repos on proxy for released
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#8365 Add timeout for smtp server connection(bsc#1218931)
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/common/messaging/SmtpMail.java
  java/spacewalk-java.changes.rmateus.Manager-4.3-MU-4.3.10
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8367 Use new array `CHANNEL_TO_SYNC_BY_OS_PRODUCT_VERSION` to shorten text of some scenarios
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/reference_srv_check_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features
