Repository uyuni-project/uyuni, pull requests merged in 2024-09, with the labels that each got.

#9232 uyuni-proxy-systemd-services has been deprecated and removed. SUSE/spacewalk#23356
  containers/proxy-systemd-services/README.md
  containers/proxy-systemd-services/uyuni-proxy-httpd.service
  containers/proxy-systemd-services/uyuni-proxy-pod.service
  containers/proxy-systemd-services/uyuni-proxy-salt-broker.service
  containers/proxy-systemd-services/uyuni-proxy-services.config
  containers/proxy-systemd-services/uyuni-proxy-squid.service
  containers/proxy-systemd-services/uyuni-proxy-ssh.service
  containers/proxy-systemd-services/uyuni-proxy-systemd-services-rpmlintrc
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.changes
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.changes.releng.bump
  containers/proxy-systemd-services/uyuni-proxy-systemd-services.spec
  containers/proxy-systemd-services/uyuni-proxy-tftpd.service
  containers/proxy-systemd-services/uyuni-proxy.sh
  rel-eng/packages/uyuni-proxy-systemd-services
  susemanager-utils/supportutils-plugin-susemanager-client/supportutils-plugin-susemanager-client.changes.deneb-alpha.drop_proxy-systemd-services
  susemanager-utils/supportutils-plugin-susemanager-client/susemanagerclient
  susemanager-utils/supportutils-plugin-susemanager-client/susemanagerclient-scplugin
Labels: merge-candidate

#9240 Filter by channel in CLM sources, before selecting it
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#9241 Find the text of the event, instead of an event completed during last minute
  testsuite/features/build_validation/retail/sle12sp5_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_deploy.feature
  testsuite/features/secondary/proxy_container_retail_pxeboot.feature
  testsuite/features/secondary/proxy_traditional_retail_pxeboot.feature
Labels: secondary-features, testing, ruby_rubocop, build-validation-features

#9054 Fix date format when using the HTTP API to use iso8601 date
  java/code/src/com/suse/manager/api/DateSerializer.java
  java/code/src/com/suse/manager/api/RouteFactory.java
  java/code/src/com/suse/manager/api/test/RouteFactoryTest.java
  java/spacewalk-java.changes.parlt.fix-http-api-date-format
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#7509 [GSOC23] - B - Enable the downloading and synchronization of OVAL data
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/common/db/datasource/xml/oval_queries.xml
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerConstants.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/audit/CVEAuditHandler.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditImage.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManagerOVAL.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditServer.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditSystem.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditSystemBuilder.java
  java/code/src/com/redhat/rhn/manager/audit/OsReleasePair.java
  java/code/src/com/redhat/rhn/manager/audit/PatchStatus.java
  java/code/src/com/redhat/rhn/manager/audit/ScanDataSource.java
  java/code/src/com/redhat/rhn/manager/audit/test/CVEAuditManagerOVALTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/OVALDataSync.java
  java/code/src/com/suse/manager/webui/controllers/CVEAuditController.java
  java/code/src/com/suse/oval/OVALCachingFactory.java
  java/code/src/com/suse/oval/OVALCleaner.java
  java/code/src/com/suse/oval/OsFamily.java
  java/code/src/com/suse/oval/config/OVALConfig.java
  java/code/src/com/suse/oval/config/OVALConfigLoader.java
  java/code/src/com/suse/oval/config/OVALDistributionSourceInfo.java
  java/code/src/com/suse/oval/config/OVALSourceInfo.java
  java/code/src/com/suse/oval/config/test/OVALConfigTest.java
  java/code/src/com/suse/oval/config/test/oval.config.json
  java/code/src/com/suse/oval/config/test/update_oval_config_json.sh
  java/code/src/com/suse/oval/ovaldownloader/OVALDownloadResult.java
  java/code/src/com/suse/oval/ovaldownloader/OVALDownloader.java
  java/code/src/com/suse/oval/vulnerablepkgextractor/SUSEVulnerablePackageExtractor.java
  java/code/src/com/suse/oval/vulnerablepkgextractor/VulnerablePackagesExtractors.java
  java/conf/rhn_java.conf
  java/spacewalk-java.changes.HoussemNasri.oval-downloader
  schema/spacewalk/common/data/rhnTaskoBunch.sql
  schema/spacewalk/common/data/rhnTaskoSchedule.sql
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
  schema/spacewalk/susemanager-schema.changes.HoussemNasri.oval-downloader
  schema/spacewalk/upgrade/susemanager-schema-5.1.0-to-susemanager-schema-5.1.1/001-oval-taskomatic.sql
  susemanager-sync-data/oval.config.json
  susemanager-sync-data/susemanager-sync-data.changes.HoussemNasri.oval-downloader
  susemanager-sync-data/susemanager-sync-data.spec
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/spacewalk-web.changes.HoussemNasri.oval-downloader
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, merge-candidate, data-model, xmlrpc, old-ui, needs-translation

#8263 reposync: import GPG keys to RPM DB individually (bsc#1217003)
  python/spacewalk/satellite_tools/repo_plugins/yum_src.py
  python/spacewalk/spacewalk-backend.changes.meaksh.master-reposync-gpgkeys-refactor
Labels: merge-candidate

#9233 Fix package name search when sync volumes data (bsc#1229923)
  containers/server-image/server-image.changes.rmateus.uyuni_1229923_syncfiles
  containers/server-image/uyuni-configfiles-sync
Labels: merge-candidate

#9246 Add dummy modular repo in the CI containerized server
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
  testsuite/dockerfiles/server-all-in-one-dev/minima.yaml
Labels: testing, ruby_rubocop

#9128 spacecmd: speedup softwarechannel_removepackages
  spacecmd/spacecmd.changes.agraul.speedup-softwarechannel_removepackages
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/src/spacecmd/utils.py
  spacecmd/tests/test_softwarechannel.py
Labels: python3, merge-candidate, needs-translation

#9250 Fix susemanager-sync-data build
  susemanager-sync-data/susemanager-sync-data.spec
Labels: merge-candidate

#9249 Update container image version of uyuni/server
  .github/workflows/build_containers.yml
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
Labels: testing, ruby_rubocop

#9180 Fixed find target button bug
  web/html/src/branding/css/base/theme.scss
  web/html/src/manager/salt/cmd/remote-commands.tsx
  web/spacewalk-web.changes.bisht-richa.fixed-find-targets-button-issue
Labels: ui, javascript_lint, merge-candidate, needs-translation

#9185 Fix spacecmd type issue during bootstrap
  spacecmd/spacecmd.changes.mczernek.spacecmd-bootstrap-fix
  spacecmd/src/spacecmd/system.py
Labels: python3, merge-candidate, needs-translation

#9178 Make spacewalk-data-fsck aware of orphaned pkgs
  python/spacewalk/satellite_tools/spacewalk-data-fsck
  python/spacewalk/spacewalk-backend.changes.mczernek.spacewalk-data-fsck-orphaned-pkgs
Labels: merge-candidate

#9102 remove session timeout from webapp, in order to use the persisted one in /etc/tomcat/web.xml
  java/code/webapp/WEB-INF/web.xml
  java/spacewalk-java.changes.mbussolotto.remove_session_timeout
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, webapp, ready

#9041 spacewalk-setup should stop if spacewalk-setup-cobbler fails (bsc#1226847)
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes.mbussolotto.setup_cobbler
Labels: merge-candidate, ready

#9227 CI: Use correct GH Action in schema migration tests
  .github/workflows/schema-migration-reportdb-test-pgsql.yml
Labels: merge-candidate, github_actions

#9222 QE: Allow Chromium debugging port only in CI
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9141 Improve score comparison to avoid violating Comparator contract in System Search
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemSearchHelper.java
  java/spacewalk-java.changes.welder.bsc1228412
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#9149 Fix Extra Packages column in systems list
  web/html/src/manager/systems/all-list.tsx
  web/spacewalk-web.changes.welder.fix-systems-list-extra-pkg
Labels: ui, javascript_lint, merge-candidate

#9256 Revert supportutils-plugin-susemanager-client changes from uyuni-project/uyuni#9232 due to SUSE/spacewalk#25211
  susemanager-utils/supportutils-plugin-susemanager-client/supportutils-plugin-susemanager-client.changes.deneb-alpha.drop_proxy-systemd-services
  susemanager-utils/supportutils-plugin-susemanager-client/susemanagerclient
  susemanager-utils/supportutils-plugin-susemanager-client/susemanagerclient-scplugin
Labels: merge-candidate

#9262 Fix CVE Audit not working for images
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
Labels: ui, javascript_lint, merge-candidate

#9209 SSH tunnel idempotency
  testsuite/features/reposync/srv_create_activationkey.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/minssh_bootstrap_api.feature
  testsuite/features/secondary/minssh_tunnel.feature
  testsuite/run_sets/secondary.yml
Labels: merge-candidate, secondary-features, ci-pipelines, testing, ruby_rubocop

#8850 Fix Cobbler `createSystemRecord()` `netDevices` order
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, xmlrpc, old-ui

#9242 QE: Add dummy AppStream repository and channel
  testsuite/features/reposync/srv_create_fake_channels.feature
  testsuite/features/reposync/srv_create_fake_repositories.feature
  testsuite/features/reposync/srv_sync_fake_channels.feature
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9261 Retracted errata query optimizations
  java/code/src/com/redhat/rhn/common/db/datasource/xml/ErrataCache_queries.xml
  java/spacewalk-java.changes.oholecek.replace-errata-view-by-select
  schema/spacewalk/common/views/suseServerChannelsRetractedPackagesView.sql
  schema/spacewalk/susemanager-schema.changes.oholecek.errata-optimizations
  schema/spacewalk/upgrade/susemanager-schema-5.1.0-to-susemanager-schema-5.1.1/002-errata-view-optimization.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate

#9269 Menu entry on the left changed with 5.0
  testsuite/features/secondary/minssh_tunnel.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9258 QE: Remove openSUSE Leap 15.4 due to EOL
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/opensuse154arm_minion.feature
  testsuite/features/build_validation/init_clients/opensuse154arm_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#9235 in the cloud uyuni run on Leap while on normal installation with micro
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: merge-candidate, testing, ruby_rubocop

#8980 Delay pkg refresh if needed
  java/code/src/com/suse/manager/reactor/messaging/JobReturnEventMessageAction.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes.mc.delay-pkg-refresh-if-needed
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9110 add missing package python3-ply to bootstrap repo definition
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mc.Manager-4.3-adapt-bsrepo-15sp6
Labels: python3, susemanager_unittests, merge-candidate

#9174 open bootstrap script directory URL in a new page
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/spacewalk-java.changes.mc.bsc-1225603
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui, needs-translation

#9164 Parse openssl3 authorityKeyIdentifier output line differently
  spacewalk/certs-tools/mgr_ssl_cert_setup.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.dfaltum.master
Labels: merge-candidate

#9182 enforce directory permissions at repo-sync when creating directories
  python/uyuni/common/fileutils.py
  python/uyuni/uyuni-common-libs.changes.mc.Manager-4.3-reposync-mkdir-umask
Labels: merge-candidate

#9200 fix NullPointerException when generating subscription matcher input
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
  java/spacewalk-java.changes.mc.Manager-4.3-fix-npe-matcher-io
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9176 add SLE-Micro 5 to the list of systems which support monitoring
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/suse/manager/webui/services/test/SaltActionChainGeneratorServiceTest.java
  java/spacewalk-java.changes.mc.fix-add-monitoring-ent-to-slemicro
  testsuite/features/init_clients/proxy_container.feature
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, testing, ruby_rubocop, data-model

#9203 add new channel family SLES-12-SP5-LTSS-Extended-Security-X86
  susemanager-sync-data/channel_families.json
  susemanager-sync-data/susemanager-sync-data.changes.mc.Manager-4.3-add-channel_family-extsec
Labels: merge-candidate

#9215 7427 cleanup truncata errata
  java/code/src/com/redhat/rhn/frontend/dto/OwnedErrata.java
  java/code/src/com/redhat/rhn/manager/errata/ErrataManager.java
  java/spacewalk-java.changes.serpico.7427-cleanup-truncata-errata
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#9202 Cleanup proxy known hosts
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
  java/spacewalk-java.changes.mc.Manager-4.3-cleanup-proxy-known_hosts
  proxy/proxy/mgr-proxy-ssh-force-cmd
  proxy/proxy/spacewalk-proxy.changes.mc.Manager-4.3-cleanup-proxy-known_hosts
Labels: java, java_lint_checkstyle, java_pgsql_tests, proxy, merge-candidate

#9282 Fix run command scenario for salt migration BV
  testsuite/features/build_validation/migration/salt_migration_minion_migration.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#9290 QE: Fix path for openscap
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9285 Ci fix upload artifacts
  testsuite/podman_runner/20_get_server_logs.sh
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop, test-framework

#9286 Fix sticky header scroll bug
  web/html/javascript/spacewalk-essentials.js
  web/spacewalk-web.changes.eth.multi-sst
Labels: ui, javascript_lint, merge-candidate, needs-translation

#9275 Fix date input on HTTP API endpoints
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/test/ErrataHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/provisioning/snapshot/SnapshotHandler.java
  java/code/src/com/suse/manager/api/ApiRequestParser.java
  java/code/src/com/suse/manager/api/ListDeserializer.java
  java/code/src/com/suse/manager/api/MapDeserializer.java
  java/code/src/com/suse/manager/api/test/RouteFactoryTest.java
  java/spacewalk-java.changes.cbbayburt.api-datetime-input
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, xmlrpc, old-ui

#9267 Ignore 'buildorder' parsing errors when parsing module metadata entries (bsc#1230274)
  python/spacewalk/satellite_tools/appstreams.py
  python/spacewalk/spacewalk-backend.changes.cbbayburt.bsc1230274
Labels: merge-candidate

#9265 Use proxy FQDN from config file for auth token
  containers/proxy-httpd-image/proxy-httpd-image.changes.oholecek.store_proxy_fqdn
  containers/proxy-httpd-image/uyuni-configure.py
  proxy/proxy/broker/rhnBroker.py
  proxy/proxy/rhnShared.py
  proxy/proxy/spacewalk-proxy.changes.oholecek.fix_authtoken_hostname
Labels: proxy, merge-candidate

#9230 Enable deb for payg
  java/code/src/com/redhat/rhn/domain/cloudpayg/PaygProductFactory.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerPaygTest.java
  java/spacewalk-java.changes.mc.Manager-4.3-enable-deb-for-payg
  python/spacewalk/satellite_tools/repo_plugins/deb_src.py
  python/spacewalk/spacewalk-backend.changes.mcalmer.enable-deb-for-payg
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#9145 Require correct scap packages for Ubuntu and Debian
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/ScapSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/test/ScapSetupActionTest.java
  java/spacewalk-java.changes.mackdk.openscap-debian12
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#9103 Fix error in 'kickstart_delete' when using wildcards (bsc#1227578)
  spacecmd/spacecmd.changes.cbbayburt.bsc1227578
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/tests/test_kickstart.py
Labels: python3, merge-candidate, needs-translation

#9289 Differentiate between error results mgr-setup
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes.oholecek.error_exit_update
Labels: susemanager_unittests, merge-candidate, needs-translation

#9156 CI: fix filter files
  .github/workflows/acceptance_tests_common.yml
Labels: merge-candidate

#9292 ci: update container build worklfow
  .github/workflows/build_containers.yml
  testsuite/dockerfiles/controller-dev/Dockerfile
Labels: merge-candidate, testing, ruby_rubocop

#9291 add HANA and cluster formulas to server image
  containers/server-image/Dockerfile
  containers/server-image/server-image.changes.mbussolotto.ha
Labels: merge-candidate

#9253 During schema upgrade, avoid insert problem when Extern - Oracle Linux 9 is not present (bsc#1230021)
  schema/spacewalk/susemanager-schema.changes.mbussolotto.ol9_schema_migration
  schema/spacewalk/upgrade/susemanager-schema-4.4.3-to-susemanager-schema-4.4.4/000-uyuni-fix-ol9-repos.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate, ready

#9251 Uyuni drop broken util
  containers/server-image/Dockerfile
  containers/server-image/server-image.changes.rmateus.uyuni-not-install-spacewalk-utils-extra
  susemanager-utils/testing/automation/spacewalk-pylint.sh
  utils/Makefile
  utils/spacewalk-final-archive
  utils/spacewalk-final-archive.sgml
  utils/spacewalk-utils.changes.mc.Manager-4.3-drop-broken-util
  utils/spacewalk-utils.changes.rmateus.Manager-4.3
  utils/spacewalk-utils.spec
Labels: merge-candidate

#9207 update IVY config to Leap 15.6
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/code/src/com/redhat/rhn/common/finder/test/JarFinderTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9295 Fix spacewalk-utils package
  utils/spacewalk-utils.spec
Labels: merge-candidate

#9188 Add custom krb5.conf which moved keytab under krb5.conf.d
  containers/server-image/Dockerfile
  containers/server-image/krb5-conf-setup.sh
  containers/server-image/krb5.conf
  containers/server-image/server-image.changes.oholecek.krb5-persistent-fix
Labels: merge-candidate

#9299 Skip failing test in master retracted patches
  testsuite/features/secondary/min_retracted_patches.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9298 Update hamcrest-library to 3.0 due to SUSE:Maintenance:35494:343927
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9300 add ubuntu 24.04
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/additional_repositories.json
  susemanager-sync-data/susemanager-sync-data.changes.lucidd.ubuntu-24.04
Labels: merge-candidate

#9193 Do not create partition on extra storage disk
  uyuni/uyuni-storage-setup/scripts/mgr-storage-proxy
  uyuni/uyuni-storage-setup/scripts/mgr-storage-server
  uyuni/uyuni-storage-setup/scripts/susemanager-storage-setup-functions.sh
  uyuni/uyuni-storage-setup/uyuni-storage-setup.changes.oholecek.no-partition-for-storage
Labels: merge-candidate

#9306 change payg localhost product indentifier
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygAuthDataProcessor.java
  java/spacewalk-java.changes.rmateus.5.0_change_heades_for_localhost_payg
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9308 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#9309 Ubuntu2404 sumatoolbox update
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.ubuntu2404-sumatoolbox-update
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, merge-candidate, testing, ruby_rubocop, data-model, test-framework, build-validation-features
