Repository uyuni-project/uyuni, pull requests merged in 2024-03, with the labels that each got.

#8389 Add missing map files to spacewalk-html-debug
  java/code/webapp/WEB-INF/pages/admin/setup/mirror-credentials.jsp
  java/code/webapp/WEB-INF/pages/admin/setup/proxy-settings.jsp
  java/spacewalk-java.changes.eth.map
  web/html/src/branding/css/base/setup-wizard.less
  web/html/src/branding/css/base/theme.less
  web/html/src/branding/css/susemanager/fonts.less
  web/html/src/branding/css/susemanager/variables.less
  web/html/src/branding/css/uyuni-variables.less
  web/html/src/branding/fonts/Lato/Lato-Black.ttf
  web/html/src/branding/fonts/Lato/Lato-BlackItalic.ttf
  web/html/src/branding/fonts/Lato/Lato-Bold.ttf
  web/html/src/branding/fonts/Lato/Lato-BoldItalic.ttf
  web/html/src/branding/fonts/Lato/Lato-Italic.ttf
  web/html/src/branding/fonts/Lato/Lato-Light.ttf
  web/html/src/branding/fonts/Lato/Lato-LightItalic.ttf
  web/html/src/branding/fonts/Lato/Lato-Regular.ttf
  web/html/src/branding/fonts/Lato/Lato-Thin.ttf
  web/html/src/branding/fonts/Lato/Lato-ThinItalic.ttf
  web/html/src/branding/fonts/Lato/OFL.txt
  web/html/src/branding/fonts/WorkSans/OFL.txt
  web/html/src/branding/fonts/WorkSans/README.txt
  web/html/src/branding/fonts/WorkSans/WorkSans-Italic-VariableFont_wght.ttf
  web/html/src/branding/fonts/WorkSans/WorkSans-VariableFont_wght.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-Black.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-BlackItalic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-Bold.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-BoldItalic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-ExtraBold.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-ExtraBoldItalic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-ExtraLight.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-ExtraLightItalic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-Italic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-Light.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-LightItalic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-Medium.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-MediumItalic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-Regular.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-SemiBold.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-SemiBoldItalic.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-Thin.ttf
  web/html/src/branding/fonts/WorkSans/static/WorkSans-ThinItalic.ttf
  web/html/src/branding/img/credentials-help.png
  web/html/src/branding/img/dropdown-arrow.jpg
  web/html/src/branding/img/http-proxy.png
  web/html/src/branding/img/sub-list-last.png
  web/html/src/branding/img/sub-list.png
  web/html/src/branding/img/suse-logo-footer-white.svg
  web/html/src/branding/img/suse-logo-footer.svg
  web/html/src/branding/img/susemanager/logo-footer.png
  web/html/src/branding/img/susemanager/suse-logo-footer-white-old.svg
  web/html/src/build/webpack.config.js
  web/spacewalk-web.changes.eth.map
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#8246 Replace Uyuni configuration formula with an API call
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/configuration/AdminConfigurationHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/configuration/test/AdminConfigurationHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/configuration/test/config1.yaml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/configuration/test/minimal.yaml
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/impl/runner/MgrUtilRunner.java
  java/code/src/com/suse/manager/webui/services/test/TestSaltApi.java
  java/spacewalk-java.changes.nadvornik.uyuni_config
  susemanager-utils/susemanager-sls/modules/runners/mgrutil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.nadvornik.uyuni_config
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8380 Upgrade json5
  web/html/src/package.json
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.json5
Labels: ui, javascript_lint

#8392 QE: Remove old cloud tests in BV
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#8372 Fix frontend unit tests that rely on cancellable
  web/html/src/package.json
  web/html/src/utils/data-providers/paged-data-endpoint.test.ts
  web/html/src/utils/functions.test.ts
  web/html/src/utils/functions.ts
Labels: ui, javascript_lint, needs-translation

#8352 QE: Replace our Traditional Proxy by a Proxy Containerized in all the test suites
  testsuite/features/build_validation/containerization/proxy_as_pod_basic_tests.feature
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/build_validation/init_clients/proxy_traditional.feature
  testsuite/features/build_validation/retail/sle12sp5_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle15sp4_buildhost_build_kiwi_image.feature
  testsuite/features/init_clients/proxy_branch_network.feature
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_register_as_pod.feature
  testsuite/features/init_clients/proxy_traditional.feature
  testsuite/features/reposync/srv_create_activationkey.feature
  testsuite/features/secondary/min_baremetal_discovery.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_move_from_and_to_proxy.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/proxy_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_retail_pxeboot_and_mass_import.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/lavanda.rb
  testsuite/run_sets/build_validation/build_validation_containerization.yml
  testsuite/run_sets/build_validation/build_validation_init_proxy.yml
  testsuite/run_sets/github_validation/github_validation_proxy.yml
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/min_proxy.yml
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8402 CI: skip first user creation for container
  testsuite/features/core/srv_first_settings.feature
Labels: core-features, testing, ruby_rubocop

#8391 Testsuite: replace wget by curl
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/file_management.rb
Labels: testing, ruby_rubocop, test-framework

#8409 QE: Fix Rocky 9 and Ubuntu channel label for SUMA in the BV
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8407 Refactor Cucumber features to run through a containerized proxy
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/secondary/min_baremetal_discovery.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/proxy_as_pod_basic_tests.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/lavanda.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#8401 Fix incorrectly scoped styles
  web/html/src/components/input/Radio.module.css
  web/html/src/components/picker/recurring-event-picker.module.css
  web/html/src/manager/admin/config/monitoring-admin.module.css
  web/html/src/manager/content-management/shared/components/panels/build/build-version.module.css
  web/html/src/manager/content-management/shared/components/panels/filters-project/filters-project.module.css
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.module.css
  web/html/src/manager/content-management/shared/components/panels/sources/sources.module.css
  web/html/src/manager/login/susemanager/login.module.less
  web/html/src/manager/virtualization/guests/console/guests-console.module.css
  web/spacewalk-web.changes.eth.comma-power
Labels: ui, javascript_lint

#8232 Backport Cloud tag and remove cloud module for sles15sp2 and sp3
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#8422 QE: Don't reboot after bootstrapping the Proxy Host, as we don't use yet a transactional-server image
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
Labels: testing, ruby_rubocop, build-validation-features

#8429 QE: If any, add Avahi hosts into the containerized proxy configuration
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8433 update jetty-util and jose4j in ivy
  java/buildconf/ivy/ivy-suse.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8242 QE: BV - Add Salt migration tests
  testsuite/Rakefile
  testsuite/features/build_validation/init_clients/salt_migration_minion.feature
  testsuite/features/build_validation/migration/salt_migration_minion_migration.feature
  testsuite/features/build_validation/migration/sle15sp3_minion_migration.feature
  testsuite/features/build_validation/migration/sle15sp3_ssh_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_ssh_minion_migration.feature
  testsuite/features/support/constants.rb
  testsuite/run_sets/build_validation/build_validation_init_clients.yml
  testsuite/run_sets/build_validation/build_validation_migration.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8432 copy files since salt cant access symlinks (bsc#1220221)
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartableTree.java
  java/spacewalk-java.changes.kwalter.bsc1220221
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#8439 Work around problem with bind package
  testsuite/features/init_clients/proxy_branch_network.feature
Labels: testing, ruby_rubocop

#8443 QE: Skip first user creation in BV for container
  testsuite/features/build_validation/core/srv_first_settings.feature
  testsuite/features/core/srv_first_settings.feature
Labels: core-features, testing, ruby_rubocop, build-validation-features

#8450 QE: On CI, if a channel is not synchronized in the expected time, raise an error
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8463 Fix layout on wide content areas
  web/html/src/branding/css/base/theme.less
  web/html/src/branding/css/base/theme.scss
  web/spacewalk-web.changes.eth.master
Labels: ui, javascript_lint, needs-translation

#8461 QE: Increase the timeout for the test/fake channels
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8460 QE: Fix the ks param used in Cobbler
  testsuite/features/secondary/srv_cobbler_distro.feature
  testsuite/features/step_definitions/cobbler_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8414 Remove clients from private network
  testsuite/features/build_validation/retail/proxy_traditional_branch_network.feature
  testsuite/features/build_validation/retail/sle12sp5_terminal_deploy.feature
  testsuite/features/build_validation/retail/sle15sp4_terminal_deploy.feature
  testsuite/features/init_clients/proxy_traditional_branch_network.feature
  testsuite/features/secondary/proxy_traditional_cobbler_pxeboot.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/retail.rb
  testsuite/features/support/twopence_init.rb
  testsuite/features/upload_files/massive-import-terminals.yml
  testsuite/run_sets/build_validation/build_validation_retail_proxy.yml
  testsuite/run_sets/github_validation/github_validation_proxy.yml
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/min_proxy.yml
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8469 Do not sync RBS for proxy product
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8470 Revert "Simplify getting component type in proxy wsgi wrapper"
  proxy/proxy/apacheHandler.py
  proxy/proxy/apacheServer.py
Labels: proxy

#8386 Merge minion with foreign proxy
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes.cbosdonnat.proxy-register-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8459 stabilize refresh test
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
  java/code/src/com/redhat/rhn/domain/scc/test/SCCCachingFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#8467 better debug logging for BatchStartEvent
  java/code/src/com/suse/manager/reactor/messaging/BatchStartedEventMessageAction.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8472 fix matching epoch while creating ubuntu erratas
  java/code/src/com/redhat/rhn/frontend/dto/PackageDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/PackageDtoSerializer.java
  java/code/src/com/redhat/rhn/manager/content/ubuntu/UbuntuErrataManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/PrimaryXmlWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RepomdWriter.java
  java/spacewalk-java.changes.mc.Manager-4.3-fix-ubuntu-errata-epoch-matching
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8482 QE: Increase the timeout for the sle15sp4 channels
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8485 reschedule failed ssh actions caused by a connection error due to a scheduled reboot
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes.mc.Manager-4.3-reschedule-ssh-actions-after-reboot
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#8488 QE: Added sle-manager-tools15-beta-pool-x86_64-sp4 as empty channel
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8479 drop system password as identifier on scc system registration
  java/code/src/com/redhat/rhn/domain/product/SUSEProductSet.java
  java/code/src/com/suse/scc/client/SCCWebClient.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationContext.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationCreateUpdateSystems.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationSystemDataAcquisitor.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationUpdateCachedItems.java
  java/code/src/com/suse/scc/test/registration/AbstractSCCSystemRegistrationTest.java
  java/code/src/com/suse/scc/test/registration/SCCSystemRegistrationCreateUpdateSystemsTest.java
  java/code/src/com/suse/scc/test/registration/SCCSystemRegistrationSystemDataAcquisitorTest.java
  java/code/src/com/suse/scc/test/registration/SCCSystemRegistrationUpdateCachedItemsTest.java
  java/spacewalk-java.changes.rjpmestre.bsc1219634.bsc1221182
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#8491 add missing strings for translation
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, needs-translation

#8493 QE: Tweak timeouts waiting for channels
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#5561 Add workspace configuration for VS Code
  .gitignore
  java/.vscode/extensions.json
  java/.vscode/launch.json.template
  java/.vscode/settings.json
  java/buildconf/test/log4j2.properties
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8427 Add testing for excessive SCC accesses on server
  testsuite/features/finishing/srv_count_scc_access.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/env.rb
  testsuite/run_sets/finishing.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework

#8331 Don't use a grain for PAYG client detection
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/RegistrationUtils.java
  java/code/src/com/suse/manager/reactor/test/RegisterMinionActionTest.java
  java/code/src/com/suse/manager/reactor/test/dummy_systeminfo_byos.json
  java/code/src/com/suse/manager/reactor/test/dummy_systeminfo_slespayg.json
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/TestSaltApi.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/SumaUtil.java
  java/spacewalk-java.changes.agraul.payg-detection-exec-module
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
  susemanager-utils/susemanager-sls/src/modules/sumautil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.agraul.payg-detection-exec-module
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8505 Add SUMA 5.0 Extensions and fix the activation keys
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#8508 QE: Fix global variabel in Rakefile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

#8483 Migrate remaining Less files to Sass
  web/html/src/branding/css/base/checkbox.scss
  web/html/src/branding/css/base/fixes.scss
  web/html/src/branding/css/base/inputs.scss
  web/html/src/branding/css/base/network.scss
  web/html/src/branding/css/base/setup-wizard.scss
  web/html/src/branding/css/base/theme.less
  web/html/src/branding/css/base/theme.scss
  web/html/src/branding/css/base/visualization.scss
  web/html/src/branding/css/susemanager/index.scss
Labels: ui, javascript_lint, needs-translation

#8509 QE: Define var for container detection in Rakefile
  testsuite/Rakefile
Labels: testing, ruby_rubocop

#8511 QE: Add proxy and RBS extensions 5.0 to BV
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8496 CI: cancel existing PR test runs on a push
  .github/workflows/acceptance_tests_feedback.yml
  .github/workflows/acceptance_tests_secondary.yml
  .github/workflows/acceptance_tests_secondary_parallel.yml
Labels: testing, ruby_rubocop, github_actions

#8518 Update landing page layouts
  java/code/webapp/WEB-INF/pages/yourrhn.jsp
  java/spacewalk-java.changes.eth.subscription-warning
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#8453 Enable automatic bundle migration for all minions
  susemanager-utils/susemanager-sls/salt/switch_to_bundle/mgr_switch_to_venv_minion.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_switch_to_venv_minion.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.agraul.bundle-migration-all
  testsuite/features/build_validation/migration/salt_migration_minion_migration.feature
Labels: testing, ruby_rubocop, build-validation-features

#8484 increase payg response timeout to 20 seconds
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygAuthDataExtractor.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8523 Add again the steps checking textareas without data-testid
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8528 Fix missing changelogs or typos needed for tagging
  java/spacewalk-java.changes.parlt.remove-package-sync-not-available-msg
  spacecmd/spacecmd.changes.deneb-alpha.fix_beta2_uyuni202403_changelogs
  spacewalk/config/spacewalk-config.changes.lucidd.bsc1219061
  susemanager-utils/supportutils-plugin-susemanager-client/supportutils-plugin-susemanager-client.changes.deneb-alpha.fix_beta2_uyuni202403_changelogs
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests

#8532 QE: Temporary workaround as Salt SSH bootstrap takes much more than previous timeout to finish.
  testsuite/features/build_validation/init_clients/alma8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/alma9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/centos7_ssh_minion.feature
  testsuite/features/build_validation/init_clients/debian10_ssh_minion.feature
  testsuite/features/build_validation/init_clients/debian11_ssh_minion.feature
  testsuite/features/build_validation/init_clients/debian12_ssh_minion.feature
  testsuite/features/build_validation/init_clients/liberty9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/opensuse154arm_ssh_minion.feature
  testsuite/features/build_validation/init_clients/opensuse155arm_ssh_minion.feature
  testsuite/features/build_validation/init_clients/oracle9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/rhel9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/rocky8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/rocky9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp5_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp5_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp5s390_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro51_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro55_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2004_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2204_ssh_minion.feature
  testsuite/features/github_validation/init_clients/sle_ssh_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/secondary/min_bootstrap_ssh_key.feature
  testsuite/features/secondary/min_deblike_ssh.feature
  testsuite/features/secondary/min_rhlike_ssh.feature
  testsuite/features/secondary/min_ssh_tunnel.feature
  testsuite/features/secondary/minssh_move_from_and_to_proxy.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, build-validation-features

#8536 Make sure "hostname" package is available
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/config.xml
Labels: testing, ruby_rubocop
