Repository uyuni-project/uyuni, pull requests merged in 2024-04, with the labels that each got.

#8535 Fix Java 17 upgrade issue with container proxy configuration generation
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8541 Bump WebUI to Beta2 and to Uyuni 2024.03
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

#8560 Avoid hairpin problem with rhnpush
  testsuite/features/step_definitions/common_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8571 QE: Build Host entitlement adds some extra minutes to apply the salt high-state
  testsuite/features/build_validation/retail/sle12sp5_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle15sp4_buildhost_build_kiwi_image.feature
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/features/step_definitions/setup_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#8577 Wait 10s to obtain a result from the searchByName API method
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#8573 QE: Add and improve cleanup for the containerized proxy
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#8587 QE: Skip proxy host onboarding
  testsuite/features/init_clients/proxy_container.feature
Labels: merge-candidate, testing, ruby_rubocop

#8579 QE: BV fixes for SLE Micro and containerized proxy
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/build_validation/init_clients/slemicro51_minion.feature
  testsuite/features/build_validation/init_clients/slemicro51_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro55_minion.feature
  testsuite/features/build_validation/init_clients/slemicro55_ssh_minion.feature
Labels: testing, ruby_rubocop, build-validation-features

#8592 QE: Fix typo in step definition to check if onboarding
  testsuite/features/step_definitions/setup_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8590 QE: Add Leap Micro 5.5 reposync definitions to the CI
  testsuite/features/build_validation/init_clients/proxy_container.feature
  testsuite/features/init_clients/proxy_container.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8601 Fix: Wrong key for a list of channels
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#8604 Use java.hostname to compute the FQDN for system provisioning
  java/code/src/com/redhat/rhn/frontend/action/kickstart/KickstartHelper.java
  java/spacewalk-java.changes.cbosdo.migration_fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8606 Fix OutOfBoundsException when downloading file from /ks/dist/
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/spacewalk-java.changes.cbosdo.ks-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8556 Remove leftover from traditional clients
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#8616 QE: Fix proxy activation key
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#8584 Backport: Add filters for rpmlint in package spacewalk-web (#24083)
  web/spacewalk-web-rpmlintrc
  web/spacewalk-web.changes.raul.fix_lint_errors
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#8557 User with API ready only are only allowed to make GET requests
  java/code/src/com/redhat/rhn/frontend/servlets/AuthFilter.java
  java/spacewalk-java.changes.rmateus.master
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8594 update list of package gpg keys in the database
  schema/spacewalk/common/data/rhnPackageKey.sql
  schema/spacewalk/susemanager-schema.changes.mc.update-provider
  schema/spacewalk/upgrade/susemanager-schema-5.0.6-to-susemanager-schema-5.0.7/001-add-package-keys.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8621 QE: 5.0 BV fixes
  testsuite/features/build_validation/add_non_MU_repositories/alma8_minion_build_clm.feature
Labels: testing, ruby_rubocop, build-validation-features

#8598 Simplify long strings where possible in GitHub CI `podman_runner`.
  .github/workflows/acceptance_tests_common.yml
  susemanager/bin/server-migrator.sh
  testsuite/podman_runner/00_setup_env.sh
  testsuite/podman_runner/01_setup_tmp_dirs.sh
  testsuite/podman_runner/02_setup_network.sh
  testsuite/podman_runner/03_run_controller.sh
  testsuite/podman_runner/04_setup_ssh_controller.sh
  testsuite/podman_runner/05_install_gems_in_controller.sh
  testsuite/podman_runner/06_collect_and_tag_flaky_tests_in_controller.sh
  testsuite/podman_runner/07_start_server.sh
  testsuite/podman_runner/08_manager_setup.sh
  testsuite/podman_runner/09_build_server_code.sh
  testsuite/podman_runner/10_run_sshminion.sh
  testsuite/podman_runner/11_setup_sshd.sh
  testsuite/podman_runner/12_run_core_tests.sh
  testsuite/podman_runner/13_run_salt_sle_minion.sh
  testsuite/podman_runner/14_run_salt_rhlike_minion.sh
  testsuite/podman_runner/15_run_salt_deblike_minion.sh
  testsuite/podman_runner/16_accept_all_keys.sh
  testsuite/podman_runner/17_run_init_clients_tests.sh
  testsuite/podman_runner/18_run_secondary_tests.sh
  testsuite/podman_runner/19_run_secondary_parallelizable_tests.sh
  testsuite/podman_runner/19_run_secondary_parallelizable_tests_subset.sh
  testsuite/podman_runner/19_split_secondary_p_tests.sh
  testsuite/podman_runner/20_get_server_logs.sh
  testsuite/podman_runner/21_get_client_logs.sh
Labels: susemanager_unittests, testing, ruby_rubocop

#8632 Enable PAM Authentication by default
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.mbussolotto.pam_default
Labels: ui, javascript_lint

#8624 Added serializer for rebootSuggested and restartSuggested
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ErrataOverviewSerializer.java
  java/spacewalk-java.changes.quinilo.master
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8629 Prevent NPE when processing reboot needed beacon event
  java/code/src/com/suse/manager/reactor/SaltReactor.java
  java/spacewalk-java.changes.rmateus.m43_null_pointer_reboot_info
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-events-listener

#8631 Build with java11
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui, needs-translation

#8636 QE: Improve apply patch in BV
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8546 QE: Additional docstrings into test framework code
  .github/workflows/yard-doc-test-framework.yml
  testsuite/.rubocop.yml
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/content_lifecycle_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/api_test.rb
  testsuite/features/support/cobbler_test.rb
  testsuite/features/support/code_coverage.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/custom_formatter.rb
  testsuite/features/support/env.rb
  testsuite/features/support/file_management.rb
  testsuite/features/support/http_client.rb
  testsuite/features/support/kubernetes.rb
  testsuite/features/support/lavanda.rb
  testsuite/features/support/namespaces/actionchain.rb
  testsuite/features/support/namespaces/activationkey.rb
  testsuite/features/support/namespaces/api.rb
  testsuite/features/support/namespaces/audit.rb
  testsuite/features/support/namespaces/channel.rb
  testsuite/features/support/namespaces/configchannel.rb
  testsuite/features/support/namespaces/image.rb
  testsuite/features/support/namespaces/kickstart.rb
  testsuite/features/support/namespaces/schedule.rb
  testsuite/features/support/namespaces/system.rb
  testsuite/features/support/namespaces/user.rb
  testsuite/features/support/xmlrpc_client.rb
Labels: ci-pipelines, testing, ruby_rubocop, test-framework

#8622 QE: Refactor BV Proxy stage
  testsuite/Rakefile
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/build_validation/init_clients/proxy_traditional.feature
Labels: testing, ruby_rubocop, build-validation-features

#8644 QE: Fix typo in Create auto installation profile
  testsuite/features/secondary/proxy_container_cobbler_pxeboot.feature
Labels: secondary-features, testing, ruby_rubocop

#8647 QE: Re-order BV smoke tests in order to fix IPv6 issue
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features

#8627 Container proxy: use SSL cert cnames as FQDNs
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/test/ProxyHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/ssl/SSLCertData.java
  java/code/src/com/suse/manager/ssl/SSLCertManager.java
  java/code/src/com/suse/manager/ssl/test/SSLCertManagerTest.java
  java/code/src/com/suse/manager/utils/ExecHelper.java
  java/code/src/com/suse/manager/webui/controllers/ProxyController.java
  java/code/src/com/suse/manager/webui/controllers/test/ProxyControllerTest.java
  java/spacewalk-java.changes.cbosdo.multi-fqdn
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8646 remove Azure environment and result type as we do not support it yet
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/model/attestation/CoCoEnvironmentType.java
  java/code/src/com/suse/manager/model/attestation/CoCoResultType.java
  java/code/src/com/suse/manager/model/attestation/test/AttestationFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, needs-translation

#8651 QE: Wait 10 min to sync custom channels
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8649 Fixed Alignment issue in credentials modal
  web/html/src/branding/css/susemanager/components/alerts.less
  web/html/src/branding/css/susemanager/components/alerts.scss
  web/spacewalk-web.changes.bisht-richa.fix-alignment-issue-credentials-modal
Labels: ui, javascript_lint, needs-translation

#8660 Fix schema migration for 'rhnChannelNewestPackageView'
  schema/spacewalk/upgrade/susemanager-schema-1.7.56.13-to-susemanager-schema-1.7.56.18/01_123-rhnChannelNewestPackageView.sql
  schema/spacewalk/upgrade/susemanager-schema-1.7.56.20-to-susemanager-schema-1.7.57/00_015-evr_t-max-replace.sql
  schema/spacewalk/upgrade/susemanager-schema-4.2.9-to-susemanager-schema-4.2.10/015-ignore-retracted-pkgs-in-newest-pkgs-view.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.17-to-susemanager-schema-4.3.18/000-ptf-package-visibility.sql
  schema/spacewalk/upgrade/susemanager-schema-4.3.4-to-susemanager-schema-4.3.5/030-rhnChannelNewestPackageView-fix-duplicates.sql
  schema/spacewalk/upgrade/susemanager-schema-4.4.3-to-susemanager-schema-4.4.4/400-ptf-package-visibility.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8612 Fixed alignment issue in Product table
  web/html/javascript/spacewalk-essentials.js
  web/html/src/branding/css/base/setup-wizard.less
  web/html/src/branding/css/base/setup-wizard.scss
  web/html/src/manager/admin/setup/products/products.tsx
  web/spacewalk-web.changes.bisht-richa.fixed-alignment-issue-product-table
Labels: ui, javascript_lint, needs-translation

#8628 Migrate user account pages to Bootstrap 5
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/admin/multiorg/orgcreate.jsp
  java/code/webapp/WEB-INF/pages/channel/channeldetail.jsp
  java/code/webapp/WEB-INF/pages/channel/manage/edit.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/activationkeys/details.jspf
  java/code/webapp/WEB-INF/pages/common/fragments/user/edit_user_table_rows.jspf
  java/code/webapp/WEB-INF/pages/kickstart/kickstartoptions.jsp
  java/code/webapp/WEB-INF/pages/user/create/usercreate.jsp
  java/spacewalk-java.changes.eth.config-pages-2.1
  web/html/src/branding/css/base/forms.less
  web/html/src/branding/css/base/forms.scss
  web/html/src/branding/css/susemanager-light.scss
  web/html/src/branding/css/susemanager/components/address.less
  web/html/src/branding/css/susemanager/components/address.scss
  web/html/src/branding/css/susemanager/components/buttons.suma.less
  web/html/src/branding/css/susemanager/components/buttons.suma.scss
  web/html/src/branding/css/susemanager/components/buttons.uyuni.scss
  web/html/src/branding/css/susemanager/components/inputs.less
  web/html/src/branding/css/susemanager/components/inputs.scss
  web/html/src/branding/css/susemanager/index.less
  web/html/src/branding/css/susemanager/index.scss
  web/html/src/branding/css/uyuni.scss
  web/html/src/components/datetime/DEPRECATED_DateTimePicker.tsx
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/components/input/Range.tsx
  web/html/src/components/picker/recurring-event-picker.tsx
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/html/src/manager/salt/cmd/remote-commands.tsx
  web/html/src/manager/virtualization/nets/properties/NetworkAddress.tsx
  web/spacewalk-web.changes.eth.config-pages-2.1
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, webapp, old-ui

#8630 Migrate notification messages page to Bootstrap 5
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/spacewalk-java.changes.etheryte.config-pages-3.1
  web/html/javascript/spacewalk-essentials.js
  web/html/src/branding/css/base/fixes.scss
  web/html/src/branding/css/base/setup-wizard.less
  web/html/src/branding/css/base/setup-wizard.scss
  web/html/src/branding/css/base/theme.less
  web/html/src/branding/css/base/theme.scss
  web/html/src/branding/css/susemanager/components/buttons.less
  web/html/src/branding/css/susemanager/components/buttons.scss
  web/html/src/branding/css/susemanager/components/buttons.suma.scss
  web/html/src/branding/css/susemanager/components/buttons.uyuni.scss
  web/html/src/branding/css/susemanager/components/date-time-picker.less
  web/html/src/branding/css/susemanager/components/date-time-picker.scss
  web/html/src/branding/css/susemanager/components/inputs.less
  web/html/src/branding/css/susemanager/components/inputs.scss
  web/html/src/branding/css/susemanager/components/nav.less
  web/html/src/branding/css/susemanager/components/nav.scss
  web/html/src/branding/css/susemanager/components/panels.scss
  web/html/src/branding/css/susemanager/components/panels.uyuni.scss
  web/html/src/branding/css/susemanager/components/tables.less
  web/html/src/branding/css/susemanager/components/tables.scss
  web/html/src/components/table/SearchField.tsx
  web/html/src/components/table/SearchPanel.module.less
  web/html/src/components/table/SearchPanel.tsx
  web/html/src/components/table/Table.test.tsx
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/components/table/TableFilter.tsx
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/notifications/notification-messages.tsx
  web/spacewalk-web.changes.etheryte.config-pages-3.1
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, webapp, old-ui, needs-translation

#8663 change java 17 syntax back to java 11 for uyuni bare installation
  java/code/src/com/suse/manager/webui/utils/gson/SystemScheduledRequestJson.java
  java/code/src/com/suse/manager/webui/utils/gson/SystemsCoCoSettingsJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8664 QE: Fix SLEM 5.5 activation key creation in BV
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#8669 Fix attestation image HEALTHCHECK
  containers/server-attestation-image/Dockerfile
  containers/server-attestation-image/server-attestation-image.changes.mackdk.fix-attestation-image-healthcheck
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, old-ui, cobbler

#8670 fix reference server setup
  testsuite/run_sets/reference_reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop

#8676 Bump the WebUI to 5.0.0 RC for SUSE Manager and to Uyuni 2024.05 for Uyuni
  web/conf/rhn_web.conf
Labels: ui, javascript_lint
