Repository uyuni-project/uyuni, pull requests merged in 2024-10, with the labels that each got.

#9319 QE: Fix openscap path for SLES
  testsuite/features/secondary/min_salt_openscap_audit.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9317 Move manual cucumber to GH
  testsuite/documentation/manual-cucumber.md
Labels: merge-candidate, testing, ruby_rubocop

#9310 Using Ruby 3.3 in Test DevContainer
  .devcontainer/test/Dockerfile
Labels: merge-candidate

#9321 Change path to store the code coverage report
  testsuite/features/support/code_coverage.rb
  testsuite/features/support/remote_node.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9320 [github] fix problem detecting when to run acceptance tests
  .github/workflows/acceptance_tests_common.yml
Labels: merge-candidate

#9326 Make sure the product page is loaded
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#9324 Helm charts fixes
  containers/proxy-helm/proxy-helm.changes.cbosdo
  containers/proxy-helm/proxy-helm.changes.cbosdo.helm-fixes
  containers/proxy-helm/templates/deployment.yaml
  containers/proxy-helm/values.yaml
  containers/server-helm/server-helm.changes.cbosdo
  containers/server-helm/server-helm.changes.cbosdo.helm-fixes
  containers/server-helm/templates/deployment.yaml
  containers/server-helm/values.yaml
  rel-eng/chart_push.sh
Labels: merge-candidate

#9333 Fix ubuntu 2004 reposync issue and 2204 reposync issue
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#9334 add SLES15-SP5-LTSS channel families
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/channel_families.json
  susemanager-sync-data/susemanager-sync-data.changes.mc.Manager-5.0-sles15-sp5-ltss
Labels: merge-candidate

#9347 Translation update
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  web/po/de.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#9346 Bump Web UI version to 2024.10 and schema db upgrades for spacewalk and reportdb
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

#9338 Add init proxy and init monitoring server to the fail fast tag
  testsuite/Rakefile
Labels: merge-candidate, testing, ruby_rubocop

#9354 Add wait for reposync for 5.0 proxy and 5.0 proxy retail channels.
  testsuite/features/reposync/srv_sync_products.feature
Labels: merge-candidate, testing, ruby_rubocop

#9353 Rename step verifying UI after reposync to better reflect the tests.
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#9357 Issv3 db schema
  schema/spacewalk/common/tables/suseISSHub.sql
  schema/spacewalk/common/tables/suseISSPeripheral.sql
  schema/spacewalk/common/tables/suseISSPeripheralChannels.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/upgrade/susemanager-schema-5.1.1-to-susemanager-schema-5.1.2/001-issv3-add-tables.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#9370 Finish openSUSE 15.4 removal
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9106 Add integration tests for native appstreams
  testsuite/features/secondary/min_rhlike_appstreams.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9118 Allow group assignment for foreign servers (bsc#1222447)
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/spacewalk-java.changes.nadvornik.foreign_group
  schema/spacewalk/common/data/rhnServerGroupTypeFeature.sql
  schema/spacewalk/susemanager-schema.changes.nadvornik.foreign_group
  schema/spacewalk/upgrade/susemanager-schema-5.1.0-to-susemanager-schema-5.1.1/010-foreign-groups.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate, webapp

#9172 Allow the listing of already included patches when importing them into a custom channel
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Errata_queries.xml
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/AddCustomErrataAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/AddErrataToChannelAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/AddRedHatErrataAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/webapp/WEB-INF/pages/channel/manage/adderrataredhat.jsp
  java/spacewalk-java.changes.welder.bsc1228856
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, webapp, data-model, old-ui, needs-translation

#9184 Detect and update errata when not all repository packages are linked
  python/spacewalk/satellite_tools/reposync.py
  python/spacewalk/spacewalk-backend.changes.welder.fix-reposync-package-errata-link
Labels: merge-candidate

#9260 Add new MAC based saltboot terminal naming
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/spacewalk-java.changes.oholecek.add_mac_naming
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#9113 Safer cobbler get_profile cast
  java/code/src/org/cobbler/Profile.java
  java/code/src/org/cobbler/test/ProfileTest.java
  java/spacewalk-java.changes.cbosdo.cobbler-cast-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, cobbler

#9293 New Cucumber tag to fail a scenario without running it, useful for some known issues
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9314 show Confidential Compute Attestation tab also for salt ssh managed clients
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/spacewalk-java.changes.mc.Manager-5.0-coco-attestation-salt-ssh
  testsuite/features/secondary/min_deblike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
  testsuite/features/secondary/min_salt_openscap_audit.feature
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, secondary-features, testing, ruby_rubocop, webapp

#9328 Support '^' in RPM version string when importing appstreams
  python/spacewalk/satellite_tools/appstreams.py
  python/spacewalk/spacewalk-backend.changes.cbbayburt.appstream-ver-fix
  python/test/unit/spacewalk/satellite_tools/test_appstreams.py
Labels: merge-candidate

#9337 UpdateAvailable notification parsing fix
  java/code/src/com/redhat/rhn/domain/notification/NotificationMessage.java
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/ChannelSyncFinished.java
  java/code/src/com/redhat/rhn/domain/notification/types/CreateBootstrapRepoFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/EndOfLifePeriod.java
  java/code/src/com/redhat/rhn/domain/notification/types/OnboardingFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/PaygAuthenticationUpdateFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/PaygNotCompliantWarning.java
  java/code/src/com/redhat/rhn/domain/notification/types/StateApplyFailed.java
  java/code/src/com/redhat/rhn/domain/notification/types/SubscriptionWarning.java
  java/code/src/com/redhat/rhn/domain/notification/types/UpdateAvailable.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/UpdateAvailableTest.java
  java/spacewalk-java.changes.cbosdo.notification-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#9383 Add aarch64 and ppc64 grub loaders
  containers/server-image/Dockerfile
  containers/server-image/server-image.changes.oholecek.add_missing_grub_efis
Labels: merge-candidate

#9388 Remove the remaining unused dev chat JSP and config
  java/code/webapp/WEB-INF/includes/advertisements.jsp
  java/conf/rhn_java.conf
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, webapp

#9391 QE: update andromeda-dummy checksum
  testsuite/features/secondary/min_check_patches_install.feature
  testsuite/features/secondary/srv_check_channels_page.feature
Labels: secondary-features, testing, ruby_rubocop

#9381 Feature: Coexistence with user-defined states | Scenario: Create a user-defined state | Scenario: Trigger highstate from API | Scenario: Cleanup: remove user-defined state and the file it created
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9365 Feature: Retracted patches | Scenario: Installed retracted package should show icon in the system packages list | Scenario: Retracted package should not be available for upgrade | Scenario: Retracted patch should not affect any system
  testsuite/features/secondary/min_retracted_patches.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9038 improve cleanup of reboot actions
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.hbm.xml
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes.mc.improve-handling-of-job-returns
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#9311 use external hostname in email subject
  java/code/src/com/redhat/rhn/frontend/events/TraceBackAction.java
  java/code/src/com/redhat/rhn/taskomatic/task/TaskHelper.java
  java/spacewalk-java.changes.mcalmer.fix-hostname-in-mail-title
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#9329 Fix font icon style assignment (bsc#1231378)
  java/code/src/com/redhat/rhn/frontend/taglibs/list/ListTagUtil.java
  java/spacewalk-java.changes.eth.fa2
  web/html/src/branding/css/susemanager/components/icons.less
  web/html/src/branding/css/susemanager/components/icons.scss
  web/html/src/branding/css/susemanager/index.less
  web/html/src/branding/css/susemanager/index.scss
  web/spacewalk-web.changes.eth.fa2
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#9397 Add productname api
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/api/ApiHandler.java
  java/code/src/com/suse/manager/api/HttpApiRegistry.java
  java/code/src/com/suse/manager/webui/controllers/login/LoginController.java
  java/code/src/com/suse/scc/client/SCCRequestFactory.java
  java/code/src/com/suse/scc/client/SCCWebClient.java
  java/spacewalk-java.changes.mc.Manager-5.0-fix-reportdb-update-with-container
  schema/spacewalk/common/tables/rhnActionApplyStates.sql
  schema/spacewalk/susemanager-schema.changes.mc.Manager-5.0-fix-reportdb-update-with-container
  schema/spacewalk/upgrade/susemanager-schema-5.1.1-to-susemanager-schema-5.1.2/002-rhnActionApplyStates.sql
  susemanager-utils/susemanager-sls/Makefile.python
  susemanager-utils/testing/automation/susemanager-sls-tests.sh
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, xmlrpc, old-ui

#9375 Issv3 hibernate schema
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
  java/code/src/com/suse/manager/model/hub/HubFactory.java
  java/code/src/com/suse/manager/model/hub/IssHub.java
  java/code/src/com/suse/manager/model/hub/IssPeripheral.java
  java/code/src/com/suse/manager/model/hub/IssPeripheralChannels.java
  java/code/src/com/suse/manager/model/hub/test/HubFactoryTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9386 Add React keys in subscribe-channels (issue #8729)
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.tsx
Labels: ui, javascript_lint, needs-translation

#9389 QE: Use the same e-mail for all users created through the test framework
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#9404 Rubocop Rakefile fixes
  testsuite/Rakefile
Labels: secondary-features, testing, ruby_rubocop

#9406 On Rocky 8, autoconf depends on perl but CLM doesn't extract perl
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#9313 suma_minion: prevent issues when calling Salt runners (bsc#1228232)
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.meaksh.Manager-4.3-bsc1228232
  susemanager-utils/susemanager-sls/test/test_pillar_suma_minion.py
  testsuite/features/secondary/srv_salt_git_pillar.feature
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/upload_files/salt_git_pillar_setup.sh
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#9405 BV: Skip the creation of an user per feature in BV, and so always use admin on global variables. Plus missing an update of values on them when login via WebUI, to keep both aligned
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#8555 Remove stringtree-json dependency in favor of google gson
  java/buildconf/build-props.xml
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/code/src/com/redhat/rhn/common/util/StringUtil.java
  java/code/src/com/redhat/rhn/frontend/action/audit/AuditSearchAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/EditChannelAction.java
  java/code/src/com/redhat/rhn/frontend/action/schedule/ActionChainSaveAction.java
  java/code/src/com/redhat/rhn/frontend/action/schedule/test/ActionChainSaveActionTest.java
  java/code/src/com/redhat/rhn/frontend/struts/ActionChainHelper.java
  java/code/src/com/redhat/rhn/frontend/struts/test/ActionChainHelperTest.java
  java/spacewalk-java.changes.mackdk.drop-stringtree
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#9416 QE: correctly upgrade Salt in product migrations
  testsuite/features/build_validation/migration/sle15sp3_minion_migration.feature
  testsuite/features/build_validation/migration/sle15sp3_ssh_minion_migration.feature
Labels: testing, ruby_rubocop, build-validation-features

#9399 Ensure the reporting database username is lowercase
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/spacewalk-java.changes.mackdk.reportdb-ensure-lowercase-username
  schema/spacewalk/susemanager-schema.changes.mackdk.reportdb-ensure-lowercase-username
  schema/spacewalk/upgrade/susemanager-schema-5.1.1-to-susemanager-schema-5.1.2/000-convert-reportdb-users-to-lowercase.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#9419 QE: Create user only for certains feature, otherwise keep the same user
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9398 Fix NPE if child channel has no parent (bsc#1231053)
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/spacewalk-java.changes.mbussolotto.npe_kickstart
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui
