Repository uyuni-project/uyuni, pull requests merged in 2024-11, with the labels that each got.

#9417 Make Bootstrap 5 styles the global default
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/ssm/systems/misc/index.jsp
  java/spacewalk-java.changes.eth.all-view
  web/html/src/branding/css/base/theme.scss
  web/html/src/branding/css/susemanager/components/buttons.suma.scss
  web/html/src/branding/css/susemanager/components/lists.scss
  web/html/src/branding/css/susemanager/components/mark.scss
  web/html/src/branding/css/susemanager/components/tables.scss
  web/html/src/branding/css/susemanager/index.scss
  web/html/src/build/webpack.config.js
  web/html/src/components/virtual-list/VirtualList.module.less
  web/html/src/components/virtual-list/VirtualList.tsx
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.module.css
  web/html/src/manager/content-management/shared/components/panels/sources/channels/channels-selection.tsx
  web/spacewalk-web.changes.eth.all-view
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, testing, ruby_rubocop, webapp, needs-translation

#9244 remove unused module dobby
  python/spacewalk/satellite_tools/spacewalk-debug
  web/conf/rhn_dobby.conf
  web/modules/Makefile
  web/modules/dobby/Changes
  web/modules/dobby/Dobby.pm
  web/modules/dobby/Dobby/BackupLog.pm
  web/modules/dobby/Dobby/CLI.pm
  web/modules/dobby/Dobby/CLI/BackupCommands.pm
  web/modules/dobby/Dobby/CLI/MaintCommands.pm
  web/modules/dobby/Dobby/CLI/MiscCommands.pm
  web/modules/dobby/Dobby/DB.pm
  web/modules/dobby/Dobby/Files.pm
  web/modules/dobby/Dobby/Log.pm
  web/modules/dobby/Dobby/Reporting.pm
  web/modules/dobby/Makefile
  web/modules/dobby/Makefile.PL
  web/modules/dobby/scripts/check-database-space-usage.sh
  web/modules/dobby/scripts/db-control
  web/modules/dobby/test.pl
  web/spacewalk-web.changes.rmateus.uyuni_remove_dobby_perl
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#9366 Not present duplicated package on XML-RPC API endpoint(bsc#1231430
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/spacewalk-java.changes.rmateus.Manager-4.3
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9428 Add check after ssh reboot for venv-salt-minion service
  testsuite/features/build_validation/init_clients/slemicro51_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_minion.feature
  testsuite/features/build_validation/init_clients/slemicro55_minion.feature
  testsuite/features/build_validation/init_clients/slmicro60_minion.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#9436 QE: Kiwi compressed images
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/config.xml
Labels: testing, ruby_rubocop

#9341 mark dmidecode and logrotate as optional for Liberty 7 LTSS
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mc.Manager-5.0-res7ltss-optional-dmidecode
Labels: python3, susemanager_unittests

#8943 Adapt channel change
  java/code/src/com/redhat/rhn/domain/channel/AccessTokenFactory.java
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartableTree.java
  java/code/src/com/redhat/rhn/domain/server/MinionServer.java
  java/code/src/com/redhat/rhn/domain/server/MinionServerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/test/ChannelSoftwareHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionExecutor.java
  java/code/src/com/suse/manager/reactor/messaging/ChannelsChangedEventMessageAction.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectSourcesApiController.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/spacewalk-java.changes.mc.adapt-channel-change
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, content-management, salt-actions-implementations, data-model, xmlrpc, old-ui

#9438 Fix the format of the command in print_server_logs function
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#9429 Make Bootstrap 5 scripts the global default
  java/code/src/com/redhat/rhn/frontend/taglibs/list/AlphaBarHelper.java
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/code/webapp/WEB-INF/includes/header.jsp
  java/code/webapp/WEB-INF/pages/admin/setup/mirror-credentials-list.jsp
  java/code/webapp/WEB-INF/pages/admin/setup/mirror-credentials.jsp
  java/code/webapp/WEB-INF/pages/common/fragments/kickstart/kickstart-rules.jspf
  java/code/webapp/WEB-INF/pages/schedule/actionchain.jsp
  java/code/webapp/WEB-INF/pages/ssm/systems/deleteconfirmdialog.jspf
  web/html/src/branding/css/base/setup-wizard.less
  web/html/src/branding/css/base/setup-wizard.scss
  web/html/src/branding/css/susemanager/components/buttons.suma.scss
  web/html/src/branding/css/susemanager/components/dropdown-menu.scss
  web/html/src/branding/css/susemanager/index.scss
  web/html/src/build/webpack.config.js
  web/html/src/components/buttons.tsx
  web/html/src/components/dialog/Dialog.tsx
  web/html/src/components/panels/Panel.tsx
  web/html/src/components/popup.tsx
  web/html/src/components/states-picker.tsx
  web/html/src/manager/content-management/shared/components/panels/build/build-version.tsx
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/html/src/styleguide/template.js
  web/spacewalk-web.changes.eth.global-scripts
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, webapp, old-ui

#9452 Translation update
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#9435 Prepare packages for SUSE Manager 5.1
  java/conf/rhn_java.conf
  java/spacewalk-java.changes.mc.prepare51
  java/spacewalk-java.spec
  java/tito.props
  python/spacewalk/spacewalk-backend.changes.mc.prepare51
  python/spacewalk/tito.props
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9431 Quality Intelligence
  testsuite/.rubocop.yml
  testsuite/Gemfile
  testsuite/documentation/api.md
  testsuite/documentation/code-coverage.md
  testsuite/documentation/software-components.md
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/system_monitoring_steps.rb
  testsuite/features/support/code_coverage.rb
  testsuite/features/support/env.rb
  testsuite/features/support/keyvalue_store.rb
  testsuite/features/support/metrics_collector_handler.rb
  testsuite/features/support/namespaces/system.rb
  testsuite/features/support/quality_intelligence.rb
  testsuite/features/support/system_monitoring.rb
Labels: ci-pipelines, testing, ruby_rubocop, test-framework

#9459 QI: Moving reporting of sync duration to the end of the feature and fixing a wrong type.
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/quality_intelligence.rb
Labels: testing, ruby_rubocop, test-framework

#9458 QE: wait for the Setup Wizard page to be ready
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#9460 Refactor wait reposync
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/system_monitoring_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/remote_node.rb
  testsuite/features/support/system_monitoring.rb
Labels: testing, ruby_rubocop, test-framework

#9464 Add provisionSystem API with proxy option
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerProvisioningTest.java
  java/code/src/com/redhat/rhn/testing/RhnMockHttpServletRequest.java
  java/spacewalk-java.changes.oholecek.add_proxy_api_provisioning
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#9378 Improve starting ipmi_sim program
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9462 Don't raise an error for now, if a reposync.log is not processed correctly
  testsuite/features/support/system_monitoring.rb
Labels: testing, ruby_rubocop, test-framework

#9465 Handle the different output depending the API protocol for event_details
  testsuite/features/support/system_monitoring.rb
Labels: testing, ruby_rubocop, test-framework

#9473 Make a deep copy of a map value and add more logs when processing and pushing metrics
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/metrics_collector_handler.rb
  testsuite/features/support/system_monitoring.rb
Labels: testing, ruby_rubocop, test-framework

#9478 fix syntax error
  java/code/src/com/redhat/rhn/common/util/http/HttpClientAdapter.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9367 Do not use postgres extensions dblink and pgcrypto
  schema/reportdb/postgres/start.sql
  schema/reportdb/upgrade/uyuni-reportdb-schema-5.1.2-to-uyuni-reportdb-schema-5.1.3/001-drop-extensions.sql
  schema/reportdb/uyuni-reportdb-schema.changes.nadvornik.drop_pg_ext
  schema/sm-specific-schema-patches/scopy.sh
  schema/sm-specific-schema-patches/template/2014-pg_dblink_exec.sql.postgresql.dif
  schema/spacewalk/postgres/procs/pg_dblink_exec.sql
  schema/spacewalk/postgres/procs/procs.deps
  schema/spacewalk/postgres/start.sql
  schema/spacewalk/susemanager-schema.changes.nadvornik.drop_pg_ext
  schema/spacewalk/upgrade/susemanager-schema-5.1.1-to-susemanager-schema-5.1.2/001-drop-extensions.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#9439 Fix uyuni proxy sync
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#9476 Trigger a mgr-sync refresh at the beginning of reposync feature
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9487 Validate proxy hostname format and escape proxy username to mitigate XSS vulnerabilities
  web/html/javascript/spacewalk-essentials.js
  web/html/javascript/susemanager-setup-wizard-proxy-settings.js
  web/spacewalk-web.changes.welder.bsc1231852
Labels: ui, javascript_lint, needs-translation

#9486 limit frontend-log message size (bsc#1231900)
  java/code/src/com/suse/manager/webui/controllers/FrontendLogController.java
  java/spacewalk-java.changes.kwalter.bsc1231900
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9492 Uyuni 2024.10 patch - CVE-2024-49502 bsc#1231852, CVE-2024-49503 bsc#1231922, bsc#1231900
  java/code/src/com/suse/manager/webui/controllers/FrontendLogController.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
  rel-eng/packages/spacewalk-web
  web/html/javascript/spacewalk-essentials.js
  web/html/javascript/susemanager-setup-wizard-mirror-credentials.js
  web/html/javascript/susemanager-setup-wizard-proxy-settings.js
  web/spacewalk-web.changes
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#9495 update httpclient and other java libs
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  search-server/spacewalk-search/buildconf/obs-maven-config.yaml
  search-server/spacewalk-search/ivy.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9504 Add a test for the UserSerializer class
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/test/UserSerializerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#9342 Drop unused dependency `react-styleguidist`
  web/html/src/package.json
  web/html/src/yarn.lock
Labels: ui, javascript_lint

#9076 Make salt-broker less dependant on spacewalk libs
  proxy/proxy/salt-broker/salt-broker
  proxy/proxy/spacewalk-proxy.changes.vzhestkov.salt-broker-no-strict-spacewalk-req
Labels: proxy

#9075 Add IPv6 support for salt-broker (bsc#1227827)
  proxy/proxy/salt-broker/salt-broker
  proxy/proxy/spacewalk-proxy.changes.vzhestkov.implement-ipv6-for-salt-broker
Labels: proxy

#9074 Make salt-broker reconnecting on master IP change
  proxy/proxy/salt-broker/salt-broker
  proxy/proxy/spacewalk-proxy.changes.vzhestkov.make-salt-broker-master-ip-change
Labels: proxy

#9343 Update `dompurify`
  web/html/src/package.json
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.dompurify
Labels: ui, javascript_lint

#9049 Refactor Ant deployment
  java/buildconf/manager-developer-build.properties.example
  java/manager-build.xml
  testsuite/podman_runner/09_build_server_code.sh
Labels: java, java_lint_checkstyle, java_pgsql_tests, testing, ruby_rubocop

#9514 Fix dangling old theme reference
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/spacewalk-java.changes.eth.login
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#9518 Remove DWR dependency
  java/spacewalk-java.changes.mackdk.remove-dwr-dependency
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9517 updated UI tip pointing to new kickstarts template directory (bsc#1221219)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/spacewalk-java.changes.carlo.Manager-4.3-fix-kickstart-string
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, needs-translation

#9515 Filter package lock failures from salt event parser
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9513 Remove unused dependency, pin Bootstrap for subdependencies
  web/html/src/package.json
  web/html/src/yarn.lock
Labels: ui, javascript_lint

#9472 Fixed place holder message text in Upgrade package page
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/spacewalk-java.changes.bisht-richa.search-placeholder-text
  testsuite/features/step_definitions/navigation_steps.rb
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, testing, ruby_rubocop, test-framework, old-ui, needs-translation

#9519 Add SLE 15 SP6 to the resposync on Uyuni
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#9526 Check for the expected pillar data after enabling Git pillar stability
  testsuite/features/secondary/srv_salt_git_pillar.feature
Labels: secondary-features, testing, ruby_rubocop

#9384 Refactor salt cleanup step
  testsuite/features/step_definitions/salt_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features
