Repository uyuni-project/uyuni, pull requests merged in 2024-07, with the labels that each got.

#8958 change Errata cve column to type text
  schema/reportdb/common/tables/Errata.sql
  schema/reportdb/upgrade/uyuni-reportdb-schema-5.0.5-to-uyuni-reportdb-schema-5.0.6/001-alter-errata-cve-column.sql
  schema/reportdb/uyuni-reportdb-schema.changes.mc.master
Labels: merge-candidate

#9001 Removed usages of deprecated SnakeYAML `SafeConstructor()`
  java/code/src/com/redhat/rhn/domain/formula/FormulaFactory.java
  java/code/src/com/redhat/rhn/manager/formula/FormulaManager.java
  java/code/src/com/suse/manager/webui/controllers/AnsibleController.java
  java/spacewalk-java.changes.mackdk.prepare-for-snakeyaml-upgrade
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#8991 TEST
  .github/workflows/acceptance_tests_common.yml
  .github/workflows/acceptance_tests_secondary_parallel.yml
  java/code/src/com/suse/manager/webui/Languages.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8989 QE: generate Rakefiles for BV migration tests
  testsuite/Rakefile
  testsuite/run_sets/build_validation/build_validation_migration.yml
Labels: ci-pipelines, testing, ruby_rubocop

#9010 Jordimassaguerpla patch 4
  .github/workflows/acceptance_tests_common.yml
  .github/workflows/acceptance_tests_secondary_parallel.yml
  .github/workflows/jordi-test.yml
  java/code/src/com/suse/cloud/domain/BillingDimension.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9016 Add file now needed to reboot SLES 12 terminals
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_head/sysconfig/bootloader
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS6_head/sysconfig/bootloader
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_head/sysconfig/bootloader
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_head/sysconfig/bootloader
Labels: testing, ruby_rubocop

#9009 QE: do not unregister the Salt migration minion
  testsuite/features/build_validation/migration/salt_migration_minion_migration.feature
Labels: testing, ruby_rubocop, build-validation-features

#9014 QE: correctly reset the API client
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9021 Fix wrong location of new file
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_head/root/etc/sysconfig/bootloader
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS6_head/root/etc/sysconfig/bootloader
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_head/root/etc/sysconfig/bootloader
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_head/root/etc/sysconfig/bootloader
Labels: testing, ruby_rubocop

#9015 Fix recurring custom state configs being deleted during migration
  schema/spacewalk/susemanager-schema.changes.parlt.fix-recurring-state-config-migration
  schema/spacewalk/upgrade/susemanager-schema-4.4.6-to-susemanager-schema-4.4.7/100-update-recurring-action.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8965 Update profile name (standart not available anymore)
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#9031 Add missing migration paths from 5.0.8 to 5.0.9
  schema/spacewalk/upgrade/susemanager-schema-5.0.8-to-susemanager-schema-5.0.9/.gitkeep
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#9039 QE: use Rocky 8 specifig xml for OpenScap audit
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#9040 QE: correct names for paramaters in kickstart API calls
  testsuite/features/support/namespaces/kickstart.rb
Labels: testing, ruby_rubocop

#9048 Fix custom state recurring actions being inserted into recurringHighstate table
  schema/spacewalk/susemanager-schema.changes.parlt.master
  schema/spacewalk/upgrade/susemanager-schema-4.4.6-to-susemanager-schema-4.4.7/100-update-recurring-action.sql
  schema/spacewalk/upgrade/susemanager-schema-5.0.9-to-susemanager-schema-5.0.10/.gitkeep
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#9050 QE: reboot and check server health after hostname change
  testsuite/features/secondary/srv_rename_hostname.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#9044 Bump the WebUI version to 2024.07
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.raul.bump_uyuni_2024.07
Labels: ui, javascript_lint

#8715 Speed-up mgrutil.remove_ssh_known_host runner function
  susemanager-utils/susemanager-sls/modules/runners/mgrutil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.agraul.speedup-mgrutil-remove-known-host
Labels: merge-candidate

#8855 prevent NPE when listing history events without completion time
  java/code/src/com/redhat/rhn/frontend/dto/HistoryEvent.java
  java/spacewalk-java.changes.mcalmer.fix-NPE-in-event-history
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, old-ui

#8890 fix byte-buddy runtime dependency
  java/buildconf/build-props.xml
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/spacewalk-java.changes.mbussolotto.byte-buddyy
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#8918 Update PR template to encourage covering new functionalities with e2e tests
  .github/PULL_REQUEST_TEMPLATE.md
Labels: merge-candidate

#8955 Remove unused MinionActionChainCleanup job
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionChainCleanup.java
  java/spacewalk-java.changes.mackdk.remove-minionactionchaincleanup
  schema/spacewalk/common/data/rhnTaskoBunch.sql
  schema/spacewalk/common/data/rhnTaskoSchedule.sql
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
  schema/spacewalk/susemanager-schema.changes.mackdk.remove-minionactionchaincleanup
  schema/spacewalk/upgrade/susemanager-schema-5.0.7-to-susemanager-schema-5.0.8/002-remove-minonactionchaincleanup.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate

#8982 Fix package profile update on CentOS 7 when yum-utils is not installed
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes.welder.fix-centos7-pkg-profile-update
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.welder.fix-centos7-pkg-profile-update
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#8994 Do not throw exception if the nonce/report are not available
  microservices/coco-attestation/attestation-module-snpguest/src/main/java/com/suse/coco/module/snpguest/SNPGuestWorker.java
  microservices/coco-attestation/attestation-module-snpguest/src/test/java/com/suse/coco/module/snpguest/SNPGuestWorkerTest.java
  microservices/coco-attestation/uyuni-coco-attestation.changes.mackdk.attestation-fix-report-missing
Labels: merge-candidate

#8997 include proxy products for aarch64
  java/code/src/com/redhat/rhn/domain/channel/ChannelFamilyFactory.java
  java/code/src/com/redhat/rhn/domain/cloudpayg/PaygProductFactory.java
  java/spacewalk-java.changes.mc.payg-proxy-product-for-aarch64
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#9003 Fix importing module metadata from REMI's repositories
  python/spacewalk/satellite_tools/appstreams.py
  python/spacewalk/spacewalk-backend.changes.cbbayburt.appstreams-reposync-8972
  python/test/unit/spacewalk/satellite_tools/test_appstreams.py
Labels: merge-candidate

#9013 Fix transactional update check for SL Micro
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerConstants.java
  java/spacewalk-java.changes.welder.bsc1227406
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#9019 change to new and working repo urls
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/susemanager-sync-data.changes.kwalter.centos7
Labels: merge-candidate

#9055 remove mgr-check-payg service
  spacewalk/admin/Makefile.admin
  spacewalk/admin/mgr-check-payg.service
  spacewalk/admin/spacewalk-admin.spec
  spacewalk/admin/spacewalk-startup-helper
  spacewalk/admin/spacewalk.target
Labels: merge-candidate

#8718 Split uptodate state
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/recurringaction/RecurringCustomStateHandler.java
  java/spacewalk-java.changes.parlt.split-uptodate
  schema/spacewalk/common/data/suseInternalState.sql
  schema/spacewalk/susemanager-schema.changes.parlt.split-uptodate
  schema/spacewalk/upgrade/susemanager-schema-5.0.7-to-susemanager-schema-5.0.8/100-split-updtodate-state.sql
  susemanager-utils/susemanager-sls/salt/reboot.sls
  susemanager-utils/susemanager-sls/salt/rebootifneeded.sls
  susemanager-utils/susemanager-sls/salt/uptodate.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.parlt.split-uptodate
  web/html/src/components/states-picker.tsx
  web/spacewalk-web.changes.parlt.split-uptodate
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, xmlrpc, old-ui, needs-translation

#9017 Fix channel selection using SSM
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/spacewalk-web.changes.parlt.fix-ssm-channel-change
Labels: ui, javascript_lint, needs-translation

#9059 Check the correct salt package before product migration (bsc#1224209)
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-target.jsp
  java/spacewalk-java.changes.nadvornik.salt_package
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, old-ui

#9082 Add API description for UserNotificationsHandler
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserNotificationsHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#9083 Do not use Stream.toList() for Java 11
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserNotificationsHandler.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8876 Change syncAll call at start-up to be asynchronous (bsc#1224004)
  java/code/src/com/redhat/rhn/manager/satellite/UpgradeCommand.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/TestSaltApi.java
  java/spacewalk-java.changes.rmateus.salt_sync_call_startup
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9067 QE: Remove BETA from products after SUMA release
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#9071 BV: use option fail fast during clients bootstrap stage
  testsuite/Rakefile
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9069 Create a user for each client in BV
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/api_common.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#9030 yum_src: use proper name variable name for "subprocess.TimeoutExpired"
  python/spacewalk/satellite_tools/repo_plugins/yum_src.py
  python/spacewalk/spacewalk-backend.changes.meaksh.master-fix-timeoutexpired
Labels: merge-candidate

#9032 deb_src: introduce timeout when syncing DEB channels (bsc#1225960)
  python/spacewalk/common/repo.py
  python/spacewalk/satellite_tools/repo_plugins/deb_src.py
  python/spacewalk/spacewalk-backend.changes.meaksh.master-introduce-timeout-for-deb-reposync
Labels: merge-candidate

#8872 Drop unused hashrouter code
  web/html/src/components/utils/HashRouter.tsx
  web/html/src/components/utils/index.ts
Labels: ui, javascript_lint

#8881 Reverted back changes in table btn-group class
  web/html/src/branding/css/base/tables.less
  web/html/src/branding/css/base/tables.scss
Labels: ui, javascript_lint, needs-translation

#9034 Removed Bare-metal systems tab from Manager Configuration page
  web/html/src/manager/admin/config/monitoring-admin.tsx
  web/spacewalk-web.changes.bisht-richa.remove-bare-metal-systems-tab
Labels: ui, javascript_lint, needs-translation

#8899 Review fix ssm subpages
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/susemanager/components/inputs.scss
  web/html/src/branding/css/susemanager/components/text.scss
  web/html/src/branding/css/susemanager/index.scss
  web/html/src/components/coco-attestation/CoCoSettingsForm.tsx
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fix-SSM-subpages-layout
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#8907 Btn info inconsistent
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/susemanager/components/buttons.suma.scss
  web/html/src/branding/css/susemanager/components/buttons.uyuni.scss
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-btn-info-style-new-theme
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#8919 Fixed broken layout of system formulas configuration page
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/susemanager/components/panels.suma.scss
  web/html/src/branding/css/susemanager/components/panels.uyuni.scss
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-system-formulas-config-layout
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#8925 Fixed table footer top border
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/susemanager/components/panels.scss
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-missing-table-footer-border
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#8936 Added label css
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/susemanager/components/label.scss
  web/html/src/branding/css/susemanager/index.scss
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-badge-color-salt-key-page
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#8947 Fixed missing margins in CVE audit
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/base/forms.scss
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-missing-margin-cve-list
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#8956 Fixed advanced package search page layout
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/errata/erratasearch.jsp
  java/spacewalk-java.changes.bisht-richa.fixed-advanced-package-search-layout
  web/html/src/branding/css/base/tables.scss
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-advanced-package-search-layout
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#8960 Fixed OpenSCAP search page layout
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/audit/scap/xccdfsearch.jsp
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-open-scap-search-page-layout
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#8963 Fixed double padding in recurring actions
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/components/icontag.tsx
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/maintenance/details/schedule-details.tsx
  web/html/src/manager/maintenance/list/maintenance-windows-list.tsx
  web/html/src/manager/recurring/recurring-actions-list.tsx
  web/spacewalk-web.changes.bisht-richa.fixed-double-padding-irecurring-actions
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#8976 Fixed missing margin between inline radio buttons
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/base/forms.scss
  web/html/src/core/spa/view-helper.ts
  web/spacewalk-web.changes.bisht-richa.fixed-margin-maintenance-schedule-page
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#8977 Fixed broken layout in monitoring page
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/admin/config/monitoring-admin.tsx
  web/spacewalk-web.changes.bisht-richa.fixed-broken-layout-monitoring-page
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#8996 Fixed space between radio button and label
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/branding/css/base/forms.less
  web/html/src/branding/css/base/forms.scss
  web/html/src/components/action-schedule.tsx
  web/html/src/components/picker/recurring-event-picker.module.css
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/minion/ansible/schedule-playbook.tsx
  web/spacewalk-web.changes.bisht-richa.alignment-radio-buttons-label
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#9004 Fixed build image page layout in new theme
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/images/image-build.tsx
  web/spacewalk-web.changes.bisht-richa.fix-build-image-page-layout
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#9037 fix false positive ssh key generation error
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/spacewalk-java.changes.oholecek.fix_false_positive_ssh_gen_error
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9080 Fix action scheduler datetime selection if using maintenance windows
  web/html/src/components/action-schedule.tsx
  web/spacewalk-web.changes.parlt.fix-MW-datetime-selection
Labels: ui, javascript_lint, needs-translation

#9086 Fix appstreams queries to avoid duplicate packages
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/spacewalk-java.changes.welder.fix-duplicate-packages-appstreams
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9065 Improve SQL queries and performance to check for PTF packages (bsc#1225619)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/domain/rhnpackage/Package.java
  java/code/src/com/redhat/rhn/domain/rhnpackage/Package_satellite.hbm.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerPtfTest.java
  java/code/src/com/redhat/rhn/testing/PackageTestUtils.java
  java/spacewalk-java.changes.meaksh.master-improve-perforance-to-check-for-ptf-packages
  python/spacewalk/satellite_tools/xmlSource.py
  python/spacewalk/server/importlib/backendLib.py
  python/spacewalk/server/importlib/backendOracle.py
  python/spacewalk/server/importlib/packageImport.py
  python/spacewalk/spacewalk-backend.changes.meaksh.master-improve-perforance-to-check-for-ptf-packages
  schema/spacewalk/common/tables/rhnPackage.sql
  schema/spacewalk/common/views/susePackageExcludingPartOfPtf.sql
  schema/spacewalk/susemanager-schema.changes.meaksh.master-improve-perforance-to-check-for-ptf-packages
  schema/spacewalk/upgrade/susemanager-schema-5.0.8-to-susemanager-schema-5.0.9/300-replace-susePackageExcludingPartOfPtf-view.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate, data-model, xmlrpc, old-ui

#9057 Autoinstallation: prevent issues with duplicate IP address due to some networks (bsc#1226461)
  java/code/src/com/redhat/rhn/domain/server/NetworkInterface.java
  java/code/src/com/redhat/rhn/domain/server/test/NetworkInterfaceTest.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerSystemCreateCommand.java
  java/spacewalk-java.changes.meaksh.Manager-4.3-prevent-issues-on-duplicate-ips-bsc1226461
  susemanager-utils/susemanager-sls/src/modules/sumautil.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.meaksh.Manager-4.3-prevent-issues-on-duplicate-ips-bsc1226461
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#9099 Fix typo on directories to cleanup when deleting a system (bsc#1228101)
  susemanager-utils/susemanager-sls/salt/cleanup_minion/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.meaksh.master-bsc1228101
Labels: merge-candidate

#9046 QE: Enable SLL 7 LTSS reposync in BV
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#9108 QE : BV : cleanup bv sequential leftover
  testsuite/Rakefile
  testsuite/run_sets/build_validation/build_validation_add_MU_repositories.yml
  testsuite/run_sets/build_validation/build_validation_add_activation_keys.yml
  testsuite/run_sets/build_validation/build_validation_add_non_MU_channels.yml
  testsuite/run_sets/build_validation/build_validation_create_bootstrap_repositories.yml
  testsuite/run_sets/build_validation/build_validation_init_clients.yml
  testsuite/run_sets/build_validation/build_validation_smoke_tests.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop

#9094 QE: do not remove OS Salt during product migrations
  testsuite/features/build_validation/migration/sle15sp3_minion_migration.feature
  testsuite/features/build_validation/migration/sle15sp3_ssh_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_ssh_minion_migration.feature
Labels: testing, ruby_rubocop, build-validation-features

#9100 Synchronize and use Rocky Linux 8 product for suse manager setup
  testsuite/features/build_validation/add_non_MU_repositories/rocky8_minion_add_iso_and_build_clm.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#9079 BV: Add possibility to generate bootstrap repository without flush option for s390 arch
  testsuite/Rakefile
  testsuite/features/build_validation/create_bootstrap_repositories/create_bootstrap_repository.template
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#9116 Add info URL to autoinstallation to cleanup the cobbler profile once done
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes.cbosdo.ks-cancel
Labels: java, java_lint_checkstyle, java_pgsql_tests, salt-actions-implementations

#9081 QE: Use new Timeout::Error instead of deprecated TimeoutError
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#9124 Merge two steps of folder's removal into one
  testsuite/features/secondary/srv_handle_config_channels_with_ISS_v2.feature
  testsuite/features/secondary/srv_handle_software_channels_with_ISS_v2.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/file_management.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework
