Repository uyuni-project/uyuni, pull requests merged in 2024-05, with the labels that each got.

#8679 Fix issues with changelogs
  client/tools/mgr-push/mgr-push.changes.juliogonzalez.missing-clogs
  python/spacewalk/spacewalk-backend.changes.cbosdo.Manager-4.3
  spacecmd/spacecmd.changes.juliogonzalez.missing-clogs
  spacewalk/config/spacewalk-config.changes.juliogonzalez.missing-clogs
Labels: python3

#8697 QE: Fix Leap Micro/transactional system test suite issues
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8699 QE: Add opensuse 15.6 support only for aarch64 on BV
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/opensuse156arm_minion.feature
  testsuite/features/build_validation/init_clients/opensuse156arm_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/run_sets/build_validation/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8708 QE: Review migration features
  testsuite/features/build_validation/migration/salt_migration_minion_migration.feature
  testsuite/features/build_validation/migration/sle15sp3_minion_migration.feature
  testsuite/features/build_validation/migration/sle15sp3_ssh_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_ssh_minion_migration.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8700 configure the database to provide enough connections for our default setup
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes.mc.fix-default-db-connections
Labels: susemanager_unittests

#8702 Fix system overview list
  java/code/src/com/redhat/rhn/frontend/dto/SystemOverview.java
  java/spacewalk-java.changes.mc.Manager-4.3-MU-4.3.12-fix-systemlist
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8721 Add FQDNs from the proxy configuration to existing system
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/spacewalk-java.changes.cbosdo.multi-fqdn
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8716 QE: use real channels in product migration features
  testsuite/features/build_validation/migration/sle15sp3_minion_migration.feature
  testsuite/features/build_validation/migration/sle15sp3_ssh_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_ssh_minion_migration.feature
Labels: testing, ruby_rubocop, build-validation-features

#8720 Retail - fix proxy name
  testsuite/features/build_validation/retail/proxy_container_branch_network.feature
  testsuite/features/init_clients/proxy_container_branch_network.feature
  testsuite/features/step_definitions/retail_steps.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8744 Revert "Update spec file license generating, deprecate old Webpack plugin"
  .github/workflows/automatic-frontend-lint-fix-pr.yml
  .github/workflows/frontend-dependency-audit.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/javascript-build.yml
  .github/workflows/javascript-unit-tests.yml
  .github/workflows/typescript-compilation.yml
  .yarnrc
  web/html/src/build.js
  web/html/src/build/check-package.mjs
  web/html/src/build/fill-spec-file.js
  web/html/src/build/update-licenses.js
  web/html/src/build/webpack.config.js
  web/html/src/package.json
  web/html/src/vendors/licenses.template.ejs
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.spec-update
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#8745 Disable frontend license validation step until a proper fix is implemented
  java/manager-build.xml
  web/html/src/scripts/docker-javascript-lint.sh
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint

#8750 Removed Java 17 only feature in autogenerated equals
  java/code/src/com/suse/cloud/PaygComplainceInfo.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8605 Remove spacewalk-abrt related commands
  spacecmd/po/de.po
  spacecmd/po/es.po
  spacecmd/po/it.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/pt.po
  spacecmd/po/pt_BR.po
  spacecmd/po/ru.po
  spacecmd/po/si.po
  spacecmd/po/sk.po
  spacecmd/po/spacecmd.pot
  spacecmd/po/zh_CN.po
  spacecmd/po/zh_HK.po
  spacecmd/po/zh_TW.po
  spacecmd/spacecmd.changes.agraul.remove-spacewalk-abrt-refs
  spacecmd/src/spacecmd/system.py
Labels: python3, needs-translation

#8752 QE: The step to run mgr-sync will now fail if the error code is different than expected values 0 or 1
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8742 remove terminal escape sequences from output
  testsuite/features/support/lavanda.rb
Labels: testing, ruby_rubocop, test-framework

#8683 Increase reboot info beacon interval
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/spacewalk-java.changes.welder.reboot-beacon-interval
  schema/spacewalk/upgrade/susemanager-schema-5.0.6-to-susemanager-schema-5.0.7/200-enable-pillar-refresh.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model

#8774 QE: Remove sumaform cleanup of the container proxy
  testsuite/features/init_clients/proxy_container.feature
Labels: testing, ruby_rubocop

#8703 Print detailed error messages on AppStreams action failure
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/spacewalk-java.changes.cbbayburt.appstreams-error-results
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8783 Update the message as this requirement is not valid anymore
  spacecmd/src/spacecmd/proxy.py
  web/html/src/manager/proxy/container-config.tsx
Labels: python3, ui, javascript_lint, needs-translation

#8785 BV: Fix mark second check box/row in a list
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#8777 QE: If the repository is sync., wait until click Sync Now
  testsuite/features/build_validation/add_MU_repositories/add_maintenance_update_repositories.template
  testsuite/features/build_validation/add_MU_repositories/monitoring_server_add_maintenance_update_repositories.feature
  testsuite/features/build_validation/add_non_MU_repositories/centos7_minion_add_iso.feature
  testsuite/features/build_validation/add_non_MU_repositories/rocky8_minion_add_iso_and_build_clm.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#8781 checksum url failing because option -o have no space
  testsuite/features/support/file_management.rb
Labels: testing, ruby_rubocop, test-framework

#8776 QE: Fix constants for proxy in 5.0 and Uyuni BV environments
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#8771 Fixed missing pagination buttons icon
  java/code/src/com/redhat/rhn/frontend/taglibs/list/ListTagUtil.java
  java/spacewalk-java.changes.bisht-richa.fix-missing-pagination-icon
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8723 Add SLES 15 SP6
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/sle15sp6_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp6_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/run_sets/build_validation/build_validation_init_clients.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8789 QE: Refactor how Cobbler items are deleted
  testsuite/features/secondary/srv_cobbler_buildiso.feature
  testsuite/features/secondary/srv_cobbler_distro.feature
  testsuite/features/secondary/srv_cobbler_profile.feature
  testsuite/features/step_definitions/cobbler_steps.rb
  testsuite/features/support/cobbler_test.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8798 Change order of Retail features
  testsuite/run_sets/build_validation/build_validation_retail_proxy.yml
  testsuite/run_sets/build_validation/build_validation_retail_sle12.yml
  testsuite/run_sets/build_validation/build_validation_retail_sle15.yml
Labels: ci-pipelines, testing, ruby_rubocop

#8797 Replace getCobblerHost by getJavaHostname
  java/code/src/com/redhat/rhn/frontend/action/common/DownloadFile.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartManager.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartUrlHelper.java
  java/code/src/com/redhat/rhn/manager/kickstart/SSMScheduleCommand.java
  java/spacewalk-java.changes.oholecek.replace_cobblerhost_by_javahost
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#8805 Fix API doc for 'channel.appstreams.listModuleStreams'
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/appstreams/ChannelAppStreamHandler.java
  java/spacewalk-java.changes.cbbayburt.appstreams-apidoc-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8801 Remove obsolete proxy installation messages (bsc#1224778)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/sdc/proxyclients.jsp
  java/spacewalk-java.changes.mbussolotto.proxy_message
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, old-ui, needs-translation

#8802 Schedule a Hardware list refresh after changing the network
  testsuite/features/build_validation/retail/proxy_container_branch_network.feature
  testsuite/features/init_clients/proxy_container_branch_network.feature
Labels: testing, ruby_rubocop, build-validation-features

#8743 Move server-only functions out of `uyuni.common`
  python/spacewalk/common/Makefile
  python/spacewalk/common/fileutils.py
  python/spacewalk/common/repo.py
  python/spacewalk/common/rhnApache.py
  python/spacewalk/common/rhnCache.py
  python/spacewalk/common/rhnConfig.py
  python/spacewalk/common/rhnException.py
  python/spacewalk/common/rhnLog.py
  python/spacewalk/common/rhnMail.py
  python/spacewalk/common/rhnRepository.py
  python/spacewalk/common/rhnTB.py
  python/spacewalk/common/suseLib.py
  python/spacewalk/satellite_tools/disk_dumper/dumper.py
  python/spacewalk/satellite_tools/download.py
  python/spacewalk/satellite_tools/repo_plugins/deb_src.py
  python/spacewalk/satellite_tools/repo_plugins/yum_dnf_src.py
  python/spacewalk/satellite_tools/repo_plugins/yum_src.py
  python/spacewalk/satellite_tools/reposync.py
  python/spacewalk/satellite_tools/syncLib.py
  python/spacewalk/satellite_tools/xmlDiskSource.py
  python/spacewalk/server/importlib/importLib.py
  python/spacewalk/spacewalk-backend.changes.agraul.move-cfg-component-to-server
  python/test/unit/spacewalk/satellite_tools/test_download.py
  python/test/unit/spacewalk/satellite_tools/test_reposync.py
  python/test/unit/spacewalk/satellite_tools/test_yum_src.py
  python/uyuni/common/Makefile
  python/uyuni/common/context_managers.py
  python/uyuni/common/fileutils.py
  python/uyuni/common/notificationUtils.py
  python/uyuni/uyuni-common-libs.changes.agraul.move-cfg-component-to-server
  spacewalk/admin/salt-secrets-config.py
  spacewalk/admin/spacewalk-admin.changes.agraul.move-cfg-component-to-server
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.agraul.move-cfg-component-to-server
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes.agraul.move-cfg-component-to-server
  utils/spacewalk-common-channels
  utils/spacewalk-utils.changes.agraul.move-cfg-component-to-server
Labels: susemanager_unittests, needs-translation

#8807 Properly open proxy's system page
  testsuite/features/init_clients/proxy_container_branch_network.feature
Labels: testing, ruby_rubocop

#8799 QE: Add SLE15SP4 LTSS to activation keys
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#8812 QE: Refactor Cobbler distro and profile scenarios
  testsuite/features/secondary/srv_cobbler_distro.feature
  testsuite/features/secondary/srv_cobbler_profile.feature
  testsuite/features/step_definitions/cobbler_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8818 Re-enable mass import checks
  testsuite/features/secondary/proxy_container_retail_mass_import.feature
  testsuite/features/secondary/proxy_traditional_retail_mass_import.feature
  testsuite/features/step_definitions/retail_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8824 Don't take into account beta channels when we have beta disabled
  testsuite/features/reposync/reference_srv_check_reposync.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#8829 QE: Fix initialization of global var. beta_enabled
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#8823 More elegant code suggested by Ondrej
  testsuite/features/secondary/proxy_container_retail_mass_import.feature
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/upload_files/bootstrap-pxeboot.exp
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8842 QE: fix scenario searching for existing patches
  testsuite/features/secondary/min_check_patches_install.feature
Labels: secondary-features, testing, ruby_rubocop

#8851 Disable Cobbler automatic sync + work around UI bug
  testsuite/features/reposync/srv_disable_scheduled_reposync.feature
Labels: testing, ruby_rubocop

#8852 Fix Junit 5 test execution
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8853 PTF channels are custom channels too
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework
