Repository uyuni-project/uyuni, pull requests merged in 2024-01, with the labels that each got.

#8056 QE: refactor min_salt_migration.feature and move it to BV
  testsuite/features/build_validation/migration/min_salt_migration.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/run_sets/build_validation/build_validation_migration.yml
  testsuite/run_sets/secondary.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8091 Fix backport client type
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#8060 Master bug 1216753 transfer system to another org
  java/code/src/com/redhat/rhn/manager/org/MigrationManager.java
  java/code/src/com/redhat/rhn/manager/org/test/MigrationManagerTest.java
  java/spacewalk-java.changes.mikeletux.bsc1216753
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8093 Add option to catch timeout
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#7563 Simplify theme layout and header logic
  java/code/webapp/WEB-INF/decorators/layout_c.jsp
  java/code/webapp/WEB-INF/decorators/layout_equals.jsp
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/includes/header.jsp
  java/spacewalk-java.changes.eth.simplify-theme
  web/html/javascript/spacewalk-essentials.js
  web/html/src/branding/css/base/fixes.less
  web/html/src/branding/css/base/theme.less
  web/html/src/branding/css/susemanager/components/header.less
  web/html/src/branding/css/uyuni.less
  web/html/src/branding/css/uyuni/header.less
  web/html/src/branding/css/uyuni/legacy-theme.less
  web/html/src/branding/css/uyuni/login.less
  web/html/src/branding/css/uyuni/theme.less
  web/html/src/branding/css/uyuni/variables.less
  web/html/src/manager/login/uyuni/login-footer.tsx
  web/html/src/manager/login/uyuni/login-header.tsx
  web/html/src/manager/login/uyuni/login.css
  web/html/src/manager/login/uyuni/login.tsx
  web/html/src/manager/shared/menu/menu.tsx
  web/html/src/manager/systems/ssm/ssm-counter.tsx
  web/html/src/manager/virtualization/guests/console/guests-console.tsx
  web/spacewalk-web.changes.eth.simplify-theme
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, needs-translation

#8040 Cherry-pick minor script updates
  web/html/src/build/check-package.mjs
  web/html/src/package.json
Labels: ui, javascript_lint

#8103 QE: refactor check_text_and_catch_request_timeout_popup?
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#8106 Wait for "A refresh of the product data..." is gone
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/reference_srv_sync_products_extra.feature
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#8108 Containers module needed for SLE 15 SP4 build host
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#8111 Don't test compressed files checksums in debian files
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/test/DebReleaseWriterTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7771 Add MU/Milestone information to /etc/susemanager-release
  spacewalk/package/spacewalk.changes.juliogonzalez.fix-release-file
  spacewalk/package/spacewalk.spec
  web/spacewalk-web.changes.juliogonzalez.fix-release-file
  web/spacewalk-web.spec
Labels: ui, javascript_lint, needs-translation

#8116 Add channels to wait for
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8126 Re-login if needed
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#8131 Some more adjustments to channel waits
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8122 Fix schema upgrade
  schema/spacewalk/susemanager-schema.changes.nadvornik.schema-upgrade
  schema/spacewalk/upgrade/susemanager-schema-4.4.1-to-susemanager-schema-4.4.2/003-system_checkin_threshold.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8138 Bump the WebUI version to 5.0.0 Alpha 1
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.deneb-alpha.rhn_web_to50
Labels: ui, javascript_lint

#8128 Move destructive tests in specific rake file.
  testsuite/run_sets/finishing.yml
  testsuite/run_sets/secondary_finishing.yml
Labels: ci-pipelines, testing, ruby_rubocop

#8136 finish rename of SLES ES to Liberty Linux
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#8141 Add missing changelogs entries and bugzilla references from SUSE Manager 4.3
  java/spacewalk-java.changes.juliogonzalez.4.3-sync
  schema/spacewalk/susemanager-schema.changes.juliogonzalez.4.3-sync
  search-server/spacewalk-search/spacewalk-search.changes.juliogonzalez.4.3-sync
  susemanager-utils/susemanager-sls/susemanager-sls.changes
  susemanager/susemanager.changes
  susemanager/susemanager.changes.juliogonzalez.4.3-sync
  web/spacewalk-web.changes
  web/spacewalk-web.changes.juliogonzalez.4.3-sync
Labels: java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint

#8145 Bump the version and add the schema migration to 5.0.0
  schema/reportdb/upgrade/uyuni-reportdb-schema-4.4.6-to-uyuni-reportdb-schema-5.0.0/.gitkeep
  schema/reportdb/uyuni-reportdb-schema.changes.deneb-alpha.schema_bump50
  schema/reportdb/uyuni-reportdb-schema.spec
  schema/spacewalk/susemanager-schema.changes.deneb-alpha.schema_bump50
  schema/spacewalk/susemanager-schema.spec
  schema/spacewalk/upgrade/susemanager-schema-4.4.10-to-susemanager-schema-5.0.0/.gitkeep
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8142 Fix query to extract only packages relevant for the server
  java/code/src/com/redhat/rhn/domain/server/Server_legacyUser.hbm.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#8146 Mention the missing sync for Retail in Uyuni
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8152 Revert reordering of license tags for spacewalk-html
  web/spacewalk-web.changes.deneb-alpha.fix_spacewalk-html_license
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#8154 Rename RES 7 to Liberty Linux 7
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8166 Missing reposync for rocky 9 on uyuni
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#8162 CI: fix run script
  testsuite/podman_runner/run
Labels: testing, ruby_rubocop

#8177 SCC renamed SLES ES 7 to SUSE Liberty Linux 7
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#8062 Jackson update
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#8180 QE: Fix openSSL parameters in hostname rename test
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8127 QE: replace a JS call with UI interaction
  testsuite/features/step_definitions/datepicker_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8113 QE: BV - Add features for SLE Micro product migration
  testsuite/features/build_validation/migration/slemicro54_minion.feature
  testsuite/features/build_validation/migration/slemicro54_ssh_minion.feature
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/run_sets/build_validation/build_validation_migration.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8129 change schedule of system-profile-refresh
  schema/spacewalk/common/data/rhnTaskoSchedule.sql
  schema/spacewalk/susemanager-schema.changes.mc.Manager-4.3-change-hwrefresh-schedule
  schema/spacewalk/upgrade/susemanager-schema-5.0.3-to-susemanager-schema-5.0.4/200-change-sys-profile-refresh-schedule.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#8151 use ById mechanism for SystemPackageInstalled report db table
  java/code/src/com/redhat/rhn/common/db/datasource/xml/SystemReport_queries.xml
  java/code/src/com/redhat/rhn/taskomatic/task/ReportDbUpdateTask.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8175 handle not existing known_host file in permission check
  java/code/src/com/suse/manager/webui/controllers/bootstrap/AbstractMinionBootstrapper.java
  java/spacewalk-java.changes.mc.Manager-4.3-fix-known_hosts-test
Labels: java, java_lint_checkstyle, java_pgsql_tests

#7879 Use https to access the API in spacewalk-common-channels and mgr-sync
  susemanager/src/mgr_sync/config.py
  susemanager/src/mgr_sync/mgr_sync.py
  susemanager/susemanager.changes.cbosdo.https-tools-fix
  utils/spacewalk-common-channels
  utils/spacewalk-utils.changes.cbosdo.https-tools-fix
Labels: python3, susemanager_unittests

#8193 Testsuite: add 5.0 version in the product_version method
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#8101 Remove obsolete redirect mechanism (RedirectServlet)
  java/code/src/com/redhat/rhn/frontend/security/RedirectServlet.java
  java/code/src/com/redhat/rhn/frontend/servlets/test/RedirectServletTest.java
  java/code/webapp/WEB-INF/web.xml
  java/spacewalk-java.changes.renner.remove-redirect-servlet
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, old-ui

#8191 QE: Add testing for duplicate SCC credentials
  testsuite/features/secondary/srv_scc_user_credentials.feature
Labels: secondary-features, testing, ruby_rubocop

#8196 Update help text for the custom repo filter field (bsc#1217874)
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/channel/manage/repo/repodetails.jsp
  java/spacewalk-java.changes.cbbayburt.bsc1217874
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, old-ui, needs-translation

#8200 QE: Fix Cobbler distro test
  testsuite/features/step_definitions/cobbler_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8199 QE: return a SystemCallError on failing XMLRPC calls
  testsuite/features/support/xmlrpc_client.rb
Labels: testing, ruby_rubocop, test-framework

#8202 QE: fix date-picker CSS selector
  testsuite/features/step_definitions/datepicker_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8182 set product_tree tag to Beta and change the config value to SUMA5.0
  java/conf/rhn_java.conf
  java/spacewalk-java.changes.mc.product_tree-tag-50
  java/spacewalk-java.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests

#8206 Testsuite: fix proxy key update test
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#8208 QE: Add testing for credential editing
  testsuite/features/secondary/srv_scc_user_credentials.feature
  testsuite/features/step_definitions/setup_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#8210 QE: Force FQDN check to run locally on the host
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#8205 One shot action execution
  java/code/src/com/redhat/rhn/domain/recurringactions/RecurringActionFactory.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/recurringactions/RecurringActionManager.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  java/code/src/com/suse/manager/webui/utils/gson/RecurringActionScheduleJson.java
  java/code/src/com/suse/manager/webui/utils/gson/SimpleMinionJson.java
  java/spacewalk-java.changes.parlt.one-shot-action-execution
  web/html/src/components/states-picker.tsx
  web/html/src/manager/recurring/recurring-actions-edit.tsx
  web/spacewalk-web.changes.parlt.one-shot-action-execution
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, data-model, old-ui, needs-translation

#8203 Add getRelevantErrata endpoint that takes a list of sids
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/spacewalk-java.changes.dottorblaster.get-relevant-errata-multiple-sids
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#8223 Remove SLES 12 SP4
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/sle12sp4_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp4_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/run_sets/build_validation/build_validation_init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework, build-validation-features

#8226 Variable per-channel timeout
  .github/PULL_REQUEST_TEMPLATE.md
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#8229 fix: Revert py2.7 incompatible formatting
  spacecmd/spacecmd.changes.mczernek.revert-spacecmd-dir
  spacecmd/src/spacecmd/activationkey.py
  spacecmd/src/spacecmd/api.py
  spacecmd/src/spacecmd/argumentparser.py
  spacecmd/src/spacecmd/configchannel.py
  spacecmd/src/spacecmd/cryptokey.py
  spacecmd/src/spacecmd/custominfo.py
  spacecmd/src/spacecmd/distribution.py
  spacecmd/src/spacecmd/errata.py
  spacecmd/src/spacecmd/filepreservation.py
  spacecmd/src/spacecmd/group.py
  spacecmd/src/spacecmd/i18n.py
  spacecmd/src/spacecmd/kickstart.py
  spacecmd/src/spacecmd/misc.py
  spacecmd/src/spacecmd/org.py
  spacecmd/src/spacecmd/package.py
  spacecmd/src/spacecmd/proxy.py
  spacecmd/src/spacecmd/repo.py
  spacecmd/src/spacecmd/report.py
  spacecmd/src/spacecmd/scap.py
  spacecmd/src/spacecmd/schedule.py
  spacecmd/src/spacecmd/shell.py
  spacecmd/src/spacecmd/snippet.py
  spacecmd/src/spacecmd/softwarechannel.py
  spacecmd/src/spacecmd/ssm.py
  spacecmd/src/spacecmd/system.py
  spacecmd/src/spacecmd/user.py
  spacecmd/src/spacecmd/utils.py
  spacecmd/tests/helpers.py
  spacecmd/tests/test_activationkey.py
  spacecmd/tests/test_api.py
  spacecmd/tests/test_argumentparser.py
  spacecmd/tests/test_configchannel.py
  spacecmd/tests/test_cryptokey.py
  spacecmd/tests/test_custominfo.py
  spacecmd/tests/test_distribution.py
  spacecmd/tests/test_errata.py
  spacecmd/tests/test_filepreservation.py
  spacecmd/tests/test_group.py
  spacecmd/tests/test_kickstart.py
  spacecmd/tests/test_misc.py
  spacecmd/tests/test_org.py
  spacecmd/tests/test_package.py
  spacecmd/tests/test_proxy.py
  spacecmd/tests/test_repo.py
  spacecmd/tests/test_report.py
  spacecmd/tests/test_scap.py
  spacecmd/tests/test_schedule.py
  spacecmd/tests/test_shell.py
  spacecmd/tests/test_snippet.py
  spacecmd/tests/test_softwarechannel.py
  spacecmd/tests/test_ssm.py
  spacecmd/tests/test_system.py
  spacecmd/tests/test_user.py
  spacecmd/tests/test_utils.py
Labels: python3, needs-translation

#8218 QE: refactor and fix "Create and modify a System profile using the XML-RPC API" scenario
  testsuite/features/secondary/srv_cobbler_profile.feature
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/support/namespaces/system.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#7952 CI: for gh actions, use the uyuni containerized server
  .github/workflows/build_containers.yml
  testsuite/dockerfiles/server-all-in-one/Dockerfile
  testsuite/dockerfiles/server-all-in-one/etc_pam.d_sshd
  testsuite/dockerfiles/server-all-in-one/setup_env.sh
  testsuite/podman_runner/07_start_server.sh
  testsuite/podman_runner/08_manager_setup.sh
Labels: testing, ruby_rubocop

#8233 split secondary tests
  .github/workflows/acceptance_tests_common.yml
  .github/workflows/acceptance_tests_secondary.yml
  testsuite/Rakefile
  testsuite/podman_runner/19_run_secondary_tests_subset.sh
  testsuite/podman_runner/19_split_secondary_tests.sh
  testsuite/podman_runner/run
Labels: testing, ruby_rubocop

#8236 QE: fix system.setVariables API call
  testsuite/features/step_definitions/api_common.rb
Labels: testing, ruby_rubocop, test-framework

#8243 Liberty 7 product has base channel name "RHEL x86_64 Server 7"
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework
