Repository uyuni-project/uyuni, pull requests merged in 2024-08, with the labels that each got.

#9125 QE: Liberty 7 LTSS : Open sub-list to verify client tools are selected
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#9133 Bump WebUI version for SUMA 5.0.1 and Uyuni 2024.08
  web/conf/rhn_web.conf
  web/spacewalk-web.changes.deneb-alpha.webui501-202408
Labels: ui, javascript_lint

#9162 Migrate HTTP proxy, fix setup wizard layout issues
  java/code/src/com/suse/manager/webui/utils/ViewHelper.java
  java/code/webapp/WEB-INF/pages/admin/setup/proxy-settings.jsp
  web/html/src/branding/css/base/forms.scss
  web/html/src/branding/css/base/setup-wizard.less
  web/html/src/branding/css/base/setup-wizard.scss
  web/html/src/branding/css/susemanager/components/buttons.less
  web/html/src/branding/css/susemanager/components/buttons.scss
  web/html/src/branding/css/susemanager/components/inputs.scss
  web/html/src/branding/css/susemanager/components/modal.scss
  web/html/src/branding/css/susemanager/components/text.scss
  web/html/src/core/spa/view-helper.ts
  web/html/src/manager/admin/setup/products/products-scc-dialog.tsx
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp

#9161 QE: Do not kill Uyuni Client Tools sync
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9155 QE: Add further validation for uptime flexibility
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9159 Remove Debian 10 and SLES 15 SP1
  testsuite/documentation/optional.md
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/debian10_minion.feature
  testsuite/features/build_validation/init_clients/debian10_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp1_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
  testsuite/features/support/retail.rb
  testsuite/features/upload_files/virtualization/vCenter.json
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#9146 Conditional fixes on running remote command on SSH tunnel minion
  testsuite/features/secondary/min_ssh_tunnel.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9170 QE: Add Chromedriver debugging port
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9168 Partial revert of f21851be1e50
  testsuite/features/profiles/cloud_aws/Docker/Dockerfile
  testsuite/features/profiles/internal_nue/Docker/Dockerfile
  testsuite/features/profiles/internal_prv/Docker/Dockerfile
Labels: merge-candidate, testing, ruby_rubocop

#9152 Fix mgrpush assert in order to strip the path of the package parameter
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#8945 Hub authentication examples
  testsuite/ext-tools/hub-examples/README
  testsuite/ext-tools/hub-examples/auto-authentication.py
  testsuite/ext-tools/hub-examples/install-pkg-all-systems.py
  testsuite/ext-tools/hub-examples/manual-authentication.py
  testsuite/ext-tools/hub-examples/relay-authentication.py
Labels: merge-candidate, testing, ruby_rubocop

#9189 spacecmd is not included on SL Micro
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#9199 try to wait until the list of child channels are visible before clicking on "Save"
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9205 QE: Fix wrong return value in scp method
  testsuite/features/support/network_utils.rb
  testsuite/features/support/remote_node.rb
Labels: testing, ruby_rubocop, test-framework

#9214 Refactor Remote Node
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/salt_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/file_management.rb
  testsuite/features/support/network_utils.rb
  testsuite/features/support/remote_node.rb
Labels: testing, ruby_rubocop, test-framework

#9224 Handling a reboot of a remote node through net-ssh, plus fixing scp command
  testsuite/features/support/env.rb
  testsuite/features/support/network_utils.rb
  testsuite/features/support/remote_node.rb
Labels: testing, ruby_rubocop, test-framework

#9229 Fixes related to RemoteNode implementation
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/network_utils.rb
Labels: testing, ruby_rubocop, test-framework
