Repository uyuni-project/uyuni, pull requests merged in 2024-12, with the labels that each got.

#9528 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#9525 Fix wrong default sort column name in managed packages list
  java/code/src/com/suse/manager/webui/controllers/PackageController.java
  java/spacewalk-java.changes.cbosdo.all-software-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9532 Revert "Clean up deployment salt minion leftovers on CT"
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/features/init_clients/min_deblike_salt.feature
  testsuite/features/init_clients/min_rhlike_salt.feature
  testsuite/features/init_clients/min_virthost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
Labels: testing, ruby_rubocop

#9537 Cleanup in the CobblerXMLRPCHelper class
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerXMLRPCHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9539 Add missing join in the count query for the packages list
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
  java/spacewalk-java.changes.cbosdo.packages-list
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9175 Add sle micro 5.5 needed for proxy 5.0 BV
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#9547 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_mk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_zh_TW.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_bn_IN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_cs.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_de.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_fr.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_gu.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_hi.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_it.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pa.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_pt_BR.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ru.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_si.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ta.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_uk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh-HK.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_TW.xml
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#9501 add bootstrap repo definitions for SL Micro 6.1
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.Manager-5.0-sl-micro61-bs-repo
Labels: python3, susemanager_unittests

#9552 Micro61 for uyuni
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.micro61-for-uyuni
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes.mcalmer.micro61-for-uyuni
Labels: python3, susemanager_unittests

#9549 Only show versions for 'kernel-default' in CLM Live Patching template (bsc#1233400)
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/spacewalk-java.changes.cbbayburt.bsc1233400
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#8793 strip bootstrap repos and remove EOL OSes
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mc.shrink-bootstrap-repos
Labels: python3, susemanager_unittests, needs-translation

#9548 Ubuntu2404 set signedby
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/spacewalk-java.changes.mcalmer.Manager-4.3-ubuntu2404-set-signedby
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mcalmer.ubuntu2404-set-signedby
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9534 Improve channel change
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/redhat/rhn/manager/system/test/SystemManagerTest.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/spacewalk-java.changes.mcalmer.improve-channel-change
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, salt-actions-implementations, xmlrpc, old-ui

#9553 Make socket opt setting more strict and verbose (bsc#1229286)
  proxy/proxy/salt-broker/salt-broker
  proxy/proxy/spacewalk-proxy.changes.vzhestkov.salt-broker-opts-strict-and-verbose
Labels: proxy

#9558 Use dots instead of underscores in the left menu
  java/buildconf/apidoc/asciidoc/apiindex.txt
  java/spacewalk-java.changes.cbosdo.apidoc
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9568 Fix ubuntu signed by
  java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java
  java/spacewalk-java.changes.mcalmer.fix-ubuntu-signed-by
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mcalmer.fix-ubuntu-signed-by
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9540 Upgrade mgrpxy tool before installing the containerized proxy.
  testsuite/features/build_validation/init_clients/proxy.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features
