Repository uyuni-project/uyuni, pull requests merged in 2025-08, with the labels that each got.

#10432 Update UI product migration page
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-setup.jsp
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-target.jsp
  java/spacewalk-java.changes.bisht-richa.update-product-migration-page
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, webapp, old-ui, needs-translation

#10745 Revert testsuite using proxy 5.2
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#10614 Install latest zypper before migration test and salt in minion before migration
  testsuite/features/build_validation/migration/migration_sle15sp6_minion.feature
  testsuite/features/build_validation/migration/migration_sle15sp6_ssh_minion.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#10637 Refactor commonlib to match edge cases
  testsuite/features/support/commonlib.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10754 Correct string for client tools name on released client tools
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#10673 Script to collect logs from a list of fqdns
  testsuite/ext-tools/collect_logs.py
  testsuite/ext-tools/gather_timings.py
  testsuite/ext-tools/hub-examples/auto-authentication.py
  testsuite/ext-tools/hub-examples/install-pkg-all-systems.py
  testsuite/ext-tools/hub-examples/manual-authentication.py
  testsuite/ext-tools/hub-examples/relay-authentication.py
Labels: merge-candidate, testing, ruby_rubocop

#10645 Fix AWK script to edit Debian/Ubuntu repos
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/upload_files/edit-deb822.awk
Labels: testing, ruby_rubocop, test-framework

#10752 Use JSON instead of pickle for spacecmd cache (bsc#1227579)
  spacecmd/spacecmd.changes.mczernek.mczernek-fsck-removal-fix
  spacecmd/src/spacecmd/utils.py
  spacecmd/tests/test_utils.py
Labels: python3, needs-translation

#10792 Make spacecmd code compatible with Py 2.7
  spacecmd/spacecmd.changes.mczernek.cache-fix-py27
  spacecmd/src/spacecmd/utils.py
  spacecmd/tests/test_utils.py
Labels: python3

#10782 enhance API documentation about errata cloning (bsc#1244519)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/channel/software/ChannelSoftwareHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/spacewalk-java.changes.mcalmer.Manager-5.0-doc-errata-api
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui
