Repository uyuni-project/uyuni, pull requests merged in 2025-02, with the labels that each got.

#9718 QE: Fix redundant step
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9719 Update `webpack-cli` and `cross-spawn`
  web/html/src/package.json
  web/html/src/yarn.lock
Labels: ui, javascript_lint

#9721 QE: Remove duplicated scenarios
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#9727 QE: Rename `min_activationkey.feature`
  testsuite/features/secondary/min_bootstrap_activation_key.feature
  testsuite/features/secondary/minssh_tunnel.feature
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#9731 QE: Remove steps of not anymore sync channels on CI
  testsuite/features/init_clients/proxy_traditional.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_bootstrap_activation_key.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
  testsuite/features/secondary/min_recurring_action.feature
Labels: secondary-features, testing, ruby_rubocop

#9733 Adjust grafana to 5.0.3 BV
  testsuite/features/build_validation/init_clients/monitoring_server.feature
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
Labels: testing, ruby_rubocop, build-validation-features, build validation

#9745 More select or deselect of beta client tools
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop, build-validation-features

#9746 Debug log when not successful product list
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/step_definitions/setup_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9747 QE: Reinforce and warn the check of a channel synchronization.
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#9750 Kiwi images salt refactoring
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS6_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_head/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_head/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_head/root/etc/systemd/system/image-deployed.service
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/config.xml
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/root/etc/systemd/system/image-deployed.service
Labels: testing, ruby_rubocop

#9753 fix wrong type on list order query
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#9756 QE: Adds Uyuni client tools on the Build Host AK
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop

#9574 better logs for sp migration process
  java/code/src/com/redhat/rhn/manager/distupgrade/DistUpgradeManager.java
  java/spacewalk-java.changes.serpico.4.3-18697-better-sp-migration-logs
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9755 QE: Move Proxy features to an independent folder and stage for CI
  testsuite/features/proxy/proxy_container.feature
  testsuite/features/proxy/proxy_container_branch_network.feature
  testsuite/features/proxy/proxy_traditional.feature
  testsuite/features/proxy/proxy_traditional_branch_network.feature
  testsuite/run_sets/init_clients.yml
  testsuite/run_sets/proxy.yml
Labels: ci-pipelines, testing, ruby_rubocop

#9761 Proxy server fqdn merge java filter (bsc#1236011)
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/spacewalk-java.changes.rmateus.m50-1236011-fqdn-Proxy
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9475 Increase complexity for generated passwords (bsc#1231983)
  web/html/src/utils/functions.ts
  web/spacewalk-web.changes.bisht-richa.improvement-generatePassword-function
Labels: ui, javascript_lint, needs-translation

#9780 QE: Fix typo build_host
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_create_dev_channels.feature
Labels: testing, ruby_rubocop

#9781 Fix Execute recurring states popup hide buttons when too many systems
  web/html/src/branding/css/base/components/modal.scss
  web/spacewalk-web.changes.bisht-richa.recurring-states-popup-hide-buttons
Labels: ui, javascript_lint

#9784 QE: Align `build_host` naming
  testsuite/documentation/optional.md
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/github_validation/init_clients/buildhost_bootstrap.feature
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/features/reposync/srv_create_dev_channels.feature
  testsuite/features/reposync/srv_sync_dev_channels.feature
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/secondary/proxy_container_cobbler_pxeboot.feature
  testsuite/features/secondary/proxy_container_retail_pxeboot.feature
  testsuite/features/secondary/proxy_traditional_retail_pxeboot.feature
  testsuite/features/secondary/srv_rename_hostname.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: core-features, secondary-features, testing, ruby_rubocop, test-framework

#9764 Fix API namespace for AdminPaygHandler
  java/code/src/com/suse/manager/xmlrpc/admin/AdminPaygHandler.java
  java/spacewalk-java.changes.mcalmer.fix-api-namespace
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9801 QE: Manually generate the bootstrap repo for Uyuni Build Host
  testsuite/features/reposync/srv_create_bootstrap_repositories.feature
Labels: testing, ruby_rubocop

#9772 Switch to Ubuntu 24.04 in tests on PRs
  testsuite/dockerfiles/server-all-in-one-dev/mirror/organizations_repositories.json
  testsuite/dockerfiles/server-all-in-one-dev/mirror/product_tree.json
  testsuite/dockerfiles/server-all-in-one-dev/mirror/ubuntu/dists/noble-security/main/binary-amd64/Packages.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/ubuntu/dists/noble-updates/main/binary-amd64/Packages.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/ubuntu/dists/noble/main/binary-amd64/Packages.gz
  testsuite/dockerfiles/ubuntu-minion/Dockerfile
Labels: testing, ruby_rubocop

#9760 Issv3: Ensure sync hub APIs are responding correctly if a runtime exception occurs
  java/code/src/com/suse/manager/hub/HubController.java
  java/code/src/com/suse/manager/hub/HubSparkHelper.java
  java/code/src/com/suse/manager/hub/test/HubControllerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model, xmlrpc, old-ui, spark-router

#9759 Add bootstrap repository data for Amazon Linux 2023
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/susemanager-sync-data.changes.mcalmer.amazon-linux-2023-bsrepo
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.amazon-linux-2023-bsrepo
Labels: python3, susemanager_unittests

#9806 QE: Handle 5.1 when resolving product_version
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#9807 QE: Force creating bootstrap repositories
  testsuite/features/reposync/srv_create_bootstrap_repositories.feature
Labels: testing, ruby_rubocop

#9811 CI: fix flaky reposync by using mirrored repos
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_create_dev_channels.feature
  testsuite/features/reposync/srv_sync_dev_channels.feature
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_check_patches_install.feature
  testsuite/features/secondary/min_recurring_action.feature
  testsuite/features/secondary/min_salt_install_package.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/min_salt_software_states.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/podman_runner/03_run_controller_and_registry_and_buildhost.sh
  testsuite/podman_runner/10_run_sshminion.sh
  testsuite/podman_runner/12_run_salt_sle_minion.sh
  testsuite/podman_runner/13_run_salt_rhlike_minion.sh
  testsuite/podman_runner/14_run_salt_deblike_minion.sh
Labels: secondary-features, testing, ruby_rubocop, test-framework

#9796 Align test POS images setup scripts with the released ones
  testsuite/features/profiles/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/cloud_aws/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/internal_nue/Kiwi/POS_Image-JeOS7_uyuni/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS6_head/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_head/images.sh
  testsuite/features/profiles/internal_prv/Kiwi/POS_Image-JeOS7_uyuni/images.sh
Labels: testing, ruby_rubocop

#9820 QE: Rename Dev channels to Devel Channels
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_create_devel_channels.feature
  testsuite/features/reposync/srv_sync_devel_channels.feature
  testsuite/features/support/constants.rb
  testsuite/run_sets/github_validation/github_validation_core.yml
  testsuite/run_sets/reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework

#9469 Dedicated container for database
  containers/server-postgresql-image/Dockerfile
  containers/server-postgresql-image/_service
  containers/server-postgresql-image/root/docker-entrypoint-initdb.d/create-db.sh
  containers/server-postgresql-image/root/docker-entrypoint-initdb.d/create-reportdb.sh
  containers/server-postgresql-image/root/docker-entrypoint-initdb.d/evr_t.sql
  containers/server-postgresql-image/root/docker-entrypoint-initdb.d/uyuni-postgres-config.sh
  containers/server-postgresql-image/root/usr/local/bin/uyuni-entrypoint.sh
  containers/server-postgresql-image/server-postgresql-image.changes
  containers/server-postgresql-image/tito.props
  rel-eng/packages/server-postgresql-image
Labels: java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, testing, ruby_rubocop, test-framework

#9821 QE: Move features that can't run in parallel
  testsuite/run_sets/secondary.yml
  testsuite/run_sets/secondary_parallelizable.yml
Labels: ci-pipelines, testing, ruby_rubocop

#9818 ISSv3: API to perform a product refresh on the peripheral from the hub
  java/code/src/com/suse/manager/hub/HubController.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/hub/test/HubControllerTest.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, webapp, salt-actions-implementations, data-model, xmlrpc, old-ui, spark-router, needs-translation

#9782 Password policy hotfix
  schema/spacewalk/upgrade/susemanager-schema-5.1.3-to-susemanager-schema-5.1.4/101-default-settings-updates.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#9831 Issv3 sonarcloud 2
  web/html/src/components/hub/TokenTable.tsx
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, webapp, salt-actions-implementations, data-model, xmlrpc, old-ui, spark-router, needs-translation

#9834 update ivy to new netty version
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9825 Change releasenotes URL for SUSE Multi-Linux Manager 5.1
  java/code/src/com/redhat/rhn/domain/notification/types/UpdateAvailable.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/UpdateAvailableTest.java
  java/spacewalk-java.changes.mcalmer.multi-linux-rebranding
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#9832 perform product refresh on peripheral after registration
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/suse/manager/hub/DefaultHubInternalClient.java
  java/code/src/com/suse/manager/hub/HubController.java
  java/code/src/com/suse/manager/hub/HubInternalClient.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/hub/test/HubControllerTest.java
  java/code/src/com/suse/manager/hub/test/HubManagerTest.java
  java/code/src/com/suse/manager/webui/Router.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, spark-router

#9816 QE: remove workaround for building Kiwi images
  testsuite/features/build_validation/retail/sle12sp5_buildhost_build_kiwi_image.feature
  testsuite/features/build_validation/retail/sle15sp4_buildhost_build_kiwi_image.feature
  testsuite/features/secondary/buildhost_osimage_build_image.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#9824 fix accessibleUrl removing trailing / on urls (bsc#1236268)
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/spacewalk-java.changes.kwalter.bsc1236268
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9787 SSM and systems groups
  testsuite/config/cucumber.yml
  testsuite/features/secondary/allcli_system_group.feature
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#9763 uyuni-proxy-tftpd: fix issue replacing FQDNs for proxies (bsc#1236601)
  .git-blame-ignore-revs
  containers/proxy-httpd-image/proxy-httpd-image.changes.meaksh.master-fix-tftpsync-recv-ip-replacement
  containers/proxy-httpd-image/uyuni-configure.py
  containers/proxy-tftpd-image/proxy-tftpd-image.changes.meaksh.master-fix-tftpsync-recv-ip-replacement
  containers/proxy-tftpd-image/tftp_wrapper.py
  tftpsync/susemanager-tftpsync-recv/add.wsgi
  tftpsync/susemanager-tftpsync-recv/susemanager-tftpsync-recv.changes.meaksh.master-fix-tftpsync-recv-ip-replacement
Labels: secondary-features, testing, ruby_rubocop, test-framework

#9849 Fix racing condition
  testsuite/features/step_definitions/navigation_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9855 Bump WebUI versions for 5.1.0 Beta1 and Uyuni 2025.03
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

#9851 CI: add build test images to ghcr.io
  .github/workflows/build_containers.yml
  testsuite/dockerfiles/opensuse/leap/15.5/Dockerfile
  testsuite/dockerfiles/uyuni-master-testsuite/Dockerfile
Labels: testing, ruby_rubocop

#9852 CI: push build test images to the test container
  testsuite/podman_runner/03_run_controller_and_registry_and_buildhost.sh
Labels: merge-candidate, testing, ruby_rubocop

#9853 CI: add github build profiles
  testsuite/features/profiles/github_runner/Docker/Dockerfile
  testsuite/features/profiles/github_runner/Docker/add_packages.sh
  testsuite/features/profiles/github_runner/Docker/authprofile/Dockerfile
  testsuite/features/profiles/github_runner/Docker/authprofile/add_packages.sh
  testsuite/features/profiles/github_runner/Docker/authprofile/avahi-daemon.conf
  testsuite/features/profiles/github_runner/Docker/authprofile/nsswitch.conf
  testsuite/features/profiles/github_runner/Docker/avahi-daemon.conf
  testsuite/features/profiles/github_runner/Docker/nsswitch.conf
  testsuite/features/profiles/github_runner/Docker/serverhost/Dockerfile
  testsuite/features/profiles/github_runner/Docker/serverhost/add_packages.sh
  testsuite/features/profiles/github_runner/Docker/serverhost/avahi-daemon.conf
  testsuite/features/profiles/github_runner/Docker/serverhost/nsswitch.conf
Labels: merge-candidate, testing, ruby_rubocop

#9867 QE: Fix reference reposync file
  testsuite/run_sets/reference_reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop
