Repository uyuni-project/uyuni, pull requests merged in 2025-09, with the labels that each got.

#10808 Maintenance window waits
  testsuite/features/secondary/srv_maintenance_windows.feature
Labels: secondary-features, testing, ruby_rubocop

#10622 Table pagination ux react
  testsuite/features/core/srv_docker.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  web/html/src/branding/css/base/components/buttons.suma.scss
  web/html/src/branding/css/base/components/dropdown-menu.scss
  web/html/src/branding/css/base/components/tables.scss
  web/html/src/branding/css/base/theme.scss
  web/html/src/components/buttons.tsx
  web/html/src/components/hub/AddTokenButton.tsx
  web/html/src/components/hub/TokenTable.tsx
  web/html/src/components/pagination.tsx
  web/html/src/components/table/SearchPanel.module.scss
  web/html/src/components/table/SearchPanel.tsx
  web/html/src/components/table/SelectedRowDetails.tsx
  web/html/src/components/table/Table.tsx
  web/html/src/components/table/TableDataHandler.tsx
  web/html/src/manager/admin/hub/peripherals.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-unmatched-products.tsx
  web/html/src/manager/content-management/list-filters/list-filters.tsx
  web/html/src/manager/maintenance/details/calendar-details.tsx
  web/html/src/manager/maintenance/details/schedule-details.tsx
  web/html/src/manager/recurring/recurring-actions-details.tsx
  web/html/src/manager/recurring/recurring-actions-list.tsx
  web/html/src/manager/state/highstate-summary.tsx
  web/html/src/manager/systems/all-list.tsx
  web/spacewalk-web.changes.bisht-richa.pagination-controls-ux
Labels: ui, javascript_lint, core-features, secondary-features, testing, ruby_rubocop, test-framework, needs-translation

#10816 Do not re-raise exceptions in spacecmd
  spacecmd/spacecmd.changes.mczernek.py2-spacecmd
  spacecmd/src/spacecmd/utils.py
Labels: python3

#10829 delete actions which use a virtualization action type (bsc#1249178)
  schema/spacewalk/susemanager-schema.changes.mcalmer.fix-schema-migration-virt-removal
  schema/spacewalk/upgrade/susemanager-schema-5.1.0-to-susemanager-schema-5.1.1/003-virt-removal.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#10830 Revert pagination text, update buttons positions and style
  testsuite/features/core/srv_docker.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/features/secondary/srv_notifications.feature
  testsuite/features/support/commonlib.rb
  web/html/src/branding/css/base/components/buttons.suma.scss
  web/html/src/components/pagination.tsx
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/notifications/notifications-list.tsx
  web/html/src/manager/systems/virtual-list.tsx
Labels: ui, javascript_lint, core-features, secondary-features, testing, ruby_rubocop, test-framework, needs-translation

#10802 ServerFactory - sonarcloud suggestions
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10760 SonarCloud error reduction fix, miscellaneous 6 rules
  java/code/src/com/redhat/rhn/common/conf/test/ConfigTest.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshot.java
  java/code/src/com/redhat/rhn/frontend/action/audit/scap/XccdfSearchHelper.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/action/multiorg/OrgCreateAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/provisioning/kickstart/SessionStatusAction.java
  java/code/src/com/redhat/rhn/frontend/action/user/CreateUserAction.java
  java/code/src/com/redhat/rhn/frontend/action/user/UserEditActionHelper.java
  java/code/src/com/redhat/rhn/frontend/dto/ChannelTreeNode.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserHandler.java
  java/code/src/com/redhat/rhn/manager/audit/AuditChannelInfo.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManagerOVAL.java
  java/code/src/com/redhat/rhn/manager/audit/ErrataIdAdvisoryPair.java
  java/code/src/com/redhat/rhn/manager/audit/ServerChannelIdPair.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartScheduleCommand.java
  java/code/src/com/redhat/rhn/manager/setup/ProxySettingsDto.java
  java/code/src/com/suse/manager/maintenance/IcalUtils.java
  java/code/src/com/suse/manager/maintenance/MaintenanceManager.java
  java/code/src/com/suse/manager/model/gatherer/GathererModule.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/CVEAuditController.java
  java/code/src/com/suse/manager/webui/controllers/utils/ImagesUtil.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
  java/code/src/org/cobbler/CobblerObject.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui, cobbler, sonar-cloud-error-reduction

#10762 SonarCloud fix: java:S1874 Deprecated code should not be used
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/SubscriptionMatchProcessor.java
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/test/SubscriptionMatchProcessorTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, sonar-cloud-error-reduction

#10817 Fix scheduling of channel sync
  java/code/src/com/suse/manager/webui/Router.java
  java/code/src/com/suse/manager/webui/controllers/admin/handlers/HubApiController.java
  java/spacewalk-java.changes.mcalmer.fix-scheduling-of-channel-sync
Labels: java, java_lint_checkstyle, java_pgsql_tests, spark-router

#10843 Bugfix L3: Changing configuration channel ranking in activation key results in internal server error (bsc#1249059)
  java/code/src/com/redhat/rhn/domain/token/Token.java
  java/spacewalk-java.changes.carlo.uyuni-1249059-configuration-channel-ranking
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10551 Change salt queue allocation
  java/code/src/com/redhat/rhn/domain/reactor/SaltEvent.hbm.xml
  java/code/src/com/redhat/rhn/domain/reactor/SaltEventFactory.java
  java/code/src/com/redhat/rhn/domain/reactor/test/SaltEventFactoryTest.java
  java/spacewalk-java.changes.mcalmer.change-salt-queue-allocation
  susemanager-utils/susemanager-sls/modules/engines/mgr_events.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mcalmer.change-salt-queue-allocation
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10859 Debug remove package
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Task_queries.xml
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/PackageCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/TaskConstants.java
  java/code/src/log4j2.xml
  python/spacewalk/satellite_tools/reposync.py
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10870 fix assignment to servergroups
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/spacewalk-java.changes.mcalmer.Manager-5.0-fix-servergroup-assignment
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10865 testsuite: re-enable tests for gitfs
  testsuite/features/secondary/srv_salt_git_pillar.feature
Labels: secondary-features, testing, ruby_rubocop

#10907 QE: wait event completion after applying patches through SSM
  testsuite/features/secondary/allcli_system_group.feature
Labels: secondary-features, testing, ruby_rubocop

#10906 Fix password policy form (bsc#1244430)
  web/html/src/manager/admin/password-policy/password-policy.tsx
  web/spacewalk-web.changes.bisht-richa.fix-password-policy-form
Labels: ui, javascript_lint, needs-translation
