Repository uyuni-project/uyuni, pull requests merged in 2025-04, with the labels that each got.

#10097 Do not override entrypoint in the CI postgresql image
  testsuite/dockerfiles/postgresql/Dockerfile
Labels: testing, ruby_rubocop

#10096 Fix rhlike detection
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#10062 Sonar Cloud miscellaneous fixes 2
  java/code/src/com/redhat/rhn/common/conf/sso/SSOConfig.java
  java/code/src/com/redhat/rhn/domain/action/server/ServerAction.java
  java/code/src/com/redhat/rhn/domain/channel/test/ChannelFamilyFactoryTest.java
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartScript.java
  java/code/src/com/redhat/rhn/domain/product/test/SUSEProductTestUtils.java
  java/code/src/com/redhat/rhn/domain/reactor/SaltEvent.java
  java/code/src/com/redhat/rhn/domain/server/ServerHistoryEvent.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshot.java
  java/code/src/com/redhat/rhn/domain/server/ServerSnapshotTagLink.java
  java/code/src/com/redhat/rhn/domain/server/SnapshotTag.java
  java/code/src/com/redhat/rhn/domain/server/SnapshotTagName.java
  java/code/src/com/redhat/rhn/frontend/action/common/BaseSetOperateOnDiffAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/ssm/SubscribeConfirm.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ChannelAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/NotifySetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/help/ForgotCredentialsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/ErrataCacheDto.java
  java/code/src/com/redhat/rhn/frontend/listview/AlphaBar.java
  java/code/src/com/redhat/rhn/frontend/servlets/RhnHttpServletRequest.java
  java/code/src/com/redhat/rhn/frontend/taglibs/DateTimePickerTag.java
  java/code/src/com/redhat/rhn/manager/configuration/ConfigChannelCreationHelper.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartUrlHelper.java
  java/code/src/com/redhat/rhn/manager/kickstart/cobbler/CobblerCommand.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/test/PackageManagerTest.java
  java/code/src/com/redhat/rhn/testing/ErrataTestUtils.java
  java/code/src/com/suse/manager/webui/controllers/VirtualHostManagerController.java
  java/code/src/com/suse/manager/webui/services/test/SaltServerActionServiceTest.java
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
  java/code/src/com/suse/scc/model/SCCMinProductJson.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, old-ui, sonar-cloud-error-reduction

#10059 Sonar Cloud miscellaneous fixes
  java/code/src/com/redhat/rhn/common/messaging/MessageDispatcher.java
  java/code/src/com/redhat/rhn/common/validator/ValidatorService.java
  java/code/src/com/redhat/rhn/domain/action/salt/StateResult.java
  java/code/src/com/redhat/rhn/domain/contentmgmt/ContentProjectFactory.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ssm/BaseSubscribeAction.java
  java/code/src/com/redhat/rhn/frontend/action/multiorg/TrustAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/provisioning/kickstart/SessionStatusAction.java
  java/code/src/com/redhat/rhn/frontend/dto/BaseDto.java
  java/code/src/com/redhat/rhn/frontend/dto/ChannelOverview.java
  java/code/src/com/redhat/rhn/frontend/dto/ChannelTreeNode.java
  java/code/src/com/redhat/rhn/frontend/dto/UpgradablePackageListItem.java
  java/code/src/com/redhat/rhn/frontend/struts/SelectableAdapter.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/BaseHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserHandler.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/manager/kickstart/IpAddress.java
  java/code/src/com/redhat/rhn/taskomatic/task/DailySummary.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/code/src/com/suse/manager/api/ApiResponseSerializer.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/controllers/VirtualHostManagerController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui, sonar-cloud-error-reduction

#10095 SonarCloud fix: java:S1874 Deprecated code should not be used (part 1)
  java/code/src/com/redhat/rhn/common/hibernate/HibernateFactory.java
  java/code/src/com/redhat/rhn/common/hibernate/ReportDbHibernateFactory.java
  java/code/src/com/redhat/rhn/frontend/servlets/RhnHttpServletRequest.java
  java/code/src/com/redhat/rhn/frontend/servlets/RhnHttpServletResponse.java
  java/code/src/com/redhat/rhn/taskomatic/core/TaskomaticDaemon.java
  java/code/src/com/redhat/rhn/taskomatic/core/test/TestDaemon.java
  java/code/src/com/suse/manager/reactor/utils/ValueMap.java
  java/code/src/com/suse/manager/webui/controllers/MinionsAPI.java
  java/code/src/com/suse/manager/webui/controllers/PackageController.java
  java/code/src/com/suse/manager/webui/controllers/ProxyController.java
  java/code/src/com/suse/manager/webui/controllers/RecurringActionController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectActionsApiController.java
  java/code/src/com/suse/manager/webui/controllers/contentmanagement/handlers/ProjectApiController.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, content-management, old-ui, sonar-cloud-error-reduction

#10107 Fix: remove SCAP file upload size limit setting (bsc#1240050)
  java/code/src/com/redhat/rhn/domain/org/OrgConfig.java
  java/code/src/com/redhat/rhn/frontend/action/multiorg/OrgConfigAction.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/org/OrgHandler.java
  java/code/src/com/suse/manager/webui/services/iface/SaltApi.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/code/src/com/suse/manager/webui/services/test/TestSaltApi.java
  java/code/webapp/WEB-INF/pages/common/fragments/org-config.jspf
  java/spacewalk-java.changes.carlo.uyuni-scap-upload-size-limit
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, data-model, xmlrpc, old-ui, needs-translation

#10108 Fix some leftovers of rebranding work
  containers/proxy-httpd-image/Dockerfile
  containers/proxy-httpd-image/proxy-httpd-image.changes.abid.use-new-name
  java/buildconf/apidoc/jsp/api_index_hdr.txt
  java/buildconf/apidoc/jsp/faqs.txt
  java/buildconf/apidoc/jsp/scripts.txt
  susemanager-utils/testing/automation/VERSION.SUSE-Manager
  web/spacewalk-web.changes.abid.use-new-rebranded-name
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation

#10113 Fixed new brand name text and image in proxy page
  web/html/src/branding/css/base/components/toolbar.scss
  web/html/src/branding/css/base/theme.scss
  web/html/src/manager/admin/setup/proxy/http-proxy.png
  web/html/src/manager/admin/setup/proxy/proxy.tsx
  web/spacewalk-web.changes.bisht-richa.proxy-page-brand-name-update
Labels: ui, javascript_lint, needs-translation

#9827 Cleanup the setup from the database related bits
  containers/doc/rds.sh
  containers/server-image/Dockerfile
  containers/server-image/root/usr/lib/systemd/system/timezone_alignment.service
  containers/server-image/server-image.changes.cbosdo.postgresql
  java/code/src/com/redhat/rhn/taskomatic/task/ReportDBHelper.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/scripts/taskomatic.service
  java/spacewalk-java.changes.cbosdo.postgresql-cleanup
  python/billingdataservice/billing-data-service.changes.cbosdo.postgresql-cleanup
  python/billingdataservice/billing-data-service.service
  python/spacewalk/satellite_tools/spacewalk-debug
  python/spacewalk/satellite_tools/spacewalk-diskcheck
  python/spacewalk/spacewalk-backend.changes.cbosdo.postgresql-cleanup
  schema/reportdb/setup.sh
  schema/reportdb/uyuni-reportdb-schema.changes.cbosdo.postgresql-cleanup
  schema/spacewalk/postgres/class/evr_t.sql
  schema/spacewalk/schema-source-sanity-check.pl
  schema/spacewalk/spacewalk-sql
  schema/spacewalk/susemanager-schema.changes.cbosdo.postgresql-cleanup
  spacewalk/admin/spacewalk-admin.changes.cbosdo.postgresql-cleanup
  spacewalk/admin/spacewalk-startup-helper
  spacewalk/admin/uyuni-check-database.service
  spacewalk/admin/uyuni-update-config.service
  spacewalk/certs-tools/gen-test-cert-chain.sh
  spacewalk/certs-tools/mgr_ssl_cert_setup.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.cbosdo.postgresql-cleanup
  spacewalk/config/etc/httpd/conf.d/zz-spacewalk-www.conf
  spacewalk/config/spacewalk-config.changes.cbosdo.postgresql-cleanup
  spacewalk/config/var/lib/rhn/rhn-satellite-prep/etc/rhn/rhn.conf
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/lib/Spacewalk/Setup.pm
  spacewalk/setup/spacewalk-setup.changes.cbosdo.postgresql
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb
  spacewalk/uyuni-setup-reportdb/bin/uyuni-setup-reportdb-user
  spacewalk/uyuni-setup-reportdb/uyuni-setup-reportdb.changes.cbosdo.postgresql
  spacewalk/uyuni-setup-reportdb/uyuni-setup-reportdb.spec
  susemanager-utils/testing/automation/VERSION.Uyuni
  susemanager-utils/testing/docker/scripts/reset_pgsql_database.sh
  susemanager-utils/testing/docker/scripts/schema_migration_reportdb_test_pgsql.sh
  susemanager-utils/testing/docker/scripts/schema_migration_test_pgsql.sh
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes.cbosdo.postgresql
  susemanager/susemanager.spec
  testsuite/features/secondary/srv_reportdb.feature
  testsuite/features/secondary/srv_restart_postgres.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/remote_node.rb
  testsuite/podman_runner/00_setup_env.sh
  testsuite/podman_runner/07_server_setup.sh
  testsuite/podman_runner/08_start_server.sh
  testsuite/podman_runner/24_get_server_logs.sh
  testsuite/podman_runner/provide-db-schema.sh
  testsuite/podman_runner/run
  utils/spacewalk-hostname-rename
  utils/spacewalk-utils.changes.cbosdo.postgresql-cleanup
Labels: java, java_lint_checkstyle, java_pgsql_tests, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, secondary-features, testing, ruby_rubocop, test-framework, needs-translation

#10114 CI: update test containers to leap 15.6
  .github/workflows/build_containers.yml
  testsuite/dockerfiles/buildhost/Dockerfile
  testsuite/dockerfiles/opensuse-minion/Dockerfile
  testsuite/dockerfiles/opensuse/leap/15.6/Dockerfile
Labels: testing, ruby_rubocop

#10072 add ManagerTools for SLE Micro to bootstrap repository data
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.bs-repos-for-micro
Labels: python3, susemanager_unittests

#10115 CI: update build profiles for gh validation to leap 15.6
  testsuite/features/profiles/github_runner/Docker/Dockerfile
Labels: testing, ruby_rubocop

#10088 Fix issue 9940, add static to final fields
  java/code/src/com/redhat/rhn/domain/action/script/ScriptRunAction.java
  java/code/src/com/redhat/rhn/domain/recurringactions/GroupRecurringAction.java
  java/code/src/com/redhat/rhn/domain/server/ManagedServerGroup.java
  java/code/src/com/redhat/rhn/frontend/action/GenericIndexAction.java
  java/code/src/com/redhat/rhn/frontend/action/YourRhnAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelErrataAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/ChannelSubscribedAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/PopularChannelTreeAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesAddAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesAddConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesBaseAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesCompareAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesCompareMergeAction.java
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/ChannelPackagesRemoveAction.java
  java/code/src/com/redhat/rhn/frontend/action/groups/AddSystemsAction.java
  java/code/src/com/redhat/rhn/frontend/action/groups/EditGroupAction.java
  java/code/src/com/redhat/rhn/frontend/action/groups/GroupDetailAction.java
  java/code/src/com/redhat/rhn/frontend/action/groups/ListRemoveSystemsAction.java
  java/code/src/com/redhat/rhn/frontend/action/groups/SSMGroupConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/InstalledSystemsListAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/PackageDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/TargetSystemsListAction.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/CustomValueSetAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/customkey/CreateCustomKeyAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/customkey/DeleteCustomKeyAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/groups/AddGroupsAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/groups/ListRemoveGroupsAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/DeleteCustomDataAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemDeleteConfirmAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemMigrateAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemOverviewAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/UpdateCustomDataAction.java
  java/code/src/com/redhat/rhn/frontend/action/token/groups/AddGroupsAction.java
  java/code/src/com/redhat/rhn/frontend/action/token/groups/ListRemoveGroupsAction.java
  java/code/src/com/redhat/rhn/frontend/action/user/SystemGroupConfigAction.java
  java/code/src/com/redhat/rhn/frontend/struts/RequestContext.java
  java/code/src/com/redhat/rhn/frontend/taglibs/NavDialogMenuTag.java
  java/code/src/com/redhat/rhn/taskomatic/task/DailySummary.java
  java/code/src/com/redhat/rhn/taskomatic/task/MinionActionCleanup.java
  java/code/src/com/redhat/rhn/taskomatic/task/TokenCleanup.java
  java/code/src/com/suse/manager/webui/services/impl/SaltSSHService.java
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, proxy, API, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, merge-candidate, secondary-features, ci-pipelines, testing, ruby_rubocop, content-management, webapp, data-model, xmlrpc, test-framework, old-ui, build-validation-features, needs-translation, sonar-cloud-error-reduction

#9700 Fix GH CI problems related to volumes
  spacewalk/setup/bin/spacewalk-setup
  spacewalk/setup/spacewalk-setup.changes.cbosdo.gh-ci-volumes
  testsuite/features/secondary/min_salt_lock_packages.feature
  testsuite/podman_runner/07_server_setup.sh
  testsuite/podman_runner/setup_missing_folders.sh
  uyuni/base/uyuni-base.changes.cbosdo.gh-ci-volumes
  uyuni/base/uyuni-base.spec
Labels: secondary-features, testing, ruby_rubocop

#10081 fix subquery return more than one row error
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10124 Fix OpenSCAP audit acceptance tests: comparableId field was missing in XccdfTestResult
  java/code/src/com/redhat/rhn/domain/audit/XccdfTestResult.java
  java/spacewalk-java.changes.mbussolotto.XccdfTestResultEntity
  testsuite/features/secondary/min_deblike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
Labels: java, java_lint_checkstyle, java_pgsql_tests, secondary-features, testing, ruby_rubocop, data-model

#10131 fix state apply result formatting
  java/code/src/com/redhat/rhn/domain/action/salt/StateResult.java
  java/spacewalk-java.changes.mcalmer.Manager-5.0-fix-state-apply-result-formatting
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10142 Fix query for Server by machineId (bsc#1240409)
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/spacewalk-java.changes.mcalmer.fix-query-for-server
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10048 Formik integration PoC
  .vscode/settings.json
  web/html/src/.eslintrc.js
  web/html/src/branding/css/base/components/inputs.scss
  web/html/src/branding/css/base/variables.scss
  web/html/src/components/datetime/DateTimePicker.tsx
  web/html/src/components/formik/Form.example.tsx
  web/html/src/components/formik/Form.tsx
  web/html/src/components/formik/field/AsCheck.module.scss
  web/html/src/components/formik/field/AsCheck.tsx
  web/html/src/components/formik/field/AsDateTimePicker.tsx
  web/html/src/components/formik/field/AsPassword.tsx
  web/html/src/components/formik/field/AsRadio.module.scss
  web/html/src/components/formik/field/AsRadio.tsx
  web/html/src/components/formik/field/AsRange.tsx
  web/html/src/components/formik/field/AsTextArea.tsx
  web/html/src/components/formik/field/FieldBase.module.scss
  web/html/src/components/formik/field/FieldBase.tsx
  web/html/src/components/formik/field/FieldBase.types.ts
  web/html/src/components/formik/field/MultiField.module.scss
  web/html/src/components/formik/field/MultiField.tsx
  web/html/src/components/formik/field/index.tsx
  web/html/src/components/formik/sharedFieldConfig.tsx
  web/html/src/components/input/Label.tsx
  web/html/src/components/input/form/Form.example.tsx
  web/html/src/manager/login/login.renderer.tsx
  web/html/src/manager/storybook/stories.generated.ts
  web/html/src/package.json
  web/html/src/utils/hooks/index.ts
  web/html/src/utils/hooks/use-id.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.spec
Labels: ui, javascript_lint, needs-translation

#10143 fix: correctly building apache-commons-text
  java/buildconf/build-props.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10141 Test: fix filter tests when list is empty
  testsuite/Rakefile
Labels: testing, ruby_rubocop

#10102 Fix: severity levels are missing in API output of errata.getDetails (bsc#1240038)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/errata/ErrataHandler.java
  java/spacewalk-java.changes.carlo.uyuni-fix-errata-severity-levels
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, testing, ruby_rubocop, xmlrpc, old-ui

#10133 API for proxy onboarding
  java/code/src/com/redhat/rhn/frontend/xmlrpc/HandlerFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/ProxyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/proxy/test/ProxyHandlerTest.java
  java/code/src/com/suse/manager/webui/utils/gson/ProxyConfigUpdateJson.java
  java/spacewalk-java.changes.nadvornik.proxy_onboarding_api
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#10162 Skip cucumber feature srv_salt_git_pillar
  testsuite/features/secondary/srv_salt_git_pillar.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#10151 Reduce verbosity of Selenium logs on Debug Mode
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10129 Build a Redis docker container
  .github/workflows/build_redis_container.yml
  testsuite/dockerfiles/redis/Dockerfile
  testsuite/dockerfiles/redis/README.md
  testsuite/podman_runner/run_redis.sh
Labels: merge-candidate, testing, ruby_rubocop

#10164 Refactor of GH validation workflows in order to use an internal Redis container
  .github/scripts/test_covering_pr.js
  .github/workflows/acceptance_tests_base.yml
  .github/workflows/acceptance_tests_coordinator.yml
  .github/workflows/acceptance_tests_parallel.yml
  .github/workflows/acceptance_tests_recommended.yml
  .github/workflows/acceptance_tests_sequential.yml
  .github/workflows/build_controller_test_container.yml
  testsuite/Rakefile
  testsuite/podman_runner/run_redis.sh
Labels: merge-candidate, testing, ruby_rubocop

#10173 remove dropped tool spacewalk-sync-setup from filelist
  utils/spacewalk-utils.spec
Labels: ga-blocker

#10122 CI: Enable and Refactor Update-Related Tests
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/05e14516444ba2ad76ca954108352507217c5b1e37d786545f6737920efa55e7-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/0ebbd5332a116f2665024f953e93bdd967afe2061229a3dff06f87359f5fe66a-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/5501a05d833e5505555021ea10f0ce3f1c8db9ef8689ca8d7d36e5daddf9f176-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/989e87dcefcd4125a4be8306b1d7fc50bf645ae4d119470d6b5eff81521bf1ac-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/a02e77b909e7b939a488ce24a4f74051a0773b51986408dc4458a0993afcc20f-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/b4f13114b9a0fa74de1fd4bf430a9fd2f2790b44cc192a1956c75656a0be5173-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/x86_64/milkyway-dummy-1.0-1.1.x86_64.rpm
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/min_check_patches_install.feature
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/secondary/min_recurring_action.feature
  testsuite/features/secondary/srv_docker_cve_audit.feature
  testsuite/podman_runner/08_start_server.sh
  testsuite/podman_runner/10_run_sshminion.sh
  testsuite/podman_runner/12_run_salt_sle_minion.sh
  testsuite/podman_runner/13_run_salt_rhlike_minion.sh
  testsuite/podman_runner/14_run_salt_deblike_minion.sh
  testsuite/run_sets/secondary_parallelizable.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop

#10172 CI: fix deblike and rhlike repos
  testsuite/dockerfiles/rocky-minion/Dockerfile
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
  testsuite/dockerfiles/server-all-in-one-dev/minima.yaml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/EL8-Uyuni-Client-Tools/EL_8/repodata/1cb61ea996355add02b1426ed4c1780ea75ce0c04c5d1107c025c3fbd7d8bcae-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/EL8-Uyuni-Client-Tools/EL_8/repodata/2694912acc72d4f59e016068833679bfa0e54b5c61b0a547a3a47ec195a64888-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/EL8-Uyuni-Client-Tools/EL_8/repodata/95a4415d859d7120efb6b3cf964c07bebbff9a5275ca673e6e74a97bcbfb2a5f-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/EL8-Uyuni-Client-Tools/EL_8/repodata/9cfc876e646d89b05b12b32923cb3bd8dc6b0675a6c5db472a99e6acd8da5932-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/EL8-Uyuni-Client-Tools/EL_8/repodata/cd56644442b3b41f4cfc51293361dff00eefd776659818f078539a60333942bd-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/EL8-Uyuni-Client-Tools/EL_8/repodata/ef3e20691954c3d1318ec3071a982da339f4ed76967ded668b795c9e070aaab6-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/EL8-Uyuni-Client-Tools/EL_8/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Stable:/Ubuntu2404-Uyuni-Client-Tools/xUbuntu_24.04/Packages.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/InRelease
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/Packages
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/Packages.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/Release
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/Release.gpg
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/Release.key
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/Sources
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/Sources.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/all/andromeda-dummy_1.0_all.deb
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/all/milkyway-dummy_1.0_all.deb
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/all/publishkey-helper_1.0_all.deb
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/all/virgo-dummy_1.0_all.deb
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/andromeda-dummy_1.0.dsc
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/milkyway-dummy_1.0.dsc
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/publishkey-helper_1.0.dsc
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/deb/virgo-dummy_1.0.dsc
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/noarch/andromeda-dummy-1.0-1.2.noarch.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/noarch/publishkey-helper-1.0-1.1.noarch.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/noarch/virgo-dummy-1.0-1.2.noarch.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/183d4891d7b1a19b3f294f7fd55533fba89bced3a87545088b94ce23ab3532f4-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/3ac05bee1a2e1a066745579f6c8198bb3a61c65b49ebc631baba2da1a755ecbf-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/3af964edad80ab3a563b021d47371e6a7324443768ee72fce006df761c749551-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/519a5db9c3c64b03f7758313a42f969c0d8c1b14833e855b8e2eeae497dac2cc-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/aa895b930a4125213895b0cc34da1da4d2e027a520a99906ac64f9344e94f082-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/c6a5a0aef063ff8da53657a708c83ca4abbfe1acd0c43a910627a9ea34d38843-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/repositories/systemsmanagement:/Uyuni:/Test-Packages:/Pool/rpm/x86_64/rute-dummy-1.0-2.2.x86_64.rpm
  testsuite/features/secondary/min_recurring_action.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#10184 Remove workaround for bsc#1222108
  testsuite/features/build_validation/init_clients/alma8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/alma9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/centos7_ssh_minion.feature
  testsuite/features/build_validation/init_clients/debian12_ssh_minion.feature
  testsuite/features/build_validation/init_clients/liberty9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/opensuse156arm_ssh_minion.feature
  testsuite/features/build_validation/init_clients/oracle9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/rhel9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/rocky8_ssh_minion.feature
  testsuite/features/build_validation/init_clients/rocky9_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle12sp5_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp2_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp3_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp4_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp5_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp5s390_ssh_minion.feature
  testsuite/features/build_validation/init_clients/sle15sp6_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro51_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro52_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro53_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro54_ssh_minion.feature
  testsuite/features/build_validation/init_clients/slemicro55_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2004_ssh_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2204_ssh_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#10183 Add Amazon 2023 to BV testsuite
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/init_clients/amazon2023_minion.feature
  testsuite/features/build_validation/init_clients/amazon2023_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: core-features, merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#10196 Disable failing tests
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/podman_runner/03_run_controller_and_registry_and_buildhost.sh
  testsuite/podman_runner/07_server_setup.sh
  testsuite/podman_runner/08_start_server.sh
  testsuite/podman_runner/12_run_salt_sle_minion.sh
  testsuite/podman_runner/13_run_salt_rhlike_minion.sh
  testsuite/podman_runner/14_run_salt_deblike_minion.sh
  testsuite/podman_runner/15_run_core_tests.sh
  testsuite/podman_runner/17_run_init_clients_tests.sh
  testsuite/podman_runner/18_run_secondary_tests.sh
  testsuite/podman_runner/20_run_recommended_tests.sh
  testsuite/podman_runner/21_run_secondary_parallelizable_tests.sh
  testsuite/podman_runner/22_run_secondary_parallelizable_tests_subset.sh
  testsuite/podman_runner/25_get_client_logs.sh
  testsuite/podman_runner/generate_certificates.sh
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#10201 CVE-2025-23393, CVE-2025-23392: Filter user input in (virtual) systems lists pages (bsc#1239826), (bsc#1240386)
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/utils/PageControlHelper.java
  java/code/src/com/suse/manager/webui/utils/test/PageControlHelperTest.java
  java/spacewalk-java.changes.cbosdo.bsc1239826
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10205 Backport changes from Uyuni-2024.12 to master
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/utils/PageControlHelper.java
  java/code/src/com/suse/manager/webui/utils/test/PageControlHelperTest.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10204 Test raul 2025 04 16
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/utils/PageControlHelper.java
  java/code/src/com/suse/manager/webui/utils/test/PageControlHelperTest.java
  java/spacewalk-java.changes
  java/spacewalk-java.spec
  rel-eng/packages/spacewalk-java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10210 Fix product names
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#10211 download.suse.de is unreacheable from SLC1
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10140 QE: Modifiying some problems in checking and unchecking checkboxes
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/step_definitions/navigation_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#10218 Reposync timings adapted to Provo
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10165 Use rebranded skelcd-EULA-multi-linux-manager-server
  susemanager-branding-oss/susemanager-branding-oss.changes.deneb-alpha.MLM51-rebrand-skelcd
  susemanager-branding-oss/susemanager-branding-oss.spec
Labels: ga-blocker

#10222 CI: fix buildhost docker tests
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
Labels: secondary-features, testing, ruby_rubocop

#9912 Read the oscrc config from default and legacy locations
  rel-eng/uyuni-check-version
Labels: merge-candidate

#10157 Replace server hostname in chained proxy tftp container (bsc#1236166)
  containers/proxy-tftpd-image/proxy-tftpd-image.changes.nadvornik.replace_fqdns
  containers/proxy-tftpd-image/tftp_wrapper.py
  java/code/src/com/redhat/rhn/manager/system/proxycontainerconfig/ProxyContainerConfigCreateGenerateFileMaps.java
  java/code/src/com/suse/proxy/test/ProxyConfigUpdateFileAcquisitorTest.java
  java/code/src/com/suse/proxy/update/ProxyConfigUpdateFileAcquisitor.java
  java/spacewalk-java.changes.nadvornik.replace_fqdns
  susemanager-utils/susemanager-sls/salt/proxy/apply_proxy_config.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.nadvornik.replace_fqdns
Labels: java, java_lint_checkstyle, java_pgsql_tests, ga-blocker

#10150 Fix layout issues in product page (bsc#1240131)
  web/html/src/manager/admin/setup/products/products-scc-dialog.module.scss
  web/html/src/manager/admin/setup/products/products-scc-dialog.tsx
  web/spacewalk-web.changes.eth.bsc1240131
Labels: ui, javascript_lint, needs-translation, ga-blocker

#10225 Sync version update code
  java/code/src/com/redhat/rhn/domain/notification/types/ManagerVersion.java
  java/code/src/com/redhat/rhn/domain/notification/types/UpdateAvailable.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/ManagerVersionTest.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/UpdateAvailableTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10161 Ensure browser cache is busted when newer assets are available (bsc#1240984)
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/spacewalk-java.changes.eth.bsc1240984
  web/html/src/build/webpack.config.js
  web/spacewalk-web.changes.eth.bsc1240984
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webapp, ga-blocker

#10230 Avoid steps inside steps
  testsuite/documentation/guidelines.md
Labels: merge-candidate, testing, ruby_rubocop

#10244 Testsuite: fix docker build tests
  testsuite/features/step_definitions/docker_steps.rb
Labels: testing, ruby_rubocop, test-framework

#10207 Disable directory listing (bsc#1241094)
  proxy/proxy/httpd-conf/spacewalk-proxy.conf
  proxy/proxy/spacewalk-proxy.changes.eth.bsc1241094
  spacewalk/config/etc/httpd/conf.d/zz-spacewalk-www.conf
  spacewalk/config/spacewalk-config.changes.eth.bsc1241094
Labels: proxy, ga-blocker

#10158 Persist postfix configuration flag also in /etc/postfix (bsc#1239744)
  containers/server-image/Dockerfile
  containers/server-image/root/usr/lib/postfix/systemd/config_postfix
  containers/server-image/server-image.changes.mbussolotto.postfix_persist
Labels: ga-blocker

#10148 Uyuni fix deregister
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/hub/migration/test/IssMigratorTest.java
  java/code/src/com/suse/manager/hub/test/HubManagerTest.java
  java/code/src/com/suse/manager/model/hub/HubFactory.java
  java/code/src/com/suse/manager/webui/controllers/admin/handlers/HubApiController.java
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
  java/spacewalk-java.changes.carlo.uyuni-fix-deregister
Labels: java, java_lint_checkstyle, java_pgsql_tests, ga-blocker

#10154 Fix: Correctly register and deregister with multiple roles
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ServerInfoJsonSerializer.java
  java/code/src/com/suse/manager/hub/DefaultHubInternalClient.java
  java/code/src/com/suse/manager/hub/HubController.java
  java/code/src/com/suse/manager/hub/HubInternalClient.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/hub/PeripheralRegistrationException.java
  java/code/src/com/suse/manager/hub/migration/IssMigrator.java
  java/code/src/com/suse/manager/hub/migration/test/IssMigratorTest.java
  java/code/src/com/suse/manager/hub/test/HubManagerTest.java
  java/code/src/com/suse/manager/model/hub/ServerInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/admin/handlers/HubApiController.java
  java/code/src/com/suse/manager/xmlrpc/iss/test/HubHandlerTest.java
  java/spacewalk-java.changes.carlo.uyuni-fix-overregister
  schema/spacewalk/common/data/endpoint.sql
  schema/spacewalk/susemanager-schema.changes.carlo.uyuni-fix-overregister
  schema/spacewalk/upgrade/susemanager-schema-5.1.6-to-susemanager-schema-5.1.7/100-rbac-endpoint.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, xmlrpc, old-ui, needs-translation, ga-blocker

#10224 call product refresh after the channel sync call
  java/code/src/com/suse/manager/hub/HubController.java
  java/spacewalk-java.changes.mcalmer.issv3-call-refresh
Labels: java, java_lint_checkstyle, java_pgsql_tests, ga-blocker

#10253 CI: fix other package related features
  testsuite/features/secondary/min_deblike_salt_install_package.feature
  testsuite/features/secondary/min_deblike_salt_install_with_staging.feature
  testsuite/features/secondary/min_retracted_patches.feature
  testsuite/features/secondary/min_rhlike_salt_install_package_and_patch.feature
  testsuite/features/secondary/min_salt_pkgset_beacon.feature
Labels: secondary-features, testing, ruby_rubocop

#10256 Add missing RBAC mappings (bsc#1241893)
  schema/spacewalk/common/data/endpoint.sql
  schema/spacewalk/common/data/endpointNamespace.sql
  schema/spacewalk/susemanager-schema.changes.cbbayburt.bsc1241893
  schema/spacewalk/upgrade/susemanager-schema-5.1.6-to-susemanager-schema-5.1.7/101-rbac-mappings.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate, ga-blocker

#10250 Fix typo in RBAC ACL 'authorized_for' in system details header (bsc#1241697)
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/spacewalk-java.changes.cbbayburt.bsc1241697
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, merge-candidate, webapp, ga-blocker

#10208 Bv fix issue add mu slmicro6x
  testsuite/features/step_definitions/setup_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#10203 Ensure selinuxenabled exists before executing it (bsc#1241060)
  uyuni/uyuni-storage-setup/scripts/susemanager-storage-setup-functions.sh
  uyuni/uyuni-storage-setup/uyuni-storage-setup.changes.mackdk.5.0-fix-storage-setup-selinux
Labels: ga-blocker

#10175 Improve change channel performance (bsc#1239154)
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/frontend/action/systems/sdc/SystemChannelsAction.java
  java/code/src/com/redhat/rhn/frontend/dto/SystemCompareDto.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/ssm/ChannelChangeAction.java
  java/code/src/com/redhat/rhn/manager/ssm/ChannelChangeDto.java
  java/code/src/com/redhat/rhn/manager/ssm/SsmManager.java
  java/code/src/com/redhat/rhn/manager/ssm/channelchange/AbstractChannelChange.java
  java/code/src/com/redhat/rhn/manager/ssm/channelchange/ChannelChange.java
  java/code/src/com/redhat/rhn/manager/ssm/channelchange/ChannelChangeFactory.java
  java/code/src/com/redhat/rhn/manager/ssm/channelchange/DefaultBaseChange.java
  java/code/src/com/redhat/rhn/manager/ssm/channelchange/ExplicitBaseChange.java
  java/code/src/com/redhat/rhn/manager/ssm/channelchange/OnlyChildChannelsChange.java
  java/code/src/com/redhat/rhn/manager/ssm/test/SsmManagerTest.java
  java/spacewalk-java.changes.mcalmer.improve-channel-change-performance
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui, ga-blocker

#10254 Change gettext options
  client/rhel/spacewalk-client-tools/po/Makefile
  python/spacewalk/po/Makefile
  scripts/translation/update-all-translation-strings.sh
  spacecmd/po/Makefile
  susemanager/po/Makefile
  susemanager/po/susemanager.pot
  web/po/Makefile
Labels: python3, susemanager_unittests, ui, javascript_lint, needs-translation

#10257 Mc bugfixes
  java/code/src/com/redhat/rhn/domain/image/ImageInfoFactory.java
  java/code/src/com/redhat/rhn/domain/notification/types/ManagerVersion.java
  java/code/src/com/redhat/rhn/domain/server/MinionServerFactory.java
  java/code/src/com/redhat/rhn/domain/server/ServerFactory.java
  java/code/src/com/redhat/rhn/frontend/action/renderers/setupwizard/MirrorCredentialsRenderer.java
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/websocket/Notification.java
  java/code/src/com/suse/manager/webui/websocket/WebsocketSessionConfigurator.java
  java/spacewalk-java.changes.mcalmer
  testsuite/features/secondary/srv_maintenance_windows.feature
  uyuni/base/uyuni-base.changes.mcalmer
  uyuni/base/uyuni-base.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, secondary-features, testing, ruby_rubocop, data-model, old-ui, ga-blocker

#10214 Remove unneeded debug log message
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartData.java
  java/spacewalk-java.changes.cbosdo.log-sanitizing
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model, ga-blocker

#10261 Update Typescript to 5.8.3
  web/html/src/build/plugins/generate-stories-plugin.js
  web/html/src/components/general/with-page-wrapper.tsx
  web/html/src/components/input/InputBase.tsx
  web/html/src/components/input/form-utils.ts
  web/html/src/components/utils/cloneReactElement.ts
  web/html/src/core/channels/api/use-mandatory-channels-api.ts
  web/html/src/manager/admin/config/monitoring-admin.tsx
  web/html/src/manager/admin/setup/products/products-scc-dialog.tsx
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/content-management/list-filters/list-filters.tsx
  web/html/src/manager/storybook/stories.generated.ts
  web/html/src/manager/systems/activation-key/activation-key-channels-api.tsx
  web/html/src/manager/systems/delete-system.tsx
  web/html/src/manager/systems/details/mgr-server-info.tsx
  web/html/src/manager/systems/ssm/ssm-subscribe-channels.tsx
  web/html/src/manager/systems/subscribe-channels/subscribe-channels.tsx
  web/html/src/package.json
  web/html/src/tsconfig.json
  web/html/src/utils/functions.ts
  web/html/src/utils/test-utils/server.ts
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
Labels: ui, javascript_lint, needs-translation, ga-blocker

#10267 Numerous Dependabot updates
  web/html/src/package.json
  web/html/src/utils/data-providers/paged-data-endpoint.test.ts
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.dependabot-misc
Labels: ui, javascript_lint, needs-translation, ga-blocker

#10268 Update Babel and related dependencies
  web/html/src/package.json
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
Labels: ui, javascript_lint, ga-blocker

#10263 Better handling of systems lists filtering
  java/code/src/com/suse/manager/utils/PagedSqlQueryBuilder.java
  java/code/src/com/suse/manager/utils/test/PagedSqlQueryBuilderTest.java
  java/code/src/com/suse/manager/webui/controllers/SystemsController.java
  java/code/src/com/suse/manager/webui/controllers/test/SystemsControllerTest.java
  java/code/src/com/suse/manager/webui/templates/systems/all-list.jade
  java/code/src/com/suse/manager/webui/templates/systems/virtual-list.jade
  java/code/src/com/suse/manager/webui/utils/PageControlHelper.java
  java/code/src/com/suse/manager/webui/utils/test/PageControlHelperTest.java
  java/spacewalk-java.changes.cbosdo.systems-list-fix
  web/html/src/manager/systems/all-list.renderer.tsx
  web/html/src/manager/systems/virtual-list.renderer.tsx
  web/spacewalk-web.changes.cbosdo.systems-list-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, webui-templates, needs-translation, ga-blocker

#10273 Remove trailing && \ in server-image Dockerfile
  containers/server-image/Dockerfile
Labels: ga-blocker

#10272 Timeouts measured on 5.0 BV
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework

#10275 Bump `@babel/helpers`
  web/html/src/package.json
  web/html/src/yarn.lock
Labels: ui, javascript_lint, ga-blocker

#10274 QE: Solving Delete Virtual Host Manager test
  testsuite/features/secondary/srv_virtual_host_manager.feature
Labels: secondary-features, testing, ruby_rubocop

#10276 QE: Solving maintenance windows feature
  testsuite/features/secondary/srv_maintenance_windows.feature
Labels: secondary-features, testing, ruby_rubocop
