Repository uyuni-project/uyuni, pull requests merged in 2025-03, with the labels that each got.

#9846 QE: Get rid of debian 11
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/debian11_minion.feature
  testsuite/features/build_validation/init_clients/debian11_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/step_definitions/retail_steps.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#9873 handle architecture arm64
  java/code/src/com/redhat/rhn/domain/channel/ChannelArch.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/MgrSyncUtils.java
  java/code/src/com/suse/manager/matcher/MatcherJsonIO.java
  java/code/src/com/suse/scc/model/SCCProductJson.java
  java/spacewalk-java.changes.mcalmer.introduce-arm64
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#9875 switch bootstrap repo data to MLM Tools
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.switch-to-mlmtools
Labels: python3, susemanager_unittests, merge-candidate

#9872 ISSv3 - Use GET instead of POST for the logout
  java/code/src/com/suse/manager/xmlrpc/iss/RestHubExternalClient.java
  java/spacewalk-java.changes.mackdk.fix-registration
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, merge-candidate, ci-pipelines, testing, ruby_rubocop, test-framework, old-ui, needs-translation

#9841 First batch of product renaming
  .github/PULL_REQUEST_TEMPLATE.md
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/admin/AdminViewsController.java
  java/code/src/com/suse/manager/webui/controllers/admin/templates/monitoring.jade
  java/code/src/com/suse/manager/webui/controllers/login/templates/login.jade
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/decorators/layout_head.jsp
  java/code/webapp/WEB-INF/includes/leftnav.jsp
  java/spacewalk-java.changes.eth.rename
  schema/spacewalk/susemanager-schema.changes.eth.rename
  schema/spacewalk/upgrade/susemanager-schema-5.1.3-to-susemanager-schema-5.1.4/300-product-rename.sql
  web/conf/rhn_web.conf
  web/html/src/branding/css/base/mixins.scss
  web/html/src/branding/css/suse-dark-variables.scss
  web/html/src/branding/css/suse-dark.scss
  web/html/src/branding/css/suse-light-variables.scss
  web/html/src/branding/css/suse-light.scss
  web/html/src/build/webpack.config.js
  web/html/src/components/formulas/EditGroup.tsx
  web/html/src/components/formulas/FormulaComponentGenerator.tsx
  web/html/src/components/hub/RegisterPeripheralForm.tsx
  web/html/src/core/debugUtils/index.ts
  web/html/src/core/user-preferences/index.ts
  web/html/src/global.d.ts
  web/html/src/manager/admin/config/monitoring-admin.tsx
  web/html/src/manager/admin/config/monitoring.renderer.tsx
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/audit/subscription-matching/subscription-matching-matcher-run-panel.tsx
  web/html/src/manager/images/image-profile-edit.tsx
  web/html/src/manager/images/image-view-overview.tsx
  web/html/src/manager/images/image-view-runtime.tsx
  web/html/src/manager/images/image-view.tsx
  web/html/src/manager/login/login.renderer.tsx
  web/html/src/manager/login/login.tsx
  web/html/src/manager/login/messages.tsx
  web/html/src/manager/login/susemanager/login.tsx
  web/html/src/manager/login/uyuni/login.tsx
  web/html/src/manager/shared/menu/menu.tsx
  web/html/src/manager/state/highstate-summary.tsx
  web/html/src/manager/systems/activation-key/activation-key-channels.tsx
  web/html/src/manager/systems/bootstrap/bootstrap-minions.tsx
  web/html/src/styleguide/template.js
  web/html/src/utils/functions.ts
  web/spacewalk-web.changes.eth.rename
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, webapp, old-ui, needs-translation

#9883 Rebrand the product to Multi-Linux Manager
  rel-eng/chart_push.sh
  rel-eng/container_push.sh
Labels: merge-candidate

#9805 Check variable if not nil for flaky tests tagging
  testsuite/ext-tools/collect_and_tag_flaky_tests.rb
Labels: testing, ruby_rubocop

#9889 Fix wrong feature name
  testsuite/features/build_validation/finishing/srv_selinux.feature
  testsuite/features/finishing/srv_selinux.feature
  testsuite/run_sets/build_validation/build_validation_finishing.yml
Labels: ci-pipelines, testing, ruby_rubocop, build-validation-features

#9887 Allow both GET and POST requests for /auth/logout API endpoint
  java/code/src/com/suse/manager/api/HttpApiRegistry.java
  java/code/src/com/suse/manager/api/test/HttpApiRegistryTest.java
  java/spacewalk-java.changes.cbbayburt.logout-api-get
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9893 Remove unused feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
Labels: testing, ruby_rubocop, build-validation-features

#9901 Fix the skip of recommended tests
  .github/workflows/acceptance_tests_common.yml
Labels: merge-candidate

#9903 Fix typo on server-all-in-one-dev dockerfile
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
Labels: testing, ruby_rubocop

#9591 Fix unchecked types warning around PackageMetadata(Update ModeFactory.java)
  java/code/src/com/redhat/rhn/common/db/datasource/ModeFactory.java
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9905 CI: update controller to opensuse 15.6 and install latest gems
  testsuite/dockerfiles/controller-dev/Dockerfile
Labels: testing, ruby_rubocop

#9904 Change wget by curl on server-all-in-one-dev Dockerfile
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
Labels: merge-candidate, testing, ruby_rubocop

#9906 Fix openscap library on ubuntu-minion dockerfile
  testsuite/dockerfiles/ubuntu-minion/Dockerfile
Labels: merge-candidate

#9909 CI: skip reportdb failing test
  testsuite/features/secondary/srv_reportdb.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9918 Distinguish between OS of real host and of container
  testsuite/features/support/commonlib.rb
  testsuite/features/support/remote_node.rb
Labels: testing, ruby_rubocop, test-framework

#9919 Supportdata db
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/SupportDataAction.java
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/susemanager-schema.changes.mcalmer.supportdata-db
  schema/spacewalk/upgrade/susemanager-schema-5.1.5-to-susemanager-schema-5.1.6/001-supportdata-action-type.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model

#9866 Issv3: add xmlrpc hub apis
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ChannelInfoJsonSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ManagerInfoJsonSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/OrgInfoJsonSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/OrgSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/SerializerRegistry.java
  java/code/src/com/suse/manager/api/RouteFactory.java
  java/code/src/com/suse/manager/hub/DefaultHubInternalClient.java
  java/code/src/com/suse/manager/hub/HubController.java
  java/code/src/com/suse/manager/hub/HubInternalClient.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/hub/test/ControllerTestUtils.java
  java/code/src/com/suse/manager/model/hub/HubFactory.java
  java/code/src/com/suse/manager/model/hub/UpdatableServerData.java
  java/code/src/com/suse/manager/webui/controllers/admin/beans/ChannelSyncModel.java
  java/code/src/com/suse/manager/webui/controllers/admin/beans/IssV3ChannelResponse.java
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
  java/code/src/com/suse/manager/xmlrpc/iss/HubHandler.java
  java/code/src/com/suse/manager/xmlrpc/iss/test/HubHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui

#9911 QE: Adding testcases that test the content lifecycle filters
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/step_definitions/content_lifecycle_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#9973 QE: Refactor choose radio button
  testsuite/documentation/cucumber-steps.md
  testsuite/features/step_definitions/common_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9979 Fix rename supportconfig tarball
  testsuite/podman_runner/20_get_server_logs.sh
Labels: merge-candidate, testing, ruby_rubocop

#9990 CI: fix get logs client task
  testsuite/dockerfiles/ubuntu-minion/Dockerfile
Labels: testing, ruby_rubocop

#9989 Switch to Python 3.11 Salt from SLE 15-SP7
  susemanager-utils/susemanager-sls/susemanager-sls.changes.deneb-alpha.saltVersion51susemanager-sls
  susemanager-utils/susemanager-sls/susemanager-sls.spec
Labels: merge-candidate

#9993 QE: Improving systemgroups and ssm tests
  testsuite/features/secondary/allcli_system_group.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9996 ci: fix ubuntu build
  testsuite/dockerfiles/ubuntu-minion/Dockerfile
Labels: testing, ruby_rubocop

#9998 Fix forward port to HEAD
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9999 Rename MLM tools in testsuite
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#9757 Remove repeat command when getting the system id
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#9965 Add timeout to ssh
  testsuite/features/support/network_utils.rb
Labels: testing, ruby_rubocop, test-framework

#10006 Remove old client tools instead of appending, fix sp7 string
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9983 Refactor of GitHub workflows for GH acceptance tests
  .github/CODEOWNERS
  .github/workflows/acceptance_tests_base.yml
  .github/workflows/acceptance_tests_coordinator.yml
  .github/workflows/acceptance_tests_feedback.yml
  .github/workflows/acceptance_tests_parallel.yml
  .github/workflows/acceptance_tests_recommended.yml
  .github/workflows/acceptance_tests_scheduler.yml
  .github/workflows/acceptance_tests_secondary.yml
  .github/workflows/acceptance_tests_secondary_parallel.yml
  .github/workflows/acceptance_tests_sequential.yml
  .github/workflows/recommended_tests.yml
  testsuite/features/support/commonlib.rb
  testsuite/podman_runner/20_run_recommended_tests.sh
  testsuite/podman_runner/21_run_secondary_parallelizable_tests.sh
  testsuite/podman_runner/22_run_secondary_parallelizable_tests_subset.sh
  testsuite/podman_runner/23_split_secondary_p_tests.sh
  testsuite/podman_runner/24_get_server_logs.sh
  testsuite/podman_runner/25_get_client_logs.sh
  testsuite/podman_runner/run
Labels: testing, ruby_rubocop, test-framework

#10009 Remove Leap 15.5
  testsuite/dockerfiles/server-all-in-one-dev/mirror/organizations_products_unscoped.json
  testsuite/dockerfiles/server-all-in-one-dev/mirror/organizations_repositories.json
  testsuite/dockerfiles/server-all-in-one-dev/mirror/product_tree.json
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/init_clients/opensuse155arm_minion.feature
  testsuite/features/build_validation/init_clients/opensuse155arm_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/github_validation/init_clients/sle_ssh_minion.feature
  testsuite/features/proxy/proxy_traditional.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/reference_srv_check_reposync.feature
  testsuite/features/reposync/reference_srv_sync_products_extra.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/allcli_software_channels.feature
  testsuite/features/secondary/allcli_software_channels_dependencies.feature
  testsuite/features/secondary/min_bootstrap_activation_key.feature
  testsuite/features/secondary/min_bootstrap_api.feature
  testsuite/features/secondary/min_bootstrap_script.feature
  testsuite/features/secondary/min_change_software_channel.feature
  testsuite/features/secondary/min_custom_pkg_download_endpoint.feature
  testsuite/features/secondary/min_recurring_action.feature
  testsuite/features/secondary/minssh_bootstrap_api.feature
  testsuite/features/secondary/srv_content_lifecycle.feature
  testsuite/features/secondary/srv_dist_channel_mapping.feature
  testsuite/features/secondary/srv_manage_activationkey.feature
  testsuite/features/secondary/srv_manage_channels_page.feature
  testsuite/features/secondary/srv_mgr_sync_list_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework, build-validation-features

#10031 Checkout the PR code on Tests Base workflow
  .github/workflows/acceptance_tests_base.yml
Labels: merge-candidate

#10030 Add set of mirrored files to GH validation
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/repodata/010a64eeac6f4e8658b8461fe63f17a7a7e926113b12f3692620820a85471ca2-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/repodata/3f35bafbec8170156f0b44a87886c895ce744b73dceb3a773a795ccbfcd25b07-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/repodata/6604343bf210d3d2610115367240dc1dde3277cfe4d60825d2365a1bbdde6ce7-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/repodata/76e55cb3687cd186cf26e7bcb2fe917ebfc6638a7bae587bf3277c75c1e014ba-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/repodata/c98e3d4c9b6b85b84a0d316c0be9fd45e6157a258965e9fca72218af8d3287b3-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/repodata/eda9db5d663b2dd44c48e6195e787986b2a17073ca5f37d5faccb652a40eac8f-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/non-oss/x86_64/openSUSE-release-15.6-lp156.416.2.x86_64.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/repodata/010a64eeac6f4e8658b8461fe63f17a7a7e926113b12f3692620820a85471ca2-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/repodata/0c773dba47dce2e2a1680d2d26e864c4efe0eaee97845bf336a663ec69a29bba-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/repodata/3f35bafbec8170156f0b44a87886c895ce744b73dceb3a773a795ccbfcd25b07-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/repodata/6604343bf210d3d2610115367240dc1dde3277cfe4d60825d2365a1bbdde6ce7-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/repodata/76e55cb3687cd186cf26e7bcb2fe917ebfc6638a7bae587bf3277c75c1e014ba-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/repodata/db352a01eda7aa39b1e32292a1a0ac2995eb6d9485c0711582a1831fcfd94c0f-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/distribution/leap/15.6/repo/oss/x86_64/openSUSE-release-15.6-lp156.416.2.x86_64.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/repodata/010a64eeac6f4e8658b8461fe63f17a7a7e926113b12f3692620820a85471ca2-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/repodata/1b328caeb65ae02dcfb7f6d4e4b82c7e69993e8d4cb1489cf7dfacc3fd1d3c9b-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/repodata/3f35bafbec8170156f0b44a87886c895ce744b73dceb3a773a795ccbfcd25b07-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/repodata/6604343bf210d3d2610115367240dc1dde3277cfe4d60825d2365a1bbdde6ce7-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/repodata/76e55cb3687cd186cf26e7bcb2fe917ebfc6638a7bae587bf3277c75c1e014ba-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/repodata/c64661902a40fc6f12234fbb265cf36af8997f12772d628bc10f0822898a834b-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/backports/x86_64/openSUSE-release-15.6-lp156.416.2.x86_64.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/repodata/010a64eeac6f4e8658b8461fe63f17a7a7e926113b12f3692620820a85471ca2-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/repodata/22cc79617a707f9d77087a3a1c2ec84e6da0ec3247abe3a762f4b4de5d5478d0-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/repodata/2548e42aea00b6516fc454a794bbfbcad9f36c4aea48d7c06111c009760b1991-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/repodata/3f35bafbec8170156f0b44a87886c895ce744b73dceb3a773a795ccbfcd25b07-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/repodata/6604343bf210d3d2610115367240dc1dde3277cfe4d60825d2365a1bbdde6ce7-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/repodata/76e55cb3687cd186cf26e7bcb2fe917ebfc6638a7bae587bf3277c75c1e014ba-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/non-oss/x86_64/openSUSE-release-15.6-lp156.416.2.x86_64.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/repodata/010a64eeac6f4e8658b8461fe63f17a7a7e926113b12f3692620820a85471ca2-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/repodata/1381f9d4f68e11a1336e9197ef1e9794f58111ec984854178f28c0746e12ef0e-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/repodata/3f35bafbec8170156f0b44a87886c895ce744b73dceb3a773a795ccbfcd25b07-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/repodata/6604343bf210d3d2610115367240dc1dde3277cfe4d60825d2365a1bbdde6ce7-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/repodata/76e55cb3687cd186cf26e7bcb2fe917ebfc6638a7bae587bf3277c75c1e014ba-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/repodata/c4198e4488d9f1caa78fac75f15b332d4a31155d47e0ba4233cf788b68fec5c2-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/oss/x86_64/openSUSE-release-15.6-lp156.416.2.x86_64.rpm
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/repodata/010a64eeac6f4e8658b8461fe63f17a7a7e926113b12f3692620820a85471ca2-other.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/repodata/1354f8874633000b1e0d51992cf8a87ad5f95fae579f4942bf234165b13d3eb6-primary.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/repodata/3f35bafbec8170156f0b44a87886c895ce744b73dceb3a773a795ccbfcd25b07-filelists.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/repodata/6604343bf210d3d2610115367240dc1dde3277cfe4d60825d2365a1bbdde6ce7-other.sqlite.bz2
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/repodata/6973980d2d32425ccae8849c6c22a44a13626ff5d1b9ceb3def350fec67e1f8b-primary.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/repodata/76e55cb3687cd186cf26e7bcb2fe917ebfc6638a7bae587bf3277c75c1e014ba-filelists.xml.gz
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/repodata/repomd.xml
  testsuite/dockerfiles/server-all-in-one-dev/mirror/update/leap/15.6/sle/x86_64/openSUSE-release-15.6-lp156.416.2.x86_64.rpm
Labels: merge-candidate, testing, ruby_rubocop

#10035 Catch when web session instance is nil
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10039 Fix how to process code coverage per feature
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10032 Vendor salt.utils.versions.Looseversion
  python/spacewalk/satellite_tools/repo_plugins/deb_src.py
  python/spacewalk/satellite_tools/repo_plugins/yum_src.py
  python/spacewalk/spacewalk-backend.changes.agraul.vendor-looseversion
  python/spacewalk/spacewalk-backend.spec
  susemanager/susemanager.changes.agraul.use-correct-shebang-in-mgr-salt-ssh
  susemanager/susemanager.spec
Labels: susemanager_unittests

#10044 Use correct Python version and related shebang (bsc#1239859)
  susemanager/susemanager.changes.deneb-alpha.51_shebang_fix
  susemanager/susemanager.spec
Labels: susemanager_unittests, merge-candidate

#9981 Fix issue 9947, use isEmpty() for checking emptiness
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/FileListConfirmSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/configuration/sdc/FileListSubmitAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserHandler.java
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/code/src/com/redhat/rhn/manager/audit/CVEAuditManager.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/webui/controllers/SSOController.java
  java/code/src/com/suse/utils/Lists.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, xmlrpc, old-ui, sonar-cloud-error-reduction

#10020 do not show Vendor Advisory link for SL-Micro 6 products (bsc#1237770)
  java/code/src/com/suse/manager/errata/SUSEErrataParser.java
  java/spacewalk-java.changes.mcalmer.Manager-5.0-no-advisory-link-for-slmirco
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#9974 Fix package locking for packages not available anymore (bsc#1236877)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Package_queries.xml
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/LockPackageAction.java
  java/code/webapp/WEB-INF/pages/systems/details/packages/lockpkgs.jsp
  java/spacewalk-java.changes.mcalmer.Manager-5.0-fix-pkglock-ui
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, merge-candidate, webapp, old-ui

#9813 QE: refactor and reword action chain features
  testsuite/features/secondary/allcli_action_chain.feature
  testsuite/features/secondary/min_action_chain.feature
  testsuite/features/secondary/min_timezone.feature
  testsuite/features/secondary/minssh_action_chain.feature
  testsuite/features/secondary/srv_maintenance_windows.feature
  testsuite/features/step_definitions/api_common.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#9913 Feature: Assign child channel to a system | Scenario: Cleanup: subscribe the system back to previous channels
  testsuite/features/secondary/min_change_software_channel.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#9949 fix config channels not following priority in highstate (bsc#1237694)
  java/code/src/com/suse/manager/webui/utils/SaltConfigChannelState.java
  java/spacewalk-java.changes.kwalter.bsc1237694
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10061 Ci review docker build profile
  testsuite/features/profiles/github_runner/Docker/Dockerfile
  testsuite/features/profiles/github_runner/Docker/add_packages.sh
  testsuite/features/profiles/github_runner/Docker/authprofile/add_packages.sh
  testsuite/features/profiles/github_runner/Docker/serverhost/add_packages.sh
Labels: testing, ruby_rubocop

#10068 CI: remove flaky tests in content lifecycle
  testsuite/features/secondary/srv_content_lifecycle.feature
Labels: secondary-features, testing, ruby_rubocop

#9885 SonarCloud security hotspot fix: using https instead of http
  web/html/src/manager/login/login.tsx
Labels: ui, javascript_lint, sonar-cloud-error-reduction

#9975 Fix: manage errors in user-defined pillars (bsc#1230403)
  java/code/src/com/suse/manager/reactor/messaging/RegisterMinionEventMessageAction.java
  java/code/src/com/suse/manager/webui/services/impl/SaltService.java
  java/spacewalk-java.changes.carlo.uyuni-fix-user-pillar-errors
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9988 Adds calling a highstate in the API for actionchain (bsc#1157520)
  java/code/src/com/redhat/rhn/frontend/xmlrpc/chain/ActionChainHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/chain/test/ActionChainHandlerTest.java
  java/spacewalk-java.changes.carlo.uyuni-api-add-highstate
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui

#10015 Fix: openscap audit is running immediately even when scheduled for next days (bsc#1239743)
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
  java/spacewalk-java.changes.carlo.uyuni-fix-openscap-audit-date
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#10016 Fix: avoids taskomatic log warning HHH000038: Composite-id class does not override equals/hashCode
  java/code/src/com/redhat/rhn/domain/action/salt/inspect/ImageInspectActionResult.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#9960 Fix: Filters of type Product Temporary Fix cannot be created (bsc#1238922)
  web/html/src/manager/content-management/shared/business/filters.enum.ts
  web/spacewalk-web.changes.carlo.uyuni-fix-filters
Labels: ui, javascript_lint

#9962 Fix: Internal server error when accessing groups in activation keys (bsc#1237581)
  java/code/src/com/redhat/rhn/frontend/action/token/ActivationKeyDetailsAction.java
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
  java/code/src/com/redhat/rhn/frontend/taglibs/list/DataSetManipulator.java
  java/spacewalk-java.changes.carlo.uyuni-fix-sort-immutable
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#9958 Fix: Using reboot_suggested or restart_suggested by API always responds false (bsc#1236910)
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Errata_queries.xml
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/spacewalk-java.changes.carlo.uyuni-errata-overview
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9884 SonarCloud error reduction: HTML issues
  java/licenses/mx4j.html
Labels: java, java_lint_checkstyle, java_pgsql_tests, sonar-cloud-error-reduction

#10069 Fix bug found after merging uyuni-fix-openscap-audit-date
  java/code/src/com/redhat/rhn/frontend/struts/StrutsDelegate.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#9907 Add techpreview products
  susemanager-sync-data/additional_products.json
  susemanager-sync-data/channel_families.json
  susemanager-sync-data/susemanager-sync-data.changes.mcalmer.add-techpreview-products
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.add-techpreview-products
Labels: python3, susemanager_unittests

#9892 Fix race at updating system overview table (bsc#1235853)
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartFactory.java
  java/code/src/com/redhat/rhn/domain/kickstart/KickstartSession.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/spacewalk-java.changes.nadvornik.overview_update
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#9995 find base channels for products which do not have child channels (bsc#1239747)
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes.mcalmer.fix-bs-repo-basechannel-only
Labels: susemanager_unittests

#9351 Update subscription matching warning layout
  java/code/webapp/WEB-INF/pages/common/fragments/yourrhn/subwarn.jsp
  java/spacewalk-java.changes.eth.sub-not
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, testing, ruby_rubocop, webapp, data-model, old-ui, needs-translation

#9877 Fix Ansible add directory UI layout
  web/html/src/manager/minion/ansible/ansible-control-node.tsx
  web/html/src/manager/minion/ansible/new-ansible-path.tsx
  web/spacewalk-web.changes.eth.ans
Labels: ui, javascript_lint, needs-translation

#9798 Update Node to version 22
  .github/workflows/automatic-frontend-lint-fix-pr.yml
  .github/workflows/frontend-dependency-audit.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/javascript-build.yml
  .github/workflows/javascript-unit-tests.yml
  .github/workflows/typescript-compilation.yml
  web/html/src/package.json
  web/html/src/utils/stringToReact.test.tsx
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.node22
  web/spacewalk-web.spec
Labels: ui, javascript_lint, needs-translation

#9935 Sonarcloud & storybook demos
  web/html/src/build/plugins/generate-stories-plugin.js
  web/html/src/components/action/ActionStatus.example.tsx
  web/html/src/components/buttons.example.tsx
  web/html/src/components/datetime/DateTimePicker.example.tsx
  web/html/src/components/datetime/FromNow.example.tsx
  web/html/src/components/dialog/action-confirm.example.tsx
  web/html/src/components/dialog/delete.example.tsx
  web/html/src/components/input/check/Check.example.tsx
  web/html/src/components/input/datetime/DateTime.example.tsx
  web/html/src/components/input/form-multi-input/multiple-fields.example.tsx
  web/html/src/components/input/form-multi-input/single-field.example.tsx
  web/html/src/components/input/form-multi-input/table-fields.example.tsx
  web/html/src/components/input/form/Form.example.tsx
  web/html/src/components/input/password/Password.example.tsx
  web/html/src/components/input/radio/horizontal-open.example.tsx
  web/html/src/components/input/radio/horizontal.example.tsx
  web/html/src/components/input/radio/vertical-open.example.tsx
  web/html/src/components/input/radio/vertical.example.tsx
  web/html/src/components/input/range/Range.example.tsx
  web/html/src/components/input/select/async.example.tsx
  web/html/src/components/input/select/custom.example.tsx
  web/html/src/components/input/select/simple.example.tsx
  web/html/src/components/input/text/Text.example.tsx
  web/html/src/components/messages/severities.example.tsx
  web/html/src/components/messages/utilities.example.tsx
  web/html/src/components/panels/BootstrapPanel.example.tsx
  web/html/src/components/panels/TopPanel.example.tsx
  web/html/src/components/toastr/toastr.example.tsx
  web/html/src/components/tree/tree.example.tsx
  web/html/src/components/utils/HelpIcon.example.tsx
  web/html/src/components/utils/HelpLink.example.tsx
  web/html/src/components/utils/loading/simple.example.tsx
  web/html/src/components/utils/loading/text-border.example.tsx
  web/html/src/components/utils/loading/text.example.tsx
  web/html/src/manager/storybook/stories.generated.ts
  web/html/src/manager/storybook/storybook.tsx
  web/html/src/utils/hooks/index.ts
  web/html/src/utils/hooks/use-query-params.ts
Labels: ui, javascript_lint, needs-translation

#9976 Fix sticky toolbar hiding notification messages on packages page (bsc#1239621)
  web/html/javascript/spacewalk-essentials.js
  web/html/src/branding/css/base/components/toolbar.scss
  web/html/src/branding/css/base/theme.scss
  web/html/src/branding/css/suse-light-variables.scss
  web/html/src/branding/css/uyuni-variables.scss
  web/spacewalk-web.changes.eth.bsc1239621
Labels: ui, javascript_lint, needs-translation

#10076 26633 backport
  web/html/javascript/login.js
  web/html/src/manager/login/susemanager/login.tsx
  web/spacewalk-web.changes.bisht-richa.login-theme
Labels: ui, javascript_lint

#10079 Fix delete button alignment in filter modal.
  web/html/src/manager/content-management/list-filters/filter-edit.tsx
  web/spacewalk-web.changes.bisht-richa.filter-modal-buttons-alignment
Labels: ui, javascript_lint, needs-translation

#9786 Fix tooltip text for icons in the patches list
  java/code/webapp/WEB-INF/pages/systems/errata.jsp
  java/spacewalk-java.changes.bisht-richa.patch-icon-hover-text
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp

#10050 Use correct root ca when syncing a peripheral reporting database
  java/code/src/com/redhat/rhn/common/conf/ConfigDefaults.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/utils/CertificateUtils.java
  java/spacewalk-java.changes.mackdk.issv3-hub-reporting-different-rootca
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10084 fix "Ambiguous match" as 4 products are found
  testsuite/features/reposync/srv_sync_products.feature
Labels: testing, ruby_rubocop

#10085 make page number and page size selectable from the testsuite
  testsuite/features/reposync/srv_sync_products.feature
  web/html/src/components/pagination.tsx
Labels: ui, javascript_lint, testing, ruby_rubocop, needs-translation

#10086 change products and names to SUSE Multi-Linux Manager in the testsuite
  testsuite/features/build_validation/add_non_MU_repositories/rocky8_minion_add_iso.feature
  testsuite/features/build_validation/init_clients/monitoring_server.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/reposync/srv_sync_channels.feature
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/secondary/srv_cobbler_sync.feature
  testsuite/features/secondary/srv_menu_filter.feature
  testsuite/features/secondary/srv_restart.feature
  testsuite/features/secondary/srv_task_status_engine.feature
  testsuite/features/secondary/srv_users.feature
Labels: secondary-features, testing, ruby_rubocop, build-validation-features

#10089 Rebrand the proxy name in index file
  proxy/proxy-html/spacewalk-proxy-html.changes.abid.fix-rebranding-issus
  proxy/proxy-html/suse_proxy/index.html
Labels: proxy

#10052 Double the timeout if we run code coverage tool
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#10027 Update only minor and major versions of github-actions
  .github/dependabot.yml
Labels: merge-candidate

#9822 CI: Enable Docker Build Profile Tests on GitHub Actions
  testsuite/features/profiles/github_runner/Docker/add_packages.sh
  testsuite/features/profiles/github_runner/Docker/authprofile/add_packages.sh
  testsuite/features/profiles/github_runner/Docker/serverhost/add_packages.sh
  testsuite/features/secondary/buildhost_docker_auth_registry.feature
  testsuite/features/secondary/buildhost_docker_build_image.feature
  testsuite/podman_runner/07_server_setup.sh
  testsuite/podman_runner/18_run_secondary_tests.sh
  testsuite/podman_runner/generate_certificates.sh
  testsuite/podman_runner/run
  testsuite/podman_runner/setup-nginx-proxy-for-docker-registries.sh
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#8588 Deprecate about page
  java/code/src/com/redhat/rhn/frontend/nav/test/sitenav.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/frontend/taglibs/test/NavDialogMenuTagTest.java
  java/code/src/com/redhat/rhn/frontend/taglibs/test/sitenav-test.xml
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/webapp/WEB-INF/decorators/layout_error.jsp
  java/code/webapp/WEB-INF/includes/footer.jsp
  java/code/webapp/WEB-INF/includes/header.jsp
  java/code/webapp/WEB-INF/pages/help/about.jsp
  java/code/webapp/WEB-INF/pages/help/copyright.jsp
  java/code/webapp/WEB-INF/pages/help/eula.jsp
  java/spacewalk-java.changes.bisht-richa.deprecate-about-page
  java/spacewalk-java.changes.cbbayburt.immutability-issues-fix
  scripts/sitemap.txt
  testsuite/features/secondary/srv_mainpage.feature
  testsuite/podman_runner/09_build_server_code.sh
  web/html/src/manager/login/susemanager/login.tsx
  web/html/src/manager/login/uyuni/login.tsx
  web/spacewalk-web.changes.bisht-richa.deprecate-about-page
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, secondary-features, testing, ruby_rubocop, webapp, old-ui, needs-translation
