Repository uyuni-project/uyuni, pull requests merged in 2025-07, with the labels that each got.

#10387 Set user-data-dir when in a Cloud environment
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10543 Raise an error if API system.search_by_name is empty
  testsuite/features/support/commonlib.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10569 Start chrome with --no-sandbox --disable-notifications
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10563 Implement Pull Request Data Extraction Script
  .gitignore
  testsuite/ext-tools/predictive-test-selection/README.md
  testsuite/ext-tools/predictive-test-selection/config.py
  testsuite/ext-tools/predictive-test-selection/images/pr_data_extract_output_1.png
  testsuite/ext-tools/predictive-test-selection/images/pr_data_extract_output_2.png
  testsuite/ext-tools/predictive-test-selection/pr_data_extraction.py
  testsuite/ext-tools/predictive-test-selection/requirements.txt
Labels: merge-candidate, testing, ruby_rubocop, gsoc

#10580 Wait for page to be downloaded before we press a button
  testsuite/features/secondary/srv_maintenance_windows.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#10586 Wait for VHM page to finish downloading before pressing "Delete"
  testsuite/features/secondary/srv_virtual_host_manager.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#10600 BV: Enable universe repository in Ubuntu 24.04
  testsuite/features/build_validation/init_clients/ubuntu2404_minion.feature
  testsuite/features/build_validation/init_clients/ubuntu2404_ssh_minion.feature
Labels: merge-candidate, testing, ruby_rubocop, build-validation-features

#10604 Disable GPU for Chrome in the hope of no "tab crashed"
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework

#10597 Fix installation of python lib files on Ubuntu 24.04 (bsc#1246586)
  spacecmd/spacecmd.changes
  spacecmd/spacecmd.changes.mcalmer.fix-build-spacecmd-on-ubuntu
  spacecmd/spacecmd.spec
Labels: python3

#10615 Revert --disable-gpu flag addition
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10624 Maximum Javascript heap size option uses dashes
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10626 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  python/spacewalk/po/ca.po
  web/po/ca.po
  web/po/ko.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#10629 Clean up stale sessions on websocket open (bsc#1246119)
  java/code/src/com/redhat/rhn/frontend/servlets/LocalizedEnvironmentFilter.java
  java/spacewalk-java.changes.cbbayburt.bsc1244641
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#10630 Do not expose sensitive data when breaking URL format (bsc#1245005)
  python/spacewalk/satellite_tools/download.py
  python/spacewalk/satellite_tools/repo_plugins/deb_src.py
  python/spacewalk/satellite_tools/repo_plugins/yum_src.py
  python/spacewalk/spacewalk-backend.changes.meaksh.Manager-5.0-bsc1245005
  python/test/unit/spacewalk/satellite_tools/test_yum_src.py
  testsuite/features/build_validation/core/srv_first_settings.feature
  testsuite/features/core/srv_first_settings.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework, build-validation-features

#10592 Bump WebUI to 2025.07 and fix malformed changes file
  web/conf/rhn_web.conf
  web/spacewalk-web.changes
  web/spacewalk-web.changes.deneb-alpha.uyuni-202506
Labels: ui, javascript_lint, merge-candidate

#10468 Fix ISSv3: Inconsistent behavior of the URLs linking to peripherals (bsc#1244220)
  java/code/src/com/suse/manager/webui/controllers/admin/AdminViewsController.java
  java/spacewalk-java.changes.carlo.uyuni-fix-1244220-links-peripherals
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10439 Fix action chain scheduled within SSM creates no link for the new action chain (bsc#1243825)
  java/code/src/com/redhat/rhn/frontend/action/ssm/ProvisioningRemoteCommand.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/spacewalk-java.changes.carlo.uyuni-fix-1243825-ssm-no-link-action-chain
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, needs-translation

#10465 Leftover 'Bootstrap using Salt' checkbox in bootstrap script web page (bsc#1244329)
  java/code/src/com/redhat/rhn/frontend/action/satellite/BootstrapConfigAction.java
  java/code/src/com/redhat/rhn/frontend/action/satellite/test/BootstrapConfigActionTest.java
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  java/code/src/com/redhat/rhn/manager/satellite/ConfigureBootstrapCommand.java
  java/code/src/com/redhat/rhn/manager/satellite/test/ConfigureBootstrapCommandTest.java
  java/code/webapp/WEB-INF/pages/admin/config/bootstrap.jsp
  java/spacewalk-java.changes.carlo.uyuni-fix-1244329-leftover-salt-checkbox
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, old-ui, needs-translation

#10396 SonarCloud fix: java:S108 Nested blocks of code should not be left empty
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/test/ActivationKeyHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/admin/monitoring/test/AdminMonitoringHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/configchannel/test/ConfigChannelHandlerTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/image/profile/test/ImageProfileHandlerTest.java
  java/code/src/com/redhat/rhn/manager/action/test/ActionManagerTest.java
  java/code/src/com/redhat/rhn/manager/formula/test/FormulaManagerTest.java
  java/code/src/com/redhat/rhn/manager/system/VirtualInstanceManager.java
  java/code/src/com/redhat/rhn/taskomatic/core/SchedulerKernel.java
  java/code/src/com/suse/manager/xmlrpc/admin/test/AdminPaygHandlerTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, monitoring, data-model, xmlrpc, old-ui

#10240 SonarCloud fix: java:S1192 String literals should not be duplicated
  java/code/src/com/redhat/rhn/frontend/action/BaseSearchAction.java
  java/code/src/com/redhat/rhn/frontend/taglibs/list/ListTagUtil.java
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui, sonar-cloud-error-reduction

#10242 SonarCloud fix: java:S5411 Avoid using boxed "Boolean" types directly in boolean expressions
  java/code/src/com/redhat/rhn/domain/contentmgmt/validation/ContentPropertiesValidator.java
  java/code/src/com/redhat/rhn/frontend/action/audit/scap/XccdfSearchAction.java
  java/code/src/com/redhat/rhn/frontend/action/errata/ErrataSearchAction.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/KickstartLocaleEditAction.java
  java/code/src/com/redhat/rhn/frontend/action/multiorg/OrgConfigAction.java
  java/code/src/com/redhat/rhn/frontend/action/user/UserEditActionHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/activationkey/ActivationKeyHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/profile/ProfileHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/kickstart/profile/system/SystemDetailsHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/org/OrgHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ConfigRevisionSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/serializer/ScriptResultSerializer.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/XmlRpcSystemHelper.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/config/ServerConfigHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/systemgroup/ServerGroupHandler.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/user/UserHandler.java
  java/code/src/com/redhat/rhn/manager/action/ActionChainManager.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/redhat/rhn/manager/kickstart/KickstartOptionsCommand.java
  java/code/src/com/redhat/rhn/manager/kickstart/tree/TreeDeleteOperation.java
  java/code/src/com/redhat/rhn/manager/system/SystemManager.java
  java/code/src/com/suse/manager/api/HttpApiRegistry.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/controllers/channels/ChannelsApiController.java
  java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java
  java/code/src/com/suse/manager/webui/services/subscriptionmatching/SubscriptionMatchProcessor.java
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, data-model, xmlrpc, old-ui, sonar-cloud-error-reduction

#10238 SonarCloud error reduction fix, rules 1110, 4349, 1149, 2696, 4719, 6213
  java/code/src/com/redhat/rhn/common/db/datasource/ModeFactory.java
  java/code/src/com/redhat/rhn/common/security/acl/SystemAclHandler.java
  java/code/src/com/redhat/rhn/common/validator/StringConstraint.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/PowerManagementAction.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/ssm/test/SsmKSScheduleActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/kickstart/test/PowerManagementActionTest.java
  java/code/src/com/redhat/rhn/frontend/action/ssm/test/PowerManagementConfigurationActionTest.java
  java/code/src/com/redhat/rhn/frontend/servlets/RhnHttpServletRequest.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerPaygTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/CompressingDigestOutputWriter.java
  java/code/src/com/suse/manager/webui/services/ConfigChannelSaltManager.java
  java/code/src/org/cobbler/Profile.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui, cobbler, sonar-cloud-error-reduction

#10611 Add system management channels
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10641 Merging issv3-scc feature branch
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
  java/code/src/com/redhat/rhn/manager/setup/MirrorCredentialsManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/ForwardRegistrationTaskTest.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/hub/test/ControllerTestUtils.java
  java/code/src/com/suse/manager/webui/utils/SparkApplicationHelper.java
  java/code/src/com/suse/manager/webui/utils/gson/ResultJson.java
  java/code/src/com/suse/scc/SCCEndpoints.java
  java/code/src/com/suse/scc/SCCSystemRegistrationManager.java
  java/code/src/com/suse/scc/SCCTaskManager.java
  java/code/src/com/suse/scc/client/SCCClient.java
  java/code/src/com/suse/scc/client/SCCFileClient.java
  java/code/src/com/suse/scc/client/SCCWebClient.java
  java/code/src/com/suse/scc/model/SCCRegisterSystemItem.java
  java/code/src/com/suse/scc/model/SCCSystemCredentialsJson.java
  java/code/src/com/suse/scc/model/SCCUpdateSystemItem.java
  java/code/src/com/suse/scc/proxy/SCCProxyFactory.java
  java/code/src/com/suse/scc/proxy/SCCProxyManager.java
  java/code/src/com/suse/scc/proxy/SCCProxyRecord.java
  java/code/src/com/suse/scc/proxy/SccProxyStatus.java
  java/code/src/com/suse/scc/proxy/SccProxyStatusEnumType.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistration.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationContext.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationCreateUpdateSystems.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationSystemDataAcquisitor.java
  java/code/src/com/suse/scc/registration/SCCSystemRegistrationUpdateCachedItems.java
  java/code/src/com/suse/scc/test/SCCRegisterUpdateSystemItemTest.java
  java/code/src/com/suse/scc/test/SCCSystemRegistrationManagerTest.java
  java/code/src/com/suse/scc/test/SCCSystemRegistrationTest.java
  java/code/src/com/suse/scc/test/registration/SCCSystemRegistrationCreateUpdateSystemsTest.java
  java/code/src/com/suse/scc/test/registration/SCCSystemRegistrationSystemDataAcquisitorTest.java
  java/spacewalk-java.changes.carlo.issv3-scc-proxy-register
  java/spacewalk-java.changes.carlo.issv3-update-last-seen
  schema/spacewalk/common/data/endpoint.sql
  schema/spacewalk/common/tables/suseSccProxy.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/postgres/class/scc_proxy_status_t.sql
  schema/spacewalk/susemanager-schema.changes.carlo.issv3-scc-rbac-endpoints
  schema/spacewalk/susemanager-schema.changes.carlo.issv3-update-last-seen
  schema/spacewalk/upgrade/susemanager-schema-5.1.10-to-susemanager-schema-5.1.11/100-create_suseSccProxy.sql
  schema/spacewalk/upgrade/susemanager-schema-5.1.10-to-susemanager-schema-5.1.11/101-add-updatelastseen-susesccproxy.sql
  schema/spacewalk/upgrade/susemanager-schema-5.1.10-to-susemanager-schema-5.1.11/102-rbac-endpoints-for-scc.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model

#10502 ISSv3 - Minor UI improvements
  java/code/src/com/suse/manager/webui/controllers/admin/beans/PeripheralDetailsData.java
  java/code/src/com/suse/manager/webui/controllers/admin/beans/PeripheralListData.java
  java/spacewalk-java.changes.mackdk.issv3-fix-fqdn-label
  web/html/src/components/dialog/DangerDialog.tsx
  web/html/src/components/hub/ServerDetailsForm.tsx
  web/html/src/components/hub/SyncOrgsToPeripheralChannels.tsx
  web/html/src/components/large-text-attachment.tsx
  web/html/src/manager/admin/hub/hub-details.tsx
  web/html/src/manager/admin/hub/peripheral-details.tsx
  web/html/src/manager/admin/hub/peripherals.tsx
  web/spacewalk-web.changes.mackdk.issv3-fix-fqdn-label
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, merge-candidate, needs-translation

#10557 Enable openSUSE Leap Micro 6.2
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.mcalmer.leap-micro-62
  utils/spacewalk-common-channels.ini
  utils/spacewalk-utils.changes.mcalmer.leap-micro-62
Labels: python3, susemanager_unittests, merge-candidate

#10606 show Confidential Compute Attestation tab also for salt ssh managed clients
  java/code/webapp/WEB-INF/nav/system_detail.xml
  java/spacewalk-java.changes.mc.Manager-5.0-coco-attestation-salt-ssh
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, webapp

#10643 return json also when exception is not a FaultException (bsc#1246452)
  java/code/src/com/suse/manager/api/RouteFactory.java
  java/spacewalk-java.changes.mcalmer.fix-exceptions-for-restapi
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10180 get virtual instance info from physical hosts using salt virt.vm_info
  java/code/src/com/redhat/rhn/domain/action/ActionFactory.java
  java/code/src/com/redhat/rhn/domain/action/Action_legacyUser.hbm.xml
  java/code/src/com/redhat/rhn/domain/action/VirtualInstanceRefreshAction.java
  java/code/src/com/redhat/rhn/taskomatic/task/gatherer/GathererJob.java
  java/code/src/com/redhat/rhn/taskomatic/task/matcher/MatcherJob.java
  java/code/src/com/suse/manager/reactor/messaging/ApplyStatesEventMessage.java
  java/code/src/com/suse/manager/utils/SaltUtils.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/src/com/suse/manager/webui/utils/salt/custom/VmInfoSlsResult.java
  java/spacewalk-java.changes.mcalmer.gather-virtualization-data
  schema/spacewalk/common/data/rhnActionType.sql
  schema/spacewalk/susemanager-schema.changes.mcalmer.gather-virtualization-data
  schema/spacewalk/upgrade/susemanager-schema-5.1.10-to-susemanager-schema-5.1.11/010-add-virt-refresh_list-actiontype.sql
  susemanager-utils/susemanager-sls/salt/hardware/virtprofile.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mcalmer.gather-virtualization-data
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, salt-actions-implementations, data-model

#10646 Fix syntax error in changelog
  branding/spacewalk-branding.changes
  branding/spacewalk-branding.changes.mcalmer.fix-changelog-formats
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.mcalmer.fix-changelog-formats
  client/tools/mgr-push/mgr-push.changes
  client/tools/mgr-push/mgr-push.changes.mcalmer.fix-changelog-formats
  projects/perl-Satcon/perl-Satcon.changes
  projects/perl-Satcon/perl-Satcon.changes.mcalmer.fix-changelog-formats
  projects/ssl-cert-check/spacewalk-ssl-cert-check.changes
  projects/ssl-cert-check/spacewalk-ssl-cert-check.changes.mcalmer.fix-changelog-formats
  proxy/proxy-docs/spacewalk-proxy-docs.changes
  proxy/proxy-docs/spacewalk-proxy-docs.changes.mcalmer.fix-changelog-formats
  proxy/proxy-html/spacewalk-proxy-html.changes
  proxy/proxy-html/spacewalk-proxy-html.changes.mcalmer.fix-changelog-formats
  proxy/proxy/spacewalk-proxy.changes
  proxy/proxy/spacewalk-proxy.changes.mcalmer.fix-changelog-formats
  python/rhn/rhnlib.changes
  python/rhn/rhnlib.changes.mcalmer.fix-changelog-formats
  reporting/spacewalk-reports.changes
  reporting/spacewalk-reports.changes.mcalmer.fix-changelog-formats
  schema/spacewalk/susemanager-schema.changes
  schema/spacewalk/susemanager-schema.changes.mcalmer.fix-changelog-formats
  search-server/spacewalk-search/spacewalk-search.changes
  search-server/spacewalk-search/spacewalk-search.changes.mcalmer.fix-changelog-formats
  spacewalk/admin/spacewalk-admin.changes
  spacewalk/admin/spacewalk-admin.changes.mcalmer.fix-changelog-formats
  spacewalk/certs-tools/spacewalk-certs-tools.changes
  spacewalk/certs-tools/spacewalk-certs-tools.changes.mcalmer.fix-changelog-formats
  spacewalk/config/spacewalk-config.changes
  spacewalk/config/spacewalk-config.changes.mcalmer.fix-changelog-formats
  spacewalk/package/spacewalk.changes
  spacewalk/package/spacewalk.changes.mcalmer.fix-changelog-formats
  spacewalk/setup/spacewalk-setup.changes
  spacewalk/setup/spacewalk-setup.changes.mcalmer.fix-changelog-formats
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes.mcalmer.fix-changelog-formats
  utils/spacewalk-utils.changes
  utils/spacewalk-utils.changes.mcalmer.fix-changelog-formats
  uyuni/base/uyuni-base.changes
  uyuni/base/uyuni-base.changes.mcalmer.fix-changelog-formats
Labels: proxy, schema_migration_test_pgsql, database, schema_migration_test_oracle

#10477 move jmx configuration to /etc/tomcat/conf.d folder (bsc#1244219)
  containers/server-image/root/etc/sysconfig/taskomatic/systemd/jmx.conf
  containers/server-image/root/etc/sysconfig/tomcat/systemd/jmx.conf
  containers/server-image/root/usr/lib/systemd/system/taskomatic.service.d/jmx.conf
  containers/server-image/root/usr/lib/systemd/system/tomcat.service.d/jmx.conf
  containers/server-image/server-image.changes.mbussolotto.jmx_refactoring
  java/code/src/com/suse/manager/webui/services/impl/MonitoringService.java
  java/code/src/com/suse/manager/webui/services/impl/test/monitoring/disable.json
  java/code/src/com/suse/manager/webui/services/impl/test/monitoring/enable.json
  java/spacewalk-java.changes.mbussolotto.jmx_refactoring
  susemanager-utils/susemanager-sls/salt/srvmonitoring/disable.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/enable.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/removejmxprops.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/taskomatic/systemd/jmx.conf
  susemanager-utils/susemanager-sls/salt/srvmonitoring/tomcat/systemd/jmx.conf
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mbussolotto.jmx_refactoring
  testsuite/features/secondary/srv_monitoring.feature
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, secondary-features, testing, ruby_rubocop, monitoring

#10570 Save proxy info when converting a system to proxy
  java/code/src/com/redhat/rhn/manager/system/proxycontainerconfig/ProxyContainerConfigCreateAcquisitor.java
  java/spacewalk-java.changes.cbosdo.5.0-proxy-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10581 Simplify action handling (step 4 - unifying os family constants)
  java/code/src/com/redhat/rhn/domain/action/rhnpackage/PackageRefreshListAction.java
  java/code/src/com/redhat/rhn/domain/entitlement/test/ContainerBuildHostEntitlementTest.java
  java/code/src/com/redhat/rhn/domain/server/Server.java
  java/code/src/com/redhat/rhn/domain/server/ServerConstants.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerFactoryTest.java
  java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java
  java/code/src/com/redhat/rhn/frontend/action/rhnpackage/LockPackageAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/ErrataSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/ScapSetupAction.java
  java/code/src/com/redhat/rhn/frontend/action/systems/audit/test/ScapSetupActionTest.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/test/SystemHandlerTest.java
  java/code/src/com/redhat/rhn/manager/distupgrade/DistUpgradeManager.java
  java/code/src/com/suse/manager/reactor/hardware/HardwareMapper.java
  java/code/src/com/suse/manager/reactor/messaging/test/JobReturnEventMessageActionTest.java
  java/code/src/com/suse/manager/webui/controllers/StatesAPI.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, salt-actions-implementations, data-model, xmlrpc, old-ui

#10659 Add `react-intl` Storybook example
  web/html/src/build/licenses/fs.js
  web/html/src/build/licenses/index.js
  web/html/src/core/intl/index.example.tsx
  web/html/src/core/intl/inferValues.ts
  web/html/src/manager/storybook/stories.generated.ts
Labels: ui, javascript_lint, needs-translation

#10540 Fix error message for duplicate filter entries
  web/html/src/branding/css/base/components/help-block.scss
  web/html/src/manager/content-management/list-filters/filter-edit.tsx
  web/spacewalk-web.changes.bisht-richa.error-message-filter-modal
Labels: ui, javascript_lint

#10574 Fix broken CVE links in CVE audi page.
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/spacewalk-java.changes.bisht-richa.fix-broken-cve-link
  web/html/src/manager/audit/cveaudit/cveaudit.tsx
  web/spacewalk-web.changes.bisht-richa.fix-broken-cve-link
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui, needs-translation

#8952 Avoid executing commands from path
  client/tools/mgr-push/mgr-push.changes.mackdk.avoid-executing-commands-from-PATH
  client/tools/mgr-push/rhnpush_config.py
  containers/proxy-httpd-image/proxy-httpd-image.changes.mackdk.avoid-executing-commands-from-PATH
  containers/proxy-httpd-image/uyuni-configure.py
  containers/proxy-squid-image/proxy-squid-image.changes.mackdk.avoid-executing-commands-from-PATH
  containers/proxy-squid-image/uyuni-configure.py
  containers/proxy-ssh-image/proxy-ssh-image.changes.mackdk.avoid-executing-commands-from-PATH
  containers/proxy-ssh-image/uyuni-configure.py
  containers/proxy-tftpd-image/proxy-tftpd-image.changes.mackdk.avoid-executing-commands-from-PATH
  containers/proxy-tftpd-image/uyuni-configure.py
  java/code/src/com/redhat/rhn/frontend/action/channel/manage/SyncRepositoriesAction.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/code/src/com/redhat/rhn/manager/rhnpackage/PackageManager.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygAuthDataExtractor.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/DebReleaseWriter.java
  java/code/src/com/redhat/rhn/taskomatic/task/repomd/RpmRepositoryWriter.java
  java/code/src/com/suse/manager/webui/controllers/bootstrap/AbstractMinionBootstrapper.java
  java/code/src/com/suse/manager/webui/utils/LoginHelper.java
  java/scripts/api/ks-setup.py
  java/spacewalk-java.changes.mackdk.avoid-executing-commands-from-PATH
  python/spacewalk/common/repo.py
  python/spacewalk/satellite_tools/repo_plugins/yum_src.py
  python/spacewalk/satellite_tools/reposync.py
  python/spacewalk/spacewalk-backend.changes.mackdk.avoid-executing-commands-from-PATH
  python/test/unit/spacewalk/common/test_repo.py
  spacewalk/admin/salt-secrets-config.py
  spacewalk/admin/spacewalk-admin.changes.mackdk.avoid-executing-commands-from-PATH
  susemanager-utils/susemanager-sls/salt/bootloader/autoinstall.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/remove_traditional_stack.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/set_proxy.sls
  susemanager-utils/susemanager-sls/salt/certs/init.sls
  susemanager-utils/susemanager-sls/salt/certs/redhat.sls
  susemanager-utils/susemanager-sls/salt/channels/init.sls
  susemanager-utils/susemanager-sls/salt/cleanup_minion/init.sls
  susemanager-utils/susemanager-sls/salt/cocoattest/requestdata.sls
  susemanager-utils/susemanager-sls/salt/distupgrade/sap.sls
  susemanager-utils/susemanager-sls/salt/hardware/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/images/kiwi-image-build.sls
  susemanager-utils/susemanager-sls/salt/images/kiwi-image-inspect.sls
  susemanager-utils/susemanager-sls/salt/images/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/packages/profileupdate.sls
  susemanager-utils/susemanager-sls/salt/packages/redhatproductinfo.sls
  susemanager-utils/susemanager-sls/salt/proxy/apply_proxy_config.sls
  susemanager-utils/susemanager-sls/salt/reboot.sls
  susemanager-utils/susemanager-sls/salt/rebootifneeded.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/disable.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/enable.sls
  susemanager-utils/susemanager-sls/salt/srvmonitoring/status.sls
  susemanager-utils/susemanager-sls/salt/ssh_bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/uptodate.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_disable_fqdns_grain.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_mine_config_clean_up.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_rotate_saltssh_key.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_start_event_grains.sls
  susemanager-utils/susemanager-sls/salt/util/mgr_switch_to_venv_minion.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mackdk.avoid-executing-commands-from-PATH
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes.mackdk.avoid-executing-commands-from-PATH
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, proxy, API, susemanager_unittests, schema_migration_test_pgsql, database, schema_migration_test_oracle, ui, javascript_lint, secondary-features, ci-pipelines, testing, ruby_rubocop, monitoring, webapp, salt-actions-implementations, data-model, xmlrpc, test-framework, old-ui, cobbler, webui-templates, spark-router, needs-translation

#10584 Fix tooltip text calendars page
  web/html/src/manager/maintenance/list/maintenance-windows-list.tsx
  web/spacewalk-web.changes.bisht-richa.fix-title-maintenance-create-button
Labels: ui, javascript_lint, needs-translation

#10587 Fixed Vendor Change checkbox alignment (bsc#1241044)
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-setup.jsp
  java/spacewalk-java.changes.bisht-richa.aligned-vendor-checkbox
Labels: java, java_lint_checkstyle, java_pgsql_tests, webapp
