Repository uyuni-project/uyuni, pull requests merged in 2025-05, with the labels that each got.

#10281 Use the new names for the Manager tools
  testsuite/features/build_validation/migration/salt_migration_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_minion_migration.feature
  testsuite/features/build_validation/migration/slemicro54_ssh_minion_migration.feature
  testsuite/features/reposync/allcli_update_activationkeys.feature
Labels: testing, ruby_rubocop, build-validation-features

#10282 Uyuni micro6 mlm tools bootstrap (bsc#1239747, bsc#1242042)
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.kwalter.micro62
Labels: python3, susemanager_unittests

#10284 Port and tagging of #10282 from Manager-5.1-Beta2 to master
  rel-eng/packages/susemanager
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes
  susemanager/susemanager.spec
Labels: python3, susemanager_unittests, needs-translation

#10285 Fix filtering of notification messages (bsc#1242141)
  java/buildconf/test/rhn.conf.postgresql-example
  java/code/src/com/redhat/rhn/domain/notification/UserNotificationFactory.java
  java/code/src/com/redhat/rhn/domain/notification/test/NotificationFactoryTest.java
  java/spacewalk-java.changes.mcalmer.fix-notification-filter
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#9622 Remove RPM options and feature in rhn-ssl-tool --gen-server
  java/code/src/com/suse/manager/ssl/SSLCertManager.java
  java/code/src/com/suse/manager/ssl/test/SSLCertManagerTest.java
  java/spacewalk-java.changes.cbosdo.no-rpm
  spacewalk/certs-tools/mgr-ssl-tool.sgml
  spacewalk/certs-tools/rhn_ssl_tool.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.cbosdo.no-rpm
  spacewalk/certs-tools/sslToolCli.py
  spacewalk/certs-tools/sslToolConfig.py
  utils/spacewalk-hostname-rename
  utils/spacewalk-utils.changes.cbosdo.no-rpm
Labels: java, java_lint_checkstyle, java_pgsql_tests, proxy, testing, ruby_rubocop

#10213 Backport password policy bugfix bsc#1240960
  java/code/src/com/redhat/rhn/domain/common/RhnConfigurationFactory.java
  java/code/src/com/suse/manager/webui/controllers/admin/handlers/PasswordPolicyController.java
  java/code/src/com/suse/manager/webui/controllers/admin/service/PasswordPolicyService.java
  java/spacewalk-java.changes.serpico.Manager-5.0-MU-5.0.4-password-policy-fix-2
  web/html/src/manager/admin/password-policy/password-policy.tsx
  web/spacewalk-web.changes.serpico.Manager-5.0-MU-5.0.4-password-policy-fix-2
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, data-model, needs-translation, ga-blocker

#10289 update the required DB schema versions for some packages
  java/tito.props
  python/spacewalk/tito.props
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10290 Fix saltboot endpoint access (bsc#1242069)
  java/code/src/com/redhat/rhn/frontend/servlets/AuthorizationFilter.java
  java/spacewalk-java.changes.cbbayburt.bsc1242069
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#10292 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  susemanager/po/ca.po
  susemanager/po/cs.po
  susemanager/po/de.po
  susemanager/po/es.po
  susemanager/po/it.po
  susemanager/po/ja.po
  susemanager/po/ko.po
  susemanager/po/pt.po
  susemanager/po/pt_BR.po
  susemanager/po/si.po
  susemanager/po/sk.po
  susemanager/po/zh_CN.po
  susemanager/po/zh_HK.po
  susemanager/po/zh_TW.po
  web/po/ca.po
  web/po/cs.po
  web/po/de.po
  web/po/es.po
  web/po/fr.po
  web/po/it.po
  web/po/ja.po
  web/po/ko.po
  web/po/pt.po
  web/po/pt_BR.po
  web/po/si.po
  web/po/sk.po
  web/po/spacewalk-web.pot
  web/po/zh_CN.po
  web/po/zh_HK.po
  web/po/zh_TW.po
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, susemanager_unittests, ui, javascript_lint, old-ui, needs-translation

#10298 Fix the health check of the container (bsc#1240604)
  containers/server-attestation-image/Dockerfile
  containers/server-attestation-image/server-attestation-image.changes.mcalmer.coco-fix
Labels: ga-blocker

#10299 --no-rpm option has been removed from command rhn-ssl-tool
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#10301 QE: Swapping a step that checks if a text disappears for one that waits
  testsuite/features/secondary/proxy_container_cobbler_pxeboot.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#10117 Make the Python interpreter version configurable (bsc#1240645)
  containers/server-image/Dockerfile
  containers/server-image/server-image.changes.deneb-alpha.bsc1240645_fix_pygit2
Labels: ga-blocker

#10304 QE: Adding an automated test that ensures that EULA is reachable by
  testsuite/features/secondary/srv_mainpage.feature
Labels: merge-candidate, secondary-features, testing, ruby_rubocop

#10310 Fix ReportDB tests
  testsuite/features/secondary/srv_reportdb.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, secondary-features, testing, ruby_rubocop, test-framework

#10313 ISSv3: Set correct SCC proxy endpoints
  java/code/src/com/redhat/rhn/taskomatic/task/test/ForwardRegistrationTaskTest.java
  java/code/src/com/suse/scc/SCCEndpoints.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#10319 Change the default registry namespace of Multi-Linux Manager 5.1
  rel-eng/chart_push.sh
  rel-eng/container_push.sh
  web/conf/rhn_web.conf
Labels: ui, javascript_lint, ga-blocker

#10322 Multi-Linux Manager 5.1 RC: add missing changelog entries and drop leftover one
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.deneb-alpha.51RC_fix_changes
  spacecmd/spacecmd.changes.deneb-alpha.51RC_fix_changes
  susemanager/susemanager.changes.deneb-alpha.51RC_fix_changes
  susemanager/uyuni-setup-reportdb.changes.sbluhm.multiplepgsql
Labels: python3, susemanager_unittests, merge-candidate, ga-blocker

#10306 Issv3 fix channel sync (bsc#1242889, bsc#1242324)
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/suse/manager/hub/test/ControllerTestUtils.java
  java/code/src/com/suse/manager/hub/test/HubControllerTest.java
  java/code/src/com/suse/manager/model/hub/ChannelInfoDetailsJson.java
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/code/src/com/suse/scc/SCCEndpoints.java
  java/spacewalk-java.changes.mcalmer.issv3-fix-channel-sync
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model, ga-blocker

#10311 fix ISSv3 channel sync API bug: a custom channel cannot be re-assigned to a different peripheral organization
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/suse/manager/hub/DefaultHubInternalClient.java
  java/code/src/com/suse/manager/hub/test/ControllerTestUtils.java
  java/code/src/com/suse/manager/hub/test/HubControllerTest.java
  java/spacewalk-java.changes.carlo.uyuni-ch-reassign-org-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model, ga-blocker

#10312 MANAGER_DB_NAME should be owned by MANAGER_USER (bsc#1242975)
  containers/server-postgresql-image/root/docker-entrypoint-initdb.d/zz-create-db.sh
  containers/server-postgresql-image/root/docker-entrypoint-initdb.d/zz-create-reportdb.sh
  containers/server-postgresql-image/server-postgresql-image.changes.mbussolotto.change_ownership
Labels: ga-blocker

#10305 Deprecate `license-checker-webpack-plugin`
  web/html/src/build.js
  web/html/src/build/fill-spec-file.js
  web/html/src/build/licenses/fs.js
  web/html/src/build/licenses/index.js
  web/html/src/build/licenses/license.js
  web/html/src/build/licenses/override.js
  web/html/src/build/licenses/package.js
  web/html/src/build/licenses/template.js
  web/html/src/build/webpack.config.js
  web/html/src/package.json
  web/html/src/vendors/licenses.template.ejs
  web/html/src/vendors/npm.licenses.hash.txt
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.aggregate-licenses
  web/spacewalk-web.spec
Labels: ui, javascript_lint, needs-translation, ga-blocker

#10336 Issv3: Implement and test SCC proxy registration/deregistration from Hub towards SCC
  java/code/src/com/redhat/rhn/taskomatic/task/ForwardRegistrationTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/test/ForwardRegistrationTaskTest.java
  java/code/src/com/suse/scc/SCCSystemRegistrationManager.java
  java/spacewalk-java.changes.carlo.issv3-scc-proxy-register
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10344 fixup! Add UI for uploading the support data of a system
  java/code/src/com/suse/manager/webui/templates/minion/support-data.jade
Labels: java, java_lint_checkstyle, java_pgsql_tests, webui-templates

#10333 Support 5.1 proxy product. Create tag to manage slmicro61 and sle15sp7 synchronizing
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#10355 Add new renaming for the customize repositories.
  testsuite/features/support/commonlib.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10359 QE: Removing expect command from testsuite
  testsuite/features/secondary/proxy_container_cobbler_pxeboot.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/upload_files/copy-tftpboot-files.exp
Labels: secondary-features, testing, ruby_rubocop, test-framework
