Repository uyuni-project/uyuni, pull requests merged in 2025-06, with the labels that each got.

#10392 Add missing proxies entitlements on upgrade (bsc#1243829)
  schema/spacewalk/susemanager-schema.changes.rjpmestre.bsc1243829
  schema/spacewalk/upgrade/susemanager-schema-5.1.6-to-susemanager-schema-5.1.7/200-proxy-server-group-members.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, ga-blocker

#10384 For GPG keys using file URL, check if the file exists
  susemanager-utils/susemanager-sls/salt/channels/gpg-keys.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mcalmer.check-gpgkey-file-exists
Labels: ga-blocker

#10353 Fix semantic version validation to allow optional suffixes bsc#1243292
  java/code/src/com/redhat/rhn/domain/notification/types/ManagerVersion.java
  java/code/src/com/redhat/rhn/domain/notification/types/Version.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/ManagerVersionTest.java
  java/code/src/com/redhat/rhn/domain/notification/types/test/VersionTest.java
  java/code/src/com/suse/proxy/get/formdata/ProxyConfigGetFormDefaults.java
  java/spacewalk-java.changes.rjpmestre.bsc1243292
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model, ga-blocker

#10373 Fix peripheral org selection (bsc#1242323)
  java/code/src/com/suse/manager/hub/HubController.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/model/hub/OrgInfoJson.java
  java/code/src/com/suse/manager/webui/controllers/admin/beans/ChannelSyncDetail.java
  java/spacewalk-java.changes.carlo.uyuni-get-peripheral-extended-org-info
  java/spacewalk-java.changes.mcalmer.fix-peripheral-org-selection
  web/html/src/branding/css/base/components/hierarchical-table.scss
  web/html/src/branding/css/base/index.scss
  web/html/src/components/hub/HierarchicalChannelsTable.tsx
  web/html/src/components/hub/SyncOrgsToPeripheralChannels.tsx
  web/html/src/components/hub/types.tsx
  web/html/src/components/table/HierarchicalTable.tsx
  web/spacewalk-web.changes.mcalmer.fix-peripheral-org-selection
Labels: java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, needs-translation, ga-blocker

#10320 Fix: Adjust modal height for small screens
  web/html/src/branding/css/base/components/modal.scss
  web/spacewalk-web.changes.bisht-richa.modal-height-fix
Labels: ui, javascript_lint

#10296 Optimize sap module to prevent high IO workload (bsc#1241455)
  susemanager-utils/susemanager-sls/src/modules/sap.py
  susemanager-utils/susemanager-sls/src/tests/test_module_sap.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.vzhestkov.sap-workloads-list-speedup
Labels: merge-candidate

#10412 Move proxy entitlement fix to correct schema directory (bsc#1243829)
  schema/spacewalk/upgrade/susemanager-schema-5.1.7-to-susemanager-schema-5.1.8/200-proxy-server-group-members.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle, ga-blocker

#10416 Show full list of kernel versions in live-patching filter template form (bsc#1239907)
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/spacewalk-java.changes.cbbayburt.bsc1239907
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#10266 Add RBAC code ownerships
  .github/CODEOWNERS
Labels: merge-candidate

#10420 Remove workaround from testsuite
  testsuite/features/reposync/srv_create_bootstrap_repositories.feature
Labels: testing, ruby_rubocop

#10422 Add RBAC mapping for 'cancel events' URL
  schema/spacewalk/common/data/endpoint.sql
  schema/spacewalk/common/data/endpointNamespace.sql
  schema/spacewalk/upgrade/susemanager-schema-5.1.7-to-susemanager-schema-5.1.8/100-rbac-missing-mappings.sql
Labels: schema_migration_test_pgsql, database, schema_migration_test_oracle

#10294 Fix old supportutils functions
  susemanager-utils/supportutils-plugin-susemanager-client/susemanagerclient
  susemanager-utils/supportutils-plugin-susemanager/susemanager
Labels: merge-candidate

#9950 Fix openEuler bootstrap to make it identified as RedHat family
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.vzhestkov.adjust-openEuler-bootstrap
Labels: merge-candidate

#10361 Remove real url health connectivity test
  java/code/src/com/suse/oval/config/test/OVALConfigTest.java
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#10377 Improve Ubuntu OVAL data parsing to detect more CVEs
  java/code/src/com/suse/oval/vulnerablepkgextractor/UbuntuVulnerablePackageExtractor.java
  java/spacewalk-java.changes.rmateus.m50_ubuntu_oval_parse_improvement
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate

#10423 Build validation variable is not set when calling remote_nodes_env. M…
  testsuite/features/support/remote_nodes_env.rb
Labels: testing, ruby_rubocop, test-framework

#10429 Fix setup wizard organization credentials list subscriptions not showing correctly the first time (bsc#1243765)
  web/html/javascript/susemanager-setup-wizard-mirror-credentials.js
  web/spacewalk-web.changes.carlo.uyuni-bsc1243765-list-subscriptions
Labels: ui, javascript_lint

#10433 Final GMC changes
  java/spacewalk-java.spec
  java/tito.props
  python/spacewalk/tito.props
  rel-eng/container_push.sh
  spacecmd/spacecmd.changes.deneb-alpha.final-gmc-changes
  susemanager-utils/supportutils-plugin-susemanager-client/supportutils-plugin-susemanager-client.changes.deneb-alpha.final-gmc-changes
  susemanager-utils/supportutils-plugin-susemanager-client/susemanagerclient
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.changes.deneb-alpha.final-gmc-changes
  susemanager-utils/supportutils-plugin-susemanager-proxy/susemanagerproxy
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes.deneb-alpha.final-gmc-changes
  susemanager-utils/supportutils-plugin-susemanager/susemanager
  web/conf/rhn_web.conf
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, ui, javascript_lint, ga-blocker

#10440 Use the env variables MGR_SERVER_HOSTNAME for the hostname
  spacewalk/certs-tools/rhn_bootstrap_strings.py
  spacewalk/certs-tools/spacewalk-certs-tools.changes.abid.use-env-varibale-for-hostname
Labels: merge-candidate

#10438 Uyuni fix store proxy passwd (bsc#1242148)
  java/code/src/com/redhat/rhn/manager/satellite/ConfigureSatelliteCommand.java
  java/code/src/com/redhat/rhn/manager/satellite/ProxySettingsConfigureSatelliteCommand.java
  java/code/src/com/redhat/rhn/manager/satellite/SystemCommandExecutor.java
  java/code/src/com/redhat/rhn/manager/setup/ProxySettingsDto.java
  java/code/src/com/redhat/rhn/manager/setup/ProxySettingsManager.java
  java/code/src/com/redhat/rhn/manager/setup/test/ProxySettingsManagerTest.java
  java/spacewalk-java.changes.carlo.uyuni-fix-store-proxy-passwd
  spacewalk/admin/rhn-config-satellite.pl
  spacewalk/admin/spacewalk-admin.changes.carlo.uyuni-fix-store-proxy-passwd
  spacewalk/config/etc/sudoers.d/spacewalk
  spacewalk/config/spacewalk-config.changes.carlo.uyuni-fix-store-proxy-passwd
Labels: java, java_lint_checkstyle, java_pgsql_tests

#10381 CI: add base repo to build server test image
  testsuite/dockerfiles/server-all-in-one-dev/Dockerfile
Labels: merge-candidate, testing, ruby_rubocop

#10338 Use more secure random generation in Python code
  containers/proxy-httpd-image/proxy-httpd-image.changes.meaksh.master-more-secure-randomness
  containers/proxy-httpd-image/uyuni-configure.py
  proxy/proxy/rhnProxyAuth.py
  proxy/proxy/spacewalk-proxy.changes.meaksh.master-more-secure-randomness
  python/spacewalk/server/rhnServer/server_certificate.py
  python/spacewalk/server/rhnServer/server_lib.py
  python/spacewalk/spacewalk-backend.changes.meaksh.master-more-secure-randomness
  susemanager-utils/susemanager-sls/modules/engines/mgr_events.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.meaksh.master-more-secure-randomness
Labels: proxy

#10437 Add the possibility to specify the installation of the last package v…
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/env.rb
  testsuite/features/support/navigation_step_helper.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#10449 Add new password policy test
  testsuite/features/secondary/srv_password_restriction.feature
  testsuite/features/step_definitions/api_common.rb
  testsuite/features/step_definitions/common_steps.rb
  testsuite/features/step_definitions/navigation_steps.rb
  testsuite/features/support/navigation_step_helper.rb
  testsuite/run_sets/secondary.yml
Labels: secondary-features, ci-pipelines, testing, ruby_rubocop, test-framework

#10447 Fix grafana dashboard test.
  testsuite/features/build_validation/smoke_tests/smoke_tests.template
  testsuite/features/step_definitions/navigation_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#10002 Add possibility to change mgrctl exec option / Use -it option for mgr-create-bootstrap-repo
  testsuite/features/step_definitions/command_steps.rb
  testsuite/features/support/remote_node.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#10100 Add ltss product for sles12sp5
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework, build-validation-features

#10473 Fix wrong placed cucumber_opts in Rakefile
  testsuite/Rakefile
Labels: merge-candidate, testing, ruby_rubocop

#10466 Fix order of config channels after migration (bsc#1244481)
  java/code/src/com/redhat/rhn/domain/state/StateRevision.java
  java/code/src/com/redhat/rhn/domain/token/Token.java
  java/spacewalk-java.changes.nadvornik.migrate_position
  schema/spacewalk/susemanager-schema.changes.nadvornik.migrate_position
  schema/spacewalk/upgrade/susemanager-schema-5.1.7-to-susemanager-schema-5.1.8/300-fix-config-channel-position.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model, ga-blocker

#10459 susemanager-sls: define "Apache-2.0" as the license for Salt modules
  susemanager-utils/susemanager-sls/formula_metadata/README.md
  susemanager-utils/susemanager-sls/modules/engines/mgr_events.py
  susemanager-utils/susemanager-sls/modules/pillar/suma_minion.py
  susemanager-utils/susemanager-sls/modules/roster/uyuni.py
  susemanager-utils/susemanager-sls/modules/runners/kiwi-image-collect.py
  susemanager-utils/susemanager-sls/modules/runners/mgrk8s.py
  susemanager-utils/susemanager-sls/modules/runners/mgrutil.py
  susemanager-utils/susemanager-sls/salt/bootstrap/bootstrap.repo
  susemanager-utils/susemanager-sls/salt/bootstrap/init.sls
  susemanager-utils/susemanager-sls/salt/bootstrap/susemanager.conf
  susemanager-utils/susemanager-sls/salt/channels/aptauth.conf
  susemanager-utils/susemanager-sls/salt/channels/channels.repo
  susemanager-utils/susemanager-sls/salt/images/kiwi-image-build.sls
  susemanager-utils/susemanager-sls/salt/images/kiwi-image-inspect.sls
  susemanager-utils/susemanager-sls/salt/services/kiwi-image-server.sls
  susemanager-utils/susemanager-sls/salt/services/salt-minion.sls
  susemanager-utils/susemanager-sls/src/beacons/pkgset.py
  susemanager-utils/susemanager-sls/src/beacons/reboot_info.py
  susemanager-utils/susemanager-sls/src/doc/README.md
  susemanager-utils/susemanager-sls/src/doc/uyuni_config_execution_module_doc.txt
  susemanager-utils/susemanager-sls/src/doc/uyuni_config_state_module_doc.txt
  susemanager-utils/susemanager-sls/src/grains/cpe_grain.py
  susemanager-utils/susemanager-sls/src/grains/cpuinfo.py
  susemanager-utils/susemanager-sls/src/grains/mgr_server.py
  susemanager-utils/susemanager-sls/src/grains/public_cloud.py
  susemanager-utils/susemanager-sls/src/modules/appstreams.py
  susemanager-utils/susemanager-sls/src/modules/container_runtime.py
  susemanager-utils/susemanager-sls/src/modules/kiwi_info.py
  susemanager-utils/susemanager-sls/src/modules/kiwi_source.py
  susemanager-utils/susemanager-sls/src/modules/mainframesysinfo.py
  susemanager-utils/susemanager-sls/src/modules/mgractionchains.py
  susemanager-utils/susemanager-sls/src/modules/mgrnet.py
  susemanager-utils/susemanager-sls/src/modules/reboot_info.py
  susemanager-utils/susemanager-sls/src/modules/sap.py
  susemanager-utils/susemanager-sls/src/modules/ssh_agent.py
  susemanager-utils/susemanager-sls/src/modules/sumautil.py
  susemanager-utils/susemanager-sls/src/modules/udevdb.py
  susemanager-utils/susemanager-sls/src/modules/uyuni_config.py
  susemanager-utils/susemanager-sls/src/modules/virt_utils.py
  susemanager-utils/susemanager-sls/src/states/appstreams.py
  susemanager-utils/susemanager-sls/src/states/mgrcompat.py
  susemanager-utils/susemanager-sls/src/states/mgrutils.py
  susemanager-utils/susemanager-sls/src/states/product.py
  susemanager-utils/susemanager-sls/src/states/reportdb_user.py
  susemanager-utils/susemanager-sls/src/states/uyuni_config.py
  susemanager-utils/susemanager-sls/src/tests/test_mgr_master_tops.py
  susemanager-utils/susemanager-sls/susemanager-sls.changes.meaksh.master-fixing-licenses
Labels: merge-candidate

#10441 Fix fetching the mirrorlist with a RHUI ca bundle (bsc#1243241)
  python/spacewalk/common/suseLib.py
  python/spacewalk/satellite_tools/repo_plugins/yum_src.py
  python/spacewalk/spacewalk-backend.changes.mcalmer.Manager-5.0-fix-RHUI-mirrorlist-fetching
  python/test/unit/spacewalk/satellite_tools/test_yum_src.py
Labels: merge-candidate

#10457 Uyuni fix hub sync ch before parent (bsc#1244222)
  java/code/src/com/redhat/rhn/domain/channel/ChannelFactory.java
  java/code/src/com/redhat/rhn/manager/channel/ChannelManager.java
  java/code/src/com/redhat/rhn/manager/channel/test/ChannelManagerTest.java
  java/code/src/com/redhat/rhn/manager/contentmgmt/ContentManager.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/spacewalk-java.changes.carlo.uyuni-fix-1244222-hub-sync-ch-before-parent
Labels: java, java_lint_checkstyle, java_pgsql_tests, merge-candidate, data-model

#10476 Master weblate
  java/code/src/com/redhat/rhn/frontend/strings/database/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ca.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_es.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ja.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_ko.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_sk.xml
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_zh_CN.xml
  python/spacewalk/po/ja.po
  python/spacewalk/po/ko.po
  spacecmd/po/es.po
  spacecmd/po/ja.po
  spacecmd/po/ko.po
  spacecmd/po/zh_CN.po
  web/po/ca.po
  web/po/es.po
  web/po/ko.po
  web/po/sk.po
  web/po/zh_CN.po
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, old-ui

#10478 add missing changelog
  spacecmd/spacecmd.changes.deneb-alpha.fix-changelog
Labels: python3

#10481 QE: Commenting min_deblike_openscap_audit feauture because openscap is not supported by ubuntu 24
  testsuite/run_sets/secondary.yml
Labels: merge-candidate, ci-pipelines, testing, ruby_rubocop

#10484 Change the search server defaults to postgresql
  search-server/spacewalk-search/spacewalk-search.changes.cbosdo.oracle-driver-search
  search-server/spacewalk-search/src/config/search/rhn_search.conf
Labels: merge-candidate

#10482 Fix ISE when using SSM in advanced search (bsc#1244298)
  java/code/src/com/redhat/rhn/frontend/action/systems/SystemSearchHelper.java
  java/spacewalk-java.changes.welder.bsc1244298
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#10492 Add missing base channel for debian12
  testsuite/features/support/constants.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework
