Repository uyuni-project/uyuni, pull requests merged in 2025-01, with the labels that each got.

#9593 Update obs mvn dependencies
  java/buildconf/ivy/ivy-suse.xml
  java/buildconf/ivy/obs-maven-config.yaml
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9615 Add missing changelogs for #9593 and #8791
  java/spacewalk-java.changes
  java/spacewalk-java.changes.deneb-alpha.ivyChangelog
  java/spacewalk-web.changes.bisht-richa.table-filters-description-fix
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9535 Force the generation of bootstrap repositories in CT
  testsuite/features/init_clients/buildhost_bootstrap.feature
  testsuite/features/init_clients/min_virthost.feature
  testsuite/features/init_clients/sle_minion.feature
  testsuite/features/init_clients/sle_ssh_minion.feature
  testsuite/features/reposync/srv_create_bootstrap_repositories.feature
  testsuite/features/step_definitions/command_steps.rb
  testsuite/run_sets/reference_reposync.yml
  testsuite/run_sets/reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework

#9569 QE: Update `selenium-webdriver` version to 4.27
  testsuite/Gemfile
Labels: testing, ruby_rubocop

#9587 fixes - ISE when removing systems from SSM (bsc#1222820)
  java/code/src/com/redhat/rhn/frontend/action/ssm/RebootSystemAction.java
  java/spacewalk-java.changes.carlo.Manager-4.3-fix-ssm-page-reboot
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, old-ui

#9601 Fixed misleading error while waiting for SCC credentials synchronisation (bsc#1227374)
  web/html/src/manager/admin/setup/products/products.tsx
  web/spacewalk-web.changes.carlo.Manager-5.0-scc-credentials-message
Labels: ui, javascript_lint, needs-translation

#9605 Filter away Debian12 boostrap extra log messages (bsc#1216553)
  java/code/src/com/suse/manager/webui/controllers/DownloadController.java
  java/spacewalk-java.changes.carlo.Manager-4.3-fix-debian12-log
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9592 Fix missing table renames
  python/spacewalk/satellite_tools/exporter/exportLib.py
  python/spacewalk/server/importlib/backend.py
  python/spacewalk/spacewalk-backend.changes.mcalmer.Manager-4.3
  susemanager/src/mgr-create-bootstrap-repo
  susemanager/susemanager.changes.mcalmer.Manager-4.3
Labels: susemanager_unittests

#9541 Handle upcoming new CDN
  java/code/src/com/redhat/rhn/domain/scc/SCCRepositoryCloudRmtAuth.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/MgrSyncUtils.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/content/test/MgrSyncUtilsTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygAuthDataProcessor.java
  java/spacewalk-java.changes.mcalmer.cdn-change-project
  python/spacewalk/spacewalk-backend.changes.mcalmer.Manager-4.3-cdn-change-project
  python/spacewalk/spacewalk-backend.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, data-model

#9571 Make the list for package actions unique so it can be passed to salt (bsc#1232042)
  java/code/src/com/redhat/rhn/manager/action/ActionManager.java
  java/spacewalk-java.changes.mcalmer.Manager-4.3-unique-pkglist-in-action
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9583 Lazy error report
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygAuthDataProcessor.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygUpdateAuthTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/test/PaygUpdateAuthTaskTest.java
  java/spacewalk-java.changes.mcalmer.Manager-4.3-lazy-error-report
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9623 Show Source String change for translations
  client/rhel/spacewalk-client-tools/po/Makefile
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.mcalmer.show-source-string-change
  python/spacewalk/po/Makefile
  python/spacewalk/spacewalk-backend.changes.mcalmer.show-source-string-change
  spacecmd/po/Makefile
  spacecmd/spacecmd.changes.mcalmer.show-source-string-change
  susemanager/po/Makefile
  susemanager/susemanager.changes.mcalmer.show-source-string-change
  web/po/Makefile
  web/spacewalk-web.changes.mcalmer.show-source-string-change
Labels: python3, susemanager_unittests, ui, javascript_lint, needs-translation

#9325 Product migration sles to sles for sap
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/code/src/com/redhat/rhn/frontend/action/systems/SPMigrationAction.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/distupgrade/DistUpgradeManager.java
  java/code/src/com/suse/manager/webui/services/SaltServerActionService.java
  java/code/webapp/WEB-INF/pages/systems/spmigration/spmigration-confirm.jsp
  java/spacewalk-java.changes.mcalmer.product-migration-sles2sap
  susemanager-utils/susemanager-sls/salt/channels/init.sls
  susemanager-utils/susemanager-sls/salt/distupgrade/init.sls
  susemanager-utils/susemanager-sls/salt/distupgrade/sap.sls
  susemanager-utils/susemanager-sls/susemanager-sls.changes.mcalmer.product-migration-sles2sap
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, webapp, salt-actions-implementations, data-model, old-ui

#9602 Allow refresh of all system pillar data via API and spacecmd
  containers/proxy-squid-image/proxy-squid-image.changes.mcalmer.api-for-pillar-refresh-all-systems
  containers/proxy-squid-image/squid.conf
  java/code/src/com/redhat/rhn/frontend/xmlrpc/system/SystemHandler.java
  java/spacewalk-java.changes.mcalmer.api-for-pillar-refresh-all-systems
  python/spacewalk/satellite_tools/mgr-sign-metadata-ctl
  python/spacewalk/spacewalk-backend.changes.mcalmer.api-for-pillar-refresh-all-systems
  spacecmd/spacecmd.changes.mcalmer.api-for-pillar-refresh-all-systems
  spacecmd/src/spacecmd/system.py
Labels: python3, java, java_lint_checkstyle, java_pgsql_tests, API, xmlrpc, old-ui, needs-translation

#9631 susemanager-light.css does not exist anymore
  testsuite/features/secondary/srv_security.feature
  testsuite/features/step_definitions/security_steps.rb
Labels: secondary-features, testing, ruby_rubocop, test-framework

#9585 Improve scc data handling
  java/Makefile.docker
  java/code/src/com/redhat/rhn/common/db/datasource/xml/Product_queries.xml
  java/code/src/com/redhat/rhn/common/hibernate/AnnotationRegistry.java
  java/code/src/com/redhat/rhn/domain/channel/Channel.hbm.xml
  java/code/src/com/redhat/rhn/domain/product/ChannelTemplate.java
  java/code/src/com/redhat/rhn/domain/product/SUSEProduct.hbm.xml
  java/code/src/com/redhat/rhn/domain/product/SUSEProduct.java
  java/code/src/com/redhat/rhn/domain/product/SUSEProductFactory.java
  java/code/src/com/redhat/rhn/domain/product/test/SUSEProductTestUtils.java
  java/code/src/com/redhat/rhn/domain/scc/SCCCachingFactory.java
  java/code/src/com/redhat/rhn/domain/scc/SCCRepository.java
  java/code/src/com/redhat/rhn/domain/scc/SCCRepositoryAuth.java
  java/code/src/com/redhat/rhn/frontend/xmlrpc/sync/content/ContentSyncHandler.java
  java/code/src/com/redhat/rhn/manager/content/ContentSyncManager.java
  java/code/src/com/redhat/rhn/manager/content/test/ContentSyncManagerTest.java
  java/code/src/com/redhat/rhn/manager/distupgrade/test/DistUpgradeManagerTest.java
  java/code/src/com/redhat/rhn/manager/setup/test/ProductSyncManagerTest.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/test/PaygAuthDataProcessorTest.java
  java/code/src/com/suse/manager/webui/controllers/ProductsController.java
  java/spacewalk-java.changes.mc.Manager-5.0-improve-content-syncing
  schema/spacewalk/common/tables/suseChannelTemplate.sql
  schema/spacewalk/common/tables/suseProductSCCRepository.sql
  schema/spacewalk/common/tables/tables.deps
  schema/spacewalk/susemanager-schema.changes.mc.Manager-5.0-improve-content-syncing
  schema/spacewalk/upgrade/susemanager-schema-4.3.12-to-susemanager-schema-4.3.13/001-add-gpgkey-to-suseProductSCCRepository.sql
  schema/spacewalk/upgrade/susemanager-schema-5.1.2-to-susemanager-schema-5.1.3/100-rename-suseProductSCCRepository-into-suseChannelTemplate.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, schema_migration_test_pgsql, database, schema_migration_test_oracle, data-model, xmlrpc, old-ui

#9621 Create SLE15SP7 bootstrap repo definitions for SUSE Multi Linux Manager
  susemanager/src/mgr_bootstrap_data.py
  susemanager/susemanager.changes.carlo.uyuni-mlm-bootstrap-repo-sle15sp7
Labels: python3, susemanager_unittests

#9637 Fix mix output for mgrctl by using option -t
  testsuite/features/support/remote_node.rb
Labels: testing, ruby_rubocop, test-framework

#9612 Ensure the remote-container deploy mode uses an SSH tunnel
  java/manager-build.xml
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9640 Fix systemd services check
  testsuite/features/step_definitions/command_steps.rb
Labels: testing, ruby_rubocop, test-framework

#9625 QE: Refactor to obtain dev repositories as custom channels
  testsuite/features/reposync/allcli_update_activationkeys.feature
  testsuite/features/reposync/srv_create_dev_channels.feature
  testsuite/features/reposync/srv_sync_dev_channels.feature
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/constants.rb
  testsuite/features/support/file_management.rb
  testsuite/features/support/namespaces/channel.rb
  testsuite/run_sets/reposync.yml
Labels: ci-pipelines, testing, ruby_rubocop, test-framework

#9627 CI: install mgr-push into opensuse minion
  testsuite/dockerfiles/opensuse-minion/Dockerfile
Labels: testing, ruby_rubocop

#9648 QE: Add some family names to suse_host? function
  testsuite/features/support/commonlib.rb
Labels: testing, ruby_rubocop, test-framework

#9651 Select right patch to add
  testsuite/features/secondary/min_check_patches_install.feature
  testsuite/features/secondary/min_cve_audit.feature
  testsuite/features/secondary/min_salt_install_package.feature
  testsuite/features/secondary/min_salt_install_with_staging.feature
  testsuite/features/secondary/minssh_action_chain.feature
Labels: secondary-features, testing, ruby_rubocop

#9655 Update copyright year to 2025
  java/code/src/com/redhat/rhn/frontend/strings/jsp/StringResource_en_US.xml
  testsuite/features/secondary/srv_mainpage.feature
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, secondary-features, testing, ruby_rubocop, old-ui, needs-translation

#9657 QE: Improve how we obtain dev repositories
  testsuite/features/step_definitions/setup_steps.rb
  testsuite/features/support/commonlib.rb
  testsuite/features/support/file_management.rb
Labels: testing, ruby_rubocop, test-framework

#9626 Remove proxy installer since it's now container-only
  proxy/installer/LICENSE
  proxy/installer/Makefile.python
  proxy/installer/answers.txt
  proxy/installer/cobbler-proxy.conf
  proxy/installer/configure-proxy.sh
  proxy/installer/configure-proxy.sh.sgml
  proxy/installer/fetch-certificate.py
  proxy/installer/get_system_id.xslt
  proxy/installer/insights-proxy.conf
  proxy/installer/pylintrc
  proxy/installer/rhn-proxy-activate.py
  proxy/installer/rhn-proxy-activate.sgml
  proxy/installer/rhn.conf
  proxy/installer/spacewalk-proxy-installer.changes
  proxy/installer/spacewalk-proxy-installer.spec
  proxy/installer/spacewalk-setup-httpd
  proxy/installer/squid.conf
  proxy/installer/suse-manager-proxy.xml
  python/rhn/rhnlib.spec
  rel-eng/packages/spacewalk-proxy-installer
  susemanager-utils/supportutils-plugin-susemanager-proxy/supportutils-plugin-susemanager-proxy.spec
  susemanager-utils/supportutils-plugin-susemanager-proxy/susemanagerproxy
  susemanager-utils/supportutils-plugin-susemanager/supportutils-plugin-susemanager.changes.cbosdo.proxy-installer-removal
Labels: proxy

#9659 Remove the min_virthost feature from init_clients run set
  testsuite/run_sets/init_clients.yml
Labels: ci-pipelines, testing, ruby_rubocop

#9653 Add SL Micro 6.1 to the testsuite
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/build_validation/create_bootstrap_repositories/srv_create_bootstrap_repositories.feature
  testsuite/features/build_validation/init_clients/slmicro61_minion.feature
  testsuite/features/build_validation/init_clients/slmicro61_ssh_minion.feature
  testsuite/features/build_validation/reposync/srv_sync_all_products.feature
  testsuite/features/support/constants.rb
  testsuite/features/support/env.rb
Labels: testing, ruby_rubocop, test-framework, build-validation-features

#9678 Increase WebUI version and provide missing changelogs
  python/rhn/rhnlib.changes.deneb-alpha.51alpha2_webui
  spacewalk/config/spacewalk-config.changes.deneb-alpha.51alpha2_webui
  web/conf/rhn_web.conf
Labels: ui, javascript_lint

#9671 Fix the GH CI after systemd removal from setup scripts.
  .github/workflows/acceptance_tests_common.yml
  java/buildconf/ivy/obs-maven-config.yaml
  search-server/spacewalk-search/buildconf/obs-maven-config.yaml
  testsuite/podman_runner/00_setup_env.sh
  testsuite/podman_runner/07_server_setup.sh
  testsuite/podman_runner/07_start_server.sh
  testsuite/podman_runner/08_manager_setup.sh
  testsuite/podman_runner/08_start_server.sh
  testsuite/podman_runner/run
  testsuite/podman_runner/run_db_migrations.sh
Labels: java, java_lint_checkstyle, java_pgsql_tests, testing, ruby_rubocop

#9686 QE: Disable some features until the volumes permission issue is fixed on GH validation
  testsuite/features/secondary/min_deblike_openscap_audit.feature
  testsuite/features/secondary/min_rhlike_openscap_audit.feature
  testsuite/features/secondary/min_salt_lock_packages.feature
Labels: secondary-features, testing, ruby_rubocop

#9670 QE: Partially synchronize opensuse_leap15_5-x86_64
  testsuite/features/reposync/srv_sync_products.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: merge-candidate, testing, ruby_rubocop, test-framework

#9667 QE: Don't sync source packages on dev channels
  testsuite/features/reposync/srv_sync_dev_channels.feature
Labels: merge-candidate, testing, ruby_rubocop

#9676 QE: Some more doc on the test-architecture.md
  testsuite/documentation/test-architecture.md
Labels: merge-candidate, testing, ruby_rubocop

#9685 Create a taskomatic job to refresh the trusted root CAs in ISSv3
  java/code/src/com/redhat/rhn/taskomatic/TaskomaticApi.java
  java/code/src/com/redhat/rhn/taskomatic/task/RootCaCertUpdateTask.java
  java/code/src/com/redhat/rhn/taskomatic/task/payg/PaygUpdateHostsTask.java
  java/code/src/com/suse/manager/hub/HubManager.java
  java/code/src/com/suse/manager/hub/SyncController.java
  java/code/src/com/suse/manager/hub/test/HubManagerTest.java
  java/code/src/com/suse/manager/model/hub/IssRole.java
  java/code/src/com/suse/manager/xmlrpc/iss/IssHandler.java
  java/code/src/com/suse/utils/CertificateUtils.java
  java/code/src/com/suse/utils/test/CertificateUtilsTest.java
  java/spacewalk-java.changes.carlo.issv3-taskomatic-job
  schema/spacewalk/common/data/rhnTaskoBunch.sql
  schema/spacewalk/common/data/rhnTaskoTask.sql
  schema/spacewalk/common/data/rhnTaskoTemplate.sql
  schema/spacewalk/susemanager-schema.changes.carlo.issv3-taskomatic-job
  schema/spacewalk/upgrade/susemanager-schema-5.1.2-to-susemanager-schema-5.1.3/001-issv3-rootcacertificates-taskomatic.sql
Labels: java, java_lint_checkstyle, java_pgsql_tests, schema_migration_test_pgsql, database, schema_migration_test_oracle

#9665 Remove refresh in testsuite CVE test
  testsuite/features/secondary/min_cve_audit.feature
Labels: secondary-features, testing, ruby_rubocop

#9709 Temporary workaround: do not check events on build host
  testsuite/features/init_clients/buildhost_bootstrap.feature
Labels: testing, ruby_rubocop

#9650 set a send date when preparing emails
  java/code/src/com/redhat/rhn/common/messaging/SmtpMail.java
  java/spacewalk-java.changes.mcalmer.set-send-date-for-email
Labels: java, java_lint_checkstyle, java_pgsql_tests

#9673 Allow translation to wrap strings as weblate force it
  client/rhel/spacewalk-client-tools/po/Makefile
  client/rhel/spacewalk-client-tools/spacewalk-client-tools.changes.mcalmer.remove-no-wrap-for-translations
  python/spacewalk/po/Makefile
  python/spacewalk/spacewalk-backend.changes.mcalmer.remove-no-wrap-for-translations
  spacecmd/po/Makefile
  spacecmd/spacecmd.changes.mcalmer.remove-no-wrap-for-translations
  susemanager/po/Makefile
  susemanager/susemanager.changes.mcalmer.remove-no-wrap-for-translations
  web/po/Makefile
  web/spacewalk-web.changes.mcalmer.remove-no-wrap-for-translations
Labels: python3, susemanager_unittests, ui, javascript_lint, needs-translation

#9644 Migrate proxy settings to React, fix input bugs and async issues (bsc#1235527)
  java/code/src/com/redhat/rhn/frontend/strings/java/StringResource_en_US.xml
  java/code/src/com/suse/manager/webui/controllers/admin/AdminViewsController.java
  java/code/src/com/suse/manager/webui/controllers/admin/templates/proxy.jade
  java/code/src/com/suse/manager/webui/menu/MenuTree.java
  java/code/webapp/WEB-INF/pages/admin/setup/proxy-settings.jsp
  java/code/webapp/WEB-INF/struts-config.xml
  java/spacewalk-java.changes.eth.proxy-settings
  web/html/javascript/spacewalk-essentials.js
  web/html/javascript/susemanager-setup-wizard-proxy-settings.js
  web/html/src/components/input/ControlledInput.tsx
  web/html/src/components/input/InputBase.tsx
  web/html/src/components/input/check/Check.tsx
  web/html/src/components/input/form/Form.tsx
  web/html/src/components/input/radio/Radio.tsx
  web/html/src/components/input/range/Range.tsx
  web/html/src/components/input/text/Text.tsx
  web/html/src/components/panels/Panel.tsx
  web/html/src/components/utils/loading/Loading.tsx
  web/html/src/imports.d.ts
  web/html/src/manager/admin/index.ts
  web/html/src/manager/admin/list-payg/list-payg.tsx
  web/html/src/manager/admin/setup/products/products.tsx
  web/html/src/manager/admin/setup/proxy/http-proxy.png
  web/html/src/manager/admin/setup/proxy/proxy-settings.ts
  web/html/src/manager/admin/setup/proxy/proxy.renderer.tsx
  web/html/src/manager/admin/setup/proxy/proxy.tsx
  web/html/src/manager/admin/setup/proxy/verification.tsx
  web/html/src/manager/admin/setup/setup-header.tsx
  web/html/src/manager/index.ts
  web/html/src/package.json
  web/html/src/vendors/npm.licenses.structured.js
  web/html/src/vendors/npm.licenses.txt
  web/html/src/yarn.lock
  web/spacewalk-web.changes.eth.proxy-settings
  web/spacewalk-web.spec
Labels: java, java_lint_checkstyle, java_pgsql_tests, API, ui, javascript_lint, webapp, old-ui, needs-translation

#9711 Fix license string merging
  web/html/src/build/fill-spec-file.js
  web/spacewalk-web.spec
Labels: ui, javascript_lint

#9710 Re-enable build host events check
  testsuite/features/init_clients/buildhost_bootstrap.feature
Labels: testing, ruby_rubocop

#9708 Check SELinux labels on container volumes
  testsuite/features/build_validation/core/allcli_sanity.feature
  testsuite/features/core/allcli_sanity.feature
  testsuite/features/step_definitions/command_steps.rb
Labels: core-features, testing, ruby_rubocop, test-framework, build-validation-features

#9712 Avoid SELinux + container volumes clashes
  testsuite/features/finishing/srv_smdba.feature
Labels: testing, ruby_rubocop

#9715 Write new pg_hba.conf directly in correct dir
  susemanager/bin/mgr-setup
  susemanager/susemanager.changes.oholecek.prevent_selinux_by_writing_to_tmp
Labels: susemanager_unittests

#9716 Adapt HTTP proxy test to UI change
  testsuite/features/step_definitions/setup_steps.rb
Labels: testing, ruby_rubocop, test-framework
